<section style="position: relative">
    <style>
        .baySorter .fa-angle-double-up {
            border-top: 2px solid #7b7b7b;
            line-height: 4px;
        }
        .baySorter .fa-angle-double-down {
            border-bottom: 2px solid #7b7b7b;
            line-height: 4px;
        }
    </style>
    <div class="panel panel-vo">
        <div class="panel-heading">
            <h4 class="panel-title">
                聚美飘窗
            </h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" novalidate name="ctrl.bayWindowForm">
                <div class="form-group">
                    <label class="control-label col-sm-2">Bay Window Type:</label>
                    <div class="col-sm-6" ng-switch="ctrl.bayWindow.fixed">
                        <div class="radio">
                            <label><input type="radio" name="bay-window-type" ng-model="ctrl.bayWindow.fixed"
                                          ng-value="true" ng-change="ctrl.switchPreview()"> 定位飘窗</label>
                            <span>&nbsp; </span>
                            <label><input type="radio" name="bay-window-type" ng-model="ctrl.bayWindow.fixed"
                                          ng-value="false" ng-change="ctrl.switchPreview()"> 链接飘窗</label>
                        </div>
                        <hr>
                        <!--定位飘窗-->
                        <ul class="list-group" ng-switch-when="true">
                            <li class="list-group-item" ng-repeat="item in ctrl.fixedWindows" ng-switch="$index">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <input type="checkbox" ng-model="item.enabled" ng-switch-default>
                                    </div>
                                    <div class="col-sm-11">
                                        <input class="form-control" name="header" ng-switch-when="0"
                                               ng-model="item.name" ng-change="ctrl.updateUrl(item, $index)" required>
                                        <span ng-switch-default>{{item.name}}</span>
                                    </div>
                                    <div class="col-sm-11 col-sm-offset-1" ng-switch-when="0">
                                        <vo-message target="ctrl.bayWindowForm.header"></vo-message>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!--链接飘窗-->
                        <table class="table table-hover table-hover-new" ng-switch-when="false">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Link</th>
                                <th>
                                    <button type="button" class="btn btn-xs btn-success"
                                            ng-click="ctrl.addLinkWindow()"><i class="fa fa-plus"></i></button>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in ctrl.linkWindows" ng-switch="$index">
                                <td>
                                    <input name="{{'name' + $index}}" type="text" required class="form-control"
                                           ng-model="item.name" ng-change="ctrl.updateUrl(item, $index)">
                                    <vo-message target="ctrl.bayWindowForm['name' + $index]"></vo-message>
                                </td>
                                <td>
                                    <input name="{{'link' + $index}}" type="text" required
                                           ng-pattern="/^http:\/\/hd.jumeiglobal.com\//"
                                           class="form-control" ng-model="item.link">
                                    <vo-message target="ctrl.bayWindowForm['link' + $index]" pattern="输入的地址必须以 http://hd.jumeiglobal.com/ 开头"></vo-message>
                                </td>
                                <td ng-switch-when="0"></td>
                                <td ng-switch-default class="btn-group baySorter">
                                    <button type="button" class="btn btn-xs btn-default" ng-disabled="$index === 1"
                                            ng-click="ctrl.moveLinkWindow($index, ctrl.moveKeys.upToTop)"><i
                                            class="fa fa-angle-double-up"></i></button>
                                    <button type="button" class="btn btn-xs btn-default" ng-disabled="$index === 1"
                                            ng-click="ctrl.moveLinkWindow($index, ctrl.moveKeys.up)"><i
                                            class="fa fa-angle-up"></i></button>
                                    <button type="button" class="btn btn-xs btn-default"
                                            ng-disabled="$index === ctrl.linkWindows.length - 1"
                                            ng-click="ctrl.moveLinkWindow($index, ctrl.moveKeys.down)"><i
                                            class="fa fa-angle-down"></i></button>
                                    <button type="button" class="btn btn-xs btn-default"
                                            ng-disabled="$index === ctrl.linkWindows.length - 1"
                                            ng-click="ctrl.moveLinkWindow($index, ctrl.moveKeys.downToLast)"><i
                                            class="fa fa-angle-double-down"></i></button>
                                    <button type="button" class="btn btn-xs btn-danger"
                                            ng-click="ctrl.removeLinkWindow(item, $index)"><i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4">
                        <div ng-repeat="item in ctrl.previewWindows">
                            <img ng-src="{{item.url}}" alt="{{item.name}}" ng-if="item.enabled">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <sticky top-fix="208" style="position: absolute; top: 35px; right: 10px;">
        <ul class="nav nav-pills nav-stacked" id="bay-window-btns">
            <li>
                <button type="button" class="btn btn-success" ng-click="ctrl.save()" ng-disabled="ctrl.spDataService.passDated">暂存</button>
            </li>
            <li>
                <button type="button" class="btn btn-primary" ng-click="ctrl.submit()" ng-disabled="ctrl.spDataService.passDated">提交</button>
            </li>
        </ul>
    </sticky>
</section>