<div class="wrapper-md" ng-init="initialize()" ng-controller="popupCtrl">

    <!--<div class="vo_accordion vo_attr">-->
        <!--<div class="form-horizontal form-inline">-->
            <!--&lt;!&ndash;<button class="btn btn-default" ng-click="clear()"><i class="fa fa-remove"></i>&nbsp;清除</button>&ndash;&gt;-->
            <!--<button class="btn btn-vo" ng-click="searchExport()"><i class="fa fa-search"></i>&nbsp;搜索</button>-->
        <!--</div>-->
    <!--</div>-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        &emsp;
                        <div class="btn-group">
                            <button type="button" class="btn btn-pop btn-default" ng-click="exportSearch()">
                                <i class="fa fa-refresh"></i>&nbsp;刷新
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive box box-body">
                <table class="table table-hover-new vo_table" style="table-layout: fixed;">
                    <thead>
                    <tr>
                        <th class="text-left">导出模板类型</th>
                        <th class="text-left">导出文件名</th>
                        <th class="text-center" style="width:100px">成功件数</th>
                        <th class="text-left">导出开始时间</th>
                        <th class="text-left">导出结束时间</th>
                        <th class="text-center">异常信息</th>
                        <th class="text-center">操作</th>
                    </tr>
                    </thead>
                    <tbody ng-if="vm.cmsBtJmPromotionExportTaskList.length">
                    <tr ng-repeat="model in vm.cmsBtJmPromotionExportTaskList">
                        <td class="text-left" ng-if="model.templateType==0">上新模板</td>
                        <td class="text-left" ng-if="model.templateType==1">价格修改</td>
                        <td class="text-left" ng-if="model.templateType==2">专场模板</td>
                        <td class="text-left">{{model.fileName}}</td>
                        <td class="text-center">{{model.successRows}}</td>
                        <td class="text-left">{{model.beginTime}}</td>
                        <td class="text-left">{{model.endTime}}</td>
                        <td class="text-center">{{model.errorMsg}}</td>
                        <!--<a ng-controller="showPopoverCtrl" popover-html="showInfo('{{model.errorMsg}}')"-->
                        <!--popover-placement="left" class="ng-scope">-->
                        <!--<div class="table_main">-->
                        <!--<ul>-->
                        <!--<li>{{getErrorMsg(model.errorMsg)}}</li>-->
                        <!--</ul>-->
                        <!--</div>-->
                        <!--</a>-->
                        <!--</td>-->
                        <td class="text-center">
                            <button title="下载" ng-disabled="!model.isExport" ng-click="downloadExportExcel(model.id);"
                                    class="btn btn-danger btn-xs"><i class="fa fa-download"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>