<section ng-init="ctrl.init()" style="position: relative">
    <form role="form" class="form-horizontal" name="ctrl.promotionForm" novalidate>
        <div id="jm-sp-edit-base" class="panel panel-vo">
            <div class="panel-heading">
                <h4 class="panel-title">快捷设置</h4>
            </div>
            <div class="panel-body">
                <div class="form-group row">
                    <label class="col-sm-2 control-label">使用原有套图</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-default">选择套图</button>
                    </div>
                    <div class="col-sm-5">
                        <label class="checkbox-inline c-checkbox">
                            <input type="checkbox" name="promotionScene_1" style="margin: 0" value="1">
                            <span class="fa fa-check"></span> 使用模板刷图
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-2">
                            <textarea type="text" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1 col-sm-offset-4">
                            <button class="btn btn-default">导入图片</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div id="jm-sp-edit-special" class="panel panel-vo">
            <div class="panel-heading">
                <h4 class="panel-title">APP端日常专场图片</h4>
            </div>
            <div class="panel-body">

            </div>
        </div>
        <div class="panel panel-vo">
            <div class="panel-heading">
                <h4 class="panel-title">普通资源位专场图片</h4>
            </div>
            <div class="panel-body">

            </div>
        </div>
        <div class="panel panel-vo">
            <div class="panel-heading">
                <h4 class="panel-title">主推专场图片</h4>
            </div>
            <div class="panel-body">

            </div>
        </div>
        <div class="panel panel-vo">
            <div class="panel-heading">
                <h4 class="panel-title">PC端日常专场图片</h4>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </form>
    <sticky top-fix="208" style="position: absolute; top: 35px; right: 10px;">
        <ul class="nav nav-pills nav-stacked">
            <li>
                <button type="button" class="btn btn-default" scroll-to="#jm-sp-edit-base,,-60">Home</button>
            </li>
            <li>
                <button type="button" class="btn btn-default" scroll-to="#jm-sp-edit-special,,-60">Profile</button>
            </li>
            <li>
                <button type="button" class="btn btn-default" scroll-to="#jm-sp-edit-gift,,-60">Messages</button>
            </li>
            <hr>
            <li>
                <button type="button" class="btn btn-success" ng-click="ctrl.save()">Save</button>
            </li>
            <li>
                <button type="button" class="btn btn-primary" ng-click="ctrl.save()">Submit</button>
            </li>
        </ul>
    </sticky>
</section>