<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- HTTP 1.1 -->
<meta http-equiv="pragma" content="no-cache">
<!-- HTTP 1.0 -->
<meta http-equiv="cache-control" content="no-cache">
<!-- Prevent caching at the proxy server -->
<meta http-equiv="expires" content="0">

<section ng-init="ctrlImages.init()" style="position: relative">
    <form role="form" class="form-horizontal" name="ctrlImages.imgChkForm" novalidate>
        <div id="jm-sp-images-base" class="panel panel-vo">
            <div class="panel-heading">
                <h4 class="panel-title">快捷设置</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-1 control-label">使用原有套图</label>

                    <div class="col-sm-1">
                        <button class="btn btn-default btn-pop" ng-click="ctrlImages.popImageSuit()"><i class="fa fa-folder-open"></i> 选择套图</button>
                    </div>
                    <div class="col-sm-5">
                        <label class="checkbox-inline c-checkbox">
                            <input type="checkbox" name="promotionScene_1" style="margin: 0" ng-model="ctrlImages.imgUpEntity['useTemplate']" ng-click="ctrlImages.canUseTemplate()">
                            <span class="fa fa-check"></span> 使用模板刷图
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-1 control-label">备注</label>
                        <div class="col-sm-3">
                            <textarea rows="5" class="form-control" style="resize: none" ng-model="ctrlImages.imgUpEntity['comment']"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-1 control-label"> 批量导入</label>
                        <div class="col-sm-1">
                            <button class="btn btn-default btn-pop" ng-click="ctrlImages.popImageBatchUpload()">
                                <i class="fa fa-share"></i> 导入图片
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="jm-sp-images-pcUsual" class="panel panel-vo">
            <div class="panel-heading">
                <h4 class="panel-title">PC端日常专场图片</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-1 control-label s-required">频道页大图(正式)</label>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-2">
                                <button class="btn btn-info btn-pop" ng-click="ctrlImages.popImageJmUpload('channelFrontCover')"><i class='fa fa-upload'></i>&nbsp;上传图片</button>
                            </div>
                            <div class="col-sm-9">
                                <span class="text-warnings">
                                    <i class="fa fa-bell-o"></i>&emsp;
                                    尺寸：1000 * 490 | 使用位置：PC端频道页专场入口图（如轻奢、母婴、服装、鞋包等）
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <input type="hidden" ng-model="ctrlImages.imgUrls['channelFrontCover']" required>
                            <div class="row">
                                <label class="col-sm-3 control-label text-left">图片地址：</label>
                                <label class="col-sm-9">
                                    <a ng-href="{{ctrlImages.imgUrls['channelFrontCover']}}{{ctrlImages.getImageTimeStamp()}}" target="_blank">{{ctrlImages.imgUrls['channelFrontCover']}}</a>
                                    <img ng-src="{{ctrlImages.imgUrls['channelFrontCover']}}{{ctrlImages.getImageTimeStamp()}}" class="img-thumbnail dropdown-menu_text" style="max-width: 500px;max-height: 250px;" alt="暂无图片">
                                </label>
                            </div>
                            <!---------------模板宽高固定    仅供用户查看确认   --------------->
                            <div class="row" ng-if="ctrlImages.imgUpEntity['channelFrontCover']">
                                <label class="col-sm-3 control-label text-left">图片地址：</label>
                                <label class="col-sm-9">
                                    <a-product-img name="ctrlImages.imgUpEntity['channelFrontCover']" target="_blank"
                                                   s7-options="wid=500&hei=245"></a-product-img>
                                    <img-by-name name="ctrlImages.imgUpEntity['channelFrontCover']"
                                                 s7-options="wid=500&hei=245&{{::ctrlImages.getImageTimeStamp()}}"
                                                 class="img-thumbnail dropdown-menu_text"
                                                 style="max-width: 500px;max-height: 250px;" alt="暂无图片">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label s-required">频道页中图（正式）</label>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-2">
                                <button class="btn btn-info btn-pop" ng-click="ctrlImages.popImageJmUpload('channelMiddleImage')"><i class='fa fa-upload'></i>&nbsp;上传图片</button>
                            </div>
                            <div class="col-sm-9">
                                <span class="text-warnings">
                                    <i class="fa fa-bell-o"></i>&emsp;
                                    尺寸：640 * 420 | 使用位置：服装、鞋包PC端频道页尊享热卖专场入口图（如服饰、鞋包）
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <input type="hidden" ng-model="ctrlImages.imgUrls['channelMiddleImage']" required>
                            <div class="row">
                                <label class="col-sm-3 control-label text-left">图片地址：</label>
                                <label class="col-sm-9">
                                    <a ng-href="{{ctrlImages.imgUrls['channelMiddleImage']}}{{ctrlImages.getImageTimeStamp()}}" target="_blank">{{ctrlImages.imgUrls['channelMiddleImage']}}</a>
                                    <img ng-src="{{ctrlImages.imgUrls['channelMiddleImage']}}{{ctrlImages.getImageTimeStamp()}}" class="img-thumbnail dropdown-menu_text" alt="暂无图片" style="max-width: 500px;max-height: 250px">
                                </label>
                            </div>
                            <!---------------模板宽高固定    仅供用户查看确认   --------------->
                            <div class="row" ng-if="ctrlImages.imgUpEntity['channelMiddleImage']">
                                <label class="col-sm-3 control-label text-left">图片地址：</label>
                                <label class="col-sm-9">
                                    <a-product-img name="ctrlImages.imgUpEntity['channelMiddleImage']"
                                                   s7-options="wid=320&hei=210"
                                                   target="_blank"></a-product-img>
                                    <br>
                                    <img-by-name name="ctrlImages.imgUpEntity['channelMiddleImage']"
                                                 s7-options="wid=320&hei=210&{{ctrlImages.getImageTimeStamp()}}"
                                                 class="img-thumbnail dropdown-menu_text"
                                                 style="max-width: 500px;max-height: 250px;" alt="暂无图片"></img-by-name>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label s-required">频道页小图（预热）</label>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-2">
                                <button class="btn btn-info btn-pop" ng-click="ctrlImages.popImageJmUpload('channelComingSoon')"><i class='fa fa-upload'></i>&nbsp;上传图片</button>
                            </div>
                            <div class="col-sm-9">
                                <span class="text-warnings">
                                    <i class="fa fa-bell-o"></i>&emsp;
                                    尺寸：310 * 200
                                    使用位置：频道页预告专场入口图（如轻奢、母婴、服饰、鞋包）
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <input type="hidden" ng-model="ctrlImages.imgUrls['channelComingSoon']" required>
                            <label class="col-sm-3 control-label text-left">图片地址：</label>
                            <label class="col-sm-9">
                                <a ng-href="{{ctrlImages.imgUrls['channelComingSoon']}}{{ctrlImages.getImageTimeStamp()}}" target="_blank">{{ctrlImages.imgUrls['channelComingSoon']}}</a>
                                <img ng-src="{{ctrlImages.imgUrls['channelComingSoon']}}{{ctrlImages.getImageTimeStamp()}}" class="img-thumbnail dropdown-menu_text" alt="暂无图片" style="max-width: 500px;max-height: 250px">
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">美妆品牌团入口图</label>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-2">
                                <button class="btn btn-info btn-pop" ng-click="ctrlImages.popImageJmUpload('pcEntrance')"><i class='fa fa-upload'></i>&nbsp;上传图片</button>
                            </div>
                            <div class="col-sm-9">
                                <span class="text-warnings">
                                    <i class="fa fa-bell-o"></i>&emsp;
                                    尺寸：600 * 320 |　原【pc端入口图】，使用位置：仅供PC端美妆品牌团调用，非此频道展示的专场可不传
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 control-label text-left">图片地址：</label>
                            <label class="col-sm-9">
                                <div class="row">
                                    <div class="row">
                                        <a ng-href="{{ctrlImages.imgUrls['pcEntrance']}}{{ctrlImages.getImageTimeStamp()}}" target="_blank">{{ctrlImages.imgUrls['pcEntrance']}}</a>
                                        <img ng-src="{{ctrlImages.imgUrls['pcEntrance']}}{{ctrlImages.getImageTimeStamp()}}" class="img-thumbnail dropdown-menu_text" alt="暂无图片" style="max-width: 500px;max-height: 250px">
                                    </div>
                                    <!---------------模板宽高固定    仅供用户查看确认   --------------->
                                    <div class="row" ng-if="ctrlImages.imgUpEntity['pcEntrance']">
                                        <a-product-img name="ctrlImages.imgUpEntity['pcEntrance']"
                                                       s7-options="wid=450&hei=240"
                                                       target="_blank"></a-product-img>
                                        <img-by-name name="ctrlImages.imgUpEntity['pcEntrance']"
                                                     s7-options="wid=450&hei=240&{{ctrlImages.getImageTimeStamp()}}"
                                                     class="img-thumbnail dropdown-menu_text"
                                                     alt="暂无图片" style="max-width: 500px;max-height: 250px"></img-by-name>
                                    </div>
                                    <div class="row" ng-if="ctrlImages.imgUpEntity['pcEntrance']">
                                        <a-product-img name="ctrlImages.imgUpEntity['pcEntrance']"
                                                       s7-options="wid=345&hei=184"
                                                       target="_blank"></a-product-img>
                                        <img-by-name name="ctrlImages.imgUpEntity['pcEntrance']"
                                                     s7-options="wid=345&hei=184&{{ctrlImages.getImageTimeStamp()}}"
                                                     class="img-thumbnail dropdown-menu_text" alt="暂无图片" style="max-width: 500px;max-height: 250px"></img-by-name>
                                    </div>
                                </div>
                            </label>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label s-required">手机焦点图</label>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-2">
                                <button class="btn btn-info btn-pop" ng-click="ctrlImages.popImageJmUpload('mobileFocus')"><i class='fa fa-upload'></i>&nbsp;上传图片</button>
                            </div>
                            <div class="col-sm-9">
                                <span class="text-warnings">
                                    <i class="fa fa-bell-o"></i>&emsp;
                                    尺寸：1520 * 622
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <input type="hidden" ng-model="ctrlImages.imgUrls['mobileFocus']" required>
                            <label class="col-sm-3 control-label text-left">图片地址：</label>
                            <label class="col-sm-9">
                                <a ng-href="{{ctrlImages.imgUrls['mobileFocus']}}{{ctrlImages.getImageTimeStamp()}}" target="_blank">{{ctrlImages.imgUrls['mobileFocus']}}</a>
                                <img ng-src="{{ctrlImages.imgUrls['mobileFocus']}}{{ctrlImages.getImageTimeStamp()}}" class="img-thumbnail dropdown-menu_text" alt="暂无图片" style="max-width: 500px;max-height: 250px">
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label s-required">PC端专场头图</label>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-2">
                                <button class="btn btn-info btn-pop" ng-click="ctrlImages.popImageJmUpload('pcHeader')"><i class='fa fa-upload'></i>&nbsp;上传图片</button>
                            </div>
                            <!--                            <div class="col-sm-9">
                                                            <span class="text-warnings">
                                                                <i class="fa fa-bell-o"></i>&emsp;
                                                                尺寸：1520 * 622
                                                            </span>
                                                        </div>-->
                        </div>
                        <div class="row">
                            <input type="hidden" ng-model="ctrlImages.imgUrls['pcHeader']" required>
                            <label class="col-sm-3 control-label text-left">图片地址：</label>
                            <label class="col-sm-9">
                                <a ng-href="{{ctrlImages.imgUrls['pcHeader']}}{{ctrlImages.getImageTimeStamp()}}" target="_blank">{{ctrlImages.imgUrls['pcHeader']}}</a>
                                <img ng-src="{{ctrlImages.imgUrls['pcHeader']}}{{ctrlImages.getImageTimeStamp()}}" class="img-thumbnail dropdown-menu_text" alt="暂无图片" style="max-width: 500px;max-height: 250px">
                            </label>
                        </div>
                        <div class="row">
                            <label class="control-label"> 以上为缩略预览图，实际尺寸（宽 * 高）1920*881 </label>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div id="jm-sp-images-appUsual" class="panel panel-vo">
            <div class="panel-heading">
                <h4 class="panel-title">APP端日常专场图片</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-1 control-label s-required">频道页入口图（样式1）</label>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-2">
                                <button class="btn btn-info btn-pop" ng-click="ctrlImages.popImageJmUpload('appEntrance')"><i class='fa fa-upload'></i>&nbsp;上传图片</button>
                            </div>
                            <div class="col-sm-9">
                                <span class="text-warnings">
                                    <i class="fa fa-bell-o"></i>&emsp;
                                    尺寸：宽度不小于1024px，不大于2048px，且宽度比高度为2:1(建议2048宽*1024高)
                                    使用位置：app频道页专场入口图(目前使用频道如极速免税店、母婴、食品、服饰、鞋包等)
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <input type="hidden" ng-model="ctrlImages.imgUrls['appEntrance']" required>
                            <label class="col-sm-3 control-label text-left">图片地址：</label>
                            <label class="col-sm-9">
                                <a ng-href="{{ctrlImages.imgUrls['appEntrance']}}{{ctrlImages.getImageTimeStamp()}}" target="_blank">{{ctrlImages.imgUrls['appEntrance']}}</a>
                                <img ng-src="{{ctrlImages.imgUrls['appEntrance']}}{{ctrlImages.getImageTimeStamp()}}" class="img-thumbnail dropdown-menu_text" alt="暂无图片" style="max-width: 500px;max-height: 250px">
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label s-required">频道页入口图（样式2）</label>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-2">
                                <button class="btn btn-info btn-pop" ng-click="ctrlImages.popImageJmUpload('appChannelEntrance')"><i class='fa fa-upload'></i>&nbsp;上传图片</button>
                            </div>
                            <div class="col-sm-9">
                                <span class="text-warnings">
                                    <i class="fa fa-bell-o"></i>&emsp;
                                    尺寸：2048px*847px 或者 1024px*424
                                    使用位置：app频道页专场入口图（目前使用在首页）<a href="http://www.baidu.com">查看入口图位置</a>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <input type="hidden" ng-model="ctrlImages.imgUrls['appChannelEntrance']" required>
                            <label class="col-sm-3 control-label text-left">图片地址：</label>
                            <label class="col-sm-9">
                                <a ng-href="{{ctrlImages.imgUrls['appChannelEntrance']}}{{ctrlImages.getImageTimeStamp()}}" target="_blank">{{ctrlImages.imgUrls['appChannelEntrance']}}</a>
                                <img ng-src="{{ctrlImages.imgUrls['appChannelEntrance']}}{{ctrlImages.getImageTimeStamp()}}" class="img-thumbnail dropdown-menu_text" alt="暂无图片" style="max-width: 500px;max-height: 250px">
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">分享图片</label>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-2">
                                <button class="btn btn-info btn-pop" ng-click="ctrlImages.popImageJmUpload('wxShare')"><i class='fa fa-upload'></i>&nbsp;上传图片</button>
                            </div>
                            <div class="col-sm-9">
                                <span class="text-warnings">
                                    <i class="fa fa-bell-o"></i>&emsp;
                                    尺寸：300 * 300
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 control-label text-left">图片地址：</label>
                            <label class="col-sm-9">
                                <span class="row">
                                    <a ng-href="{{ctrlImages.imgUrls['wxShare']}}{{ctrlImages.getImageTimeStamp()}}" target="_blank">{{ctrlImages.imgUrls['wxShare']}}</a>
                                    <img ng-src="{{ctrlImages.imgUrls['wxShare']}}{{ctrlImages.getImageTimeStamp()}}" class="img-thumbnail dropdown-menu_text" alt="暂无图片" style="max-width: 500px;max-height: 250px">
                                </span>
                                <label class="control-label"> 以上为缩略预览图，实际尺寸（宽 * 高）300*300 </label>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label s-required">APP端专场头图</label>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-2">
                                <button class="btn btn-info btn-pop" ng-click="ctrlImages.popImageJmUpload('appHeader')"><i class='fa fa-upload'></i>&nbsp;上传图片</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <a ng-href="{{ctrlImages.imgUrls['appHeader']}}{{ctrlImages.getImageTimeStamp()}}" target="_blank">打开热区工具</a>
                            </div>
                        </div>
                        <div class="row">
                            <input type="hidden" ng-model="ctrlImages.imgUrls['appHeader']" required>
                            <label class="col-sm-3 control-label text-left">图片地址：</label>
                            <label class="col-sm-9">
                                <div class="row">
                                    <a ng-href="{{ctrlImages.imgUrls['appHeader']}}{{ctrlImages.getImageTimeStamp()}}" target="_blank">{{ctrlImages.imgUrls['appHeader']}}</a>
                                    <img ng-src="{{ctrlImages.imgUrls['appHeader']}}{{ctrlImages.getImageTimeStamp()}}" class="img-thumbnail dropdown-menu_text" alt="暂无图片" style="max-width: 500px;max-height: 250px">
                                </div>
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="jm-sp-images-resource" class="panel panel-vo">
            <div class="panel-heading">
                <h4 class="panel-title">普通资源位专场图片</h4>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label class="col-sm-1 control-label">APP弧形轮播</label>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-2">
                                <button class="btn btn-info btn-pop" ng-click="ctrlImages.popImageJmUpload('appArcCarousel')"><i class='fa fa-upload'></i>&nbsp;上传图片</button>
                            </div>
                            <div class="col-sm-9">
                               <span class="text-warnings">
                                   尺寸：2048 * 1142<br>
                                   使用位置：app频道页顶部推广轮播图（目前使用频道如极速免税店、母婴、轻奢、食品、服饰、鞋包等）
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-9">
                                <div class="row">
                                    <img ng-src="{{ctrlImages.imgUrls['appArcCarousel']}}{{ctrlImages.getImageTimeStamp()}}" class="img-thumbnail dropdown-menu_text" alt="暂无图片" style="max-width: 500px;max-height: 250px">
                                </div>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">pc轮播</label>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-2">
                                <button class="btn btn-info btn-pop" ng-click="ctrlImages.popImageJmUpload('pcCarousel')"><i class='fa fa-upload'></i>&nbsp;上传图片</button>
                            </div>
                            <div class="col-sm-9">
                               <span class="text-warnings">
                                   尺寸：1920 * 350<br>
                                   使用位置：pc频道页顶部推广轮播图（目前使用频道如极速免税店、母婴、轻奢、食品、服饰、鞋包等）
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-9">
                                <div class="row">
                                    <img ng-src="{{ctrlImages.imgUrls['pcCarousel']}}{{ctrlImages.getImageTimeStamp()}}" class="img-thumbnail dropdown-menu_text" alt="暂无图片" style="max-width: 500px;max-height: 250px">
                                </div>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">pc一排2个</label>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-2">
                                <button class="btn btn-info btn-pop" ng-click="ctrlImages.popImageJmUpload('pcRow1Cell2')"><i class='fa fa-upload'></i>&nbsp;上传图片</button>
                            </div>
                            <div class="col-sm-9">
                               <span class="text-warnings">
                                   尺寸：472 * 170<br>
                                   使用位置：pc频道页顶部推广轮播图下方（目前使用在轻奢频道）
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-9">
                                <div class="row">
                                    <img ng-src="{{ctrlImages.imgUrls['pcRow1Cell2']}}{{ctrlImages.getImageTimeStamp()}}" class="img-thumbnail dropdown-menu_text" alt="暂无图片" style="max-width: 500px;max-height: 250px">
                                </div>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">app大卡片位右</label>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-2">
                                <button class="btn btn-info btn-pop" ng-click="ctrlImages.popImageJmUpload('appRightBigCard')"><i class='fa fa-upload'></i>&nbsp;上传图片</button>
                            </div>
                            <div class="col-sm-9">
                               <span class="text-warnings">
                                   尺寸：2048 * 1042<br>
                                   使用位置：app频道页中部资源位推广大图（目前使用在轻奢频道）
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-9">
                                <div class="row">
                                    <img ng-src="{{ctrlImages.imgUrls['appRightBigCard']}}{{ctrlImages.getImageTimeStamp()}}" class="img-thumbnail dropdown-menu_text" alt="暂无图片" style="max-width: 500px;max-height: 250px">
                                </div>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">app大卡片位左</label>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-2">
                                <button class="btn btn-info btn-pop" ng-click="ctrlImages.popImageJmUpload('appLeftBigCard')"><i class='fa fa-upload'></i>&nbsp;上传图片</button>
                            </div>
                            <div class="col-sm-9">
                               <span class="text-warnings">
                                   尺寸：2048 * 1042<br>
                                   使用位置：app频道页中部资源位推广大图（目前使用在轻奢频道）
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-9">
                                <div class="row">
                                    <img ng-src="{{ctrlImages.imgUrls['appLeftBigCard']}}{{ctrlImages.getImageTimeStamp()}}" class="img-thumbnail dropdown-menu_text" alt="暂无图片"  style="max-width: 500px;max-height: 250px">
                                </div>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">app小卡片位</label>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-2">
                                <button class="btn btn-info btn-pop" ng-click="ctrlImages.popImageJmUpload('appSmallCard')"><i class='fa fa-upload'></i>&nbsp;上传图片</button>
                            </div>
                            <div class="col-sm-9">
                               <span class="text-warnings">
                                   尺寸：2048 * 1042<br>
                                   使用位置：app频道页中部资源位推广小图（目前使用在轻奢频道）
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-9">
                                <div class="row">
                                    <img ng-src="{{ctrlImages.imgUrls['appSmallCard']}}{{ctrlImages.getImageTimeStamp()}}" class="img-thumbnail dropdown-menu_text" alt="暂无图片" style="max-width: 500px;max-height: 250px">
                                </div>
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="jm-sp-images-push" class="panel panel-vo">
            <div class="panel-heading">
                <h4 class="panel-title">主推专场图片</h4>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label class="col-sm-1 control-label">PC首页预热</label>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-2">
                                <button class="btn btn-info btn-pop" ng-click="ctrlImages.popImageJmUpload('pcIndexPreheat')"><i class='fa fa-upload'></i>&nbsp;上传图片</button>
                            </div>
                            <div class="col-sm-9">
                               <span class="text-warnings">
                                   尺寸：535 * 212<br>
                                   使用位置：pc端预热图（目前使用在首页）
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-9">
                                <div class="row">
                                    <img ng-src="{{ctrlImages.imgUrls['pcIndexPreheat']}}{{ctrlImages.getImageTimeStamp()}}" class="img-thumbnail dropdown-menu_text" alt="暂无图片" style="max-width: 500px;max-height: 250px">
                                </div>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">PC首页正式</label>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-2">
                                <button class="btn btn-info btn-pop" ng-click="ctrlImages.popImageJmUpload('pcIndex')"><i class='fa fa-upload'></i>&nbsp;上传图片</button>
                            </div>
                            <div class="col-sm-9">
                               <span class="text-warnings">
                                   尺寸：535 * 212<br>
                                   使用位置：pc端正式图（目前使用在首页）
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-9">
                                <div class="row">
                                    <img ng-src="{{ctrlImages.imgUrls['pcIndex']}}{{ctrlImages.getImageTimeStamp()}}" class="img-thumbnail dropdown-menu_text" alt="暂无图片" style="max-width: 500px;max-height: 250px">
                                </div>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">ipad轮播</label>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-2">
                                <button class="btn btn-info btn-pop" ng-click="ctrlImages.popImageJmUpload('padCarousel')"><i class='fa fa-upload'></i>&nbsp;上传图片</button>
                            </div>
                            <div class="col-sm-9">
                               <span class="text-warnings">
                                   尺寸：2048 * 512<br>
                                   使用位置：ipad端顶部推广轮播图（目前使用在首页）
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-9">
                                <div class="row">
                                    <img ng-src="{{ctrlImages.imgUrls['padCarousel']}}{{ctrlImages.getImageTimeStamp()}}" class="img-thumbnail dropdown-menu_text" alt="暂无图片" style="max-width: 500px;max-height: 250px">
                                </div>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">ipad卡片位模板预热</label>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-2">
                                <button class="btn btn-info btn-pop" ng-click="ctrlImages.popImageJmUpload('padPreheat')"><i class='fa fa-upload'></i>&nbsp;上传图片</button>
                            </div>
                            <div class="col-sm-9">
                               <span class="text-warnings">
                                   尺寸：732 * 244<br>
                                   使用位置：ipad端资源位预热卡片图（目前使用在首页）
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-9">
                                <div class="row">
                                    <img ng-src="{{ctrlImages.imgUrls['padPreheat']}}{{ctrlImages.getImageTimeStamp()}}" class="img-thumbnail dropdown-menu_text"  alt="暂无图片" style="max-width: 500px;max-height: 250px">
                                </div>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">ipad卡片位模板正式</label>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-2">
                                <button class="btn btn-info btn-pop" ng-click="ctrlImages.popImageJmUpload('padCard')"><i class='fa fa-upload'></i>&nbsp;上传图片</button>
                            </div>
                            <div class="col-sm-9">
                               <span class="text-warnings">
                                   尺寸：732 * 244<br>
                                   使用位置：ipad端资源位正式卡片图（目前使用在首页）
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-9">
                                <div class="row">
                                    <img ng-src="{{ctrlImages.imgUrls['padCard']}}{{ctrlImages.getImageTimeStamp()}}" class="img-thumbnail dropdown-menu_text" alt="暂无图片"  style="max-width: 500px;max-height: 250px">
                                </div>
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </form>
    <sticky top-fix="208" style="position: absolute; top: 35px; right: 10px;">
        <ul class="nav nav-pills nav-stacked">
            <li>
                <button type="button" class="btn btn-default" scroll-to="#jm-sp-images-pcUsual,,-60">PC端日常专场图片</button>
            </li>
            <li>
                <button type="button" class="btn btn-default" scroll-to="#jm-sp-images-appUsual,,-60">APP端日常专场图片</button>
            </li>
            <li>
                <button type="button" class="btn btn-default" scroll-to="#jm-sp-images-resource,,-60">普通资源位专场图片</button>
            </li>
            <li>
                <button type="button" class="btn btn-default" scroll-to="#jm-sp-images-push,,-60">主推专场图片</button>
            </li>
            <hr>
            <li>
                <button type="button" class="btn btn-info btn-pop"
                        ng-click="ctrlImages.refreshImg()"
                        ng-disabled="ctrlImages.spDataService.passDated"><i class="fa fa-refresh"></i>&nbsp;&nbsp;刷新</button>
            </li>
            <li>
                <button type="button" class="btn btn-success btn-pop"
                        ng-click="ctrlImages.save(0)"
                        ng-disabled="ctrlImages.spDataService.passDated"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;&nbsp;暂存</button>
            </li>
            <li>
                <button type="button" class="btn btn-primary btn-pop"
                        ng-click="ctrlImages.save(1)"
                        ng-disabled="ctrlImages.spDataService.passDated"><i class="fa fa-send"></i>&nbsp;&nbsp;提交</button>
            </li>
        </ul>
    </sticky>
</section>