<section style="position: relative">
    <div ng-init="initialize()" ng-controller="popupCtrl">
        <div class="vo_accordion vo_attr">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="container-fluid m-t-xs m-b-xs">
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">商品名称</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="searchInfo.productNameCn"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" translate="TXT_JOIN_JM_CODE_SKU_SEARCH"></label>
                                        <div class="col-sm-8">
                                            <textarea type="text" rows="4" class="form-control no-resize" ng-model="searchInfo.code"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group"><!-- 查询库存状态 -->
                                        <label class="col-sm-3 control-label" translate="TXT_INVENTORY"></label>
                                        <div class="col-sm-8" style="padding-left:0px">
                                            <div class="col-sm-5">
                                                <select class="form-control m-r-xs" style="margin-left:4px" ng-model="searchInfo.compareType">
                                                    <option value="">请选择...</option>
                                                    <option value=">">大于</option>
                                                    <option value="=">等于</option>
                                                    <option value="&lt;">小于</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-5" style="margin-left:1px">
                                                <input type="number" class="form-control" ng-model="searchInfo.stockQty" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" onpaste="return false" maxlength="9">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-sm-3 text-right">
                                            <button class="btn btn-pop btn-default" ng-click="platformCategoryMapping(popupNewCategory)">
                                                <i class="fa fa-arrow-circle-right"></i>&nbsp;聚美类目
                                            </button>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="searchInfo.pCatPath" ng-readonly="true">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">颜色</label>

                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="searchInfo.colorEn">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">品牌</label>
                                        <div class="col-sm-8">
                                            <select search-contains="true" multiple chosen  class="form-control" ng-model="searchInfo.listBrandName"
                                                    ng-options="brand.value as brand.name for brand in vm.brandList">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">折扣</label>

                                        <div class="col-sm-8 form-inline">
                                            <div class="input-group col-sm-4">
                                                <input type="number" value="" style="ime-mode:disabled;" onpaste="return false;" onkeypress="if((event.keyCode<48||event.keyCode>57) && event.keyCode!=46){return false;}" class="form-control" ng-model="searchInfo.beginDiscount"
                                                       placeholder="from"></div>
                                            &nbsp;~&nbsp;
                                            <div class="input-group col-sm-4">
                                                <input type="number" value="" style="ime-mode:disabled;" onpaste="return false;" onkeypress="if((event.keyCode<48||event.keyCode>57) && event.keyCode!=46){return false;}" class="form-control" ng-model="searchInfo.endDiscount"
                                                       placeholder="to"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">价格</label>
                                        <div class="col-sm-8" style="padding-left:0px">
                                            <select class="form-control" ng-model="searchInfo.priceType">
                                                <option value="" translate="TXT_SELECT_NO_VALUE"></option>
                                                <option value="dealPrice">当前活动售价</option>
                                                <option value="salePrice">中国最终售价</option>
                                                <option value="retailPrice">中国指导售价</option>
                                                <option value="msrpRmb">中国官方售价</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-8 form-inline">
                                            <div class="input-group col-sm-4">
                                                <input type="text" class="form-control" ng-model="searchInfo.beginPrice" placeholder="from"/>
                                            </div>
                                            &nbsp;~&nbsp;
                                            <div class="input-group col-sm-4">
                                                <input type="text" class="form-control" ng-model="searchInfo.endPrice" placeholder="to"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" translate="TXT_PROMOTION_PRODUCT_STATUS"></label>
                                        <div class="col-sm-8">
                                            <label class="checkbox-inline c-checkbox">
                                                <input type="checkbox" value="-1" ng-model="searchInfo.synchStatus_1" style="margin:0" />
                                                <span class="fa fa-check"></span>上新未完成
                                            </label>
                                            <label class="checkbox-inline c-checkbox">
                                                <input type="checkbox" value="0" ng-model="searchInfo.synchStatus0" style="margin:0">
                                                <span class="fa fa-check"></span> 未上传
                                            </label>
                                            <label class="checkbox-inline c-checkbox">
                                                <input type="checkbox" value="1" ng-model="searchInfo.allStatus1" style="margin:0">
                                                <span class="fa fa-check"></span> 处理中
                                            </label>
                                            <label class="checkbox-inline c-checkbox">
                                                <input type="checkbox" value="2" ng-model="searchInfo.synchStatus2" style="margin:0">
                                                <span class="fa fa-check"></span> 已上传
                                            </label>
                                            <label class="checkbox-inline c-checkbox">
                                                <input type="checkbox" value="3" ng-model="searchInfo.allErrorStatus" style="margin:0">
                                                <span class="fa fa-check"></span> 上传失败
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Promotion Tag</label>
                                        <div class="col-sm-8">
                                            <select multiple chosen class="form-control" width="'100%'" ng-model="searchInfo.tagIdList"
                                                    ng-options="m.id as m.tagName for m in vm.tagList">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">产品变更标签</label>
                                        <div class="col-sm-8">
                                            <select width="'100%'"  class="form-control" ng-model="searchInfo.updateStatus">
                                                <option value="" translate="TXT_SELECT_NO_VALUE"></option>
                                                <option value="1">有变更</option>
                                                <option value="0">无变更</option>
                                                <option value="2">已变更</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 text-center m-b-xs" >
                                <div class="form-horizontal form-inline">
                                    <button class="btn btn-default" ng-click="clear()"><i class="fa fa-remove"></i>&nbsp;清除</button>
                                    <button class="btn btn-vo" ng-click="search()"><i class="fa fa-search"></i>&nbsp;搜索</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-right" style="padding-right: 80px;padding-bottom: 5px;">
            <label class="checkbox-inline c-checkbox" style="margin-top:12px">
                <input type="checkbox"  ng-model="vm._selall">
                <span class="fa fa-check" style="vertical-align: middle;"></span>&nbsp;检索结果全量&nbsp;
            </label>
            <button class="btn btn-default" ng-click="openJmPromotionProductImportWin()" ng-hide="vm.isEnd"><i class="fa fa-reply-all"></i>&nbsp;导入
            </button>
            <div class="btn-group dropdown" uib-dropdown="">
                <button ng-disabled="!vm.modelList.length" type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle=""
                        aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-arrow-circle-right"></i>&nbsp;全量操作&nbsp;<span class="caret"></span>
                </button>
                <ul uib-dropdown-menu="" class="ng-scope dropdown-menu" style="padding-left: 5px;">
                    <li><a href="" ng-click="deleteAllProduct();" ng-if="!vm.isBegin&&!vm.isEnd">全量清空</a></li>
                    <li><a href="" ng-click="copyDealAll()" ng-if="!vm.isBegin&&!vm.isEnd&&vm.isUpdateJM">全量上传</a></li>
                    <li><a href="" ng-click="synchAllMallPrice()"
                           ng-if="!vm.isBegin&&!vm.isEnd&&vm.isUpdateJM && true == vm.spDataService.editModel.model.promotionScene[2]">全量同步商城价格</a>
                    </li>
                    <li><a href="" ng-click="synchAllPrice()"
                           ng-if="!vm.isBegin&&!vm.isEnd&&vm.isUpdateJM && true == vm.spDataService.editModel.model.promotionScene[1]">全量同步活动价格</a>
                    </li>
                    <li><a href="" ng-click="openDealExtensionWin()" ng-hide="!vm.isUpdateJM&&!vm.isEnd">全量Deal延期</a></li>
                </ul>
            </div>
            <div class="btn-group dropdown" uib-dropdown="" style="padding-left: 5px;">
                <button ng-disabled="!vm.modelList.length" type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle=""
                        aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-arrow-circle-right"></i>&nbsp;批量操作&nbsp;<span class="caret"></span>
                </button>
                <ul uib-dropdown-menu="" class="ng-scope dropdown-menu">
                    <li><a href="" ng-click="batchDeleteProduct()">批量清空</a></li>
                    <li><a href="" ng-click="batchCopyDeal()" ng-if="!vm.isEnd && vm.isUpdateJM">批量上传</a></li>
                    <li><a href="" ng-click="batchSynchMallPrice()"
                           ng-if="!vm.isEnd && vm.isUpdateJM && true == vm.spDataService.editModel.model.promotionScene[2]">批量同步商城价格</a></li>
                    <li><a href="" ng-click="batchSynchPrice()"
                           ng-if="!vm.isEnd && vm.isUpdateJM && true == vm.spDataService.editModel.model.promotionScene[1]">批量同步活动价格</a></li>
                    <li><a href="" ng-click="openPriceModifyWin()" ng-if="!vm.isEnd">批量变更价格</a></li>
                    <li><a href="" ng-click="openTagModifyWin()" ng-if="!vm.isEnd && vm.isUpdateJM">批量修改Tag</a></li>
                </ul>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover-new table-hover" style="table-layout: fixed; width: 1850px">
                <thead>
                <tr>
                    <th class="mfb-xt3 text-left">
                        <label class="checkbox-inline c-checkbox">
                            <input type="checkbox" ng-click="selectAll($event)" ng-true-value="true" ng-false-value="false"/>
                            <span class="fa fa-check"></span></label>
                    </th>
                    <th class="text-left">Product Image</th>
                    <th class="text-left">商品代码</th>
                    <th class="text-left">聚美商品名称</th>
                    <th class="text-left">Tag Name</th>
                    <th class="text-left">Color</th>
                    <th class="text-right" style="width: 170px">Price</th>
                    <th class="text-right" style="width: 150px">聚美价格</th>
                    <th class="text-left">聚美MallId</th>
                    <th class="text-left">聚美Hash ID</th>
                    <th class="text-center">折扣
                        <button class="opacityBtn"
                                ng-click="columnOrder('discount')"><i class="fa fa-{{getArrowName('discount')}}"></i></button>
                    </th>
                    <th class="text-center">SKU数</th>
                    <th class="text-left">错误消息</th>
                    <th class="text-center">库存数
                        <button class="opacityBtn"
                                ng-click="columnOrder('quantity')"><i class="fa fa-{{getArrowName('quantity')}}"></i></button>
                    </th>
                    <th class="text-left">备注</th>
                    <th class="text-left">变更情况</th>
                    <th class="text-left">Status</th>
                    <th class="text-center" style="width: 100px;">Action</th>
                </tr>
                </thead>
                <tbody ng-if="vm.modelList.length">
                <tr ng-repeat="model in vm.modelList">
                    <td class="mfb-xt3 text-left"><label class="checkbox-inline c-checkbox"><input type="checkbox"
                                                                                                   ng-true-value="true"
                                                                                                   ng-false-value="false"
                                                                                                   ng-model="model.isChecked"><span
                            class="fa fa-check"></span></label></td>
                    <td><img image="{{model.image1}}" class="thumb-sm-search pull-left m-r"/></td>
                    <td class="text-left yellowLink"><a href="javascript:void(0)" ng-click="openJmProductDetailWin(model)">
                        {{model.productCode}} </a>
                    </td>
                    <td class="text-left yellowLink"><a href="javascript:void(0)" ng-click="openProductDetailWin(model)">
                        {{model.productLongName}} </a></td>
                    <td>
                        <select multiple chosen class="form-control" width="'100%'" ng-change="changeSelectTag(model,{{model.tagNameList}})"
                                ng-model="model.tagNameList"
                                ng-options="m.tagName as m.tagName for m in vm.tagList">
                        </select>
                    </td>

                    <td class="text-left">
                        <div class="table_main">
                            <ul>
                                <li>{{model.colorEn}}</li>
                                <li>{{model.attribute}}</li>
                            </ul>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="table_main">
                            <ul>
                                <li>海外官网价格:{{getMinMaxPrice(model.minMsrpUsd,model.maxMsrpUsd)}}</li>
                                <li>中国建议售价:{{getMinMaxPrice(model.minMsrpRmb,model.maxMsrpRmb)}}</li>
                                <li>中国指导售价:{{getMinMaxPrice(model.minRetailPrice,model.maxRetailPrice)}}</li>
                                <li>中国最终售价:{{getMinMaxPrice(model.minSalePrice,model.maxSalePrice)}}</li>
                            </ul>
                        </div>
                    </td>
                    <td class="text-right" style="width: 130px;">
                        <div class="table_main">
                            <ul>
                                <li>市场价:{{getMarketPrice(model)}}</li>
                                <li>团购价:{{getDealPrice(model)}}</li>
                            </ul>
                        </div>
                    </td>
                    <td class="text-left yellowLink" style="word-break: break-all">
                        <a ng-if="model.jumeiMallId" ng-href="{{vm.productUrl}}{{model.jumeiMallId}}.html" target="_blank"
                           ng-bind="model.jumeiMallId"></a>
                    </td>
                    <td class="text-left yellowLink" style="word-break: break-all">
                        <a ng-if="model.jmHashId" ng-href="{{vm.productUrl}}{{model.jmHashId}}.html" target="_blank" ng-bind="model.jmHashId"></a>
                    </td>
                    <td class="text-center">{{model.discount == 0 || model.discount == undefined ? '0折' : (model.discount*10).toFixed(2) + '折'}}</td>
                    <td class="text-center">
                        {{model.skuCount}}
                    </td>
                    <td>
                        <a ng-controller="showPopoverCtrl" popover-html="showInfo('{{model.errorMsg}}')"
                           popover-placement="left" class="ng-scope">
                            <div class="table_main">
                                <ul>
                                    <li>{{getErrorMsg(model.errorMsg)}}</li>
                                </ul>
                            </div>
                        </a>
                    </td>
                    <td class="text-center">{{model.quantity}}</td>
                    <td><textarea ng-model="model.remark" ng-blur="updateRemark(model)" class="form-control"></textarea></td>
                    <td>{{getUpdateStatus(model)}}</td>
                    <td>{{getStatus(model)}}</td>
                    <td class="text-center">
                        <button title="重刷" class="btn btn-success btn-xs" ng-click="updateJM(model.id)"><i class="fa fa-refresh"></i>
                        </button>
                        <button title="编辑" class="btn btn-success btn-xs"
                                ng-click="openJmProductDetailWin(model)">
                            <i class="fa fa-pencil"></i></button>
                        <button title="删除" class="btn btn-danger btn-xs" ng-click="del(model)"><i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div if-no-rows="vm.modelList.length"></div>
        </div>
        <vpagination config="dataPageOption"></vpagination>
    </div>

    <sticky top-fix="208" style="position: absolute; top: 300px; left: 90%; z-index:9" drag>
        <ul class="nav nav-pills nav-stacked" style="min-width: inherit;">
            <li>
                <div class="list-group" style="max-width: 175px">
                    <a href="javascript:void(0)" class="list-group-item active">
                        商品概述
                    </a>
                    <a href="javascript:void(0)" class="list-group-item">有库存商品数：{{parentModel.prodSum}}/{{vm.productCount}}</a>
                    <a href="javascript:void(0)" class="list-group-item">活动总库存：{{parentModel.quantitySum}}</a>
                    <a href="javascript:void(0)" class="list-group-item">变更后未同步商品数：{{vm.changeCount}}</a>
                </div>
            </li>
            <hr>
            <li>
                <button type="button" class="btn btn-success" style="width:90px"
                        ng-click="refreshPrice()"
                        ng-disabled="vm.passDated">参考价刷新</button>
            </li>
            <li>
                <button type="button" class="btn btn-primary" style="width:90px" ng-click="save()" ng-disabled="ctrlEdit.promotionForm.$invalid || vm.passDated">提交</button>
            </li>
        </ul>
    </sticky>

</section>
