<section>
    <div class="panel panel-vo">
        <div class="panel-heading">
            <h4 class="panel-title">活动基本信息</h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" novalidate>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Promotion Platform</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" readonly="readonly" value="聚美国际">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">Promotion Name</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">Promotion Scene</label>
                    <div class="col-sm-5">
                        <label><input type="checkbox"> 专场特卖</label>
                        <span>&nbsp;&nbsp;</span>
                        <label><input type="checkbox"> 商城铺货</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">Promotion Type</label>
                    <div class="col-sm-5">
                        <select class="form-control">
                            <option>请选择</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">Main Brand</label>
                    <div class="col-sm-5">
                        <select class="form-control">
                            <option>请选择</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">Preparation Deadline</label>
                    <div class="col-sm-5">
                        <input type="datetime-local" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">Up Date</label>
                    <div class="col-sm-5">
                        <input type="datetime-local" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">Sales Date</label>
                    <div class="col-sm-5 form-inline">
                        <input type="datetime-local" class="form-control"> ~ <input type="datetime-local" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">JM Activity ID</label>
                    <div class="col-sm-5 form-inline">
                        PC <input type="number" maxlength="20" class="form-control">&nbsp; APP <input type="number" maxlength="20" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Related Brand</label>
                    <div class="col-sm-5">
                        <textarea class="form-control" readonly="readonly" rows="10"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Promotion Comment</label>
                    <div class="col-sm-5">
                        <textarea class="form-control" rows="10"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5 col-sm-offset-2">
                        <table class="table table-bordered table-hover-new">
                            <thead>
                            <tr>
                                <th>Seq.</th>
                                <th>Promotion Tag</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>移动端专场首推单品</td>
                                <td>
                                    <button type="button" class="btn btn-block btn-danger">删除</button>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><input type="text" class="form-control"></td>
                                <td>
                                    <button type="button" class="btn btn-block btn-default">追加</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-vo">
        <div class="panel-heading">
            <h4 class="panel-title">活动专场信息</h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" novalidate>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Promotion Product Type</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">展示平台</label>
                    <div class="col-sm-5">
                        <label><input type="checkbox"> PC</label>
                        <span>&nbsp;&nbsp;</span>
                        <label><input type="checkbox"> APP</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">主频道</label>
                    <div class="col-sm-5">
                        <select class="form-control"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">专场类型</label>
                    <div class="col-sm-5">
                        <select class="form-control"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">关联品类</label>
                    <div class="col-sm-5">
                        <select class="form-control"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">预展示频道</label>
                    <div class="col-sm-5">
                        <div class="row">
                            <label class="col-sm-3"><input type="checkbox"> 极速免税店</label>
                            <label class="col-sm-3"><input type="checkbox"> 母婴</label>
                            <label class="col-sm-3"><input type="checkbox"> 服装</label>
                            <label class="col-sm-3"><input type="checkbox"> 鞋包</label>
                            <label class="col-sm-3"><input type="checkbox"> 美国馆</label>
                            <label class="col-sm-3"><input type="checkbox"> 澳洲馆</label>
                            <label class="col-sm-3"><input type="checkbox"> 轻奢</label>
                            <label class="col-sm-3"><input type="checkbox"> 美妆品牌团</label>
                            <label class="col-sm-3"><input type="checkbox"> 韩国馆</label>
                            <label class="col-sm-3"><input type="checkbox"> 日本馆</label>
                            <label class="col-sm-3"><input type="checkbox"> 食品</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">首页主标题/专场标题</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">首页副标题</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">入口图专场导向文案</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">营销标题</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">营销文案</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">促销文案</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">页面标识</label>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">PC</label>
                            <div class="col-sm-10">
                                <input type="text" readonly="readonly" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">APP</label>
                            <div class="col-sm-10">
                                <input type="text" readonly="readonly" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5 col-sm-offset-2">
                        <label>
                            <input type="checkbox"> 同步移动专场
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5 col-sm-offset-2">
                        <label>
                            <input type="checkbox"> 货架显示隐藏deal
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5 col-sm-offset-2">
                        <label>
                            <input type="checkbox"> 显示0库存deal
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5 col-sm-offset-2">
                        <label>
                            <input type="checkbox"> 移动端显示
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">分享</label>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">分享标题</label>
                            <div class="col-sm-10">
                                <input type="text" readonly="readonly" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">分享内容</label>
                            <div class="col-sm-10">
                                <input type="text" readonly="readonly" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-vo">
        <div class="panel-heading">
            <h4 class="panel-title">活动基本信息</h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" novalidate>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Promotion Gift</label>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label class="col-sm-2"><input type="checkbox"> 满减</label>
                            <div class="col-sm-1 text-right">
                                满
                            </div>
                            <div class="col-sm-4 form-inline">
                                <input type="text"> 元
                            </div>
                            <div class="col-sm-4 form-inline">
                                减 <input type="text"> 元
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2"><input type="checkbox"> 满减</label>
                            <div class="col-sm-1 text-right">
                                每满
                            </div>
                            <div class="col-sm-4 form-inline">
                                <input type="text"> 元
                            </div>
                            <div class="col-sm-4 form-inline">
                                减 <input type="text"> 元
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3"><input type="checkbox"> 优惠券（聚美承担）</label>
                            <div class="col-sm-4 form-inline">
                                <input type="text"> 元
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3"><input type="checkbox"> 优惠券（VO承担）</label>
                            <div class="col-sm-4 form-inline">
                                <input type="text"> 元
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>