<section ng-init="ctrl.init()" style="position: relative">
    <form role="form" class="form-horizontal" name="ctrl.promotionForm" novalidate>
        <div id="jm-sp-edit-base" class="panel panel-vo">
            <div class="panel-heading">
                <h4 class="panel-title">活动基本信息</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">平台名称</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" readonly="readonly" value="聚美国际">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">活动名称</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" required name="promotionName"
                               ng-model="ctrl.editModel.model.name" maxlength="25">
                        <input type="hidden" ng-model="ctrl.model.id">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-7 col-sm-offset-2">
                        <vo-message target="ctrl.promotionForm.promotionName"></vo-message>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">活动场景</label>
                    <div class="col-sm-5">
                        <label class="checkbox-inline c-checkbox">
                            <input type="checkbox" name="promotionScene_1" style="margin: 0" value="1"
                                   ng-model="ctrl.editModel.model.promotionScene_1"
                                   ng-required="!ctrl.editModel.model.promotionScene_1 && !ctrl.editModel.model.promotionScene_2"
                                   ng-disabled="ctrl.vm.isBeginPre">
                            <span class="fa fa-check"></span> 专场特卖
                        </label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="checkbox-inline c-checkbox">
                            <input type="checkbox" name="promotionScene_2" style="margin: 0" value="2"
                                   ng-model="ctrl.editModel.model.promotionScene_2"
                                   ng-required="!ctrl.editModel.model.promotionScene_1 && !ctrl.editModel.model.promotionScene_2"
                                   ng-disabled="ctrl.vm.isBeginPre">
                            <span class="fa fa-check"></span> 商城铺货
                        </label>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-7 col-sm-offset-2">
                        <vo-message
                                target="ctrl.promotionForm.promotionScene_1 && ctrl.promotionForm.promotionScene_2"></vo-message>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">活动类型</label>
                    <div class="col-sm-5">
                        <select class="form-control" ng-model="ctrl.editModel.model.promotionType" required
                                name="promotionType" width="'100%'">
                            <option value="">{{'TXT_SELECT_NO_VALUE' | translate}}</option>
                            <option value="1">日常专场</option>
                            <option value="2">资源位日常专场</option>
                            <option value="3">大促专场</option>
                            <option value="4">资源位大促专场</option>
                            <option value="6">导购团专场</option>
                            <option value="7">首焦专场</option>
                            <option value="8">商城导购</option>
                            <option value="9">商城伪店铺</option>
                            <option value="10">商城主推</option>
                            <option value="11">其他平台促销活动</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-7 col-sm-offset-2">
                        <vo-message target="ctrl.promotionForm.promotionType"></vo-message>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">专场主品牌</label>
                    <div class="col-sm-5">
                        <select chosen ng-model="ctrl.editModel.model.cmsBtJmMasterBrandId" required
                                name="cmsBtJmMasterBrandId"
                                ng-options="brand.id as brand.name for brand in ctrl.vm.jmMasterBrandList" width="'100%'">
                            <option value="">{{'TXT_SELECT_NO_VALUE' | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-7 col-sm-offset-2">
                        <vo-message target="ctrl.promotionForm.cmsBtJmMasterBrandId"></vo-message>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">准备期截止时间</label>
                    <div class="col-sm-7">
                        <div class="col-sm-3 input-group">
                            <input type="date" class="form-control" uib-datepicker-popup
                                   ng-model="ctrl.editModel.model.signupDeadline" name="signupDeadline" required
                                   min-date="ctrl.vm.currentTime"
                                   max-date="ctrl.editModel.model.prePeriodStart"
                                   date-model-format="yyyy-MM-dd"
                                   is-open="datePicker4" close-text="Close"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="datePicker4 = !datePicker4"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-7 col-sm-offset-2">
                        <vo-message target="ctrl.promotionForm.signupDeadline" class="vo-message-success"></vo-message>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">预热时间</label>
                    <div class="col-sm-7">
                        <div class="col-sm-3 input-group">
                            <input type="datetime-local" class="form-control"
                                   uib-datepicker-popup ng-readonly="vm.isBegin"
                                   ng-model="editModel.model.prePeriodStart" name="prePeriodStart" required
                                   min-date="vm.currentTime"
                                   max-date="editModel.model.activityStart"
                                   date-model-format="yyyy-MM-dd HH:mm:ss"
                                   is-open="datePicker3" ng-required="true" close-text="Close"
                                   ng-disabled="ctrl.vm.isBeginPre"
                                   date-disabled="disabled(date, mode)"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-disabled="ctrl.vm.isBegin"
                                    ng-click="datePicker3 = !datePicker3"><i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-7 col-sm-offset-2">
                        <vo-message target="ctrl.promotionForm.prePeriodStart" class="vo-message-success"></vo-message>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">活动时间</label>
                    <div class="col-sm-7 form-inline">
                        <div class="col-sm-4 input-group">
                            <input type="datetime-local" class="form-control"
                                   ng-readonly="vm.isBegin||editModel.model.status!=0"
                                   uib-datepicker-popup
                                   ng-model="editModel.model.activityStart" name="activityStart" required
                                   max-date="editModel.model.activityEnd"
                                   min-date="vm.currentTime"
                                   date-model-format="yyyy-MM-dd HH:mm:ss"
                                   is-open="datePicker1" ng-required="true" close-text="Close"
                                   ng-disabled="ctrl.vm.isBeginPre"
                                   date-disabled="disabled(date, mode)"/>
                        <span class="input-group-btn">
                            <button type="button" ng-disabled="ctrl.vm.isBegin || ctrl.editModel.model.status!=0"
                                    class="btn btn-default" ng-click="datePicker1 = !datePicker1"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        </div>
                        ~
                        <div class="col-sm-4 input-group" style="margin-left:20px">
                            <input type="datetime-local" class="form-control"
                                   ng-readonly="vm.isBegin||editModel.model.status!=0"
                                   uib-datepicker-popup
                                   ng-model="editModel.model.activityEnd" name="activityEnd" required
                                   min-date="editModel.model.activityStart"
                                   date-model-format="yyyy-MM-dd HH:mm:ss"
                                   is-open="datePicker2" ng-required="true" close-text="Close"
                                   ng-disabled="ctrl.vm.isBeginPre"
                                   date-disabled="disabled(date, mode)"/>
                        <span class="input-group-btn">
                            <button type="button" ng-disabled="ctrl.vm.isBegin || ctrl.editModel.model.status!=0"
                                    class="btn btn-default" ng-click="datePicker2 = !datePicker2"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-7 col-sm-offset-2">
                        <vo-message target="ctrl.promotionForm.activityStart && ctrl.promotionForm.activityEnd"
                                    class="vo-message-success"></vo-message>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-2 control-label vo_reqfield" translate="TXT_PROMOTION_PC_ID"></label>
                    <div class="col-sm-2">
                        <input required="" name="promotionPcId" type="number" class="form-control" maxlength="10"
                               ng-model="ctrl.editModel.model.activityPcId" scale="10,0">
                    </div>

                    <label class="col-sm-1 control-label vo_reqfield" translate="TXT_PROMOTION_APP_ID"></label>
                    <div class="col-sm-2">
                        <input required="" name="promotionAppId" type="number" class="form-control" maxlength="10"
                               ng-model="ctrl.editModel.model.activityAppId" scale="10,0">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-3">
                        <vo-message target="ctrl.promotionForm.promotionPcId" class="vo-message-success"></vo-message>
                    </div>
                    <div class="col-sm-2">
                        <vo-message target="ctrl.promotionForm.promotionAppId" class="vo-message-success"></vo-message>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">专场涉及品牌</label>
                    <div class="col-sm-5">
                        <textarea class="form-control no-resize" rows="3" ng-model="ctrl.editModel.model.brand" disabled></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">活动备注</label>
                    <div class="col-sm-5">
                        <textarea class="form-control no-resize" rows="3" ng-model="ctrl.editModel.model.comment"></textarea>
                    </div>
                </div>
                <div class="col-sm-7 table-responsive m-l-md m-r-md m-b-md" style="margin-left:80px">
                    <table class="table table-hover-new table-hover">
                        <thead>
                        <tr class="control-label">
                            <th>TAG</th>
                            <th class="mfb-xxt text-center">{{'BTN_DELETE' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="tag in getTagList()">
                            <td class="mfb-xxxsm">
                                <input class="form-control" ng-model="ctrl.tag.tagName" name="tagName{{$index}}"
                                       ng-required="true" maxlength="20" required>
                                <vo-message target="ctrl.promotionForm['tagName' + $index]"></vo-message>
                            </td>
                            <td class="mfb-xxs text-center">
                                <button title="{{'BTN_DELETE' | translate}}" class="btn btn-danger btn-xs"
                                        ng-disabled="tag.id != ''" ng-click="ctrl.delTag(tag)"><i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <button ng-disabled="isEdit" class="btn btn-sm btn-success btn-addon pull-right"
                                style="margin-right:5px" ng-click="ctrl.addTag()"><i class="fa fa-plus"></i>追加
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="jm-sp-edit-special" class="panel panel-vo">
            <div class="panel-heading">
                <h4 class="panel-title">活动专场信息</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Promotion Product Type</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="ctrl.editModel.extModel.productType" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">展示平台</label>
                    <div class="col-sm-5">
                        <label class="checkbox-inline c-checkbox">
                            <input type="checkbox" name="displayPlatform_1" style="margin: 0" value="1"
                                   ng-model="ctrl.editModel.extModel.displayPlatform_1"
                                   ng-required="!ctrl.editModel.model.displayPlatform_1 && !ctrl.editModel.model.displayPlatform_2"><span class="fa fa-check"></span> PC</label>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <label class="checkbox-inline c-checkbox">
                            <input type="checkbox" name="displayPlatform_2" style="margin: 0" value="1"
                                   ng-model="ctrl.editModel.extModel.displayPlatform_2"
                                   ng-required="!ctrl.editModel.model.displayPlatform_1 && !ctrl.editModel.model.displayPlatform_2"><span class="fa fa-check"></span> APP</label>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-7 col-sm-offset-2">
                        <vo-message target="ctrl.promotionForm.displayPlatform_1 && ctrl.promotionForm.displayPlatform_2"></vo-message>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">主频道</label>
                    <div class="col-sm-5">
                        <select class="form-control" ng-model="ctrl.editModel.extModel.main_channel">
                            <option value="luxuryglobal">轻奢（luxuryglobal【ppt】）</option>
                            <option value="food">食品（food【vtm】）</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">专场类型</label>
                    <div class="col-sm-5">
                        <select class="form-control" ng-model="ctrl.editModel.extModel.session_type">
                            <option value="luxuryglobal">轻奢（luxuryglobal【ppt】）</option>
                            <option value="food">食品（food【vtm】）</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">关联品类</label>
                    <div class="col-sm-5">
                        <select class="form-control" ng-model="ctrl.editModel.extModel.session_category">
                            <option value="luxuryglobal">轻奢（luxuryglobal【ppt】）</option>
                            <option value="food">食品（food【vtm】）</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">预展示频道</label>
                    <div class="col-sm-5">
                        <div class="row">
                            <label class="col-sm-3"><input type="checkbox" name="pre_display_channel" ng-model="ctrl.editModel.extModel.pre_display_channel"> 极速免税店</label>
                            <label class="col-sm-3"><input type="checkbox" name="pre_display_channel" ng-model="ctrl.editModel.extModel.pre_display_channel"> 母婴</label>
                            <label class="col-sm-3"><input type="checkbox" name="pre_display_channel" ng-model="ctrl.editModel.extModel.pre_display_channel"> 服装</label>
                            <label class="col-sm-3"><input type="checkbox" name="pre_display_channel" ng-model="ctrl.editModel.extModel.pre_display_channel"> 鞋包</label>
                            <label class="col-sm-3"><input type="checkbox" name="pre_display_channel" ng-model="ctrl.editModel.extModel.pre_display_channel"> 美国馆</label>
                            <label class="col-sm-3"><input type="checkbox" name="pre_display_channel" ng-model="ctrl.editModel.extModel.pre_display_channel"> 澳洲馆</label>
                            <label class="col-sm-3"><input type="checkbox" name="pre_display_channel" ng-model="ctrl.editModel.extModel.pre_display_channel"> 轻奢</label>
                            <label class="col-sm-3"><input type="checkbox" name="pre_display_channel" ng-model="ctrl.editModel.extModel.pre_display_channel"> 美妆品牌团</label>
                            <label class="col-sm-3"><input type="checkbox" name="pre_display_channel" ng-model="ctrl.editModel.extModel.pre_display_channel"> 韩国馆</label>
                            <label class="col-sm-3"><input type="checkbox" name="pre_display_channel" ng-model="ctrl.editModel.extModel.pre_display_channel"> 日本馆</label>
                            <label class="col-sm-3"><input type="checkbox" name="pre_display_channel" ng-model="ctrl.editModel.extModel.pre_display_channel"> 食品</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">首页主标题/专场标题</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="ctrl.editModel.extModel.main_title">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">首页副标题</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="ctrl.editModel.extModel.subtitle">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">入口图专场导向文案</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="ctrl.editModel.extModel.enter_guide">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">营销标题</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="ctrl.editModel.extModel.marketing_title">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">营销文案</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="ctrl.editModel.extModel.marketing_copywriter">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label s-required">促销文案</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="ctrl.editModel.extModel.promotional_copy">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">页面标识</label>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">PC</label>
                            <div class="col-sm-10">
                                <input type="text" readonly="readonly" class="form-control" ng-model="ctrl.editModel.extModel.pc_page_id">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">APP</label>
                            <div class="col-sm-10">
                                <input type="text" readonly="readonly" class="form-control" ng-model="ctrl.editModel.extModel.app_page_id">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5 col-sm-offset-2">
                        <label>
                            <input type="checkbox" ng-model="ctrl.editModel.extModel.sync_mobile"> 同步移动专场
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5 col-sm-offset-2">
                        <label>
                            <input type="checkbox" ng-model="ctrl.editModel.extModel.show_hidden_deal"> 货架显示隐藏deal
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5 col-sm-offset-2">
                        <label>
                            <input type="checkbox" ng-model="ctrl.editModel.extModel.show_sold_out_deal"> 显示0库存deal
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5 col-sm-offset-2">
                        <label>
                            <input type="checkbox" ng-model="ctrl.editModel.extModel.show_mobile"> 移动端显示
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">分享</label>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">分享标题</label>
                            <div class="col-sm-10">
                                <input type="text" readonly="readonly" class="form-control" ng-model="ctrl.editModel.extModel.share_title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">分享内容</label>
                            <div class="col-sm-10">
                                <input type="text" readonly="readonly" class="form-control" ng-model="ctrl.editModel.extModel.share_content">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="jm-sp-edit-gift" class="panel panel-vo">
            <div class="panel-heading">
                <h4 class="panel-title">活动促销信息</h4>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label class="col-sm-2 control-label">Promotion Gift</label>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label class="col-sm-2"><input type="checkbox" ng-model="ctrl.editModel.extModel.is_promotion_full_minus"> 满减</label>
                            <div class="col-sm-1 text-right">
                                满
                            </div>
                            <div class="col-sm-4 form-inline">
                                <input type="text" ng-model="ctrl.editModel.extModel.promotion_full_amount"> 元
                            </div>
                            <div class="col-sm-4 form-inline">
                                减 <input type="text" ng-model="ctrl.editModel.extModel.promotion_minus_amount"> 元
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2"><input type="checkbox" ng-model="ctrl.editModel.extModel.is_promotion_full_minus"> 满减</label>
                            <div class="col-sm-1 text-right">
                                每满
                            </div>
                            <div class="col-sm-4 form-inline">
                                <input type="text" ng-model="ctrl.editModel.extModel.promotion_eachfull_amount"> 元
                            </div>
                            <div class="col-sm-4 form-inline">
                                减 <input type="text" ng-model="ctrl.editModel.extModel.promotion_eachminus_amount"> 元
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3"><input type="checkbox" ng-model="ctrl.editModel.extModel.jm_coupons"> 优惠券（聚美承担）</label>
                            <div class="col-sm-4 form-inline">
                                <input type="text" ng-model="ctrl.editModel.extModel.jm_coupons_money"> 元
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3"><input type="checkbox" ng-model="ctrl.editModel.extModel.vo_coupons"> 优惠券（VO承担）</label>
                            <div class="col-sm-4 form-inline">
                                <input type="text" ng-model="ctrl.editModel.extModel.vo_coupons_money"> 元
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
    <sticky top-fix="208" style="position: absolute; top: 35px; right: 10px;">
        <ul class="nav nav-pills nav-stacked">
            <li>
                <button type="button" class="btn btn-default" scroll-to="#jm-sp-edit-base,,-60">Home</button>
            </li>
            <li>
                <button type="button" class="btn btn-default" scroll-to="#jm-sp-edit-special,,-60">Profile</button>
            </li>
            <li>
                <button type="button" class="btn btn-default" scroll-to="#jm-sp-edit-gift,,-60">Messages</button>
            </li>
            <hr>
            <li>
                <button type="button" class="btn btn-success">Save</button>
            </li>
            <li>
                <button type="button" class="btn btn-primary">Submit</button>
            </li>
        </ul>
    </sticky>
</section>