#shelves-list {
    font-family: Arial, "Microsoft Yahei", sans-serif;
}

.form-group .control-label {
    font-weight: bold;
}

.shelves-item,
.shelves-edit-item {
    float: left;
    padding: 5px 6px 0;
    border: 1px solid #CCC;
    box-shadow: #CCC 1px 1px 1px;
    margin: 5px;
    position: relative;
    background-color: white;
}

.shelves-item.empty,
.shelves-edit-item.empty {
    border: 1px solid red;
}

.shelves-item .label,
.shelves-edit-item .label {
    left: 0;
    top: 0;
    position: absolute;
    font-size: 14px;
    border-radius: 0;
}

.a-close-btn {
    position: absolute;
    right: 5px;
    top: 1px;
}

.shelves-item p,
.shelves-edit-item p {
    margin-bottom: 5px;
}

.shelves-item {
    width: 252px;
    padding-top: 25px;
    padding-left: 10px;
}

.shelves-edit-item {
    width: 252px;
    padding: 5px 6px;
}

.img {
    line-height: 100px;
    vertical-align: middle;
    width: 65px;
}

.shelves-edit-item img {
    width: 100%;
}

.shelves-edit-item .label {
    cursor: move;
}

.shelves-item-label,
.shelves-item-value {
    float: left;
    display: inline-block;
    margin-bottom: 1px;
    font-weight: bold;
    max-width: 70px;
}

.shelves-item-label {
    width: 80px;
    text-align: right;
}

.shelves-item-value.code {
    height: 36px;
    max-height: 36px;
}

.shelves-item-value.price {
    color: #262626;
    background: #CCC;
    min-width: 40px;
    text-align: center;
    padding: 0 10px;
    border: 1px solid white;
}

.shelves-item-value.price:before {
    content: '￥';
    margin-left: -4px;
}

.shelves-item-value.price.empty {
    border-color: red;
    color: red;
}

.shelves-item-value.price.empty:before {
    content: '';
}

.shelves-item-value.price.empty:after {
    content: '!';
    float: right;
    margin-right: -20px;
}

.panel-search {
    background-color: #f8f8f8;
    border-color: #d4cfcf;
}

.nav-stacked li {
    min-width: 0;
    padding-right: 10px;
}

.button-bar .pull-left {
    margin-right: 10px;
}