<div class="panel {{panelClass || 'panel-default'}}">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-5">
                <h5 style="margin:6px 0">
                    <a href class="accordion-toggle" style="display:inline" ng-click="toggleOpen()"
                       uib-accordion-transclude="heading"><i class="fa {{isOpen?'fa-minus':'fa-plus'}}"></i>&nbsp;{{heading}}</a>
                </h5>
            </div>
            <div class="col-sm-7 text-right">
                <button class="btn btn-default">商品编辑</button>
                <button class="btn btn-default">全量清空</button>
                <button class="btn btn-default">预览</button>
                <button class="btn btn-default">复制代码</button>
                <span>&nbsp;</span>
                <a href="" class="btn fa-btn"><i class="fa fa-edit"></i></a>
                <a href="" class="btn fa-btn"><i class="fa fa-trash"></i></a>
            </div>
        </div>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen">
        <div class="panel-body" ng-transclude></div>
    </div>
</div>