<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:task="http://www.springframework.org/schema/task"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
          http://www.springframework.org/schema/task
          http://www.springframework.org/schema/task/spring-task.xsd">

		<import resource="applicationContext-core.xml"/>

		<task:scheduled-tasks scheduler="core-job-scheduler">
			<!--每隔10分钟任务错误信息上报-->
			<task:scheduled ref="CoreIssueTaskErrorTask" method="run" cron="0 0/10 0-23 * * ?"/>
			<!--每隔10分钟检查从库同步情况-->
			<task:scheduled ref="CheckSlaveStatusTask" method="run" cron="0 0/10 0-23 * * ?"/>
			<!--每天北京时间20点30分执行 -->
			<task:scheduled ref="historyDataTransferTask" method="run" cron="0 30 12 * * ?"/>
			<!--每隔1小时进行API心跳检查-->
			<task:scheduled ref="healthCheckTask" method="run" cron="0 0 0-23 * * ?"/>
		</task:scheduled-tasks>

		<task:scheduler id="core-job-scheduler" pool-size="3"/><!-- 必须需要 -->

</beans>
