.category-search fieldset > fieldset {
    margin: 5px 0;
    border: 0 none;
}

.category-search legend {
    border-bottom: 0 none;
    margin-bottom: 0;
    padding-left: 8px;
    width: auto;
}

.category-search fieldset {
    border: 1px solid #a1a1a1;
    padding: 10px 15px;
    border-radius: 5px;
}

.categoryList {
    font-family: 'Segoe UI', Arial, 'Microsoft Yahei', sans-serif;
    width: 100%;
    padding:20px;
}

.categoryList fieldset {
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}
/* 
.categoryList fieldset div{
	padding:0px 0px 10px 0px;
} */

.categoryListRules{
	margin:0px;
	padding:0px;
}
.categoryListRules ul li{
	margin:0px;
	padding:0px;
	list-style:none;
}

.categoryList legend {
    color: #e67e22;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Microsoft Yahei';
}

.categoryList label {
    padding-left: 10px;
}

.categoryList table {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 100%;
    border:none;
}

.categoryList table th tr td {
    padding: 0px;
}

.categoryList input {
    margin: 10px 5px 10px 5px;
    padding:2px;
    border:1px solid #c8c2c2;
    background:#fff;
}

.categoryList font {
    padding-left: 8px;
    padding-right: 6px;
}

.categoryList button {
    margin-bottom: 4px
}

.categoryFormTitle {
    margin: 20px 20px 20px 20px
}

.photosTittle {
    text-align: center;
    padding: 10px 0px 8px 0px;
    font-size: 18px;
}

.categoryList button[type="button"] {
    float: right;
}

.categoryList th {
    text-align: center;
    /*background: #f7f6f6; */
}

.categoryList td {
    text-align: center;
}


.categoryList td select {
    width: auto;
}

/*yoenka-0810 new nav*/
#master-category-nav {
    z-index: 1050;
}

#master-category-nav > ul {
    display: block;
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 2px;
}

#master-category-nav > ul li {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}

#master-category-nav > ul li a {
    display: block;
    position: relative;
    margin: 0;
    padding: 8px;
    color: #000000;
    background: #ffffff;
    text-decoration: none;
}

#master-category-nav > ul li > a:hover {
    color: #fff;
    background: #e67e22;
}

#master-category-nav > ul .has-sub > a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

#master-category-nav > ul .has-sub > a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

#master-category-nav > ul ul {
    position: absolute;
    left: 100%;
    top: -9999px;
    padding: 0;
    opacity: 0;
    width: 100%;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #d4cfcf;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#master-category-nav > ul li:hover > ul {
    top: 0;
    opacity: 1;
}

#master-category-match {
    z-index: 1050;
}

#master-category-match > ul {
    display: block;
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #d4cfcf;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#master-category-match > ul li {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

#master-category-match > ul li a {
    display: block;
    position: relative;
    margin: 0;
    padding: 6px 8px 6px 8px;
    width: 100%;
    color: #444;
    background: #fff;
    text-decoration: none;
}

#master-category-match > ul li > a:hover {
    color: #fff;
    background: #6254b2;
}

#master-category-match > ul .has-sub > a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

#master-category-match > ul .has-sub > a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

#master-category-match > ul ul {
    position: absolute;
    left: 100%;
    top: -9999px;
    padding: 0;
    opacity: 0;
    width: 100%;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #d4cfcf;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#master-category-match > ul li:hover > ul {
    top: 0;
    opacity: 1;
}

.super-category {
    color: #e67e22;

}

.sub-category {
    padding-left: 10px;
    color: #bbb;
}

.imagepopup {
    position: absolute;
    display: block;
    top: 5px;
    right: 20px;
}

.btn-dangerdel {
    color: #ffffff !important;
    background-color: #f05050;
    border-color: #f05050;
    filter: alpha(opacity=60);
    opacity: 0.4;
}

.btn-dangerdel:hover {
    color: #ffffff !important;
    background-color: #ee3939;
    border-color: #ed2a2a;
    filter: alpha(opacity=60);
    opacity: 1;
}

.form-group .control-label {
    cursor: pointer
}

fieldset.haveDone{
	background:#fff4f4;
}

.legendTitle{
	color:#444;
}
fieldset.requireStyle{
	background-color:#fcf0f0;
}
.topPadding{
	padding-top: 20px;
}

.proErrMsg{
	width:60%;
	margin:0 auto;
	padding:0px;
	text-align:center;
    margin-bottom: 300px;
}

.proErrMsgList{
	text-align:center;
	color: #a94442;	
	font-size:16px;
	background:#f2dede;
    border:1px solid #ebccd1;
    border-radius: 2px;
    padding:20px;
    margin-top:200px;
	
}
.proWarningMsgList{
    text-align:center;
    color: #a94442;
    font-size:16px;
    background:#f2dede;
    border:1px solid #ebccd1;
    border-radius: 2px;
    padding:20px;
    margin-top:200px;

}
.noPadding{
	padding:0px;
	margin:0px;
}

.pull-left{
    text-align: left;
}

.rule-nolink a{
    color:#ee3939;
    text-decoration: underline;
}


.rule-nolink a:hover{
    text-decoration: none;
}