<div class="vo_modal switch-main" ng-init="ctrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()">
            <span aria-hidden="true"><i class="fa fa-close"></i></span>
        </button>
        <h5 class="modal-title"><i class="glyphicons glyphicons-edit"></i> 品牌审核</h5>
    </div>

    <div class="modal-body wrapper">


    </div>

    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$dismiss()"><i class="fa fa-remove"></i> 取消</button>
        <button class="btn btn-vo" ng-click="" ><i class="glyphicon glyphicon-floppy-disk"></i> 确定</button>
    </div>
</div>