<div class="vo_modal" ng-init="initialize()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"  ng-click="$close()">
            <span aria-hidden="true"><i class="fa fa-close"></i></span>
        </button>
        <h5 class="modal-title"><i class="glyphicon glyphicon-cog"></i><span class="label m-r-sm m-l" >&nbsp;Cart Edit&nbsp;</span></h5>
    </div>
    <div class="modal-body wrapper">
        <form role="form" class="form-horizontal m-l-md m-b-md ng-pristine ng-valid">
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <label class="col-sm-3 control-label" translate="TXT_CART_ID"></label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="text" placeholder="请输入数字" />
                                </div>
                                <div class="col-sm-2">
                                    &nbsp;{{'TXT_REQUIRED' | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <label class="col-sm-3 control-label" translate="TXT_NAME"></label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="text" placeholder="Tmall" />
                                </div>
                                <div class="col-sm-2">
                                    &nbsp;{{'TXT_REQUIRED' | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <label class="col-sm-3 control-label" translate="TXT_SHORT_NAME"></label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="text" placeholder="TM" />
                                </div>
                                <div class="col-sm-2">
                                    &nbsp;{{'TXT_REQUIRED' | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <label class="col-sm-3 control-label" translate="TXT_MSG_SHORT_DESCRIPTION"></label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="text" placeholder="Tmall" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <label class="col-sm-3 control-label">平台</label>
                                <div class="col-sm-7">
                                    <select class="form-control">
                                        <option value="TB">TB</option>
                                        <option value="TM">TM</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    &nbsp;{{'TXT_REQUIRED' | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <label class="col-sm-3 control-label" translate="TXT_ALLOW_USJOI"></label>
                                <div class="col-sm-7">
                                    <ul>
                                        <div class="col-sm-6"><input type="radio" name="optionsRadios" value="option1"><span class="ng-binding">Yes</span></div>
                                        <div class="col-sm-6"><input type="radio" name="optionsRadios" value="option1"><span>No</span></div>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    &nbsp;{{'TXT_REQUIRED' | translate}}
                                </div>
                            </div>
                        </div><!-- .form-group -->
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default ng-binding" ng-click="$close()"><i class="fa fa-remove"></i> 取消</button>
        <button class="btn btn-vo ng-binding" ng-click="save()"><i class="glyphicon glyphicon-floppy-disk"></i> 保存</button>
    </div>
</div><!-- .vo_modal -->