<div class="wrapper-md" ng-init="ctrl.init()">
    <div class="vo_accordion vo_attr">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-reorder"></i>&nbsp;{{'TXT_IMAGE_GROUP_LIST' | translate}}</h4>
                </div>
                <div class="container-fluid m-t-xs m-b-xs" ng-controller="popupCtrl">

                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{{'TXT_PLATFORM' | translate}}</label>
                                    <div class="col-sm-6">
                                        <label ng-repeat="platform in ctrl.platformList" class="checkbox-inline c-checkbox"><input type="checkbox" ng-model="platform.show" ><span class="fa fa-check"></span>&nbsp;{{platform.name}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-horizontal">
                                        <label class="col-sm-3 control-label">{{'TXT_IMAGE_TYPE' | translate}}</label>

                                        <div class="col-sm-6">
                                            <select class="form-control" ng-model="ctrl.imageType"
                                                    ng-options="imageType.value as imageType.name for imageType in ctrl.imageTypeList">
                                                <option value="" translate="TXT_SELECT_NO_VALUE" />
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{{'TXT_UPDATE_TIME' | translate}}</label>

                                    <div class="col-sm-9" style="margin-left: -4px;">
                                        <div class="col-sm-10 form-inline">
                                            <div class="col-sm-5 input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup ng-model="ctrl.beginModified"
                                                       max-date="ctrl.endModified" date-model-format="yyyy-MM-dd" is-open="ctrl.datePicker1" ng-required="true" close-text="Close" />
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="ctrl.datePicker1 = !ctrl.datePicker1"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
                                            </div>&nbsp;~&nbsp;
                                            <div class="col-sm-5 input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup ng-model="ctrl.endModified"
                                                       min-date="ctrl.beginModified" date-model-format="yyyy-MM-dd" is-open="ctrl.datePicker2" ng-required="true" close-text="Close" />
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="ctrl.datePicker2 = !ctrl.datePicker2"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{{'TXT_RELATED_BRAND_NAME' | translate}}</label>
                                    <div class="col-sm-7">
                                        <select multiple chosen class="form-control" width="'360px'" ng-model="ctrl.brandName"
                                            ng-options="brand.value as brand.name for brand in ctrl.brandNameList">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{{'TXT_RELATED_PRODUCT_TYPE' | translate}}</label>
                                    <div class="col-sm-7">
                                        <select multiple chosen class="form-control" width="'360px'" ng-model="ctrl.productType"
                                                ng-options="productType.value as productType.name for productType in ctrl.productTypeList">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{{'TXT_SUIT_CROWDS' | translate}}</label>
                                    <div class="col-sm-7">
                                        <select multiple chosen class="form-control" width="'360px'" ng-model="ctrl.sizeType"
                                                ng-options="sizeType.value as sizeType.name for sizeType in ctrl.sizeTypeList">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center m-b-sm">
                        <div class="form-inline">
                            <button class="btn btn-default" ng-click="ctrl.clear()"><i class="fa fa-remove"></i>&nbsp;{{'BTN_CLEAR' | translate}}</button>
                            <button class="btn btn-vo" ng-click="ctrl.search()"><i class="fa fa-search"></i>&nbsp;{{'TXT_SEARCH' | translate}}</button>
                            <button class="btn btn-success" ng-click="openImgGroupAdd(ctrl)"><i class="fa fa-plus"></i>&nbsp;{{'BTN_ADD' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-body">
            <div class="table-responsive">
                <div class="col-sm-12 dropdown_table_main" if-no-rows="ctrl.imageGroupList.length">
                    <table class="table table-hover-new vo_table tableWordBreak" style="margin-bottom:0px;table-layout: fixed;">
                        <thead>
                        <tr>
                            <th class="mfb-xt text-center">{{'TXT_SEQ' | translate}}</th>
                            <th class="mfb-xx text-center">{{'TXT_IMAGE_GROUP_NAME' | translate}}</th>
                            <th class="mfb-xxs text-center">{{'TXT_RELATED_BRAND_NAME' | translate}}</th>
                            <th class="mfb-xxs text-center">{{'TXT_RELATED_PRODUCT_TYPE' | translate}}</th>
                            <th class="mfb-xxs text-center">{{'TXT_SUIT_CROWDS' | translate}}</th>
                            <th class="mfb-xxt text-center">{{'TXT_VIEW_TYPE' | translate}}</th>
                            <th class="mfb-xxt text-center">{{'TXT_PLATFORM' | translate}}</th>
                            <th class="mfb-xxt text-center">{{'TXT_IMAGE_TYPE' | translate}}</th>
                            <th class="mfb-xxt text-center">{{'TXT_IMAGE_COUNT' | translate}}</th>
                            <th class="mfb-xxx text-center">{{'TXT_UPDATE_TIME' | translate}}</th>
                            <th class="mfb-xx text-center">{{'BTN_EDIT' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="imageGroup in ctrl.imageGroupList">
                            <td class="mfb-xt text-center">{{imageGroup.imageGroupId}}</td>
                            <td class="mfb-xx text-center"><a href="#/channel/imagegrouplist/detail/{{imageGroup.imageGroupId}}" target="_blank">{{imageGroup.imageGroupName}}</a></td>
                            <td class="mfb-xxs text-center">{{imageGroup.brandNameTrans.join(' , ')}}</td>
                            <td class="mfb-xxs text-center">{{imageGroup.productTypeTrans.join(' , ')}}</td>
                            <td class="mfb-xxs text-center">{{imageGroup.sizeTypeTrans.join(' , ')}}</td>
                            <td class="mfb-xxt text-center">{{imageGroup.viewTypeName}}</td>
                            <td class="mfb-xxt text-center">{{imageGroup.cartName}}</td>
                            <td class="mfb-xxt text-center">{{imageGroup.imageTypeName}}</td>
                            <td class="mfb-xxt text-center" ng-if="imageGroup.image == null">0</td>
                            <td class="mfb-xxt text-center" ng-if="imageGroup.image != null">{{imageGroup.image.length}}</td>
                            <td class="mfb-xxx text-center">{{imageGroup.modified}}</td>
                            <td class="mfb-xxt text-center">
                                <a href="#/channel/imagegrouplist/detail/{{imageGroup.imageGroupId}}" class="btn btn-success btn-xs" target="_blank" title="{{'BTN_SET' | translate}}" ><i class="fa fa-cog"></i></a>
                                <button title="{{'BTN_DELETE' | translate}}" class="btn btn-danger btn-xs" ng-click="ctrl.delete(imageGroup.imageGroupId)"><i class="fa  fa-trash-o"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- .table-responsive -->
                <div class="col-sm-12">
                </div>
            </div>
            <div class="col-sm-12 m-t-md">
                <vpagination config="ctrl.pageOption" total="ctrl.pageOption.total"></vpagination>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="m-t-xs">
        </div>
    </div>
</div><!-- end .wrapper-md -->