<div class="wrapper-md" ng-init="ctrl.init()">
	<div class="vo_accordion vo_attr">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><i class="glyphicon glyphicon-star"></i>&nbsp;{{'TXT_TASK_LIST' | translate}}</h4>
				</div>
				<div class="container-fluid m-t-sm m-b-md">
					<div class="col-sm-12">
						<div class="col-sm-4">
							<div class="form-horizontal">
								<div class="form-group" >
									<label class="col-sm-4  control-label" translate="TXT_TASK_TYPE"></label>
									<div class="col-sm-7">
										<select class="form-control" ng-model="ctrl.searchInfo.task_type">
											<option value='' translate="TXT_SELECT_NO_VALUE"></option>
											<option ng-repeat="type in ctrl.taskType" value={{type.value}}>{{type.name}}</option>
										</select>
									</div>
								</div>
								<!--<div class="col-sm-3">-->
								<!--<div class="form-horizontal">-->
								<div class="form-group">
									<label class="col-sm-4 control-label" translate="TXT_TIME_START"></label>
									<div class="col-sm-8 form-inline">
										<div class="col-sm-5 input-group">
											<input type="text" class="form-control" uib-datepicker-popup ng-model="ctrl.searchInfo.activityStart"
												   max-date="ctrl.searchInfo.activityEnd" date-model-format="yyyy-MM-dd" is-open="ctrl.datePicker1" ng-required="true" close-text="Close" />
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="ctrl.datePicker1 = !ctrl.datePicker1"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
										</div>&nbsp;~&nbsp;
										<div class="col-sm-5 input-group">
											<input type="text" class="form-control" uib-datepicker-popup ng-model="ctrl.searchInfo.activityEnd"
												   min-date="ctrl.searchInfo.activityStart" date-model-format="yyyy-MM-dd" is-open="ctrl.datePicker2" ng-required="true" close-text="Close" />
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="ctrl.datePicker2 = !ctrl.datePicker2"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="TXT_SEARCH"></label>
                                    <div class="col-sm-7">
                                        <input class="form-control" ng-model="ctrl.searchInfo.searchKey">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" ></label>
                                    <div class="col-sm-7">
                                        <label class="checkbox-inline c-checkbox" ng-repeat="platform in ctrl.platformTypeList">
                                            <input type="checkbox" ng-value="platform.value" style="margin: 0"
                                                   ng-model="ctrl.platformStatus[platform.value]"><span class="fa fa-check"></span> {{platform.name}}
                                        </label>
                                    </div>
                                </div>
                            </div><!-- .form-group -->
                        </div>
                        <div class="col-sm-12 text-center m-t-sm" ng-controller="popupCtrl">
                            <div class="form-inline">
                                <button class="btn btn-default" ng-click="ctrl.clear()"><i class="fa fa-remove"></i>&nbsp;{{'BTN_CLEAR'
                                    | translate}}
                                </button>
                                <button class="btn btn-vo" ng-click="ctrl.search()"><i class="fa fa-search"></i>&nbsp;{{'BTN_SEARCH'
                                    | translate}}
                                </button>
                            </div><!-- .form-inline -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .accordion -->

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group">
                <button  type="button" class="btn btn-success btn-pop" ng-click="ctrl.addTask()">
                    <i class="fa fa-plus"></i> &nbsp;{{'BTN_CREATE_BEAT_TASK' | translate}}
                </button>
            </div>
        </div>
        <div class="panel-body">
            <div class="box">
                <div class="box-body">
                    <table class="table table-hover-new text-center" ng-controller="popupCtrl">
                        <thead>
                        <tr>
                            <th class="mfb-xt3 text-center">ID</th>
                            <!--<th class="text-center"><label class="checkbox-inline c-checkbox"><input type="checkbox" value="option5"><span class="fa fa-check"></span></label></th>-->
                            <th class="mfb-xt text-left">{{'TXT_STATUS' | translate}}</th>
                            <th class="mfb-xt text-left">{{'TXT_TASK_NAME' | translate}}</th>
                            <th class="mfb-xt text-left">{{'TXT_PLATFORM_TYPE_WITH_COLON' | translate}}</th>
                            <th class="mfb-xt text-left">{{'TXT_TYPE' | translate}}</th>
                            <th class="mfb-xxt text-left">{{'TXT_TIME_START' | translate}}-{{'TXT_TIME_END' | translate}}</th>
                            <th class="mfb-xxs text-left">{{'TXT_ACTION' | translate}}</th>


                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="task in ctrl.tasks">
                            <td class="mfb-xt3 text-center">{{task.id}}</td>
                            <td class="mfb-xt text-left"><span ng-show="task.status==0" class="label label-success-new m-r-lg"> Open </span><span
                                    ng-show="task.status==1" class="label label-yellow-new m-r-lg"> Close </span></td>
                            <td class="mfb-xt text-left">
                                <!--<a ng-if="task.taskType == 1" ng-href="#/promotion/task/beat/{{task.id}}" target="_blank">
                                    {{task.taskName}}
                                </a>-->
                                <a ng-if="task.taskType == 1" ng-href="#/task/jiagepilu/detail/{{task.id}}" target="_blank">
                                    {{task.taskName}}
                                </a>
                                <a ng-if="task.taskType == 0" ng-href="#/promotion/task/price/{{task.promotion.id}}"
                                   target="_blank">
                                    {{task.taskName}}
                                </a>
                            </td>

                            <td class="mfb-xt text-left">{{ctrl.cartName(task.cartId)}}</td>
                            <td class="mfb-xt text-left">{{ctrl.typeName(task)}}</td>
                            <td class="mfb-xxt text-left">{{task.activityStart}} ~ {{task.activityEnd}}</td>
                            <td class="mfb-xxs text-left">
                                <!--<a ng-if="task.taskType == 1" ng-href="#/promotion/task/beat/{{task.id}}" target="_blank">-->
                                <!--<button title="{{'TXT_TASK_DETAIL' | translate}}" class="btn btn-default-vo btn-xs"><i-->
                                <!--class="fa fa-reorder"></i>&nbsp;{{'TXT_TASK_DETAIL' | translate}}-->
                                <!--</button>-->
                                <!--</a>-->
                                <!--<a ng-if="task.taskType == 0" ng-href="#/promotion/task/price/{{task.promotion.id}}"-->
                                <!--target="_blank">-->
                                <!--<button title="{{'TXT_TASK_DETAIL' | translate}}" class="btn btn-default-vo btn-xs"><i-->
                                <!--class="fa fa-reorder"></i>&nbsp;{{'TXT_TASK_DETAIL' | translate}}-->
                                <!--</button>-->
                                <!--</a>-->
                                <!--<a ng-if="task.taskType == 2" ng-href="#/promotion/task_stock/{{task.id}}"-->
                                <!--target="_blank">-->
                                <!--<button title="{{'TXT_STOCK_SEPARATE_DETAIL' | translate}}" class="btn btn-default-vo btn-xs"><i class="fa fa-reorder"></i>&nbsp;{{'TXT_STOCK_SEPARATE_DETAIL' | translate}}-->
                                <!--</button>-->
                                <!--</a>-->
                                <!--<a ng-if="task.taskType == 2"-->
                                <!--ng-href="#/promotion/task_stock_increment/{{::task.id}}" target="_blank">-->
                                <!--<button title="{{'TXT_STOCK_INCREMENT_SEPARATE' | translate}}" class="btn btn-default-vo btn-xs"><i class="fa fa-reorder"></i>&nbsp;{{'TXT_STOCK_INCREMENT_SEPARATE' | translate}}-->
                                <!--</button>-->
                                <!--</a>-->
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div><!-- end .wrapper-md -->








