<tr>
    <td class="mfb-xt3 text-center">2</td>
    <td class="mfb-xt text-left"><span class="label label-danger-new"> Close </span></td>
    <td class="mfb-xxs text-left"><a href="#/promotion/detail" target="_blank">天猫国际双十一</a></td>
    <td class="mfb-xt text-center">库存隔离</td>
    <td class="mfb-xxt text-center">2016.1.2</td>
    <td class="mfb-xxs text-left">
        <a href="#/mrbstock/list" target="_blank"><button title="库存隔离明细" class="btn btn-default-vo btn-xs"><i class="fa fa-reorder"></i>&nbsp;库存隔离明细</button></a>
        <a href="#/mrbstock/add" target="_blank"><button title="增量库存隔离" class="btn btn-default-vo btn-xs"><i class="fa fa-reorder"></i>&nbsp;增量库存隔离</button></a>
        <button title="Error日志" class="btn btn-default-vo btn-xs"><i class="fa fa-cloud-download"></i>&nbsp;Error日志</button>
    </td>
    <td class="mfb-xxt text-center"><button title="编辑" class="btn btn-success btn-xs" ng-click="openMrbstock('lg')"><i class="fa fa-pencil"></i></button>
        <button title="删除" class="btn btn-danger btn-xs"><i class="fa  fa-trash-o"></i></button>
        <button title="下载" class="btn btn-dangerdel btn-xs"><i class="fa fa-cloud-download"></i></button>
    </td>
</tr>
<tr>
    <td class="mfb-xt3 text-center">3</td>
    <!--<td><label class="checkbox-inline c-checkbox"><input type="checkbox" value="option5"><span class="fa fa-check"></span></label></td>-->
    <td class="mfb-xt text-left"><span class="label label-success-new"> Open </span></td>
    <td class="mfb-xxs text-left"><a href="#/promotion/detail" target="_blank">天猫国际双十一</a></td>
    <td class="mfb-xt text-center">特价宝</td>
    <td class="mfb-xxt text-center">2016.1.2</td>
    <td class="mfb-xxs text-left"></td>
    <td class="mfb-xxt text-center"><button title="编辑" class="btn btn-success btn-xs" ng-click="openMrbstock('lg')"><i class="fa fa-pencil"></i></button>
        <button title="删除" class="btn btn-danger btn-xs"><i class="fa  fa-trash-o"></i></button>
        <button title="下载" class="btn btn-dangerdel btn-xs"><i class="fa fa-cloud-download"></i></button>
    </td>
</tr>
<tr>
    <td class="mfb-xt3 text-center">4</td>
    <td class="mfb-xt text-left"><span class="label label-danger-new"> Close </span></td>
    <td class="mfb-xxs text-left"><a href="#/promotion/detail" target="_blank">天猫国际双十一</a></td>
    <td class="mfb-xt text-center">特价宝</td>
    <td class="mfb-xxt text-center">2016.1.2</td>
    <td class="mfb-xxs text-left"></td>
    <td class="mfb-xxt text-center"><button title="编辑" class="btn btn-success btn-xs" ng-click="openMrbstock('lg')"><i class="fa fa-pencil"></i></button>
        <button title="删除" class="btn btn-danger btn-xs"><i class="fa  fa-trash-o"></i></button>
        <button title="下载" class="btn btn-dangerdel btn-xs"><i class="fa fa-cloud-download"></i></button>
    </td>
</tr>
<tr>
    <td class="mfb-xt3 text-center">5</td>
    <!--<td><label class="checkbox-inline c-checkbox"><input type="checkbox" value="option5"><span class="fa fa-check"></span></label></td>-->
    <td class="mfb-xt text-left"><span class="label label-success-new"> Open </span></td>
    <td class="mfb-xxs text-left"><a href="#/promotion/detail" target="_blank">天猫国际双十一</a></td>
    <td class="mfb-xt text-center">库存隔离</td>
    <td class="mfb-xxt text-center">2016.1.2</td>
    <td class="mfb-xxs text-left">
        <a href="#/mrbstock/list" target="_blank"><button title="库存隔离明细" class="btn btn-default-vo btn-xs"><i class="fa fa-reorder"></i>&nbsp;库存隔离明细</button></a>
        <a href="#/mrbstock/add" target="_blank"><button title="增量库存隔离" class="btn btn-default-vo btn-xs"><i class="fa fa-reorder"></i>&nbsp;增量库存隔离</button></a>
        <button title="Error日志" class="btn btn-default-vo btn-xs"><i class="fa fa-cloud-download"></i>&nbsp;Error日志</button>
    </td>
    <td class="mfb-xxt text-center"><button title="编辑" class="btn btn-success btn-xs" ng-click="openMrbstock('lg')"><i class="fa fa-pencil"></i></button>
        <button title="删除" class="btn btn-danger btn-xs"><i class="fa  fa-trash-o"></i></button>
        <button title="下载" class="btn btn-dangerdel btn-xs"><i class="fa fa-cloud-download"></i></button>
    </td>
</tr>
<tr>
    <td class="mfb-xt3 text-center">6</td>
    <td class="mfb-xt text-left"><span class="label label-danger-new"> Close </span></td>
    <td class="mfb-xxs text-left"><a href="#/promotion/detail" target="_blank">天猫国际双十一</a></td>
    <td class="mfb-xt text-center">价格披露</td>
    <td class="mfb-xxt text-center">2016.1.2</td>
    <td class="mfb-xxs text-left">
        <a href="#/promotion/task/beat/1" target="_blank"><button title="任务明细" class="btn btn-default-vo btn-xs"><i class="fa fa-reorder"></i>&nbsp;任务明细</button></a>
    </td>
    <td class="mfb-xxt text-center"><button title="编辑" class="btn btn-success btn-xs" ng-click="openMrbstock('lg')"><i class="fa fa-pencil"></i></button>
        <button title="删除" class="btn btn-danger btn-xs"><i class="fa  fa-trash-o"></i></button>
        <button title="下载" class="btn btn-dangerdel btn-xs"><i class="fa fa-cloud-download"></i></button>
    </td>
</tr>