<div class="wrapper-md" ng-init="initialize()">
	<div class="vo_accordion vo_attr">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><i class="fa fa-codepen"></i>&nbsp;增量库存隔离任务</h4>
				</div>
				<div class="container-fluid m-t-xs m-b-xs">
					<div class="col-sm-12">
						<div class="col-sm-4">
							<div class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-3 control-label">任务名</label>
									<div class="col-sm-9">
										<input type="text" class="form-control">
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-3 control-label">平台</label>
									<div class="col-sm-9">
										<select class="form-control">
											<option>天猫</option>
											<option>京东</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12 text-center" ng-controller="popupCtrl">
							<div class="form-horizontal form-inline">
								<button class="btn btn-default" ng-click="clear()"><i class="fa fa-remove"></i>&nbsp;清除</button>
								<button class="btn btn-vo" ng-click="search()"><i class="fa fa-search"></i>&nbsp;搜索</button>
								<button class="btn btn-primary" ng-click="openAddMrbStockIncrement('md')"><i class="fa fa-plus"></i>&nbsp;新建增量隔离任务</button>
							</div><!-- .form-inline -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="box">
		<div class="box-body">
			<div class="table-responsive">
				<div class="col-sm-12 dropdown_table_main">
					<table class="table table-hover-new vo_table tableWordBreak" style="margin-bottom:0px" ng-controller="popupCtrl">
						<thead>
						<tr>
							<th class="mfb-xt text-center">No.</th>
							<th class="mfb-xxxs text-left">任务名</th>
							<th class="mfb-xxt text-left">平台</th>
							<th class="mfb-xxt text-center">操作</th>
							<th class="mfb-xt text-center">编辑</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td class="text-center">1</td>
							<td class="text-left">天猫国际双十一</td>
							<td class="text-left">天猫</td>
							<td class="text-center">
								<a href="#/promotion/task_stock_increment_detail/1" target="_blank"><button title="增量库存隔离" class="btn btn-default-vo btn-xs"><i class="fa fa-reorder"></i>&nbsp;增量库存明细</button></a>
							</td>
							<td class="text-center">
								<button title="编辑" class="btn btn-success btn-xs" ng-click="openAddMrbStockIncrement('md')"><i class="fa fa-pencil"></i></button>
								<button title="删除" class="btn btn-danger btn-xs"><i class="fa  fa-trash-o"></i></button>
							</td>
						</tr>
						<tr>
							<td class="text-center">2</td>
							<td class="text-left">天猫国际双十一</td>
							<td class="text-left">京东</td>
							<td class="text-center">
								<a href="#/promotion/task_stock_increment_detail/1" target="_blank"><button title="增量库存隔离" class="btn btn-default-vo btn-xs"><i class="fa fa-reorder"></i>&nbsp;增量库存明细</button></a>
							</td>
							<td class="text-center">
								<button title="编辑" class="btn btn-success btn-xs" ng-click="openAddMrbStockIncrement('md')"><i class="fa fa-pencil"></i></button>
								<button title="删除" class="btn btn-danger btn-xs"><i class="fa  fa-trash-o"></i></button>
							</td>
						</tr>
						<tr>
							<td class="text-center">3</td>
							<td class="text-left">天猫国际双十一</td>
							<td class="text-left">京东</td>
							<td class="text-center">
								<a href="#/promotion/task_stock_increment_detail/1" target="_blank"><button title="增量库存隔离" class="btn btn-default-vo btn-xs"><i class="fa fa-reorder"></i>&nbsp;增量库存明细</button></a>
							</td>
							<td class="text-center">
								<button title="编辑" class="btn btn-success btn-xs" ng-click="openAddMrbStockIncrement('md')"><i class="fa fa-pencil"></i></button>
								<button title="删除" class="btn btn-danger btn-xs"><i class="fa  fa-trash-o"></i></button>
							</td>
						</tr>
						<tr>
							<td class="text-center">4</td>
							<td class="text-left">天猫国际双十一</td>
							<td class="text-left">天猫</td>
							<td class="text-center">
								<a href="#/promotion/task_stock_increment_detail/1" target="_blank"><button title="增量库存隔离" class="btn btn-default-vo btn-xs"><i class="fa fa-reorder"></i>&nbsp;增量库存明细</button></a>
							</td>
							<td class="text-center">
								<button title="编辑" class="btn btn-success btn-xs" ng-click="openAddMrbStockIncrement('md')"><i class="fa fa-pencil"></i></button>
								<button title="删除" class="btn btn-danger btn-xs"><i class="fa  fa-trash-o"></i></button>
							</td>
						</tr>
						<tr>
							<td class="text-center">5</td>
							<td class="text-left">天猫国际双十一</td>
							<td class="text-left">天猫</td>
							<td class="text-center">
								<a href="#/promotion/task_stock_increment_detail/1" target="_blank"><button title="增量库存隔离" class="btn btn-default-vo btn-xs"><i class="fa fa-reorder"></i>&nbsp;增量库存明细</button></a>
							</td>
							<td class="text-center">
								<button title="编辑" class="btn btn-success btn-xs" ng-click="openAddMrbStockIncrement('md')"><i class="fa fa-pencil"></i></button>
								<button title="删除" class="btn btn-danger btn-xs"><i class="fa  fa-trash-o"></i></button>
							</td>
						</tr>
						<tr>
							<td class="text-center">6</td>
							<td class="text-left">天猫国际双十一</td>
							<td class="text-left">京东</td>
							<td class="text-center">
								<a href="#/promotion/task_stock_increment_detail/1" target="_blank"><button title="增量库存隔离" class="btn btn-default-vo btn-xs"><i class="fa fa-reorder"></i>&nbsp;增量库存明细</button></a>
							</td>
							<td class="text-center">
								<button title="编辑" class="btn btn-success btn-xs" ng-click="openAddMrbStockIncrement('md')"><i class="fa fa-pencil"></i></button>
								<button title="删除" class="btn btn-danger btn-xs"><i class="fa  fa-trash-o"></i></button>
							</td>
						</tr>
						</tbody>
					</table>
				</div><!-- .table-responsive -->
			</div>
		</div><!-- /.box-body -->
		<div class="m-t-xs">
			<vpagination config="vm.errorPageOption"></vpagination>
		</div>
	</div>
</div><!-- end .wrapper-md -->