<div class="wrapper-md" ng-init="$ctrl.init()">
	<div class="vo_accordion vo_attr" ng-show="$ctrl.hasAuthority">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><i class="fa fa-codepen"></i>&nbsp;{{'TXT_STOCK_SEPARATE_DETAIL' | translate}}</h4>
				</div>
				<div class="container-fluid" ng-controller="popupCtrl">
					<div class="col-sm-12">
						<div class="form-horizontal">
							<div ng-repeat="property in $ctrl.propertyList" class="form-group col-sm-3">
								<label class="col-sm-4 control-label">{{property.name}}</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" ng-model="property.value">
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-horizontal">
							<div class="form-group col-sm-3">
								<label class="col-sm-4 control-label">Model</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" ng-model="$ctrl.model">
								</div>
							</div>
							<div class="form-group col-sm-3">
								<label class="col-sm-4 control-label">Code</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" ng-model="$ctrl.code">
								</div>
							</div>
							<div class="form-group col-sm-3">
								<label class="col-sm-4 control-label">Sku</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" ng-model="$ctrl.sku">
								</div>
							</div>
							<div class="form-group col-sm-3">
								<label class="col-sm-4 control-label">{{'TXT_USABLE_STOCK' | translate}}</label>
								<div class="form-inline col-sm-8">
									<div class="col-sm-5 input-group">
										<input type="text" class="form-control" ng-model="$ctrl.qtyFrom">
									</div>
									&nbsp;~&nbsp;
									<div class="col-sm-5 input-group">
										<input type="text" class="form-control" ng-model="$ctrl.qtyTo">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-horizontal">
							<div class="form-group form-inline col-sm-3">
								<label class="col-sm-4 control-label">{{'TXT_SHOW_FLG' | translate}}</label>
								<div class="col-sm-8" style="padding-left:0px">
									<label ng-repeat="property in $ctrl.propertyList" class="checkbox-inline c-checkbox"><input type="checkbox" ng-model="property.show" ng-click="$ctrl.calculateCol(property.show)"><span class="fa fa-check"></span>&nbsp;{{property.name}}</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 text-center m-b-md" ng-controller="popupCtrl">
						<div class="form-horizontal form-inline">
							<button class="btn btn-default" ng-click="$ctrl.clear()"><i class="fa fa-remove"></i>&nbsp;{{'BTN_CLEAR' | translate}}</button>
							<button class="btn btn-vo" ng-click="$ctrl.search()"><i class="fa fa-search"></i>&nbsp;{{'BTN_SEARCH' | translate}}</button>
						</div><!-- .form-inline -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<tabset class="tab-container vo_nav-tabs" ng-show="$ctrl.hasAuthority">
		<!--right-btn-->
		<div class="form-inline pull-right btn-group">
			<label id="allNum" class="btn btn-default-vo btn-vo" ng-model="radioModel" uib-btn-radio="'总数'" ng-click="$ctrl.search('')">{{'TXT_ALL' | translate}}：{{$ctrl.allNum}}</label>
			<label class="btn btn-default-vo" ng-model="radioModel" uib-btn-radio="'未进行'" ng-click="$ctrl.search('0')">{{'TXT_READY' | translate}}：{{$ctrl.readyNum}}</label>
			<label class="btn btn-default-vo" ng-model="radioModel" uib-btn-radio="'等待隔离'" ng-click="$ctrl.search('1')">{{'TXT_WAITING_SEPARATE' | translate}}：{{$ctrl.waitingSeparateNum}}</label>
			<label class="btn btn-default-vo" ng-model="radioModel" uib-btn-radio="'隔离中'" ng-click="$ctrl.search('2')">{{'TXT_SEPARATING' | translate}}：{{$ctrl.separatingNum}}</label>
			<label class="btn btn-default-vo" ng-model="radioModel" uib-btn-radio="'隔离成功'" ng-click="$ctrl.search('3')">{{'TXT_STOCK_SEPARATE_SUCCESS' | translate}}：{{$ctrl.separateSuccessNum}}</label>
			<label class="btn btn-default-vo" ng-model="radioModel" uib-btn-radio="'隔离失败'" ng-click="$ctrl.search('4')">{{'TXT_STOCK_SEPARATE_FAILURE' | translate}}：{{$ctrl.separateFailureNum}}</label>
			<label class="btn btn-default-vo" ng-model="radioModel" uib-btn-radio="'等待还原'" ng-click="$ctrl.search('5')">{{'TXT_WAITING_REVERT' | translate}}：{{$ctrl.waitRevertNum}}</label>
			<label class="btn btn-default-vo" ng-model="radioModel" uib-btn-radio="'还原中'" ng-click="$ctrl.search('6')">{{'TXT_REVERTING' | translate}}：{{$ctrl.revertingNum}}</label>
			<label class="btn btn-default-vo" ng-model="radioModel" uib-btn-radio="'还原成功'" ng-click="$ctrl.search('7')">{{'TXT_REVERT_SUCCESS' | translate}}：{{$ctrl.revertSuccessNum}}</label>
			<label class="btn btn-default-vo" ng-model="radioModel" uib-btn-radio="'还原失败'" ng-click="$ctrl.search('8')">{{'TXT_REVERT_FAILURE' | translate}}：{{$ctrl.revertFailureNum}}</label>
			<label class="btn btn-default-vo" ng-model="radioModel" uib-btn-radio="'再修正'" ng-click="$ctrl.search('9')">{{'TXT_CHANGED' | translate}}：{{$ctrl.changedNum}}</label>
		</div><!-- /right-btn -->
		<!--tab-->
		<tab>
			<tab-heading><i class="glyphicons glyphicons-more-items text-default"></i>&nbsp;{{'TXT_STOCK_SEPARATE_DETAIL' | translate}}</tab-heading>
			<div class="box">
				<div class="table-responsive">
					<div class="col-sm-12">
						<div class="pull-right form-inline btn-group" ng-controller="popupCtrl">
							<button class="btn btn-dangers" ng-click="openImportStock('md',{'task_id':$ctrl.taskId,'platformList':$ctrl.platformList,'propertyList':$ctrl.propertyList,'parent_id':'1'})"><i class="fa fa-reply-all"></i>&nbsp;{{'BTN_IMPORT_ALL' | translate}}</button>
							<button class="btn btn-danger" ng-click="$ctrl.download()"><i class="glyphicon glyphicon-share-alt"></i>&nbsp;{{'BTN_EXPORT_ALL' | translate}}</button>
							<button class="btn btn-primary" ng-click="$ctrl.executeStockSeparation()"><i class="glyphicon glyphicon-play"></i>&nbsp;{{'BTN_START_REFRESH_ALL' | translate}}</button>
							<button class="btn btn-primarys"  ng-click="$ctrl.executeStockRevert()"><i class="glyphicon glyphicon-share-alt"></i>&nbsp;{{'BTN_REVERT_ALL' | translate}}</button>
						</div>
						<div class="pull-left">
							<div class="form-group form-inline" ng-controller="popupCtrl">
								<label class="control-label m-b-md m-r-xs ">{{'TXT_SET_ALL' | translate}}</label>
								<label class="control-label">
									<select class="form-control" id="selPlatform">
										<option ng-repeat="platform in $ctrl.platformList" class="form-control" value="{{platform.cartId}}">{{platform.cartName}}</option>
									</select>
								</label>
								<input type="text" class="form-control" placeholder="10%" id="percent">
								<label class="control-label m-l-xs m-r-xs text-vo"><i class="icon fa fa-bell-o"></i>&nbsp;{{'TXT_PLEASE_SET_PERCENT' | translate}}</label>
								<button class="btn btn-default" ng-click="$ctrl.setPercent()"><i class="glyphicon glyphicon-cog"></i>&nbsp;{{'BTN_SET' | translate}}</button>
								<button class="btn btn-vo" ng-click="$ctrl.saveRecord()"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;{{'BTN_SAVE' | translate}}</button>
								<button class="btn btn-success" ng-click="openNewMrbStockSku('md', $ctrl, $ctrl.search)"><i class="fa fa-plus"></i>&nbsp;{{'BTN_CREATE' | translate}}</button>
							</div>
						</div>
					</div>

					<div class="col-sm-12 dropdown_table_mains" if-no-rows="$ctrl.stockList.length">
						<table id="stock_separate_tbl" class="table table-hover-new vo_table" style="width:100%;margin-bottom:0px" ng-controller="selectRowsCtrl">
							<thead>
							<tr>
								<th class="text-center w3"><label class="checkbox-inline c-checkbox">
									<input type="checkbox" ng-click="selectAll($ctrl.stockSelList)" ng-checked="isAllSelected($ctrl.stockSelList)" ng-disabled="!$ctrl.stockList.length">
									<span class="fa fa-check"></span>&nbsp;{{'TXT_SELECT_ALL' | translate}}</label></th>
								<th class="text-center w5">Model</th>
								<th class="text-center w5">Code</th>
								<th class="text-center w10">Sku</th>
								<th ng-repeat="property in $ctrl.propertyList" class="text-center w10" ng-show="property.show">{{property.name}}</th>
								<th class="text-center w3">{{'TXT_USABLE_STOCK' | translate}}</th>
								<th ng-repeat-start="platform in $ctrl.platformList" class="text-center mfb-xt w5">{{platform.cartName}}</th>
								<th ng-repeat-end class="text-center w5">{{'TXT_STATUS' | translate}}</th>
								<th class="text-center w3">{{'TXT_OTHER' | translate}}</th>
								<th class="text-center w10">{{'TXT_ACTION' | translate}}</th>
								<th class="text-center w3">{{'BTN_EDIT' | translate}}</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="stock in $ctrl.stockList">
								<td class="text-center w3">
									<label class="checkbox-inline c-checkbox">
										<input type="checkbox" ng-model="$ctrl.stockSelList.selFlag[stock.sku]" ng-click="selectOne(stock.sku, $ctrl.stockSelList)" >
										<span class="fa fa-check"></span>
									</label></td>
								<td class="text-center w5">{{stock.model}}</td>
								<td class="text-center w5">{{stock.code}}</td>
								<td class="text-center w10">{{stock.sku}}</td>
								<td class="text-center w10" ng-repeat="property in $ctrl.propertyList" class="text-center w10" ng-show="property.show">{{stock[property.property]}}</th>
								<td class="text-center w3">{{stock.qty}}</td>
								<td ng-repeat-start="platform in stock.platformStock" class="text-center w5">
									<input ng-if="platform.status != null" class="form-control" ng-model="platform.separationQty">
									<span ng-if="platform.status == null">
								    {{'TXT_DYNAMIC' | translate}}
									</span>
								</td>
								<td ng-repeat-end class="text-center w5">
									<span ng-if="platform.status != null">
										{{platform.status}}
									</span>
									<span ng-if="platform.status == null">
								    /
									</span>
								</td>
								<td class="text-center w3">{{'TXT_DYNAMIC' | translate}}</td>
								<td class="text-center w10">
									<button class="btn btn-default-purple btn-xs" ng-click="$ctrl.executeStockSeparation(stock.sku)"><i class="glyphicon glyphicon-play"></i>&nbsp;{{'TXT_STARTUP' | translate}}</button>
									<button class="btn btn-default-green btn-xs" ng-click="$ctrl.executeStockRevert(stock.sku)"><i class="glyphicon glyphicon-share-alt"></i>&nbsp;{{'TXT_REVERT' | translate}}</button>
								</td>
								<td class="text-center w3">
									<button title="{{'BTN_SAVE' | translate}}" class="btn btn-vo btn-xs" ng-click="$ctrl.saveRecord($index)"><i class="glyphicon glyphicon-floppy-disk"></i></button>
									<button title="{{'BTN_DELETE' | translate}}" class="btn btn-danger btn-xs" ng-click="$ctrl.delRecord(stock.sku)"><i class="fa  fa-trash-o"></i></button>
								</td>
							</tr>

							</tbody>
						</table>
					</div><!-- .table-responsive -->
				</div>
				<div class="col-sm-12 m-t-md">
					<vpagination config="$ctrl.stockPageOption" total="$ctrl.stockPageOption.total"></vpagination>
				</div>
			</div>
			</tab>
		<tab>
			<tab-heading><i class="glyphicons glyphicons-more-items text-default"></i>&nbsp;{{'TXT_REAL_TIME_STOCK_STATUS' | translate}}</tab-heading>
			<div class="box">
				<div class="table-responsive">
					<div class="col-sm-12 dropdown_table_mains" if-no-rows="$ctrl.realStockList.length">
						<table class="table table-hover-new vo_table" style="width:100%;margin-bottom:0px" >
							<thead>
							<tr>
								<th class="text-center w5">Model</th>
								<th class="text-center w5">Code</th>
								<th class="text-center w10">Sku</th>
								<th ng-repeat="property in $ctrl.propertyList" class="text-center w10" ng-show="property.show">{{property.name}}</th>
								<th class="text-center w5" ng-if="$ctrl.realStockStatus == '0'">{{'TXT_AVAILABLE_STOCK' | translate}}</th>
								<th ng-repeat="platform in $ctrl.platformList" class="text-center w5">{{platform.cartName}}</th>
							</tr>
							</thead>
							<tbody ng-controller="popupCtrl">
							<tr ng-repeat="realStock in $ctrl.realStockList">
								<td class="text-center w5">{{realStock.model}}</td>
								<td class="text-center w5">{{realStock.code}}</td>
								<td class="text-center w10"> {{realStock.sku}}</td>
								<td class="text-center w10" ng-repeat="property in $ctrl.propertyList" class="text-center w10" ng-show="property.show">{{realStock[property.property]}}</th>
								<td class="text-center w5" ng-if="$ctrl.realStockStatus == '0'">{{realStock.qty}}</td>
								<td ng-repeat="platform in realStock.platformStock" class="text-center w5">
									<div class="form-inline btn-group">
										<span ng-if="platform.separationQty == -1">
										    <button title="{{'TXT_DYNAMIC' | translate}}" class="badge badge-empty btn-xs">{{'TXT_DYNAMIC' | translate}}</button>
										</span>
										<span ng-if="platform.separationQty != -1">
											<button title="{{'TXT_PLATFORM_SALE_QUANTITY' | translate}}" class="badge badge-empty btn-xs" ng-if="$ctrl.realStockStatus == '0'">{{platform.salesQty}}</button>
											<button title="{{'TXT_PLATFORM_STOCK_SEPARATE_QUANTITY' | translate}}" class="badge badge-empty btn-vo btn-xs" ng-click="openSkuMrbStockDetail('md', $ctrl.taskId, platform.cartId, realStock)">{{platform.separationQty}}</button>
										</span>
									</div>
								</td>
							</tr>
							</tbody>
						</table>
					</div><!-- .table-responsive -->
				</div>
				<div class="col-sm-12 m-t-md">
					<vpagination config="$ctrl.realStockPageOption" total="$ctrl.realStockPageOption.total"></vpagination>
				</div>
			</div>
			</tab>

	</tabset>
</div><!-- end .wrapper-md -->