<div class="wrapper">
    <!--进度条-->
    <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
            <span class="sr-only">60% Complete (warning)</span>
        </div>
    </div>

    <div class="progress">
        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
            <span class="sr-only">60% Complete (warning)</span>
        </div>
    </div>
    <p class="ims_text_pop">当前批量导入为 <span>18</span>，已批量导出为 <span>6</span>，大致完成所需的时间为：<span>3分40秒！</span></p>
</div><!-- .vo_modal -->