<div class="wrapper-md">
    <div class="vo_accordion vo_attr">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-reorder"></i>&nbsp;{{'TOOLS_COMMON_MASTER_BRAND_MAPPING' | translate}} </h4>
                </div>
                <div class="container-fluid m-t-xs m-b-xs">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="TXT_FEED_ALL_NUMBER"></label>
                                    <div class="col-sm-7">
                                        <input type="text" ng-model=" " class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="TXT_FEED_ALL_UNMAPPED_NUMBER"></label>
                                    <div class="col-sm-7">
                                        <input type="text" ng-model=" " class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="TXT_FEED_ALL_MAPPED_NUMBER"></label>
                                    <div class="col-sm-7">
                                        <input type="text" ng-model=" " class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center m-b-sm">
                        <div class="form-inline">
                            <button class="btn btn-vo"><i class="fa fa-search"></i>&nbsp;{{'TXT_SEARCH' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-body">
            <div class="table-responsive">
                <div class="col-sm-12 dropdown_table_main">
                    <table class="table table-hover-new vo_table tableWordBreak" >
                        <thead>
                            <tr>
                                <th class="mfb-xt3 text-center text-nowrap"></th>
                                <th class="mfb-xxt text-center text-nowrap"></th>
                                <th class="mfb-xx text-center text-nowrap"></th>
                                <th class="mfb-xx text-center text-nowrap"></th>
                                <th class="mfb-xx text-center text-nowrap"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="mfb-xt3 text-center"></td>
                                <td class="mfb-xxt text-center"></td>
                                <td class="mfb-xt text-center"></td>
                                <td class="mfb-xt text-center"></td>
                                <td class="mfb-xt text-center"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div if-no-rows="vm.modelList.length"></div>
                </div>

            </div>
            <div class="col-sm-12">
                <vpagination config="dataPageOption"></vpagination>
            </div>
        </div>

    </div>
</div>