<div class="wrapper-md" ng-init="initialize()" ng-controller="popupCtrl">
    <div class="vo_accordion vo_attr">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="glyphicon glyphicon-th"></i>&nbsp;活动详情</h4>
                </div>
                <div class="container-fluid m-t-xs m-b-xs">
                    <div class="col-sm-12">
                        <div class="col-sm-4"><!-- 聚美专场名称 -->
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" translate="TXT_JM_PROMOTION_NAME"></label>
                                    <div class="col-sm-8 yellowLink m-t-xs">
                                        <button title="{{'BTN_EDIT' | translate}}" class="btn btn-default btn-pop btn-xs"
                                                ng-click="openJmPromotionDetailWin()"><i class="fa fa-pencil"></i>
                                            {{parentModel.name}}
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label ng-scope" translate="TXT_JOIN_JM_PROMOTION_PRESALE_TIME"></label>
                                    <div class="col-sm-8">
                                        <input type="text" ng-model="parentModel.prePeriodStart" class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty ng-valid-date" uib-datepicker-popup="" is-open="datePicker5" date-model-format="yyyy-MM-dd" close-text="Close" max-date="vm.promotion.activityEnd" readonly><!-- ngIf: isOpen -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4"><!-- 变更产品数&活动时间 -->
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label ng-scope" translate="TXT_JM_PROMOTION_CHANGED_COUNT"></label>
                                    <div class="col-sm-8">
                                        <inpuut type="number" class="form-control" readonly>{{vm.changeCount}}</inpuut>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label ng-scope" translate="TXT_PROMOTION_TIME"></label>
                                    <div class="col-sm-9 form-inline">
                                        <div class="col-sm-5 input-group">
                                            <input type="text" ng-model="parentModel.activityStart" class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty ng-valid-date" uib-datepicker-popup="" is-open="datePicker5" date-model-format="yyyy-MM-dd" close-text="Close" max-date="vm.promotion.activityEnd" readonly><!-- ngIf: isOpen -->
                                        </div>&nbsp;~&nbsp;
                                        <div class="col-sm-5 input-group">
                                            <input type="text" ng-model="parentModel.activityEnd" class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty ng-valid-date" uib-datepicker-popup="" is-open="datePicker6" date-model-format="yyyy-MM-dd" close-text="Close" min-date="vm.promotion.activityStart" readonly><!-- ngIf: isOpen -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4"><!-- 活动备注 -->
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label ng-scope" translate="TXT_PROMOTION_COMMENTS"></label>
                                    <div class="col-sm-7">
                                        <textarea type="text" rows="4"  class="form-control no-resize" ng-model="parentModel.comment" disabled></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="container-fluid m-t-xs m-b-xs">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">商品名称</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="searchInfo.productNameCn"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" translate="TXT_JOIN_JM_CODE_SKU_SEARCH"></label>
                                    <div class="col-sm-8">
                                        <textarea type="text" rows="4" class="form-control no-resize" ng-model="searchInfo.code"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-sm-3 text-right">
                                        <button class="btn btn-pop btn-default" ng-click="platformCategoryMapping(popupNewCategory)">
                                            <i class="fa fa-arrow-circle-right"></i>&nbsp;聚美类目
                                        </button>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="searchInfo.pCatPath" ng-readonly="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">颜色</label>

                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="searchInfo.colorEn">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">品牌</label>
                                    <div class="col-sm-8">
                                        <select search-contains="true" multiple chosen  class="form-control" ng-model="searchInfo.listBrandName"
                                                ng-options="brand.value as brand.name for brand in vm.brandList">
                                            <option value="">{{'TXT_SELECT_NO_VALUE' | translate}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">折扣</label>

                                    <div class="col-sm-8 form-inline">
                                        <div class="input-group col-sm-4">
                                            <input type="number" value=""  style="ime-mode:disabled;" onpaste="return false;" onkeypress="if((event.keyCode<48||event.keyCode>57) && event.keyCode!=46){return false;}" class="form-control" ng-model="searchInfo.beginDiscount"
                                                   placeholder="from"></div>
                                        &nbsp;~&nbsp;
                                        <div class="input-group col-sm-4">
                                            <input type="number" value=""  style="ime-mode:disabled;" onpaste="return false;" onkeypress="if((event.keyCode<48||event.keyCode>57) && event.keyCode!=46){return false;}" class="form-control" ng-model="searchInfo.endDiscount"
                                                   placeholder="to"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">价格</label>
                                    <div class="col-sm-8" style="padding-left:0px">
                                        <select class="form-control" ng-model="searchInfo.priceType">
                                            <option value="" translate="TXT_SELECT_NO_VALUE"></option>
                                            <option value="dealPrice">当前活动售价</option>
                                            <option value="salePrice">中国最终售价</option>
                                            <option value="retailPrice">中国指导售价</option>
                                            <option value="msrpRmb">中国官方售价</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="col-sm-8 form-inline">
                                        <div class="input-group col-sm-4">
                                            <input type="text" class="form-control" ng-model="searchInfo.beginPrice" placeholder="from"/>
                                        </div>
                                        &nbsp;~&nbsp;
                                        <div class="input-group col-sm-4">
                                            <input type="text" class="form-control" ng-model="searchInfo.endPrice" placeholder="to"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" translate="TXT_PROMOTION_PRODUCT_STATUS"></label>
                                    <div class="col-sm-8">
                                        <label class="checkbox-inline c-checkbox">
                                            <input type="checkbox" value="0" ng-model="searchInfo.synchStatus0" style="margin:0">
                                            <span class="fa fa-check"></span> 未上传
                                        </label>
                                        <label class="checkbox-inline c-checkbox">
                                            <input type="checkbox" value="1" ng-model="searchInfo.allStatus1" style="margin:0">
                                            <span class="fa fa-check"></span> 处理中
                                        </label>
                                        <label class="checkbox-inline c-checkbox">
                                            <input type="checkbox" value="2" ng-model="searchInfo.synchStatus2" style="margin:0">
                                            <span class="fa fa-check"></span> 已上传
                                        </label>
                                        <label class="checkbox-inline c-checkbox">
                                            <input type="checkbox" value="3" ng-model="searchInfo.allErrorStatus" style="margin:0">
                                            <span class="fa fa-check"></span> 上传失败
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Promotion Tag</label>
                                    <div class="col-sm-8">
                                        <select multiple chosen class="form-control" ng-model="searchInfo.tagIdList"
                                                ng-options="m.id as m.tagName for m in vm.tagList">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">产品变更标签</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="searchInfo.updateStatus">
                                            <option value="" translate="TXT_SELECT_NO_VALUE"></option>
                                            <option value="1">有变更</option>
                                            <option value="0">无变更</option>
                                            <option value="2">已变更</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center m-b-xs" >
                            <div class="form-horizontal form-inline">
                                <button class="btn btn-default" ng-click="clear()"><i class="fa fa-remove"></i>&nbsp;清除</button>
                                <button class="btn btn-vo" ng-click="search()"><i class="fa fa-search"></i>&nbsp;搜索</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="form-inline pull-right m-b-xs" >
            <button class="btn btn-default" ng-click="openJmPromotionProductImportWin()" ng-hide="vm.isEnd"><i class="fa fa-reply-all"></i>&nbsp;导入 </button>
            <div class="btn-group dropdown" uib-dropdown=""  ng-if="vm.modelList.length">
                <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                    <i class="glyphicon glyphicon-share-alt"></i>&nbsp;导出&nbsp;<span class="caret"></span>
                </button>
                <ul uib-dropdown-menu="" class="ng-scope dropdown-menu">
                    <li><a href="" ng-click="addExport(0)">按上新模板</a></li>
                </ul>
            </div>
            <div class="btn-group dropdown" uib-dropdown="">
                <button ng-disabled="!vm.modelList.length" type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-arrow-circle-right"></i>&nbsp;全量操作&nbsp;<span class="caret"></span>
                </button>
                <ul uib-dropdown-menu="" class="ng-scope dropdown-menu">
                    <li><a href="" ng-click="deleteAllProduct();" ng-if="!vm.isBegin&&!vm.isEnd">全量清空</a></li>
                    <li><a href="" ng-click="copyDealAll()" ng-if="!vm.isBegin&&!vm.isEnd&&vm.isUpdateJM">全量上传</a></li>
                    <li><a href="" ng-click="synchAllPrice()" ng-if="!vm.isBegin&&!vm.isEnd&&vm.isUpdateJM">全量同步价格</a></li>
                    <li><a href="" ng-click="openDealExtensionWin()" ng-hide="!vm.isUpdateJM&&!vm.isEnd">全量Deal延期</a></li>
                </ul>
            </div>
            <div class="btn-group dropdown" uib-dropdown="" >
                <button ng-disabled="!vm.modelList.length" type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-arrow-circle-right"></i>&nbsp;批量操作&nbsp;<span class="caret"></span>
                </button>
                <ul uib-dropdown-menu="" class="ng-scope dropdown-menu">
                    <li><a href="" ng-click="batchDeleteProduct()">批量清空</a></li>
                    <li><a href="" ng-click="batchCopyDeal()" ng-if="!vm.isEnd && vm.isUpdateJM">批量上传</a></li>
                    <li><a href="" ng-click="batchSynchPrice()" ng-if="!vm.isEnd && vm.isUpdateJM">批量同步价格</a></li>
                    <li><a href="" ng-click="openPriceModifyWin()" ng-if="!vm.isEnd && vm.isUpdateJM">批量变更价格</a></li>
                </ul>
            </div>
            <div class="btn-group dropdown" uib-dropdown="" >
                <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-arrow-circle-right"></i>&nbsp;专场变更&nbsp;<span class="caret"></span>
                </button>
                <ul uib-dropdown-menu="" class="ng-scope dropdown-menu">
                    <li><a href="" ng-click="openJmPromotionDetailWin()">编辑专场</a></li>

                </ul>
            </div>
        </div>
        <tabset class="tab-container vo_nav-tabs">
            <tab>
                <tab-heading>Product 详情</tab-heading>
                <div class="box">
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table table-hover-new vo_table dropdown_table_main" style="margin-bottom:0px;table-layout: fixed;">
                                <thead>
                                <tr>
                                    <th class="mfb-xt3 text-left">
                                        <label class="checkbox-inline c-checkbox">
                                            <input type="checkbox"  ng-click="selectAll($event)" ng-true-value="true" ng-false-value="false"/>
                                            <span class="fa fa-check"></span></label>
                                    </th>
                                    <th class="text-left">Product Image</th>
                                    <th class="text-left">商品代码</th>
                                    <th class="text-left">聚美商品名称</th>
                                    <th class="text-left">Tag Name</th>
                                    <th class="text-left">Color</th>
                                    <th class="text-right mfb-xxx">Price</th>
                                    <th class="text-right">聚美价格</th>
                                    <th class="text-right">聚美MallId</th>
                                    <th class="text-left">聚美Hash ID</th>
                                    <th class="text-center">折扣</th>
                                    <th class="text-center">SKU数</th>
                                    <th class="text-left">错误消息</th>
                                    <th class="text-left">库存数</th>
                                    <th class="text-left">备注</th>
                                    <th class="text-left">Status</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </thead>
                                <tbody ng-if="vm.modelList.length">
                                <tr ng-repeat="model in vm.modelList" >
                                    <td class="mfb-xt3 text-left"><label class="checkbox-inline c-checkbox"><input type="checkbox"
                                                                                                                   ng-true-value="true"
                                                                                                                   ng-false-value="false"
                                                                                                                   ng-model="model.isChecked"><span
                                            class="fa fa-check"></span></label></td>
                                    <td><img-by-name name="model.image1" class="thumb-sm-search pull-left m-r"></img-by-name></td>
                                    <td>{{model.productCode}}</td>
                                    <td class="text-left"><a href="javascript:void(0)"  ng-click="openProductDetailWin({promotionProductId:model.id})">
                                        {{model.productLongName}}  </a>
                                    </td>
                                    <td>
                                        <select multiple chosen class="form-control"  ng-change="changeSelectTag(model)" ng-model="model.tagNameList"
                                                ng-options="m.tagName as m.tagName for m in vm.tagList">
                                        </select>
                                    </td>

                                    <td class="text-left">
                                        <div class="table_main">
                                            <ul>
                                                <li>{{model.colorEn}}</li>
                                                <li>{{model.attribute}}</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <div class="table_main">
                                            <ul>
                                                <li>海外官网价格:{{getMinMaxPrice(model.minMsrpUsd,model.maxMsrpUsd)}}</li>
                                                <li>中国官网售价:{{getMinMaxPrice(model.minMsrpRmb,model.maxMsrpRmb)}}</li>
                                                <li>中国指导售价:{{getMinMaxPrice(model.minRetailPrice,model.maxRetailPrice)}}</li>
                                                <li>中国最终售价:{{getMinMaxPrice(model.minSalePrice,model.maxSalePrice)}}</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <div class="table_main" style="width: 100px;">
                                            <ul>
                                                <li>市场价:{{getMarketPrice(model)}}</li>
                                                <li>团购价:{{getDealPrice(model)}}</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td class="text-left">{{model.jumeiMallId}}</td>
                                    <td class="text-left">{{model.jmHashId}}</td>
                                    <td class="text-center">{{model.discount == 0 || model.discount == undefined ? '0折' : (model.discount*10).toFixed(2) + '折'}}</td>
                                    <td class="text-center">
                                        {{model.skuCount}}
                                    </td>
                                    <td>
                                        <a ng-controller="showPopoverCtrl" popover-html="showInfo('{{model.errorMsg}}')"
                                           popover-placement="left" class="ng-scope">
                                            <div class="table_main">
                                                <ul>
                                                    <li>{{getErrorMsg(model.errorMsg)}}</li>
                                                </ul>
                                            </div>
                                        </a>
                                    </td>
                                    <td>{{model.quantity}}</td>
                                    <td><textarea  ng-model="model.remark" > </textarea></td>
                                    <td >{{getStatus(model)}}</td>
                                    <td class="text-center">
                                        <button title="重刷" class="btn btn-success btn-xs" ng-click="updateJM(model.id)"><i class="fa fa-refresh"></i>
                                        </button>
                                        <button title="编辑" class="btn btn-success btn-xs"
                                                ng-click="openProductDetailWin({promotionProductId:model.id})">
                                            <i class="fa fa-pencil"></i></button>
                                        <button title="删除" class="btn btn-danger btn-xs" ng-click="del(model)"><i class="fa fa-trash-o"></i></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div if-no-rows="vm.modelList.length"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 m-t-lg m-b-lg">
                        <vpagination config="dataPageOption"></vpagination>
                    </div>
                </div>
            </tab>

            <tab ng-click="searchImport()">
                <tab-heading>导入任务一览</tab-heading>
                <div class="table-responsive">
                    <table class="table table-hover-new vo_table" style="table-layout: fixed;">
                        <thead>
                        <tr>
                            <th class="text-left">导入文件</th>
                            <th class="text-center" style="width:100px">成功件数</th>
                            <th class="text-center" style="width:100px">失败件数</th>
                            <th class="text-left">导入开始时间</th>
                            <th class="text-left">导入结束时间</th>
                            <th class="text-left" style="width:300px">异常信息</th>
                            <th class="text-left">失败文件</th>
                            <th class="text-center">操作</th>
                        </tr>
                        </thead>
                        <tbody ng-if="vm.cmsBtJmPromotionImportTaskList.length">
                        <tr ng-repeat="model in vm.cmsBtJmPromotionImportTaskList">
                            <td class="text-left"><a ng-click="downloadImportExcel(model.id)">{{model.originFileName}}</a></td>
                            <td class="text-center">{{model.successRows}}</td>
                            <td class="text-center">{{model.failuresRows}}</td>
                            <td class="text-left">{{model.beginTime}}</td>
                            <td class="text-left">{{model.endTime}}</td>
                            <td class="text-left">
                                <a ng-controller="showPopoverCtrl" popover-html="showInfo('{{model.errorMsg}}')"
                                   popover-placement="left" class="ng-scope">
                                    <div class="table_main">
                                        <ul>
                                            <li>{{getErrorMsg(model.errorMsg)}}</li>
                                        </ul>
                                    </div>
                                </a>
                            </td>
                            <td class="text-left"><a ng-click="downloadImportErrorExcel(model.id);">{{model.failuresFileName}}</a></td>
                            <td class="text-center">
                                <button title="下载" ng-click="downloadImportExcel(model.id)" class="btn btn-danger btn-xs"><i
                                        class="fa fa-download"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </tab>
            <tab ng-click="searchExport()">
                <tab-heading>导出任务一览</tab-heading>
                <div class="table-responsive">
                    <table class="table table-hover-new vo_table" style="table-layout: fixed;">
                        <thead>
                        <tr>
                            <th class="text-left">导出模板类型</th>
                            <th class="text-left">导出文件名</th>
                            <th class="text-center" style="width:100px">成功件数</th>
                            <th class="text-left">导出开始时间</th>
                            <th class="text-left">导出结束时间</th>
                            <th class="text-center">异常信息</th>
                            <th class="text-center">操作</th>
                        </tr>
                        </thead>
                        <tbody ng-if="vm.cmsBtJmPromotionExportTaskList.length">
                        <tr ng-repeat="model in vm.cmsBtJmPromotionExportTaskList">
                            <td class="text-left" ng-if="model.templateType==0">上新模板</td>
                            <td class="text-left" ng-if="model.templateType==1">价格修改</td>
                            <td class="text-left" ng-if="model.templateType==2">专场模板</td>
                            <td class="text-left">{{model.fileName}}</td>
                            <td class="text-center">{{model.successRows}}</td>
                            <td class="text-left">{{model.beginTime}}</td>
                            <td class="text-left">{{model.endTime}}</td>
                            <td class="text-center">
                                <a ng-controller="showPopoverCtrl" popover-html="showInfo('{{model.errorMsg}}')"
                                   popover-placement="left" class="ng-scope">
                                    <div class="table_main">
                                        <ul>
                                            <li>{{getErrorMsg(model.errorMsg)}}</li>
                                        </ul>
                                    </div>
                                </a>
                            </td>
                            <td class="text-center">
                                <button title="下载" ng-disabled="!model.isExport" ng-click="downloadExportExcel(model.id);"
                                        class="btn btn-danger btn-xs"><i class="fa fa-download"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </tab>
        </tabset>
    </div>
</div>