<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="defaultStatementTimeout" value="20000" />
	</settings>
	
	<typeAliases>
		<!-- financial data bean -->
		<typeAlias alias="bi.BillBean" type="com.voyageone.bi.bean.BillBean" />
		<typeAlias alias="bi.BillErrorBean" type="com.voyageone.bi.bean.BillErrorBean" />
		<typeAlias alias="bi.IncidentalsBean" type="com.voyageone.bi.bean.IncidentalsBean" />
		<typeAlias alias="bi.TaxBean" type="com.voyageone.bi.bean.TaxBean" />
		<typeAlias alias="bi.TaxDetailBean" type="com.voyageone.bi.bean.TaxDetailBean" />
		<typeAlias alias="bi.TranspotationBean" type="com.voyageone.bi.bean.TranspotationBean" />
		<typeAlias alias="bi.DetailReportDisBean" type="com.voyageone.bi.disbean.DetailReportDisBean" />
		<typeAlias alias="bi.MonthlyReportDisBean" type="com.voyageone.bi.disbean.MonthlyReportDisBean" />
		<typeAlias alias="bi.TaxDetailReportDisBean" type="com.voyageone.bi.disbean.TaxDetailReportDisBean" />
		<typeAlias alias="bi.BillErrorExplanationBean" type="com.voyageone.bi.bean.BillErrorExplanationBean" />
	</typeAliases>
</configuration>
