<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.wms.sql">

    <resultMap id="backorderMap" type="com.voyageone.wms.formbean.FormBackorder">
        <result column="store_id" property="store_id"/>
		<result column="store_name" property="store_name"/>
        <result column="sku" property="sku"/>
        <result column="created" property="created"/>
        <result column="creater" property="creater"/>
        <result column="modified" property="modified"/>
        <result column="modifier" property="modifier"/>
    </resultMap>

    <select id="wms_backorder_getBackorderList" parameterType="com.voyageone.wms.formbean.FormBackorder" resultMap="backorderMap">
		select t.seq,
			   t.sku,
		       t.store_id,
		       t1.store_name,
		       t.modifier,
		       date_format(t.modified, '%Y-%m-%d %H:%i:%s') modified
		  from wms_bt_backorder t,
		       wms_mt_store t1
		 where t.active = '1'
		   and t.store_id = t1.store_id
		<if test="orderChannelId != null and orderChannelId.size() != 0 ">
			and t.order_channel_id in
			<foreach item="item" index="index" collection="orderChannelId" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="sku != null and sku != '' ">
			and t.sku like concat(#{sku}, '%')
		</if>
		<if test="store_id != null and store_id != '' ">
			and t.store_id = #{store_id}
		</if>
		order by t.modified desc
		<if test="rows != 0">
			limit #{offset}, #{rows}
		</if>
	</select>

	<update id="wms_backorder_updateBackorderInfo" parameterType="com.voyageone.wms.formbean.FormBackorder">
		update wms_bt_backorder t
		   set t.active = #{active},
		       t.modified = now(),
		       t.modifier = #{modifier}
		 where t.seq = #{seq};
	</update>

	<insert id="wms_backorder_insertBackorderInfo" parameterType="com.voyageone.wms.formbean.FormBackorder">
		insert into
            wms_bt_backorder
            (
            order_channel_id,
            store_id,
            sku,
            active,
            created,
            creater,
            modified,
            modifier
            )
        value
            (
            #{order_channel_id},
            #{store_id},
            #{sku},
            '1',
            now(),
            #{creater},
            now(),
            #{modifier}
            );
	</insert>

	<select id="wms_backorder_getBackorderListSize" parameterType="com.voyageone.wms.formbean.FormBackorder" resultType="int">
		select count(1) as count
		  from wms_bt_backorder t
		 where t.active = '1'
		<if test="orderChannelId != null and orderChannelId.size() != 0 ">
			and t.order_channel_id in
			<foreach item="item" index="index" collection="orderChannelId" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="sku != null and sku != '' ">
			and t.sku like concat(#{sku}, '%')
		</if>
		<if test="store_id != null and store_id != '' ">
			and t.store_id = #{store_id}
		</if>
	</select>

	<select id="wms_backorder_isExistsSkuByReservationID" resultType="int">
		select
			count(1)
		from
			wms_bt_backorder backorder,
			tt_reservation reservation
		where
			backorder.order_channel_id = reservation.order_channel_id
		and
			backorder.store_id = reservation.store_id
		and
			backorder.sku = reservation.sku
		and
			reservation.id = #{reservationID}
		AND
			backorder.active = '1'
	</select>

	<select id="wms_store_getStoreInventoryManager" resultType="String">
		select
			store.inventory_manager
		from
			wms_mt_store store,
			tt_reservation reservation
		where
			store.order_channel_id = reservation.order_channel_id
		and
			store.store_id = reservation.store_id
		and
			reservation.id = #{reservationID}
	</select>

	<insert id="wms_backorder_insertSkuByReservationID">
		insert into
            wms_bt_backorder
            (
            seq,
            order_channel_id,
            store_id,
            sku,
            active,
            created,
            creater,
            modified,
            modifier
            )
            (
            select
            	null,
				order_channel_id,
				store_id,
				sku,
				'1',
				now(),
				#{userName},
				now(),
				#{userName}
			from
				tt_reservation
			where
				id = #{reservationID}
            );
	</insert>

	<update id="wms_backorder_deleteSkuByReservationID">
		update
			wms_bt_backorder backorder,
			tt_reservation reservation
		SET
			backorder.active = '0',
			backorder.modified = now(),
			backorder.modifier = #{userName}
		where
			backorder.order_channel_id = reservation.order_channel_id
		and
			backorder.store_id = reservation.store_id
		and
			backorder.sku = reservation.sku
		and
			reservation.id = #{reservationID}
		AND
			backorder.active = '1'
	</update>

	<select id="wms_backorder_skuIsExist" parameterType="com.voyageone.wms.formbean.FormBackorder" resultType="int">
		select count(1)
		 from wms_bt_item_details t
		where t.sku = #{sku}
		and t.order_channel_id = #{order_channel_id}
	</select>
</mapper>
