<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.wms.sql">

    <resultMap id="reportMap" type="com.voyageone.wms.formbean.FormReportBean">
        <result column="sku" property="sku"/>
		<result column="initInv" property="initInv"/>
        <result column="po" property="po"/>
        <result column="sell" property="sell"/>
        <result column="returns" property="returns"/>
        <result column="wit" property="wit"/>
        <result column="currInv" property="currInv"/>
    </resultMap>

    <select id="wms_report_getInvDelList" parameterType="com.voyageone.wms.formbean.FormReportBean" resultMap="reportMap">
		select details.sku,
			   if(transfer.initInv is null or transfer.initInv = 0, '', transfer.initInv) initInv,
			   if(transfer.po is null or transfer.po = 0, '', transfer.po) as po,
			   if(transfer.sell is null or transfer.sell = 0, '', transfer.sell) as sell,
			   if(transfer.returns is null or transfer.returns = 0, '', transfer.returns) as returns,
			   if(transfer.wit is null or transfer.wit = 0, '', transfer.wit) as wit,
			   if(transfer.currInv is null or transfer.currInv = 0, '', transfer.currInv) as currInv
		  from wms_bt_item_details details
		  left join
			   (
				 select order_channel_id,
					    store_id,
					 	sku,
					    sum(initInv) initInv,
					    sum(po) po,
					    sum(sell) sell,
					    sum(returns) returns,
					    sum(wit) wit,
					    sum(currInv) currInv
				   from (
						  select transfer.order_channel_id,
								 transfer.store_id,
								 item.transfer_sku sku,
								 if(transfer.created &lt; #{fromDateGMT}, item.calc_qty, 0) initInv,
								 if(transfer.transfer_type = '3' and transfer.created &lt;=#{toDateGMT} and transfer.created &gt;=#{fromDateGMT}, item.calc_qty, 0) as po,
								 if(transfer.transfer_type = '2' and transfer.created &lt;=#{toDateGMT} and transfer.created &gt;=#{fromDateGMT}, item.transfer_qty, 0) as sell,
								 if(transfer.transfer_type = '1' and transfer.created &lt;=#{toDateGMT} and transfer.created &gt;=#{fromDateGMT}, item.calc_qty,0) as returns,
								 if(transfer.transfer_type = '4' and transfer.created &lt;=#{toDateGMT} and transfer.created &gt;=#{fromDateGMT}, item.transfer_qty,0) as wit,
								 if(transfer.created &lt;= #{toDateGMT}, item.calc_qty, 0) currInv
							from wms_bt_transfer transfer,
								 wms_bt_transfer_item item
						   where transfer.order_channel_id = #{order_channel_id}
							 and transfer.transfer_id = item.transfer_id
							 and transfer.created &gt;= (select ifnull(max(history_time), 0)
														   from wms_bt_inventory_history t
														  where t.order_channel_id = #{order_channel_id}
						   							        and t.history_time &lt; #{fromDateGMT}
						   								)
						   union ALL
						  select order_channel_id,
								 t.store_id,
								 t.sku,
								 t.qty,
								 0,0,0,0,
								 t.qty
							from wms_bt_inventory_history t
						   where t.history_time = (
							   						select ifnull(max(history_time), 0)
													  from wms_bt_inventory_history t
													 where t.order_channel_id = #{order_channel_id}
													   and t.history_time &lt; #{fromDateGMT}
						   						  )
					   ) tempTable
				   group by order_channel_id, sku, store_id
		       ) transfer
			on details.order_channel_id = transfer.order_channel_id and details.sku = transfer.sku
		 where details.order_channel_id = #{order_channel_id}
		 order by details.sku
	</select>

</mapper>
