<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.wms.sql">

    <!-- 获得reservationLog信息 -->
    <resultMap id="reservationMap" type="com.voyageone.wms.formbean.FormReservation">
        <result column="reservation_id" property="reservation_id"/>
        <result column="order_number" property="order_number"/>
        <result column="sku" property="sku"/>
        <result column="product" property="product"/>
        <result column="store_name" property="store_name"/>
        <result column="res_status" property="res_status_id"/>
        <result column="ship_channel" property="ship_channel"/>
        <result column="res_note" property="res_note"/>
        <result column="modified" property="modified"/>
        <result column="modifier" property="modifier"/>
        <result column="created" property="created"/>
        <result column="creater" property="creater"/>
    </resultMap>
    <select id="wms_reservation_getReservationLogInfo" parameterType="com.voyageone.wms.formbean.FormReservation" resultMap="reservationMap">
    	select reservation_id,
    	       store_id,
			   order_number,
		       sku,
			   product,
		   	   res_status,
		   	   ship_channel,
		       res_note,
			   date_format(modified, '%Y-%m-%d %H:%i:%s') modified,
			   modifier,
			   date_format(created, '%Y-%m-%d %H:%i:%s') created,
               creater
 		  from wms_bt_reservation_log
         where reservation_id = #{reservation_id}
  	     order by modified desc
        <if test="rows != 0">
            limit #{offset}, #{rows}
        </if>

    </select>
    
	<sql id="reservationInfo_Search_condition">
		<where>
			<if test="reservation_id != null and reservation_id != '' ">
				and id = #{reservation_id}
			</if>
			<if test="order_number != null and order_number != '' ">
				and order_number = #{order_number}
			</if>
			<if test="synShipNo != null and synShipNo != '' ">
				and syn_ship_no = #{synShipNo}
			</if>
			<if test="source_order_id != null and source_order_id != '' ">
				and source_order_id = #{source_order_id}
			</if>
			<if test="store_id != null and store_id != 0 ">
				and store_id = #{store_id}
			</if>
			<if test="res_status_id != null and res_status_id != '' ">
				and status = #{res_status_id}
			</if>
			<if test="order_channel_id != null and order_channel_id != '' ">
				and order_channel_id = #{order_channel_id}
			</if>
			<if test="ship_channel != null and ship_channel != '' ">
				and ship_channel = #{ship_channel}
			</if>
			<if test="isLock != null and isLock != '' ">
				and isLock = #{isLock}
			</if>	
			<if test="hasIdCard != null and hasIdCard != '' ">
				and hasIdCard = #{hasIdCard}
			</if>
			<if test="orderDateTime_s != null and orderDateTime_s != '' ">
				and order_date_time &gt;= #{orderDateTime_s}
			</if>	
			<if test="orderDateTime_e != null and orderDateTime_e != '' ">
				and order_date_time &lt;= #{orderDateTime_e}
			</if>
			<if test="order_status != null and order_status != '' ">
				and se_status = #{order_status}
			</if>
			<if test="cart_id != null and  cart_id != 0 ">
				and cart_id = #{cart_id, jdbcType = INTEGER}
			</if>
            <if test="companyStoreList != null and companyStoreList.size() != 0 ">
                AND store_id in
                <foreach collection="companyStoreList" item="store"  open="(" separator="," close=")">
                    #{store.store_id}
                </foreach>
            </if>
            <if test="companyShopList != null and companyShopList.size() != 0">
                AND cart_id in
                <foreach collection="companyShopList" item="shop"  open="(" separator="," close=")">
                    #{shop.cart_id}
                </foreach>
            </if>
            <if test="companyOrdChannelList != null and companyOrdChannelList.size() != 0">
                AND order_channel_id in
                <foreach collection="companyOrdChannelList" item="orderChannelId"  open="(" separator="," close=")">
                    #{orderChannelId}
                </foreach>
            </if>
		</where>
	</sql>
        <!-- 获得reservationLog信息 -->
    <resultMap id="reservationInfoMap" type="com.voyageone.wms.formbean.FormReservation">
    	<result column="rowNo" property="rowNo"/>
        <result column="id" property="reservation_id"/>
        <result column="order_number" property="order_number"/>
        <result column="syn_ship_no" property="synShipNo"/>
        <result column="source_order_id" property="source_order_id"/>
        <result column="sku" property="sku"/>
        <result column="product" property="product"/>
        <result column="store_id" property="store_id"/>
        <result column="store_name" property="store_name"/>
        <result column="status" property="res_status_id"/>
        <result column="status_name" property="res_status_name"/>
        <result column="se_status" property="order_status"/>
        <result column="order_channel_id" property="order_channel_id"/>
        <result column="ship_channel" property="ship_channel"/>
        <result column="isLock" property="isLock"/>
        <result column="hasIdCard" property="hasIdCard"/>
        <result column="order_date_time" property="orderDateTime"/>
        <result column="itemCode" property="itemCode"/>
        <result column="description" property="description"/>
        <result column="inventory_qty" property="inventory_qty"/>
        <result column="openRes_qty" property="openRes_qty"/>
        <result column="newOrd_qty" property="newOrd_qty"/>
        <result column="inProcess_qty" property="inProcess_qty"/>
        <result column="note" property="res_note"/>
        <result column="create_time" property="created"/>
        <result column="update_time" property="modified"/>
        <result column="image_path" property="image_path"/>
        <result column="transfer_type" property="transfer_type"/>
        <result column="transfer_origin" property="transfer_origin"/>
        <result column="product_name" property="product"/>
    </resultMap>
    <select id="wms_reservation_getReservationInfo" parameterType="com.voyageone.wms.formbean.FormReservation" resultMap="reservationInfoMap">
    	select t.id,
			   t.order_number,
			   t.syn_ship_no,
			   t.source_order_id,
		       t.sku,
			   t.product,
               t.store_id,
               t.status,
		   	   t.se_status,
               t.order_channel_id,
			   t.ship_channel,
			   if(t.isLock = '1', 'Y', 'N') isLock,
			   if(t.hasIdCard = '1', 'Y', 'N') hasIdCard,
			   t.order_date_time,
               t.note,
               t.create_time,
               t.update_time
 		  from viw_wms_rsv_info t
 		  	   <include refid="reservationInfo_Search_condition"/>
  	     order by t.create_time desc, t.order_date_time desc
 		 <if test="rows != 0">
			limit #{offset}, #{rows}
		 </if>
    </select>
    <select id="wms_reservation_getChangeStoreFlg"  resultType="int">
        SELECT
            count(1)
        FROM
            wms_mt_store store
        WHERE
            store.order_channel_id = #{order_channel_id}
        AND
            store.store_id = #{store_id}
        AND
            store.inventory_manager = '0'
    </select>
    
    <select id="wms_reservation_getReservationListSize" parameterType="com.voyageone.wms.formbean.FormReservation" resultType="int">
    	select count(1)
 		  from viw_wms_rsv_info t
 		       <include refid="reservationInfo_Search_condition"/>
    </select>

    <sql id="pickupInfo_Search_condition">
        WHERE
        create_time between #{from} and #{to}
        <if test="store_id != null and store_id != 0">
            AND store_id = #{store_id}
        </if>
        <if test="status != null and status != ''">
            AND status = #{status}
        </if>
        <if test="order_number != null and order_number != 0">
            AND order_number = #{order_number}
        </if>
        <if test="id != null and id != 0 ">
            AND id = #{id}
        </if>
        <if test="sku != null and sku != ''">
            AND sku like CONCAT(#{sku}, '%')
        </if>
        <if test="storeList != null and storeList.size() != 0">
            AND store_id in
            <foreach collection="storeList" item="store"  open="(" separator="," close=")">
                #{store.store_id}
            </foreach>
        </if>
        <if test="orderChannelList != null and orderChannelList.size() != 0">
            AND order_channel_id in
            <foreach collection="orderChannelList" item="orderChannelId"  open="(" separator="," close=")">
                #{orderChannelId}
            </foreach>
        </if>
    </sql>

    <select id="viw_wms_reservation_pickup_mapping_getPickupInfo" resultMap="reservationInfoMap">
        SELECT
            id,
            order_number,
            syn_ship_no,
            source_order_id,
            sku,
            product,
            store_id,
            status,
            order_channel_id,
            ship_channel,
            note,
            create_time,
            update_time
        FROM
          viw_wms_rsv_info
        <include refid="pickupInfo_Search_condition"/>
        ORDER BY
          ship_channel_priority asc,
          id asc
        LIMIT #{offset}, #{size}
    </select>

    <select id="viw_wms_reservation_pickup_mapping_getPickupCount" resultType="int">
        SELECT
          count(1)
        FROM
          viw_wms_rsv_info
        <include refid="pickupInfo_Search_condition"/>
    </select>

    <resultMap id="pickup_result_map" type="com.voyageone.wms.formbean.FormPickupBean">
        <result column="id" property="id"/>
        <result column="syn_ship_no" property="syn_ship_no"/>
        <result column="order_number" property="order_number"/>
        <result column="source_order_id" property="source_order_id"/>
        <result column="order_channel_id" property="order_channel_id"/>
        <result column="ship_channel" property="ship_channel"/>
        <result column="status" property="status"/>
        <result column="sku" property="sku"/>
        <result column="barcode" property="barcode"/>
        <result column="product" property="product"/>
        <result column="description" property="description"/>
        <result column="store_id" property="store_id"/>
        <result column="store" property="store"/>
    </resultMap>

    <sql id="pickup_select_cols">
        id,
        syn_ship_no,
        order_number,
        source_order_id,
        order_channel_id,
        ship_channel,
        status,
        sku,
        barcode,
        product,
        description,
        store_id,
        store,
        original_price,
        create_time,
        update_time,
        label_type,
        store_kind,
        ship_name,
        ship_company,
        ship_address,
        ship_address2,
        ship_city,
        ship_state,
        ship_zip,
        ship_country,
        shipping,
        qty,
        cart_id
    </sql>

    <select id="viw_wms_reservation_pickup_mapping_getScanInfo" resultMap="pickup_result_map">
        SELECT
          <include refid="pickup_select_cols"></include>
        FROM
          viw_wms_reservation_pickup_mapping
        WHERE
        <choose>
            <when test="scanMode == 'Scan' and scanType == 1">
                barcode = #{scanNo}
            </when>
            <when test="scanMode == 'Scan' and scanType == 2">
                client_order_id = #{scanNo}
            </when>
            <when test="scanMode == 'ReLabel' and scanType == 1">
                id = #{scanNo}
            </when>
            <when test="scanMode == 'ReLabel' and scanType == 2">
                (order_number = #{scanNo} or client_order_id = #{scanNo})
            </when>
            <otherwise>
                1 != 1
            </otherwise>
        </choose>
        <if test="scanStatus != null and scanStatus != '' and scanType == 1">
            AND status = #{scanStatus}
        </if>
        <if test="scanStore != null and scanStore != 0 and scanType == 1">
            AND store_id = #{scanStore}
        </if>
        <if test="storeList != null and storeList.size() != 0 and scanType == 1">
            AND store_id in
            <foreach collection="storeList" item="store"  open="(" separator="," close=")">
                #{store.store_id}
            </foreach>
        </if>
        <if test="orderChannelList != null and orderChannelList.size() != 0">
            AND order_channel_id in
            <foreach collection="orderChannelList" item="orderChannelId"  open="(" separator="," close=")">
                #{orderChannelId}
            </foreach>
        </if>
        ORDER BY
            ship_channel_priority asc,
            id asc
        <if test="scanType == 1">
          LIMIT 1
        </if>
    </select>

    <select id="tt_reservation_getPort" resultType="String">
        select getShipmentPort( #{syn_ship_no},  #{id})
    </select>

    <select id="tt_reservation_getProductNum" resultType="String">
        SELECT
			sku
		FROM
			tt_reservation
		WHERE
            order_number = #{order_number}
		AND
		    status NOT IN ('96', '97', '98', '99')
	  order by sku
    </select>

    <select id="tt_reservation_getShippingMethod" resultType="String">
        select wms_getShippingMethod(#{order_channel_id},  #{order_number},  #{reservationId})
    </select>

    <update id="tt_reservation_updatePickupStatus" >
        UPDATE
          tt_reservation
        SET
        <if test="updateStatus != null and updateStatus != ''">
          status = #{updateStatus},
        </if>
          printed = '1',
          ship_channel = #{shipChannel},
          price = #{price},
        <if test="closeDayFlg != null and closeDayFlg != ''">
          close_day_flg = #{closeDayFlg},
        </if>
          update_time = NOW(),
          update_person = #{userName}
        WHERE
          status = #{scanStatus}
        <if test="reservationList != null and reservationList.size() != 0">
            AND id in
            <foreach collection="reservationList" item="id"  open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </update>

    <update id="tt_reservation_changeReservation" >
        UPDATE
            tt_reservation
        SET
            <if test="reservationInfo.store_id != null and reservationInfo.store_id != 0">
              store_id = #{reservationInfo.store_id},
              store = #{reservationInfo.store},
            </if>
            <if test="reservationInfo.status != null and reservationInfo.status != ''">
                status = #{reservationInfo.status},
            </if>
            note = #{reservationInfo.note},
            update_time = now(),
            update_person =#{reservationInfo.update_person}
        WHERE
            id = #{reservationInfo.id}
        AND
            update_time = #{reservationInfo.update_time}
    </update>

    <select id="wms_reservation_getProductInfo" parameterType="com.voyageone.wms.formbean.FormReservation" resultMap="reservationInfoMap">
      select item_details.itemCode,
              reservation.description_short as product
        from wms_bt_item_details item_details,
              tt_reservation reservation
       where item_details.order_channel_id = reservation.order_channel_id
         and item_details.sku =reservation.sku
         and reservation.id = #{reservation_id}
       limit 1
    </select>

    <select id="wms_reservation_getProductInventoryCount"  resultType="int">
        SELECT
          count(1)
        FROM
          wms_bt_item_details t
        where  t.order_channel_id = #{order_channel_id}
        <if test="itemCode != null and itemCode != ''">
            and t.itemcode like concat(#{itemCode}, '%')
        </if>
        <if test="sku != null and sku != ''">
            and t.sku like concat(#{sku}, '%')
        </if>
    </select>

    <select id="wms_reservation_getProductInventory" parameterType="com.voyageone.wms.formbean.FormReservation" resultMap="reservationInfoMap">
        select tt2.*, sum(ifnull(v_inProQty.qty, 0)) inProcess_qty from (
        select tt1.*, sum(ifnull(v_newordqty.qty, 0)) newOrd_qty from (
        select itemDetail.sku,
                itemDetail.itemCode,
                itemDetail.order_channel_id,
				GROUP_CONCAT(t_store.store_name order by t_store.store_id) store_name,
				GROUP_CONCAT(ifnull(t_inventory.qty, 0) order by t_store.store_id) inventory_qty,
				GROUP_CONCAT(ifnull(v_orqty.qty, 0) order by t_store.store_id) openRes_qty,
                '' image_path,
                '' product_name
           from (
				  select t.order_channel_id,
						 t.store_id,
						 t.store_name
				    from wms_mt_store t
				   where  t.order_channel_id = #{order_channel_id}
                     and  is_sale = '1'
				   order by t.store_id
				) t_store
                left join
                (
                    select t.sku,
                        t.itemCode,
                        t.order_channel_id
                        from wms_bt_item_details t
                    where  t.order_channel_id = #{order_channel_id}
                        <if test="itemCode != null and itemCode != ''">
                            and t.itemcode like concat(#{itemCode}, '%')
                        </if>
                        <if test="sku != null and sku != ''">
                            and t.sku like concat(#{sku}, '%')
                        </if>
                    <if test="rows != 0">
                        limit #{offset}, #{rows}
                    </if>
                    ) itemDetail
                on t_store.order_channel_id = itemDetail.order_channel_id
                left join wms_bt_inventory_center t_inventory
				on t_store.store_id = t_inventory.store_id
				   and t_store.order_channel_id = t_inventory.order_channel_id
				   and t_inventory.sku = itemDetail.sku
				   and t_inventory.`code` = itemDetail.itemcode
                left join viw_wms_open_reserved_quantity v_orqty
				on t_store.order_channel_id = v_orqty.order_channel_id
				   and v_orqty.store_id = t_store.store_id
				   and v_orqty.sku = itemDetail.sku
            group by sku
          ) tt1
			left join viw_wms_new_orders_quantity v_newordqty
			  on tt1.order_channel_id = v_newordqty.order_channel_id
		     and tt1.sku = v_newordqty.sku
           group by sku
          ) tt2
            left join viw_wms_inprocessing_quantity v_inProQty
              on tt2.order_channel_id = v_inProQty.order_channel_id
             and tt2.sku = v_inProQty.sku
          group by sku
    </select>

    <select id="wms_reservation_getStoreByChannelId" parameterType="com.voyageone.wms.formbean.FormReservation" resultMap="reservationInfoMap">
        select t_store.store_id,
			   t_store.store_name
          from wms_mt_store t_store
         where  t_store.order_channel_id = #{order_channel_id}
           and  is_sale = '1'
         order by t_store.store_id
    </select>

    <select id="wms_reservation_getSkuHisListCount" parameterType="com.voyageone.wms.formbean.FormReservation" resultType="int">
        select
          count(1)
        from wms_bt_transfer transfer,
            wms_bt_transfer_item  item,
            wms_mt_store store
        where transfer.order_channel_id = #{order_channel_id}
        and transfer.transfer_id = item.transfer_id
        and item.transfer_sku = #{sku}
        and item.syn_flg = '1'
        and transfer.store_id = store.store_id
        <if test="fromDate != null and fromDate != ''">
            AND transfer.created  &gt;= #{fromDate}
        </if>
        <if test="toDate != null and toDate != ''">
            AND transfer.created &lt;= #{toDate}
        </if>
    </select>

    <select id="wms_reservation_getSkuHisList" parameterType="com.voyageone.wms.formbean.FormReservation" resultMap="reservationInfoMap">
        select date_format(transfer.created, '%Y-%m-%d %H:%i:%s') created,
            transfer.store_id,
            store.store_name,
            item.calc_qty inventory_qty,
            if(transfer.transfer_origin = '0', transfer.transfer_name, if(transfer.transfer_origin = '3' or transfer.transfer_origin = '4', (SELECT stock.take_stock_name FROM wms_bt_take_stock stock WHERE transfer.origin_id = stock.take_stock_id), item.order_number)) order_number,
            item.reservation_id,
            item.transfer_sku sku,
            transfer.transfer_type,
            transfer.transfer_origin
          from wms_bt_transfer transfer,
                wms_bt_transfer_item  item,
                wms_mt_store store
        where transfer.order_channel_id = #{order_channel_id}
            and transfer.transfer_id = item.transfer_id
            and item.transfer_sku = #{sku}
            and item.syn_flg = '1'
            and transfer.store_id = store.store_id
        <if test="fromDate != null and fromDate != ''">
            AND transfer.created  &gt;= #{fromDate}
        </if>
        <if test="toDate != null and toDate != ''">
            AND transfer.created &lt;= #{toDate}
        </if>
        order by transfer.created desc,item.transfer_item_id desc
        <if test="rows != 0">
            limit #{offset}, #{rows}
        </if>
    </select>

    <select id="wms_reservation_getReservation" resultMap="reservationInfoMap">
        select t.id,
        t.order_number,
        t.syn_ship_no,
        t.source_order_id,
        t.sku,
        t.product,
        t.store_id,
        t.status,
        t.se_status,
        t.order_channel_id,
        t.ship_channel,
        if(t.isLock = '1', 'Y', 'N') isLock,
        if(t.hasIdCard = '1', 'Y', 'N') hasIdCard,
        date_format(t.order_date_time, '%Y-%m-%d %H:%i:%s') order_date_time,
        t.note,
        t.create_time,
        t.update_time
        from viw_wms_rsv_info t
        WHERE t.id =  #{reservationId}
    </select>

    <select id="wms_reservation_downloadPickupItemsByReservation" resultMap="pickup_result_map">
        SELECT
            rsv.store_order_channel_id,
            rsv.store_id,
            rsv.store_name,
            ifnull((CASE WHEN (ifnull(location_ext.location_name,'') = '') THEN location.location_name ELSE location_ext.location_name END),'') AS location_name,
            rsv.sku,
            rsv.product,
            rsv.order_number,
            rsv.create_time,
            rsv.ship_channel,
            rsv.id
        FROM
            viw_wms_reservation_pickup_mapping rsv
        left join
            (select
                    item.order_channel_id,
                    item.store_id,
                    item.code,
                    GROUP_CONCAT(IFNULL(location.location_name,'')) as location_name
                from
                    wms_bt_item_location item,
                    wms_mt_location location
                where
                    item.location_id = location.location_id
                <if test="storeList != null and storeList.size() != 0">
                    AND item.store_id in
                    <foreach collection="storeList" item="store"  open="(" separator="," close=")">
                        #{store.store_id}
                    </foreach>
                </if>
                <if test="orderChannelList != null and orderChannelList.size() != 0">
                    AND item.order_channel_id in
                    <foreach collection="orderChannelList" item="orderChannelId"  open="(" separator="," close=")">
                        #{orderChannelId}
                    </foreach>
                </if>
                and
                    location.active = '1'
                group by
                    item.order_channel_id,
                    item.store_id,
                    item.code) location
        ON
            rsv.store_order_channel_id = location.order_channel_id
        AND
            rsv.store_id = location.store_id
        AND
            rsv.itemcode = location.`code`
        left join
            (select
                item.order_channel_id,
                item.store_id,
                item.code,
                item.sku,
                GROUP_CONCAT(IFNULL(location.location_name,'')) as location_name
            from
                wms_bt_item_location_ext item,
                wms_mt_location location
            where
                item.location_id = location.location_id
                <if test="storeList != null and storeList.size() != 0">
                    AND item.store_id in
                    <foreach collection="storeList" item="store"  open="(" separator="," close=")">
                        #{store.store_id}
                    </foreach>
                </if>
                <if test="orderChannelList != null and orderChannelList.size() != 0">
                    AND item.order_channel_id in
                    <foreach collection="orderChannelList" item="orderChannelId"  open="(" separator="," close=")">
                        #{orderChannelId}
                    </foreach>
                </if>
            and
                location.active = '1'
            group by
                item.order_channel_id,
                item.store_id,
                item.code,
                item.sku) location_ext
        ON
            rsv.store_order_channel_id = location_ext.order_channel_id
        AND
            rsv.store_id = location_ext.store_id
        AND
            rsv.itemcode = location_ext.`code`
        AND
            rsv.sku = location_ext.sku
        WHERE
            rsv.status = #{status}
        <if test="storeList != null and storeList.size() != 0">
            AND rsv.store_id in
            <foreach collection="storeList" item="store"  open="(" separator="," close=")">
                #{store.store_id}
            </foreach>
        </if>
        <if test="orderChannelList != null and orderChannelList.size() != 0">
            AND rsv.order_channel_id in
            <foreach collection="orderChannelList" item="orderChannelId"  open="(" separator="," close=")">
                #{orderChannelId}
            </foreach>
        </if>
        ORDER BY
            rsv.store_kind,
            rsv.store_id,
            location.location_name,
            rsv.ship_channel_priority,
            rsv.sku,
            rsv.create_time
    </select>

    <select id="wms_reservation_downloadPickupItemsBySKU" resultMap="pickup_result_map">
        SELECT
            rsv.store_order_channel_id,
            rsv.store_id,
            rsv.store_name,
            rsv.sku,
            ifnull((CASE WHEN (ifnull(location_ext.location_name,'') = '') THEN location.location_name ELSE location_ext.location_name END),'') AS location_name,
            rsv.qty
        FROM
          (SELECT
                store_order_channel_id,
                store_id,
                store_name,
                itemcode,
                sku,
                count(1) as qty
            FROM
                viw_wms_reservation_pickup_mapping
            WHERE
                status = #{status}
                <if test="storeList != null and storeList.size() != 0">
                    AND store_id in
                    <foreach collection="storeList" item="store"  open="(" separator="," close=")">
                        #{store.store_id}
                    </foreach>
                </if>
                <if test="orderChannelList != null and orderChannelList.size() != 0">
                    AND order_channel_id in
                    <foreach collection="orderChannelList" item="orderChannelId"  open="(" separator="," close=")">
                        #{orderChannelId}
                    </foreach>
                </if>
            GROUP BY
                store_order_channel_id,
                store_id,
                store_name,
                itemcode,
                sku) rsv
          left join
            (select
                item.order_channel_id,
                item.store_id,
                item.code,
                GROUP_CONCAT(IFNULL(location.location_name,'')) as location_name
            from
                wms_bt_item_location item,
                wms_mt_location location
            where
                item.location_id = location.location_id
                <if test="storeList != null and storeList.size() != 0">
                    AND item.store_id in
                    <foreach collection="storeList" item="store"  open="(" separator="," close=")">
                        #{store.store_id}
                    </foreach>
                </if>
                <if test="orderChannelList != null and orderChannelList.size() != 0">
                    AND item.order_channel_id in
                    <foreach collection="orderChannelList" item="orderChannelId"  open="(" separator="," close=")">
                        #{orderChannelId}
                    </foreach>
                </if>
            and
                location.active = '1'
            group by
                item.order_channel_id,
                item.store_id,
                item.code) location
        ON
            rsv.store_order_channel_id = location.order_channel_id
        AND
            rsv.store_id = location.store_id
        AND
            rsv.itemcode = location.`code`
        left join
            (select
                item.order_channel_id,
                item.store_id,
                item.code,
                item.sku,
                GROUP_CONCAT(IFNULL(location.location_name,'')) as location_name
            from
                wms_bt_item_location_ext item,
                wms_mt_location location
            where
                item.location_id = location.location_id
                <if test="storeList != null and storeList.size() != 0">
                    AND item.store_id in
                    <foreach collection="storeList" item="store"  open="(" separator="," close=")">
                        #{store.store_id}
                    </foreach>
                </if>
                <if test="orderChannelList != null and orderChannelList.size() != 0">
                    AND item.order_channel_id in
                    <foreach collection="orderChannelList" item="orderChannelId"  open="(" separator="," close=")">
                        #{orderChannelId}
                    </foreach>
                </if>
            and
                location.active = '1'
            group by
                item.order_channel_id,
                item.store_id,
                item.code,
                item.sku) location_ext
        ON
            rsv.store_order_channel_id = location_ext.order_channel_id
        AND
            rsv.store_id = location_ext.store_id
        AND
            rsv.itemcode = location_ext.`code`
        AND
            rsv.sku = location_ext.sku
        ORDER BY
            rsv.store_order_channel_id,
            rsv.store_id,
            rsv.store_name,
            location.location_name,
            rsv.sku
    </select>

    <select id="wms_reservation_getLocationBySKU" resultType="string">
        SELECT
            ifnull((CASE WHEN (ifnull(location_ext.location_name,'') = '') THEN location.location_name ELSE location_ext.location_name END),'') AS location_name
        from
        (select
                details.sku,GROUP_CONCAT(IFNULL(location.location_name,'')) as location_name
        from
                wms_bt_item_location item,
                wms_mt_location location,
                wms_bt_item_details details
        where
                details.order_channel_id = #{order_channel_id}
        and
                details.sku = #{sku}
        and
                details.order_channel_id = item.order_channel_id
        and
                item.store_id = #{store_id}
        and
                details.itemcode = item.code
        and
                item.location_id = location.location_id
        and
                location.active = '1'
        group by
                item.order_channel_id,
                item.store_id,
                item.code) location

        left join

        (select
                details.sku,GROUP_CONCAT(IFNULL(location.location_name,'')) as location_name
        from
                wms_bt_item_location_ext item,
                wms_mt_location location,
                wms_bt_item_details details
        where
                details.order_channel_id = #{order_channel_id}
        and
                details.sku = #{sku}
        and
                details.order_channel_id = item.order_channel_id
        and
                item.store_id = #{store_id}
        and
                details.itemcode = item.code
        and
                details.sku = item.sku
        and
                item.location_id = location.location_id
        and
                location.active = '1'
        group by
                item.order_channel_id,
                item.store_id,
                item.sku) location_ext
        on location.sku = location_ext.sku
    </select>

    <select id="wms_reservation_getCurQty" resultType="int">
        select sum(inventory.qty)
          from wms_bt_inventory_center inventory,
              wms_mt_store store
         where inventory.order_channel_id = #{order_channel_id}
           and inventory.sku = #{sku}
           and inventory.`code` = #{itemCode}
           and inventory.order_channel_id =store.order_channel_id
           and inventory.store_id = store.store_id
           and store.is_sale = '1'
    </select>

    <delete id="inventory_center_logic_deleteSKU">
        delete from wms_bt_inventory_center_logic
        where order_channel_id = #{order_channel_id}
        and sku = #{sku}
    </delete>
</mapper>
