<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.wms.sql">

    <insert id="tt_tracking_info_insert">
        insert into
        tt_tracking_info
        (
        seq,
        syn_ship_no,
        tracking_status,
        reservation_id,
        tracking_no,
        process_time,
        create_time,
        update_time,
        create_person,
        update_person
        )
        (SELECT
        null,
        syn_ship_no,
        #{trackingStatus},
        id,
        '',
        now(),
        now(),
        now(),
        #{userName},
        #{userName}
        FROM
        tt_reservation
        WHERE
        id in
        <foreach collection="reservationList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>)
    </insert>
</mapper>
