<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.voyageone.cms.sql" >

  	<select id="cms_get_all_category" resultType="com.voyageone.cms.formbean.CategoryBean" parameterType="String">
	SELECT
		a.category_id as categoryId,
		a.channel_id as channelId,
		a.parent_category_id as parentCategoryId,
		c.name as name,
		b.cn_name as cnName
	FROM 
		cms_bt_relation_category AS a 
		LEFT JOIN cms_bt_category AS c ON a.category_id = c.category_id AND a.channel_id = c.channel_id
		LEFT JOIN cms_bt_cn_category AS b ON a.category_id = b.category_id AND a.channel_id = b.channel_id
	where c.is_effective = '1'
		and a.category_id > 2
		and a.channel_id = #{channelId}
	order by a.parent_category_id,a.category_id
	</select>
	
  <select id="categoryList"  parameterType="String" resultType="HashMap">
  		SELECT
			t.category_id as categoryId,
			t.name
		FROM
			cms_bt_category t
		WHERE
			t.is_effective = '1'
			and t.category_id > 2
			and t.channel_id = #{channelId}
  </select>
  
  	<select id="cms_mt_amazon_category"  parameterType="String" resultType="HashMap">
  	SELECT
		t.amazon_category_id as amazonCategoryId,
		t.node_path as nodePath
	FROM
		cms_mt_amazon_category t
	WHERE
		t.channel_id = #{channelId}
	 </select>
	 <select id="cms_mt_google_attribute"  parameterType="String" resultType="HashMap">
	SELECT
		t.attribute_id as attributeId,
		t.attribute_value as attributeValue
	FROM
		cms_mt_google_attribute t
	WHERE
		t.channel_id = #{channelId}		
	 </select>
	 
	<select id="cms_mt_pricegrabber_category"  parameterType="String" resultType="HashMap">
	SELECT
		t.pricegrabber_category_id as pricegrabberCategoryId,
		t.category_name as categoryName
	FROM
		cms_mt_pricegrabber_category t
	WHERE
		t.channel_id = #{channelId}			
	 </select>
	 <select id="cms_mt_hs_code_sh"  parameterType="String" resultType="HashMap">
	 SELECT
		t.hs_code_id as hsCodeId,
		CONCAT(
		t.hs_code_type,
		':',
		t.hs_code,
		'-',
		t.hs_code_description
		)as name
	  FROM
		cms_mt_hs_code_sh t
	  where t.is_active = true
	  	and t.channel_id = #{channelId}
      ORDER BY t.display_order
	 </select>
	 <select id="cms_mt_hs_code_gz"  parameterType="String" resultType="HashMap">
	 SELECT
		t.hs_code_pu_id as hsCodePuId,
		CONCAT(
		t.hs_code_type,
		':',
		t.hs_code,
		'-',
		t.hs_code_description
		)as name
	  FROM
		cms_mt_hs_code_gz t
	  where t.is_active = true
	  and t.channel_id = #{channelId}
      ORDER BY t.display_order
	 </select>	 
	 <select id="cms_mt_attribute_value"  parameterType="HashMap" resultType="HashMap">
		SELECT
			t.attribute_value_id as attributeValueId,
			t.attribute_value as attributeValue,
			t.attribute_value_2 as attributeValue2,
			t.attribute_value_3 as attributeValue3
		FROM
			cms_mt_attribute_value t
		WHERE
			t.is_active = '1'
		AND t.attribute_id = #{attributeId}
		AND t.channel_id = #{channelId}
		ORDER BY CAST(t.attribute_value_id as SIGNED) ASC
	</select>
	<select id="cms_mt_product_type"  parameterType="String" resultType="HashMap">
		SELECT
			t.product_type_id as productTypeId,
			t.product_type_short_name as productTypeShortName
		FROM
			cms_mt_product_type t
		WHERE
			t.is_active = '1'
			and t.channel_id = #{channelId}
		ORDER BY t.display_order	
	</select>
	
	<select id="cms_mt_brand"  parameterType="String" resultType="HashMap">
		SELECT
			t.brand_id as brandId,
			t.brand_short_name as brandShortName
		FROM
			cms_mt_brand t
		WHERE
			t.is_active = '1'
			and t.channel_id = #{channelId}
		ORDER BY t.display_order
	</select>
	<select id="cms_mt_size_type"  parameterType="String" resultType="HashMap">
		SELECT
			t.size_type_id as sizeTypeId,
			t.size_type_short_name as sizeTypeShortName
		FROM
			cms_mt_size_type t
		WHERE
			t.is_active = '1'
			and t.channel_id = #{channelId}
		ORDER BY t.display_order
	</select>
	<select id="cms_mt_color_map"  parameterType="String" resultType="HashMap">
		SELECT
			t.color_map_id as colorMapId,
			t.color_name as colorName
		FROM
			cms_mt_color_map t
		WHERE
			t.is_active = '1'
			and t.channel_id = #{channelId}
		ORDER BY t.display_order
	</select>	
	<select id="cms_mt_countries"  parameterType="String" resultType="HashMap">
		SELECT
			t.country_id as countryId,
			t.country_name as countryName
		FROM
			cms_mt_countries t
		WHERE
			t.is_active = '1'
			and t.channel_id = #{channelId}
		ORDER BY t.display_order
	</select>	
	<select id="cms_mt_material_fabric"  parameterType="String" resultType="HashMap">
		SELECT
			t.material_fabric_id as materialFabricId,
			t.material_fabric_short_name as materialFabricShortName
		FROM
			cms_mt_material_fabric t
		WHERE
			t.is_active = '1'
			and t.channel_id = #{channelId}
		ORDER BY t.display_order
	</select>	
	<select id="cms_mt_value"  parameterType="HashMap" resultType="HashMap">
		SELECT
			t.type_id as typeId,
			t.value as value
		FROM
			cms_mt_value t
		WHERE
			t.is_active = '1'
			<if test="channelId != null">
			and t.channel_id = #{channelId}
			</if>
			<if test="typeId != null">
			and t.type_id = #{typeId}
			</if>			
	</select>
</mapper>