<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.cms.sql">
	<select id="get_master_properties" resultType="com.voyageone.cms.modelbean.MasterProperty">
		select
			prop_id,
			category_id,
			prop_name,
			prop_type,
			prop_value_default,
			is_top_prop,
			is_parent,
			is_required,
			parent_prop_id,
			content
		from voyageone_ims.ims_mt_prop where
			 category_id = #{category_id}
	</select>
	<select id="get_property_options" resultType="com.voyageone.cms.modelbean.PropertyOption">
		select
		ims_mt_prop_option.prop_option_id,
		ims_mt_prop_option.prop_id,
		ims_mt_prop_option.prop_option_name,
		ims_mt_prop_option.prop_option_value
		from
		voyageone_ims.ims_mt_prop_option,voyageone_ims.ims_mt_prop
		where ims_mt_prop.category_id=#{category_id}
		and ims_mt_prop_option.prop_id = ims_mt_prop.prop_id
	</select>
	<select id="get_property_rules" resultType="com.voyageone.cms.modelbean.PropertyRule">
		select
			ims_mt_prop_rule.prop_rule_id,
			ims_mt_prop_rule.prop_id,
			ims_mt_prop_rule.prop_rule_name,
			ims_mt_prop_rule.prop_rule_value,
			ims_mt_prop_rule.prop_rule_unit,
			ims_mt_prop_rule.prop_rule_url,
			ims_mt_prop_rule.prop_rule_exProperty,
			ims_mt_prop_rule.prop_rule_relationship,
			ims_mt_prop_rule.prop_rule_relationship_operator
		from voyageone_ims.ims_mt_prop_rule,voyageone_ims.ims_mt_prop
		where ims_mt_prop.category_id= #{category_id}
		  and ims_mt_prop_rule.prop_id = ims_mt_prop.prop_id
	</select>
	<select id="get_master_property_values" resultType="com.voyageone.cms.modelbean.PropertyValue">
		select
			uuid,
			prop_id,
			prop_value,
			parent
		from voyageone_ims.ims_mt_prop_value
		where channel_id  = #{channel_id}
		  and level       = #{level}
		  and level_value = #{level_value}
	</select>
	<insert id="insert_property_values" parameterType="java.util.List">
		INSERT INTO
		voyageone_ims.ims_mt_prop_value(uuid,channel_id,level,level_value,prop_id,prop_value,parent,created,creater,modified,modifier)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.uuid},#{item.channel_id},#{item.level},#{item.level_value},#{item.prop_id},#{item.prop_value},#{item.parent},
			NOW(),#{item.creater},NOW(),#{item.modifier})
		</foreach>
	</insert>
	<delete id="delete_property_values">
        DELETE FROM voyageone_ims.ims_mt_prop_value
        WHERE channel_id  = #{channel_id}
		  and level       = #{level}
		  and level_value = #{level_value}
    </delete>
    <select id="get_property_values_count" resultType="int">
		select
			count(1)
		from voyageone_ims.ims_mt_prop_value
		where channel_id  = #{channel_id}
		  and level       = #{level}
		  and level_value = #{level_value}
	</select>
	<select id="get_dict_contents" resultType="String">
		select
			name
		from voyageone_ims.ims_mt_dict
		where order_channel_id  = #{channel_id}
		  
	</select>
	<select id="get_propertiesAndVaues" resultType="com.voyageone.cms.modelbean.MasterCategoryPropertyModel">
		SELECT DISTINCT
			prop.prop_id AS propId,
			prop.prop_name AS propName,
			prop.prop_type AS propType,
			CASE IFNULL(
				propValueTable.prop_value,
				''
			)
		WHEN '' THEN
			prop.prop_value_default
		ELSE
			propValueTable.prop_value
		END AS propValue,
		 prop.is_parent AS isParent,
		 prop.is_required AS isRequired,
		 prop.is_top_prop AS isTopProp,
		 prop.parent_prop_id AS parentPropId,
		 propValueTable.uuid AS valueUuid,
		 propValueTable.parent AS valueParent
		FROM
			voyageone_ims.ims_mt_prop prop
		LEFT JOIN (
			SELECT
				prop_id,
				uuid,
				parent,
				prop_value
			FROM
				voyageone_ims.ims_mt_prop_value
			WHERE
				channel_id = #{channelId}
			AND `level` = #{level}
			AND level_value = #{levelValue}
		) AS propValueTable ON (
			prop.prop_id = propValueTable.prop_id
		)
		WHERE
			prop.category_id = #{categoryId}
	</select>
	<update id="updateDealFlagByProductId">
	  UPDATE     voyageone_cms.cms_mt_product_attribute attr
   	  LEFT JOIN  voyageone_cms.cms_bt_product p ON p.url_key = attr.product_url_key
			 SET attr.deal_flag = 0,
				 attr.modifier=#{user},
				 attr.modified=NOW()
		   WHERE attr.channel_id = #{chanelId}
		     AND p.product_id = #{productId}
		     AND attr.deal_flag != 0
	</update>
	<update id="updateDealFlagByModelId">
	  UPDATE voyageone_cms.cms_mt_product_attribute attr
		LEFT JOIN voyageone_cms.cms_bt_model m ON m.url_key = attr.product_url_key
		SET attr.deal_flag = 0,
		    attr.modifier = #{user},
		 	attr.modified = NOW()
		WHERE attr.channel_id = #{chanelId}
		  AND m.model_id = #{modelId}
		  AND attr.deal_flag != 0
	</update>
</mapper>
