<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.cms.sql">
	<select id="get_cms_categories" resultType="com.voyageone.cms.modelbean.CmsCategoryModel" parameterType="String">
	SELECT
		relation.category_id as categoryId,
		relation.channel_id as channelId,
		relation.parent_category_id as parentCategoryId,
		us.name as enName,
		cn.cn_name as cnName,
		cn_extend.main_category_id as mainCategoryId
	FROM
		voyageone_cms.cms_bt_relation_category AS relation
		LEFT JOIN voyageone_cms.cms_bt_category AS us ON relation.category_id = us.category_id AND relation.channel_id = us.channel_id
		LEFT JOIN voyageone_cms.cms_bt_cn_category AS cn ON relation.category_id = cn.category_id AND relation.channel_id = cn.channel_id
		LEFT JOIN voyageone_cms.cms_bt_cn_category_extend AS cn_extend ON relation.category_id = cn_extend.category_id AND relation.channel_id = cn_extend.channel_id
	where us.is_effective = '1'
		and relation.category_id > 500
		and relation.channel_id = #{channelId}
	order by relation.parent_category_id,relation.category_id
	</select>

	<select id="get_cms_category_propMatchComplete" resultType="String" parameterType="String">
		SELECT
			main_category_id
		FROM
			voyageone_ims.ims_bt_category_extend
		WHERE
			channel_id = #{channelId}
		AND is_set_attr = '1'
	</select>
</mapper>
