<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.voyageone.cms.sql" >

  <resultMap id="SearchCategoryResultMap" type="HashMap" >
    <result column="category_id" property="categoryId" jdbcType="VARCHAR" />
    <result column="channel_id" property="channelId" jdbcType="VARCHAR" />
    <result column="cn_name" property="cnName" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="is_effective" property="isEffective" javaType="BOOLEAN" jdbcType="BOOLEAN" />
    <result column="subCategoryCount" property="subCategoryCount" jdbcType="VARCHAR" />
    <result column="modelCount" property="modelCount" jdbcType="VARCHAR" />
    <result column="parent_category_id" property="parentCategoryId" jdbcType="VARCHAR" />
    <result column="parentCategoryName" property="parentCategoryName" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="VARCHAR" />
    <result column="modified" property="modified" jdbcType="VARCHAR" />
  </resultMap>
	<select id="search_category" resultMap="SearchCategoryResultMap" parameterType="HashMap">
	SELECT
		t1.category_id, 
		t1.channel_id,
		t1.cn_name,
		t1.name,
		t1.is_effective,
		IFNULL(t2.subCategoryCount, 0) AS subCategoryCount,
		IFNULL(t3.modelCount, 0) AS modelCount,
		t4.parent_category_id,
		t4.name as parentCategoryName,
		t1.created,
		t1.modified
	FROM
		(
			SELECT
				a.category_id,
				a.channel_id,
				a.cn_name,
				b.`name`,
				b.is_effective,
				date_format(b.created,'%Y-%m-%d %T' ) as created, 
				date_format(b.modified,'%Y-%m-%d %T' ) as modified
			FROM
				cms_bt_cn_category AS a
			INNER JOIN cms_bt_category AS b ON a.category_id = b.category_id
			AND a.channel_id = b.channel_id
			WHERE
				(
					a.cn_name LIKE CONCAT('%','${key}','%' )  
					OR b.name LIKE CONCAT('%','${key}','%' )
				)
			AND a.channel_id = #{channelId}
			<if test="start != null and length != null">
			LIMIT #{start}, #{length}
			</if>
		) t1
	LEFT JOIN (
		SELECT
			c.parent_category_id,
			count(c.parent_category_id) AS subCategoryCount
		FROM
			cms_bt_relation_category c
		WHERE
			c.channel_id = #{channelId}
		GROUP BY
			c.parent_category_id
	) t2 ON t1.category_id = t2.parent_category_id
	LEFT JOIN (
		SELECT
			d.category_id,
			count(d.model_id) AS modelCount
		FROM
			cms_bt_relation_category_model d
		WHERE
			d.channel_id = #{channelId}
		GROUP BY
			d.category_id
	) t3 ON t1.category_id = t3.category_id
	Left join(
			SELECT
			c.category_id,
			c.parent_category_id,
			d.name
		FROM
			cms_bt_relation_category c
			left join cms_bt_category d on c.parent_category_id = d.category_id and c.channel_id = d.channel_id
		WHERE
			c.channel_id =#{channelId}
		
		)t4 on t4.category_id = t1.category_id
	</select>	
	<select id="search_category_count" resultType="Integer"  parameterType="HashMap">
		SELECT
			count(1)
		FROM
			cms_bt_cn_category AS a
		INNER JOIN cms_bt_category AS b ON a.category_id = b.category_id
		AND a.channel_id = b.channel_id
		WHERE
			(
				a.cn_name LIKE CONCAT('%','${key}','%' )  
				OR b.name LIKE CONCAT('%','${key}','%' )
			)
		AND a.channel_id = #{channelId}
	</select>
  <resultMap id="SearchModelResultMap" type="HashMap" >
  	<result column="model" property="model" jdbcType="VARCHAR" />
    <result column="model_id" property="modelId" jdbcType="VARCHAR" />
    <result column="channel_id" property="channelId" jdbcType="VARCHAR" />
    <result column="cn_name" property="cnName" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="is_effective" property="isEffective" javaType="BOOLEAN" jdbcType="BOOLEAN" />
    <result column="url_key" property="urlKey" jdbcType="VARCHAR" />
    <result column="productCount" property="productCount" jdbcType="VARCHAR" />
    <result column="category_id" property="primaryCategoryId" jdbcType="VARCHAR" />
    <result column="image_name" property="imageName" jdbcType="VARCHAR" />
    <result column="product_id" property="primaryProductId" jdbcType="VARCHAR" />
    <result column="code" property="primaryProductCode" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="VARCHAR" />
    <result column="modified" property="modified" jdbcType="VARCHAR" />
  </resultMap>	
	<select id="search_model" resultMap="SearchModelResultMap" parameterType="HashMap">
	SELECT
		t1.*, ifnull(t2.productCount,0) as productCount,
		t3.category_id,
		ifnull(t4.code,'') as code,
		ifnull(t4.product_id,'') as product_id,
		ifnull(t4.image_name,'') as image_name,
		t1.created,
		t1.modified
	FROM
		(
			SELECT
				b.model,
				b.model_id,
				b.channel_id,
				b.`name`,
				a.cn_name,
				a.url_key,
				b.is_effective,
				date_format(b.created,'%Y-%m-%d %T' ) as created, 
				date_format(b.modified,'%Y-%m-%d %T' ) as modified
			FROM
				cms_bt_cn_model AS a
			INNER JOIN cms_bt_model AS b ON a.model_id = b.model_id
			AND a.channel_id = b.channel_id
			WHERE
				(
					a.cn_name LIKE CONCAT('%','${key}','%' )
					OR b.name LIKE CONCAT('%','${key}','%' )
					OR b.model LIKE CONCAT('%','${key}','%' )
				)
			AND a.channel_id = #{channelId}
			<if test="start != null and length != null">
			LIMIT #{start}, #{length}
			</if>
		) t1
	LEFT JOIN (
		SELECT
			c.model_id,
			count(c.product_id) AS productCount
		FROM
			cms_bt_relation_model_product c
		WHERE
			c.channel_id = #{channelId}
		GROUP BY
			c.model_id
	) t2 ON t1.model_id = t2.model_id
	LEFT JOIN (
		SELECT
			d.category_id,
			d.model_id
		FROM
			cms_bt_relation_category_model d
		WHERE
			d.channel_id = #{channelId}
	) t3 ON t1.model_id = t3.model_id 
	LEFT JOIN (
		SELECT
			e.model_id,
			e.product_id,
			f.image_name,
			g.code
		FROM
			cms_bt_relation_model_product e 
			left join cms_bt_product_image f on e.product_id = f.product_id and e.channel_id=f.channel_id
			left join cms_bt_cn_product g on e.product_id = g.product_id and e.channel_id=g.channel_id
		WHERE
			e.is_primary_product = 1
			AND e.channel_id = #{channelId}
			and f.image_type_id =1 
			and f.image_id = 1
	) t4 on t4.model_id = t1.model_id
	</select>
	<select id="search_model_count" resultType="Integer"  parameterType="HashMap">
		SELECT
			count(1)
		FROM
			cms_bt_cn_model AS a
		INNER JOIN cms_bt_model AS b ON a.model_id = b.model_id
		AND a.channel_id = b.channel_id
		WHERE
			(
				a.cn_name LIKE CONCAT('%','${key}','%' )
				OR b.name LIKE CONCAT('%','${key}','%' )
				OR b.model LIKE CONCAT('%','${key}','%' )
			)
		AND a.channel_id = #{channelId}
	</select>
	<resultMap id="SearchProductResultMap" type="HashMap" >
    <result column="model_id" property="modelId" jdbcType="VARCHAR" />
    <result column="channel_id" property="channelId" jdbcType="VARCHAR" />
    <result column="cn_name" property="cnName" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="is_effective" property="isEffective" javaType="BOOLEAN" jdbcType="BOOLEAN" />
    <result column="is_outlets_on_sale" property="isOnSale" javaType="BOOLEAN" jdbcType="CHAR" />
    <result column="url_key" property="urlKey" jdbcType="VARCHAR" />
    <result column="modelCnName" property="modelCnName" jdbcType="VARCHAR" />
    <result column="modelName" property="modelName" jdbcType="VARCHAR" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="category_id" property="primaryCategoryId" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="modified" property="modified" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="VARCHAR" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="cn_color" property="cnColor" jdbcType="VARCHAR" />
    <result column="image_name" property="imageName" jdbcType="VARCHAR" />
    <result column="quantity" property="quantity" jdbcType="VARCHAR" />
  </resultMap>	
	<select id="search_product" resultMap="SearchProductResultMap" parameterType="HashMap">
		SELECT
		t.product_id,
		t.channel_id,
		t.name,
		t.cn_name,
		t.color,
		t.code,
		t.cn_color,
		t.url_key,
		t.is_effective,
		t.is_outlets_on_sale,
		date_format(t.created,'%Y-%m-%d %T' ) as created, 
		date_format(t.modified,'%Y-%m-%d %T' ) as modified,
		c.model_id,
		d.cn_name as modelCnName,
		e.name as modelName,
		e.model,
		f.category_id,
		ifnull(g.image_name,'') as image_name,
		sum(ifnull(h.qty_china,'0')) as quantity
		FROM
		(
		SELECT 
			a.product_id,
			a.channel_id,
			b.`name`,
			a.cn_name,
			a.cn_color,
			b.color,
			b.`code`,
			b.is_effective,
			b.is_outlets_on_sale,
			a.url_key,
			b.created,
			b.modified
		from
		cms_bt_cn_product AS a
		INNER JOIN cms_bt_product AS b ON a.product_id = b.product_id AND a.channel_id = b.channel_id
				WHERE
					(
						a.cn_name LIKE CONCAT('%','${key}','%' )
						OR b.name LIKE CONCAT('%','${key}','%' )
						OR b.code LIKE CONCAT('%','${key}','%' )
					)
				AND a.channel_id = #{channelId}
			<if test="start != null and length != null">
			LIMIT #{start}, #{length}
			</if>
		) t
		LEFT JOIN cms_bt_relation_model_product AS c ON t.channel_id = c.channel_id AND t.product_id = c.product_id
		LEFT JOIN cms_bt_cn_model AS d ON c.channel_id = d.channel_id AND c.model_id = d.model_id
		LEFT JOIN cms_bt_model AS e ON d.model_id = e.model_id AND d.channel_id = e.channel_id
		LEFT JOIN cms_bt_relation_category_model AS f ON e.model_id = f.model_id AND e.channel_id = f.channel_id
		LEFT JOIN cms_bt_product_image g on t.product_id = g.product_id and t.channel_id=g.channel_id
				and g.image_type_id =1 
				and g.image_id = 1
		LEFT JOIN Synship.wms_bt_inventory_center_logic h on h.order_channel_id = t.channel_id and t.code = h.code
		GROUP BY t.code
	</select>
	<select id="search_product_count" resultType="Integer"  parameterType="HashMap">
		SELECT 
			count(1)
		from
		cms_bt_cn_product AS a
		INNER JOIN cms_bt_product AS b ON a.product_id = b.product_id AND a.channel_id = b.channel_id
				WHERE
					(
						a.cn_name LIKE CONCAT('%','${key}','%' )
						OR b.name LIKE CONCAT('%','${key}','%' )
						OR b.code LIKE CONCAT('%','${key}','%' )
					)
		AND a.channel_id = #{channelId}
	</select>
 	<resultMap type="HashMap" id="AdvanceSearchResultMap">
		<result column="category_id" property="categoryId"/>
		<result column="model_id" property="modelId"/>
		<result column="product_id" property="productId"/>
		<result column="channel_id" property="channelId"/>
		<result column="cnIsApprovedDesciption" property="cnIsApprovedDesciption"  jdbcType="BOOLEAN"/>
		<result column="code" property="code" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cn_name" property="cnName" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cn_display_order" property="cnDisplayOrder"  typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="product_type_name" property="productType" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="brand_name" property="brand" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="size_type_name" property="cnSizeType" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="is_approved_description" property="isApprovedDescription" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="is_effective" property="isEffective" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="color_name" property="colorMap" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cn_color" property="cnColor" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="quantity" property="quantity" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="madeInCountry" property="madeInCountry" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="materialFabric" property="materialFabric" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cnAbstract" property="cnAbstract" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cnLongDescription" property="cnLongDescription" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cnShortDescription" property="cnShortDescription" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="urlKey" property="urlKey" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="created" property="created"/>
		<result column="creater" property="creater"/>
		<result column="modified" property="modified"/>
		<result column="modifier" property="modifier"/>
		<result column="referenceMsrp" property="referenceMsrp" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="referencePrice" property="referencePrice" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="firstSalePrice" property="firstSalePrice" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cnPrice" property="cnPrice" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="effectivePrice" property="effectivePrice" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cnPriceRmb" property="cnPriceRmb" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cnPriceAdjustmentRmb" property="cnPriceAdjustmentRmb" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cnPriceFinalRmb" property="cnPriceFinalRmb" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cnIsOnSale" property="cnIsOnSale" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cnIsApproved" property="cnIsApproved" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cnOfficialPriceAdjustmentRmb" property="cnOfficialPriceAdjustmentRmb" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cnOfficialPriceFinalRmb" property="cnOfficialPriceFinalRmb" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cnOfficialFreeShippingType" property="cnOfficialFreeShippingType" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cnOfficialIsOnSale" property="cnOfficialIsOnSale" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cnOfficialIsApproved" property="cnOfficialIsApproved" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cnOfficialPrePublishDateTime" property="cnOfficialPrePublishDateTime" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tbPriceAdjustmentRmb" property="tbPriceAdjustmentRmb" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tbPriceFinalRmb" property="tbPriceFinalRmb" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tbFreeShippingType" property="tbFreeShippingType" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tbIsOnSale" property="tbIsOnSale" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tbIsApproved" property="tbIsApproved" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tbPrePublishDateTime" property="tbPrePublishDateTime" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tmPriceAdjustmentRmb" property="tmPriceAdjustmentRmb" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tmPriceFinalRmb" property="tmPriceFinalRmb" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tmFreeShippingType" property="tmFreeShippingType" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tmIsOnSale" property="tmIsOnSale" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tmIsApproved" property="tmIsApproved" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tmPrePublishDateTime" property="tmPrePublishDateTime" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tgPriceAdjustmentRmb" property="tgPriceAdjustmentRmb" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tgPriceFinalRmb" property="tgPriceFinalRmb" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tgFreeShippingType" property="tgFreeShippingType" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tgIsOnSale" property="tgIsOnSale" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tgIsApproved" property="tgIsApproved" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tgPrePublishDateTime" property="tgPrePublishDateTime" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="jdPriceAdjustmentRmb" property="jdPriceAdjustmentRmb" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="jdPriceFinalRmb" property="jdPriceFinalRmb" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="jdFreeShippingType" property="jdFreeShippingType" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="jdIsOnSale" property="jdIsOnSale" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="jdIsApproved" property="jdIsApproved" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="jdPrePublishDateTime" property="jdPrePublishDateTime" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="jgPriceAdjustmentRmb" property="jgPriceAdjustmentRmb" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="jgPriceFinalRmb" property="jgPriceFinalRmb" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="jgFreeShippingType" property="jgFreeShippingType" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="jgIsOnSale" property="jgIsOnSale" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="jgIsApproved" property="jgIsApproved" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="jgPrePublishDateTime" property="jgPrePublishDateTime" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="image_name" property="productImgUrl" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="quantity" property="quantity" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cn_is_primary_product" property="cnIsPrimaryProduct"  jdbcType="BOOLEAN"/>
		<result column="cnSales30Days" property="cnSales30Days" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cnSales30DaysPercent" property="cnSales30DaysPercent" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cnSales7Days" property="cnSales7Days" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cnSales7DaysPercent" property="cnSales7DaysPercent" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cnSalesAllDays" property="cnSalesAllDays" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cnSalesAllDaysPercent" property="cnSalesAllDaysPercent" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cnOfficialSales30Days" property="cnOfficialSales30Days" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cnOfficialSales30DaysPercent" property="cnOfficialSales30DaysPercent" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cnOfficialSales7Days" property="cnOfficialSales7Days" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cnOfficialSales7DaysPercent" property="cnOfficialSales7DaysPercent" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cnOfficialSalesAllDays" property="cnOfficialSalesAllDays" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cnOfficialSalesAllDaysPercent" property="cnOfficialSalesAllDaysPercent" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tbSales30Days" property="tbSales30Days" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tbSales30DaysPercent" property="tbSales30DaysPercent" typeHandler="com.voyageone.cms.utils.EmptyStringPercent"/>
		<result column="tbSales7Days" property="tbSales7Days" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tbSales7DaysPercent" property="tbSales7DaysPercent" typeHandler="com.voyageone.cms.utils.EmptyStringPercent"/>
		<result column="tbSalesAllDays" property="tbSalesAllDays" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tbSalesAllDaysPercent" property="tbSalesAllDaysPercent" typeHandler="com.voyageone.cms.utils.EmptyStringPercent"/>
		<result column="tmSales30Days" property="tmSales30Days" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tmSales30DaysPercent" property="tmSales30DaysPercent" typeHandler="com.voyageone.cms.utils.EmptyStringPercent"/>
		<result column="tmSales7Days" property="tmSales7Days" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tmSales7DaysPercent" property="tmSales7DaysPercent" typeHandler="com.voyageone.cms.utils.EmptyStringPercent"/>
		<result column="tmSalesAllDays" property="tmSalesAllDays" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tmSalesAllDaysPercent" property="tmSalesAllDaysPercent" typeHandler="com.voyageone.cms.utils.EmptyStringPercent"/>
		<result column="tgSales30Days" property="tgSales30Days" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tgSales30DaysPercent" property="tgSales30DaysPercent" typeHandler="com.voyageone.cms.utils.EmptyStringPercent"/>
		<result column="tgSales7Days" property="tgSales7Days" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tgSales7DaysPercent" property="tgSales7DaysPercent" typeHandler="com.voyageone.cms.utils.EmptyStringPercent"/>
		<result column="tgSalesAllDays" property="tgSalesAllDays" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tgSalesAllDaysPercent" property="tgSalesAllDaysPercent" typeHandler="com.voyageone.cms.utils.EmptyStringPercent"/>
		<result column="jdSales30Days" property="jdSales30Days" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="jdSales30DaysPercent" property="jdSales30DaysPercent" typeHandler="com.voyageone.cms.utils.EmptyStringPercent"/>
		<result column="jdSales7Days" property="jdSales7Days" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="jdSales7DaysPercent" property="jdSales7DaysPercent" typeHandler="com.voyageone.cms.utils.EmptyStringPercent"/>
		<result column="jdSalesAllDays" property="jdSalesAllDays" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="jdSalesAllDaysPercent" property="jdSalesAllDaysPercent" typeHandler="com.voyageone.cms.utils.EmptyStringPercent"/>
		<result column="jgSales30Days" property="jgSales30Days" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="jgSales30DaysPercent" property="jgSales30DaysPercent" typeHandler="com.voyageone.cms.utils.EmptyStringPercent"/>
		<result column="jgSales7Days" property="jgSales7Days" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="jgSales7DaysPercent" property="jgSales7DaysPercent" typeHandler="com.voyageone.cms.utils.EmptyStringPercent"/>
		<result column="jgSalesAllDays" property="jgSalesAllDays" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="jgSalesAllDaysPercent" property="jgSalesAllDaysPercent" typeHandler="com.voyageone.cms.utils.EmptyStringPercent"/>
		<result column="cnSalesInThisYear" property="cnSalesInThisYear" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cnSalesInThisYearPercent" property="cnSalesInThisYearPercent" typeHandler="com.voyageone.cms.utils.EmptyStringPercent"/>
		<result column="cnOfficialSalesInThisYear" property="cnOfficialSalesInThisYear" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="cnOfficialSalesInThisYearPercent" property="cnOfficialSalesInThisYearPercent" typeHandler="com.voyageone.cms.utils.EmptyStringPercent"/>
		<result column="tbSalesInThisYear" property="tbSalesInThisYear" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tbSalesInThisYearPercent" property="tbSalesInThisYearPercent" typeHandler="com.voyageone.cms.utils.EmptyStringPercent"/>
		<result column="tmSalesInThisYear" property="tmSalesInThisYear" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tmSalesInThisYearPercent" property="tmSalesInThisYearPercent" typeHandler="com.voyageone.cms.utils.EmptyStringPercent"/>
		<result column="tgSalesInThisYear" property="tgSalesInThisYear" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tgSalesInThisYearPercent" property="tgSalesInThisYearPercent" typeHandler="com.voyageone.cms.utils.EmptyStringPercent"/>
		<result column="jdSalesInThisYear" property="jdSalesInThisYear" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="jdSalesInThisYearPercent" property="jdSalesInThisYearPercent" typeHandler="com.voyageone.cms.utils.EmptyStringPercent"/>
		<result column="jgSalesInThisYear" property="jgSalesInThisYear" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="jgSalesInThisYearPercent" property="jgSalesInThisYearPercent" typeHandler="com.voyageone.cms.utils.EmptyStringPercent"/>
		<result column="cn_is_hight_light_product" property="cnIsHightLightProduct" javaType="BOOLEAN"/>
		<result column="tbPublishStatus" property="tbPublishStatus" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tbNumIid" property="tbNumIid" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tbPublishFaildComment" property="tbPublishFaildComment" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tmPublishStatus" property="tmPublishStatus" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tmNumIid" property="tmNumIid" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tmPublishFaildComment" property="tmPublishFaildComment" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tgPublishStatus" property="tgPublishStatus" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tgNumIid" property="tgNumIid" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="tgPublishFaildComment" property="tgPublishFaildComment" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="jdPublishStatus" property="jdPublishStatus" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="jdNumIid" property="jdNumIid" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="jdPublishFaildComment" property="jdPublishFaildComment" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="jgPublishStatus" property="jgPublishStatus" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="jgNumIid" property="jgNumIid" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
		<result column="jgPublishFaildComment" property="jgPublishFaildComment" typeHandler="com.voyageone.cms.utils.EmptyStringIfNull"/>
     </resultMap>	
	<select id="advance_search" resultMap="AdvanceSearchResultMap" parameterType="HashMap">
		SELECT
			b.CODE,
			b.cn_name,
			'' as cn_display_order,
			'' as cn_is_hight_light_product,
			b.product_type_name,
			b.brand_name,
			b.size_type_name,
			b.cnIsApprovedDesciption,
			b.color_name,
			b.cn_color,
			b.madeInCountry AS madeInCountry,
			b.materialFabric AS materialFabric,
			b.cnAbstract AS cnAbstract,
			b.cnShortDescription AS cnShortDescription,
			b.cnLongDescription AS cnLongDescription,
			SUM(IFNULL(c.qty_china, 0)) AS quantity,
			b.urlKey AS urlKey,
			b.created,
			b.modified,
			b.referenceMsrp AS referenceMsrp,
			b.referencePrice AS referencePrice,
			b.cnPrice AS cnPrice,
			b.cnPriceRmb AS cnPriceRmb,
			b.cnPriceFinalRmb AS cnPriceFinalRmb,
			b.cnIsOnSale AS cnIsOnSale,
			b.cnIsApproved AS cnIsApproved,
			b.cnSales7Days,
			b.cnSales7DaysPercent,
			b.cnSales30Days,
			b.cnSales30DaysPercent,
			b.cnSalesInThisYear,
			b.cnSalesInThisYearPercent,
			b.cnOfficialPriceFinalRmb AS cnOfficialPriceFinalRmb,
			b.cnOfficialFreeShippingType AS cnOfficialFreeShippingType,
			b.cnOfficialIsOnSale AS cnOfficialIsOnSale,
			b.cnOfficialIsApproved AS cnOfficialIsApproved,
			b.cnOfficialPrePublishDateTime AS cnOfficialPrePublishDateTime,
			b.cnOfficialSales7Days,
			b.cnOfficialSales7DaysPercent,
			b.cnOfficialSales30Days,
			b.cnOfficialSales30DaysPercent,
			b.cnOfficialSalesInThisYear,
			b.cnOfficialSalesInThisYearPercent,
			b.tbPriceFinalRmb AS tbPriceFinalRmb,
			b.tbIsOnSale AS tbIsOnSale,
			b.tbIsApproved AS tbIsApproved,
			b.tbPrePublishDateTime AS tbPrePublishDateTime,
			case b.tbPublishStatus
			when 0 then 'Pending'
			when 1 then 'Success'
			when 2 then 'Faild'
			else b.tbPublishStatus
			end as tbPublishStatus,
			b.tbNumIid,
			b.tbPublishFaildComment,
			b.tbSales7Days,
			b.tbSales7DaysPercent,
			b.tbSales30Days,
			b.tbSales30DaysPercent,
			b.tbSalesInThisYear,
			b.tbSalesInThisYearPercent,
			b.tmPriceFinalRmb AS tmPriceFinalRmb,
			b.tmIsOnSale AS tmIsOnSale,
			b.tmIsApproved AS tmIsApproved,
			b.tmPrePublishDateTime AS tmPrePublishDateTime,
			case b.tmPublishStatus
			when 0 then 'Pending'
			when 1 then 'Success'
			when 2 then 'Faild'
			else b.tmPublishStatus
			end as tmPublishStatus,
			b.tmNumIid,
			b.tmPublishFaildComment,
			b.tmSales7Days,
			b.tmSales7DaysPercent,
			b.tmSales30Days,
			b.tmSales30DaysPercent,
			b.tmSalesInThisYear,
			b.tmSalesInThisYearPercent,
			b.tgPriceFinalRmb AS tgPriceFinalRmb,
			b.tgIsOnSale AS tgIsOnSale,
			b.tgIsApproved AS tgIsApproved,
			b.tgPrePublishDateTime AS tgPrePublishDateTime,
			case b.tgPublishStatus
			when 0 then 'Pending'
			when 1 then 'Success'
			when 2 then 'Faild'
			else b.tgPublishStatus
			end as tgPublishStatus,
			b.tgNumIid,
			b.tgPublishFaildComment,
			b.tgSales7Days,
			b.tgSales7DaysPercent,
			b.tgSales30Days,
			b.tgSales30DaysPercent,
			b.tgSalesInThisYear,
			b.tgSalesInThisYearPercent,
			b.jdPriceFinalRmb AS jdPriceFinalRmb,
			b.jdIsOnSale AS jdIsOnSale,
			b.jdIsApproved AS jdIsApproved,
			b.jdPrePublishDateTime AS jdPrePublishDateTime,
			case b.jdPublishStatus
			when 0 then 'Pending'
			when 1 then 'Success'
			when 2 then 'Faild'
			else b.jdPublishStatus
			end as jdPublishStatus,
			b.jdNumIid,
			b.jdPublishFaildComment,
			b.jdSales7Days,
			b.jdSales7DaysPercent,
			b.jdSales30Days,
			b.jdSales30DaysPercent,
			b.jdSalesInThisYear,
			b.jdSalesInThisYearPercent,
			b.jgPriceFinalRmb AS jgPriceFinalRmb,
			b.jgIsOnSale AS jgIsOnSale,
			b.jgIsApproved AS jgIsApproved,
			b.jgPrePublishDateTime AS jgPrePublishDateTime,
			case b.jgPublishStatus
			when 0 then 'Pending'
			when 1 then 'Success'
			when 2 then 'Faild'
			else b.jgPublishStatus
			end as jgPublishStatus,
			b.jgNumIid,
			b.jgPublishFaildComment,
			b.jgSales7Days,
			b.jgSales7DaysPercent,
			b.jgSales30Days,
			b.jgSales30DaysPercent,
			b.jgSalesInThisYear,
			b.jgSalesInThisYearPercent,
			b.category_id,
			b.channel_id,
			b.cnOfficialPriceAdjustmentRmb AS cnOfficialPriceAdjustmentRmb,
			b.cnOfficialSalesAllDays,
			b.cnOfficialSalesAllDaysPercent,
			b.cnPriceAdjustmentRmb AS cnPriceAdjustmentRmb,
			b.cnSalesAllDays,
			b.cnSalesAllDaysPercent,
			b.creater,
			b.effectivePrice AS effectivePrice,
			b.firstSalePrice AS firstSalePrice,
			b.image_name,
			b.is_approved_description,
			b.is_effective,
			b.jdPriceAdjustmentRmb AS jdPriceAdjustmentRmb,
			b.jdSalesAllDays,
			b.jdSalesAllDaysPercent,
			b.jgPriceAdjustmentRmb AS jgPriceAdjustmentRmb,
			b.jgSalesAllDays,
			b.jgSalesAllDaysPercent,
			b.model_id,
			b.modifier,
			b.product_id,
			b.tbPriceAdjustmentRmb AS tbPriceAdjustmentRmb,
			b.tbSalesAllDays,
			b.tbSalesAllDaysPercent,
			b.tgPriceAdjustmentRmb AS tgPriceAdjustmentRmb,
			b.tgSalesAllDays,
			b.tgSalesAllDaysPercent,
			b.tmPriceAdjustmentRmb AS tmPriceAdjustmentRmb,
			b.tmSalesAllDays,
			b.tmSalesAllDaysPercent,
			b.tbFreeShippingType AS tbFreeShippingType,
			b.tmFreeShippingType AS tmFreeShippingType,
			b.tgFreeShippingType AS tgFreeShippingType,
			b.jdFreeShippingType AS jdFreeShippingType,
			b.jgFreeShippingType AS jgFreeShippingType
			FROM
			voyageone_ims.ims_bt_product s
			LEFT JOIN cms_bt_cn_product_share r on r.product_id = s.product_id and r.channel_id = s.channel_id and r.cart_id = s.cart_id
				<if test="isApprovedDescription != null and isApprovedDescription != ''">
				left join cms_bt_cn_product t on r.product_id = t.product_id and r.channel_id = t.channel_id and t.cn_is_approved_description = #{isApprovedDescription}
				</if>
				LEFT JOIN view_cn_product_info_list b ON r.channel_id = b.channel_id AND r.product_id = b.product_id
				LEFT JOIN Synship.wms_bt_inventory_center_logic c ON c.code = b.CODE and c.order_channel_id = b.channel_id
			WHERE
				s.channel_id = #{channelId}
				<if test="publishStatus != null and publishStatus != ''">
					and s.publish_status = #{publishStatus}
				</if>
				<if test="isOnSale != null and isOnSale != ''">
				AND r.is_on_sale = #{isOnSale}
				</if>
				<if test="cartId != null and cartId != ''">
				AND s.cart_id = #{cartId}
				</if>
				<if test="isApproved != null and isApproved != ''">
				AND r.is_approved = #{isApproved}
				</if>

			GROUP BY s.product_id, s.channel_id
			<if test="start != null and length != null">
			LIMIT #{start}, #{length}
			</if>

	</select>
	<select id="advance_search_count" resultType="Integer"  parameterType="HashMap">
		select count(1) from
		(SELECT
		s.product_id
		FROM
		voyageone_ims.ims_bt_product s
		LEFT JOIN cms_bt_cn_product_share r on r.product_id = s.product_id and r.channel_id = s.channel_id and r.cart_id = s.cart_id
		<if test="isApprovedDescription != null and isApprovedDescription != ''">
			left join cms_bt_cn_product t on r.product_id = t.product_id and r.channel_id = t.channel_id and t.cn_is_approved_description = #{isApprovedDescription}
		</if>
		LEFT JOIN view_cn_product_info_list b ON r.channel_id = b.channel_id AND r.product_id = b.product_id
		LEFT JOIN Synship.wms_bt_inventory_center_logic c ON c.code = b.CODE and c.order_channel_id = b.channel_id
		WHERE
		s.channel_id = #{channelId}
		<if test="publishStatus != null and publishStatus != ''">
			and s.publish_status = #{publishStatus}
		</if>
		<if test="isOnSale != null and isOnSale != ''">
			AND r.is_on_sale = #{isOnSale}
		</if>
		<if test="cartId != null and cartId != ''">
			AND s.cart_id = #{cartId}
		</if>
		<if test="isApproved != null and isApproved != ''">
			AND r.is_approved = #{isApproved}
		</if>

		GROUP BY s.product_id, s.channel_id
		) a
	</select>
</mapper>