html,
body {
  height: 100%;
  font-family: "Microsoft Yahei", sans-serif;
}
.container {
  width: 1500px;
}
@media (max-width: 1500px) {
  .container {
    width: 1300px;
  }
}
@media (max-width: 1350px) {
  .container {
    width: 1150px;
  }
}
.content {
  padding-top: 10px;
  padding-bottom: 25px;
}
.topbar {
  text-align: right;
  font-size: 12px;
  color: #939393;
  padding-top: 10px;
}
.form-text,
.form-text a {
  line-height: 32px;
  font-size: 14px;
}
.form-inline .control-label {
  margin-left: 15px;
}
.form-inline .form-group:first-child .control-label {
  margin-left: 0;
}
.table-vo thead th {
  background-color: #339be6;
  color: white;
}
.header {
  border-bottom: 1px solid #eeeeee;
}
.header .navbar {
  min-height: 0;
}
.header .navbar-header {
  margin-top: -38px;
}
.header .navbar-brand {
  padding-left: 0;
}
.header .navbar-brand img {
  height: 50px;
}
.header .navbar-nav .dropdown.open .dropdown-toggle {
  background-color: transparent;
}
.header .navbar-nav .dropdown-toggle {
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
}
.header .navbar-nav .dropdown-menu {
  border-top: solid 2px #72c02c;
}
.header .navbar-nav .dropdown-menu li a {
  padding: 5px 10px;
}
.dropdown-toggle-arr:after {
  font-family: FontAwesome;
  content: "\f107";
  margin-left: 10px;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand {
    margin-left: -5px;
  }
}
.navbar-default {
  margin-bottom: 0;
  border: 0;
  background-color: transparent;
}
@media (min-width: 992px) {
  .header .navbar-nav {
    float: right;
  }
}
.breadcrumbs {
  background-color: #fafafa;
  border-bottom: 1px solid #eeeeee;
}
.breadcrumbs h4 {
  color: #525151;
}
.breadcrumb {
  margin-top: 2px;
  margin-bottom: 0;
  padding-right: 0;
  background: transparent;
}
.control-label {
  font-weight: normal;
}
.form-control {
  padding: 5px 5px;
}
select.form-control,
input.form-control {
  height: 28px;
}
.btn {
  padding: 3px 10px;
}
.panel {
  margin-bottom: 10px;
}
.dropdown-toggle {
  cursor: pointer;
}
.dropdown-menu-sm li {
  padding: 3px 10px;
  cursor: pointer;
  font-size: 12px;
}
.dropdown-menu-sm li:hover {
  background-color: #337ab7;
  color: white;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.td-12 {
  width: 100%;
}
.td-11 {
  width: 91.66666667%;
}
.td-10 {
  width: 83.33333333%;
}
.td-9 {
  width: 75%;
}
.td-8 {
  width: 66.66666667%;
}
.td-7 {
  width: 58.33333333%;
}
.td-6 {
  width: 50%;
}
.td-5 {
  width: 41.66666667%;
}
.td-4 {
  width: 33.33333333%;
}
.td-3 {
  width: 25%;
}
.td-2 {
  width: 16.66666667%;
}
.td-1 {
  width: 8.33333333%;
}
