html,
body {
  height: 100%;
}
.container {
  width: 90%;
}
@media (max-width: 1150px) {
  .container {
    width: 99%;
  }
}
.breadcrumbs h4 {
  color: #525151;
}
.breadcrumb {
  margin-bottom: 0;
  padding: 10px 0;
  position: static;
}
.content {
  padding-top: 25px;
  padding-bottom: 25px;
}
.header .navbar-brand {
  padding-left: 0;
}
.control-label {
  font-weight: normal;
}
.navbar-brand {
  margin-top: -10px;
}
.navbar-brand img {
  height: 50px;
}
.topbar {
  text-align: right;
  font-size: 12px;
  color: #939393;
}
.topbar span {
  margin-left: 15px;
}
.form-text,
.form-text a {
  line-height: 32px;
  font-size: 14px;
}
.search-box-inline label.input-group-addon {
  border: 0;
  color: #56564d;
}
.padding-xs .row,
.padding-xs.row,
.padding-xs .form-group,
.padding-xs.form-group {
  margin-right: -5px;
  margin-left: -5px;
}
.padding-xs .col-xs-1,
.padding-xs .col-sm-1,
.padding-xs .col-md-1,
.padding-xs .col-lg-1,
.padding-xs .col-xs-2,
.padding-xs .col-sm-2,
.padding-xs .col-md-2,
.padding-xs .col-lg-2,
.padding-xs .col-xs-3,
.padding-xs .col-sm-3,
.padding-xs .col-md-3,
.padding-xs .col-lg-3,
.padding-xs .col-xs-4,
.padding-xs .col-sm-4,
.padding-xs .col-md-4,
.padding-xs .col-lg-4,
.padding-xs .col-xs-5,
.padding-xs .col-sm-5,
.padding-xs .col-md-5,
.padding-xs .col-lg-5,
.padding-xs .col-xs-6,
.padding-xs .col-sm-6,
.padding-xs .col-md-6,
.padding-xs .col-lg-6,
.padding-xs .col-xs-7,
.padding-xs .col-sm-7,
.padding-xs .col-md-7,
.padding-xs .col-lg-7,
.padding-xs .col-xs-8,
.padding-xs .col-sm-8,
.padding-xs .col-md-8,
.padding-xs .col-lg-8,
.padding-xs .col-xs-9,
.padding-xs .col-sm-9,
.padding-xs .col-md-9,
.padding-xs .col-lg-9,
.padding-xs .col-xs-10,
.padding-xs .col-sm-10,
.padding-xs .col-md-10,
.padding-xs .col-lg-10,
.padding-xs .col-xs-11,
.padding-xs .col-sm-11,
.padding-xs .col-md-11,
.padding-xs .col-lg-11,
.padding-xs .col-xs-12,
.padding-xs .col-sm-12,
.padding-xs .col-md-12,
.padding-xs .col-lg-12 {
  padding-left: 5px;
  padding-right: 5px;
}
