out/
.idea/
classes/
.project/
.settings/
.classpath
.tern-project
*.iml
*.patch
*.diff
node_modules/
target/
.externalToolBuilders/
dependency-reduced-pom.xml
npm-debug.log
rebel.xml
node_modules
.project