<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
          http://www.springframework.org/schema/task
          http://www.springframework.org/schema/task/spring-task.xsd">
    <task:scheduled-tasks scheduler="cms-job-scheduler">

        <!-- 消息队列恢复 task 每5分钟运行一次 -->
        <task:scheduled ref="mqResumeJob" method="run" cron="0 0/5 * * * ?"/>

        <!-- CMS 批量上传图片文件到Scene Server Ftp JOB 每2分钟运行一次-->
        <task:scheduled ref="CmsBulkUploadImageToS7Job" method="run" cron="0 0/2 * * * ?"/>

        <!-- cms2 batch add    -->
        <!-- 从Cms系统导入产品数据到收索服务器 （每天早上4：30点一次） -->
        <task:scheduled ref="CmsProductTotalImportToSearchJob" method="run" cron="0 30 20 * * ?"/>
        <!-- 从Cms系统导入产品数据到收索服务器为分销系统使用 （每天早上4：40点一次） -->
        <task:scheduled ref="CmsProductTotalImportToDistSearchJob" method="run" cron="0 40 20 * * ?"/>

        <!-- 将产品导入到主数据的值表 > 由于运营可能需要随时修改主类目，所以改为3分钟运行一次 -->
        <task:scheduled ref="CmsSetMainPropMongoJob" method="run" cron="0 0/1 0-23 * * ?"/>

        <!--&lt;!&ndash; 旧版天猫上新CMS2中已废弃 &ndash;&gt;-->
        <!--<task:scheduled ref="UploadProductJob" method="run" cron="0 0/1 0-23 * * ?"/>-->

        <!-- 天猫上新 -->
        <task:scheduled ref="CmsBuildPlatformProductUploadTmJob" method="run" cron="0 0/1 0-23 * * ?"/>

        <!-- 天猫官网同购上新 -->
        <task:scheduled ref="CmsBuildPlatformProductUploadTmTongGouJob" method="run" cron="0 0/1 0-23 * * ?"/>

        <!-- 京东上新 -->
        <task:scheduled ref="CmsBuildPlatformProductUploadJdJob" method="run" cron="0 0/1 0-23 * * ?"/>

        <!-- 聚美上新 -->
        <task:scheduled ref="CmsBuildPlatformProductUploadJMJob" method="run" cron="0 0/1 0-23 * * ?"/>

        <!-- 取得平台类目:手动batch -->
        <task:scheduled ref="getPlatformCategoryTreesTask" method="run" cron="0 0/1 0-23 * * ?"/>

        <!-- 取得平台类目的schema:手动batch -->
        <task:scheduled ref="getPlatformCategorySchemaTask" method="run" cron="0 0/1 0-23 * * ?"/>

        <!-- 生成主数据的schema:手动batch -->
        <task:scheduled ref="buildMasterSchemaFromPlatformTask" method="run" cron="0 0/1 0-23 * * ?"/>

        <!-- 主数据到平台的默认mapping数据做成:手动batch -->
        <task:scheduled ref="CmsPlatformMappingJob" method="run" cron="0 0/1 * * * ?"/>

        <!-- 从天猫拉取商品数据, 插入到主数据 (用于旧系统迁移到新系统):手动batch -->
        <task:scheduled ref="CmsPlatformProductImportJob" method="run" cron="0 0/3 0-23 * * ?"/>

        <!-- cms2的图片推送到Scene7-->
        <task:scheduled ref="CmsImagePostScene7Job" method="run" cron="0/30 * * * * ?"/>

        <!-- 价格披露 v2 -->
        <task:scheduled ref="CmsBeatJob" method="run" cron="0 0/1 0-23 * * ?"/>

        <!-- 特价宝  -->
        <task:scheduled ref="CmsPromotionJob" method="run" cron="0 0/1 0-23 * * ?"/>

        <!-- 库存数据导入 cms2 -->
        <task:scheduled ref="CmsSynInventoryToCmsJob" method="run" cron="25 30 0/1 * * ?"/>

        <!-- Jewelry feed 导入 cms2 -->
        <task:scheduled ref="CmsJEAnalysisJob" method="run" cron="0 0 0/1 * * ?"/>

        <!-- Shoe City feed 导入 cms2 -->
        <task:scheduled ref="ShoeCityAnalysisJob" method="run" cron="0 10 0/1 * * ?"/>

        <!-- BHFO feed 导入 cms2 -->
        <task:scheduled ref="CmsBhfoAnalySisJob" method="run" cron="0 15 0/1 * * ?"/>

        <!-- SummerGuru feed 导入 cms2 -->
        <task:scheduled ref="CmsSummerGuruAnalySisJob" method="run" cron="0 20 0/1 * * ?"/>

        <!-- ShoeZoo feed 导入 cms2 -->
        <task:scheduled ref="CmsShoeZooAnalysisJob" method="run" cron="0 25 0/1 * * ?"/>

        <!-- OverStock feed 导入 cms2 -->
        <task:scheduled ref="CmsOverStockAnalysisJob" method="run" cron="20 0/5 * * * ?"/>

        <!-- OverStock price 导入 cms2 -->
        <task:scheduled ref="OverStockPriceAnalysisJob" method="run" cron="13 0/2 * * * ?"/>

        <!-- LightHouse 导入 cms2 -->
        <task:scheduled ref="CmsLightHouseAnalysisJob" method="run" cron="0 35 0/1 * * ?"/>

        <!-- FragranceNet feed 导入 cms2 -->
        <task:scheduled ref="CmsFragranceNetAnalysisJob" method="run" cron="0 40 0/1 * * ?"/>

        <!-- YogaDemocracy feed 导入 cms2 -->
        <task:scheduled ref="CmsYogaDemocracyAnalysisJob" method="run" cron="0 0/13 * * * ?"/>

        <!-- ShoeMetro feed 导入 cms2 -->
        <task:scheduled ref="CmsShoeMetroAnalysisJob" method="run" cron="0 0/13 * * * ?"/>

        <!-- Modotex feed 导入 cms2 -->
        <task:scheduled ref="CmsModotexAnalysisJob" method="run" cron="0 40 0/1 * * ?"/>

        <!-- SwissWatch feed 导入 cms2 -->
        <task:scheduled ref="CmsSwissWatchAnalysisJob" method="run" cron="0 0/13 * * * ?"/>

        <!-- EdcSkincare feed 导入 cms2 -->
        <task:scheduled ref="CmsEdcSkincareAnalysisJob" method="run" cron="0 50 0/1 * * ?"/>

        <!-- Target feed 导入 cms2 -->
        <task:scheduled ref="CmsTargetAnalySisJob" method="run" cron="15 0/5 * * * ?"/>

        <!-- 维他命 feed 导入 cms2 -->
        <task:scheduled ref="CmsVtmJob" method="run" cron="10 25 9 * * ?"/>

        <!-- Gilt feed 导入 cms2 -->
        <task:scheduled ref="Cms2GiltAnalysisJob" method="run" cron="40 0/1 * * * ?"/>

        <!-- DFO 导入 cms2 -->
        <task:scheduled ref="CmsDfoAnalysisJob" method="run" cron="40 0/1 * * * ?"/>

        <!-- Champion 导入 cms2 -->
        <task:scheduled ref="CmsChampionAnalysisJob" method="run" cron="0 0/5 0-23 * * ?"/>

        <!-- SneakerHead feed 导入 cms2 -->
        <task:scheduled ref="CmsSneakerHeadAnalysisJob" method="run" cron="0 0/1 * * * ?"/>

        <!-- Wmf 导入 cms2 -->
        <task:scheduled ref="CmsWmfAnalysisJob" method="run" cron="40 * 0/1 * * ?"/>

        <!-- Wmf价格 导入 cms2 -->
        <task:scheduled ref="WmfPriceAnalysisJob" method="run" cron="30 * 0/1 * * ?"/>

        <!-- KitBag feed 导入 cms2 -->
        <task:scheduled ref="CmsKitBagAnalysisJob" method="run" cron="0 0/15 * * * ?"/>

        <!-- 产品数据上新到USJoi -->
        <task:scheduled ref="CmsUploadProductToUSJoiJob" method="run" cron="20 0/1 * * * ?"/>

        <!-- 库存隔离batch -->
        <task:scheduled ref="CmsStockSeparateJob" method="run" cron="0 0/5 * * * ?"/>

        <!-- 库存还原batch -->
        <task:scheduled ref="CmsStockRevertJob" method="run" cron="0 0/5 * * * ?"/>

        <!-- 增量库存隔离batch -->
        <task:scheduled ref="CmsStockIncrementJob" method="run" cron="0 0/5 * * * ?"/>

        <!-- 设定活动结束的隔离数据状态为等待还原batch -->
        <task:scheduled ref="CmsStockWaitingRevertJob" method="run" cron="0 0/5 * * * ?"/>

        <!-- 图片上传到平台batch -->
        <task:scheduled ref="CmsUploadImageToPlatformJob" method="run" cron="0 0/5 * * * ?"/>

        <!-- 从oms系统导入产品前90天订单信息到订单历史记录表，并统计出指定销量数据 -->
        <task:scheduled ref="CmsImportOrdersHisInfoJob" method="run" cron="0 40 9 * * ?"/>

        <!-- 将主类目/对应的平台类目信息导入到cms_mt_category_tree_all表 -->
        <task:scheduled ref="CmsImportCategoryTreeJob" method="run" cron="0 0/1 * * * ?"/>

        <!-- 将主类目/对应的平台类目信息导入到cms_mt_category_tree_all表 -->
        <task:scheduled ref="CmsDataAmountJob" method="run" cron="1 40 0/1 * * ?"/>

        <!-- 自动维护Mongodb索引（每天执行一次） -->
        <task:scheduled ref="CmsMongoOptimizeIndexJob" method="run" cron="0 0 3 * * ?"/>

        <!-- overstock 价格变更监听 -->
        <task:scheduled ref="CmsOverstockPriceEventJob" method="run" cron="9 0/3 0 * * *"/>

        <!-- BCBG Feed 导入 cms2 (每三分钟的第40秒执行) -->
        <task:scheduled ref="Cms2BcbgAnalysisJob" method="run" cron="40 0/3 * * * *"/>

        <!-- 单独向Target发送数据-->
        <task:scheduled ref="TargetDailyService" method="run" cron="0 0 1,13 * * *"/>

        <!-- 从天猫/京东获取商品的上下架状态（每天早上2点一次） -->
        <task:scheduled ref="CmsGetPlatformStatusJob" method="run" cron="0 0 0/2 * * ?"/>

        <!-- 聚美活动开始 把商城的价格设置为活动价 -->
        <task:scheduled ref="CmsJmMallPromotionPriceSyncJob" method="run" cron="0 0/5 * * * ?"/>
        <!-- 聚美活动结束 把商城的价格回复 -->
        <task:scheduled ref="CmsJmMallPriceReductionJob" method="run" cron="0 0/5 * * * ?"/>

        <!-- 聚美活动结束 把商城的价格回复 -->
        <task:scheduled ref="CmsSynJmPromotionDealPriceJob" method="run" cron="0 0 17 * * ?"/>

        <!-- 每天同步聚美活动里面的价格 -->
        <task:scheduled ref="CmsGetAllPlatformsInfoJob" method="run" cron="0 0 5 * * ?"/>

        <!-- 独立域名上新xml准备（每分钟一次） -->
        <task:scheduled ref="CmsBuildPlatformProductUploadCnPrepareJob" method="run" cron="0 0/1 0-23 * * ?"/>

        <!-- 独立域名上新（每3分钟一次） -->
        <task:scheduled ref="CmsBuildPlatformProductUploadCnJob" method="run" cron="0 0/3 0-23 * * ?"/>

        <!-- 独立域名类目-产品关系（每5分钟一次） -->
        <task:scheduled ref="CmsBuildPlatformProductSellercatCnJob" method="run" cron="0 0/5 0-23 * * ?"/>

         <!--&lt;!&ndash;独立域名图片上传（每2小时一次） &ndash;&gt;-->
        <!--<task:scheduled ref="CmsBuildPlatformImageUploadCnJob" method="run" cron="0 0 0/2 * * ?"/>-->

        <!-- target的feed所有sku的判断,是live还是notLive处理（每天早上3点一次） -->
        <task:scheduled ref="CmsTargetStautsJob" method="run" cron="0 20 0/1 * * ?"/>

        <!-- CmsUsCategorySyncJob: 获取 sneakerhead 在美国 cms 的类目结构和 product 的挂靠关系 vantis -->
        <task:scheduled ref="CmsUsCategorySyncJob" method="run" cron="0 45 0/1 * * ?"/>

        <!-- CmsUsPlatformStatusSyncJob: 获取 sneakerhead 在美国销售平台的上新情况 vantis -->
        <task:scheduled ref="CmsUsPlatformStatusSyncJob" method="run" cron="0 15 0/1 * * ?"/>

        <!-- 从老Cms系统取得销售数据（每天早上4：40点一次） -->
        <task:scheduled ref="CmsSumSneakerHeadSalesHisInfoJob" method="run" cron="0 40 20 * * ?"/>

        <!--定时清除高级检索导出产生的下载文件-->
        <task:scheduled ref="cmsAdvSearchExportFileDeleteJob" method="run" cron="20 1 17 * * ?"/>

        <!-- 独立域名上新xml准备（每分钟一次） -->
        <task:scheduled ref="CmsBuildPlatformProductUploadCnPrepareTmpJob" method="run" cron="0 0/1 0-23 * * ?"/>

        <!-- 独立域名上新（每3分钟一次） -->
        <task:scheduled ref="CmsBuildPlatformProductUploadCnTmpJob" method="run" cron="0 0/3 0-23 * * ?"/>

        <!-- 独立域名类目-产品关系（每5分钟一次） -->
        <task:scheduled ref="CmsBuildPlatformProductSellercatCnTmpJob" method="run" cron="0 0/5 0-23 * * ?"/>

        <!-- 被迫下架的商品 自动上架（每5分钟一次） -->
        <task:scheduled ref="platformForcedInStockProduct_AutoOnSaleJob" method="run" cron="0 0/5 0-23 * * ?" />

        <!-- 分销上新（每3分钟一次） -->
        <task:scheduled ref="CmsBuildPlatformProductUploadDtJob" method="run" cron="0 0/3 0-23 * * ?"/>

        <!-- Liking新独立域名上新（每3分钟一次） -->
        <task:scheduled ref="CmsBuildPlatformProductUploadCnnJob" method="run" cron="0 0/3 0-23 * * ?"/>

    </task:scheduled-tasks>

    <!-- 必须需要 -->
    <task:scheduler id="cms-job-scheduler" pool-size="10"/>
</beans>
