<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
          http://www.springframework.org/schema/task
          http://www.springframework.org/schema/task/spring-task.xsd">
    <task:scheduled-tasks scheduler="cms-job-scheduler">

        <!-- mq resume task 每5分钟运行一次 -->
        <!--<task:scheduled ref="mqResumeJob" method="run" cron="0/5 * * * * ?"/>-->

        <!-- cms2 batch add    -->
        <!-- 将产品导入到主数据的值表 > 由于运营可能需要随时修改主类目，所以改为3分钟运行一次 -->
        <task:scheduled ref="cmsSetMainPropMongoTask" method="run" cron="0 0/3 0-23 * * ?"/>

        <!-- 上新 -->
        <task:scheduled ref="UploadProductJob" method="run" cron="0 0/3 0-23 * * ?"/>

        <!-- 取得平台类目:手动batch -->
        <task:scheduled ref="getPlatformCategoryTreesTask" method="run" cron="0 0/1 0-23 * * ?"/>

        <!-- 取得平台类目的schema:手动batch -->
        <task:scheduled ref="getPlatformCategorySchemaTask" method="run" cron="0 0/1 0-23 * * ?"/>

        <!-- 生成主数据的schema:手动batch -->
        <task:scheduled ref="buildMasterSchemaFromPlatformTask" method="run" cron="0 0/1 0-23 * * ?"/>

        <!-- 主数据到平台的默认mapping数据做成:手动batch -->
        <task:scheduled ref="CmsPlatformMappingJob" method="run" cron="0 0/1 * * * ?"/>

        <!-- 从天猫拉取商品数据, 插入到主数据 (用于旧系统迁移到新系统):手动batch -->
        <task:scheduled ref="CmsPlatformProductImportJob" method="run" cron="0 0/3 0-23 * * ?"/>

        <!-- cms2的图片推送到Scene7-->
        <task:scheduled ref="CmsImagePostScene7Job" method="run" cron="0/30 * * * * ?"/>

        <!-- 价格披露 v2 -->
        <task:scheduled ref="CmsBeatJob" method="run" cron="0 0/1 0-23 * * ?"/>

        <!-- 特价宝  -->
        <task:scheduled ref="CmsPromotionJob" method="run" cron="0 0/1 0-23 * * ?"/>

        <!-- 库存数据导入 cms2 -->
        <task:scheduled ref="CmsSynInventoryToCmsJob" method="run" cron="25 0/10 * * * ?"/>

        <!-- Jewelry feed 导入 cms2 -->
        <task:scheduled ref="CmsJEAnalysisJob" method="run" cron="0 0 0/1 * * ?"/>

        <!-- Shoe City feed 导入 cms2 -->
        <task:scheduled ref="ShoeCityAnalysisJob" method="run" cron="20 0 0/1 * * ?"/>

        <!-- BHFO feed 导入 cms2 -->
        <task:scheduled ref="CmsBhfoAnalySisJob" method="run" cron="50 0 0/1 * * ?"/>

        <!-- 维他命 feed 导入 cms2 -->
        <task:scheduled ref="CmsVtmJob" method="run" cron="10 0/1 * * * ?"/>

        <!-- Gilt feed 导入 cms2 -->
        <task:scheduled ref="Cms2GiltAnalysisJob" method="run" cron="40 0/1 * * * ?"/>

        <!-- 产品数据上新到USJoi -->
        <task:scheduled ref="CmsUploadProductToUSJoiJob" method="run" cron="20 0/3 * * * ?"/>

        <!-- 库存隔离batch -->
        <task:scheduled ref="CmsStockSeparateJob" method="run" cron="0 0/5 * * * ?"/>

        <!-- 库存还原batch -->
        <task:scheduled ref="CmsStockRevertJob" method="run" cron="0 0/5 * * * ?"/>

        <!-- 增量库存隔离batch -->
        <task:scheduled ref="CmsStockIncrementJob" method="run" cron="0 0/5 * * * ?"/>

        <!-- 设定活动结束的隔离数据状态为等待还原batch -->
        <task:scheduled ref="CmsStockWaitingRevertJob" method="run" cron="0 0/5 * * * ?"/>

    </task:scheduled-tasks>

    <!-- 必须需要 -->
    <task:scheduler id="cms-job-scheduler" pool-size="3"/>
</beans>
