<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/rabbit
           http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <rabbit:queue name="voyageone_cms_batchjob_promotion_queue" durable="true" auto-delete="false" exclusive="false"/>
    <rabbit:queue name="voyageone_cms_batchjob_JmBtPromotionImportTask_queue" durable="true" auto-delete="false" exclusive="false"/>
    <rabbit:queue name="voyageone_cms_batchjob_JuMeiProductUpdate_queue" durable="true" auto-delete="false" exclusive="false"/>
    <rabbit:queue name="voyageone_cms_batchjob_JuMeiProductUpdateDealEndTimeJobService_queue" auto-delete="false" exclusive="false"/>
    <rabbit:queue name="voyageone_cms_batchjob_CmsBuildPlatformCategoryTreeJdJob_queue" durable="true" auto-delete="false" exclusive="false"/>
    <rabbit:queue name="voyageone_cms_batchjob_CmsBuildPlatformCategorySchemaJdJob_queue" durable="true" auto-delete="false" exclusive="false"/>
    <rabbit:queue name="voyageone_cms_batchjob_AliYunOSSJob_queue" durable="true" auto-delete="false" exclusive="false"/>
    <rabbit:queue name="voyageone_cms_batchjob_LiquidFireJob_queue" durable="true" auto-delete="false" exclusive="false"/>
    <rabbit:queue name="voyageone_cms_batchjob_USCDNJob_queue" durable="true" auto-delete="false" exclusive="false"/>
    <!--CMS_BATCH_AliYunOSSJob("voyageone_cms_batchjob_AliYunOSSJob_queue"),-->
    <!--CMS_BATCH_LiquidFireJob("voyageone_cms_batchjob_LiquidFireJob_queue"),-->
    <!--CMS_BATCH_USCDNJob("voyageone_cms_batchjob_USCDNJob_queue");-->

    <rabbit:listener-container connection-factory="rabbitConnFactory" acknowledge="auto">
        <rabbit:listener queue-names="voyageone_cms_batchjob_promotion_queue" ref="cmsPromotionMqJob"/>
        <rabbit:listener queue-names="voyageone_cms_batchjob_JmBtPromotionImportTask_queue" ref="juMeiBtPromotionImportJob"/>
        <rabbit:listener queue-names="voyageone_cms_batchjob_JmBtPromotionExportTask_queue" ref="juMeiBtPromotionExportJob"/>
        <rabbit:listener queue-names="voyageone_cms_batchjob_JuMeiProductUpdate_queue"      ref="juMeiProductUpdateJob" />
        <rabbit:listener queue-names="voyageone_cms_batchjob_JuMeiProductUpdateDealEndTimeJobService_queue" ref="juMeiProductUpdateDealEndTimeJobService"/>
        <rabbit:listener queue-names="voyageone_cms_batchjob_CmsBuildPlatformCategoryTreeJdJob_queue" ref="cmsBuildPlatformCategoryTreeJdMqJob"/>
        <rabbit:listener queue-names="voyageone_cms_batchjob_CmsBuildPlatformCategorySchemaJdJob_queue" ref="cmsBuildPlatformCategorySchemaJdMqJob"/>

        <rabbit:listener queue-names="voyageone_cms_batchjob_AliYunOSSJob_queue" ref="aliYunOSSJob"/>
        <rabbit:listener queue-names="voyageone_cms_batchjob_LiquidFireJob_queue" ref="liquidFireJob"/>
        <rabbit:listener queue-names="voyageone_cms_batchjob_USCDNJob_queue" ref="uSCDNJob"/>

    </rabbit:listener-container>

</beans>