<div class="breadcrumbs" ng-init="ctrl.init()">
    <div class="container">
        <h4 class="pull-left" translate="TXT_SHIPMENT_DETAIL"></h4>
        <ul class="pull-right breadcrumb">
            <li><a href="#/home" translate="TXT_HOME"></a></li>
            <li class="active disabled" translate="TXT_SHIPMENT"></li>
            <li><a href="#/shipment/shipment_info" translate="TXT_SHIPMENT_INFO"></a></li>
            <li class="active selecte" translate="TXT_SHIPMENT_DETAIL"></li>
        </ul>
    </div>
</div>
<div class="container content">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-4">
                        <a class="btn btn-primary" ng-href="#/shipment/shipment_info"><i class="fa fa-mail-reply"></i>&nbsp;&nbsp;{{'BTN_BACK' | translate}}</a>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group input-group">
                            <input type="text" class="form-control" ng-attr-placeholder="{{'TXT_BARCODE' | translate}}"
                                   ng-model="ctrl.barcode" enter-click="#scan" ng-autofocus="true">
                            <span class="input-group-btn"><button id="scan" class="btn btn-info" type="button" ng-click="ctrl.scan()" translate="BTN_SCAN"></button></span>
                        </div>
                    </div>
                </div>
                <form name="shipmentForm" class="col-sm-12" novalidate>
                    <table class="no-min-width table table-vo table-striped">
                        <thead>
                        <tr>
                            <th class="td-2 text-center">ShipmentName</th>
                            <th class="td-1 text-center">Status</th>
                            <th class="td-2 text-center">ShipmentDate</th>
                            <th class="td-2 text-center">ExpressCompany</th>
                            <th class="td-2 text-center">TrackingNo</th>
                            <th class="td-1 text-center">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="td-2 text-center v-middle">{{ctrl.shipment.shipmentName}}</td>
                            <td class="td-1 text-center v-middle">{{ctrl.getStatusName(ctrl.shipment.status)}}</td>
                            <td class="td-2 text-center v-middle">
                                <span ng-class="{'input-group':true, 'has-error': !shipmentForm.shippedDate.$valid}">
                                    <input id="shippedDate" name="shippedDate" class="form-control"
                                           ng-attr-title="{{'TXT_SHIPPED_DATE' | translate}}"
                                           type="date"
                                           ng-model="ctrl.shipment.shippedDate"
                                           uib-datepicker-popup
                                           is-open="datepicker1" required
                                           ng-disabled="ctrl.shipment.status != 1 && ctrl.shipment.status != 3">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="datepicker1=!datepicker1" ng-disabled="ctrl.shipment.status != 1 && ctrl.shipment.status != 3">
                                        <i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                                </span>
                            </td>
                            <td ng-class="{'td-2 text-left v-middle':true, 'has-error': !shipmentForm.expressCompany.$valid}">
                                <select name="expressCompany" id="select" class="form-control"
                                        ng-disabled="ctrl.shipment.status != 1 && ctrl.shipment.status != 3"
                                        ng-model="ctrl.shipment.expressCompany"
                                        ng-options="option.value as option.name for option in ctrl.expressCompanies" required>
                                </select>
                            </td>
                            <td ng-class="{'td-2 text-center v-middle': true, 'has-error':!shipmentForm.trackingNo.$valid}">
                                <input name="trackingNo" type="text" class="form-control"
                                       ng-model="ctrl.shipment.trackingNo"
                                       ng-disabled="ctrl.shipment.status != 1 && ctrl.shipment.status != 3" required>
                            </td>
                            <td class="td-1 text-center v-middle">
                                <button class="btn btn-primary btn-sm" translate="BTN_SHIPPED"
                                        ng-click="ctrl.ship()"
                                        ng-disabled="(!ctrl.scannedSkuList || ctrl.scannedSkuList.length == 0)
                                         || !shipmentForm.$valid
                                         || (ctrl.shipment.status != 1 && ctrl.shipment.status != 3)"></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <div class="headline" style="margin-bottom: 12px;"><h2>Item list</h2></div>
    <div class="panel panel-vo">
        <div class="panel-body">
            <div class="table-responsive" if-no-rows="ctrl.scannedSkuList">
                <table class="table table-fixed table-vo table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="td-1 text-center">No</th>
                        <th class="td-2 text-center">Barcode</th>
                        <th class="td-2 text-center">Sku</th>
                        <th class="td-3 text-center">Description</th>
                        <th class="td-2 text-center">Order ID</th>
                        <th class="td-3 text-center">Containerizing Time</th>
                        <th class="td-3 text-center">Containerizing User</th>
                        <th class="td-1 text-center">Status</th>
                        <!--<th class="td-1 text-center">Action</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in ctrl.scannedSkuList">
                        <td class="td-1 text-center">{{ctrl.scannedSkuList.length - $index}}</td>
                        <td class="td-2 text-center">{{item.barcode}}</td>
                        <td class="td-2 text-center">{{item.clientSku}}</td>
                        <td class="td-3 text-center">{{item.name}}</td>
                        <td class="td-2 text-center">{{item.consolidationOrderId}}</td>
                        <td class="td-2 text-center">{{item.containerizingTime | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td class="td-2 text-center">{{item.containerizer}}</td>
                        <td class="td-1 text-center">{{ctrl.getStatusName(item.status)}}</td>
                        <!--<td class="td-1 text-center">-->
                        <!--<button class="btn btn-xs btn-info"><i class="fa fa-print"></i></button>-->
                        <!--</td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>