<div class="wrapper-md" ng-init="ctrl.init()">
    <div class="vo_accordion vo_attr">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-navicon"></i>&nbsp;{{'TXT_NEW_SHOP_MANAGEMENT' | translate}}</h4>
                </div>
                <div class="container-fluid m-t-xs m-b-xs">
                    <div class="col-sm-12">
                        <div id="status-buttons" class="text-center">
                            <a class="inactive"><span>1</span> 创建渠道信息</a>
                            <a class="active"><span>2</span> 设置渠道配置信息</a>
                            <a class="inactive"><span>3</span> 设置仓库信息</a>
                            <a class="inactive" href="#/newShop/guide/channelConfig"><span>4</span> 设置Cart信息</a>
                            <a class="inactive" href="#/newShop/guide/channelConfig"><span>5</span> 配置定时任务</a>
                        </div>
                    </div>
                    <div class="col-sm-12 wrapper">
                        <uib-tabset class="">
                            <!---------------------------------------------------短信配置信息---------------------------------------------->
                            <uib-tab>
                                <tab-heading><i class="fa fa-arrow-circle-right"></i>&nbsp;{{'TXT_SMS_COG_INFO' | translate}}</tab-heading>
                                <div class="col-sm-4 pull-right text-right" ng-controller="popupCtrl">
                                    <div class="form-group m-t-sm m-r-xs">
                                        <button class="btn btn-default" ng-click="ctrl.edit({'type':'Sms','kind':'add'})"><i class="fa fa-plus"></i>&nbsp;添加</button>
                                        <button class="btn btn-default" ng-click="ctrl.edit({'type':'Sms','kind':'edit'})" ng-disabled="ctrl.channelSmsSelList.selList.length <= 0||ctrl.channelSmsSelList.selList.length>1"><i class="fa fa-pencil"></i>&nbsp;修改</button>
                                        <button class="btn btn-default" ng-click="ctrl.delete({'type':'Sms'})" ng-disabled="ctrl.channelSmsSelList.selList.length <= 0"><i class="fa fa-ban"></i>&nbsp;删除</button>
                                    </div>
                                </div>
                                <div class="scroll-y changeableHeight">
                                    <table class="table table-hover-new table-hover table_main">
                                        <thead>
                                        <tr>
                                            <th class="text-left mfb-xt" ng-controller="selectRowsCtrl">
                                                <label class="checkbox-inline c-checkbox" style="height: 15px;">
                                                    <input type="checkbox" ng-click="selectAll(ctrl.channelSmsSelList)"
                                                           ng-checked="isAllSelected(ctrl.channelSmsSelList)" >
                                                    <span class="fa fa-check"></span>&nbsp;{{'TXT_SELECT_ALL' | translate}}&nbsp;
                                                </label>
                                            </th>
                                            <th class="text-center mfb-xt" translate="TXT_CHANNEL_NAME"></th>
                                            <th class="text-center mfb-xt" translate="TXT_CHANNEL_SMS_TYPE"></th>
                                            <th class="text-center mfb-xt">{{'TXT_CHANNEL_SMS_CODE'|translate}}1</th>
                                            <th class="text-center mfb-xt">{{'TXT_CHANNEL_SMS_CODE'|translate}}2</th>
                                            <th class="text-center mfb-xxt" translate="TXT_CHANNEL_SMS_CONTENT"></th>
                                            <th class="text-center mfb-xxt" translate="TXT_CHANNEL_SMS_DESC"></th>
                                            <th class="text-center mfb-xt" translate="TXT_CHANNEL_SNS_DEL_TARGET"></th>
                                            <th class="text-center mfb-xt" translate="TXT_STATUS"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td if-no-rows="ctrl.channelSmsList.length||ctrl.channelSmsList" colspan="9" style="padding: 0px"></td>
                                        </tr>
                                        <tr ng-repeat="list in ctrl.channelSmsList">
                                            <td class="text-left v-middle">
                                                <label class="checkbox-inline c-checkbox" style="padding-top:4px">
                                                    <input ng-model="ctrl.channelSmsSelList.selFlag[list.seq]" type="checkbox" ng-controller="selectRowsCtrl"
                                                           ng-click="selectOne(list.seq, ctrl.channelSmsSelList)">
                                                    <span class="fa fa-check"></span>
                                                </label>
                                            </td>
                                            <td class="text-center v-middle">{{list.channelName}}</td>
                                            <td class="text-center v-middle">{{list.smsType}}</td>
                                            <td class="text-center v-middle">{{list.smsCode1}}</td>
                                            <td class="text-center v-middle">{{list.smsCode2}}</td>
                                            <td class="text-left v-middle">{{list.content}}</td>
                                            <td class="text-center v-middle">{{list.describe}}</td>
                                            <td class="text-center v-middle">{{list.delFlg?list.delFlg=='1'?'删除':'未删除':''}}</td>
                                            <td class="text-center v-middle">{{list.active?list.active==true ? '启用':'禁用':''}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </uib-tab>
                            <!---------------------------------------------------第三方配置信息---------------------------------------------->
                            <uib-tab>
                                <tab-heading><i class="fa fa-arrow-circle-right"></i>&nbsp;{{'TXT_THIRD_COG_INFO' | translate}}</tab-heading>
                                <div class="col-sm-4 pull-right text-right" ng-controller="popupCtrl">
                                    <div class="form-group m-t-sm m-r-xs">
                                        <button class="btn btn-default" ng-click="ctrl.edit({'type':'Third','kind':'add'})"><i class="fa fa-plus"></i>&nbsp;添加</button>
                                        <button class="btn btn-default" ng-click="ctrl.edit({'type':'Third','kind':'edit'})" ng-disabled="ctrl.channelThirdSelList.selList.length <= 0||ctrl.channelThirdSelList.selList.length>1"><i class="fa fa-pencil"></i>&nbsp;修改</button>
                                        <button class="btn btn-default" ng-click="ctrl.delete({'type':'Third'})" ng-disabled="ctrl.channelThirdSelList.selList.length <= 0"><i class="fa fa-ban"></i>&nbsp;删除</button>
                                    </div>
                                </div>
                                <div class="scroll-y changeableHeight">
                                    <table class="table table-hover-new table-hover table_main" style="table-layout: fixed">
                                    <thead>
                                    <tr>
                                        <th class="text-left mfb-xxt" ng-controller="selectRowsCtrl">
                                            <label class="checkbox-inline c-checkbox" style="height: 15px;">
                                                <input type="checkbox" ng-click="selectAll(ctrl.channelThirdSelList)"
                                                       ng-checked="isAllSelected(ctrl.channelThirdSelList)" >
                                                <span class="fa fa-check"></span>&nbsp;{{'TXT_SELECT_ALL' | translate}}&nbsp;
                                            </label>
                                        </th>
                                        <th class="text-center mfb-xxt" translate="TXT_CART_CHANNEL_NAME"></th>
                                        <th class="text-left mfb-xxt" translate="TXT_PROPERTY_NAME"></th>
                                        <th class="text-center mfb-xxt">{{'TXT_PROPERTY_VALUE'|translate}}1</th>
                                        <th class="text-center mfb-xxt">{{'TXT_PROPERTY_VALUE'|translate}}2</th>
                                        <th class="text-center mfb-xxt">{{'TXT_PROPERTY_VALUE'|translate}}3</th>
                                        <th class="text-center mfb-xxt">{{'TXT_PROPERTY_VALUE'|translate}}4</th>
                                        <th class="text-center mfb-xxt">{{'TXT_PROPERTY_VALUE'|translate}}5</th>
                                        <th class="text-center mfb-xxt">{{'TXT_PROPERTY_VALUE'|translate}}6</th>
                                        <th class="text-center mfb-xxt" translate="TXT_COMMENTS"></th>
                                        <th class="text-center mfb-xt" translate="TXT_STATUS"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td if-no-rows="ctrl.channelThirdList.length||ctrl.channelThirdList" colspan="11" style="padding: 0px"></td>
                                    </tr>
                                    <tr ng-repeat="list in ctrl.channelThirdList">
                                        <td class="text-left v-middle">
                                            <label class="checkbox-inline c-checkbox">
                                                <input ng-model="ctrl.channelThirdSelList.selFlag[list.seq]" type="checkbox" ng-controller="selectRowsCtrl"
                                                       ng-click="selectOne(list.seq, ctrl.channelThirdSelList)">
                                                <span class="fa fa-check"></span>
                                            </label>
                                        </td>
                                        <td class="text-center v-middle">{{list.channelName}}</td>
                                        <td class="text-left v-middle">
                                            <span class="v-middle" ng-if="list.propName.length <= 15">{{list.propName}}</span>
                        <span class="v-middle" ng-if="list.propName.length > 15" uib-tooltip="{{list.propName}}"
                              tooltip-trigger="mouseenter" tooltip-placement="top">{{list.propName | stringCutter:true:15:' ...'}}</span>
                                        </td>
                                        <td class="text-left v-middle">
                                            <span class="v-middle" ng-if="list.propVal1.length <= 15">{{list.propVal1}}</span>
                        <span class="v-middle" ng-if="list.propVal1.length > 15" uib-tooltip="{{list.propVal1}}"
                              tooltip-trigger="mouseenter" tooltip-placement="top">{{list.propVal1 | stringCutter:true:15:' ...'}}</span>
                                        </td>
                                        <td class="text-center v-middle">
                                            <span class="v-middle" ng-if="list.propVal2.length <= 15">{{list.propVal2}}</span>
                        <span class="v-middle" ng-if="list.propVal2.length > 15" uib-tooltip="{{list.propVal2}}"
                              tooltip-trigger="mouseenter" tooltip-placement="top">{{list.propVal2 | stringCutter:true:15:' ...'}}</span>
                                        </td>
                                        <td class="text-center v-middle">
                                            <span class="v-middle" ng-if="list.propVal3.length <= 15">{{list.propVal3}}</span>
                        <span class="v-middle" ng-if="list.propVal3.length > 15" uib-tooltip="{{list.propVal3}}"
                              tooltip-trigger="mouseenter" tooltip-placement="top">{{list.propVal3 | stringCutter:true:15:' ...'}}</span>
                                        </td>
                                        <td class="text-center v-middle">
                                            <span class="v-middle" ng-if="list.propVal4.length <= 15">{{list.propVal4}}</span>
                        <span class="v-middle" ng-if="list.propVal4.length > 15" uib-tooltip="{{list.propVal4}}"
                              tooltip-trigger="mouseenter" tooltip-placement="top">{{list.propVal4 | stringCutter:true:15:' ...'}}</span>
                                        </td>
                                        <td class="text-center v-middle">
                                            <span class="v-middle" ng-if="list.propVal5.length <= 15">{{list.propVal5}}</span>
                        <span class="v-middle" ng-if="list.propVal5.length > 15" uib-tooltip="{{list.propVal5}}"
                              tooltip-trigger="mouseenter" tooltip-placement="top">{{list.propVal5 | stringCutter:true:15:' ...'}}</span>
                                        </td>
                                        <td class="text-center v-middle">
                                            <span class="v-middle" ng-if="list.propVal6.length <= 15">{{list.propVal6}}</span>
                        <span class="v-middle" ng-if="list.propVal6.length > 15" uib-tooltip="{{list.propVal6}}"
                              tooltip-trigger="mouseenter" tooltip-placement="top">{{list.propVal6 | stringCutter:true:15:' ...'}}</span>
                                        </td>
                                        <td class="text-center v-middle">
                                            <span class="v-middle" ng-if="list.comment.length <= 15">{{list.comment}}</span>
                        <span class="v-middle" ng-if="list.comment.length > 15" uib-tooltip="{{list.comment}}"
                              tooltip-trigger="mouseenter" tooltip-placement="top">{{list.comment | stringCutter:true:15:' ...'}}</span>
                                        </td>
                                        <td class="text-center v-middle">{{list.active?list.active==true ? '启用':'禁用':''}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                            </uib-tab>
                            <!---------------------------------------------------快递配置信息---------------------------------------------->
                            <uib-tab>
                                <tab-heading><i class="fa fa-arrow-circle-right"></i>&nbsp;{{'TXT_CARRIER_COG_INFO' | translate}}</tab-heading>
                                <div class="col-sm-4 pull-right text-right" ng-controller="popupCtrl">
                                    <div class="form-group m-t-sm m-r-xs">
                                        <button class="btn btn-default" ng-click="ctrl.edit({'type':'Carrier','kind':'add'})"><i class="fa fa-plus"></i>&nbsp;添加</button>
                                        <button class="btn btn-default" ng-click="ctrl.edit({'type':'Carrier','kind':'edit'})" ng-disabled="ctrl.carrierSelList.selList.length <= 0||ctrl.carrierSelList.selList.length>1"><i class="fa fa-pencil"></i>&nbsp;修改</button>
                                        <button class="btn btn-default" ng-click="ctrl.delete({'type':'Carrier'})" ng-disabled="ctrl.carrierSelList.selList.length <= 0"><i class="fa fa-ban"></i>&nbsp;删除</button>
                                    </div>
                                </div>
                                <div class="scroll-y changeableHeight">
                                    <table class="table table-hover-new table-hover table_main" style="table-layout: fixed">
                                    <thead>
                                    <tr>
                                        <th class="text-left mfb-xt" ng-controller="selectRowsCtrl">
                                            <label class="checkbox-inline c-checkbox" style="height: 15px;">
                                                <input type="checkbox" ng-click="selectAll(ctrl.carrierSelList)"
                                                       ng-checked="isAllSelected(ctrl.carrierSelList)" >
                                                <span class="fa fa-check"></span>&nbsp;{{'TXT_SELECT_ALL' | translate}}&nbsp;
                                            </label>
                                        </th>
                                        <th class="text-center mfb-xt" translate="TXT_CART_CHANNEL_NAME"></th>
                                        <th class="text-center mfb-xt" translate="TXT_CHANNEL_CARRIER_NAME"></th>
                                        <th class="text-center mfb-xxt" translate="TXT_CHANNEL_CARRIER_ISEBUY_ID"></th>
                                        <th class="text-center mfb-xxt" translate="TXT_CHANNEL_CARRIER_DELETE_ALLOW"></th>
                                        <th class="text-center mfb-xxt" translate="TXT_COMMENTS"></th>
                                        <th class="text-center mfb-xt" translate="TXT_STATUS"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td if-no-rows="ctrl.carrierList.length||ctrl.carrierList" colspan="7" style="padding: 0px"></td>
                                    </tr>
                                    <tr ng-repeat="list in ctrl.carrierList">
                                        <td class="text-left v-middle">
                                            <label class="checkbox-inline c-checkbox">
                                                <input ng-model="ctrl.carrierSelList.selFlag[list.mainKey]" type="checkbox" ng-controller="selectRowsCtrl"
                                                       ng-click="selectOne(list.mainKey, ctrl.carrierSelList)">
                                                <span class="fa fa-check"></span>
                                            </label>
                                        </td>
                                        <td class="text-center v-middle">{{list.channelName}}</td>
                                        <td class="text-center v-middle">{{list.carrier}}</td>
                                        <td class="text-center v-middle">{{list.usekd100Flg?list.usekd100Flg=='0'?'否':'是':''}}</td>
                                        <td class="text-center v-middle">{{list.allowDeleteFlg?list.allowDeleteFlg=='0'?'禁止':'允许':''}}</td>
                                        <td class="text-center v-middle">{{list.comments}}</td>
                                        <td class="text-center v-middle">{{list.active?list.active==true?'启用':'禁用':''}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                            </uib-tab>
                            <!---------------------------------------------------类型属性配置信息---------------------------------------------->
                            <uib-tab>
                                <tab-heading><i class="fa fa-arrow-circle-right"></i>&nbsp;{{'TXT_TYPE_ATTR_COG_INFO' | translate}}</tab-heading>
                                <div class="col-sm-4 pull-right text-right" ng-controller="popupCtrl">
                                    <div class="form-group m-t-sm m-r-xs">
                                        <button class="btn btn-default" ng-click="ctrl.edit({'type':'TypeAttr','kind':'add'})"><i class="fa fa-plus"></i>&nbsp;添加</button>
                                        <button class="btn btn-default" ng-click="ctrl.edit({'type':'TypeAttr','kind':'edit'})" ng-disabled="ctrl.channelTypeSelList.selList.length <= 0||ctrl.channelTypeSelList.selList.length>1"><i class="fa fa-pencil"></i>&nbsp;修改</button>
                                        <button class="btn btn-default" ng-click="ctrl.delete({'type':'TypeAttr'})" ng-disabled="ctrl.channelTypeSelList.selList.length <= 0"><i class="fa fa-ban"></i>&nbsp;删除</button>
                                    </div>
                                </div>
                                <div class="scroll-y changeableHeight">
                                    <table class="table table-hover-new table-hover table_main">
                                    <thead>
                                    <tr>
                                        <th class="text-left mfb-xt" ng-controller="selectRowsCtrl">
                                            <label class="checkbox-inline c-checkbox" style="height: 15px;">
                                                <input type="checkbox" ng-click="selectAll(ctrl.channelTypeSelList)"
                                                       ng-checked="isAllSelected(ctrl.channelTypeSelList)" >
                                                <span class="fa fa-check"></span>&nbsp;{{'TXT_SELECT_ALL' | translate}}&nbsp;
                                            </label>
                                        </th>
                                        <th class="text-center mfb-xt" translate="TXT_CART_CHANNEL_NAME"></th>
                                        <th class="text-left mfb-xt" translate="TXT_CHANNEL_TYPE_NAME"></th>
                                        <th class="text-left mfb-xxt" translate="TXT_PROPERTY_NAME"></th>
                                        <th class="text-center mfb-xxt" translate="TXT_PROPERTY_VALUE"></th>
                                        <th class="text-center mfb-xxt">{{'TXT_CHANNEL_ADD_NAME'|translate}}1</th>
                                        <th class="text-center mfb-xxt">{{'TXT_CHANNEL_ADD_NAME'|translate}}2</th>
                                        <th class="text-center mfb-xxt" translate="TXT_CHANNEL_LANGUAGE_TYPE"></th>
                                        <th class="text-center mfb-xt" translate="TXT_STATUS"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td if-no-rows="ctrl.channelTypeList.length||ctrl.channelTypeList" colspan="9" style="padding: 0px"></td>
                                    </tr>
                                    <tr ng-repeat="list in ctrl.channelTypeList">
                                        <td class="text-left v-middle">
                                            <label class="checkbox-inline c-checkbox" style="padding-top:4px">
                                                <input ng-model="ctrl.channelTypeSelList.selFlag[list.id]" type="checkbox" ng-controller="selectRowsCtrl"
                                                       ng-click="selectOne(list.id, ctrl.channelTypeSelList)">
                                                <span class="fa fa-check"></span>
                                            </label>
                                        </td>
                                        <td class="text-center v-middle">{{list.channelName}}</td>
                                        <td class="text-left v-middle">{{list.typeName}}</td>
                                        <td class="text-left v-middle">{{list.name}}</td>
                                        <td class="text-center v-middle">{{list.value}}</td>
                                        <td class="text-center v-middle">{{list.addName1}}</td>
                                        <td class="text-center v-middle">{{list.addName2}}</td>
                                        <td class="text-center v-middle">{{list.langId?list.langId=='en'?'英文':'中文':''}}</td>
                                        <td class="text-center v-middle">{{list.active?list.active==true ? '启用':'禁用':''}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                    <div class="col-sm-12">
                        <div id="step-buttons" class="text-center">
                            <a class="btn btn-success btn-pop" href="#/newShop/guide?previous=true"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;上一步</a>
                            <button class="btn btn-success btn-pop" ng-click="ctrl.next()">下一步&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>