<div class="wrapper-md" ng-init="ctrl.init()">
    <div class="vo_accordion vo_attr">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-navicon"></i>&nbsp;{{'TXT_NEW_SHOP_MANAGEMENT' | translate}}</h4>
                </div>
                <div class="container-fluid m-t-xs m-b-xs">
                    <div class="col-sm-12">
                        <div id="status-buttons" class="text-center">
                            <a class="inactive"><span>1</span> 创建渠道信息</a>
                            <a class="inactive"><span>2</span> 设置渠道配置信息</a>
                            <a class="active"><span>3</span> 设置仓库信息</a>
                            <a class="inactive"><span>4</span> 设置Cart信息</a>
                            <a class="inactive"><span>5</span> 配置定时任务</a>
                        </div>
                    </div>
                    <div class="col-sm-12 wrapper">
                        sf
                    </div>
                    <div class="col-sm-12">
                        <div id="step-buttons" class="text-center">
                            <a class="btn btn-success btn-pop" href="#/newShop/guide/channelConfig"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;上一步</a>
                            <a class="btn btn-success btn-pop" href="#/newShop/guide/cartSet">下一步&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>