<div class="wrapper-md" ng-init="ctrl.init()">
    <div class="vo_accordion vo_attr">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-reorder"></i>&nbsp;{{'TXT_BRAND_MAPPING_LIST' | translate}} </h4>
                </div>
                <div class="container-fluid m-t-xs m-b-xs">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="TXT_CART_NAME"></label>
                                    <div class="col-sm-7">
                                        <select id="cartName" class="form-control" ng-model="ctrl.searchInfo.selectedCart" ng-options="option.value as option.name for option in ctrl.cartList" ng-change="ctrl.selectCart()">
                                            <option value="">{{'TXT_SELECT_NO_VALUE' | translate}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-body">
            <div class="table-responsive">
                <div class="col-sm-12 text-center m-t-sm" ng-if="ctrl.searchInfo.selectedCart != null">
                    <div class="col-sm-4">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 control-label" translate="TXT_MASTER_MAPPING_SUATUS"></label>
                                <div class="col-sm-7">
                                    <label class="checkbox-inline c-radio">
                                        <input type="radio" name="statusOperation" value="1" ng-model="ctrl.searchInfo.selectedStatus"><span class="fa fa-check"></span> {{'TXT_COMPLETE'|translate}}
                                    </label>
                                    <label class="checkbox-inline c-radio">
                                        <input type="radio" name="statusOperation" value="2" ng-model="ctrl.searchInfo.selectedStatus"><span class="fa fa-check"></span> {{'TXT_INCOMPLETE'|translate}}
                                    </label>
                                    <label class="checkbox-inline c-radio">
                                        <input type="radio" name="statusOperation" value="3" ng-model="ctrl.searchInfo.selectedStatus"><span class="fa fa-check"></span> {{'TXT_TRANSLATION_SEARCH_SELECT_ALL'|translate}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 control-label" translate="TXT_MASTER_BRAND"></label>
                                <div class="col-sm-7">
                                    <input type="text" ng-model="ctrl.searchInfo.selectedBrand" class="form-control" placeholder="模糊查询">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 text-right">
                        <button class="btn btn-default" ng-click="ctrl.clear()"><i class="fa fa-remove"></i>&nbsp;{{'BTN_CLEAR'|translate}} </button>
                        <button class="btn btn-vo" ng-click="ctrl.searchBrands()"><i class="fa fa-search"></i>&nbsp;{{'TXT_SEARCH' | translate}}</button>
                    </div>
                </div>
                <div class="col-sm-12 dropdown_table_main">
                    <table class="table table-hover-new vo_table tableWordBreak" ng-controller="popupCtrl">
                        <thead>
                            <tr>
                                <th class="mfb-xxt text-center text-nowrap" translate="TXT_MASTER_BRAND"></th>
                                <th class="mfb-xxt text-center text-nowrap" ng-if="ctrl.searchInfo.selectedCart == null">品牌</th>
                                <th class="mfb-xxt text-center text-nowrap" ng-if="ctrl.searchInfo.selectedCart != null">{{ctrl.brandName}}品牌</th>
                                <th class="mfb-xt3 text-center text-nowrap" translate="TXT_ACTION"></th>
                            </tr>
                        </thead>
                        <tbody ng-if="ctrl.brandMappingList.length == 0">
                            <tr style="padding-left:0">
                                <td colspan="3">
                                    <div if-no-rows="ctrl.brandMappingList.length"></div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-if="ctrl.brandMappingList.length > 0 && ctrl.searchInfo.selectedCart != null">
                            <tr ng-repeat="list in ctrl.brandMappingList">
                                <td class="mfb-xxt text-center">{{list.masterName}}</td>
                                <td class="mfb-xxt text-center">{{list.brandName}}</td>
                                <td class="mfb-xt3 text-center" ng-if="list.brandName!=null">已匹配</td>
                                <td class="mfb-xt3 text-center" ng-if="list.brandName==null">
                                    <a href="" ng-click="openPlatformMappingSetting(list)">匹配</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-12">
                <vpagination config="ctrl.platformPageOption"></vpagination>
            </div>
        </div>

    </div>
</div>