@charset "utf-8";

/* CSS Document */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/open_sans_bold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/open_sans_normal.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(../fonts/open_sans_italic.woff) format('woff');
}

/* General Styles */
img{border:0;}
.clearfloats{clear:both;}
a{text-decoration:none;}
ul{list-style-type:none;}
div{display:block;}
h1{color:#F3AC00; font-size:20px; font-weight:bold;}
h2{color:#F3AC00; font-size:16px; font-weight:bold;}
h5{font-size:14px; font-weight:bold; color:#DBDBDB;}
h6{}

html, body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
}

*, body {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
	font-size: 14px;
}

/* Links */

.content a{font-size: 16px; color:#60D0E4;}
.content a:hover{color:#60D0E4;text-decoration:underline}

/* Main Wrapper */
.main-wrapper {
	margin: 0 auto;
	width: 1200px;
	background: #FFFFFF;
}

/* Top Nav */
.top-nav {
	height: 65px;
	width: 1200px;
	background: #555459 url('../images/nav-bkg.gif') repeat-x;
	margin: 0 auto;
}

.top-nav a {
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	color: #d7d6d6;
	font-size: 14px;
	font-weight: 400;
}

.top-nav a.selected {
	color: #62cde1;
	cursor: default;
}

.top-nav .nav-logo {
	float: left;
	margin-left: 130px;
}

.nav-logo img {
	width: 176px;
	height: 42px;
	border: 0;
	margin: 7px;
}

.top-nav .menu-block {
	float: right;
	height: 56px;
	margin-right: 42px;
	padding-top: 12px;
}

.top-nav .menu-block a {
	margin: 0 20px;
	height: 40px;
	float: left;
	padding-top: 7px;
	transition:all 0.2s ease-in-out !important;
	-webkit-transition:all 0.2s ease-in-out !important;
}

.top-nav .menu-block a:hover {
	color: #62cde1;
}

.top-nav .menu-block a.nav-login {
	border: 1px solid #808080;
	font-size: 16px;
	height: 25px !important;
	margin: 2px 0 0;
	padding: 2px 25px 1px;
}

.top-nav .menu-block a.nav-login.selected,
.top-nav .menu-block a.nav-login:hover {
	border: 1px solid #62cde1;
}

img.nav-divider {
	background: #808080;
	margin: 0;
	width: 1px;
	height: 32px;
	float: left;
}

/* Main Banner */
.main-banner {
	height: auto;
	position: relative;
	width: 1200px;
	margin: 8px auto 0;
	top: -8px;
	position: relative;
}

/* Page Content */
.page-intro {
	cursor: default;
	color: #505050;
	display:block;
}

.page-intro .title {
	font-size: 30px;
	font-weight: 600;
	margin: 40px auto 20px;
	text-align: center;
	width: 300px;
}

.page-intro .content {
	width: 80%;
	max-width: 800px;
	text-align: center;
	font-size: 16px;
	margin: 0 auto;
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	padding: 20px 0;
}

.page-content {
	width: 950px;
	display: table;
	margin: 30px auto;
	cursor: default;
	color: #505050;
}

/* Home Page */
.page-content .home-block {
	display: table-cell;
	margin: 20px;
	padding: 20px;
	text-align: center;
}

.page-content .home-block .title {
	font-size: 18px;
	font-weight: 600;
	margin: 30px auto 15px;
	text-align: center;
	text-transform: uppercase;
	width: 250px;
}

.page-content .home-block .icon {
	width: 129px;
	height: 129px;
	margin: 0 auto;
}

.page-content .home-block .icon.who-we-are {
	background: url('../images/home-who-we-are.png') no-repeat;
}

.page-content .home-block .icon.work-features {
	background: url('../images/home-why-synship.png') no-repeat;
}

.page-content .home-block .icon.why-synship {
	background: url('../images/home-work-features.png') no-repeat;
}

.page-content .home-block .content {
	font-size: 16px;
}

.page-content .home-block .content.client {
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	padding: 15px 0;
}

/* About Us Page */
.page-content .about-us-block {
	display: table-cell;
	margin: 20px;
	padding: 0 20px;
	text-align: justify;
	width: 50%;
}

.page-content .about-us-block .map {
	margin: 0 auto;
}

/* Page Footer */
.page-footer {
	width: 1200px;
	background: #555459 url('../images/nav-bkg.gif') repeat;
	color: #d7d6d6;
	padding-top: 5px;
	margin: 0 auto;
}

.page-footer .title {
	color: #FFFFFF;
	font-size: 30px;
	font-weight: 600;
	margin: 40px auto 20px;
	text-align: center;
	text-transform: uppercase;
	width: 300px;
}

.page-footer .content {
	font-size: 15px;
	text-align: center;
}

.page-footer .copyright {
	margin: 35px auto 0;
	font-size: 12px;
	text-align: center;
	border-top: 1px solid #d3d3d3;
	padding: 15px 0;
	width: 80%;
}

/* Home Banner Styles */
#homeBanner {
	width: 1200px;
	height: 519px;
	background: #60D0E4;
	margin: 8px auto 0;
	top: -8px;
	position: relative;
}

.homeBannerBox {
	float: left;
	width:1200px;
	height:519px;
	position:relative;
}

#homeBannerBoxCity img {
       position:absolute;
}

#homeBannerBoxCity img#first {display:block; z-index:1;}
#homeBannerBoxCity img#second {display:none; z-index:2;}

.homeBannerImageReelWindow{
	width: 1200px;
	height:519px;
	position:relative;
	overflow:hidden;
}

.homeBannerImageReel {
	position: relative;
	width: 1200px;
	float:left;
	top:0px;
}

#homeBannerNavArrows {
	margin:0;
	z-index: 2000;
	width: 1200px;
	position: absolute;
	text-align:center;
	top:240px;
	margin:0 auto;
}

.homeBannerArrowPrevBtn {
	left:27px;
	position: absolute;
	z-index: 2000;
	cursor: pointer;
	float:left;
	height: 36px;
	width: 20px;
	background: url(../images/btn-homeBannerArrowPrev.png) top left no-repeat;
}

.homeBannerArrowNextBtn {
	left:1152px;
	position: absolute;
	z-index: 2000;
	cursor: pointer;
	float:left;
	height: 36px;
	width: 20px;
	background: url(../images/btn-homeBannerArrowNext.png) top left no-repeat;
}

.homeBannerNav {
	top: 475px;
	left: 567px;
	position:absolute;
	z-index: 2000;
	height: 28px;
	width: 65px;
	background: url(../images/bg-homeBannerDotBox.png) top left no-repeat;
}

.homeBannerBtnBox {
	left:0px;
	padding-top:4px;
	padding-left:3px;
	top:0px;
	position:absolute;
	z-index: 2000;
	margin:0 auto;
	height: 28px;
	width:65px;
}

.homeBannerBtn {
	margin:4px 3px 0 3px;
	z-index: 2000;
	cursor: pointer;
	float:left;
	height: 14px;
	width: 14px;
	background: url(../images/bg-homeBannerDot.png) top left no-repeat;
}

.homeBannerBtnActive {
	background: url(../images/bg-homeBannerDotHover.png) top left no-repeat;
}