<div class="wrapper-md" ng-init="initialize()">
    <div class="vo_accordion vo_attr">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="container-fluid m-l-md m-t-xs m-b-xs">
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Cart ID</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" ng-model="vm.searchInfo.catName">
                                    </div>
                                </div><!-- .form-group -->
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" translate="TXT_NAME"></label>
                                    <div class="col-sm-7">
                                        <input class="form-control" ng-model="vm.searchInfo.catId">
                                    </div>
                                </div><!-- .form-group -->
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">USJOI ID</label>
                                    <div class="col-sm-4">
                                        <select class="form-control">
                                            <option value="All">All</option>
                                            <option value="Some">Some</option>
                                        </select>
                                    </div>
                                </div><!-- .form-group -->
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox"> 已删除
                                    </label>
                                </div><!-- .form-group -->
                            </div>
                        </div>
                        <div class="col-sm-12 text-center m-b-sm">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <button class="btn btn-default" ng-click="clear()"><i class="fa fa-remove"></i>&nbsp;{{'BTN_CLEAR' | translate}}</button>
                                    <button class="btn btn-vo" ng-click="search()"><i class="fa fa-search"></i>&nbsp;{{'BTN_SEARCH' | translate}}</button>
                                    <button class="btn btn-success" ng-click="openPromotion('md',vm.platformTypeList,null,search)"><i class="fa fa-plus"></i>&nbsp;新增</button>
                                </div><!-- .form-group -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-body table-responsive">
            <table class="table table-hover-new text-center table-bordered">
                <thead>
                <tr>
                    <th class="text-center col-sm-1" translate="TXT_SEQ"></th>
                    <th class="text-center col-sm-1" translate="TXT_CART_ID"></th>
                    <th class="text-center col-sm-1" translate="TXT_NAME"></th>
                    <th class="text-center col-sm-1" translate="TXT_SHORT_NAME"></th>
                    <th class="text-center col-sm-4" translate="TXT_MSG_SHORT_DESCRIPTION"></th>
                    <th class="text-center col-sm-1" translate="TXT_ALLOW_USJOI"></th>
                    <th class="text-center col-sm-1" >平台</th>
                    <th class="text-center col-sm-1" translate="TXT_ACTION"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>010</td>
                    <td>Tmall</td>
                    <td>TM</td>
                    <td>TMall</td>
                    <td>Yes</td>
                    <td>天猫</td>
                    <td ng-controller="popupCtrl">
                        <button class="btn btn-success btn-xs ng-scope" ng-click="openCartSetting('')"><i class="fa fa-pencil"></i></button>
                        <button id="delCustDiv" class="btn btn-danger btn-xs ng-scope" ng-click="del($index)"><i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
            <vpagination config="categoryPageOption" total="{{categoryPageOption.total}}"></vpagination>
        </div><!-- /.box-body -->
    </div>
</div><!-- end .wrapper-md -->








