<div class="vo_modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span
                aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <h5 class="modal-title"><i class="glyphicons glyphicons-edit"></i> Drag</h5>
    </div>

    <div class="modal-body wrapper-lg">
        <div class="row">
            <div class="col-sm-12">
                   <div class="panel panel-drag col-sm-4">
                       <h4>Products</h4>
                       <div class="dragList" ondrop="drop(event)" ondragover="allowDrop(event)">
                           <ul>
                               <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag1"><span class=" btn btn-drag btn-xs">Model <i class="close-drag btn-xs fa fa-times"></i></span></li>
                               <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag2"><span class=" btn btn-drag btn-xs">Name <i class="close-drag btn-xs fa fa-times"></i></span></li>
                               <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag3"><span class=" btn btn-drag btn-xs">Primary Product <i class="close-drag btn-xs fa fa-times"></i></span></li>
                               <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag4"><span class=" btn btn-drag btn-xs">Display Order <i class="close-drag btn-xs fa fa-times"></i></span></li>
                               <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag5"><span class=" btn btn-drag btn-xs">Product Type <i class="close-drag btn-xs fa fa-times"></i></span></li>
                               <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag6"><span class=" btn btn-drag btn-xs">Brand <i class="close-drag btn-xs fa fa-times"></i></span></li>
                               <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag7"><span class=" btn btn-drag btn-xs">Size Type <i class="close-drag btn-xs fa fa-times"></i></span></li>
                               <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag8"><span class=" btn btn-drag btn-xs">Is Unisex <i class="close-drag btn-xs fa fa-times"></i></span></li>
                               <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag25"><span class=" btn btn-drag btn-xs">Abstract <i class="close-drag btn-xs fa fa-times"></i></span></li>
                               <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag26"><span class=" btn btn-drag btn-xs">Accessory <i class="close-drag btn-xs fa fa-times"></i></span></li>
                               <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag27"><span class=" btn btn-drag btn-xs">Short Description <i class="close-drag btn-xs fa fa-times"></i></span></li>
                               <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag28"><span class=" btn btn-drag btn-xs">Long Description <i class="close-drag btn-xs fa fa-times"></i></span></li>
                               <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag29"><span class=" btn btn-drag btn-xs">Image Count <i class="close-drag btn-xs fa fa-times"></i></span></li>
                               <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag30"><span class=" btn btn-drag btn-xs">Model <i class="close-drag btn-xs fa fa-times"></i></span></li>
                               <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag31"><span class=" btn btn-drag btn-xs">Name <i class="close-drag btn-xs fa fa-times"></i></span></li>
                               <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag32"><span class=" btn btn-drag btn-xs">Primary Product <i class="close-drag btn-xs fa fa-times"></i></span></li>
                               <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag33"><span class=" btn btn-drag btn-xs">Display Order <i class="close-drag btn-xs fa fa-times"></i></span></li>
                               <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag34"><span class=" btn btn-drag btn-xs">Product Type <i class="close-drag btn-xs fa fa-times"></i></span></li>
                               <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag35"><span class=" btn btn-drag btn-xs">Brand <i class="close-drag btn-xs fa fa-times"></i></span></li>
                               <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag36"><span class=" btn btn-drag btn-xs">Size Type <i class="close-drag btn-xs fa fa-times"></i></span></li>
                               <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag37"><span class=" btn btn-drag btn-xs">Is Unisex <i class="close-drag btn-xs fa fa-times"></i></span></li>
                               <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag38"><span class=" btn btn-drag btn-xs">Abstract <i class="close-drag btn-xs fa fa-times"></i></span></li>
                               <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag39"><span class=" btn btn-drag btn-xs">Accessory <i class="close-drag btn-xs fa fa-times"></i></span></li>
                           </ul>
                           </div>
                   </div>
                <div class="panel panel-drag col-sm-4">
                    <h4>Products</h4>
                    <div class="dragList" ondrop="drop(event)" ondragover="allowDrop(event)">
                        <ul>
                            <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag1"><span class=" btn btn-drag btn-xs">Model <i class="close-drag btn-xs fa fa-times"></i></span></li>
                            <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag2"><span class=" btn btn-drag btn-xs">Name <i class="close-drag btn-xs fa fa-times"></i></span></li>
                            <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag3"><span class=" btn btn-drag btn-xs">Primary Product <i class="close-drag btn-xs fa fa-times"></i></span></li>
                            <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag4"><span class=" btn btn-drag btn-xs">Display Order <i class="close-drag btn-xs fa fa-times"></i></span></li>
                            <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag5"><span class=" btn btn-drag btn-xs">Product Type <i class="close-drag btn-xs fa fa-times"></i></span></li>
                            <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag6"><span class=" btn btn-drag btn-xs">Brand <i class="close-drag btn-xs fa fa-times"></i></span></li>
                            <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag7"><span class=" btn btn-drag btn-xs">Size Type <i class="close-drag btn-xs fa fa-times"></i></span></li>
                            <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag8"><span class=" btn btn-drag btn-xs">Is Unisex <i class="close-drag btn-xs fa fa-times"></i></span></li>
                            <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag25"><span class=" btn btn-drag btn-xs">Abstract <i class="close-drag btn-xs fa fa-times"></i></span></li>
                            <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag26"><span class=" btn btn-drag btn-xs">Accessory <i class="close-drag btn-xs fa fa-times"></i></span></li>
                            <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag27"><span class=" btn btn-drag btn-xs">Short Description <i class="close-drag btn-xs fa fa-times"></i></span></li>
                            <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag28"><span class=" btn btn-drag btn-xs">Long Description <i class="close-drag btn-xs fa fa-times"></i></span></li>
                            <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag29"><span class=" btn btn-drag btn-xs">Image Count <i class="close-drag btn-xs fa fa-times"></i></span></li>
                            <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag1"><span class=" btn btn-drag btn-xs">Model <i class="close-drag btn-xs fa fa-times"></i></span></li>
                            <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag2"><span class=" btn btn-drag btn-xs">Name <i class="close-drag btn-xs fa fa-times"></i></span></li>
                            <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag3"><span class=" btn btn-drag btn-xs">Primary Product <i class="close-drag btn-xs fa fa-times"></i></span></li>
                            <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag4"><span class=" btn btn-drag btn-xs">Display Order <i class="close-drag btn-xs fa fa-times"></i></span></li>
                            <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag5"><span class=" btn btn-drag btn-xs">Product Type <i class="close-drag btn-xs fa fa-times"></i></span></li>
                            <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag6"><span class=" btn btn-drag btn-xs">Brand <i class="close-drag btn-xs fa fa-times"></i></span></li>
                            <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag7"><span class=" btn btn-drag btn-xs">Size Type <i class="close-drag btn-xs fa fa-times"></i></span></li>
                            <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag8"><span class=" btn btn-drag btn-xs">Is Unisex <i class="close-drag btn-xs fa fa-times"></i></span></li>
                            <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag25"><span class=" btn btn-drag btn-xs">Abstract <i class="close-drag btn-xs fa fa-times"></i></span></li>
                            <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag26"><span class=" btn btn-drag btn-xs">Accessory <i class="close-drag btn-xs fa fa-times"></i></span></li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-drag col-sm-4" >
                       <h4>产品销售信息</h4>
                       <div class="dragList" ondrop="drop(event)" ondragover="allowDrop(event)">
                       <ul>
                           <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag9"><span class=" btn btn-drag btn-xs">ZIPPO/瑞士军刀/眼镜 <i class="close-drag btn-xs fa fa-times"></i></span></li>
                           <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag10"><span class=" btn btn-drag btn-xs">居家日用 <i class="close-drag btn-xs fa fa-times"></i></span></li>
                           <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag11"><span class=" btn btn-drag btn-xs">女装/女士用品 <i class="close-drag btn-xs fa fa-times"></i></span></li>
                           <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag12"><span class=" btn btn-drag btn-xs">自行车/骑行装备/零配件自行车自行车/骑行装备/零配件自行车自行车/骑行装备/零配件自行车 <i class="close-drag btn-xs fa fa-times"></i></span></li>
                           <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag13"><span class=" btn btn-drag btn-xs">童鞋/婴儿鞋/亲子鞋 <i class="close-drag btn-xs fa fa-times"></i></span></li>
                           <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag14"><span class=" btn btn-drag btn-xs">服饰配件/皮带/帽子/围巾 <i class="close-drag btn-xs fa fa-times"></i></span></li>
                           <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag15"><span class=" btn btn-drag btn-xs">户外/登山/野营/旅行用品 <i class="close-drag btn-xs fa fa-times"></i></span></li>
                           <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag16"><span class=" btn btn-drag btn-xs">男装 <i class="close-drag btn-xs fa fa-times"></i></span></li>
                           <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag9"><span class=" btn btn-drag btn-xs">ZIPPO/瑞士军刀/眼镜 <i class="close-drag btn-xs fa fa-times"></i></span></li>
                           <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag10"><span class=" btn btn-drag btn-xs">居家日用 <i class="close-drag btn-xs fa fa-times"></i></span></li>
                           <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag11"><span class=" btn btn-drag btn-xs">女装/女士用品 <i class="close-drag btn-xs fa fa-times"></i></span></li>
                           <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag12"><span class=" btn btn-drag btn-xs">自行车/骑行装备/零配件自行车 <i class="close-drag btn-xs fa fa-times"></i></span></li>
                           <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag13"><span class=" btn btn-drag btn-xs">童鞋/婴儿鞋/亲子鞋 <i class="close-drag btn-xs fa fa-times"></i></span></li>
                           <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag14"><span class=" btn btn-drag btn-xs">服饰配件/皮带/帽子/围巾 <i class="close-drag btn-xs fa fa-times"></i></span></li>
                           <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag15"><span class=" btn btn-drag btn-xs">户外/登山/野营/旅行用品 <i class="close-drag btn-xs fa fa-times"></i></span></li>
                           <li draggable="true" ondragstart="drag(event)" class="dragMain" id="drag16"><span class=" btn btn-drag btn-xs">男装 <i class="close-drag btn-xs fa fa-times"></i></span></li>
                       </ul>
                       </div>
                   </div>
                <div class="panel panel-drag col-sm-12" id="product-drag" >
                    <h4>请将您所需类目拖放到此处进行保存！</h4>
                   <div class="dragList" ondrop="drop(event)" ondragover="allowDrop(event)">

                   </div>
                </div>
            </div>
        </div>
    </div>
<!--footer-->
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()"><i class="fa fa-remove"></i> 取消</button>
        <button class="btn btn-vo" ng-click="ok()"><i class="glyphicon glyphicon-floppy-disk"></i> 保存</button>
    </div>
</div>
<!--drag20150917-->
<script>
    function allowDrop(ev)
    {
        ev.preventDefault();
    }
    function drag(ev)
    {
        ev.dataTransfer.setData("Text",ev.target.id);
    }
    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("Text");

        var li = $('#' + data);
        var div = $(ev.target);

        if (!li.is('li')) return;

        if (div.is('div'))
            div.append(li);
        else if (div.closest('.dragMain').length)
            li.insertAfter(div.closest('.dragMain'))
    }
</script>

<!--
/*function drop(ev) {
ev.preventDefault();
var data = ev.dataTransfer.getData("Text");

var li = $('#' + data);
var div = $(ev.target);

if (!li.is('li') || !div.is('div')) return;

div.append(li);
}*/-->
