<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <!-- DAO相关配置 -->

    <import resource="file:/usr/web/spring-config/datasource-cms2-config.xml" />
    <import resource="file:/usr/web/spring-config/datasource-config-mongo.xml" />
</beans>
