<div class="wrapper-md" ng-init="ctrl.init()">
    <div class="vo_accordion vo_attr">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-navicon"></i>&nbsp;{{'TXT_CART_INFO_MANAGEMENT' | translate}}</h4>
                </div>
                <div class="container-fluid m-t-xs m-b-xs">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <div class="form-horizontal">
                                <div class="row form-group">
                                    <label class="col-sm-3 control-label">{{'TXT_CART_CHANNEL_ID' | translate}}</label>
                                    <div class="col-sm-8">
                                        <input type="text" maxlength="3" class="form-control" ng-model="ctrl.searchInfo.orderChannelId"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-horizontal">
                                <div class="row form-group">
                                    <label class="col-sm-3 control-label">{{'TXT_CART_FULL_NAME' | translate}}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" ng-model="ctrl.searchInfo.channelName"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-horizontal">
                                <div class="row form-group">
                                    <label class="col-sm-3 control-label">{{'TXT_CART_IS_USJOI' | translate}}</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="ctrl.searchInfo.isUsjoi">
                                            <option value="">&nbsp;{{'TXT_SELECT_NO_VALUE' | translate}}</option>
                                            <option value="1">&nbsp;{{'TXT_YES' | translate}}</option>
                                            <option value="0">&nbsp;{{'TXT_NO' | translate}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center m-b-xs">
                            <div class="form-horizontal form-inline">
                                <button class="btn btn-default" ng-click="ctrl.clear()"><i class="fa fa-remove"></i>&nbsp;重置</button>
                                <button class="btn btn-vo" ng-click="ctrl.search(1)"><i class="fa fa-search"></i>&nbsp;搜索</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box-body-new">
            <div class="col-sm-4 pull-right text-right" ng-controller="popupCtrl">
                <div class="form-group m-t-sm m-r-xs">
                    <button class="btn btn-default" ng-click="ctrl.config('Channel')" ng-disabled="ctrl.channelSelList.selList.length > 1"><i class="fa fa-cog"></i>&nbsp;配置</button>
                    <button class="btn btn-default" ng-click="openAdd('add')"><i class="fa fa-plus"></i>&nbsp;添加</button>
                    <button class="btn btn-default" ng-click="ctrl.edit()" ng-disabled="ctrl.channelSelList.selList.length <= 0||ctrl.channelSelList.selList.length>1"><i class="fa fa-pencil"></i>&nbsp;修改</button>
                    <button class="btn btn-default" ng-click="ctrl.delete()" ng-disabled="ctrl.channelSelList.selList.length <= 0"><i class="fa fa-ban"></i>&nbsp;禁用</button>
                </div>
            </div>
            <table class="table table-hover-new table-hover table_main">
                <thead>
                <tr>
                    <th class="text-left mfb-xt" ng-controller="selectRowsCtrl">
                        <label class="checkbox-inline c-checkbox" style="height: 15px;">
                            <input type="checkbox" ng-click="selectAll(ctrl.channelSelList)"
                                   ng-checked="isAllSelected(ctrl.channelSelList)" >
                            <span class="fa fa-check"></span>&nbsp;{{'TXT_SELECT_ALL' | translate}}&nbsp;
                        </label>
                    </th>
                    <th class="text-center mfb-xt" translate="TXT_CART_CHANNEL_ID"></th>
                    <th class="text-left mfb-xt" translate="TXT_CART_CHANNEL_NAME"></th>
                    <th class="text-left mfb-xxt" translate="TXT_CART_CHANNEL_FULL_NAME"></th>
                    <th class="text-center mfb-xxt" translate="TXT_CART_IS_USJOI"></th>
                    <th class="text-center mfb-xxt" translate="TXT_CART_CHANNEL_CART_NAME"></th>
                    <th class="text-center mfb-xt" translate="TXT_STATUS"></th>
                    <th class="text-left mfb-xxt" translate="TXT_CART_UPDATE_TIME"></th>
                    <th class="text-center mfb-xt" translate="TXT_UPDATER"></th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td if-no-rows="ctrl.channelList.length||ctrl.channelList" colspan="9" style="padding: 0px"></td>
                    </tr>
                    <tr ng-repeat="list in ctrl.channelList">
                        <td class="text-left v-middle">
                            <label class="checkbox-inline c-checkbox" style="padding-top:4px">
                                <input ng-model="ctrl.channelSelList.selFlag[list.orderChannelId]" type="checkbox" ng-controller="selectRowsCtrl"
                                       ng-click="selectOne(list.orderChannelId, ctrl.channelSelList)">
                                <span class="fa fa-check"></span>
                            </label>
                        </td>
                        <td class="text-center v-middle">{{list.orderChannelId}}</td>
                        <td class="text-left v-middle">{{list.name}}</td>
                        <td class="text-left v-middle">{{list.fullName}}</td>
                        <td class="text-center v-middle">{{list.isUsjoi==0 ? '否':'是'}}</td>
                        <td class="text-center v-middle">{{list.cartName}}</td>
                        <td class="text-center v-middle">{{list.active==1 ? '启用':'禁用'}}</td>
                        <td class="text-left v-middle">{{list.modified}}</td>
                        <td class="text-center v-middle">{{list.modifier}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <vpagination config="ctrl.channelPageOption" ng-if="ctrl.channelList.length>0"></vpagination>
    </div>
</div>