<div class="wrapper-md" ng-init="initialize()">
	<uib-accordion class="vo_accordion vo_attr" close-others="oneAtATime">
		<uib-accordion-group is-open="vm.status.open">
			<uib-accordion-heading>
				<i class="fa fa-search"></i>&nbsp;{{'TXT_ADVANCE_SEARCH' | translate}}
				<i class="pull-right glyphicon glyphicon-menu-down" ng-class="{'glyphicon-menu-up': vm.status.open, 'glyphicon-menu-down': !vm.status.open}"></i>
			</uib-accordion-heading>
			<!-- search -->
			<div class="col-sm-12" >
				<div class="col-sm-4">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-3 control-label" translate="TXT_CATEGORY"></label>
							<div class="col-sm-8">
								<select search-contains="true" class="form-control" chosen ng-model="vm.searchInfo.catPath" ng-options="category.catPath as category.catPath for category in vm.masterData.categoryList">
									<option value="">{{'TXT_SELECT_NO_VALUE' | translate}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" translate="TXT_PRODUCT_STATUS"></label>
							<div class="col-sm-8">
								<label class="checkbox-inline c-checkbox" ng-repeat="productStatus in vm.masterData.productStatusList">
									<input type="checkbox" ng-value="productStatus.value" ng-model="vm.searchInfo.productStatus[productStatus.value]"><span class="fa fa-check"></span> {{productStatus.name}}
								</label>
							</div>
						</div><!-- .form-group -->
						<!-- TODO 暂时未实现 -->
						<div class="form-group">
							<label class="col-sm-3 control-label" translate="TXT_PLATFORM_STATUS"></label>
							<div class="col-sm-8">
								<label class="checkbox-inline c-checkbox" ng-repeat="platformStatus in vm.masterData.platformStatusList">
									<input type="checkbox" ng-value="platformStatus.value" ng-model="vm.searchInfo.platformStatus[platformStatus.value]"><span class="fa fa-check"></span> {{platformStatus.name}}
								</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" translate="TXT_PRICE"></label>
							<div class="col-sm-8">
								<label class="checkbox-inline c-radio" ng-repeat="priceType in vm.masterData.priceTypeList">
									<input name="priceType" type="radio" ng-value="priceType.value" ng-model="vm.searchInfo.priceType"><span class="fa fa-check"></span> {{priceType.name}}
								</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label"></label>
							<div class="col-sm-8 form-inline">
								<div class="input-group col-sm-4"><input type="text" class="form-control" ng-model="vm.searchInfo.priceStart" ng-pattern="/^(\d+)(\.[0-9]{0,2})?$/"></div>&nbsp;~&nbsp;
								<div class="input-group col-sm-4"><input type="text" class="form-control" ng-model="vm.searchInfo.priceEnd" ng-pattern="/^(\d+)(\.[0-9]{0,2})?$/"></div>
							</div>
						</div><!-- .form-group -->
						<div class="form-group" ng-repeat="option in vm.custAttrList">
							<label class="col-sm-3 control-label" ng-if="$index == 0" translate="TXT_CUST_QUERY_ATTR"></label>
							<label class="col-sm-3 control-label" ng-if="$index != 0" ></label>
							<div class="col-sm-8 form-inline">
								<select class="form-control" ng-model="option.inputOpts"
										ng-options="custAtts.configCode as custAtts.configValue1 for custAtts in vm.masterData.custAttsList">
									<option value="">{{'TXT_SELECT_NO_VALUE' | translate}}</option>
								</select>
								<select class="form-control" ng-model="option.inputOpts"
										ng-options="custAtts.configCode as custAtts.configValue1 for custAtts in vm.masterData.custAttsList">
									<option value="">{{'TXT_SELECT_NO_VALUE' | translate}}</option>
								</select>
								<div class="input-group"><input type="text" class="form-control" ng-model="option.inputVal"></div>
								<button ng-if="$index > 0" id="delCustDiv" class="btn btn-danger btn-xs" ng-click="del($index)"><i class="fa fa-trash-o"></i></button>
								<button ng-if="$last" id="addCustDiv" class="btn btn-success" style="margin-left:3px" ng-click="add()"><i class="fa fa-plus"></i></button>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" >查询价格变动</label>
							<div class="col-sm-8">
								<div style="width:150px">
									<select class="form-control" ng-model="vm.searchInfo.priceChgFlg">
										<option value="0" selected="selected">{{'TXT_SELECT_NO_VALUE' | translate}}</option>
										<!--<option value="1">涨价</option>-->
										<option value="2">降价</option>
										<option value="3">击穿</option>
									</select>
								</div>
							</div>
						</div>
						<!--<div class="form-group">-->
							<!--<label class="col-sm-3 control-label" >价格比较</label>-->
							<!--<div class="col-sm-8">-->
								<!--<div style="width:250px">-->
									<!--<select class="form-control" ng-model="vm.searchInfo.priceDiffFlg">-->
										<!--<option value="0">{{'TXT_SELECT_NO_VALUE' | translate}}</option>-->
										<!--<option value="1">建议销售价等于实际销售价</option>-->
										<!--<option value="2">建议销售价小于实际销售价</option>-->
										<!--<option value="3">建议销售价大于实际销售价</option>-->
									<!--</select>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-3 control-label" translate="TXT_CREATE_TIME"></label>
							<div class="col-sm-8 form-inline">
								<div class="col-sm-5 input-group">
									<input type="text" class="form-control" uib-datepicker-popup ng-model="vm.searchInfo.createTimeStart" date-model-format="yyyy-MM-dd"
										   max-date="vm.searchInfo.createTimeTo" is-open="datePicker1" close-text="Close" />
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="datePicker1 = !datePicker1"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
								</div>&nbsp;~&nbsp;
								<div class="col-sm-5 input-group">
									<input type="text" class="form-control" uib-datepicker-popup ng-model="vm.searchInfo.createTimeTo" date-model-format="yyyy-MM-dd"
										   min-date="vm.searchInfo.createTimeStart" is-open="datePicker2" close-text="Close" />
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="datePicker2 = !datePicker2"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" translate="TXT_PUBLISH_TIME"></label>
							<div class="col-sm-8 form-inline">
								<div class="col-sm-5 input-group">
									<input type="text" class="form-control" uib-datepicker-popup ng-model="vm.searchInfo.publishTimeStart" date-model-format="yyyy-MM-dd"
										   max-date="vm.searchInfo.publishTimeTo" is-open="datePicker3" datepicker-options="dateOptions" close-text="Close" />
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="datePicker3 = !datePicker3"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
								</div>&nbsp;~&nbsp;
								<div class="col-sm-5 input-group">
									<input type="text" class="form-control" uib-datepicker-popup ng-model="vm.searchInfo.publishTimeTo" date-model-format="yyyy-MM-dd"
										   min-date="vm.searchInfo.publishTimeStart" is-open="datePicker4" datepicker-options="dateOptions" close-text="Close" />
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="datePicker4 = !datePicker4"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" translate="TXT_INVENTORY"></label>
							<div class="col-sm-8 form-inline" style="padding-left:0px">
								<div class="col-sm-5">
									<select class="form-control m-r-xs" ng-model="vm.searchInfo.compareType"
											ng-options="compareType.value as compareType.name for compareType in vm.masterData.compareTypeList">
										<option value="">{{'TXT_SELECT_NO_VALUE' | translate}}</option>
									</select>
								</div>
								<div class="col-sm-4"><input class="form-control" ng-model="vm.searchInfo.inventory" ng-pattern="/^(\d+)$/"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" translate="TXT_BRAND"></label>
							<div class="col-sm-8">
								<select search-contains="true" chosen class="form-control" ng-model="vm.searchInfo.brand"
										ng-options="brand.value as brand.name for brand in vm.masterData.brandList">
									<option value="">{{'TXT_SELECT_NO_VALUE' | translate}}</option>
								</select>
							</div>
						</div>
						<!-- TODO 暂时未实现 -->
						<div class="form-group">
							<label class="col-sm-3 control-label" translate="TXT_TAG"></label>
							<div class="col-sm-8">
								<select multiple chosen class="form-control" ng-model="vm.searchInfo.tags"
										ng-options="tag.tagPath as tag.tagPathName for tag in vm.masterData.tagList">
									<option value=""></option>
								</select>
								<!--<label class="checkbox-inline c-checkbox" ng-repeat="tag in vm.masterData.tagList">-->
									<!--<input type="checkbox" ng-value="tag.tagPath" ng-model="vm.searchInfo.tags[tag.tagPath]"><span class="fa fa-check"></span> {{tag.tagPathName}}-->
								<!--</label>-->
							</div>
						</div>
						<div class="form-group" ng-if="vm.masterData.isminimall == 1">
							<label class="col-sm-3 control-label">Original Channel</label>
							<div class="col-sm-8 form-inline" style="padding-left:0px">
								<div class="col-sm-5">
									<select class="form-control" style="width:150px" ng-model="vm.searchInfo.orgChaId"
											ng-options="orgChaInfo.order_channel_id as orgChaInfo.full_name for orgChaInfo in vm.masterData.channelList">
										<option value="">{{'TXT_SELECT_NO_VALUE' | translate}}</option>
									</select>
								</div>
							</div>
						</div>
					</div><!-- .form-group -->
				</div>
				<div class="col-sm-4">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-3 control-label" translate="TXT_FUZZY_SEARCH"></label>
							<div class="col-sm-8">
								<textarea class="form-control inherited" rows="4" ng-model="vm.searchInfo.codeList"></textarea>
								<div class="text-warnings" style="padding-left:0px">
									<i class="icon fa fa-bell-o"></i>&nbsp;{{'TXT_MSG_SEARCH_INDEX_FUZZY_SEARCH' | translate}}
								</div>
							</div>
						</div>
						<!-- TODO 暂时未实现 -->
						<div class="form-group">
							<label class="col-sm-3 control-label" translate="TXT_SORT_1"></label>
							<div class="col-sm-8">
								<div class="col-sm-5">
									<select class="form-control" ng-model="vm.searchInfo.sortOneName"
											ng-options="sortOne.value as sortOne.name for sortOne in vm.masterData.sortList">
									</select>
								</div>
								<div class="col-sm-3 text-right">
									<label class="checkbox-inline c-radio">
										<input name="sortOne" type="radio" value="1" ng-model="vm.searchInfo.sortOneType"><span class="fa fa-check"></span>&nbsp;{{'TXT_SORT_ASC' | translate }}
									</label>
								</div>
								<div class="col-sm-3">
									<label class="checkbox-inline c-radio">
										<input name="sortOne" type="radio" value="-1" ng-model="vm.searchInfo.sortOneType"><span class="fa fa-check"></span>&nbsp;{{'TXT_SORT_DESC' | translate }}
									</label>
								</div>
							</div>
						</div>
						<!-- TODO 暂时未实现 -->
						<div class="form-group">
							<label class="col-sm-3 control-label" translate="TXT_SORT_2"></label>
							<div class="col-sm-8">
								<div class="col-sm-5">
									<select class="form-control" ng-model="vm.searchInfo.sortTwoName"
											ng-options="sortTwo.value as sortTwo.name for sortTwo in vm.masterData.sortList">
									</select>
								</div>
								<div class="col-sm-3 text-right">
									<label class="checkbox-inline c-radio">
										<input name="sortTwo" type="radio" value="1" ng-model="vm.searchInfo.sortTwoType"><span class="fa fa-check"></span>&nbsp;{{'TXT_SORT_ASC' | translate }}
									</label>
								</div>
								<div class="col-sm-3">
									<label class="checkbox-inline c-radio">
										<input name="sortTwo" type="radio" value="-1" ng-model="vm.searchInfo.sortTwoType"><span class="fa fa-check"></span>&nbsp;{{'TXT_SORT_DESC' | translate }}
									</label>
								</div>
							</div>
						</div>
						<!-- TODO 暂时未实现 -->
						<div class="form-group">
							<label class="col-sm-3 control-label" translate="TXT_SORT_3"></label>
							<div class="col-sm-8">
								<div class="col-sm-5">
									<select class="form-control" ng-model="vm.searchInfo.sortThreeName"
											ng-options="sortThree.value as sortThree.name for sortThree in vm.masterData.sortList">
									</select>
								</div>
								<div class="col-sm-3 text-right">
									<label class="checkbox-inline c-radio">
										<input name="sortThree" type="radio" value="1" ng-model="vm.searchInfo.sortThreeType"><span class="fa fa-check"></span>&nbsp;{{'TXT_SORT_ASC' | translate }}
									</label>
								</div>
								<div class="col-sm-3">
									<label class="checkbox-inline c-radio">
										<input name="sortThree" type="radio" value="-1" ng-model="vm.searchInfo.sortThreeType"><span class="fa fa-check"></span>&nbsp;{{'TXT_SORT_DESC' | translate }}
									</label>
								</div>
							</div>
						</div>
						<div class="form-group"><!-- 查询翻译状态 -->
							<label class="col-sm-3 control-label" translate="TXT_TRANSSTS_ATTRIBUTE"></label>
							<div class="col-sm-8">
								<div class="col-sm-5">
									<select class="form-control" ng-model="vm.searchInfo.transStsFlg">
										<option value="">{{'TXT_SELECT_NO_VALUE' | translate}}</option>
										<option value="0">商品信息未翻译</option>
										<option value="1">商品信息已翻译</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 text-center m-b-sm">
					<div class="form-inline">
						<button class="btn btn-default" ng-click="clear()"><i class="fa fa-remove"></i>&nbsp;{{'BTN_CLEAR' | translate}}</button>
						<button class="btn btn-vo" ng-click="search()"><i class="fa fa-search"></i>&nbsp;{{'BTN_SEARCH' | translate}}</button>
						<!-- TODO 暂时未实现-->
						<button class="btn btn-success" ng-click="exportFile()"><i class="fa fa-reply-all"></i>&nbsp;{{'BTN_EXPORT' | translate}}</button>
					</div><!-- .form-inline -->
				</div>
			</div>
		</uib-accordion-group>
	</uib-accordion><!-- .accordion --><!--/search-->
	<!--category-->
	<div>
		<tabset class="tab-container vo_nav-tabs">
			<!--right-btn-->
			<div class="form-inline m-b-xs pull-right" ng-controller="popupCtrl">
				<button class="btn btn-default" ng-click="openCustomColumn('lg',search)">
					<i class="fa fa-cog"></i>&nbsp;{{'BTN_CUSTOMIZE_COLUMNS' | translate}}
				</button>&nbsp;
				<div class="btn-group" uib-dropdown>
					<button type="button" class="btn btn-default" ng-disabled="vm.masterData.promotionList.length < 0" uib-dropdown-toggle>
						<i class="fa fa-arrow-circle-right"></i>&nbsp;{{'BTN_ADD_TO_PROMOTION' | translate}}&nbsp;<span class="caret"></span>
					</button>
					<!--<button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="vm.masterData.promotionList.length < 0">-->
						<!--<span class="caret"></span>-->
					<!--</button>-->
					<ul uib-dropdown-menu ng-if="vm.masterData.promotionList.length">
						<li ng-repeat="promotion in vm.masterData.promotionList">
							<a href ng-click="openAddToPromotion('md', promotion, vm.currTab === 'group' ? vm.groupSelList.selList : vm.productSelList.selList, search)">{{promotion.promotionName}}|{{promotion.cartName}}</a>
						</li>
					</ul>
				</div>&nbsp;
				<button class="btn btn-default" ng-click="openBulkUpdate('md', vm.currTab === 'group' ? vm.groupSelList.selList : vm.productSelList.selList, search)"><i class="fa fa-pencil-square"></i>&nbsp;{{'BTN_BATCH_UPDATE_ATTRIBUTE' | translate}}</button>
				<button class="btn btn-default" ng-click="$parent.openCategoryMapping(popupNewCategory)"><i class="fa fa-arrow-circle-right"></i>&nbsp;{{'BTN_CHANGE_MASTER_CATEGORY' | translate}}</button>
			</div><!-- /right-btn -->

			<!--tab-->
			<tab ng-click="vm.currTab = 'group'">
				<tab-heading><i class="glyphicons glyphicons-more-items text-default"></i>&nbsp;{{'TXT_GROUP_LIST' | translate}}</tab-heading>
				<div class="table-responsive box-body">
					<table class="table-hover-new vo_table vo_models dropdown_table_bk font-bold" style="background:#e67e22;color:#fff;" width="{{vm.tblWidth}}">
						<thead>
						<tr>
							<th colspan="3" class="text-left" style="display:inline-block; height:40px; line-height:40px;width:400px;"><label class="checkbox-inline c-checkbox" ng-controller="selectRowsCtrl">
								<input type="checkbox" ng-click="selectAll(vm.groupSelList)" ng-checked="isAllSelected(vm.groupSelList)" ng-disabled="!vm.groupList.length">
								<span class="fa fa-check" style="vertical-align: middle;"></span>&nbsp;{{'TXT_SELECT_ALL' | translate}}&nbsp;</label>
								<span class="m-l-xxl" translate="TXT_PRIMARY_PRODUCT"></span>
							</th>
							<th class="text-center" translate="TXT_INVENTORY" style="display:inline-block;width:85px;padding-left:8px"></th>
							<th class="text-center" translate="TXT_SALE_PRICE" style="display:inline-block;width:150px;padding-left:8px"></th>
							<th class="text-left" translate="TXT_BRAND" style="display:inline-block;width:150px;padding-left:8px"></th>
							<th class="text-left" ng-repeat="prop1 in vm.commonProps" style="display:inline-block;width:120px;padding-left:8px">{{prop1.propName}}</th>
							<th class="text-left" ng-repeat="prop2 in vm.customProps" style="display:inline-block;width:120px;padding-left:8px">{{prop2.feed_prop_translation}}</th>
							<th class="text-left" translate="TXT_TIME"style="display:inline-block;width:150px;padding-left:8px"></th>
						</tr>
						</thead>
					</table>
					<div class="box-body-new" if-no-rows="vm.groupList.length" style="padding-left:0px">
						<table class="table-hover vo_table vo_models" ng-if="vm.groupList.length" width="{{vm.tblWidth}}">
							<tbody ng-repeat="groupInfo in vm.groupList">
							<tr ng-class="{'table_bg_green_mint': groupInfo.groups.platforms[0].publishTime}" class="table_bg_gray">
								<td colspan="8" class="control-label text-left form-inline" style="height:36px; border-bottom:1px solid #ddd;border-top:1px solid #ddd;">
									<label class="checkbox-inline c-checkbox">
										<input ng-model="vm.groupSelList.selFlag[groupInfo.prodId]" type="checkbox"  ng-controller="selectRowsCtrl"
											   ng-click="selectOne(groupInfo.prodId, vm.groupSelList)">
										<span class="fa fa-check"></span>
									</label>
									<span class="label m-r-sm m-l" ng-class="{'label-success-new': groupInfo.groups.platforms[0].platformStatus == 'Onsale','label-yellow-new': groupInfo.groups.platforms[0].platformStatus == 'Instock', 'label-danger-new': groupInfo.groups.platforms[0].platformStatus == 'WaitingPublish'}">
										&nbsp;{{groupInfo.groups.platforms[0].platformStatus}}&nbsp;
									</span>
									<span class="m-r-sm" ng-if="groupInfo.groups.platforms[0].numIId">{{'TXT_NUMBER_IID_WITH_COLON' | translate}}&nbsp;
										<a ng-href="https://detail.tmall.com/item.htm?id={{groupInfo.groups.platforms[0].numIId}}" target="_blank"  ng-bind="groupInfo.groups.platforms[0].numIId"></a>
									</span>&nbsp;
									<span>{{'TXT_GROUP_NAME_WITH_COLON' | translate}}&nbsp;
										<a ng-if="groupInfo.fields.longTitle" ng-href="#/group/detail/{{groupInfo.groups.platforms[0].groupId}}" title="{{groupInfo.fields.longTitle}}"
										   target="_blank">{{groupInfo.fields.longTitle | limitTo: 30}}{{groupInfo.fields.longTitle.length > 30 ? '...' : ''}}
										</a>
										<a ng-if="!groupInfo.fields.longTitle" ng-href="#/group/detail/{{groupInfo.groups.platforms[0].groupId}}" title="{{groupInfo.fields.productNameEn}}"
										   target="_blank">{{groupInfo.fields.productNameEn | limitTo: 30}}{{groupInfo.fields.productNameEn.length > 30 ? '...' : ''}}
										</a>
									</span>
									<span class="pull-right" style="margin-right:10px">{{'TXT_CATEGORY' | translate}}&nbsp;{{groupInfo.catPath}}</span>
								</td>
							</tr>
							<tr ng-class="{'table_bg_green_mint': groupInfo.groups.platforms[0].publishTime}" style="">
								<td colspan="3" class="text-left m-t-sm" style="display:inline-block;width:400px;">
										<img ng-src="http://image.sneakerhead.com/is/image/sneakerhead/{{groupInfo.fields.images1[0].image1}}" alt="{{groupInfo.fields.code}}" class="thumb-sm-search pull-left m-r"/>
									<div class="table_main pull-left" style="width:60%">
										<ul>
											<li><a ng-href="#/product/detail/{{groupInfo.prodId}}" ng-bind="groupInfo.fields.code" target="_blank"></a></li>
											<li><a ng-href="#/product/detail/{{groupInfo.prodId}}" ng-bind="groupInfo.fields.longTitle || groupInfo.fields.productNameEn" target="_blank"></a></li>
										</ul>
										<div class="form-inline" ng-if="groupInfo.grpImgList.length > 0" >
											<a ng-repeat="prop2 in groupInfo.grpImgList"><img class="thumb-xs m-b-xs" ng-src="http://image.sneakerhead.com/is/image/sneakerhead/{{prop2.value}}" alt=""/>&nbsp;</a>
										</div>
									</div>
								</td>
								<td class="text-center" style="display:inline-block;width:85px;"><!--TODO 目前只能返回group的主product,所有拿不到group下面所有的product的库存--><!--popover-html="showInfo({{groupInfo.inventoryDetail}})"-->
									<!--<button ng-controller="showPopoverCtrl" popover-title="{{'TXT_SKU_INVENTORY' | translate}}" type="button" popover-placement="left"
											class="btn btn-default btn-xs">{{groupInfo.groups.platforms[0].inventory || 0}}</button>-->
									{{groupInfo.groups.platforms[0].qty || 0}}
								</td>
								<td class="text-center" style="display:inline-block;width:150px;">
									<button ng-controller="showPopoverCtrl" popover-html="showInfo({{groupInfo.groups.priceDetail}})"
											popover-title="{{'TXT_PRICE' | translate}}" type="button" popover-placement="left" class="btn btn-default btn-xs">
										{{groupInfo.groups.priceSale}}
									</button><label ng-if="groupInfo._grpProdChgInfo == 1" style="color:red;font-size: 16px;font-weight:bolder">&nbsp;!</label>
								</td>
								<td class="text-left" style="display:inline-block;width:150px;">{{groupInfo.fields.brand}}</td>
								<td class="text-left" title="{{prop1.value}}" ng-repeat="prop1 in groupInfo.commArr" style="display:inline-block;width:120px; overflow:hidden;">{{prop1.value}}</td>
								<td class="text-left" title="{{prop2.value}}" ng-repeat="prop2 in groupInfo.custArr" style="display:inline-block;width:120px; overflow:hidden;">{{prop2.value}}</td>

								<td class="text-left" style="display:inline-block;width:150px;">
									<small ng-controller="showPopoverCtrl" popover-html="showInfo({{groupInfo.groups.platforms[0].timeDetail}})" popover-trigger="mouseenter" popover-placement="left">
										<div class="table_main">
											<ul ng-if="groupInfo.groups.platforms[0].publishTime">
												<li>{{'TXT_PUBLISH_TIME' | translate}}</li>
												<!--<li><span>{{groupInfo.publishDate}}</span></li>-->
												<li><span>{{groupInfo.groups.platforms[0].publishTime.substring(0,19)}}</span></li>
											</ul>
											<ul ng-if="!groupInfo.groups.platforms[0].publishTime">
												<li>{{'TXT_CREATE_TIME' | translate}}</li>
												<!--<li><span>{{groupInfo.publishDate}}</span></li>-->
												<li><span>{{groupInfo.created.substring(0,19)}}</span></li>
											</ul>
										</div>
									</small>
								</td>
							</tr>
							</tbody>
						</table>
					</div><!-- .table-responsive -->
				</div>
				<div class="col-sm-12 m-t-lg m-b-lg">
					<vpagination config="vm.groupPageOption"></vpagination>
				</div>
			</tab>

			<tab ng-click="vm.currTab = 'product'">
				<tab-heading><i class="glyphicons glyphicons-sort text-default"></i>&nbsp;{{'TXT_PRODUCT_LIST' | translate}}</tab-heading>
				<!-- Products table and controls -->
				<div class="table-responsive box-body">
					<table class="table-hover vo_table vo_models dropdown_table_bk font-bold" style="background:#e67e22;color:#fff" width="{{vm.tblWidth2}}">
						<thead>
						<tr>
							<td class="text-left" style="display:inline-block; height:40px; line-height:40px;width:165px;padding-left:0px;margin-left:0px"><label class="checkbox-inline c-checkbox" ng-controller="selectRowsCtrl">
								<input type="checkbox" ng-click="selectAll(vm.productSelList)" ng-checked="isAllSelected(vm.productSelList)" ng-disabled="!vm.productList.length">
								<span class="fa fa-check" style="vertical-align: middle;"></span>&nbsp;{{'TXT_SELECT_ALL' | translate}}&nbsp;</label>
							</td>
							<td class="text-left" translate="TXT_BRAND" style="display:inline-block;width:150px;padding-left:8px"></td>
							<td class="text-center" translate="TXT_INVENTORY" style="display:inline-block;width:85px;padding-left:8px"></td>
							<td class="text-center" translate="TXT_SALE_PRICE" style="display:inline-block;width:150px;padding-left:8px"></td>
							<td class="text-left" style="display:inline-block;width:180px;padding-left:8px">销售平台</td>
							<th class="text-left" ng-repeat="prop1 in vm.commonProps" style="display:inline-block;width:120px;padding-left:8px">{{prop1.propName}}</th>
							<th class="text-left" ng-repeat="prop2 in vm.customProps" style="display:inline-block;width:120px;padding-left:8px">{{prop2.feed_prop_translation}}</th>
							<td class="text-center" translate="TXT_SKU_COUNT" style="display:inline-block;width:165px;padding-left:8px"></td>
							<td class="text-left" translate="TXT_TIME" style="display:inline-block;width:165px;padding-left:8px"></td>
						</tr>
						</thead>
					</table>
					<div class="col-sm-12 box-body" if-no-rows="vm.productList.length" style="padding-left:0px">
						<table class="table-hover vo_table vo_models" ng-if="vm.productList.length" width="{{vm.tblWidth2}}">
							<tbody ng-repeat="productInfo in vm.productList">
								<tr ng-class="{'table_bg_green_mint': productInfo.groups.platforms[0].publishTime}" class="table_bg_gray">
									<td colspan="9" class="control-label text-left form-inline" style="height:36px; border-bottom:1px solid #ddd;border-top:1px solid #ddd;">
										<label class="checkbox-inline c-checkbox">
											<input ng-model="vm.productSelList.selFlag[productInfo.prodId]" type="checkbox" ng-controller="selectRowsCtrl"
												   ng-click="selectOne(productInfo.prodId, vm.productSelList)">
											<span class="fa fa-check"></span>
										</label>
										<span class="label m-r-sm m-l" ng-class="{'label-yellow-new': productInfo.fields.status == 'Pending','label-info': productInfo.fields.status == 'Ready', 'label-primary': productInfo.fields.status == 'Approved', 'label-danger-new': productInfo.fields.status == 'Deleted', 'label-success-new': productInfo.fields.status == 'New'}">
											&nbsp;{{productInfo.fields.status}}&nbsp;
										</span>
										<span class="label label-danger m-t-xs m-r-sm m-l-sm" ng-if="productInfo._prodMnFlg == 1">&nbsp;M&nbsp;</span>
										<span class="label label-success m-t-xs m-r-sm" ng-if="vm.masterData.isminimall == 1">&nbsp;{{productInfo._prodOrgChaName}}&nbsp;</span>
									    <span class="m-r-sm" ng-if="productInfo.groups.platforms[0].numIId">{{'TXT_NUMBER_IID_WITH_COLON' | translate}}&nbsp;
									    	<a ng-href="https://detail.tmall.com/item.htm?id={{productInfo.groups.platforms[0].numIId}}" target="_blank"  ng-bind="productInfo.groups.platforms[0].numIId"></a>
									    </span>&nbsp;
										<span class="m-r-sm">{{'TXT_PRODUCT_CODE_WITH_COLON' | translate}}&nbsp;
											<a ng-href="#/product/detail/{{productInfo.prodId}}" target="_blank" ng-bind="productInfo.fields.code"></a>
										</span>&nbsp;
										<span>{{'TXT_PRODUCT_NAME_WITH_COLON' | translate}}&nbsp;
											<a ng-if="productInfo.fields.longTitle" href="#/product/detail/{{productInfo.prodId}}" title="{{productInfo.fields.longTitle}}"
											   target="_blank">{{productInfo.fields.longTitle | limitTo: 30}}{{productInfo.fields.longTitle.length > 30 ? '...' : ''}}</a>
											<a ng-if="!productInfo.fields.longTitle" href="#/product/detail/{{productInfo.prodId}}" title="{{productInfo.fields.productNameEn}}"
											   target="_blank">{{productInfo.fields.productNameEn | limitTo: 30}}{{productInfo.fields.productNameEn.length > 30 ? '...' : ''}}</a>
										</span>
										<span class="pull-right" style="margin-right:10px">{{'TXT_CATEGORY' | translate}}&nbsp;{{productInfo.catPath}}</span>
									</td>
								</tr>
								<tr ng-class="{'table_bg_green_mint': productInfo.groups.platforms[0].publishTime}">
									<td class="text-left" style="display:inline-block;width:165px;">
										<img ng-src="http://image.sneakerhead.com/is/image/sneakerhead/{{productInfo.fields.images1[0].image1}}" alt="{{productInfo.fields.code}}" class="thumb-sm-search pull-left m-r"/>
									</td>
									<td class="text-left m-t-lg" style="display:inline-block;width:150px; height:97px;">{{productInfo.fields.brand}}</td>
									<td class="text-center m-t-lg" style="display:inline-block;width:85px; height:97px;">
										<!--<button ng-controller="showPopoverCtrl" popover-html="showInfo({{productInfo.inventoryDetail}})"
												popover-title="{{'TXT_SKU_INVENTORY' | translate}}" type="button" popover-placement="left"
												class="btn btn-default btn-xs">{{productInfo.fields.qty || 0}}</button>-->
										{{productInfo.fields.quantity || 0}}
									</td>
									<td class="text-center m-t-lg" style="display:inline-block;width:150px; height:97px;">
										<button ng-controller="showPopoverCtrl" popover-html="showInfo({{productInfo.priceDetail}})"
												popover-title="{{'TXT_PRICE' | translate}}" type="button" popover-placement="left" class="btn btn-default btn-xs">
											{{productInfo.priceSale}}
										</button><label ng-if="productInfo._prodChgInfo == 1" style="color:red;font-size: 16px;font-weight:bolder">&nbsp;!</label>
									</td>
									<td class="text-left m-t-lg" style="display:inline-block;width:180px; height:97px;">{{productInfo.platformName}}</td>
									<td class="text-left m-t-lg" title="{{prop1.value}}" ng-repeat="prop1 in productInfo.commArr" style="display:inline-block;width:120px; overflow:hidden;">{{prop1.value}}</td>
									<td class="text-left m-t-lg" title="{{prop2.value}}" ng-repeat="prop2 in productInfo.custArr" style="display:inline-block;width:120px; overflow:hidden;">{{prop2.value}}</td>
									<td class="text-center m-t-lg" style="display:inline-block;width:165px; height:97px;">
										<button ng-controller="showPopoverCtrl" popover-html="showInfo({{productInfo.skuDetail}})" popover-title="{{'TXT_SKU_PLATFORM_INFO' | translate}}"
												type="button" popover-placement="left" class="btn btn-default btn-xs">{{productInfo.skus.length}}</button>
									</td>
									<td class="text-left m-t-lg" style="display:inline-block;width:165px; height:97px;">
										<small ng-controller="showPopoverCtrl" popover-html="showInfo({{productInfo.groups.platforms[0].timeDetail}})" popover-trigger="mouseenter" popover-placement="left">
											<div class="table_main">
												<ul ng-if="productInfo.groups.platforms[0].publishTime">
													<li>{{'TXT_PUBLISH_TIME' | translate}}</li>
													<!--<li><span>{{groupInfo.publishDate}}</span></li>-->
													<li><span>{{productInfo.groups.platforms[0].publishTime.substring(0, 19)}}</span></li>
												</ul>
												<ul ng-if="!productInfo.groups.platforms[0].publishTime">
													<li>{{'TXT_CREATE_TIME' | translate}}</li>
													<!--<li><span>{{productInfo.publishDate}}</span></li>-->
													<li><span>{{productInfo.created.substring(0, 19)}}</span></li>
												</ul>
											</div>
										</small>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div><!-- .table-responsive -->
				<div class="col-sm-12 m-t-lg m-b-lg">
					<vpagination config="vm.productPageOption"></vpagination>
				</div>
			</tab>
		</tabset><!-- tabset -->
	</div><!-- tabs ng-controller -->
</div><!-- .col-lg-12 -->