<div class="wrapper-md" ng-init="initialize()">
	<accordion class="vo_accordion vo_attr" close-others="oneAtATime">
		<accordion-group is-open="status.open">
			<accordion-heading>
				<i class="fa fa-search"></i>&nbsp;{{'TXT_SEARCH_CONDITION' | translate}}
				<i class="pull-right glyphicon glyphicon-menu-down" ng-class="{'glyphicon-menu-up': status.open, 'glyphicon-menu-down': !status.open}"></i>
			</accordion-heading>
			<!-- search -->
			<div class="col-sm-12" >
				<div class="col-sm-4">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-3 control-label" translate="TXT_PRODUCT_STATUS"></label>
							<div class="col-sm-9">
								<label class="checkbox-inline c-checkbox" ng-repeat="productStatus in vm.masterData.productStatusList">
									<input type="checkbox" ng-value="productStatus.value" ng-model="vm.searchInfo.productStatus[productStatus.value]"><span class="fa fa-check"></span> {{productStatus.name}}
								</label>
							</div>
						</div><!-- .form-group -->
						<div class="form-group">
							<label class="col-sm-3 control-label" translate="TXT_PUBLISH_STATUS"></label>
							<div class="col-sm-9">
								<label class="checkbox-inline c-checkbox" ng-repeat="publishStatus in vm.masterData.publishStatusList">
									<input type="checkbox" ng-value="publishStatus.value" ng-model="vm.searchInfo.publishStatus[publishStatus.value]"><span class="fa fa-check"></span> {{publishStatus.name}}
								</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" translate="TXT_LABEL"></label>
							<div class="col-sm-9">
								<label class="checkbox-inline c-checkbox" ng-repeat="labelType in vm.masterData.labelTypeList">
									<input type="checkbox" ng-value="labelType.value" ng-model="vm.searchInfo.labelType[labelType.value]"><span class="fa fa-check"></span> {{labelType.name}}
								</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" translate="TXT_PRICE"></label>
							<div class="col-sm-8">
								<label class="checkbox-inline c-radio" ng-repeat="priceType in vm.masterData.priceTypeList">
									<input name="priceType" type="radio" ng-value="priceType.value" ng-model="vm.searchInfo.priceType"><span class="fa fa-check"></span> {{priceType.name}}
								</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label"></label>
							<div class="col-sm-6 form-inline">
								<div class="input-group col-sm-4"><input type="text" class="form-control" ng-model="vm.searchInfo.priceTypeStart" ng-pattern="/^(\d+)(\.[0-9]{0,2})?$/"></div>&nbsp;~
								<div class="input-group col-sm-4"><input type="text" class="form-control" ng-model="vm.searchInfo.priceTypeEnd" ng-pattern="/^(\d+)(\.[0-9]{0,2})?$/"></div>
							</div>
						</div><!-- .form-group -->
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-3 control-label" translate="TXT_CREATE_TIME"></label>
							<div class="col-sm-9 form-inline">
								<div class="col-sm-6 input-group" ng-controller="datePickerCtrl">
									<input type="text" class="form-control" datepicker-popup="{{formatDate}}" ng-model="$parent.vm.searchInfo.createTimeStart" date-model-format="{{formatDate}}"
										   max-date="$parent.vm.searchInfo.createTimeTo" is-open="opened" datepicker-options="dateOptions" close-text="Close" />
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
								</div>&nbsp;~
								<div class="col-sm-5 input-group" ng-controller="datePickerCtrl">
									<input type="text" class="form-control" datepicker-popup="{{formatDate}}" ng-model="$parent.vm.searchInfo.createTimeTo" date-model-format="{{formatDate}}"
										   min-date="$parent.vm.searchInfo.createTimeStart" is-open="opened" datepicker-options="dateOptions" close-text="Close" />
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" translate="TXT_PUBLISH_TIME"></label>
							<div class="col-sm-9 form-inline">
								<div class="col-sm-6 input-group" ng-controller="datePickerCtrl">
									<input type="text" class="form-control" datepicker-popup="{{formatDate}}" ng-model="$parent.vm.searchInfo.publishTimeStart" date-model-format="{{formatDate}}"
										   max-date="$parent.vm.searchInfo.publishTimeTo" is-open="opened" datepicker-options="dateOptions" close-text="Close" />
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
								</div> ~
								<div class="col-sm-5 input-group" ng-controller="datePickerCtrl">
									<input type="text" class="form-control" datepicker-popup="{{formatDate}}" ng-model="$parent.vm.searchInfo.publishTimeTo" date-model-format="{{formatDate}}"
										   min-date="$parent.vm.searchInfo.publishTimeStart" is-open="opened" datepicker-options="dateOptions" close-text="Close" />
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" translate="TXT_INVENTORY"></label>
							<div class="col-sm-9 form-inline">
								<div class="col-sm-5">
									<select class="form-control m-r-xs" ng-model="vm.searchInfo.compareType"
											ng-options="compareType.value as compareType.name for compareType in vm.masterData.compareTypeList">
									</select>
								</div>
								<div class="col-sm-4"><input class="form-control" ng-model="vm.searchInfo.inventory" ng-pattern="/^(\d+)$/"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" translate="TXT_BRAND"></label>
							<div class="col-sm-9">
								<select class="form-control" ng-model="vm.searchInfo.brand"
										ng-options="brand.value as brand.displayName for brand in vm.masterData.brandList">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" translate="TXT_PROMOTION_INFO"></label>
							<div class="col-sm-9">
								<select class="form-control" ng-model="vm.searchInfo.promotion"
										ng-options="promotion.promotionId as promotion.promotionName for promotion in vm.masterData.promotionWithBlankList">
								</select>
							</div>
						</div>
					</div><!-- .form-group -->
				</div>
				<div class="col-sm-4">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-3 control-label" translate="TXT_CODE_LIST"></label>
							<div class="col-sm-8">
								<textarea class="form-control inherited" rows="4" ng-model="vm.searchInfo.codeList"></textarea>
							</div>
						</div>
						<div class="form-group">
							<!-- TODO -->
							<label class="col-sm-3 control-label" translate="TXT_SORT_1"></label>
							<div class="col-sm-8">
								<div class="col-sm-5">
									<select class="form-control" ng-model="vm.searchInfo.sortOneName"
											ng-options="sortOne.id as sortOne.name for sortOne in vm.masterData.sortList">
									</select>
								</div>
								<div class="col-sm-3 text-right">
									<label class="checkbox-inline c-radio">
										<input name="sortOne" type="radio" value="asc" ng-model="vm.searchInfo.sortOneType"><span class="fa fa-check"></span>&nbsp;{{'TXT_SORT_ASC' | translate }}
									</label>
								</div>
								<div class="col-sm-3">
									<label class="checkbox-inline c-radio">
										<input name="sortOne" type="radio" value="desc" ng-model="vm.searchInfo.sortOneType"><span class="fa fa-check"></span>&nbsp;{{'TXT_SORT_DESC' | translate }}
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<!-- TODO -->
							<label class="col-sm-3 control-label" translate="TXT_SORT_2"></label>
							<div class="col-sm-8">
								<div class="col-sm-5">
									<select class="form-control" ng-model="vm.searchInfo.sortTwoName"
											ng-options="sortTwo.id as sortTwo.name for sortTwo in vm.masterData.sortList">
									</select>
								</div>
								<div class="col-sm-3 text-right">
									<label class="checkbox-inline c-radio">
										<input name="sortTwo" type="radio" value="asc" ng-model="vm.searchInfo.sortTwoType"><span class="fa fa-check"></span>&nbsp;{{'TXT_SORT_ASC' | translate }}
									</label>
								</div>
								<div class="col-sm-3">
									<label class="checkbox-inline c-radio">
										<input name="sortTwo" type="radio" value="desc" ng-model="vm.searchInfo.sortTwoType"><span class="fa fa-check"></span>&nbsp;{{'TXT_SORT_DESC' | translate }}
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<!-- TODO -->
							<label class="col-sm-3 control-label" translate="TXT_SORT_3"></label>
							<div class="col-sm-8">
								<div class="col-sm-5">
									<select class="form-control" ng-model="vm.searchInfo.sortThreeName"
											ng-options="sortThree.id as sortThree.name for sortThree in vm.masterData.sortList">
									</select>
								</div>
								<div class="col-sm-3 text-right">
									<label class="checkbox-inline c-radio">
										<input name="sortThree" type="radio" value="asc" ng-model="vm.searchInfo.sortThreeType"><span class="fa fa-check"></span>&nbsp;{{'TXT_SORT_ASC' | translate }}
									</label>
								</div>
								<div class="col-sm-3">
									<label class="checkbox-inline c-radio">
										<input name="sortThree" type="radio" value="desc" ng-model="vm.searchInfo.sortThreeType"><span class="fa fa-check"></span>&nbsp;{{'TXT_SORT_DESC' | translate }}
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 text-center m-b-sm">
					<div class="form-inline">
						<button class="btn btn-default" ng-click="clear()"><i class="fa fa-remove"></i>&nbsp;{{'BTN_CLEAR' | translate}}</button>
						<button class="btn btn-vo" ng-click="search()"><i class="fa fa-search"></i>&nbsp;{{'BTN_SEARCH' | translate}}</button>
						<button class="btn btn-success" ng-click="exportFile()"><i class="fa fa-reply-all"></i>&nbsp;{{'BTN_EXPORT' | translate}}</button>
					</div><!-- .form-inline -->
				</div>
			</div>
		</accordion-group>
	</accordion><!-- .accordion --><!--/search-->
	<!--category-->
	<div >
		<tabset class="tab-container vo_nav-tabs">
			<!--right-btn-->
			<div class="form-inline m-b-xs pull-right" ng-controller="popupCtrl">
				<button class="btn btn-default" ng-click="openCustomBaseProperty('lg')"><i class="fa fa-cog"></i>&nbsp;{{'TXT_CUSTOM_BASE_PROPERTY' | translate}}</button>
				<div class="btn-group" dropdown>
					<button type="button" class="btn btn-default" ng-disabled="vm.masterData.promotionList.length < 0">
						<i class="fa fa-arrow-circle-right"></i>&nbsp;{{'TXT_SELECT_PROMOTION' | translate}}
					</button>
					<button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="vm.masterData.promotionList.length < 0">
						<span class="caret"></span>
						<span class="sr-only" translate="TXT_SELECT_PROMOTION"></span>
					</button>
					<ul class="dropdown-menu" role="menu" ng-if="vm.masterData.promotionList.length">
						<li ng-repeat="promotion in vm.masterData.promotionList">
							<a href ng-click="openNewPromotion('md', promotion)">{{promotion.promotionName}}|{{promotion.cartName}}</a>
						</li>
					</ul>
				</div>
				<button class="btn btn-default" ng-click="openupdateProperties('md')"><i class="fa fa-pencil-square"></i>&nbsp;{{'TXT_BATCH_UPDATE_ATTRIBUTE' | translate}}</button>
				<button class="btn btn-default" ng-click="openNewcategory('lg')"><i class="fa fa-th-list"></i>&nbsp;{{'TXT_CHANGE_CATEGORY' | translate}}</button>
			</div><!-- /right-btn -->
			<!--tab-->
			<tab>
				<tab-heading><i class="glyphicons glyphicons-more-items text-default"></i>&nbsp;{{'TXT_GROUP_LIST' | translate}}</tab-heading>
				<div class="table-responsive">
					<table class="table table-hover vo_table vo_models dropdown_table_bk font-bold text-vo">
						<thead>
						<tr>
							<td colspan="3" class="mfb-xxxs"><label class="checkbox-inline c-checkbox" ng-controller="selectRowsCtrl">
								<input type="checkbox" ng-checked="vm.groupSelList.selAllFlag" ng-click="selectAll(vm.groupSelList)">
								<span class="fa fa-check"></span>&nbsp;{{'TXT_SELECT_ALL' | translate}}&nbsp;</label>
								<span class="m-l-xxl" translate="TXT_PRIMARY_PRODUCT"></span>
							</td>
							<td class="mfb-xxt text-center" translate="TXT_INVENTORY"></td>
							<td class="mfb-xxt text-center" translate="TXT_FINAL_PRICE"></td>
							<td class="mfb-xxt text-left" translate="TXT_BRAND"></td>
							<td class="mfb-xxxs text-left" translate="TXT_BASE_PROPERTY"></td>
							<td class="mfb-xxt text-left" translate="TXT_TIME"></td>
						</tr>
						</thead>
					</table>
					<div class="col-sm-12 dropdown_table dropdown_table_main" if-no-rows="vm.groupList.length">
						<table class="table table-hover vo_table vo_models" ng-if="vm.groupList.length">
							<tbody ng-repeat="groupInfo in vm.groupList">
							<tr class="table_bg_gray">
								<td colspan="6" class="control-label text-left form-inline">
									<label class="checkbox-inline c-checkbox">
										<input ng-model="vm.groupSelList.selFlag[groupInfo.id]" type="checkbox"  ng-controller="selectRowsCtrl" ng-click="selectOne(groupInfo.id, vm.groupSelList)">
										<span class="fa fa-check"></span>
									</label>
									<span class="label m-r-lg m-l" ng-class="{'label-success-new': groupInfo.statusType == '1','label-yellow-new': groupInfo.statusType == '2', 'label-danger-new': groupInfo.statusType == '0'}">
										&nbsp;{{groupInfo.status}}&nbsp;
									</span>
									<span class="m-r-lg">{{'TXT_NUMBER_IID' | translate}}&nbsp;
										<a ng-href="{{groupInfo.platformPath}}" target="_blank" class="text-u-l" ng-bind="groupInfo.numIId"></a>
									</span>&nbsp;
									<span>{{'TXT_GROUP_NAME' | translate}}&nbsp;
										<a href="#/group/list/{{groupInfo.id}}" target="_blank" class="text-u-l" ng-bind="groupInfo.primaryProduct.name"></a>
									</span>
								</td>
								<td colspan="2" class="text-right">{{'TXT_CATEGORY' | translate}}&nbsp;{{groupInfo.primaryProduct.categoryPath}}</td>
							</tr>
							<tr>
								<td colspan="3" class="mfb-xxxs">
									<img ng-src="{{groupInfo.primaryProduct.imagePath}}" alt="Nike Air Max Tailwind 7" class="img-circle pull-left m-r"/>
									<div class="table_main pull-left">
										<ul>
											<li class="m-t">{{groupInfo.primaryProduct.code}}</li>
											<li>{{groupInfo.primaryProduct.name}}</li>
										</ul>
									</div>
								</td>
								<td class="mfb-xxt text-center">
									<button ng-controller="showPopoverCtrl" popover-html="showInfo({{groupInfo.inventoryDetail}})" popover-title="{{'TXT_INVENTORY' | translate}}" type="button" popover-placement="left" class="btn btn-default btn-xs">{{groupInfo.inventory}}</button>
								</td>
								<td class="mfb-xxt text-center">
									<button ng-controller="showPopoverCtrl" popover-html="showInfo({{groupInfo.priceDetail}})" popover-title="{{'TXT_FINAL_PRICE' | translate}}" type="button" popover-placement="left" class="btn btn-default btn-xs">{{groupInfo.finalPrice}}</button>
								</td>
								<td class="mfb-xxt text-left">{{groupInfo.primaryProduct.brand}}</td>
								<td class="mfb-xxxs text-left">
									<div class="table_main">
										<ul>
											<li ng-repeat="baseProperty in groupInfo.primaryProduct.basePropertyList">{{baseProperty.name}}&nbsp;{{baseProperty.value}}</li>
										</ul>
									</div>
								</td>
								<td class="mfb-xxt text-left">
									<!--<small popover-html="{{groupInfo.publishValue}}<br>{{groupInfo.onSaleValue}}" popover-trigger="mouseenter" popover-placement="left">-->
									<small ng-controller="showPopoverCtrl" popover-html="showInfo({{groupInfo.timeInfo}})" popover-trigger="mouseenter" popover-placement="left">
										<div class="table_main">
											<ul>
												<li>{{'TXT_PUBLISH_TIME' | translate}}</li>
												<li><span>{{groupInfo.publishDate}}</span></li>
												<li><span>{{groupInfo.publishTime}}</span></li>
											</ul>
										</div>
									</small>
								</td>
							</tr>
							</tbody>
						</table>
					</div><!-- .table-responsive -->
					<div class="col-sm-12 m-t-xs">
						<vpagination config="vm.groupPageOption" total="{{vm.groupPageOption.total}}"></vpagination>
					</div>
				</div>
			</tab>

			<tab>
				<tab-heading><i class="glyphicons glyphicons-sort text-default"></i>&nbsp;{{'TXT_PRODUCT_LIST' | translate}}</tab-heading>
				<!-- Products table and controls -->
				<div class="table-responsive">
					<table class="table table-hover vo_table vo_models dropdown_table_bk font-bold text-vo">
						<thead>
						<tr>
							<td class="mfb-xxt"><label class="checkbox-inline c-checkbox" ng-controller="selectRowsCtrl">
								<input type="checkbox" ng-checked="vm.productSelList.selAllFlag" ng-click="selectAll(vm.productSelList)">
								<span class="fa fa-check"></span>&nbsp;{{'TXT_SELECT_ALL' | translate}}&nbsp;</label>
							</td>
							<td class="mfb-xxt text-center" translate="TXT_BRAND"></td>
							<td class="mfb-xxs text-center" translate="TXT_INVENTORY"></td>
							<td class="mfb-xxt text-center" translate="TXT_FINAL_PRICE"></td>
							<td class="mfb-xxt text-center" translate="TXT_SIZE_CHART"></td>
							<td class="mfb-xxs text-left" translate="TXT_BASE_PROPERTY"></td>
							<td class="mfb-xxt text-center" translate="TXT_SKU_COUNT"></td>
							<td class="mfb-xxt text-left" translate="TXT_TIME"></td>
						</tr>
						</thead>
					</table>
					<div class="col-sm-12 dropdown_table dropdown_table_main" if-no-rows="vm.productList.length">
						<table class="table table-hover vo_table vo_models" ng-if="vm.productList.length">
							<tbody ng-repeat="productInfo in vm.productList">
								<tr class="table_bg_gray">
									<td colspan="6" class="control-label text-left form-inline">
										<label class="checkbox-inline c-checkbox">
											<input ng-model="vm.productSelList.selFlag[productInfo.id]" type="checkbox" ng-controller="selectRowsCtrl" ng-click="selectOne(productInfo.id, vm.productSelList)">
											<span class="fa fa-check"></span>
										</label>
										<span class="label m-r-lg m-l" ng-class="{'label-yellow-new': productInfo.statusType == '1','label-info': productInfo.statusType == '2', 'label-primary': productInfo.statusType == '3', 'label-danger-new': productInfo.statusType == '4', 'label-success-new': productInfo.statusType == '0'}">
											&nbsp;{{productInfo.status}}&nbsp;
										</span>
										<span class="m-r-lg">{{'TXT_PRODUCT_CODE' | translate}}&nbsp;
											<a ng-href="{{productInfo.platformPath}}" target="_blank" class="text-u-l" ng-bind="productInfo.code"></a>
										</span>&nbsp;
										<span>{{'TXT_PRODUCT_NAME' | translate}}&nbsp;
											<a href="#/product/list/{{productInfo.id}}" target="_blank" class="text-u-l" ng-bind="productInfo.name"></a>
										</span>
									</td>
									<td colspan="2" class="text-right">{{'TXT_CATEGORY' | translate}}&nbsp;{{productInfo.categoryPath}}</td>
								</tr>
								<tr>
									<td class="mfb-xxt">
										<img ng-src="{{productInfo.imagePath}}" alt="Nike Air Max Tailwind 7" class="img-circle pull-left m-r"/>
									</td>
									<td class="mfb-xxt text-center">{{productInfo.brand}}</td>
									<td class="mfb-xxs text-center">
										<button ng-controller="showPopoverCtrl" popover-html="showInfo({{productInfo.inventoryDetail}})" popover-title="{{'TXT_INVENTORY' | translate}}" type="button" popover-placement="left" class="btn btn-default btn-xs">{{productInfo.inventory}}</button>
									</td>
									<td class="mfb-xxt text-center">
										<button ng-controller="showPopoverCtrl" popover-html="showInfo({{productInfo.priceDetail}})" popover-title="{{'TXT_FINAL_PRICE' | translate}}" type="button" popover-placement="left" class="btn btn-default btn-xs">{{productInfo.finalPrice}}</button>
									</td>
									<td class="mfb-xxt text-center">{{productInfo.sizeChart}}</td>
									<td class="mfb-xxs text-left">
										<div class="table_main">
											<ul>
												<li ng-repeat="baseProperty in productInfo.basePropertyList">{{baseProperty.name}}&nbsp;{{baseProperty.value}}</li>
											</ul>
										</div>
									</td>
									<td class="mfb-xxt text-center">{{productInfo.skuCount}}</td>
									<td class="mfb-xxt text-left">
										<small ng-controller="showPopoverCtrl" popover-html="showInfo({{productInfo.timeInfo}})" popover-trigger="mouseenter" popover-placement="left">
											<div class="table_main">
												<ul>
													<li>{{'TXT_PUBLISH_TIME' | translate}}</li>
													<li><span>{{productInfo.publishDate}}</span></li>
													<li><span>{{productInfo.publishTime}}</span></li>
												</ul>
											</div>
										</small>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-sm-12 m-t-sm">
						<vpagination config="vm.productPageOption"></vpagination>
					</div>
				</div><!-- .table-responsive -->
			</tab>
		</tabset><!-- tabset -->
	</div><!-- tabs ng-controller -->
</div><!-- .col-lg-12 -->