<div class="wrapper-md">
	<div class="row">
		<div class="col-lg-12">
			<div ng-controller="TabsDemoCtrl">
				<tabset class="tab-container vo_nav-tabs">
					<tab>
						<tab-heading><i class="glyphicons glyphicons-more-items"></i> Product详情</tab-heading>
						<div class="panel vo_panel tab_panel">
							<div class="row wrapper">
								<div class="container-fluid">
									<div class="col-sm-6">
										<form class="form-horizontal">
											<div class="form-group">
												<label class="col-sm-3 control-label">Status</label>
												<div class="col-sm-8">
													<input type="text" class="form-control inherited"  placeholder="Pedding" disabled>
												</div>
											</div><!-- .form-group -->
											<div class="form-group">
												<label class="col-sm-3 control-label">Product ID</label>
												<div class="col-sm-4">
													<input type="text" class="form-control inherited" placeholder="123456789-123-111" disabled>
												</div>
												<div class="col-sm-2 control-label"><label class="">Next Status?</label></div>
												<div class="col-sm-2">
													<div class="onoffswitch">
														<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch2" checked>
														<label class="onoffswitch-label" for="myonoffswitch2">
															<span class="onoffswitch-inner"></span>
															<span class="onoffswitch-switch"></span>
														</label>
													</div><!-- onoff switch -->
												</div>
											</div><!-- .form-group -->
											<div class="form-group">
												<label class="col-sm-3 control-label">Product Name</label>
												<div class="col-sm-8">
													<input type="text" class="form-control inherited" placeholder="Product Name" disabled>
												</div>
												<div class="col-sm-1">
													<span class="vo_save_state saved"><i class="glyphicons glyphicons-ok-2"></i></span>
												</div>
											</div><!-- .form-group -->

											<div class="form-group">
												<label for="input-id-2" class="col-sm-3 control-label">Overseas Official URL</label>
												<div class="col-sm-8">
													<a href="#">
														http://s7d5.scene7.com/is/image/sneakerhead/BHFO-20150730-x790-600x?$790x600$&$790_600$&$product=riq9cAkAMDJmPHFIMpKuSAsdmBITmE9h-25
													</a>
												</div>
												<div class="col-sm-1">
													<span class="vo_save_state saved"><i class="glyphicons glyphicons-ok-2"></i></span>
												</div>
											</div><!-- .form-group -->

											<div class="form-group">
												<label for="input-id-2" class="col-sm-3 control-label">MSRP</label>
												<div class="col-sm-8 form-inline">
													<div class="input-group">
														<input type="text" class="form-control inherited" placeholder="53482" ng-model="g.c" ng-pattern="/^[0-9]+$/">
														<span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
													</div>
													<div class="input-group">
														<input type="text" class="form-control inherited" placeholder="2946" ng-model="g.c" ng-pattern="/^[0-9]+$/">
														<span class="input-group-addon"><i class="glyphicon glyphicon-yen"></i></span>
													</div>
												</div>
												<div class="col-sm-1">
													<span class="vo_save_state saved"><i class="glyphicons glyphicons-ok-2"></i></span>
												</div>
											</div><!-- .form-group -->

											<div class="form-group">
												<label for="input-id-2" class="col-sm-3 control-label">官方售价（吊牌价）</label>
												<div class="col-sm-8 form-inline">
													<div class="input-group">
														<input type="text" class="form-control inherited" placeholder="53482" ng-model="g.c" ng-pattern="/^[0-9]+$/">
														<span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
													</div>
													<div class="input-group">
														<input type="text" class="form-control inherited" placeholder="2946" ng-model="g.c" ng-pattern="/^[0-9]+$/">
														<span class="input-group-addon"><i class="glyphicon glyphicon-yen"></i></span>
													</div>
												</div>
												<div class="col-sm-1">
													<span class="vo_save_state saved"><i class="glyphicons glyphicons-ok-2"></i></span>
												</div>
											</div><!-- .form-group -->

											<div class="form-group">
												<label for="input-id-2" class="col-sm-3 control-label vo_reqfield">Category</label>
												<div class="col-sm-8">
													<a href="#" class="form-control">
														珠宝/钻石/翡翠/黄金>彩色宝石/贵重宝石>手饰
													</a>
												</div>
												<div class="col-sm-1">
													<span class="vo_save_state saved"><i class="glyphicons glyphicons-ok-2"></i></span>
												</div>
											</div><!-- .form-group -->

											<div class="form-group">
												<label for="input-id-3" class="col-sm-3 control-label vo_reqfield">Brand</label>
												<div class="col-sm-8">
													<input type="text" class="form-control inherited" placeholder="Brand" disabled>
												</div>
												<div class="col-sm-1">
													<span class="vo_save_state notsaved"><i class="glyphicons glyphicons-remove-2"></i></span>
												</div>
											</div><!-- .form-group -->
											<div class="form-group">
												<label for="input-id-4" class="col-sm-3 control-label vo_reqfield">Size Type</label>
												<div class="col-sm-8">
													<input type="text" class="form-control inherited" placeholder="Size Type" disabled>
												</div>
												<div class="col-sm-1">
													<span class="vo_save_state saved"><i class="glyphicons glyphicons-ok-2"></i></span>
												</div>
											</div><!-- .form-group -->
											<div class="form-group">
												<label for="input-id-2" class="col-sm-3 control-label vo_reqfield">Size Chart</label>
												<div class="col-sm-8">
													<input type="text" class="form-control inherited" placeholder="Size Chart" disabled>
												</div>
												<div class="col-sm-1">
													<span class="vo_save_state notsaved"><i class="glyphicons glyphicons-remove-2"></i></span>
												</div>
											</div><!-- .form-group -->
											<div class="form-group">
												<label for="input-id-2" class="col-sm-3 control-label vo_reqfield">Material</label>
												<div class="col-sm-8 form-inline">
													<div class="input-group col-sm-3"><input type="text" class="form-control inherited" placeholder="5395" disabled></div>
													<div class="input-group col-sm-3"><input type="text" class="form-control inherited" placeholder="7623" disabled></div>
													<div class="input-group col-sm-5"><input type="text" class="form-control inherited" placeholder="4963" disabled></div>
												</div>
												<div class="col-sm-1">
													<span class="vo_save_state saved"><i class="glyphicons glyphicons-ok-2"></i></span>
												</div>
											</div><!-- .form-group -->
											<div class="form-group">
												<label for="input-id-2" class="col-sm-3 control-label vo_reqfield">Origin</label>
												<div class="col-sm-8">
													<input type="text" class="form-control inherited" placeholder="Origin" disabled>
												</div>
												<div class="col-sm-1">
													<span class="vo_save_state notsaved"><i class="glyphicons glyphicons-remove-2"></i></span>
												</div>
											</div><!-- .form-group -->
											<div class="form-group">
												<label for="input-id-2" class="col-sm-3 control-label vo_reqfield">Main Color</label>
												<div class="col-sm-8">
													<input type="text" class="form-control inherited" placeholder="Main Color" disabled>
												</div>
												<div class="col-sm-1">
													<span class="vo_save_state saved"><i class="glyphicons glyphicons-ok-2"></i></span>
												</div>
											</div><!-- .form-group -->
											<div class="form-group">
												<label class="col-sm-3 control-label vo_reqfield">Color</label>
												<div class="col-sm-8">
													<input type="text" class="form-control inherited" placeholder="Color" disabled>
												</div>
												<div class="col-sm-1">
													<span class="vo_save_state notsaved"></span>
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-3 control-label">Abstract</label>
												<div class="col-sm-8">
													<input type="text" class="form-control inherited" placeholder="Abstract" disabled>
												</div>
												<div class="col-sm-1">
													<span class="vo_save_state notsaved"></span>
												</div>
											</div>
											<div class="form-group">
												<label for="input-textarea-1" class="col-sm-3 control-label">Short Description</label>
												<div class="col-sm-8">
													<textarea class="form-control no-resize" rows="3" id="input-textarea-1" disabled></textarea>
												</div>
												<div class="col-sm-1">
													<span class="vo_save_state"><i class="glyphicons glyphicons-remove-2"></i></span>
												</div>
											</div><!-- .form-group -->

											<div class="form-group">
												<label for="input-textarea-1" class="col-sm-3 control-label">Long Description</label>
												<div class="col-sm-8">
													<textarea class="form-control no-resize" rows="3" id="input-textarea-1" disabled></textarea>
												</div>
												<div class="col-sm-1">
													<span class="vo_save_state"><i class="glyphicons glyphicons-remove-2"></i></span>
												</div>
											</div><!-- .form-group -->

										</form><!-- .form -->
									</div><!--.col -->
									<div class="col-sm-6">
										<form class="form-horizontal">
											<div class="form-group mar-top">
												<label class="col-sm-3 control-label">URL Key</label>
												<div class="col-sm-5">
													<input type="text" class="form-control" placeholder="bracelets-bangles-no-stone-smg0469s75" disabled>
												</div>
												<div class="col-sm-4 form-inline control-label">
													<button type="submit" class="btn btn-success btn-xs"><i class="fa fa-edit"></i> 编辑Promotion</button>
													<button type="submit" class="btn btn-default btn-xs">历史Promotion</button>
												</div>
											</div><!-- .form-group -->

											<div class="form-group">
												<label for="input-id-2" class="col-sm-3 control-label vo_reqfield">产品名称</label>
												<div class="col-sm-8">
													<input type="text" class="form-control inherited" id="input-id-2">
												</div>
												<div class="col-sm-1">
													<span class="vo_save_state saved"><i class="glyphicons glyphicons-ok-2"></i></span>
												</div>
											</div><!-- .form-group -->

											<div class="form-group">
												<label class="col-sm-3 control-label">是否新品</label>
												<div class="col-sm-1">
													<div class="onoffswitch">
														<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch1" checked>
														<label class="onoffswitch-label" for="myonoffswitch1">
															<span class="onoffswitch-inner"></span>
															<span class="onoffswitch-switch"></span>
														</label>
													</div><!-- onoff switch -->
												</div>
												<div class="col-sm-3 control-label"><label class="">是否Reward Eligible ?</label></div>
												<div class="col-sm-1">
													<div class="onoffswitch">
														<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch3" checked>
														<label class="onoffswitch-label" for="myonoffswitch3">
															<span class="onoffswitch-inner"></span>
															<span class="onoffswitch-switch"></span>
														</label>
													</div><!-- onoff switch -->
												</div>
												<div class="col-sm-2 control-label"><label class="">Next Status?</label></div>
												<div class="col-sm-2">
													<div class="onoffswitch">
														<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch4" checked>
														<label class="onoffswitch-label" for="myonoffswitch4">
															<span class="onoffswitch-inner"></span>
															<span class="onoffswitch-switch"></span>
														</label>
													</div><!-- onoff switch -->
												</div>
											</div><!-- .form-group -->

											<div class="form-group">
												<label class="col-sm-3 control-label">当前售价</label>
												<div class="col-sm-9 form-inline">
													<div class="input-group">
														<input type="text" class="form-control" ng-model="g.c" ng-pattern="/^[0-9]+$/">
														<span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
													</div>
													<div class="input-group">
														<input type="text" class="form-control" ng-model="g.c" ng-pattern="/^[0-9]+$/">
														<span class="input-group-addon"><i class="glyphicon glyphicon-yen"></i></span>
													</div>
													<p class="input-group btn-img-txt"><a href="#">历史售价</a></p>
												</div>
											</div><!-- .form-group -->

											<div class="form-group">
												<label for="input-id-2" class="col-sm-3 control-label vo_reqfield">中国最终售价</label>
												<div class="col-sm-8 form-inline">
													<div class="input-group">
														<input type="text" class="form-control" ng-model="g.c" ng-pattern="/^[0-9]+$/">
														<span class="input-group-addon"><i class="glyphicon glyphicon-yen"></i></span>
													</div>
													<div class="input-group">
														<input type="text" class="form-control" ng-model="g.c" ng-pattern="/^[0-9]+$/">
														<span class="input-group-addon">% Off</span>
													</div>
												</div>
												<div class="col-sm-1">
													<span class="vo_save_state saved"><i class="glyphicons glyphicons-ok-2"></i></span>
												</div>
											</div><!-- .form-group -->

											<div class="form-group">
												<label for="input-id-2" class="col-sm-3 control-label vo_reqfield">类目</label>
												<div class="col-sm-8">
													<a href="#" class="form-control">
														珠宝/钻石/翡翠/黄金>彩色宝石/贵重宝石>手饰
													</a>
												</div>
												<div class="col-sm-1">
													<span class="vo_save_state saved"><i class="glyphicons glyphicons-ok-2"></i></span>
												</div>
											</div><!-- .form-group -->

											<div class="form-group">
												<label for="input-id-2" class="col-sm-3 control-label vo_reqfield">Brand</label>
												<div class="col-sm-8">
													<input type="text" class="form-control inherited">
												</div>
												<div class="col-sm-1">
													<span class="vo_save_state notsaved"><i class="glyphicons glyphicons-remove-2"></i></span>
												</div>
											</div><!-- .form-group -->
											<div class="form-group">
												<label for="input-id-2" class="col-sm-3 control-label vo_reqfield">Size Type</label>
												<div class="col-sm-8">
													<input type="text" class="form-control inherited">
												</div>
												<div class="col-sm-1">
													<span class="vo_save_state saved"><i class="glyphicons glyphicons-ok-2"></i></span>
												</div>
											</div><!-- .form-group -->
											<div class="form-group">
												<label for="input-id-2" class="col-sm-3 control-label vo_reqfield">Size Chart</label>
												<div class="col-sm-8">
													<input type="text" class="form-control inherited">
												</div>
												<div class="col-sm-1">
													<span class="vo_save_state notsaved"><i class="glyphicons glyphicons-remove-2"></i></span>
												</div>
											</div><!-- .form-group -->
											<div class="form-group">
												<label for="input-id-2" class="col-sm-3 control-label vo_reqfield">材质</label>
												<div class="col-sm-8 form-inline">
													<div class="input-group col-sm-3"><input type="text" class="form-control"></div>
													<div class="input-group col-sm-3"><input type="text" class="form-control"></div>
													<div class="input-group col-sm-5"><input type="text" class="form-control"></div>
												</div>
												<div class="col-sm-1">
													<span class="vo_save_state saved"><i class="glyphicons glyphicons-ok-2"></i></span>
												</div>
											</div><!-- .form-group -->
											<div class="form-group">
												<label for="input-id-2" class="col-sm-3 control-label vo_reqfield">产地</label>
												<div class="col-sm-8">
													<input type="text" class="form-control inherited">
												</div>
												<div class="col-sm-1">
													<span class="vo_save_state notsaved"><i class="glyphicons glyphicons-remove-2"></i></span>
												</div>
											</div><!-- .form-group -->
											<div class="form-group">
												<label for="input-id-2" class="col-sm-3 control-label vo_reqfield">主颜色</label>
												<div class="col-sm-8">
													<input type="text" class="form-control inherited">
												</div>
												<div class="col-sm-1">
													<span class="vo_save_state saved"><i class="glyphicons glyphicons-ok-2"></i></span>
												</div>
											</div><!-- .form-group -->
											<div class="form-group">
												<label class="col-sm-3 control-label vo_reqfield">颜色</label>
												<div class="col-sm-8">
													<input type="text" class="form-control">
												</div>
												<div class="col-sm-1">
													<span class="vo_save_state notsaved"></span>
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-3 control-label">摘要</label>
												<div class="col-sm-8">
													<input type="text" class="form-control">
												</div>
												<div class="col-sm-1">
													<span class="vo_save_state notsaved"></span>
												</div>
											</div>
											<div class="form-group">
												<label for="input-textarea-1" class="col-sm-3 control-label">简短描述</label>
												<div class="col-sm-8">
													<textarea class="form-control no-resize" rows="3"></textarea>
												</div>
												<div class="col-sm-1">
													<span class="vo_save_state"><i class="glyphicons glyphicons-remove-2"></i></span>
												</div>
											</div><!-- .form-group -->

											<div class="form-group">
												<label for="input-textarea-1" class="col-sm-3 control-label">详情描述</label>
												<div class="col-sm-8">
													<textarea class="form-control no-resize" rows="3"></textarea>
												</div>
												<div class="col-sm-1">
													<span class="vo_save_state"><i class="glyphicons glyphicons-remove-2"></i></span>
												</div>
											</div><!-- .form-group -->
										</form><!-- .form -->
									</div><!-- .col -->
										<section id="two">
											<div class="col-sm-12 form-inline">
												<article class="col-sm-2">
													<a href="img/fulls/01.jpg" class="image fit thumb"><img src="img/fulls/01.jpg" alt="" /></a>
												</article>
												<article class="col-sm-2">
													<a href="img/fulls/02.jpg" class="image fit thumb"><img src="img/fulls/02.jpg" alt="" /></a>
												</article>
												<article class="work-item col-sm-2">
													<a href="img/fulls/03.jpg" class="image fit thumb"><img src="img/fulls/03.jpg" alt="" /></a>
												</article>
												<article class="work-item col-sm-2">
													<a href="img/fulls/04.jpg" class="image fit thumb"><img src="img/fulls/04.jpg" alt="" /></a>
												</article>
												<article class="work-item col-sm-2">
													<a href="img/fulls/05.jpg" class="image fit thumb"><img src="img/fulls/05.jpg" alt="" /></a>
												</article>
												<article class="work-item col-sm-2">
													<a href="img/fulls/05.jpg" class="image fit thumb"><img src="img/fulls/05.jpg" alt="" /></a>
												</article>
											</div>
										</section>
									</div>
							</div><!-- .row wrapper -->
						</div>
						<div class="panel vo_panel tab_panel">
							<div class="table-responsive">
								<table class="table table-striped b-t b-light vo_table vo_models">
									<thead>
									<tr><th style="width:20px;">Seq.</th>
										<th>Live</th>
										<th>SKU</th>
										<th>UPC</th>
										<th>Barcode</th>
										<th>Category</th>
										<th>Brand</th>
										<th>size Type</th>
										<th>Material</th>
										<th>Origin</th>
										<th>Size</th>
										<th>Size Chart</th>
										<th>Inventory</th>
										<th>Price</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>1</td>
										<td><input type="checkbox" name="optionsRadios" value="option1" checked></td>
										<td class="wtab-xs">LDB01-249</td>
										<td>Cristina Sabatini Sanremo Earrings with Cubic Zirconia in 18K Pink Gold over Sterling Silver</td>
										<td>珠宝/钻石/翡翠/黄金>彩色宝石/贵重宝石>手饰</td>
										<td>克里斯蒂娜*萨巴蒂尼*圣雷莫 18K玫瑰金镀纯银镶立方锆石耳饰</td>
										<td>JEWELRY</td>
										<td>Women</td>
										<td>玫瑰金</td>
										<td>美国</td>
										<td ng-controller="PopoverDemoCtrl"><small popover="Blue / Red" popover-trigger="mouseenter" popover-placement="right" class="label label-danger">2 |  Red</small></td>
										<td ng-controller="PopoverDemoCtrl"><small popover="XS / S / M " popover-trigger="mouseenter" popover-placement="right" class="label label-danger">3 | XS</small></td>
										<td><span class="label label-danger"> 520</span></td>
										<td class="wtab-xs"><input type="text" class="form-control"></td>
									</tr>
									<tr>
										<td>2</td>
										<td><input type="checkbox" name="optionsRadios" value="option1" checked></td>
										<td class="wtab-xs">LDB01-249</td>
										<td>Cristina Sabatini Sanremo Earrings with Cubic Zirconia in 18K Pink Gold over Sterling Silver</td>
										<td>珠宝/钻石/翡翠/黄金>彩色宝石/贵重宝石>手饰/红色女款饰品</td>
										<td>10K黄金镶1.2克拉石榴石耳钉时尚魅力红色女款饰品</td>
										<td>JEWELRY</td>
										<td>Women</td>
										<td>K黄金镶嵌宝石</td>
										<td>美国</td>
										<td ng-controller="PopoverDemoCtrl"><small popover="Blue / Red / Two-Tone " popover-trigger="mouseenter" popover-placement="right" class="label label-danger">3 |  Blue</small></td>
										<td ng-controller="PopoverDemoCtrl"><small popover="SM " popover-trigger="mouseenter" popover-placement="right" class="label label-danger">1 | SM</small></td>
										<td><span class="label label-danger"> 520</span></td>
										<td class="wtab-xs"><input type="text" class="form-control"></td>
									</tr>
									<tr>
										<td>1</td>
										<td><input type="checkbox" name="optionsRadios" value="option1" checked></td>
										<td class="wtab-xs">LDB01-249</td>
										<td>Cristina Sabatini Sanremo Earrings with Cubic Zirconia in 18K Pink Gold over Sterling Silver</td>
										<td>珠宝/钻石/翡翠/黄金>彩色宝石/贵重宝石>手饰</td>
										<td>克里斯蒂娜*萨巴蒂尼*圣雷莫 18K玫瑰金镀纯银镶立方锆石耳饰</td>
										<td>JEWELRY</td>
										<td>Women</td>
										<td>玫瑰金</td>
										<td>美国</td>
										<td ng-controller="PopoverDemoCtrl"><small popover="Blue / Red" popover-trigger="mouseenter" popover-placement="right" class="label label-danger">2 |  Red</small></td>
										<td ng-controller="PopoverDemoCtrl"><small popover="XS / S / M " popover-trigger="mouseenter" popover-placement="right" class="label label-danger">3 | XS</small></td>
										<td><span class="label label-danger"> 520</span></td>
										<td class="wtab-xs"><input type="text" class="form-control"></td>
									</tr>
									<tr>
										<td>2</td>
										<td><input type="checkbox" name="optionsRadios" value="option1" checked></td>
										<td class="wtab-xs">LDB01-249</td>
										<td>Cristina Sabatini Sanremo Earrings with Cubic Zirconia in 18K Pink Gold over Sterling Silver</td>
										<td>珠宝/钻石/翡翠/黄金>彩色宝石/贵重宝石>手饰/红色女款饰品</td>
										<td>10K黄金镶1.2克拉石榴石耳钉时尚魅力红色女款饰品</td>
										<td>JEWELRY</td>
										<td>Women</td>
										<td>K黄金镶嵌宝石</td>
										<td>美国</td>
										<td ng-controller="PopoverDemoCtrl"><small popover="Blue / Red / Two-Tone " popover-trigger="mouseenter" popover-placement="right" class="label label-danger">3 |  Blue</small></td>
										<td ng-controller="PopoverDemoCtrl"><small popover="SM " popover-trigger="mouseenter" popover-placement="right" class="label label-danger">1 | SM</small></td>
										<td><span class="label label-danger"> 520</span></td>
										<td class="wtab-xs"><input type="text" class="form-control"></td>
									</tr>
									<tr>
										<td>1</td>
										<td><input type="checkbox" name="optionsRadios" value="option1" checked></td>
										<td class="wtab-xs">LDB01-249</td>
										<td>Cristina Sabatini Sanremo Earrings with Cubic Zirconia in 18K Pink Gold over Sterling Silver</td>
										<td>珠宝/钻石/翡翠/黄金>彩色宝石/贵重宝石>手饰</td>
										<td>克里斯蒂娜*萨巴蒂尼*圣雷莫 18K玫瑰金镀纯银镶立方锆石耳饰</td>
										<td>JEWELRY</td>
										<td>Women</td>
										<td>玫瑰金</td>
										<td>美国</td>
										<td ng-controller="PopoverDemoCtrl"><small popover="Blue / Red" popover-trigger="mouseenter" popover-placement="right" class="label label-danger">2 |  Red</small></td>
										<td ng-controller="PopoverDemoCtrl"><small popover="XS / S / M " popover-trigger="mouseenter" popover-placement="right" class="label label-danger">3 | XS</small></td>
										<td><span class="label label-danger"> 520</span></td>
										<td class="wtab-xs"><input type="text" class="form-control"></td>
									</tr>
									<tr>
										<td>2</td>
										<td><input type="checkbox" name="optionsRadios" value="option1"></td>
										<td class="wtab-xs">LDB01-249</td>
										<td>Cristina Sabatini Sanremo Earrings with Cubic Zirconia in 18K Pink Gold over Sterling Silver</td>
										<td>珠宝/钻石/翡翠/黄金>彩色宝石/贵重宝石>手饰/红色女款饰品</td>
										<td>10K黄金镶1.2克拉石榴石耳钉时尚魅力红色女款饰品</td>
										<td>JEWELRY</td>
										<td>Women</td>
										<td>K黄金镶嵌宝石</td>
										<td>美国</td>
										<td ng-controller="PopoverDemoCtrl"><small popover="Blue / Red / Two-Tone " popover-trigger="mouseenter" popover-placement="right" class="label label-danger">3 |  Blue</small></td>
										<td ng-controller="PopoverDemoCtrl"><small popover="SM " popover-trigger="mouseenter" popover-placement="right" class="label label-danger">1 | SM</small></td>
										<td><span class="label label-danger"> 520</span></td>
										<td class="wtab-xs"><input type="text" class="form-control"></td>
									</tr>

									</tbody>
								</table>
							</div><!-- .table-responsive -->

							<footer class="panel-footer">
								<div class="row">
									<div class="col-sm-4 hidden-xs">

									</div>
									<div class="col-sm-4 text-center">
										<small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
									</div>
									<div class="col-sm-4 text-right text-center-xs">
										<div ng-controller="PaginationDemoCtrl">
											<pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm m-t-none m-b" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
										</div>
									</div>
								</div>
							</footer> <!-- .panel-footer -->
						</div> <!-- .panel -->
                       <div class="row text-center">
						<div class="col-sm-12">
							<div class="form-inline">
								<button type="submit" class="btn btn-vo">Save</button>
								<button type="submit" class="btn btn-default">Cancel</button>
							</div><!-- .form-inline -->
						</div>
						</div>

					</tab>

					<tab>
						<tab-heading><i class="glyphicons glyphicons-sort"></i> Product 自定义</tab-heading>
						<!-- Products table and controls -->
						<div class="panel vo_panel tab_panel">
							<div class="row wrapper">
								<div class="container-fluid">
						         <div class="col-sm-6">
							    <form class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-3 control-label">Status</label>
									<div class="col-sm-8">
										<input type="text" class="form-control"  placeholder="Pedding" disabled>
									</div>
								</div><!-- .form-group -->
								<div class="form-group">
									<label class="col-sm-3 control-label">Product ID</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" placeholder="123456789-123-111" disabled>
									</div>
									<div class="col-sm-2 control-label"><label class="">Next Status?</label></div>
									<div class="col-sm-2">
										<div class="onoffswitch">
											<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch1" checked>
											<label class="onoffswitch-label" for="myonoffswitch1">
												<span class="onoffswitch-inner"></span>
												<span class="onoffswitch-switch"></span>
											</label>
										</div><!-- onoff switch -->
									</div>
								</div><!-- .form-group -->

								<div class="form-group">
									<label for="input-id-2" class="col-sm-3 control-label">Color</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="input-id-2" placeholder="Color" disabled>
									</div>
									<div class="col-sm-1">
										<label class="i-checks-sm m-b-none"><input type="checkbox"></label>
									</div>
								</div><!-- .form-group -->
								<div class="form-group">
									<label for="input-id-3" class="col-sm-3 control-label">Bullet Point 1</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="input-id-3" placeholder="Bullet Point 1" disabled>
									</div>
									<div class="col-sm-1">
										<label class="i-checks-sm m-b-none"><input type="checkbox"></label>
									</div>
								</div><!-- .form-group -->
								<div class="form-group">
									<label for="input-id-4" class="col-sm-3 control-label">Metal Stamp</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="input-id-4" placeholder="Metal Stamp" disabled>
									</div>
									<div class="col-sm-1">
										<label class="i-checks-sm m-b-none"><input type="checkbox"></label>
									</div>
								</div><!-- .form-group -->
								<div class="form-group">
									<label for="input-id-5" class="col-sm-3 control-label">Shape Cut</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="input-id-5" placeholder="Shape Cut" disabled>
									</div>
									<div class="col-sm-1">
										<label class="i-checks-sm m-b-none"><input type="checkbox"></label>
									</div>
								</div><!-- .form-group -->
								<div class="form-group">
									<label for="input-id-6" class="col-sm-3 control-label">Bullet Point 2</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="input-id-6" placeholder="Bullet Point 2" disabled>
									</div>
									<div class="col-sm-1">
										<label class="i-checks-sm m-b-none"><input type="checkbox"></label>
									</div>
								</div><!-- .form-group -->
								<div class="form-group">
									<label for="input-id-7" class="col-sm-3 control-label">Stone Setting</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="input-id-7" placeholder="Stone Setting" disabled>
									</div>
									<div class="col-sm-1">
										<label class="i-checks-sm m-b-none"><input type="checkbox"></label>
									</div>
								</div><!-- .form-group -->
								<div class="form-group">
									<label for="input-id-8" class="col-sm-3 control-label">Style</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="input-id-8" placeholder="Style" disabled>
									</div>
									<div class="col-sm-1">
										<label class="i-checks-sm m-b-none"><input type="checkbox"></label>
									</div>
								</div><!-- .form-group -->
								<div class="form-group">
									<label for="input-id-9" class="col-sm-3 control-label">Gem Creation Manua</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="input-id-9" placeholder="Gem Creation Manua" disabled>
									</div>
									<div class="col-sm-1">
										<label class="i-checks-sm m-b-none"><input type="checkbox"></label>
									</div>
								</div>
								<div class="form-group">
									<label for="input-id-10" class="col-sm-3 control-label">Bullet Point 3</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="input-id-10" placeholder="Bullet Point 3" disabled>
									</div>
									<div class="col-sm-1">
										<label class="i-checks-sm m-b-none"><input type="checkbox"></label>
									</div>
								</div>
								<div class="form-group">
									<label for="input-id-11" class="col-sm-3 control-label">Merchant Category</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="input-id-11" placeholder="Merchant Category" disabled>
									</div>
									<div class="col-sm-1">
										<label class="i-checks-sm m-b-none"><input type="checkbox"></label>
									</div>
								</div>

								<div class="form-group">
									<label for="input-id-12" class="col-sm-3 control-label">Auction Title</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="input-id-12" placeholder="Auction Title" disabled>
									</div>
									<div class="col-sm-1">
										<label class="i-checks-sm m-b-none"><input type="checkbox"></label>
									</div>
								</div>

								<div class="form-group">
									<label for="input-id-13" class="col-sm-3 control-label">Age Group</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="input-id-13" placeholder="Age Group" disabled>
									</div>
									<div class="col-sm-1">
										<label class="i-checks-sm m-b-none"><input type="checkbox"></label>
									</div>
								</div>

								<div class="form-group">
									<label for="input-id-14" class="col-sm-3 control-label">MetalColor</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="input-id-14" placeholder="MetalColor" disabled>
									</div>
									<div class="col-sm-1">
										<label class="i-checks-sm m-b-none"><input type="checkbox"></label>
									</div>
								</div>

								<div class="form-group">
									<label for="input-id-15" class="col-sm-3 control-label">MetalType</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="input-id-15" placeholder="MetalType" disabled>
									</div>
									<div class="col-sm-1">
										<label class="i-checks-sm m-b-none"><input type="checkbox"></label>
									</div>
								</div>

								<div class="form-group">
									<label for="input-id-16" class="col-sm-3 control-label">Stone</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="input-id-16" placeholder="Stone" disabled>
									</div>
									<div class="col-sm-1">
										<label class="i-checks-sm m-b-none"><input type="checkbox"></label>
									</div>
								</div>

								<div class="form-group">
									<label for="input-id-17" class="col-sm-3 control-label">Stone Length</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="input-id-17" placeholder="Stone Length" disabled>
									</div>
									<div class="col-sm-1">
										<label class="i-checks-sm m-b-none"><input type="checkbox"></label>
									</div>
								</div>

							</form><!-- .form -->
						</div><!--.col -->
						<div class="col-sm-6">
							<form class="form-horizontal">
								<div class="form-group mar-top">
									<label class="col-sm-3 control-label">URL Key</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" placeholder="bracelets-bangles-no-stone-smg0469s75" disabled>
									</div>
								</div><!-- .form-group -->

								<div class="form-group">
									<label for="input-id-18" class="col-sm-3 control-label">颜色</label>
									<div class="col-sm-8">
										<input type="text" class="form-control inherited" id="input-id-18">
									</div>
									<div class="col-sm-1">
										<span class="vo_save_state saved"><i class="glyphicons glyphicons-ok-2"></i></span>
									</div>
								</div><!-- .form-group -->
								<div class="form-group">
									<label for="input-id-19" class="col-sm-3 control-label">标签1</label>
									<div class="col-sm-8">
										<input type="text" class="form-control inherited" id="input-id-19">
									</div>
									<div class="col-sm-1">
										<span class="vo_save_state notsaved"><i class="glyphicons glyphicons-remove-2"></i></span>
									</div>
								</div><!-- .form-group -->
								<div class="form-group">
									<label for="input-id-20" class="col-sm-3 control-label">金属纯度</label>
									<div class="col-sm-8">
										<input type="text" class="form-control inherited" id="input-id-20">
									</div>
									<div class="col-sm-1">
										<span class="vo_save_state saved"><i class="glyphicons glyphicons-ok-2"></i></span>
									</div>
								</div><!-- .form-group -->
								<div class="form-group">
									<label for="input-id-21" class="col-sm-3 control-label">切割</label>
									<div class="col-sm-8">
										<input type="text" class="form-control inherited" id="input-id-21">
									</div>
									<div class="col-sm-1">
										<span class="vo_save_state notsaved"><i class="glyphicons glyphicons-remove-2"></i></span>
									</div>
								</div><!-- .form-group -->
								<div class="form-group">
									<label for="input-id-22" class="col-sm-3 control-label">标签2</label>
									<div class="col-sm-8">
										<input type="text" class="form-control inherited" id="input-id-22">
									</div>
									<div class="col-sm-1">
										<span class="vo_save_state saved"><i class="glyphicons glyphicons-ok-2"></i></span>
									</div>
								</div><!-- .form-group -->
								<div class="form-group">
									<label for="input-id-23" class="col-sm-3 control-label">宝石属性</label>
									<div class="col-sm-8">
										<input type="text" class="form-control inherited" id="input-id-23">
									</div>
									<div class="col-sm-1">
										<span class="vo_save_state notsaved"><i class="glyphicons glyphicons-remove-2"></i></span>
									</div>
								</div><!-- .form-group -->
								<div class="form-group">
									<label for="input-id-24" class="col-sm-3 control-label">品类</label>
									<div class="col-sm-8">
										<input type="text" class="form-control inherited" id="input-id-24">
									</div>
									<div class="col-sm-1">
										<span class="vo_save_state saved"><i class="glyphicons glyphicons-ok-2"></i></span>
									</div>
								</div><!-- .form-group -->
								<div class="form-group">
									<label for="input-id-25" class="col-sm-3 control-label">宝石商</label>
									<div class="col-sm-8">
										<input type="text" class="form-control inherited" id="input-id-25">
									</div>
									<div class="col-sm-1">
										<span class="vo_save_state notsaved"><i class="glyphicons glyphicons-remove-2"></i></span>
									</div>
								</div>
								<div class="form-group">
									<label for="input-id-26" class="col-sm-3 control-label">标签3</label>
									<div class="col-sm-8">
										<input type="text" class="form-control inherited" id="input-id-26">
									</div>
									<div class="col-sm-1">
										<span class="vo_save_state saved"><i class="glyphicons glyphicons-ok-2"></i></span>
									</div>
								</div>
								<div class="form-group">
									<label for="input-id-27" class="col-sm-3 control-label">商务类别</label>
									<div class="col-sm-8">
										<input type="text" class="form-control inherited" id="input-id-27">
									</div>
									<div class="col-sm-1">
										<span class="vo_save_state notsaved"><i class="glyphicons glyphicons-remove-2"></i></span>
									</div>
								</div><div class="form-group">
								<label for="input-id-28" class="col-sm-3 control-label">标题</label>
								<div class="col-sm-8">
									<input type="text" class="form-control inherited" id="input-id-28">
								</div>
								<div class="col-sm-1">
									<span class="vo_save_state saved"><i class="glyphicons glyphicons-ok-2"></i></span>
								</div>
							</div><div class="form-group">
								<label for="input-id-29" class="col-sm-3 control-label">年龄层</label>
								<div class="col-sm-8">
									<input type="text" class="form-control inherited" id="input-id-29">
								</div>
								<div class="col-sm-1">
									<span class="vo_save_state notsaved"><i class="glyphicons glyphicons-remove-2"></i></span>
								</div>
							</div><div class="form-group">
								<label for="input-id-30" class="col-sm-3 control-label">金属颜色</label>
								<div class="col-sm-8">
									<input type="text" class="form-control inherited" id="input-id-30">
								</div>
								<div class="col-sm-1">
									<span class="vo_save_state saved"><i class="glyphicons glyphicons-ok-2"></i></span>
								</div>
							</div><div class="form-group">
								<label for="input-id-31" class="col-sm-3 control-label">金属类别</label>
								<div class="col-sm-8">
									<input type="text" class="form-control inherited" id="input-id-31">
								</div>
								<div class="col-sm-1">
									<span class="vo_save_state notsaved"><i class="glyphicons glyphicons-remove-2"></i></span>
								</div>
							</div><div class="form-group">
								<label for="input-id-32" class="col-sm-3 control-label">宝石</label>
								<div class="col-sm-8">
									<input type="text" class="form-control inherited" id="input-id-32">
								</div>
								<div class="col-sm-1">
									<span class="vo_save_state saved"><i class="glyphicons glyphicons-ok-2"></i></span>
								</div>
							</div><div class="form-group">
								<label for="input-id-33" class="col-sm-3 control-label">宝石长度</label>
								<div class="col-sm-8">
									<input type="text" class="form-control inherited" id="input-id-33">
								</div>
								<div class="col-sm-1">
									<span class="vo_save_state notsaved"><i class="glyphicons glyphicons-remove-2"></i></span>
								</div>
							</div>
							</form><!-- .form -->
						</div><!-- .col -->
                      </div>
					 </div>
						</div>
						<div class="row text-center">
							<div class="col-sm-12">
								<div class="form-inline">
									<button type="submit" class="btn btn-vo">Save</button>
									<button type="submit" class="btn btn-default">Cancel</button>
								</div><!-- .form-inline -->
							</div>
						</div>
					</tab>
				</tabset><!-- tabset -->

			</div><!-- tabs ng-controller -->
		</div><!-- .col-lg-12 -->
	</div><!-- .row -->
</div><!-- end .wrapper-md -->








