<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.common.sql">

    <!-- 批量插入授权类目表查询若干条任务-->
    <select id="cms_select_sx_workload" resultType="com.voyageone.cms.service.model.CmsBtSxWorkloadModel">
        SELECT
            seq as seq,
            channel_id as channelId,
            group_id as groupId,
            publish_status as publishStatus,
            creater,
            created,
            modifier,
            modified
        FROM voyageone_cms2.cms_bt_sx_workload
        WHERE
            publish_status=0
        <if test="channel_id != null">
        AND
            channel_id=#{channel_id}
        </if>
            order by modified desc
            limit 0,#{record_count}
    </select>

    <update id="cms_update_sx_workload">
        UPDATE
            voyageone_cms2.cms_bt_sx_workload
        SET
            publish_status=#{publish_status}
        WHERE
            seq=#{seq}
    </update>
</mapper>
