<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.common.sql">

    <select id="tm_code_getAll" resultType="com.voyageone.common.configs.beans.CodeBean">
        SELECT * FROM Synship.tm_code ORDER BY id
    </select>

    <select id="cms_mt_feed_config_getAll" resultType="com.voyageone.common.configs.beans.FeedBean">
        SELECT * FROM voyageone_vms.vms_mt_feed_config ORDER BY order_channel_id, cfg_name, cfg_val1
    </select>

    <select id="tm_order_channel_config_getAll" resultType="com.voyageone.common.configs.beans.OrderChannelConfigBean">
        SELECT * FROM Synship.tm_order_channel_config ORDER BY order_channel_id, cfg_name, cfg_val1
    </select>

    <select id="tm_port_config_getAll" resultType="com.voyageone.common.configs.beans.PortConfigBean">
        SELECT * FROM Synship.tm_port_config ORDER BY port, cfg_name, cfg_val1
    </select>

    <select id="tm_order_channel_getAll" resultType="com.voyageone.common.configs.beans.OrderChannelBean">
        SELECT * FROM Synship.tm_order_channel ORDER BY order_channel_id
    </select>

    <select id="tm_order_channel_getList" resultType="com.voyageone.common.configs.beans.OrderChannelBean">
        SELECT * FROM Synship.tm_order_channel
        where 1=1
        <if test="order_channel_id !=null">
            and order_channel_id = #{order_channel_id}
        </if>
        <if test="name !=null">
            and name = #{name}
        </if>
        <if test="is_usjoi !=null">
            and is_usjoi = #{is_usjoi}
        </if>
        <if test="active !=null">
            and active = #{active}
        </if>
        ORDER BY order_channel_id
    </select>

    <select id="viw_com_cart_shop_channel_mapping_getAll" resultType="com.voyageone.common.configs.beans.ShopBean">
        SELECT
          *
        FROM
          Synship.viw_com_cart_shop_channel_mapping
      </select>

    <select id="tm_channel_shop_config_getAll" resultType="com.voyageone.common.configs.beans.ShopConfigBean">
        select * from Synship.tm_channel_shop_config order by order_channel_id,cart_id,cfg_name,cfg_val1
    </select>

    <select id="com_mt_value_getAll" resultType="com.voyageone.common.configs.beans.TypeBean">
        SELECT
          mt_value.id value_id,
          mt_value.type_id,
          mt_type.name as type_code,
          mt_value.value,
          mt_value.name,
          mt_value.add_name1,
          mt_value.add_name2,
          mt_value.lang_id,
          mt_type.comment
        FROM
          Synship.com_mt_value mt_value,
          Synship.com_mt_type mt_type
        WHERE
          mt_value.type_id = mt_type.id
         ORDER BY
          mt_value.type_id,
          mt_value.id
    </select>

    <select id="com_mt_value_channel_getAll" resultType="com.voyageone.common.configs.beans.TypeChannelBean">
        SELECT
        mt_value.id,
        mt_value.channel_id,
        mt_value.type_id,
        mt_type.name as type_code,
        mt_value.value,
        mt_value.name,
        mt_value.add_name1,
        mt_value.add_name2,
        mt_value.lang_id,
        mt_type.comment,
        mt_value.display_order,
        case when mt_type.id = 53 then ct_cart.cart_type else null end as cartType
        FROM
        Synship.com_mt_value_channel mt_value
        inner join Synship.com_mt_type mt_type on mt_value.type_id = mt_type.id
        left join synship.ct_cart ct_cart on mt_value.value = ct_cart.cart_id and mt_value.type_id = 53
        ORDER BY
        mt_value.type_id,
        mt_value.display_order,
        mt_value.value
    </select>

    <select id="tm_discount_rate_getDiscountRate" resultType="com.voyageone.common.configs.beans.DiscountRateBean">
        select * from Synship.tm_discount_rate order by order_channel_id,ship_channel
    </select>

    <select id="wms_mt_store_getAll" resultType="com.voyageone.common.configs.beans.StoreBean">
        select
            *
        from
            Synship.wms_mt_store
        WHERE
            active = '1'
        order by
            order_channel_id,store_id
    </select>

    <select id="ct_cart_getAll" resultType="com.voyageone.common.configs.beans.CartBean">
        select
            cart_id,
            name,
            short_name,
            description,
            platform_id,
            cart_type,
            active
        from Synship.ct_cart
        order by cart_id
    </select>

    <select id="ct_cart_getList" resultType="com.voyageone.common.configs.beans.CartBean">
        select
        cart_id,
        name,
        short_name,
        description,
        platform_id,
        cart_type,
        active,
        created
        from Synship.ct_cart
        where 1=1
        <if test="cart_id !=null">
            and cart_id = #{cart_id}
        </if>
        <if test="name !=null">
            and name like '%${name}%'
        </if>
        <if test="short_name !=null">
            and short_name = #{short_name}
        </if>
        <if test="description !=null">
            and description = #{description}
        </if>
        <if test="platform_id !=null">
            and platform_id = #{platform_id}
        </if>
        <if test="cart_type !=null">
            and cart_type = #{cart_type}
        </if>
        <if test="active !=null">
            and active = #{active}
        </if>
        order by created desc
    </select>

    <select id="com_mt_third_party_config_getAll" resultType="com.voyageone.common.configs.beans.ThirdPartyConfigBean">
        select
            seq,
            channel_id,
            prop_name,
            prop_val1,
            prop_val2,
            prop_val3,
            prop_val4,
            prop_val5,
            prop_val6
        from Synship.com_mt_third_party_config
        order by channel_id,prop_name
    </select>

    <select id="ct_store_config_getAll" resultType="com.voyageone.common.configs.beans.StoreConfigBean">
        SELECT * FROM Synship.ct_store_config ORDER BY store_id, cfg_name, cfg_val1
    </select>

    <select id="tm_carrier_channel_getAll" resultType="com.voyageone.common.configs.beans.CarrierBean">
        select
            tm_carrier_channel.order_channel_id    order_channel_id
            , tm_carrier_channel.carrier             carrier
            , tm_carrier.api_url                     api_url
            , tm_carrier_channel.api_key             api_key
            , tm_carrier_channel.api_user            api_user
            , tm_carrier_channel.api_pwd             api_pwd
            , tm_carrier_channel.card_number         card_number
            , tm_carrier_channel.cusite              cusite
            , tm_carrier_channel.cusname             cusname
            , tm_carrier_channel.customer            customer
            , tm_carrier.alias_name                  alias_name
            , tm_carrier_channel.wsdl_url            wsdl_url
            , tm_carrier_channel.comments            comments
        from     Synship.tm_carrier
        join     Synship.tm_carrier_channel
        on     tm_carrier.carrier = tm_carrier_channel.carrier
        order by tm_carrier_channel.order_channel_id
                  , tm_carrier_channel.carrier
    </select>

    <resultMap type="com.voyageone.common.configs.beans.ImsCategoryBean" id="ImsCategoryMap">
		<id property="categoryId" column="category_id"/>
		<result property="parentCid" column="parent_cid"/>
		<result property="isParent" column="is_parent"/>
		<result property="categoryName" column="category_name"/>
		<result property="categoryPath" column="category_path"/>
		<result property="sortOrder" column="sort_order"/>
	</resultMap>

    <select id="ims_categories_getAll" resultMap="ImsCategoryMap">
        SELECT category_id,
        	   parent_cid,
        	   is_parent,
        	   category_name,
        	   category_path,
        	   sort_order
          FROM voyageone_ims.ims_mt_categories
    </select>

    <insert id="ct_cart_insertOrUpdate" parameterType="com.voyageone.common.configs.beans.CartBean">
        INSERT INTO Synship.ct_cart (cart_id, name, short_name, description, platform_id, cart_type, created,modified, creater)
        VALUES (#{cart_id}, #{name}, #{short_name}, #{description}, #{platform_id}, #{cart_type}, now(),now(),#{modifier})
        on duplicate key update name=#{name},short_name=#{short_name},description=#{description},platform_id=#{platform_id},cart_type=#{cart_type},
         modified=now(),modifier=#{modifier}
    </insert>

     <insert id="ct_cart_insert" parameterType="com.voyageone.common.configs.beans.CartBean">
        INSERT INTO Synship.ct_cart (cart_id, name, short_name, description, platform_id, cart_type, created,modified, creater, active)
        VALUES (#{cart_id}, #{name}, #{short_name}, #{description}, #{platform_id}, #{cart_type}, now(),now(),#{modifier}, 1)
    </insert>

    <insert id="ct_cart_Update" parameterType="com.voyageone.common.configs.beans.CartBean">
        UPDATE Synship.ct_cart set name = #{name}, short_name = #{short_name}, description = #{description},
        platform_id = #{platform_id}, cart_type = #{cart_type}, active = #{active}, modified = now(), modifier = #{modifier}
        WHERE cart_id = #{cart_id}
    </insert>

    <update id="ct_cart_delete" parameterType="map" >
      update Synship.ct_cart set active=0 and modifier=#{modifier} and modified=now() where cart_id=#{cart_id}
    </update>


    <select id="tm_platform_getAll" resultType="com.voyageone.common.configs.beans.PlatformBean" >
        select * from Synship.tm_platform
    </select>

    <select id="ct_company_getAllActives" resultType="com.voyageone.common.configs.beans.CompanyBean" >
        select * from Synship.ct_company where active=1
    </select>


     <update id="tm_order_channel_update" parameterType="com.voyageone.common.configs.beans.OrderChannelBean" >
        update Synship.tm_order_channel
         <set>
             <if test="company_id!=null and company_id!=''">company_id=#{company_id},</if>
             <if test="name!=null and name!=''">company_id=#{company_id},</if>
             <if test="full_name!=null and full_name!=''">full_name=#{full_name},</if>
             <if test="send_name!=null and send_name!=''">send_name=#{send_name},</if>
             <if test="send_address!=null and send_address!=''">send_address=#{send_address},</if>
             <if test="send_tel!=null and send_tel!=''">send_tel=#{send_tel},</if>
             <if test="send_zip!=null and send_zip!=''">send_zip=#{send_zip},</if>
             <if test="screct_key!=null and screct_key!=''">screct_key=#{screct_key},</if>
             <if test="session_key!=null and session_key!=''">session_key=#{session_key},</if>
             <if test="img_url!=null and img_url!=''">img_url=#{img_url},</if>
             <if test="is_usjoi!=null and is_usjoi!=''">is_usjoi=#{is_usjoi},</if>
             <if test="cart_ids!=null and cart_ids!=''">cart_ids=#{cart_ids},</if>
             <if test="modifier!=null and modifier!=''">modifier=#{modifier},</if>
             <if test="active!=null and active!=''">active=#{active},</if>
             modified=now()
         </set>
        where order_channel_id=#{order_channel_id}
    </update>

    <insert id="tm_order_channel_insert" parameterType="com.voyageone.common.configs.beans.OrderChannelBean">
        insert into Synship.tm_order_channel(order_channel_id, company_id, name, full_name, img_url, send_name, send_address, send_tel,
         send_zip, screct_key, session_key, is_usjoi, cart_ids, created, creater, modified, modifier, active)
        VALUES (#{order_channel_id},#{company_id},#{name},#{full_name},#{img_url},#{send_name},#{send_address},#{send_tel},#{send_zip},
        #{screct_key}, #{session_key}, #{is_usjoi}, #{cart_ids}, now(), #{creater}, null, null, 1)
    </insert>

</mapper>
