<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.common.sql">

    <select id="tm_code_getAll" resultType="com.voyageone.common.configs.beans.CodeBean">
        SELECT * FROM tm_code ORDER BY id
    </select>

    <select id="cms_mt_feed_config_getAll" resultType="com.voyageone.common.configs.beans.FeedBean">
        SELECT * FROM voyageone_cms2.cms_mt_feed_config ORDER BY order_channel_id, cfg_name, cfg_val1
    </select>

    <select id="tm_order_channel_config_getAll" resultType="com.voyageone.common.configs.beans.OrderChannelConfigBean">
        SELECT * FROM tm_order_channel_config ORDER BY order_channel_id, cfg_name, cfg_val1
    </select>

    <select id="tm_port_config_getAll" resultType="com.voyageone.common.configs.beans.PortConfigBean">
        SELECT * FROM tm_port_config ORDER BY port, cfg_name, cfg_val1
    </select>

    <select id="tm_order_channel_getAll" resultType="com.voyageone.common.configs.beans.OrderChannelBean">
        SELECT * FROM tm_order_channel ORDER BY order_channel_id
    </select>

    <select id="viw_com_cart_shop_channel_mapping_getAll" resultType="com.voyageone.common.configs.beans.ShopBean">
        SELECT
          *
        FROM
          viw_com_cart_shop_channel_mapping
      </select>

    <select id="tm_channel_shop_config_getAll" resultType="com.voyageone.common.configs.beans.ShopConfigBean">
        select * from tm_channel_shop_config order by order_channel_id,cart_id,cfg_name,cfg_val1
    </select>

    <select id="com_mt_value_getAll" resultType="com.voyageone.common.configs.beans.TypeBean">
        SELECT
          mt_value.type_id,
          mt_type.name as type_code,
          mt_value.value,
          mt_value.name,
          mt_value.add_name1,
          mt_value.add_name2,
          mt_value.lang_id,
          mt_type.comment
        FROM
          com_mt_value mt_value,
          com_mt_type mt_type
        WHERE
          mt_value.type_id = mt_type.id
         ORDER BY
          mt_value.type_id,
          mt_value.id
    </select>

    <select id="com_mt_value_channel_getAll" resultType="com.voyageone.common.configs.beans.TypeChannelBean">
        SELECT
        mt_value.id,
        mt_value.channel_id,
        mt_value.type_id,
        mt_type.name as type_code,
        mt_value.value,
        mt_value.name,
        mt_value.add_name1,
        mt_value.add_name2,
        mt_value.lang_id,
        mt_type.comment,
        mt_value.display_order
        FROM
        com_mt_value_channel mt_value,
        com_mt_type mt_type
        WHERE
        mt_value.type_id = mt_type.id
        ORDER BY
        mt_value.type_id,
        mt_value.display_order,
        mt_value.value
    </select>

    <select id="tm_discount_rate_getDiscountRate" resultType="com.voyageone.common.configs.beans.DiscountRateBean">
        select * from tm_discount_rate order by order_channel_id,ship_channel
    </select>

    <select id="wms_mt_store_getAll" resultType="com.voyageone.common.configs.beans.StoreBean">
        select
            *
        from
            wms_mt_store
        WHERE
            active = '1'
        order by
            order_channel_id,store_id
    </select>

    <select id="ct_cart_getAll" resultType="com.voyageone.common.configs.beans.CartBean">
        select
            cart_id,
            name,
            short_name,
            description,
            platform_id,
            cart_type
        from
            ct_cart
        WHERE
            active = '1'
        order by
            cart_id
    </select>

    <select id="com_mt_third_party_config_getAll" resultType="com.voyageone.common.configs.beans.ThirdPartyConfigBean">
        select
            seq,
            channel_id,
            prop_name,
            prop_val1,
            prop_val2,
            prop_val3,
            prop_val4,
            prop_val5,
            prop_val6
        from com_mt_third_party_config
        order by channel_id,prop_name
    </select>

    <select id="ct_store_config_getAll" resultType="com.voyageone.common.configs.beans.StoreConfigBean">
        SELECT * FROM ct_store_config ORDER BY store_id, cfg_name, cfg_val1
    </select>

    <select id="tm_carrier_channel_getAll" resultType="com.voyageone.common.configs.beans.CarrierBean">
        select
            tm_carrier_channel.order_channel_id    order_channel_id
            , tm_carrier_channel.carrier             carrier
            , tm_carrier.api_url                     api_url
            , tm_carrier_channel.api_key             api_key
            , tm_carrier_channel.api_user            api_user
            , tm_carrier_channel.api_pwd             api_pwd
            , tm_carrier_channel.card_number         card_number
            , tm_carrier_channel.cusite              cusite
            , tm_carrier_channel.cusname             cusname
            , tm_carrier_channel.customer            customer
            , tm_carrier.alias_name                  alias_name
            , tm_carrier_channel.wsdl_url            wsdl_url
            , tm_carrier_channel.comments            comments
        from     tm_carrier
        join     tm_carrier_channel
        on     tm_carrier.carrier = tm_carrier_channel.carrier
        order by tm_carrier_channel.order_channel_id
                  , tm_carrier_channel.carrier
    </select>

    <resultMap type="com.voyageone.common.configs.beans.ImsCategoryBean" id="ImsCategoryMap">
		<id property="categoryId" column="category_id"/>
		<result property="parentCid" column="parent_cid"/>
		<result property="isParent" column="is_parent"/>
		<result property="categoryName" column="category_name"/>
		<result property="categoryPath" column="category_path"/>
		<result property="sortOrder" column="sort_order"/>
	</resultMap>

    <select id="ims_categories_getAll" resultMap="ImsCategoryMap">
        SELECT category_id,
        	   parent_cid,
        	   is_parent,
        	   category_name,
        	   category_path,
        	   sort_order
          FROM voyageone_ims.ims_mt_categories
    </select>

    <select id="tm_cart_getByIds" resultType="com.voyageone.common.configs.beans.CartBean" >
        select * from Synship.ct_cart
        <if test="list!=null and list.size()>0">
             where cart_id in <foreach collection="list" item="id" separator="," open="(" close=")">#{id}</foreach>
        </if>
    </select>

    <insert id="tm_cart_insertOrUpdate" parameterType="com.voyageone.common.configs.beans.CartBean">
        INSERT INTO ct_cart (cart_id, name, short_name, description, platform_id, cart_type, created,modified, creater, status)
        VALUES (#{cart_id}, #{name}, #{short_name}, #{description}, #{platform_id}, #{cart_type}, now(),now(),#{modifier}, 1)
        on duplicate key update name=#{name},short_name=#{short_name},description=#{description},platform_id=#{platform_id},cart_type=#{cart_type},
         modified=now(),modifier=#{modifier}
    </insert>

     <insert id="tm_cart_insert" parameterType="com.voyageone.common.configs.beans.CartBean">
        INSERT INTO ct_cart (cart_id, name, short_name, description, platform_id, cart_type, created,modified, creater, status)
        VALUES (#{cart_id}, #{name}, #{short_name}, #{description}, #{platform_id}, #{cart_type}, now(),now(),#{modifier}, 1)
    </insert>

    <update id="tm_cart_delete" parameterType="map" >
      update Synship.ct_cart set status=0 and modifier=#{modifier} and modified=now() where cart_id=#{cart_id}
    </update>


    <select id="tm_platform_getAll" resultType="com.voyageone.common.configs.beans.PlatformBean" >
        select * from Synship.tm_platform
    </select>


     <update id="tm_order_channel_update" parameterType="com.voyageone.common.configs.beans.OrderChannelBean" >
        update Synship.tm_order_channel
         <set>
             <if test="is_usjoi!=null">
                 is_usjoi=#{is_usjoi},
             </if>
             <if test="modifier!=null and modifier!=''">
                 modifier=#{modifier},
             </if>
              <if test="cart_ids!=null and cart_ids!=''">
                 cart_ids=#{cart_ids},
             </if>
         </set>
        where order_channel_id=#{order_channel_id}
    </update>
</mapper>
