<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.synship.sql">

    <insert id="wms_insertProduct">
        insert into
            voyageone_ims.ims_bt_product
            (
                channel_id,
                cart_id,
                code,
                num_iid,
                product_code,
                main_product_flg,
                product_type,
                publish_status,
                created,
                creater,
                modified,
                modifier
            )
            VALUES
            (
                #{channel_id},
                #{cart_id},
                #{code},
                #{num_iid},
                #{product_code},
                #{main_product_flg},
                #{product_type},
                '1',
                #{created},
                #{creater},
                #{modified},
                #{modifier}
            )
            on duplicate key update
                num_iid = #{num_iid},
                product_code = #{product_code},
                main_product_flg = #{main_product_flg},
                product_type = #{product_type},
                publish_status = '1'
    </insert>


</mapper>