@charset "UTF-8";
@import url("../fonts/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900");

body{
	background: #222 url("../img/map-image.png") no-repeat top center;
	color: #7c8081;
	font-family: 'Lato', sans-serif;
	font-size: 15pt;
	font-weight: 300;
	letter-spacing: 0.025em;
	line-height: 1.75em;
}
a {
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	color: #3fb1a3;
	text-decoration: none;
	border-bottom: dotted 1px;
}

a:hover {
	border-bottom-color: transparent;
}

h1{
	color: inherit;
	font-weight: 300;
	line-height: 1.75em;
	margin-bottom: 1em;
	text-transform: uppercase;
}

h1 a{
	color: inherit;
	text-decoration: none;
	border: 0;
}
h1{text-align:center;margin-top:80px}

blockquote {
	border-left: solid 0.5em rgba(124, 128, 129, 0.2);
	font-style: italic;
	padding: 1em 0 1em 2em;
}

section.special, article.special {
	text-align: center;
}

header.major {
	padding-bottom: 2em;
}

header.special {
	margin-bottom: 5em;
	padding-top: 7em;
	position: relative;
	text-align: center;
}

header.special:before, header.special:after {
	border-bottom: solid 2px;
	border-top: solid 2px;
	content: '';
	height: 7px;
	opacity: 0.1;
	position: absolute;
	top: 1.75em;
	width: 43%;
}

header.special:before {
	left: 0;
}

header.special:after {
	right: 0;
}

header.special h2 {
	margin-bottom: 0;
}

header.special h2 + p {
	margin-bottom: 0;
	padding-top: 1.5em;
}

header.special .icon {
	cursor: default;
	height: 7em;
	left: 0;
	position: absolute;
	text-align: center;
	top: 1em;
	width: 100%;
}

header.special .icon:before {
	font-size: 3.5em;
	opacity: 0.35;
}

footer > :last-child {
	margin-bottom: 0;
}

footer.major {
	padding-top: 3em;
}

/* Button */

.button {
	background: none;
	border: solid 1px;
	color: inherit;
	display: inline-block;
	font-size: 0.8em;
	font-weight: 900;
	letter-spacing: 2px;
	min-width: 3.5em;
	padding: 0;
	margin:0 0.2em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: .1em;
	-webkit-border-radius: 0.1em;
	-o-border-radius: 0.1em;
	-moz-border-radius: 0.1em;
}

.button:hover {
	background: #61a2cd;
	border: 1px solid #61a2cd;
}

.button.special{
	background: #61a2cd;
	border-color: #61a2cd;

	border-radius: .1em;
	-webkit-border-radius: 0.1em;
	-o-border-radius: 0.1em;
	-moz-border-radius: 0.1em;
	color: white !important;
}

.button.special:hover {
	background: #e67e22 !important;
	border-color: #e67e22 !important;
}


.logins {
	background: #61a2cd;
	border-color: #61a2cd;
	padding:0 12px 0 12px;
	border-radius: .1em;
	-webkit-border-radius: 0.1em;
	-o-border-radius: 0.1em;
	-moz-border-radius: 0.1em;
	color: #fff !important;
	text-decoration: none;
}

.logins:hover {
	padding:0 12px 0 12px;
	background: #e67e22 !important;
	border-color: #e67e22 !important;
	text-decoration: none;
}

.logins:link, .logins:visited, .logins:active {
	text-decoration: none;
}

/* Header */
@-moz-keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }
@-webkit-keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }
@-o-keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }
@-ms-keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }
@keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }

#header {
	background: white;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
	color: inherit;
	cursor: default;
	font-size: 0.8em;
	left: 0;
	padding: 1em 1.5em;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
}

#header h1 {
	font-weight: 900;
	margin: 0;
}

#header h1 span {
	font-weight: 300;
}

#header div {
	letter-spacing: 0.075em;
	position: absolute;
	right: 1.5em;
	text-transform: uppercase;
	top: 0.75em;
}

#header div > ul > li {
	display: inline-block;
	margin-left: 1.5em;
}

/*#header div ul li > ul {*/
	/*display: none;*/
/*}*/

#header div > ul > li > a {
	border: solid 1px transparent;
	color: inherit;
	display: inline-block;
	/*padding: 0em 0.75em;*/
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
	font-weight: 900;
	border-radius: .1em;
	-webkit-border-radius: 0.1em;
	-o-border-radius: 0.1em;
	-moz-border-radius: 0.1em;
}

#header div ul li .button {
	/*font-size: 1em;*/
	min-width: 0;
	width: auto;
}

#header div ul li.submenu > a:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
}

#header div ul li.submenu > a:before {
	content: '\f107';
	margin-right: 0.65em;
}

#header div ul li.open > a {
	/*-moz-transition: all 0.2s ease-in-out;*/
	/*-webkit-transition: all 0.2s ease-in-out;*/
	/*-o-transition: all 0.2s ease-in-out;*/
	/*-ms-transition: all 0.2s ease-in-out;*/
	/*transition: all 0.2s ease-in-out;*/
	background: rgba(106, 177, 225, 1);
}

#header div ul li:hover > a {
	  /*-moz-transition: all 0.2s ease-in-out;*/
	  /*-webkit-transition: all 0.2s ease-in-out;*/
	  /*-o-transition: all 0.2s ease-in-out;*/
	  /*-ms-transition: all 0.2s ease-in-out;*/
	  /*transition: all 0.2s ease-in-out;*/
	  background: rgba(106, 177, 225, 1);
  }

#header div ul li.current > a {
	font-weight: 900;
}

#header.reveal {
	-moz-animation: reveal-header 0.5s;
	-webkit-animation: reveal-header 0.5s;
	-o-animation: reveal-header 0.5s;
	-ms-animation: reveal-header 0.5s;
	animation: reveal-header 0.5s;
}

#header.alt {
	/*-moz-animation: none;*/
	-webkit-animation: none;
	-o-animation: none;
	/*-ms-animation: none;*/
	animation: none;
	background: transparent;
	box-shadow: none;
	color: white;
	padding: 2em 2.5em;
	position: absolute;
}

#header.alt div {
	right: 2.5em;
	top: 1.75em;
}

#header.alt div ul li.active > a, #header.alt div ul li:hover > a {

	border:1px solid #61a2cd;
}

/* Banner */
@-moz-keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }
@-webkit-keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }
@-o-keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }
@-ms-keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }

#banner {
	color: white;
	cursor: default;
	padding: 0;
	text-align: center;
}

#banners {
	color: white;
	cursor: default;
	padding: 0;
	text-align: center;
}

#banner .mainBanner {
	-moz-animation: reveal-banner 1s 0.25s ease-in-out;
	-webkit-animation: reveal-banner 1s 0.25s ease-in-out;
	-o-animation: reveal-banner 1s 0.25s ease-in-out;
	-ms-animation: reveal-banner 1s 0.25s ease-in-out;
	animation: reveal-banner 1s 0.25s ease-in-out;
	-moz-animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	background: rgba(0, 0, 0, 0.4);
	border-radius: .2em;
	-webkit-border-radius: 0.2em;
	-o-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	color: white;
	display: inline-block;
	opacity: 0;
	padding: 2em;
	margin:0 2em 2em 0;
	text-align: center;
}

#banner .mainBanner header {
	display: inline-block;
	margin: 0 0 1em 0;
	padding: 3px 0 3px 0;
}

#banner .mainBanner header h2 {
	border-bottom: solid 1px;
	border-top: solid 1px;
	font-weight: 900;
	letter-spacing: 0.2em;
	margin: 0;
	line-height:2em;
	padding-left:0.05em;
	position: relative;
	text-transform: uppercase;
	width:300px;
	font-size:1.4em;
	letter-spacing: 0.1em;
	color:#6ab1e1;
}

#banner .mainBanner p {
	letter-spacing: 0.1em;
	margin: 0;
	text-transform: uppercase;
}

#banner .mainBanner p img{
	width:300px;
	height:250px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.8);
	padding: 12px;
	margin-bottom:12px;
	background: rgba(255,255,255,0.9);
}

#banner .mainBanner p a {
	color: inherit;
	font-weight: 400;
	text-decoration: none;
}
/*login*/

input[type="text"] {
	width: 40%;
	padding:0.8em;
	color: #3D3E6A;
	font-size: 14px;
	outline: none;
	background: rgba(255, 255, 255, 0.9);
	border: none;
	font-weight: 100;
	margin-bottom: 0em;
	border-radius: .2em;
	-webkit-border-radius: 0.2em;
	-o-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
}
input[type="password"]{
	width: 40%;
	padding: 0.8em;
	color: #3D3E6A;
	font-size: 14px;
	outline: none;
	background: rgba(255, 255, 255, 0.9);
	border: none;
	border-radius: .2em;
	-webkit-border-radius: 0.2em;
	-o-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
}

.mainBanners {
	-moz-animation: reveal-banner 1s 0.25s ease-in-out;
	-webkit-animation: reveal-banner 1s 0.25s ease-in-out;
	-o-animation: reveal-banner 1s 0.25s ease-in-out;
	-ms-animation: reveal-banner 1s 0.25s ease-in-out;
	animation: reveal-banner 1s 0.25s ease-in-out;
	-moz-animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	background: rgba(0, 0, 0, 0.4);
	padding: 2em 2em 2em 2em;
	text-align: center;
	width:800px;
	margin:0 auto;
	border-radius: .1em;
	-webkit-border-radius: 0.1em;
	-o-border-radius: 0.1em;
	-moz-border-radius: 0.1em;
	opacity: 0;
}

.mainBanners input {
	height: 37px;
}

.navbar-nav > li > .dropdown-menu {
	margin-top: 15px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.arrow_box {
	background: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
	line-height: 2.25em;
	min-width: 13em;
	padding: 1em 0;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 400;
	margin-top: 1.5em;
}
.arrow_box:before {
	border-bottom: solid 0.5em #fff;
	border-left: solid 0.5em transparent;
	border-right: solid 0.5em transparent;
	content: '';
	left: 0.75em;
	position: absolute;
	top: -0.45em;
}

.arrow_box.left:after {
	bottom: 100%;
	left: 20%;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	margin-left: -5px;
}
.arrow_box > li {
	border-top: solid 1px rgba(124, 128, 129, 0.2);
}

.arrow_box > li > a {
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
	/*color: inherit;*/
	text-decoration: none;
	padding: 0 1em;
	border: 0;
	color: dimgray;
	/*font-weight: 900;*/
	line-height: 30px;
}

.arrow_box > li:hover > a {
	background: #61a2cd;
	color: white;
}

.arrow_box > li:first-child {
	border-top: 0;
}

.w40p {
	width: 40%;
}
.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.hint{
	/*width:40%;*/
	width:600px;
	padding:0.1em;
	margin: 0 auto 2em;
	text-align: center;
	color:red;
	font-size: 1.0em;
	background: rgba(96, 161, 204, 0.9);
	border-radius: 8em;
	-webkit-border-radius: 8em;
	-o-border-radius: 8em;
	-moz-border-radius: 8em;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset;
	-webkit-text-fill-color: #333;
}
