<div class="aside-wrap" ng-controller="asideCtrl" ng-init="initialize()">

    <div class="navi-wrap" ui-jq="slimScroll" ui-options="{height:'100%', size:'8px'}">

        <div class="form-inline view-main clearfix hidden-xs" ng-if="isCn">
            <div class="hidden-xs btn-group" uib-dropdown>
                <button type="button" class="btn btn-black" style="width:195px" uib-dropdown-toggle>
                    {{'TXT_CATEGORY_VIEWS' | translate}}&nbsp;<span class="caret pull-right m-t-xs"></span>
                </button>

                <ul uib-dropdown-menu style="width:220px" ng-controller="repeatFilter as filter">
                    <li ng-repeat="platformType in menuInfo.platformTypeList | filter:filter.byAddName2">
                        <a href ng-bind="platformType.name" ng-click="selectPlatformType(platformType)"></a>
                    </li>
                </ul>
            </div>
        </div>

        <nav ui-nav class="navi clearfix" ng-include="'views/home/menu/nav_menu.tpl.html'"></nav>

    </div>
</div>