<div ng-controller="breadcrumbsCtrl as breadcrumbs" ng-init="initialize()">
    <ul class="breadcrumb">
        <li><span class="label label-vo" ng-bind="$root.platformType.cTypeId"></span></li>&nbsp;
        <a href="#/home" class="active" ng-if="isCn">
            <i class="fa fa-home"></i> <span translate="TXT_HOME"></span>
        </a>
        <a href="#/usa/home" class="active" ng-if="!isCn">
            <i class="fa fa-home"></i> <span translate="TXT_HOME"></span>
        </a>
        <li class="active"></li>
        <!--<li class="activeTitle">类目管理</li>-->
        <!-- TODO -->
        <!--<li ng-bind="breadcrumbs.navigation.modelName">类目管理</li>-->
        <!--<li ng-bind="braedcrumbs.navigation.categoryPath">-->
        <!---->
        <!--主数据： 珠宝/钻石/翡翠/黄金</li>-->
        <!--<li class="active">彩色宝石/贵重宝石</li>-->
        <!--<p class="pull-right form-inline">-->
            <!--<select class="form-control m-r-xxs" ng-model="breadcrumbs.cid"-->
                    <!--ng-options="category.cid as category.path for category in breadcrumbs.navigation.categoryList">-->
            <!--</select>-->
            <!--<button type="submit" class="btn btn-vo btn-xxs" translate="BTN_GO" ng-click="selectCategory(breadcrumbs.cid)"></button>-->
        <!--</p>-->
    </ul>
</div>