<!-- list -->
<ul class="nav">
    <!-- CMS 类目管理 -->
    <!--<li ng-class="{active:$state.includes('ims.inventory''ims.new_inventory')}"> TODO 暂时做不了-->
    <li ng-if="!$root.isTranslator">
        <a class="auto" ui-sref="cms.category">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
            <i class="glyphicon glyphicon-th-list icon text-vo"></i>
            <span class="" translate="TXT_CATEGORY_MANAGER"></span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href>
                    <span translate="TXT_CATEGORY_MANAGER"></span>
                </a>
            </li>
            <li  ng-repeat="item in menuInfo.categoryTreeList" ng-init="_catPath=item.catPath">
                <a class="auto" ng-if="item.isParent == 1">
                    <span class="pull-right text-muted">
                      <i class="fa fa-fw fa-angle-right text"></i>
                      <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="fa fa-plus icon-small text-vo"></i>
                    <span ng-bind="item.catName"></span>
                </a>
                <a ng-if="item.isParent == 0" ng-click="goSearchPage(item.catPath, _catPath)">
                    <i class="fa fa-minus icon text-vo"></i>
                    <span ng-bind="item.catName"></span>
                </a>
                <ul class="nav nav-sub dk" style="padding-left:10px" ng-if="item.isParent == 1" ng-include="'categoryMenu'" ng-init="categoryMenu = item.children"></ul>
            </li>
        </ul>
    </li>
    <!-- Promotion管理 -->
    <li  ng-if="!$root.isTranslator">
        <a class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="glyphicon glyphicon-star icon text-vo"></i>
            <span class="" translate="TXT_PROMOTION_MANAGER"></span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a>
                    <span translate="TXT_PROMOTION_MANAGER"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href="#/promotion/index">
                    <i class="glyphicon glyphicon-minus icon text-vo"></i>
                    <span TRANSLATE="TXT_PROMOTION_LIST"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href="#/promotion/task">
                    <i class="glyphicon glyphicon-minus icon text-vo"></i>
                    <span translate="TXT_TASK_LIST"></span>
                </a>
            </li>
        </ul>
    </li>

    <!-- 高级检索 -->
    <li  ng-if="!$root.isTranslator">
        <a class="auto">
        <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
        </span>
            <i class="glyphicon glyphicon-search icon text-vo"></i>
            <span class="" translate="TXT_SEARCH"></span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a>
                    <span translate="TXT_SEARCH"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href="#/search/advance">
                    <i class="glyphicon glyphicon-minus icon text-vo"></i>
                    <span translate="TXT_ADVANCE_SEARCH"></span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="menuInfo.isminimall==0">
                <a href="#/search/feedsearch">
                    <i class="glyphicon glyphicon-minus icon text-vo"></i>
                    <span>Feed检索</span>
                </a>
            </li>
        </ul>
    </li>
    <!-- 设定 -->
    <li  ng-if="!$root.isTranslator">
        <a class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="glyphicon glyphicon-cog icon text-vo"></i>
            <span class="" translate="TXT_MAPPING_SETTING"></span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href>
                    <span translate="TXT_MAPPING_SETTING"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href="#/mapping/feed">
                    <i class="fa fa-minus icon text-vo"></i>
                    <span translate="TXT_FEED_CONNECTION_SETTING"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href="#/mapping/platform">
                    <i class="fa fa-minus icon text-vo"></i>
                    <span translate="TXT_PLATFORM_CONNECTION_SETTING"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href="#/mapping/dictionary">
                    <i class="fa fa-minus icon text-vo"></i>
                    <span translate="TXT_DICTIONARY_INDEX"></span>
                </a>
            </li>
        </ul>
    </li>
    <!-- 翻译 -->
    <li>
        <a class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-mortar-board (alias) icon text-vo"></i>
            <span translate="TXT_TRANSLATION_MANAGER"></span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href>
                    <span translate="TXT_TRANSLATION_MANAGER"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href="#/translation/index">
                    <i class="fa fa-minus icon text-vo"></i>
                    <span translate="TXT_TRANSLATION_INDEX"></span>
                </a>
            </li>
        </ul>
    </li>
    <!-- 店铺管理 -->
    <li ng-if="!$root.isTranslator">
        <a class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-bank icon text-vo"></i>
            <span translate="TXT_CHANNEL_MANAGER"></span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href>
                    <span translate="TXT_CHANNEL_MANAGER"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href="#/channel/custom/0">
                    <i class="fa fa-minus icon text-vo"></i>
                    <span translate="TXT_CUSTOM_ATTRIBUTE_MANAGER"></span>
                </a>
            </li>
            <!--<li ui-sref-active="active">-->
                <!--<a href="#/channel/feedImportRule/feedImportRuleList">-->
                    <!--<i class="glyphicon glyphicon-minus icon text-vo"></i>-->
                    <!--<span translate="TXT_FEED_IMPORT_RULE"></span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li ui-sref-active="active">-->
                <!--<a href="#/channel/common">-->
                    <!--<i class="fa fa-minus icon text-vo"></i>-->
                    <!--<span translate="TXT_COMMON_ATTRIBUTE_MANAGER"></span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li ui-sref-active="active">-->
                <!--<a href="#/channel/authority">-->
                    <!--<i class="fa fa-minus icon text-vo"></i>-->
                    <!--<span translate="TXT_AUTHORITY_SETTING"></span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li ui-sref-active="active">-->
                <!--<a href="#/channel/configuration">-->
                    <!--<i class="fa fa-minus icon text-vo"></i>-->
                    <!--<span translate="TXT_CONFIGURATION_SETTING"></span>-->
                <!--</a>-->
            <!--</li>-->
        </ul>
    </li>
    <!-- 系统管理 -->
    <li  ng-if="!$root.isTranslator">
        <a class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-cogs icon text-vo"></i>
            <span class="" translate="TXT_SYSTEM_SETTING"></span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href>
                    <span translate="TXT_SYSTEM_SETTING"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href="#/system/category">
                    <i class="fa fa-minus icon text-vo"></i>
                    <span translate="TXT_CATEGORY_INDEX"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href="#/system/error/1">
                    <i class="fa fa-minus icon text-vo"></i>
                    <span translate="TXT_ERROR_MANAGER_MARKETING"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href="#/system/error/2">
                    <i class="fa fa-minus icon text-vo"></i>
                    <span translate="TXT_ERROR_MANAGER_MAINTENANCE"></span>
                </a>
            </li>
            <!--<li ui-sref-active="active">-->
                <!--<a href="#/system/channel/index">-->
                    <!--<i class="fa fa-minus icon text-vo"></i>-->
                    <!--<span translate="TXT_CHANNEL_LIST"></span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li ui-sref-active="active">-->
                <!--<a href="#/system/cart/index">-->
                    <!--<i class="fa fa-minus icon text-vo"></i>-->
                    <!--<span translate="TXT_CART_LIST"></span>-->
                <!--</a>-->
            <!--</li>-->
        </ul>
    </li>
    <!-- 聚美专场管理 -->
    <li>
        <a class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="glyphicon glyphicon-fire icon text-vo"></i>
            <span>聚美专场管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href>
                    <span>聚美专场管理</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href="#/jm/promotion_manage">
                    <i class="fa fa-minus icon text-vo"></i>
                    <span>专场一览</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href="#/jm/image_manage">
                    <i class="fa fa-minus icon text-vo"></i>
                    <span>图片管理</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
<!--end-->

<script id="categoryMenu" type="text/ng-template">
    <li ng-repeat="item in categoryMenu">
        <a class="auto" ng-if="item.isParent == 1">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-plus icon-small text-vo"></i>
            <span ng-bind="item.catName"></span>
        </a>
        <a ng-if="item.isParent == 0" ng-click="goSearchPage(item.catPath,_catPath)">
            <i class="fa fa-minus icon text-vo"></i>
            <span ng-bind="item.catName"></span>
        </a>
        <ul class="nav nav-sub dk" style="padding-left:10px" ng-if="item.isParent == 1" ng-include="'categoryMenu'" ng-init="categoryMenu = item.children"></ul>
    </li>
</script>
