<div class="wrapper-md" ng-init="store.init()">
    <div class="vo_accordion vo_attr">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-reorder"></i>&nbsp;全店操作</h4>
                </div>
            </div>
        </div>
    </div>
    <tabset class="tab-container vo_nav-tabs">
        <tab>
            <tab-heading><i class="glyphicons glyphicons-more-items text-default"></i>&nbsp;操作</tab-heading>
            <div class="box">
                <div class="table-responsive">
                    <div class="col-sm-12" style="padding-left: 0px;" ng-controller="popupCtrl">
                        <div class="col-sm-4 m-t-sm">
                            <div class="col-sm-10 form-group m-b-sm">
                                <div class="col-sm-12">
                                    <button class="col-sm-12 btn btn-default" ng-click="openNewOpp('重新上新所有商品',1)">重新上新所有商品</button>
                                </div>
                                <label class="col-sm-6 control-label m-t-xs">&nbsp;可供上新商品总数：{{!store.uploadCnt ? 0 : store.uploadCnt}}</label>
                            </div>
                            <div class="col-sm-10 form-group m-b-sm">
                                <div class="col-sm-12">
                                    <button class="col-sm-12 btn btn-default" ng-click="openNewOpp('重新导入所有Feed商品（清空共通属性）',2)">重新导入所有Feed商品（清空共通属性）</button>
                                </div>
                                <!--<label class="col-sm-6 control-label m-t-xs">&nbsp;重新导入Feed商品总数：5500</label>-->
                            </div>
                            <div class="col-sm-10 form-group m-b-sm">
                                <div class="col-sm-12">
                                    <button class="col-sm-12 btn btn-default" ng-click="openNewOpp('重新导入所有Feed商品（不清空共通属性）',0)">重新导入所有Feed商品（不清空共通属性）</button>
                                </div>
                                <div class="col-sm-12 text-warnings" style="padding-top: 0px;padding-left: 5px;">
                                    <i class="icon fa fa-bell-o"></i>&nbsp;此按钮会根据最新的Feed类目匹配以及属性匹配，重新生成主类目以及非共通属性。
                                </div>
                            </div>
                            <div class="col-sm-10 form-group m-b-sm">
                                <div class="col-sm-12">
                                    <button class="col-sm-12 btn btn-default" ng-click="openNewOpp('价格同步',3)">价格同步</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">

                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab>
            <!-----------------------------------------tab2 show the control history----------------------------------------------->
            <tab-heading><i class="glyphicons glyphicons-more-items text-default"></i>&nbsp;操作历史</tab-heading>
            <div class="box">
                <div class="container-fluid m-t-xs m-b-xs">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">操作类型</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" ng-model="store.searchInfo.operationType"
                                                ng-options="storeOperationType.value as storeOperationType.name for storeOperationType in store.storeOperationTypeList">
                                            <option value="" translate="TXT_SELECT_NO_VALUE" />
                                            <!--<option value="重新上新所有商品" class="ng-binding">重新上新所有商品</option>-->
                                            <!--<option value="重新导入所有Feed商品(清空共通属性)" class="ng-binding">重新导入所有Feed商品(清空共通属性)</option>-->
                                            <!--<option value="重新导入所有Feed商品(不清空共通属性)" class="ng-binding">重新导入所有Feed商品(不清空共通属性)</option>-->
                                            <!--<option value="价格同步" class="ng-binding">价格同步</option>-->
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">操作者</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" ng-model="store.searchInfo.modifier">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 text-center" ng-controller="popupCtrl">
                            <div class="form-horizontal form-inline">
                                <button class="btn btn-default" ng-click="store.clear()"><i class="fa fa-remove"></i>&nbsp;{{'BTN_CLEAR' | translate}}</button>
                                <button class="btn btn-vo" ng-click="store.search()"><i class="fa fa-search"></i>&nbsp;{{'BTN_SEARCH' | translate}}</button>
                            </div><!-- .form-inline -->
                        </div>
                    </div>
                </div>
                <!-------------------------------------------------- main table datas-------------------------------------------------------->
                <div class="table-responsive box-body">
                    <div class="table-responsive">
                        <div class="col-sm-12 dropdown_table_main">
                            <table class="table table-hover-new vo_table tableWordBreak" style="margin-bottom:0px" ng-controller="popupCtrl">
                                <thead>
                                <tr>
                                    <th class="mfb-xxt text-center">操作类型</th>
                                    <th class="mfb-xxt text-center">操作者</th>
                                    <th class="mfb-xxt text-center">操作时间</th>
                                </tr>
                                </thead>
                            </table>
                            <div if-no-rows="store.storeDataList.length" style="padding-left:0px">
                                <table class="table dropdown_table_main"  width="100%">
                                    <tbody >
                                        <tr ng-repeat="storeData in store.storeDataList">
                                            <td class="mfb-xxt text-center">{{storeData.operationTypeName}}</td>
                                            <td class="mfb-xxt text-center">{{storeData.modifier}}</td>
                                            <td class="mfb-xxt text-center">{{storeData.modified}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                           </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 m-t-lg m-b-lg">
                    <vpagination config="store.storePageOption"></vpagination>
                </div>
            </div>
        </tab>

    </tabset>
</div>