<div class="wrapper-md" ng-init="initialize()">
	<div class="panel panelPromotion">
		<div class="wrapper">
			<div class="container-fluid">
				<div class="col-sm-4">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-4 control-label">Promotion Name</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" ng-model="vm.promotion.promotionName" disabled>
							</div>
						</div>
						<div class="form-group">
							<label  class="col-sm-4 control-label">Promotion Date</label>
							<div class="col-sm-7 form-inline">
								<div class="input-group col-sm-5"><input type="text" class="form-control inherited" ng-model="vm.promotion.activityStart" disabled></div>
								<div class="input-group col-sm-6"><input type="text" class="form-control inherited" ng-model="vm.promotion.activityEnd" disabled></div>
							</div>
						</div><!-- .form-group -->
					</form><!-- .form -->
				</div><!--.col -->
				<!--<div class="col-sm-4">-->
					<!--<form class="form-horizontal">-->
						<!--<div class="form-group">-->
							<!--<label class="col-sm-5 control-label">Promotion专用店铺类目</label>-->
							<!--<div class="col-sm-6">-->
								<!--<select class="form-control m-r-xs">-->
									<!--<option>more than</option>-->
									<!--<option>less than</option>-->
									<!--<option>equal to</option>-->
								<!--</select>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="form-group">-->
							<!--<label  class="col-sm-5 control-label">Promotion Date</label>-->
							<!--<div class="col-sm-6 form-inline">-->
								<!--<div class="input-group col-sm-5"><input type="text" class="form-control inherited" placeholder="2015.11.11" disabled></div>-->
								<!--<div class="input-group col-sm-6"><input type="text" class="form-control inherited" placeholder="2015.12.12" disabled></div>-->
							<!--</div>-->
						<!--</div>&lt;!&ndash; .form-group &ndash;&gt;-->
					<!--</form>&lt;!&ndash; .form &ndash;&gt;-->
				<!--</div>&lt;!&ndash;.col &ndash;&gt;-->
				<div class="col-sm-4">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-3 control-label">活动状态</label>
							<div class="col-sm-8">
								<input ng-show="vm.promotion.promotionStatus==false" value="Open" type="text" class="form-control" placeholder="promotion_approved" disabled>
								<input ng-show="vm.promotion.promotionStatus==true" value="Close" type="text" class="form-control" placeholder="promotion_approved" disabled>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Search</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" ng-model="vm.searchKey" placeholder="" >
							</div>
						</div>
					</form><!-- .form -->
				</div>
				<div class="row text-center">
					<div class="col-sm-12">
						<div class="form-inline">
							<button class="btn btn-vo" ng-click="search()" ><i class="fa fa-search"></i>  Search</button>
							<button class="btn btn-success" ng-click="openpromotion('md')"><i class="fa fa-pencil"></i> 修改Promotion</button>
						</div><!-- .form-inline -->
					</div>
				</div>
			</div><!-- .container-fluid -->
		</div><!-- .row wrapper -->
	</div>
	<div>
		<tabset class="tab-container vo_nav-tabs">
			<!--right-btn-->
			<div class="form-inline m-b-xs pull-right" ng-controller = "popupCtrl">
				<button class="btn btn-success" ng-click="openImport('md',vm.promotionId)"><i class="fa fa-mail-forward"></i> 批量导入</button>
				<button class="btn btn-success"><!--ng-click="openOtherProgress('lg')"--><i class="fa fa-mail-reply"></i> 批量导出</button>
				<!--<button class="btn btn-success"><i class="fa fa-refresh"></i> 全部刷新</button>
				<button class="btn btn-danger"><i class="fa fa-warning"></i> 全部停止</button>-->
				<button class="btn btn-danger"><i class="fa fa-cny"></i><a href="#/promotion/task/price" target="_blank">批量刷价格</a></button>
				<button class="btn btn-danger"><i class="fa fa-trash-o"></i> 全部删除</button>
			</div><!-- /right-btn -->
			<!--tab-->
			<tab>
				<tab-heading ng-click="vm.tabIndex = 0"><i class="glyphicons glyphicons-more-items text-default"></i> Group 一览</tab-heading>
				<div class="table-responsive">
					<table class="table table-hover vo_table vo_models dropdown_table_bk font-bold text-vo">
						<thead>
						<tr>
							<th class="mfb-xxxs">
								<label class="checkbox-inline c-checkbox"><input type="checkbox" value="option5"><span class="fa fa-check"></span> 全选 </label>
								<span class="m-l-xxl">Primary Product</span>
							</th>
							<th class="mfb-xxt text-left">Inventory</th>
							<th class="mfb-xxt text-center">Promotion Price</th>
							<th class="mfb-xxt text-center">MSRP</th>
							<th class="mfb-xxt text-left">折扣</th>
							<th class="mfb-xxt text-left">Base Property</th>
							<th class="mfb-xxt text-left">Time</th>
							<th class="mfb-xxt text-center"></th>
						</tr>
						</thead>
					</table>
					<div class="col-sm-12 dropdown_table dropdown_table_main">
						<table class="table table-hover vo_table vo_models">
						    <tbody ng-repeat="group in vm.groupList">
							<tr class="table_bg_gray">
								<td colspan="4" class="control-label text-left form-inline">
									<label class="checkbox-inline c-checkbox"><input type="checkbox" value="option5"><span class="fa fa-check"></span></label>
									<span class="label label-success-new m-r-lg m-l"> 在售 </span> <span class="m-r-lg">Number IID: <a href="/cms2.0/newcms/angular/index.html#/cms/group" class="text-u-l">{{group.numIid}}</a></span> <span>Group Name:<a href="#/product/list" class="Mtext-u-l">{{group.productModel}}</a></span>
								</td>
								<td colspan="4" class="text-right">{{group.catPath}}</td>
							</tr>
						<tr>
							<td class="mfb-xxxs">
								<img src="http://image.sneakerhead.com/is/image/sneakerhead/{{group.image}}" alt="{{group.productName}}" class="img-circle pull-left m-r"/>
								<div class="table_main pull-left">
									<ul>
										<li class="m-t">{{group.productCode}}</li>
										<li>{{group.productName}}</li>
									</ul>
								</div>
							</td>
							<td class="mfb-xxt text-left">
								<button popover="LDB01-298:20 / LDB01-298: 20 / LDB01-298:20 / LDB01-298: 20" popover-title="Inventory" type="button" popover-placement="left" class="btn btn-default btn-xs">1200</button>
							</td>
							<td class="mfb-xxt text-center">
								<button popover="Sale Price: {{group.salePriceMin != group.salePriceMax?group.salePriceMin +' - '+ group.salePriceMax:group.salePriceMin}}" popover-title="Final Price" type="button" popover-placement="left" class="btn btn-default btn-xs">{{group.promotionPriceMin != group.promotionPriceMax?group.promotionPriceMin +' - '+ group.promotionPriceMax:group.promotionPriceMax}}</button>
							</td>
							<td class="mfb-xxt text-center">
								<button popover="MSRP:300.00" popover-title="MSRP" type="button" popover-placement="left" class="btn btn-default btn-xs">{{group.msrp}}</button>
							</td>
							<td class="mfb-xxt text-left">{{(group.promotionPriceMin/group.salePriceMin*100).toFixed(1)}}折</td>
							<td class="mfb-xxt text-left">
								<div class="table_main">
									<ul>
										<li>Size Type：Women</li>
										<li>Style：欧美</li>
									</ul>
								</div>
							</td>
							<td class="mfb-xxt text-left">
								<small popover-trigger="mouseenter" popover-placement="left">
									<div class="table_main">
										<ul>
											<li>Created Time</li>
											<li><span>{{(group.created).substring(0,10)}}</span></li>
											<li><span>{{(group.created).substring(11,19)}}</span></li>
										</ul>
									</div>
								</small>
							</td>
							<td class="mfb-xxt text-right"><button class="btn btn-danger btn-xs" ng-click="delPromotionModel(group)"><i class="fa fa-trash-o"></i></button></td>
						</tr>
						</tbody>
					</table>
					</div>
					<div class="col-sm-12 m-t-xs">
						<vpagination config="vm.groupPageOption" total="{{vm.groupPageOption.total}}"></vpagination>
					</div>
				</div><!-- .table-responsive -->
			</tab>
			<tab>
				<tab-heading ng-click="vm.tabIndex = 1"><i class="glyphicons glyphicons-sort text-default"></i> Product 一览</tab-heading>
				<!-- Products table and controls -->
				<div class="table-responsive">
					<table class="table table-hover vo_table vo_models dropdown_table_bk font-bold text-vo">
						<thead>
						<tr>
							<td class="mfb-xxt"><label class="checkbox-inline c-checkbox"><input type="checkbox" value="option5"><span class="fa fa-check"></span> 全选 </label></td>
							<td class="mfb-xxt text-center">折扣</td>
							<td class="mfb-xxt text-center">Inventory</td>
							<td class="mfb-xxt text-center">Promotion Price</td>
							<td class="mfb-xxt text-center">MSRP</td>
							<td class="mfb-xxs text-left">Base Property</td>
							<td class="mfb-xxt text-center">SKU数</td>
							<td class="mfb-xxt text-left">Time</td>
							<td class="mfb-xxt text-right"></td>
						</tr>
						</thead>
						</table>
					    <div class="col-sm-12 dropdown_table dropdown_table_main">
						<table class="table table-hover vo_table vo_models">
						    <tbody  ng-repeat="code in vm.codeList">
							<tr class="table_bg_gray">
								<td colspan="5" class="control-label text-left form-inline">
									<label class="checkbox-inline c-checkbox"><input type="checkbox" value="option5"><span class="fa fa-check"></span></label>
									<span class="label label-success-new m-r-lg m-l"> New </span> <span class="m-r-lg">Product Code: <a href="/cms2.0/newcms/angular/index.html#/cms/product" class="text-u-l">{{code.productCode}}</a></span> <span>Product Name: <a href="#/product/list" class="text-u-l">{{code.productName}}</a></span>
								</td>
								<th colspan="4" class="text-right">{{code.catPath}}</th>
							</tr>
						    <tr>
							<td class="mfb-xxt">
								<img src="http://image.sneakerhead.com/is/image/sneakerhead/{{code.image}}" alt="{{code.productName}}" class="img-circle pull-left m-r"/>
							</td>
							<td class="mfb-xxt text-center">{{(code.promotionPrice/code.msrp*100).toFixed(1)}}折</td>
							<td class="mfb-xxt text-center">
								<button popover="LDB01-298:20 / LDB01-298: 20 / LDB01-298:20 / LDB01-298: 20" popover-title="Inventory" type="button" popover-placement="left" class="btn btn-default btn-xs">1200</button>
							</td>
							<td class="mfb-xxt text-center">
								<input type="text" class="col-sm-1 form-control" ng-model = "code.promotionPrice">
								<!--<button popover="Sale Price: {{code.salePrice}}" popover-title="Final Price" type="button" popover-placement="left" class="btn btn-default btn-xs">{{code.promotionPrice}}</button>-->
							</td>
							<td class="mfb-xxt text-center">
								{{code.msrp}}</td>
							<td class="mfb-xxs text-left">
								<div class="table_main">
									<ul>
										<li>产地：中国</li>
										<li>颜色：红色</li>
										<li>材质：PU</li>
										<li>风格：欧美</li>
									</ul>
								</div>
							</td>
							<td class="mfb-xxt text-center">{{code.skuCount}}</td>
							<td class="mfb-xxt text-left">
							<small  popover-trigger="mouseenter" popover-placement="left">
								<div class="table_main">
									<ul>
										<li>Created Time</li>
										<li><span>{{(code.created).substring(0,10)}}</span></li>
										<li><span>{{(code.created).substring(11,19)}}</span></li>
									</ul>
								</div>
							</small>
						</td>
						<td class="mfb-xxt text-right">
						   <button ng-if="code.promotionPrice != code.promotionPriceBak" title="保存" class="btn btn-success btn-xs" ng-click="updateCode(code)"><i class="fa fa-floppy-o"></i></button>
							<button class="btn btn-danger btn-xs" ng-click="delPromotionCode(code)"><i class="fa fa-trash-o" ></i></button>
						</td>
						</tr>
						</tbody>
					</table>
					</div>
					<div class="col-sm-12 m-t-xs">
						<vpagination config="vm.codePageOption" total="{{vm.codePageOption.total}}"></vpagination>
					</div>
				</div><!-- .table-responsive -->
			</tab>
			<tab>
				<tab-heading ng-click="vm.tabIndex = 2"> SKU List 一览</tab-heading>
				<div class="panel vo_panel tab_panel">
					<div class="table-responsive">
						<table class="table table-hover b-t b-light vo_table vo_models">
							<thead>
							<tr>
								<th class="mfb-xxs">SKU</th>
								<th class="mfb-xx">折扣</th>
								<th class="mfb-x">Size</th>
								<th class="mfb-x">Inventory</th>
								<th class="mfb-x">Promotion Price</th>
								<th class="mfb-x">price retail</th>
								<th class="mfb-xt">Edit</th>
							</tr>
							</thead>
							<tbody>
							<tr  ng-repeat="sku in vm.skuList">
								<td>{{sku.productSku}}</td>
								<td>{{(sku.promotionPrice/sku.salePrice*100).toFixed(1)}}折</td>
								<td>{{sku.size}}</td>
								<td><input type="text" class="col-sm-1 form-control" placeholder="{{sku.qty}}" popover-placement="left" popover="原始库存：{{sku.qty}}"></td>
								<td><!--<button type="button" popover-placement="left" class="btn btn-default btn-xs">{{sku.promotionPrice}}</button>-->1900.00</td>
								<td><!--<input type="text" class="form-control col-sm-2" popover-placement="left" popover="price retail：1200">-->
									<!--<button type="button" popover-placement="left" class="btn btn-default btn-xs">{{sku.salePrice}}</button>-->2500.00</td>
								</td>
								<td>
									<button title="保存" class="btn btn-success btn-xs"><i class="fa fa-floppy-o"></i></button>
									<button class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></button>
								</td>
							</tr>
							</tbody>
						</table>
					</div><!-- .table-responsive -->

					<div class="col-sm-12 m-t-xs">
						<vpagination config="vm.skuPageOption" total="{{vm.skuPageOption.total}}"></vpagination>
					</div>
				</div> <!-- .panel -->
				<div class="row text-center">
					<div class="col-sm-12">
						<div class="form-inline">
						</div><!-- .form-inline -->
					</div>
				</div>

			</tab>
		</tabset><!-- tabset -->
	</div><!-- tabs ng-controller -->
</div><!-- end .wrapper-md -->








