<div class="wrapper-md" ng-init="initialize()">
    <div class="vo_accordion vo_attr">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="glyphicon glyphicon-star"></i>&nbsp;活动详情</h4>
                </div>
                <div class="container-fluid m-t-sm m-b-md">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">活动名称</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-model="vm.promotion.promotionName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">活动状态</label>

                                    <div class="col-sm-7">
                                        <input ng-show="vm.promotion.promotionStatus==false" value="Open" type="text"
                                               class="form-control" placeholder="promotion_approved">
                                        <input ng-show="vm.promotion.promotionStatus==true" value="Close" type="text"
                                               class="form-control" placeholder="promotion_approved">
                                    </div>
                                </div>
                                <!-- .form-group -->
                                <div class="form-group" ng-show="promotion.cartId == 20 || promotion.cartId == 23">
                                    <div class="col-sm-3 control-label"><label class="">启用特价宝？</label></div>
                                    <div class="col-sm-2">
                                        <div class="onoffswitch">
                                            <input type="checkbox" name="onoffswitch" ng-model="tejiabao" class="onoffswitch-checkbox" id="myonoffswitch4" checked>
                                            <label class="onoffswitch-label" for="myonoffswitch4">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <input class="form-control" ng-if="tejiabao == true" ng-model="promotion.tejiabaoId" placeholder="特价宝ID">
                                    </div><!-- onoff switch -->
                                </div>
                            </form>
                            <!-- .form -->
                        </div>
                        <!--.col -->
                        <div class="col-sm-4">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">活动时间</label>

                                    <div class="col-sm-8 form-inline">
                                        <div class="input-group col-sm-6"><input type="text" class="form-control inherited"
                                                                                 ng-model="vm.promotion.activityStart">
                                        </div>
                                        &nbsp;~&nbsp;
                                        <div class="input-group col-sm-5"><input type="text" class="form-control inherited"
                                                                                 ng-model="vm.promotion.activityEnd">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">预热时间</label>
                                    <div class="col-sm-8 form-inline">
                                        <div class="col-sm-6 input-group" ng-controller="datePickerCtrl">
                                            <input type="text" ng-model="$parent.promotion.prePeriodStart" class="form-control" datepicker-popup="{{formatDate}}" is-open="opened" date-model-format="{{formatDate}}" datepicker-options="dateOptions" close-text="Close" />
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
                                        </div> ~
                                        <div class="col-sm-5 input-group" ng-controller="datePickerCtrl">
                                            <input type="text" ng-model="$parent.promotion.prePeriodEnd" class="form-control" datepicker-popup="{{formatDate}}" is-open="opened" date-model-format="{{formatDate}}" datepicker-options="dateOptions" close-text="Close" />
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">预售时间</label>
                                    <div class="col-sm-8 form-inline">
                                        <div class="col-sm-6 input-group" ng-controller="datePickerCtrl">
                                            <input type="text" ng-model="$parent.promotion.preSaleStart" class="form-control" datepicker-popup="{{formatDate}}" is-open="opened" date-model-format="{{formatDate}}" datepicker-options="dateOptions" close-text="Close" />
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
                                        </div> ~
                                        <div class="col-sm-5 input-group" ng-controller="datePickerCtrl">
                                            <input type="text" ng-model="$parent.promotion.preSaleEnd" class="form-control" datepicker-popup="{{formatDate}}" is-open="opened" date-model-format="{{formatDate}}" datepicker-options="dateOptions" close-text="Close" />
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- .form -->
                        </div>
                        <div class="col-sm-4">
                            <form class="form-horizontal">

                                <div class="form-group">
                                    <label class="col-sm-3 control-label vo_reqfield">活动渠道</label>
                                    <div class="col-sm-8">
                                        <label ng-repeat="cart in cartList" class="checkbox-inline c-checkbox"><input type="radio" name="cartid" ng-model="promotion.cartId"  ng-required="true" value={{cart.cartId}}><span class="fa fa-check"></span> {{cart.name}} </label>
                                        <!--<label class="checkbox-inline c-checkbox"><input type="radio" name="cartid" ng-model="promotion.cartId" ng-required="true" value="23"><span class="fa fa-check"></span> 天猫国际 </label>-->
                                        <!--<label class="checkbox-inline c-checkbox"><input type="radio" name="cartid" ng-model="promotion.cartId" ng-required="true" value="27"><span class="fa fa-check"></span>  聚美</label>-->
                                        <!--<label class="checkbox-inline c-checkbox"><input type="radio" name="cartid" ng-model="promotion.cartId" ng-required="true" value="24"><span class="fa fa-check"></span> 京东 </label>-->
                                        <!--<label class="checkbox-inline c-checkbox"><input type="radio" name="cartid" ng-model="promotion.cartId" ng-required="true" value="26"><span class="fa fa-check"></span> 京东国际 </label>-->
                                    </div>
                                </div><!-- .form-group -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="form-inline col-sm-9">
                                        <input type="text" placeholder="Search"  class="form-control col-sm-8">
                                        <span class="input-group-btn"><button class="btn btn-vo" type="button">Search</button></span>
                                    </div>
                                </div>
                            </form>
                            <!-- .form -->
                        </div>

                        <div class="text-center">
                            <div class="col-sm-12">
                                <div class="form-inline" ng-controller="popupCtrl">
                                    <button class="btn btn-default" ng-click="clear()"><i class="fa fa-remove"></i>&nbsp;{{'BTN_CLEAR' | translate}}</button>
                                    <button class="btn btn-vo" ng-click="search()"><i class="glyphicon glyphicon-floppy-disk"></i> 保存</button>
                                    <!--<button class="btn btn-success" ng-click="openPromotion('md',vm.cartList,vm.promotion,null)"><i
                                            class="fa fa-pencil"></i> 修改Promotion
                                    </button>-->
                                </div>
                                <!-- .form-inline -->
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="box">
        <tabset class="tab-container vo_nav-tabs">
            <!--right-btn-->
            <div class="form-inline m-b-xs pull-right" ng-controller="popupCtrl">
                <button class="btn btn-default" ng-click="openImport('md',vm.promotionId)"><i
                        class="fa fa-mail-forward"></i> 批量导入
                </button>
                <!-- TODO 暂时未实现 -->
                <!--<button class="btn btn-success">&lt;!&ndash;ng-click="openOtherProgress('lg')"&ndash;&gt;<i class="fa fa-mail-reply"></i> 批量导出</button>-->
                <!--<button class="btn btn-success"><i class="fa fa-refresh"></i> 全部刷新</button>
                <button class="btn btn-danger"><i class="fa fa-warning"></i> 全部停止</button>-->
                <button class="btn btn-default" ng-click="tejiabaoInit()"><i class="fa fa-cny"></i> 批量刷价格</button>
                <button class="btn btn-danger btn-xs" ng-click="delSelPromotion()"><i class="fa fa-trash-o"></i> 删除</button>
            </div>
            <!-- /right-btn -->
            <!--tab-->
            <tab>
                <tab-heading ng-click="vm.tabIndex = 0"><i class="glyphicons glyphicons-more-items text-default"></i>
                    {{'TXT_GROUP_LIST' | translate}}
                </tab-heading>
                <div class="table-responsive">
                    <table class="table table-hover vo_models dropdown_table_bk font-bold" style="background:#e67e22;color:#fff">
                        <thead>
                        <tr>
                            <td class="mfb-xxxs" ng-controller="selectRowsCtrl">
                                <label class="checkbox-inline c-checkbox">
                                    <input type="checkbox" ng-checked="vm.groupSelList.selAllFlag"
                                           ng-click="selectAll(vm.groupSelList,'modelId')"><span
                                        class="fa fa-check"></span> {{'TXT_SELECT_ALL' | translate}} </label>
                                <span class="m-l-xxl">Primary Product</span>
                            </td>
                            <td class="mfb-xxt text-center">TAG</td>
                            <td class="mfb-xxt text-left">Inventory</td>
                            <td class="mfb-xxt text-center">MSRP</td>
                            <td class="mfb-xxt text-center">Retail Price</td>
                            <!--<td class="mfb-xxt text-center">Sale Price</td>-->
                            <td class="mfb-xxt text-center">Promotion Price</td>
                            <!--<td class="mfb-xxt text-left">折扣</td>-->
                            <!--<td class="mfb-xxt text-left">Base Property</td>-->
                            <td class="mfb-xxt text-left">Time</td>
                            <td class="mfb-xxt text-center">Action</td>
                        </tr>
                        </thead>
                    </table>
                    <div class="col-sm-12 dropdown_table_main">
                        <table if-no-rows="vm.groupList.length" class="table table-hover vo_table vo_models">
                            <tbody ng-repeat="group in vm.groupList">
                            <tr class="table_bg_gray">
                                <td colspan="4" class="control-label text-left form-inline">
                                    <label class="checkbox-inline c-checkbox"><input
                                            ng-model="vm.groupSelList.selFlag[group.modelId]" type="checkbox"
                                            ng-controller="selectRowsCtrl"
                                            ng-click="selectOne(group.modelId, vm.groupSelList, 'modelId')"><span
                                            class="fa fa-check"></span></label>
                                    <span class="label label-success-new m-r-lg m-l"> {{group.platformStatus}} </span> <span class="m-r-lg">Number IID: <a
                                        ng-href="https://detail.tmall.com/item.htm?id={{group.numIid}}" target="_blank"
                                        class="text-u-l">{{group.numIid}}</a></span> <span>Group Name:<a
                                        ng-href="#/group/list/{{group.modelId}}" target="_blank" class="text-u-l">{{group.productModel}}</a></span>
                                </td>
                                <td colspan="4" class="text-right">{{group.catPath}}</td>
                            </tr>
                            <tr>
                                <td class="mfb-xxxs">
                                    <img src="http://image.sneakerhead.com/is/image/sneakerhead/{{group.image}}"
                                         alt="{{group.productName}}" class="img-circle pull-left m-r"/>

                                    <div class="table_main pull-left" style="width:60%">
                                        <ul>
                                            <li>{{group.productCode}}</li>
                                            <li>{{group.productName}}</li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="mfb-xxt text-center">TAG</td>
                                <td class="mfb-xxt text-left">
                                    <!-- TODO 目前库存是假的,而且显示code库存未实现 popover="LDB01-298:20 / LDB01-298: 20 / LDB01-298:20 / LDB01-298: 20" popover-title="Inventory"  -->
                                    <button type="button" popover-placement="left" class="btn btn-default btn-xs">0
                                    </button>
                                </td>
                                <td class="mfb-xxt text-center">
                                    <button popover="Sale Price: {{group.salePriceMin != group.salePriceMax?group.salePriceMin +' - '+ group.salePriceMax:group.salePriceMin}}"
                                            popover-title="Final Price" type="button" popover-placement="left"
                                            class="btn btn-default btn-xs">{{group.promotionPriceMin !=
                                        group.promotionPriceMax?group.promotionPriceMin +' - '+
                                        group.promotionPriceMax:group.promotionPriceMax}}
                                    </button>
                                </td>
                                <td class="mfb-xxt text-center">
                                    <button type="button" popover-placement="left" class="btn btn-default btn-xs">
                                        {{group.msrp}}
                                    </button>
                                </td>
                                <td class="mfb-xxt text-left">
                                    {{(group.promotionPriceMin/group.salePriceMin*100).toFixed(1)}}折
                                </td>
                                <!--<td class="mfb-xxt text-left">-->
                                    <!--<div class="table_main">&lt;!&ndash; TODO 未实现 &ndash;&gt;-->
                                        <!--&lt;!&ndash;<ul>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<li>Size Type：Women</li>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<li>Style：欧美</li>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                                    <!--</div>-->
                                <!--</td>-->
                                <td class="mfb-xxt text-left"><!-- TODO 显示产品的publish时间未实现-->
                                    <small popover-trigger="mouseenter" popover-placement="left">
                                        <div class="table_main">
                                            <ul>
                                                <li>Created Time</li>
                                                <li><span>{{(group.created).substring(0,10)}}</span></li>
                                                <li><span>{{(group.created).substring(11,19)}}</span></li>
                                            </ul>
                                        </div>
                                    </small>
                                </td>
                                <td class="mfb-xxt text-right">
                                    <button class="btn btn-danger btn-xs" ng-click="delPromotionModel(group)"><i
                                            class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12 m-t-xs">
                        <vpagination config="vm.groupPageOption" total="{{vm.groupPageOption.total}}"></vpagination>
                    </div>
                </div>
                <!-- .table-responsive -->
            </tab>
            <tab>
                <tab-heading ng-click="vm.tabIndex = 1"><i class="glyphicons glyphicons-sort text-default"></i>
                    {{'TXT_PRODUCT_LIST' | translate}}
                </tab-heading>
                <!-- Products table and controls -->
                <div class="table-responsive">
                    <table class="table table-hover vo_table vo_models dropdown_table_bk font-bold text-vo" style="background:#e67e22;color:#fff">
                        <thead>
                        <tr ng-controller="selectRowsCtrl">
                            <td class="mfb-xxt"><label class="checkbox-inline c-checkbox">
                                <input type="checkbox" ng-checked="vm.codeSelList.selAllFlag" ng-click="selectAll(vm.codeSelList,'productCode')">
                                <span class="fa fa-check"></span> {{'TXT_SELECT_ALL' | translate}} </label></td>
                            <td class="mfb-xxt text-center">TAG</td>
                            <td class="mfb-xxt text-center">Inventory</td>
                            <td class="mfb-xxt text-left">MSRP</td>
                            <td class="mfb-xxt text-center">Retail Price</td>
                            <td class="mfb-xxt text-center">Promotion Price</td>
                            <td class="mfb-xxs text-left">Base Property</td>
                            <td class="mfb-xxt text-center">SKU数</td>
                            <td class="mfb-xxt text-left">Time</td>
                            <td class="mfb-xxt text-right">Action</td>
                        </tr>
                        </thead>
                    </table>
                    <div class="col-sm-12 dropdown_table_main">
                        <table if-no-rows="vm.codeList.length" class="table table-hover vo_table vo_models">
                            <tbody ng-repeat="code in vm.codeList">
                            <tr class="table_bg_gray">
                                <td colspan="6" class="control-label text-left form-inline">
                                    <label class="checkbox-inline c-checkbox"><input type="checkbox"
                                                                                     ng-model="vm.codeSelList.selFlag[code.productCode]"
                                                                                     type="checkbox"
                                                                                     ng-controller="selectRowsCtrl"
                                                                                     ng-click="selectOne(code.productCode, vm.codeSelList, 'productCode')"><span
                                            class="fa fa-check"></span></label>
                                    <span class="label label-success-new m-r-lg m-l"> {{code.platformStatus}} </span> <span class="m-r-lg">Product Code: <a
                                        ng-href="https://detail.tmall.com/item.htm?id={{code.numIid}}" target="_blank"
                                        class="text-u-l">{{code.productCode}}</a></span> <span>Product Name: <a
                                        href="#/product/detail/{{code.productId}}" target="_blank" class="text-u-l">{{code.productName}}</a></span>
                                </td>
                                <th colspan="4" class="text-right">{{code.catPath}}</th>
                            </tr>
                            <tr>
                                <td class="mfb-xxt">
                                    <img src="http://image.sneakerhead.com/is/image/sneakerhead/{{code.image}}"
                                         alt="{{code.productName}}" class="img-circle pull-left m-r"/>
                                </td>
                                <td class="mfb-xxt text-center">{{(code.promotionPrice/code.msrp*100).toFixed(1)}}折</td>
                                <td class="mfb-xxt text-center">
                                    <!-- TODO 未实现 popover="LDB01-298:20 / LDB01-298: 20 / LDB01-298:20 / LDB01-298: 20" popover-title="Inventory"  -->
                                    <button type="button" popover-placement="left" class="btn btn-default btn-xs">0
                                    </button>
                                </td>
                                <td class="mfb-xxt text-left">
                                    <span class="text-l-t">5631</span>
                                    <p class=""><input type="text" class="col-sm-1 form-control m-b-xs" placeholder="4523"></p>
                                    <!--<p style="color:#ff0000;">（<span style="vertical-align: sub;font-size:8px"><i class="glyphicon glyphicon-triangle-top" style="font-size:4px"></i></span>&nbsp;520.00） 六折</p>-->
                                    <p class="text-u-red">（<span class="text-u-sub"><i class="glyphicon glyphicon-triangle-bottom"></i></span>&nbsp;520.00） 六折</p>
                                      <!--<input type="text" class="col-sm-1 form-control" ng-model="code.promotionPrice">
                                      <button popover="Sale Price: {{code.salePrice}}" popover-title="Final Price" type="button" popover-placement="left" class="btn btn-default btn-xs">{{code.promotionPrice}}</button>-->

                                </td>
                                <td class="mfb-xxt text-center">
                                    {{code.msrp}}
                                </td>
                                <td class="mfb-xxt text-center">
                                    {{code.msrp}}
                                </td>
                                <td class="mfb-xxs text-left">
                                    <div class="table_main"><!-- TODO 未实现 -->
                                        <!--<ul>-->
                                        <!--<li>产地：中国</li>-->
                                        <!--<li>颜色：红色</li>-->
                                        <!--<li>材质：PU</li>-->
                                        <!--<li>风格：欧美</li>-->
                                        <!--</ul>-->
                                    </div>
                                </td>
                                <td class="mfb-xxt text-center">{{code.skuCount}}</td>
                                <td class="mfb-xxt text-left">
                                    <small popover-trigger="mouseenter" popover-placement="left">
                                        <!-- TODO 未实现pulishtime -->
                                        <div class="table_main">
                                            <ul>
                                                <li>Created Time</li>
                                                <li><span>{{(code.created).substring(0,10)}}</span></li>
                                                <li><span>{{(code.created).substring(11,19)}}</span></li>
                                            </ul>
                                        </div>
                                    </small>
                                </td>
                                <td class="mfb-xxt text-right">
                                    <button ng-if="code.promotionPrice != code.promotionPriceBak" title="保存"
                                            class="btn btn-success btn-xs" ng-click="updateCode(code)"><i
                                            class="fa fa-floppy-o"></i></button>
                                    <button class="btn btn-danger btn-xs" ng-click="delPromotionCode(code)"><i
                                            class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12 m-t-xs">
                        <vpagination config="vm.codePageOption" total="{{vm.codePageOption.total}}"></vpagination>
                    </div>
                </div>
                <!-- .table-responsive -->
            </tab>
            <!-- TODO 暂时不显示SKU列表,如果以后需要根据SKU列表来制定 促销价格再放开 -->
            <!--<tab>
                <tab-heading ng-click="vm.tabIndex = 2"><i class="fa fa-list"></i> {{'TXT_SKU_LIST' | translate}}
                </tab-heading>
                <div class="panel vo_panel tab_panel">
                    <div class="table-responsive">
                        <table class="table table-hover vo_table vo_models dropdown_table_bk font-bold" style="background:#e67e22;color:#fff">
                            <thead>
                            <tr>
                                <td class="mfb-xxs">SKU</td>
                                <td class="mfb-xx">Code</td>
                                <td class="mfb-x text-left">Size</td>
                                <td class="mfb-x">Inventory</td>
                                <td class="mfb-x">MSRP</td>
                                <td class="mfb-x text-center">Retail sale</td>
                                <td class="mfb-x text-center">price sale</td>
                                &lt;!&ndash;<td class="mfb-x text-center">Promotion Price</td>&ndash;&gt;
                                &lt;!&ndash;<th class="mfb-xt">Edit</th>&ndash;&gt;
                            </tr>
                            </thead>
                        </table>
                        <div class="col-sm-12 dropdown_table_main">
                            <table if-no-rows="vm.skuList.length" class="table table-hover vo_table vo_models">
                                <tbody>
                                <tr ng-repeat="sku in vm.skuList">
                                    <td class="mfb-xxs">{{sku.productSku}}</td>
                                    <td></td>
                                    &lt;!&ndash;<td  class="mfb-xx">{{(sku.promotionPrice/sku.salePrice*100).toFixed(1)}}折</td>&ndash;&gt;
                                    <td class="mfb-x text-left">{{sku.size}}</td>
                                    <td class="mfb-x"><input type="text" class="col-sm-1 form-control" placeholder="{{sku.qty}}"
                                               popover-placement="left" popover="原始库存：{{sku.qty}}"></td>
                                    <td></td>
                                    <td class="mfb-x text-center">
                                        &lt;!&ndash;<input type="text" class="form-control col-sm-2" popover-placement="left" popover="price retail：1200">&ndash;&gt;
                                        &lt;!&ndash;<button type="button" popover-placement="left" class="btn btn-default btn-xs">{{sku.salePrice}}</button>&ndash;&gt;
                                        {{sku.salePrice}}
                                    </td>
                                    <td class="mfb-x text-center">
                                        &lt;!&ndash;<button type="button" popover-placement="left" class="btn btn-default btn-xs">{{sku.promotionPrice}}</button>&ndash;&gt;
                                        {{sku.promotionPrice}}
                                    </td>
                                    &lt;!&ndash;<td>&ndash;&gt;
                                    &lt;!&ndash;<button title="保存" class="btn btn-success btn-xs"><i class="fa fa-floppy-o"></i></button>&ndash;&gt;
                                    &lt;!&ndash;<button class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></button>&ndash;&gt;
                                    &lt;!&ndash;</td>&ndash;&gt;
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    &lt;!&ndash; .table-responsive &ndash;&gt;

                    <div class="col-sm-12 m-t-xs">
                        <vpagination config="vm.skuPageOption" total="{{vm.skuPageOption.total}}"></vpagination>
                    </div>
                </div>
                &lt;!&ndash; .panel &ndash;&gt;
                <div class="row text-center">
                    <div class="col-sm-12">
                        <div class="form-inline">
                        </div>
                        &lt;!&ndash; .form-inline &ndash;&gt;
                    </div>
                </div>

            </tab>-->
        </tabset>
        <!-- tabset -->
    </div>
    <!-- tabs ng-controller -->
</div><!-- end .wrapper-md -->








