<div class="wrapper-md" ng-init="initialize()">
	<div class="vo_accordion vo_attr">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><i class="glyphicon glyphicon-star"></i>&nbsp;活动一览</h4>
				</div>
				<div class="container-fluid m-t-sm m-b-md">
					<div class="col-sm-12">
					<div class="col-sm-5">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-2 control-label">Filters</label>
								<div class="col-sm-9">
									<label class="checkbox-inline c-checkbox"><input type="checkbox" value="option1"><span class="fa fa-check"></span> promotion_new </label>
									<label class="checkbox-inline c-checkbox"><input type="checkbox" value="option2"><span class="fa fa-check"></span> promotion_ready </label>
									<label class="checkbox-inline c-checkbox"><input type="checkbox" value="option3"><span class="fa fa-check"></span>  promotion_approved</label>
								</div>
							</div><!-- .form-group -->
							<div class="form-group">
								<label class="col-sm-2 control-label"></label>
								<div class="col-sm-9">
									<label class="checkbox-inline c-checkbox"><input type="checkbox" value="option4"><span class="fa fa-check"></span> promotion_saled </label>
									<label class="checkbox-inline c-checkbox"><input type="checkbox" value="option5"><span class="fa fa-check"></span> promotion_over </label>
								</div>
							</div><!-- .form-group -->
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-3 control-label">Create Time</label>
								<div class="col-sm-8 form-inline">
									<div class="col-sm-6 input-group" ng-controller="datePickerCtrl">
										<input type="text" class="form-control" datepicker-popup="{{formatDate}}" ng-model="$parent.searchInfo.createdStart" date-model-format="{{formatDate}}" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
									</div> ~
									<div class="col-sm-5 input-group" ng-controller="datePickerCtrl">
										<input type="text" class="form-control" datepicker-popup="{{formatDate}}" ng-model="$parent.searchInfo.createdEnd" date-model-format="{{formatDate}}" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3  control-label">Platform</label>
								<div class="col-sm-8">
									<select class="form-control" ng-model="searchInfo.cartId">
										<option value=''>All</option>
										<option ng-repeat="cart in vm.cartList" value={{cart.cartId}}>{{cart.name}}</option>
									</select>
								</div>
							</div>
						</div><!-- .form-group -->
					</div>
					<div class="col-sm-3">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-2 control-label">Search</label>
								<div class="col-sm-7">
									<input class="form-control" ng-model="searchInfo.promotionName">
								</div>
							</div><!-- .form-group -->
						</div>
					</div>
					<div class="col-sm-12 text-center m-t-sm" ng-controller="popupCtrl">
						<div class="form-inline">
							<button class="btn btn-vo" ng-click="search()"><i class="fa fa-search"></i>  检索</button>
							<button class="btn btn-success" ng-click="openpromotion('md',vm.cartList,null,search)"><i class="fa fa-plus"></i> 新增活动</button>
						</div><!-- .form-inline -->
					</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- .accordion -->
	<div class="box">
		<div class="box-body">
			<table class="table table-hover-new text-center">
				<thead>
				<tr>
					<th class="text-center">Seq.</th>
					<th class="text-center">Status</th>
					<th class="text-center">Promotion Name</th>
					<th class="text-center">Promotion Start Time</th>
					<th class="text-center">Promotion End Time</th>
					<th class="text-center">活动渠道</th>
					<th class="text-center">编辑</th>
				</tr>
				</thead>
				<tbody if-no-rows="vm.promotionList.length">
				<tr ng-repeat="promotion in vm.promotionList">
					<td>{{promotion.promotionId}}</td>
					<td class="text-center"><span ng-show="promotion.promotionStatus==false" class="label label-success-new m-r-lg m-l"> Open </span><span ng-show="promotion.promotionStatus==true" class="label label-yellow-new m-r-lg m-l"> Close </span></td>
					<td><a href="#/promotion/detail/{{promotion.promotionId}}" target="_blank">{{promotion.promotionName}}</a></td>
					<td>{{promotion.activityStart}}</td>
					<td>{{promotion.activityEnd}}</td>
					<td>{{promotion.cartName}}</td>
					<td ng-controller="popupCtrl"><button title="编辑" class="btn btn-success btn-xs" ng-click="openpromotion('md',vm.cartList,promotion)"><i class="fa fa-pencil"></i></button>
						<button title="删除" class="btn btn-danger btn-xs"  ng-click="del(promotion)"><i class="fa  fa-trash-o"></i></button>
						<button title="下载" class="btn btn-dangerdel btn-xs" ng-click="openOtherDownload()"><i class="fa fa-cloud-download"></i></button>
					</td>
				</tr>
				</tbody>
			</table>
		</div><!-- /.box-body -->
	</div>
</div><!-- end .wrapper-md -->








