<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.service.dao.sql">
    <resultMap id="mapMessageModel" type="com.voyageone.service.bean.com.MessageBean" autoMapping="true">
        <result property="displayType" column="displayType" javaType="com.voyageone.common.message.enums.DisplayType" jdbcType="INTEGER"
                typeHandler="com.voyageone.service.dao.DisplayTypeHandler"/>
    </resultMap>
    <select id="ct_message_info_selectMessage" resultMap="mapMessageModel">
        SELECT
            code,
            message,
            displayType,
            lang_id lang
        FROM Synship.ct_message_info
        WHERE lang_id = #{lang} AND code = #{code};
    </select>
</mapper>
