<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.service.dao.sql">
    <resultMap type="com.voyageone.service.bean.com.ChannelPermissionBean" id="ctUserChannelPermissionMap">
        <result column="property_id" property="channelId"/>
        <result column="full_name" property="channelName"/>
        <result column="img_url" property="channelImgUrl"/>
        <result column="company_id" property="companyId"/>
        <result column="company" property="companyName"/>
        <collection property="apps" javaType="List" ofType="Map">
            <result column="application" property="application"/>
            <result column="applicationId" property="applicationId"></result>
        </collection>
    </resultMap>

    <select id="ct_user_selectUser" resultType="com.voyageone.service.bean.com.UserBean">
        SELECT
            id,
            username,
            password
        FROM Synship.ct_user
        WHERE username = #{username}
              AND active = 1;
    </select>

    <select id="ct_user_selectPermissionChannel" resultMap="ctUserChannelPermissionMap">
        SELECT *
        FROM (SELECT
                  g.application,
                  g.id as applicationId,
                  b.property_id,
                  h.full_name,
                  ifnull(h.img_url, '') AS img_url,
                  h.company_id,
                  i.company
              FROM
                  ct_user AS a
                  INNER JOIN ct_user_role_property AS b ON a.id = b.user_id
                  INNER JOIN ct_role_permission AS c ON b.role_id = c.role_id AND b.property_id = c.property_id
                  INNER JOIN ct_action AS d ON c.action_id = d.id
                  INNER JOIN ct_controller AS e ON d.controller_id = e.id
                  INNER JOIN ct_module AS f ON e.module_id = f.id
                  INNER JOIN ct_application AS g ON f.application_id = g.id
                  INNER JOIN tm_order_channel AS h ON b.property_id = h.order_channel_id
                  INNER JOIN ct_company AS i ON i.id = h.company_id
              WHERE b.active = 1 AND c.active = 1 AND d.active = 1 AND e.active = 1 AND f.active = 1 AND g.active = 1
                    AND a.username = #{userName}
              UNION
              SELECT
                  g.application,
                  g.id as applicationId,
                  b.property_id,
                  h.full_name,
                  ifnull(h.img_url, '') AS img_url,
                  h.company_id,
                  i.company
              FROM
                  ct_user AS a
                  INNER JOIN ct_user_permission AS b ON a.id = b.user_id

                  INNER JOIN ct_action AS d ON b.action_id = d.id
                  INNER JOIN ct_controller AS e ON d.controller_id = e.id
                  INNER JOIN ct_module AS f ON e.module_id = f.id
                  INNER JOIN ct_application AS g ON f.application_id = g.id
                  INNER JOIN tm_order_channel AS h ON b.property_id = h.order_channel_id
                  INNER JOIN ct_company AS i ON i.id = h.company_id
              WHERE b.active = 1 AND d.active = 1 AND e.active = 1 AND f.active = 1 AND g.active = 1
                    AND a.username = #{userName}
             ) t
        GROUP BY
            t.application,
            t.property_id
        ORDER BY t.company_id, t.property_id, t.application
    </select>

    <select id="ct_role_permission_getPermissionByRole" resultType="com.voyageone.service.bean.com.PermissionBean">
        SELECT
            c.role,
            k.application,
            j.module,
            i.controller,
            l.name  AS action,
            h.value AS enabled
        FROM ct_user a
            , ct_user_role_property b
            , ct_role c
            , tm_order_channel d
            , ct_role_permission h
            , ct_controller i
            , ct_module j
            , ct_application k
            , ct_action l
        WHERE a.username = #{userName}
              AND d.order_channel_id = #{channelId}
              AND a.id = b.user_id
              AND b.role_id = c.id
              AND b.property_id = d.order_channel_id
              AND h.property_id = b.property_id
              AND h.role_id = b.role_id
              AND h.value = 1
              AND h.action_id = l.id
              AND l.controller_id = i.id
              AND i.module_id = j.id
              AND j.application_id = k.id
              AND a.active = 1
              AND b.active = 1
              AND c.active = 1
              AND h.active = 1
              AND i.active = 1
              AND j.active = 1
              AND k.active = 1
              AND l.active = 1
    </select>

    <select id="ct_user_permission_getPermissionByUser" resultType="com.voyageone.service.bean.com.PermissionBean">
        SELECT
            'USER'  AS role,
            k.application,
            j.module,
            i.controller,
            l.name  AS action,
            h.value AS enabled
        FROM ct_user a
            , tm_order_channel d
            , ct_user_permission h
            , ct_controller i
            , ct_module j
            , ct_application k
            , ct_action l
        WHERE a.username = #{userName}
              AND d.order_channel_id = #{channelId}
              AND a.id = h.user_id
              AND h.property_id = d.order_channel_id
              AND l.controller_id = i.id
              AND i.module_id = j.id
              AND j.application_id = k.id
              AND h.action_id = l.id
              AND a.active = 1
              AND h.active = 1
              AND i.active = 1
              AND j.active = 1
              AND k.active = 1
              AND l.active = 1
    </select>
</mapper>
