<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.service.dao.sql">

    <select id="ct_user_role_property_selectUserRoleByIdAndChannelId"  resultType="int" parameterType="HashMap">
        SELECT count(1)
        FROM
          Synship.ct_user_role_property a
        WHERE a.user_id = #{userId}
        AND a.property_id = #{channelId}
        <if test="active != null and active !=''">
            AND a.active = #{active}
        </if>
        <if test="roleId != null and roleId != ''">
            AND a.role_id = #{roleId}
        </if>
    </select>

    <select id="ct_user_role_property_selectUserApplication" resultType="HashMap">
        SELECT DISTINCT
            f.menu_title as menuTitle,
            f.default_url as defaultUrl
        FROM
            Synship.ct_user_role_property a
            LEFT JOIN Synship.ct_role_permission b ON a.role_id = b.role_id
            LEFT JOIN Synship.ct_action c ON b.action_id = c.id
            LEFT JOIN Synship.ct_controller d ON c.controller_id = d.id
            LEFT JOIN Synship.ct_module e ON d.module_id = e.id
            LEFT JOIN Synship.ct_application f ON e.application_id = f.id
        WHERE a.user_id = #{userId}#
              AND a.property_id = #{channelId}#
    </select>
    <!--<select id="ct_user_role_property_getListUserMenu">-->
<!--SELECT b.id AS controllerId,c.`id` AS parentId,b.`menu_title` AS menuTitle,b.`default_url` AS defaultUrl-->
<!--FROM Synship.ct_user_permission  a-->
<!--JOIN Synship.ct_controller AS b ON a.`controller_id`=b.`id`-->
<!--JOIN Synship.`ct_module`   AS c ON b.module_id=c.id-->
<!--WHERE a.user_id=#{userId} AND a.`property_id`=#{propertyId}  AND c.`application_id`=#{applicationId} AND b.`show_in_menu`=1 and b.active=1;-->
    <!--</select>-->
    <!--<select id="ct_user_role_property_getListRoleMenu">-->
     <!--SELECT b.id AS controllerId,c.`id` AS parentId,b.`menu_title` AS menuTitle,b.`default_url` AS defaultUrl-->
<!--FROM Synship.`ct_user_role_property` AS d-->
<!--JOIN Synship.ct_role_permission  AS a ON a.`role_id`=d.`role_id` AND d.`property_id`=a.`property_id`-->
<!--JOIN Synship.ct_controller AS b ON a.`controller_id`=b.`id`-->
<!--JOIN Synship.`ct_module`   AS c ON b.module_id=c.id-->
<!--WHERE d.`user_id`=#{userId} AND a.`property_id`=#{propertyId} AND c.`application_id`=#{applicationId} AND b.`show_in_menu`=1 and b.active=1-->
    <!--</select>-->

    <select id="ct_user_role_property_getListControllerByWhere" resultType="Map">
        SELECT b.id ,c.`id` AS parentId,b.`menu_title` AS menuTitle,b.`default_url` AS defaultUrl
FROM Synship.ct_user_permission  a
JOIN Synship.ct_controller AS b ON a.`controller_id`=b.`id`
JOIN Synship.`ct_module`   AS c ON b.module_id=c.id
WHERE a.user_id=#{userId} AND a.`property_id`=#{propertyId}  AND c.`application_id`=#{applicationId} AND b.`show_in_menu`=1 and b.active=1

UNION

SELECT b.id ,c.`id` AS parentId,b.`menu_title` AS menuTitle,b.`default_url` AS defaultUrl
FROM Synship.`ct_user_role_property` AS d
JOIN Synship.ct_role_permission  AS a ON a.`role_id`=d.`role_id` AND d.`property_id`=a.`property_id`
JOIN Synship.ct_controller AS b ON a.`controller_id`=b.`id`
JOIN Synship.`ct_module`   AS c ON b.module_id=c.id
WHERE d.`user_id`=#{userId} AND a.`property_id`=#{propertyId} AND c.`application_id`=#{applicationId} AND b.`show_in_menu`=1 and b.active=1
    </select>
    <select id="ct_user_role_property_getListModuleByWhere" resultType="Map">

SELECT c.id,0 AS parentId,b.`menu_title` AS menuTitle,b.`default_url` AS defaultUrl
FROM Synship.ct_user_permission  a
JOIN Synship.ct_controller AS b ON a.`controller_id`=b.`id`
JOIN Synship.`ct_module`   AS c ON b.module_id=c.id
WHERE a.user_id=#{userId} AND a.`property_id`=#{propertyId}  AND c.`application_id`=#{applicationId} AND b.`show_in_menu`=1 and b.active=1

UNION

SELECT c.id,0 AS parentId,c.`menu_title` AS menuTitle,c.`default_url` AS defaultUrl
FROM Synship.`ct_user_role_property` AS d
JOIN Synship.ct_role_permission  AS a ON a.`role_id`=d.`role_id` AND d.`property_id`=a.`property_id`
JOIN Synship.ct_controller AS b ON a.`controller_id`=b.`id`
JOIN Synship.`ct_module`   AS c ON b.module_id=c.id
WHERE d.`user_id`=#{userId} AND a.`property_id`=#{propertyId} AND c.`application_id`=#{applicationId} AND b.`show_in_menu`=1 and b.active=1
    </select>
</mapper>
