/* Add here all your css styles (customizations) */

/* 【重写】超链接 */
a {
	color: #72c02c;
}

/* 【重写】导航超链接 */
.sidebar-nav-v1 ul li:hover a,
.sidebar-nav-v1 ul li.active a {
	background-color: #3498db;
	color: #FFFFFF;
}
.sidebar-nav-v1 > li,
.sidebar-nav-v1 > li:hover,
.sidebar-nav-v1 > li a,
.sidebar-nav-v1 > li a:hover,
.sidebar-nav-v1 > li.active,
.sidebar-nav-v1 > li.active:hover {
  background: #717984;
  color: #FFFFFF;
}

/* 【重写】页面级标题 */
.heading-sm {
	font-size: 24px;
	font-weight: 700;
	border-bottom: 3px solid #72c02c;
}

/* 表格背景色 */
.bg-table-title {
  background-color: #F07027;
  color: #FFFFFF;
}

.bg-PACKAGED {
  background-color: #838383;
  color: #FFFFFF;
}
.bg-OPEND {
  background-color: #AEDD9B;
  color: #000000;
}
.bg-RESERVED {
  background-color: #4FAAC7;
  color: #FFFFFF;
}
