<div class="vo_modal" ng-init="initialize()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$close()"><span
                aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <h5 class="modal-title"><i class="glyphicons glyphicons-edit"></i>&nbsp;{{'TXT_BULK_UPDATE_PROPERTY' | translate}}</h5>
    </div>
    <div class="modal-body wrapper">
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">{{'TXT_PROPERTY_NAME' | translate}}</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-model="vm.propertyInfo.property"
                        ng-options="property.field as property.field.name for property in vm.properties">
                        <option value="">{{'TXT_SELECT_NO_VALUE' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{'TXT_PROPERTY_VALUE' | translate}}</label>
                <div class="col-sm-8">
                    <voption data="vm.propertyInfo.property" value="vm.propertyInfo.value"></voption>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$close()" translate="BTN_CANCEL"></button>
        <button class="btn btn-vo" ng-click="save()" translate="BTN_SAVE"></button>
    </div>
</div><!-- .vo_modal -->