<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<!--<settings>-->
		<!--<setting name="lazyLoadingEnabled" value="true" />-->
		<!--<setting name="defaultStatementTimeout" value="20000" />-->
	<!--</settings>-->
	
	<typeAliases>
		<!-- core bean -->
		<typeAlias alias="core.ExceptionLogBean" type="com.voyageone.wsdl.core.modelbean.ExceptionLogBean" />
		
		<!-- oms bean -->
		<typeAlias alias="oms.TradeInfoBean" type="com.voyageone.wsdl.oms.formbean.TradeInfoBean" />
	</typeAliases>
</configuration>
