<div class="wrapper-md" ng-init="initialize()">
    <div class="vo_accordion vo_attr">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-reorder"></i>&nbsp;{{'TXT_IMAGE_TEMPLATE_LIST' | translate}} </h4>
                </div>
                <div class="container-fluid m-t-xs m-b-xs">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'TXT_PLATFORM' | translate}}</label>
                                        <div class="col-sm-6">
                                            <label ng-repeat="platform in vm.platformList" class="checkbox-inline c-checkbox"><input type="checkbox" ng-model="platform.show" ><span class="fa fa-check"></span>&nbsp;{{platform.name}}</label>
                                        </div>
                                    </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{{'TXT_UPDATE_TIME' | translate}}</label>

                                    <div class="col-sm-9" style="margin-left: -4px;">
                                        <div class="col-sm-10 form-inline">
                                            <div class="col-sm-5 input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup ng-model="searchInfo.beginModified"
                                                       max-date="ctrl.searchInfo.endModified" date-model-format="yyyy-MM-dd" is-open="ctrl.datePicker1" ng-required="true" close-text="Close" />
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="ctrl.datePicker1 = !ctrl.datePicker1"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
                                            </div>&nbsp;~&nbsp;
                                            <div class="col-sm-5 input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup ng-model="searchInfo.endModified"
                                                       min-date="ctrl.searchInfo.beginModified" date-model-format="yyyy-MM-dd" is-open="ctrl.datePicker2" ng-required="true" close-text="Close" />
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="ctrl.datePicker2 = !ctrl.datePicker2"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{{'TXT_RELATED_BRAND_NAME' | translate}}</label>
                                    <div class="col-sm-7">
                                        <select multiple chosen class="form-control" width="'285px'" ng-model="searchInfo.brandName"
                                                ng-options="brand.value as brand.name for brand in vm.brandNameList" >
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{{'TXT_RELATED_PRODUCT_TYPE' | translate}}</label>
                                    <div class="col-sm-7">
                                        <select multiple chosen class="form-control" width="'285px'" ng-model="searchInfo.productType"
                                                ng-options="productType.value as productType.name for productType in vm.productTypeList">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{{'TXT_RELATED_SIZE_TYPE' | translate}}</label>
                                    <div class="col-sm-7">
                                        <select multiple chosen class="form-control" width="'285px'" ng-model="searchInfo.sizeType"
                                                ng-options="sizeType.value as sizeType.name for sizeType in vm.sizeTypeList">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{{'TXT_TEMPLATE_NAME' | translate}}</label>
                                    <div class="col-sm-7">
                                        <input type="text" ng-model="searchInfo.imageTemplateName" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{{'TXT_TEMPLATE_TYPE' | translate}}</label>
                                    <div class="col-sm-7">
                                        <select class="form-control" ng-model="searchInfo.imageTemplateType" width="'416px'"
                                                ng-options="m.value as m.name for m in vm.imageTemplateList">
                                            <option value="">{{'TXT_SELECT_NO_VALUE' | translate}}...</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{{'TXT_VIEW_TYPE' | translate}}</label>
                                    <div class="col-sm-7">
                                        <select class="form-control" ng-model="searchInfo.viewType" >
                                            <option value="">{{'TXT_SELECT_NO_VALUE' | translate}}...</option>
                                            <option value="1">PC</option>
                                            <option value="2">APP</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">channelId</label>
                                    <div class="col-sm-7">
                                        <input type="text" ng-model="searchInfo.channelId" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center m-b-sm"  ng-controller="popupCtrl">
                        <div class="form-inline">

                            <button class="btn btn-default" ng-click="clear()"><i class="fa fa-remove"></i>&nbsp;{{'BTN_CLEAR' | translate}}</button>
                            <button class="btn btn-vo" ng-click="search()"><i class="fa fa-search"></i>&nbsp;{{'TXT_SEARCH' | translate}}</button>
                            <button class="btn btn-success" ng-click="openImgTplEditing({search:search})"><i class="fa fa-plus"></i>&nbsp;{{'BTN_CREATE' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-body">
            <div class="table-responsive">
                <div class="col-sm-12 dropdown_table_main">
                    <table class="table table-hover-new vo_table tableWordBreak" style="margin-bottom:0px;table-layout: fixed"
                           ng-controller="popupCtrl">
                        <thead>
                        <tr>
                            <th class="mfb-xt3 text-center text-nowrap">{{'TXT_SEQ' | translate}}</th>
                            <th class="mfb-xxt text-center text-nowrap">{{'TXT_TEMPLATE_NAME' | translate}}</th>
                            <th class="mfb-xx text-center text-nowrap">{{'TXT_RELATED_BRAND_NAME' | translate}}</th>
                            <th class="mfb-xx text-center text-nowrap">{{'TXT_RELATED_PRODUCT_TYPE' | translate}}</th>
                            <th class="mfb-xx text-center text-nowrap">{{'TXT_RELATED_SIZE_TYPE' | translate}}</th>
                            <th class="mfb-xt text-center text-nowrap">{{'TXT_VIEW_TYPE' | translate}}</th>
                            <th class="mfb-xt text-center text-nowrap">{{'TXT_PLATFORM' | translate}}</th>
                            <th class="mfb-xxt text-center text-nowrap">{{'TXT_TEMPLATE_TYPE' | translate}}</th>
                            <th class="mfb-xxt text-center text-nowrap" style="width: 100px">{{'TXT_TEMPLATE_CONTENT' | translate}}</th>

                            <th class="mfb-xxx text-center text-nowrap" style="width: 300px">{{'TXT_UPDATE_TIME' | translate}}</th>
                            <th class="mfb-xxt text-center text-nowrap" >{{'TXT_COMMENT' | translate}}</th>
                            <th class="mfb-xx text-center text-nowrap">{{'BTN_EDIT' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="model in vm.modelList">
                            <td class="mfb-xt3 text-center">{{model.imageTemplateId}}</td>
                            <td class="mfb-xxt text-center">{{model.imageTemplateName}}</td>
                            <td class="mfb-xt text-center">{{model.brandNameTrans.join(' , ')}}</td>
                            <td class="mfb-xt text-center">{{model.productTypeTrans.join(' , ')}}</td>
                            <td class="mfb-xt text-center">{{model.sizeTypeTrans.join(' , ')}}</td>
                            <td class="mfb-xt text-center">{{model.viewTypeName}}</td>
                            <td class="mfb-xt text-center">{{model.cartName}}</td>
                            <td class="mfb-xxt text-center">{{model.imageTemplateTypeName}}</td>
                            <td class="mfb-xxt text-center"><textarea style="resize: none;" rows="3" readonly>{{model.imageTemplateContent}}</textarea></td>
                            <td class="mfb-xxx text-center">{{model.modified}}</td>
                            <td class="mfb-xxt text-center"><textarea style="resize: none;" rows="3" readonly>{{model.comment}}</textarea></td>
                            <td class="mfb-xx text-center">
                                <button title="设置" class="btn btn-success btn-xs" ng-click="openImgTplEditing({search:search,model:model})"><i class="fa fa-cog"></i></button>
                                <button title="删除" class="btn btn-danger btn-xs" ng-click="del(model)"><i class="fa  fa-trash-o"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div if-no-rows="vm.modelList.length"></div>
                </div>

            </div>
            <div class="col-sm-12">
                <vpagination config="dataPageOption"></vpagination>
            </div>
        </div>

    </div>
</div>