vpagination {
  display: block;
  margin: 5px auto;
}
.info-blocks {
  margin-bottom: 15px;
  &:hover{
    .icon-info-blocks{
      color:#72c02c;
    }
  }
  i.icon-info-blocks {
    float: left;
    color: #777;
    font-size: 28px;
    min-width: 50px;
    margin-top: 10px;
    text-align: center;
  }
  .info-blocks-in {
    padding: 0 10px;
    overflow: hidden;
    h3 {
      color: #555;
      font-size: 20px;
      line-height: 28px;
      margin-top: 5px;
      text-shadow: none;
      font-weight: normal;
      font-family: 'Open Sans', sans-serif;
    }
    p,li {
      font-size: 13px;
      i{
        padding-right: 5px;
      }
    }
  }
}
.color-green {
  color: #72c02c;
}