vpagination {
  display: block;
  margin: 5px auto;
}
.input.input-file{
  position: relative;
  display: block;
  overflow: hidden;
  .button_browse{
    position: absolute;
    padding: 0 20px;
    width: 986px;
    left: -100px;
    top: 4px;
    opacity: 0.8;
    -ms-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    overflow: hidden;
    outline: none;
    border: 0;
    font: 300 15px/39px 'Open Sans', Helvetica, Arial, sans-serif;
    cursor: pointer;
    display: block;
    #file{
      top: 0;
      padding: 0;
      font-size: 16px;
      cursor: pointer;
      outline: none;
      //opacity: 0;
    }
  }
  input{
    width: 100%;
    height: 32px;
  }
}

.button_upload {
  position: absolute;
  right: 16px;
  top: 64px;
  height: 31px;
  margin: 0;
  padding: 0 20px;
  font-size: 13px;
  background: #4765a0;
  line-height: 31px;
  color: aliceblue;
}