<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.cms.sql.BcbgSuperFeedDao">
    <insert id="insertWorkTables">
        INSERT INTO voyageone_cms2.cms_zz_feed_bcbg_product_temp
        (MATNR, EAN11, BRAND_ID, MATKL, ZZCODE1, ZZCODE2, ZZCODE3, MEINS, BSTME, COLOR, COLOR_ATWTB, SIZE1,
        SIZE1_ATWTB, SIZE1_ATINN, ATBEZ, SAISO, SAISJ, SAITY, SATNR, MAKTX, WLADG, WHERL, MEAN_EAN11,
        A304_DATAB, A304_DATBI, A304_KBETR, A304_KONWA, A073_DATAB, A073_DATBI, A073_KBETR, A073_KONWA, feedStyleID, md5)
        VALUES
        <foreach collection="bcbgBeans" item="bean" separator=",">
            (#{bean.MATNR}, #{bean.EAN11}, #{bean.BRAND_ID}, #{bean.MATKL}, #{bean.ZZCODE1}, #{bean.ZZCODE2},
            #{bean.ZZCODE3}, #{bean.MEINS}, #{bean.BSTME}, #{bean.COLOR}, #{bean.COLOR_ATWTB}, #{bean.SIZE1},
            #{bean.SIZE1_ATWTB}, #{bean.SIZE1_ATINN}, #{bean.ATBEZ}, #{bean.SAISO}, #{bean.SAISJ}, #{bean.SAITY},
            #{bean.SATNR}, #{bean.MAKTX}, #{bean.WLADG}, #{bean.WHERL}, #{bean.MEAN_EAN11}, #{bean.A304_DATAB},
            #{bean.A304_DATBI}, #{bean.A304_KBETR}, #{bean.A304_KONWA}, #{bean.A073_DATAB}, #{bean.A073_DATBI},
            #{bean.A073_KBETR}, #{bean.A073_KONWA}, #{bean.styleID}, #{bean.md5})
        </foreach>
    </insert>

    <delete id="delete">
        DELETE FROM voyageone_cms2.cms_zz_feed_bcbg_product_temp;
    </delete>

    <insert id="insertStyles">
        INSERT IGNORE INTO voyageone_cms2.cms_zz_feed_bcbg_styles (styleID, productDesc, productImgURLs, md5, sizeFit) VALUES
        <foreach collection="bcbgStyles" item="style" separator=",">
            (
            #{style.styleID}, #{style.productDesc},
            CONCAT(<foreach collection="style.productImgURLs" item="img" separator=",';;',">#{img}</foreach>),
            #{style.md5}, #{style.sizeFit}
            )
        </foreach>
    </insert>

    <delete id="deleteStyles">
        DELETE FROM voyageone_cms2.cms_zz_feed_bcbg_styles
    </delete>

    <select id="selectUnsaved" resultMap="SuperFeedBcbgBeanWithStyle">
        SELECT
            ID,
            MATNR,
            EAN11,
            BRAND_ID,
            MATKL,
            MATKL_ATT1,
            ZZCODE1,
            ZZCODE2,
            ZZCODE3,
            MEINS,
            BSTME,
            COLOR,
            COLOR_ATWTB,
            SIZE1,
            SIZE1_ATWTB,
            SIZE1_ATINN,
            ATBEZ,
            SAISO,
            SAISJ,
            SAITY,
            SATNR,
            MAKTX,
            WLADG,
            WHERL,
            MEAN_EAN11,
            A304_DATAB,
            A304_DATBI,
            A304_KBETR,
            A304_KONWA,
            A073_DATAB,
            A073_DATBI,
            A073_KBETR,
            A073_KONWA,
            ff.md5,
            styleID,
            productDesc,
            productImgURLs imageUrls,
            sf.md5 styleMd5,
            sf.sizeFit
        FROM voyageone_cms2.cms_zz_feed_bcbg_product_full ff
            JOIN voyageone_cms2.cms_zz_feed_bcbg_styles_full sf
                ON ff.feedStyleID = sf.styleID
        WHERE ff.saved = #{unsaved}
    </select>

    <resultMap id="SuperFeedBcbgBeanWithStyle" type="com.voyageone.task2.cms.bean.SuperFeedBcbgBean" autoMapping="true">
        <id column="ID" property="id"/>
        <association property="styleBean" javaType="com.voyageone.task2.cms.bean.BcbgStyleBean" autoMapping="true">
            <result column="styleMd5" property="md5"/>
        </association>
    </resultMap>

    <update id="updateSucceed">
        UPDATE voyageone_cms2.cms_zz_feed_bcbg_product_full
        SET saved = 1
        WHERE feedStyleID IN (
            <foreach collection="succeed" item="product" separator=",">
                #{product.code}
            </foreach>
        )
    </update>
</mapper>