<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.cms.sql">

    <resultMap id="resultMap_vtm" type="com.voyageone.task2.cms.model.CmsBtFeedInfoVtmModel">
        <result column="category" property="category" />
        <result column="channel_id" property="channelId" />
        <result column="m_product_type" property="sizeType" />
        <result column="m_brand" property="brand" />
        <result column="m_model" property="model" />
        <result column="p_name" property="name" />
        <result column="pe_short_description" property="short_description" />
        <result column="pe_long_description" property="long_description" />
        <result column="m_size_type" property="sizeType" />
        <result column="m_weight" property="weight" />
        <result column="p_code" property="code" />
        <result column="p_color" property="color" />
        <result column="p_made_in_country" property="origin" />
        <result column="Manufacturer" property="Manufacturer"/>
        <result column="Dosage Size" property="DosageSize"/>
        <result column="Dosage Units" property="DosageUnits"/>
        <result column="Suggested Use" property="SuggestedUse"/>
        <result column="Warnings" property="Warnings"/>
        <result column="clientProductURL" property="clientProductURL"/>
        <collection property="skus" javaType="ArrayList" ofType="com.voyageone.service.model.cms.mongo.feed.CmsBtFeedInfoModel_Sku" >
            <result column="i_sku" property="sku" />
            <result column="i_size" property="size" />
            <result column="i_barcode" property="barcode" />
            <result column="i_client_sku" property="clientSku" />
            <result column="price_msrp" property="price_msrp" />
            <result column="price_current" property="price_current" />
            <result column="price_net" property="price_net" />
            <result column="price_client_retail" property="price_client_retail" />
            <result column="price_client_msrp" property="price_client_msrp" />
        </collection>
        <collection property="image" javaType="ArrayList" ofType="String" >
            <result column="image" property="image" />
        </collection>
    </resultMap>
    <select id="cms_vtmfeed_select" resultMap="resultMap_vtm" parameterType="HashMap">
        select
        ${category} as category
        ,#{channel_id} as channel_id
        ,${m_product_type} as m_product_type
        ,${m_brand} as m_brand
        ,${m_model} as m_model
        ,${m_name} as m_name
        ,${m_size_type} as m_size_type
        ,${m_weight} as m_weight
        ,${p_code} as p_code
        ,${p_name} as p_name
        ,${p_color} as p_color
        ,${p_made_in_country} as p_made_in_country
        ,${pe_short_description} as pe_short_description
        <if test="p_product_type != null">
            ,${p_product_type} as p_product_type
        </if>
        ,${pe_long_description} as pe_long_description

        ,${price_client_msrp} as price_client_msrp
        ,${price_client_retail}  as price_client_retail
        ,${price_net}  as price_net
        ,${price_current}  as price_current
        ,${price_msrp}  as price_msrp
        ,${client_product_url}  as clientProductURL
        ,CONCAT(#{channel_id},'-',${i_sku}) as i_sku
        ,${i_itemcode} as i_itemcode
        ,${i_size} as i_size
        ,${i_barcode} as i_barcode
        ,${i_client_sku} as i_client_sku
        ,1 as i_active
        ,${image} as image
        ,1 as image_type
        ,0 as display_order
        ,`Manufacturer`
        ,`Warnings`
        ,`Suggested Use`
        ,`Dosage Size`
        ,`Dosage Units`
        from
        ${tableName}
        ${keyword}
    </select>

    <update id="cms_zz_worktable_vtm_superfeed_full_update">
        UPDATE voyageone_cms2.cms_zz_worktable_vtm_superfeed_full set UpdateFlag = 0
    </update>

    <update id="cms_zz_worktable_vtm_superfeed_update"  parameterType="java.util.List">
        UPDATE voyageone_cms2.cms_zz_worktable_vtm_superfeed set UpdateFlag = 3 where UpdateFlag = 1 and `SKU` in (
        <foreach collection="list" item="itemIds" index="index" separator=",">
            #{itemIds}
        </foreach>
        )
    </update>

    <insert id="cms_zz_worktable_vtm_superfeed_full_insert"  parameterType="java.util.List">
        INSERT INTO voyageone_cms2.cms_zz_worktable_vtm_superfeed_full SELECT * from
        voyageone_cms2.cms_zz_worktable_vtm_superfeed where `SKU` in
        (
        <foreach collection="list" item="itemIds" index="index" separator=",">
            #{itemIds}
        </foreach>
        )
    </insert>

    <delete id="cms_zz_worktable_vtm_superfeed_full_del" parameterType="java.util.List">
        DELETE
        FROM
        voyageone_cms2.cms_zz_worktable_vtm_superfeed_full
        where `SKU` in (
        <foreach collection="list" item="itemIds" index="index" separator=",">
            #{itemIds}
        </foreach>
        )
    </delete>
</mapper>