<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.bi.mapper.TranspotationMapper">

    <!-- 获得fms_cost_transpotation信息结构 -->
    <resultMap id="transpotationMap" type="bi.TranspotationBean">
        <result column="seq" property="seq"/>
        <result column="invoice_num" property="invoice_num"/>
        <result column="port_id" property="port_id"/>
        <result column="process_time" property="process_time"/>
        <result column="tracking_no" property="tracking_no"/>
        <result column="ship_city" property="ship_city"/>
        <result column="goods_type" property="goods_type"/>
        <result column="goods_weight_g" property="goods_weight_g"/>
        <result column="transpotation_amount" property="transpotation_amount"/>
        <result column="tracking_type" property="tracking_type"/>
        <result column="goods_qty" property="goods_qty"/>
        <result column="customer_level" property="customer_level"/>
        <result column="length" property="length"/>
        <result column="width" property="width"/>
        <result column="height" property="height"/>
        <result column="volumn_weight_g" property="volumn_weight_g"/>
        <result column="organization_num" property="organization_num"/>
        <result column="main_waybill_num" property="main_waybill_num"/>
        <result column="notes" property="notes"/>
    </resultMap>

    <!-- 设定fms_cost_transpotation检索条件 -->
    <sql id="fms_cost_transpotation_condition">
        <where>
            <if test="invoice_num != null and invoice_num != '' ">
                and invoice_num = #{invoice_num}
            </if>
            <if test="tracking_no != null and tracking_no != '' ">
                and tracking_no = #{tracking_no}
            </if>
            <if test="main_waybill_num != null and main_waybill_num != '' ">
                and main_waybill_num = #{main_waybill_num}
            </if>
            <if test="process_time_from != null and process_time_from != '' ">
                AND process_time <![CDATA[>=]]> convert(#{process_time_from}, datetime)
            </if>
            <if test="process_time_to != null and process_time_to != '' ">
                AND process_time <![CDATA[<=]]> convert(#{process_time_to}, datetime)
            </if>
        </where>
    </sql>

    <sql id="fms_cost_transpotation_condition_fuzzy">
        <where>
            <if test="invoice_num != null and invoice_num != '' ">
                and invoice_num LIKE CONCAT('%',#{invoice_num},'%' )
            </if>
            <if test="tracking_no != null and tracking_no != '' ">
                and tracking_no LIKE CONCAT('%',#{tracking_no},'%' )
            </if>
            <if test="main_waybill_num != null and main_waybill_num != '' ">
                and main_waybill_num LIKE CONCAT('%',#{main_waybill_num},'%' )
            </if>
            <if test="process_time_from != null and process_time_from != '' ">
                AND process_time <![CDATA[>=]]> convert(#{process_time_from}, datetime)
            </if>
            <if test="process_time_to != null and process_time_to != '' ">
                AND process_time <![CDATA[<=]]> convert(#{process_time_to}, datetime)
            </if>
        </where>
    </sql>

    <!-- 获得fms_cost_transpotation数量 -->
    <select id="select_count_fms_cost_transpotation" parameterType="Map" resultType="int">
        select
        count(1)
        from bi_source.fms_cost_transpotation
        <include refid="fms_cost_transpotation_condition"/>
    </select>

    <select id="select_record_fms_cost_transpotation" parameterType="Map"
            resultMap="transpotationMap">
        SELECT
        seq,
        invoice_num,
        port_id,
        process_time,
        tracking_no,
        ship_city,
        goods_type,
        goods_weight_g,
        transpotation_amount,
        tracking_type,
        goods_qty,
        customer_level,
        length,
        width,
        height,
        volumn_weight_g,
        organization_num,
        main_waybill_num,
        notes
        FROM bi_source.fms_cost_transpotation
        <include refid="fms_cost_transpotation_condition"/>
        LIMIT 1
    </select>

    <!-- 检索fms_cost_transpotation信息 -->
    <select id="select_list_fms_cost_transpotation" parameterType="Map" resultMap="transpotationMap">
        SELECT
        seq,
        invoice_num,
        port_id,
        process_time,
        tracking_no,
        ship_city,
        goods_type,
        goods_weight_g,
        transpotation_amount,
        tracking_type,
        goods_qty,
        customer_level,
        length,
        width,
        height,
        volumn_weight_g,
        organization_num,
        main_waybill_num,
        notes
        FROM bi_source.fms_cost_transpotation
        <include refid="fms_cost_transpotation_condition_fuzzy"/>
        ORDER BY
        invoice_num,
        seq
        <if test="init_index != null and init_index != '' and get_size != null and get_size != ''">
            LIMIT #{init_index}, #{get_size}
        </if>
    </select>

    <insert id="insert_fms_cost_transpotation" parameterType="Map">
        INSERT INTO bi_source.fms_cost_transpotation (
        seq,
        invoice_num,
        port_id,
        process_time,
        tracking_no,
        ship_city,
        goods_type,
        goods_weight_g,
        transpotation_amount,
        tracking_type,
        goods_qty,
        customer_level,
        length,
        width,
        height,
        volumn_weight_g,
        organization_num,
        main_waybill_num,
        notes
        )
        VALUES
        (
        NULL,
        &apos;${TranspotationBean.invoice_num}&apos;,
        &apos;${TranspotationBean.port_id}&apos;,
        &apos;${TranspotationBean.process_time}&apos;,
        &apos;${TranspotationBean.tracking_no}&apos;,
        &apos;${TranspotationBean.ship_city}&apos;,
        &apos;${TranspotationBean.goods_type}&apos;,
        &apos;${TranspotationBean.goods_weight_g}&apos;,
        &apos;${TranspotationBean.transpotation_amount}&apos;,
        &apos;${TranspotationBean.tracking_type}&apos;,
        &apos;${TranspotationBean.goods_qty}&apos;,
        &apos;${TranspotationBean.customer_level}&apos;,
        &apos;${TranspotationBean.length}&apos;,
        &apos;${TranspotationBean.width}&apos;,
        &apos;${TranspotationBean.height}&apos;,
        &apos;${TranspotationBean.volumn_weight_g}&apos;,
        &apos;${TranspotationBean.organization_num}&apos;,
        &apos;${TranspotationBean.main_waybill_num}&apos;,
        &apos;${TranspotationBean.notes}&apos;
        )
    </insert>

    <insert id="insert_list_fms_cost_transpotation" parameterType="Map" useGeneratedKeys="true">
        INSERT INTO bi_source.fms_cost_transpotation
        <foreach collection="column" index="index" item="columnname" open="(" separator="," close=")">
            ${columnname}
        </foreach>
        VALUES
        <foreach collection="value" index="index" item="TranspotationBean" separator=",">
            (
            NULL,
            &apos;${TranspotationBean.invoice_num}&apos;,
            &apos;${TranspotationBean.port_id}&apos;,
            &apos;${TranspotationBean.process_time}&apos;,
            &apos;${TranspotationBean.tracking_no}&apos;,
            &apos;${TranspotationBean.ship_city}&apos;,
            &apos;${TranspotationBean.goods_type}&apos;,
            &apos;${TranspotationBean.goods_weight_g}&apos;,
            &apos;${TranspotationBean.transpotation_amount}&apos;,
            &apos;${TranspotationBean.tracking_type}&apos;,
            &apos;${TranspotationBean.goods_qty}&apos;,
            &apos;${TranspotationBean.customer_level}&apos;,
            &apos;${TranspotationBean.length}&apos;,
            &apos;${TranspotationBean.width}&apos;,
            &apos;${TranspotationBean.height}&apos;,
            &apos;${TranspotationBean.volumn_weight_g}&apos;,
            &apos;${TranspotationBean.organization_num}&apos;,
            &apos;${TranspotationBean.main_waybill_num}&apos;,
            &apos;${TranspotationBean.notes}&apos;
            )
        </foreach>
    </insert>

    <!-- 检索fms_cost_transpotation信息 -->
    <delete id="delete_fms_cost_transpotation" parameterType="Map">
        DELETE FROM bi_master.fms_cost_transpotation
        <include refid="fms_cost_transpotation_condition"/>
    </delete>

    <update id="update_fms_cost_transpotation" parameterType="Map">
        UPDATE bi_source.fms_cost_transpotation
        SET
        &apos;${TranspotationBean.invoice_num}&apos;,
        &apos;${TranspotationBean.port_id}&apos;,
        &apos;${TranspotationBean.process_time}&apos;,
        &apos;${TranspotationBean.tracking_no}&apos;,
        &apos;${TranspotationBean.ship_city}&apos;,
        &apos;${TranspotationBean.goods_type}&apos;,
        &apos;${TranspotationBean.goods_weight_g}&apos;,
        &apos;${TranspotationBean.transpotation_amount}&apos;,
        &apos;${TranspotationBean.tracking_type}&apos;,
        &apos;${TranspotationBean.goods_qty}&apos;,
        &apos;${TranspotationBean.customer_level}&apos;,
        &apos;${TranspotationBean.length}&apos;,
        &apos;${TranspotationBean.width}&apos;,
        &apos;${TranspotationBean.height}&apos;,
        &apos;${TranspotationBean.volumn_weight_g}&apos;,
        &apos;${TranspotationBean.organization_num}&apos;,
        &apos;${TranspotationBean.main_waybill_num}&apos;,
        &apos;${TranspotationBean.notes}&apos;
        <include refid="fms_cost_transpotation_condition"/>
    </update>

</mapper>
