<div class="wrapper-md" ng-init="init()">
    <div class="vo_accordion vo_attr">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="glyphicon glyphicon-star"></i>&nbsp;欢迎页面
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-body-new">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i><a href="#/feed/product_list" target="_blank">&nbsp;&nbsp;信息一览</a></h3>
                    </div>
                    <div class="panel-body white-bg">
                        <div class="col-sm-12">
                            <ul class="stat-boxes">
                                <li>
                                    <div class="right data-priority-0" ng-click="jump('/feed/product_list',{})">
                                        <div class="col-sm-4">
                                            <span class="right-side">Feed信息</span>
                                        </div>
                                        <div class="col-sm-8">
                                            <strong>{{vm.sumData.feedSum.CMS_FEED_ALL.amountVal}}</strong>
                                            Feed商品数
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="right data-priority-3" ng-click="jump('/feed/product_list',{status:'9'})">
                                        <div class="col-sm-4">
                                            <span class="right-side">Feed信息</span>
                                        </div>
                                        <div class="col-sm-8">
                                            <strong>{{vm.sumData.feedSum.CMS_FEED_STATUS_NEW.amountVal}}</strong>
                                            新品数
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="right data-priority-4" ng-click="jump('/feed/product_list',{status:'1'})">
                                        <div class="col-sm-4">
                                            <span class="right-side">Feed信息</span>
                                        </div>
                                        <div class="col-sm-8">
                                            <strong>{{vm.sumData.feedSum.CMS_FEED_STATUS_IMPORT_FINISH.amountVal}}</strong>
                                            导入完成数
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="right data-priority-0" ng-click="jump('/feed/product_list',{status:'3'})">
                                        <div class="col-sm-4">
                                            <span class="right-side">Feed信息</span>
                                        </div>
                                        <div class="col-sm-8">
                                            <strong>{{vm.sumData.feedSum.CMS_FEED_STATUS_NOT_IMPORT.amountVal}}</strong>
                                            不导入数
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="right data-priority-1" ng-click="jump('/feed/product_list',{status:'2'})">
                                        <div class="col-sm-4">
                                            <span class="right-side">Feed信息</span>
                                        </div>
                                        <div class="col-sm-8">
                                            <strong>{{vm.sumData.feedSum.CMS_FEED_STATUS_IMPORT_FAILD.amountVal}}</strong>
                                            导入失败数
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="right data-priority-1" ng-click="jump('/feed/product_list',{status:'8'})">
                                        <div class="col-sm-4">
                                            <span class="right-side">Feed信息</span>
                                        </div>
                                        <div class="col-sm-8">
                                            <strong>{{vm.sumData.feedSum.CMS_FEED_DATA_ERROR.amountVal}}</strong>
                                            Feed数据错误
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="right data-priority-2"  ng-click="jump('/search/advanceSearch',{mCatStatus:'0'})">
                                        <div class="col-sm-4">
                                            <span class="right-side">主数据信息</span>
                                        </div>
                                        <div class="col-sm-8">
                                            <strong>{{vm.sumData.masterSum.CMS_MASTER_NO_CATEGORY.amountVal}}</strong>
                                            等待设置主类目数
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="right  data-priority-2"ng-click="jump('/search/advanceSearch',{taxNoStatus:'0'})">
                                        <div class="col-sm-4">
                                            <span class="right-side">主数据信息</span>
                                        </div>
                                        <div class="col-sm-8">
                                            <strong>{{vm.sumData.masterSum.CMS_MASTER_NO_HSCODE.amountVal}}</strong>
                                            等待设置税号数
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="right data-priority-2" ng-click="jump('/search/advanceSearch',{transStsFlg:'0'})">
                                        <div class="col-sm-4">
                                            <span class="right-side">主数据信息</span>
                                        </div>
                                        <div class="col-sm-8">
                                            <strong>{{vm.sumData.masterSum.CMS_MASTER_UNTRANSLATED.amountVal}}</strong>
                                            等待翻译数
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i>&nbsp;&nbsp;价格信息</h3>
                        </div>
                        <div class="panel-body white-bg">
                            <div class="span12 center" style="text-align: center;">
                                <div class="table-responsive table-hover table-striped">
                                    <div class="col-sm-12 dropdown_table_main">
                                        <table class="table table-hover-new table-hover vo_table">
                                            <thead>
                                            <tr>
                                                <th class="mfb-xxt text-center">平台</th>
                                                <th class="mfb-xxt text-center">比指导价低数</th>
                                                <th class="mfb-xxt text-center">比指导价高</th>
                                                <th class="mfb-xxt text-center">击穿警告</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!--"cartId":23,"productStatus":[],"platformStatus":[],"pCatStatus":0,"promotionTagType":1,"cidValue":[],"shopCatStatus":0,"priceDiffFlg":"2"-->
                                            <tr ng-repeat="m in vm.sumData.listPlatformPriceSum">
                                                <td class="mfb-xxt text-center">{{m.platformName}}</td>
                                                <td class="mfb-xxt text-center"  ><a ng-click="jump('/search/advanceSearch',{cartId:m.CMS_PLATFORM_PRICE_DOWN.cartId,priceDiffFlg:'2'})">{{m.CMS_PLATFORM_PRICE_DOWN.amountVal}}</a></td>
                                                <td class="mfb-xxt text-center"><a ng-click="jump('/search/advanceSearch',{cartId:m.CMS_PLATFORM_PRICE_DOWN.cartId,priceDiffFlg:'3'})">{{m.CMS_PLATFORM_PRICE_UP.amountVal}}</a></td>
                                                <td class="mfb-xxt text-center"><a ng-click="jump('/search/advanceSearch',{cartId:m.CMS_PLATFORM_PRICE_DOWN.cartId,priceDiffFlg:'1'})"><label class="label label-danger">{{m.CMS_PLATFORM_PRICE_BREAKDOWN.amountVal}}</label></a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">平台信息</h3>
                        </div>
                        <div class="panel-body white-bg">
                            <div class="table-responsive table-hover table-striped">
                                <div class="col-sm-12 dropdown_table_main">
                                    <table class="table table-hover-new table-hover vo_table">
                                        <thead>
                                        <tr>
                                            <th class="mfb-xxt text-center">平台</th>
                                            <th class="mfb-xt text-center">商品数</th>
                                            <th class="mfb-xxt text-center">等待设置平台类目</th>
                                            <th class="mfb-xxt text-center">等待设置属性数</th>
                                            <th class="mfb-xxt text-center">等待Approved数</th>
                                            <th class="mfb-xxt text-center">等待上新数</th>
                                            <th class="mfb-xxs text-center">上新成功数</th>
                                            <th class="mfb-xxt text-center">上新失败数</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="m in vm.sumData.listPlatformInfoSum">
                                            <td class="mfb-xxt text-center">{{m.platformName}}</td>
                                            <td class="mfb-xxt text-center">{{m.CMS_PLATFORM_ALL.amountVal}}</td>
                                            <td class="mfb-xxt text-center">{{m.CMS_PLATFORM_NO_CATEGORY.amountVal}}</td>
                                            <td class="mfb-xxt text-center">{{m.CMS_PLATFORM_NO_ATTRIBUTE.amountVal}}</td>
                                            <td class="mfb-xxt text-center">{{m.CMS_PLATFORM_READY.amountVal}}</td>
                                            <td class="mfb-xxt text-center">{{m.CMS_PLATFORM_WAITING_PUBLISH.amountVal}}</td>
                                            <td class="mfb-xxt text-center">{{m.CMS_PLATFORM_PUBLISH_SUCCESS.amountVal}}</td>
                                            <td class="mfb-xxt text-center"><label class="label label-danger">{{m.CMS_PLATFORM_PUBLISH_FAILD.amountVal}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>