
<div class="wrapper-md"><!--{{title}}-->
    <div class="text-center text-hs ng-binding ng-scope" id="noData">
        <h4 class="text-vo ng-binding"><i class="icon fa fa-warning"></i>&nbsp;{{'TXT_REMINDER_WITH_COLON' | translate}}</h4>{{'TXT_MSG_PAGE_IS_BUILDING' | translate}}
    </div>
    <!--<div class="col-sm-6 box box-solid box-success">-->
        <!--<div class="box-header">-->
            <!--<h3 class="box-title">FEED信息</h3>-->
        <!--</div>-->
        <!--<div class="box">-->
            <!--<div class="box-body">-->
                <!--<table class="table table-striped text-center">-->
                    <!--<tr>-->
                        <!--<th class="text-center">Feed商品数</th>-->
                        <!--<th class="text-center">未匹配类目数</th>-->
                        <!--<th class="text-center">未匹配类目属性数</th>-->
                        <!--<th class="text-center">导入CMS失败数</th>-->
                        <!--<th class="text-center">数据同步商品数</th>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td><a href="#">180</a></td>-->
                        <!--<td><a href="#">60</a></td>-->
                        <!--<td><a href="#">30</a></td>-->
                        <!--<td><a href="#">900</a></td>-->
                        <!--<td><a href="#">452</a></td>-->
                    <!--</tr>-->
                <!--</table>-->
            <!--</div>&lt;!&ndash; /.box-body &ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="col-sm-6 box box-solid box-blue">-->
        <!--<div class="box-header">-->
            <!--<h3 class="box-title">CMS信息</h3>-->
        <!--</div>-->
        <!--<div class="box">-->
            <!--<div class="box-body">-->
                <!--<table class="table table-striped text-center">-->
                    <!--<tr>-->
                        <!--<th class="text-center">All</th>-->
                        <!--<th class="text-center">New</th>-->
                        <!--<th class="text-center">Pending</th>-->
                        <!--<th class="text-center">Ready</th>-->
                        <!--<th class="text-center">Approved</th>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td><a href="#">180</a></td>-->
                        <!--<td><a href="#">30</a></td>-->
                        <!--<td><a href="#">900</a></td>-->
                        <!--<td><a href="#">60457</a></td>-->
                        <!--<td><a href="#">30</a></td>-->
                    <!--</tr>-->
                <!--</table>-->
            <!--</div>&lt;!&ndash; /.box-body &ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="col-sm-12">-->
        <!--<div class="box box-solid box-warning">-->
            <!--<div class="box-header">-->
                <!--<h3 class="box-title">各平台信息</h3>-->
            <!--</div>-->
            <!--<div class="box">-->
                <!--<div class="box-body">-->
                    <!--<table class="table table-striped text-center">-->
                        <!--<tr>-->
                            <!--<th class="text-center">平台</th>-->
                            <!--<th class="text-center">未优化Group数</th>-->
                            <!--<th class="text-center">商品数</th>-->
                            <!--<th class="text-center">等待上新数</th>-->
                            <!--<th class="text-center">在库数</th>-->
                            <!--<th class="text-center">等待上新数</th>-->
                            <!--<th class="text-center">在售数</th>-->
                            <!--<th class="text-center">存在价格缓冲商品数</th>-->
                            <!--<th class="text-center">上新失败商品数</th>-->
                            <!--<th class="text-center">强制下架商品数</th>-->
                            <!--<th class="text-center">价格变化商品数</th>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td><span class="badge badge-empty">天猫</span></td>-->
                            <!--<td><a href="#">60457</a></td>-->
                            <!--<td><a href="#">30</a></td>-->
                            <!--<td><a href="#">60457</a></td>-->
                            <!--<td><a href="#">30</a></td>-->
                            <!--<td><a href="#">180</a></td>-->
                            <!--<td><a href="#">30</a></td>-->
                            <!--<td><a href="#">900</a></td>-->
                            <!--<td><a href="#" style="text-decoration:none"><span class="label label-danger-new">60457</span></a></td>-->
                            <!--<td><a href="#" style="text-decoration:none"><span class="label label-yellow-new">549630</span></a></td>-->
                            <!--<td><a href="#" style="text-decoration:none"><span class="label label-success-new">361</span></a></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td><span class="badge badge-empty">京东</span></td>-->
                            <!--<td><a href="#">60457</a></td>-->
                            <!--<td><a href="#">30</a></td>-->
                            <!--<td><a href="#">60457</a></td>-->
                            <!--<td><a href="#">30</a></td>-->
                            <!--<td><a href="#">180</a></td>-->
                            <!--<td><a href="#">30</a></td>-->
                            <!--<td><a href="#">900</a></td>-->
                            <!--<td><a href="#" style="text-decoration:none"><span class="label label-danger-new">60457</span></a></td>-->
                            <!--<td><a href="#" style="text-decoration:none"><span class="label label-yellow-new">549630</span></a></td>-->
                            <!--<td><a href="#" style="text-decoration:none"><span class="label label-success-new">361</span></a></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td><span class="badge badge-empty">聚美</span></td>-->
                            <!--<td><a href="#">60457</a></td>-->
                            <!--<td><a href="#">30</a></td>-->
                            <!--<td><a href="#">60457</a></td>-->
                            <!--<td><a href="#">30</a></td>-->
                            <!--<td><a href="#">180</a></td>-->
                            <!--<td><a href="#">30</a></td>-->
                            <!--<td><a href="#">900</a></td>-->
                            <!--<td><a href="#" style="text-decoration:none"><span class="label label-danger-new">60457</span></a></td>-->
                            <!--<td><a href="#" style="text-decoration:none"><span class="label label-yellow-new">549630</span></a></td>-->
                            <!--<td><a href="#" style="text-decoration:none"><span class="label label-success-new">361</span></a></td>-->
                        <!--</tr>-->

                    <!--</table>-->
                <!--</div>&lt;!&ndash; /.box-body &ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->
</div><!-- end .wrapper-md -->