<div class="vo_modal" ng-init="initialize()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()"><span
                aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <h5 class="modal-title"><i class="glyphicons glyphicons-edit"></i>&nbsp;{{'TXT_BULK_UPDATE_PROPERTY' | translate}}</h5>
    </div>
    <div class="modal-body wrapper">
        <form role="form" class="form-horizontal" name="fieldForm">
            <div class="form-group">
                <label class="col-sm-3 control-label vo_reqfield">{{'TXT_PROPERTY_NAME_WITH_COLON' | translate}}</label>
                <div class="col-sm-7">
                    <select class="form-control" ng-model="vm.propertyInfo.property" name="property" ng-click="vm.propertyInfo.property.value=null"
                        ng-options="property.field as property.field.name for property in vm.properties">
                        <option value="">{{'TXT_SELECT_NO_VALUE' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-7 col-sm-offset-3">
                    <vo-message target="fieldForm.property"></vo-message>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label vo_reqfield">{{'TXT_PROPERTY_VALUE_WITH_COLON' | translate}}</label>
                <div class="col-sm-7">
                    <s-field ng-if="vm.propertyInfo.property.id" field="vm.propertyInfo.property" show-name="false"></s-field>
                </div>
            </div>



            <div class="form-group" style="padding-top:8px" ng-show="(vm.propertyInfo.property.id=='translateStatus')&&(vm.propertyInfo.property.value.value=='2')">
                <label class="col-sm-3 control-label">优先翻译日期</label>
                <div class="col-sm-5 input-group" style="padding-left:4px">
                    <input type="text" class="form-control" uib-datepicker-popup min-date = "vm.currentTime"
                           ng-model="vm.propertyInfo.property.value.priorTranslateDate" onkeypress="return (/[\d-]/.test(String.fromCharCode(event.keyCode)))" onpaste="return false" maxlength="10"
                           date-model-format="yyyy-MM-dd" is-open="datePicker1" close-text="Close"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="datePicker1 = !datePicker1"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="form-group" style="padding-top:8px" ng-show="(vm.propertyInfo.property.id=='hsCodePrivate')&&(vm.autoSynPrice!='1')">
                <div class="col-sm-3 control-label">确认项</div>
                <div class="col-sm-2">
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" ng-model="vm.propertyInfo.synPrice" class="onoffswitch-checkbox" id="myonoffswitch4" checked>
                        <label class="onoffswitch-label" for="myonoffswitch4">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div><div style="margin-top:3px">是否自动同步指导价到最终售价？</div>
            </div>
            <div class="form-group" style="padding-top:8px" ng-show="vm.propertyInfo.property.id=='title'">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3 checkbox">
                        <label>
                            <input type="radio" name="productTitlePlace" value="cover" ng-model="vm.propertyInfo.titlePlace" checked>&nbsp;&nbsp;覆盖
                        </label>
                        <label>
                            <input type="radio" name="productTitlePlace" value="suffix" ng-model="vm.propertyInfo.titlePlace">&nbsp;&nbsp;后缀
                        </label>
                        <label>
                            <input type="radio" name="productTitlePlace" value="prefix" ng-model="vm.propertyInfo.titlePlace">&nbsp;&nbsp;前缀
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$dismiss()"><i class="fa fa-remove"></i>&nbsp;{{'BTN_CANCEL' | translate}}</button>
        <button class="btn btn-vo" ng-click="save()"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;{{'BTN_SAVE' | translate}}</button>
    </div>
</div><!-- .vo_modal -->