<div class="vo_modal" ng-init="ctrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"  ng-click="$dismiss()">
            <span aria-hidden="true"><i class="fa fa-close"></i></span>
        </button>
        <h5 class="modal-title"><i class="fa fa-pencil"></i><span class="label" >&nbsp;{{'TXT_TAG_MANAGEMENT'|translate}}&nbsp;</span></h5>
    </div>
    <div class="modal-body wrapper">
        <form role="form" class="form-horizontal m-b-md ng-pristine ng-valid">
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="box">
                    <!---------------------------------------Tag one-------------------------------------->
                    <div class="category_drag col-sm-4">
                        <div class="category_drag_main">
                            <p class="text-center text-vo font-bold" translate="TXT_TAG_ONE"></p>
                            <div class="form-inline m-l-xs">
                                <input type="text" placeholder="快速检索" class="form-control" style="width:80%" ng-model="key[0]">
                                <button type="submit" class="btn btn-vo btn-xxs" ng-click="ctrl.search(0)"><i class="fa fa-search"></i></button>
                            </div>
                            <div class="category_drag_list_dp" style="height:260px;">
                                <ul>
                                    <li ng-repeat="tag1 in ctrl.tree[0]">
                                        <a href="javascript:void(0)" ng-click="ctrl.selected[0] = tag1;ctrl.search(1);" ng-class="{indexSelected:ctrl.selected[0] == tag1}">
                                            <span>{{tag1.tagChildrenName}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!---------------------------------------Tag two-------------------------------------->
                    <div class="category_drag col-sm-4">
                        <div class="category_drag_main">
                            <p class="text-center text-vo font-bold" translate="TXT_TAG_TWO"></p>

                            <div class="form-inline m-l-xs">
                                <input type="text" placeholder="快速检索" class="form-control" style="width:80%" ng-model="key[1]">
                                <button type="submit" class="btn btn-vo btn-xxs" ng-click="ctrl.search(1)"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <div class="category_drag_list_dp" style="height:260px;">
                            <ul>
                                <li ng-repeat="tag2 in ctrl.tree[1]">
                                    <a href="javascript:void(0)" ng-click="ctrl.selected[1] = tag2;ctrl.search(2)"  ng-class="{indexSelected:ctrl.selected[1] == tag2}">
                                        <span>{{tag2.tagChildrenName}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!---------------------------------------Tag three-------------------------------------->
                    <div class="category_drag col-sm-4">
                        <div class="category_drag_main">
                            <p class="text-center text-vo font-bold" translate="TXT_TAG_THREE"></p>

                            <div class="form-inline m-l-xs">
                                <input type="text" placeholder="快速检索" class="form-control" style="width:80%" ng-model="key[2]">
                                <button type="submit" class="btn btn-vo btn-xxs" ng-click="ctrl.search(2)"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <div class="category_drag_list_dp" style="height:260px;">
                            <ul>
                                <li ng-repeat="tag3 in ctrl.tree[2]">
                                    <a href="javascript:void(0)" ng-click="ctrl.selected[2] = tag3;ctrl.search(3)"  ng-class="{indexSelected:ctrl.selected[2] == tag3}">
                                        <span>{{ tag3.tagChildrenName }}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="category_ts category_highlight" ng-show="ctrl.selectdTagListValid">
                        <p class="text-center">Sorry! 您已重复选择了：&nbsp;&nbsp;<span> {{ ctrl.doubleValue }} </span></p>
                    </div>
                    <div class="category_ts">
                        <p>{{'TXT_CURRENT_CATEGORY_WITH_COLON' | translate}}<span> {{ ctrl.tagPath }} </span>
                            <button class="btn btn-default pull-right" ng-click="ctrl.confirm()" ng-model="ctrl.count" style="margin-top: -5px;">清除重复值</button>
                            <button class="btn btn-default pull-right" ng-click="ctrl.delete()" ng-model="ctrl.count" style="margin-top: -5px;">确认添加此类目作为搜索条件</button>
                        </p>
                    </div>
                    <div class="category_ts">
                        <p>您已选择了：<span> {{ ctrl.selectdTagList }} </span>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default ng-binding" ng-click="$dismiss()"><i class="fa fa-remove"></i> 取消</button>
        <button class="btn btn-vo ng-binding" ng-click="ctrl.save()"><i class="glyphicon glyphicon-floppy-disk"></i> 保存</button>
    </div>
</div><!-- .vo_modal -->