<div class="vo_modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()"><span
                aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <h5 class="modal-title"><i class="glyphicons glyphicons-edit"></i>&nbsp;{{'TXT_FINAL_SALE_PRICE_SETTING' | translate}}</h5>
    </div>
    <div class="modal-body wrapper">
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-3 control-label">
                    <label class="">{{'TXT_CART_NAME' | translate}}</label>
                </div>
                <div class="col-sm-7">
                    <select class="form-control" ng-model="vm.cartId" ng-options="cart.value as cart.name for cart in vm.cartList" disabled>
                        <option value="">{{'TXT_SELECT_NO_VALUE' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3 text-right">
                    <label class="control-label">{{'TXT_BASE_PRICE' |translate}}</label>
                </div>
                <div class="col-sm-8">
                    <div class="col-sm-6">
                        <label class="checkbox-inline c-radio">
                            <input type="radio" value="priceMsrp" ng-model="vm.priceType" ng-click="chkPriceType('1','TXT_MSRP_PRICE')"><span class="fa fa-check"></span> {{'TXT_MSRP_PRICE'|translate}}
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="checkbox-inline c-radio">
                            <input type="radio" value="priceRetail" ng-model="vm.priceType" ng-click="chkPriceType('2','TXT_RETAIL_PRICE_WITH_COLON')"><span class="fa fa-check"></span> {{'TXT_RETAIL_PRICE_WITH_COLON'|translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-3">
                    <div class="col-sm-6">
                        <label class="checkbox-inline c-radio">
                            <input type="radio" value="priceSale" ng-model="vm.priceType" ng-click="chkPriceType('3','TXT_SALE_PRICE')"><span class="fa fa-check"></span> {{'TXT_SALE_PRICE'|translate}}
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="checkbox-inline c-radio">
                            <input type="radio" value="" ng-model="vm.priceType" ng-click="chkPriceType('4','')"><span class="fa fa-check"></span> {{'TXT_NONE'|translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3 text-right">
                    <label class="control-label">{{'TXT_EXPRESSION' | translate}}</label>
                </div>
                <div class="col-sm-8">
                    <div class="col-sm-4">
                        <select class="form-control" ng-model="vm.optType" ng-disabled="vm._optStatus" ng-change="chkOptionType()">
                            <option value="" selected="selected">{{'TXT_SELECT_NO_VALUE' | translate}}</option>
                            <option value="*">*</option>
                            <option value="+">+</option>
                            <option value="-">-</option>
                            <option value="=">=</option>
                        </select>
                    </div>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" ng-if="vm.priceInputFlg" ng-model="vm.priceValue" placeholder="请输入数字" onkeypress="return (/[\d|.]/.test(String.fromCharCode(event.keyCode)))" onpaste="return false" maxlength="15">
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="vm.priceType">
                <div style="margin-left:60px;margin-top:15px">
                    <label class="checkbox-inline c-radio">
                        <input ng-disabled = "vm.config && vm.config.configValue2 != '0'" type="radio" value="0" ng-model="vm.skuUpdType"><span class="fa fa-check"></span> SKU价格不统一
                    </label>
                    <label class="checkbox-inline c-radio">
                        <input ng-disabled = "vm.config && vm.config.configValue2 != '0' && vm.config.configValue2 != '1'" type="radio" value="1" ng-model="vm.skuUpdType"><span class="fa fa-check"></span> SKU统一最高价
                    </label>
                    <label class="checkbox-inline c-radio">
                        <input ng-disabled = "vm.config && vm.config.configValue2 != '0' && vm.config.configValue2 != '2'" type="radio" value="2" ng-model="vm.skuUpdType"><span class="fa fa-check"></span> SKU统一最低价
                    </label>
                    <label class="checkbox-inline c-radio">
                        <input ng-disabled = "vm.config && vm.config.configValue2 != '0' && vm.config.configValue2 != '3'" type="radio" value="3" ng-model="vm.skuUpdType"><span class="fa fa-check"></span> SKU价格按黄金码统一
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div style="margin-left:60px;margin-top:10px">
                    <label class="checkbox-inline c-radio" style="margin-left:25px">
                        <input ng-disabled = "vm.config && vm.config.configValue3 != '0'" type="radio" value="0" ng-model="vm.roundType"><span class="fa fa-check"></span> 无特殊处理
                    </label>
                    <label class="checkbox-inline c-radio" >
                        <input ng-disabled = "vm.config && vm.config.configValue3 != '0' && vm.config.configValue3 != '1'" type="radio" value="1" ng-model="vm.roundType"><span class="fa fa-check"></span> 小数点向上取整
                    </label>
                    <label class="checkbox-inline c-radio">
                        <input ng-disabled = "vm.config && vm.config.configValue3 != '0' && vm.config.configValue3 != '2'" type="radio" value="2" ng-model="vm.roundType"><span class="fa fa-check"></span> 个位向下取整
                    </label>
                    <label class="checkbox-inline c-radio">
                        <input ng-disabled = "vm.config && vm.config.configValue3 != '0' && vm.config.configValue3 != '3'" type="radio" value="3" ng-model="vm.roundType"><span class="fa fa-check"></span> 个位向上取整
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3 text-right">
                    <label class="control-label">{{'TXT_FINAL_SALE_PRICE' | translate}}</label>
                </div>
                <div class="col-sm-1 text-center m-t-xs"> = </div>
                <div class="col-sm-5 m-t-xs">
                   {{vm._typeText}}&nbsp;&nbsp;{{vm._opeText}}&nbsp;&nbsp;{{vm.priceValue}}
                </div>
            </div>
            <!--<div style="margin-left:120px;margin-top:20px;color:red">-->
                <!--<span>最终售价的计算结果在以下情况下不更新：</span><br><span>1.低于指导价不更新</span><br><span>2.超过阈值不更新</span>-->
            <!--</div>-->
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$dismiss()"><i class="fa fa-remove"></i>&nbsp;{{'BTN_CANCEL' | translate}}</button>
        <button class="btn btn-vo" ng-click="save()"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;{{'BTN_SAVE' | translate}}</button>
    </div>
</div><!-- .vo_modal -->