<label class="checkbox-inline c-checkbox" ng-repeat="option in ::$data.options"><input type="checkbox"
                                                                                       validators
                                                                                       ng-model="option.selected"
                                                                                       ng-checked="option.selected"
                                                                                       ng-change="changed(option)"><span
        class="fa fa-check"></span>&nbsp;{{::option.displayName}}</label>