<div class="input-group">
    <input validators type="text" class="form-control" uib-datepicker-popup
                                ng-model="$data.value" date-model-format="yyyy-MM-dd HH:mm:ss" is-open="datePicker"
                                close-text="Close"/><span class="input-group-btn"><button validators type="button"
                                                                                          class="btn btn-default"
                                                                                          ng-click="datePicker = !datePicker">
    <i class="glyphicon glyphicon-calendar"></i></button></span>
</div>
