<div class="table-responsive">
<table class="table text-left">
    <thead>
    <tr>
        <th ng-repeat="field in $data.fields" ng-class="{'vo_reqfield': schema.isRequired}"
            class="text-left">{{field.name}}
        </th>
        <th ng-if="!schema.notShowEdit" class="text-left">{{::'TXT_ACTION'|translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="value in $data.complexValues">
        <td class="text-left" ng-repeat="field in value.fieldMap">
            <div class="">
                <p ng-if="::field.type!='COMPLEX'">&nbsp;</p>
                <p>
                    <schema-item data="field" hastip="true" complex="true"></schema-item>
                </p>
            </div>
        </td>
        <td ng-if="!schema.notShowEdit">
            <button title="{{::'BTN_DELETE'|translate}}" class="btn btn-danger btn-xs" ng-click="delField($index)"><i
                    class="fa  fa-trash-o"></i></button>
        </td>
    </tr>
    </tbody>
</table>
</div>