<label class="checkbox-inline c-radio" ng-repeat="option in $data.options"><input name="{{$data.id}}"
                                                                                      type="radio"
                                                                                      ng-value="option.value"
                                                                                      ng-model="$data.value.value"><span
        class="fa fa-check"></span>&nbsp;<span>{{option.displayName}}</span></label>
