<div class="wrapper-md" ng-init="ctrl.init()">
    <div class="vo_accordion vo_attr">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="glyphicon glyphicon-star"></i>&nbsp;Master配置一览</h4>
                </div>
                <div class="container-fluid m-t-sm m-b-md">
                    <div class="row">

                        <div class="col-sm-4">
                            <div class="form-horizontal">
                                <div class="form-group" >
                                    <label class="col-sm-4 control-label"><strong>当前店铺</strong></label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-model="$root.platformType.cTypeId" readonly>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label"><strong>config_key</strong></label>
                                    <div class="col-sm-7">
                                        <input class="form-control" placeholder="模糊搜索">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="form-inline">
                                        <button class="btn btn-default" ng-click="ctrl.clear()"><i class="fa fa-remove"></i>&nbsp;{{'BTN_CLEAR' | translate}}</button>&emsp;
                                        <button class="btn btn-vo" ng-click="ctrl.search()"><i class="fa fa-search"></i>&nbsp;{{'BTN_SEARCH' | translate}} </button>
                                    </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row" style="padding: 4px">
                <div class="col-md-3 col-md-offset-9 text-right">
                    <button class="btn btn-info btn-pop" ng-click="ctrl.addTopProductClick()"><i class="fa fa-refresh"></i>&nbsp;刷新</button>&emsp;
                    <button class="btn btn-success btn-pop" ng-click="ctrl.addTopProductClick()"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;保存</button>&emsp;
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="box">
                <div class="box-body">
                    <table class="table table-hover-new text-center">
                        <thead>
                            <tr>
                                <th class="text-center"> <span>是否使用</span> </th>
                                <th class="text-center">config_key</th>
                                <th class="text-center">config_code</th>
                                <th class="text-center">config_value1</th>
                                <th class="text-center">config_value2</th>
                                <th class="text-center">config_value3</th>
                                <th class="text-center">sample</th>
                                <th class="text-center">comment</th>
                                <th class="text-center">created</th>
                                <th class="text-center">modified</th>
                                <th class="text-center">modifier</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                               <td class="text-center">
                                   <input type="checkbox">
                               </td>
                               <td class="text-center">1234567890</td>
                               <td class="text-center">1234567890</td>
                               <td class="text-center">
                                   <input type="text" class="form-control">
                               </td>
                               <td class="text-center">
                                   <input type="text" class="form-control">
                               </td>
                               <td class="text-center">
                                   <input type="text" class="form-control">
                               </td>
                               <td class="text-center">1234567890</td>
                               <td class="text-center">1234567890</td>
                               <td class="text-center">1234567890</td>
                               <td class="text-center">1234567890</td>
                               <td class="text-center">1234567890</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>








