<div class="wrapper-md" ng-init="ctrl.init()">
    <div class="vo_accordion vo_attr">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-reorder"></i>&nbsp;&nbsp;{{'TXT_TOOLS_MANAGEMENT_HS_CODE_SETTING' | translate}}</h4>
                </div>
                <div class="container-fluid m-t-xs m-b-xs">
                    <div class="col-sm-12">
                        <div class="col-sm-5">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="TXT_NUMBER_OF_WAITED_FOR_SETTED"></label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="TXT_GET_TASK_COUNT"></label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label"></label>
                                    <div class="col-sm-7">
                                        <button class="btn btn-success"><i class="glyphicon glyphicon-check"></i>&nbsp;{{'BTN_GET_TASK'  | translate}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" translate="TXT_FUZZY_SEARCH"></label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control no-resize" rows="2"></textarea>
                                        <div class="text-warnings">
                                            <i class="icon fa fa-bell-o"></i>&nbsp;{{'TXT_MSG_SEARCH_INDEX_FUZZY_SEARCH' | translate}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" translate="TXT_HS_CODE_STATUS"></label>
                                    <div class="col-sm-8 form-inline">
                                        <select class="form-control">
                                            <option value="">{{'TXT_SELECT_NO_VALUE' | translate}}</option>
                                            <option value="0">已设置</option>
                                            <option value="1">未设置</option>
                                        </select>
                                        <button class="btn btn-vo" type="button">
                                            <i class="fa fa-search"></i>&nbsp;{{'BTN_SEARCH' | translate}}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-body-new">
            <table class="table table-hover-new table-hover">
                <thead>
                    <tr>
                        <th class="text-center mfb-xt" translate="TXT_NUMBER_IID_WITH_COLON"></th>
                        <th class="text-center mfb-xxs" translate="TXT_GROUP_NAME_WITH_COLON"></th>
                        <th class="text-center mfb-xxt" translate="TXT_MATERIAL"></th>
                        <th class="text-center mfb-xxs" translate="TXT_HSCODE_PRODUCT_NAME"></th>
                        <th class="text-center mfb-xt" translate="TXT_ACTION"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center mfb-xt">48307</td>
                        <td class="text-left mfb-xxs">NOW Foods -左旋肉碱-医药 左旋肉碱 热带口味 1000毫克-16盎司</td>
                        <td class="text-center mfb-xxt">牛肉</td>
                        <td class="text-left mfb-xxs">
                            <select class="form-control">
                                <option value="">{{'TXT_SELECT_NO_VALUE' | translate}}</option>
                                <option value="0">123123123，牛肉干，包</option>
                                <option value="1">123123123，猪肉铺，包</option>
                            </select>
                        </td>
                        <td class="text-center mfb-xt">
                            <button class="btn btn-vo btn-xs ng-binding"><i class="glyphicon glyphicon-floppy-disk"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 m-t-lg m-b-lg">
            <vpagination config="vm.prodPageOption"></vpagination>
        </div>
    </div><!-- tabs ng-controller -->
</div><!-- .col-lg-12 -->