<div class="wrapper-md" ng-init="ctrl.init()">
    <div class="vo_accordion vo_attr">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-reorder"></i>&nbsp;&nbsp;{{'TXT_TOOLS_MANAGEMENT_HS_CODE_SETTING' | translate}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"><!-- 商品税号设置状态 -->
            <div class="panel panel-dark">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i>&nbsp;&nbsp;{{'TXT_TOOLS_MANAGEMENT_HS_CODE_SETTING_STATUS'|translate}}</h3>
                </div>
                <div class="panel-body panel-body-flex-center">
                    <ul class="data-display-boxes">
                        <li>
                            <div class="data"> <strong ng-bind="ctrl.hsSettedData.notAssignedTotalHsCodeCnt"></strong> {{'TXT_UN_TRANSLATION'|translate}} </div>
                        </li>
                        <li>
                            <div class="data"> <strong ng-bind="ctrl.hsSettedData.setChannelTotalHsCodeCnt"></strong> {{'TXT_TRANSLATED'|translate}} </div>
                        </li>
                    </ul>
                    <ul class="data-display-boxes">
                        <li>
                            <div class="data"> <strong ng-bind="ctrl.hsSettedData.alreadyAssignedTotalHsCodeCnt"></strong> {{'TXT_DISTRIBUTE_UN_TRANSLATION'|translate}} </div>
                        </li>
                        <li>
                            <div class="data"> <strong ng-bind="ctrl.hsSettedData.setPersonalTotalHsCodeCnt"></strong> {{'TXT_PERSONAL_FINISHED_TRANSLATION'|translate}} </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4"><!-- 获取任务-->
            <div class="panel panel-dark">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-tasks"></i>&nbsp;&nbsp;{{'BTN_GET_TASK'|translate}}</h3>
                </div>
                <div class="panel-body panel-body-flex-center">
                    <form class="form-horizontal" novalidate name="validForm">
                        <div class="form-group">
                            <label for="getTaskInfo-qty" class="col-sm-3 control-label" translate="TXT_RULE_OF_PRE"></label>
                            <div class="col-sm-4">
                                <select id="getTaskInfo-qty" class="form-control" ng-model="ctrl.getTaskInfo.qty">
                                    <option value="">{{'TXT_SELECT_NO_VALUE' | translate}}</option>
                                    <option value="1">{{'TXT_INVENTORY'|translate}}</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label class="checkbox-inline c-radio">
                                    <input name="sortOne" type="radio" value="1" ng-model="ctrl.getTaskInfo.order" class="ng-pristine ng-untouched ng-valid ng-empty" ng-checked="ctrl.getTaskInfo.qty" ng-disabled="!ctrl.getTaskInfo.qty"><span class="fa fa-check"></span>&nbsp;{{'TXT_SORT_ASC'|translate}}
                                </label>
                                <label class="checkbox-inline c-radio">
                                    <input name="sortOne" type="radio" value="-1" ng-model="ctrl.getTaskInfo.order" class="ng-pristine ng-untouched ng-valid ng-empty" ng-checked="ctrl.getTaskInfo.qty" ng-disabled="!ctrl.getTaskInfo.qty"><span class="fa fa-check"></span>&nbsp;{{'TXT_SORT_DESC'|translate}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="getTaskInfo_code" class="col-sm-3 control-label" translate="TXT_PRODUCT_CODE"></label>
                            <div class="col-sm-4">
                                <input id="getTaskInfo_code" type="text" class="form-control" ng-model="ctrl.getTaskInfo.code">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="getTaskInfo_hsCodeTaskCnt" class="col-sm-3 control-label" translate="TXT_GET_TASK_COUNT"></label>
                            <div class="col-sm-4">
                                <input id="getTaskInfo_hsCodeTaskCnt" type="number" name="taskCount" class="form-control" ng-model="ctrl.hsCodeTaskCnt"
                                       uib-tooltip="请输入[1-{{ctrl.max}} ] 的整数" tooltip-trigger="mouseenter" tooltip-placement="bottom" required>
                            </div>
                            <div class="col-sm-2">
                                <button ng-disabled="ctrl.hsSettedData.notAssignedTotalHsCodeCnt == 0" class="btn btn-success" ng-click="ctrl.get()"><i class="glyphicon glyphicon-check"></i>&nbsp;{{'BTN_GET_TASK'|translate}}</button>
                            </div>
                        </div>
                        <div class="form-group" ng-if="ctrl.hsCodeTaskCnt > ctrl.max || !ctrl.hsCodeTaskCnt" style="color: red;">
                            <span class="col-sm-offset-3" ng-if="ctrl.hsCodeTaskCnt && ctrl.hsCodeTaskCnt > ctrl.max">请输入[1-{{ctrl.max}} ] 的整数</span>
                            <span class="col-sm-offset-3" ng-if="!ctrl.hsCodeTaskCnt &&!ctrl.getTaskInfo.code">{{'TXT_TRANSLATION_INPUT_TIP'|translate}}</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4"><!-- 个人设置税号成果搜索 -->
            <div class="panel panel-dark">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-tasks"></i>&nbsp;&nbsp;{{'TXT_HS_CODE_SETTED_SEARCH'|translate}}</h3>
                </div>
                <div class="panel-body panel-body-flex-center">
                    <form class="form-horizontal m-l-md">
                        <div class="form-group">
                            <label for="searchInfo_hsCodeStatus" class="col-sm-2 control-label" translate="TXT_HS_CODE_STATUS"></label>
                            <div class="col-sm-10">
                                <select id="searchInfo_hsCodeStatus" class="form-control" ng-model="ctrl.searchInfo.hsCodeStatus">
                                    <option value="">{{'TXT_SELECT_NO_VALUE' | translate}}</option>
                                    <option value="1">已设置</option>
                                    <option value="0">未设置</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="searchInfo_searchCondition" class="col-sm-2 control-label" translate="TXT_FUZZY_SEARCH"></label>
                            <div class="col-sm-10">
                                <textarea id="searchInfo_searchCondition" rows="2" class="form-control" ng-model="ctrl.searchInfo.searchCondition"
                                          uib-tooltip="{{'TXT_TRANSLATION_FUZZY_SEARCH_TIP'|translate}}" tooltip-trigger="mouseenter" tooltip-placement="bottom"></textarea>
                            </div>
                        </div>
                        <button class="btn btn-default col-sm-offset-4" ng-click="ctrl.clear()"><i class="fa fa-remove"></i>&nbsp;{{'BTN_CLEAR'|translate}} </button>
                        <button class="btn btn-vo" type="button" ng-click="ctrl.search(1)"><i class="fa fa-search"></i>&nbsp;{{'BTN_SEARCH' | translate}} </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-body-new">
            <table class="table table-hover-new table-hover table_main">
                <thead>
                <tr>
                    <th class="text-center" translate="TXT_NUMBER_IID_WITH_COLON"></th>
                    <th class="text-center col-sm-2" translate="TXT_IMAGE"></th>
                    <th class="text-center col-sm-2" translate="TXT_PRODUCT_CODE_MATERIAL"></th>
                    <th class="text-center col-sm-2" translate="TXT_HSCODE_PRODUCT_NAME_UNIT"></th>
                    <th class="text-left col-sm-5" translate="TXT_GROUP_NAME_FEED_CAT_WITH_COLON"></th>
                    <th class="text-center" translate="TXT_ACTION"></th>
                </tr>
                </thead>
                <tbody ng-if="ctrl.hsCodeList.length == 0">
                <tr style="padding-left:0">
                    <td colspan="6">
                        <div if-no-rows="ctrl.hsCodeList.length"></div>
                    </td>
                </tr>
                </tbody>
                <tbody ng-if="ctrl.hsCodeList.length > 0">
                <tr ng-repeat="list in ctrl.hsCodeList" ng-style="{'background-color': list.selected == true ? '#cfcaca': 'white'}">
                    <td class="text-center v-middle">{{$index + 1}}</td>
                    <td style="overflow: hidden;" class="text-center v-middle">
                        <a ng-if="list.common.fields.images1.length > 0" ng-click="ctrl.openHsCodeImagedetail(list)">
                            <img-by-name class="thumb" name="list.common.fields.images1[0].image1">
                            </img-by-name></a>
                    </td>
                    <td class="text-center v-middle">
                        <ul>
                            <li class="text-center"><a class="a a-link" ng-click="ctrl.openHsCodeCodeDetail(list)">{{list.common.fields.code}}</a></li>
                            <li class="text-center">{{common.fields.materialCn?common.fields.materialCn:common.fields.materialEn}}</li>
                        </ul>
                    </td>
                    <td class="text-left v-middle">
                        <select class="form-control" ng-options="value.value as value.value for value in ctrl.hsCodeValue" ng-model="list.common.fields.hsCodePrivate">
                            <option value="">{{'TXT_SELECT_NO_VALUE' | translate}}</option>
                        </select>
                    </td>
                    <td class="text-left v-middle">
                        <ul class="tableWordBreak">
                            <li>{{list.common.fields.originalTitleCn?list.common.fields.originalTitleCn : list.common.fields.productNameEn}}</li>
                            <li>{{list.feed.catPath}}</li>
                            <li>{{list.common.catPath}}</li>
                        </ul>
                    </td>
                    <td class="text-center v-middle">
                        <button class="btn btn-vo btn-xs ng-binding" title="点击保存当前设置" ng-click="ctrl.save(list)"><i class="glyphicon glyphicon-floppy-disk"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <vpagination config="ctrl.prodPageOption"></vpagination>
    </div>
</div>