<ul class="breadcrumb">
    <li><span class="label label-vo">TM</span></li>
    <li><a href=""><i class="fa fa-home"></i> CMS Home</a></li>
    <li>类目管理</li>
    <li>主数据： 珠宝/钻石/翡翠/黄金</li>
    <li class="active">彩色宝石/贵重宝石</li>
    <p class="pull-right form-inline">
        <select class="form-control m-r-xxs">
            <option>珠宝</option>
            <option>珠宝 / 钻石</option>
            <option>珠宝 / 钻石 / 翡翠</option>
            <option>珠宝 / 钻石 / 翡翠 / 黄金</option>
        </select> <button type="submit" class="btn btn-vo btn-xxs">Go</button></p>
</ul>
<ul >

</ul>