<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.batch.bi.mapper.EcommMapper">

	<!-- 获得vm_ecomm信息结构 -->
	<resultMap id="ecommMap" type="batch.bi.EcommBean">
		<result column="id" property="id"/>
		<result column="code" property="code"/>
		<result column="name" property="name"/>
		<result column="name_en" property="name_en"/>
		<result column="name_cn" property="name_cn"/>
		<result column="enable" property="enable"/>
	</resultMap>

	<!-- 设定vm_ecomm检索条件 -->
	<sql id="vm_ecomm_condition">
		<where>
			<if test="id != null and id != '' ">
				and id = #{id}
			</if>
			<if test="code != null and code != '' ">
				and code = #{code}
			</if>
			<if test="name != null and name != '' ">
				and name = #{name}
			</if>
			<if test="enable != null and enable != '' ">
				and enable = #{enable}
			</if>
		</where>
	</sql>

	<!-- 获得vm_ecomm数量 -->
	<select id="vm_ecomm_count"  parameterType="batch.bi.EcommBean" resultType="int">
		select
		count(1)
		from bi_master.vm_ecomm
		<include refid="vm_ecomm_condition"/>
	</select>

	<!-- 检索vm_ecomm信息 -->
	<select id="select_code_vm_ecomm"  parameterType="Map" resultType="String">
		select
		code
		from bi_master.vm_ecomm
		<include refid="vm_ecomm_condition"/>
	</select>

	<select id="select_list_vm_ecomm"  parameterType="batch.bi.EcommBean" resultMap="ecommMap">
		select
		id,
		code,
		name,
		name_en,
		name_cn,
		enable
		from bi_master.vm_ecomm
		<include refid="vm_ecomm_condition"/>
	</select>

	<insert id="replace_vm_ecomm" parameterType="Map" useGeneratedKeys="true">
		REPLACE INTO bi_master.vm_ecomm
		<foreach collection="column" index="index" item="columnname" open="(" separator="," close=")">
			${columnname}
		</foreach>
		VALUES
		<foreach collection="value" item="EcommBean" separator=",">
			(
			#{EcommBean.id},
			#{EcommBean.code},
			#{EcommBean.name},
			#{EcommBean.name_en},
			#{EcommBean.name_cn},
			#{EcommBean.enable},
			#{EcommBean.create_time},
			#{EcommBean.create_user},
			#{EcommBean.update_time},
			#{EcommBean.update_user}
			)
		</foreach>

	</insert>

	<!-- 更新vm_ecomm信息 -->
	<update id="update_vm_ecomm"  parameterType="batch.bi.EcommBean">
		UPDATE bi_master.vm_ecomm
		SET
		cor_column_table_name = #{cor_column_table_name}
		<include refid="vm_ecomm_condition"/>
	</update>

	<!-- 插入vm_ecomm信息 -->
	<insert id="insert_vm_ecomm"  parameterType="batch.bi.EcommBean">
		INSERT INTO bi_master.vm_ecomm (
		id,
		code,
		name,
		name_en,
		name_cn,
		enable,
		create_time,
		create_user,
		update_time,
		update_user
		)
		VALUES
			(
			#{EcommBean.id},
			#{EcommBean.code},
			#{EcommBean.name},
			#{EcommBean.name_en},
			#{EcommBean.name_cn},
			#{EcommBean.enable},
			#{EcommBean.create_time},
			#{EcommBean.create_user},
			#{EcommBean.update_time},
			#{EcommBean.update_user}
			)
	</insert>
</mapper>
