<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.batch.bi.mapper.SalesShopMapper">

    <!-- 获得vt_sales_shop信息结构 -->
    <resultMap id="salesShopMap" type="batch.bi.SalesShopBean">
        <result column="shop_id" property="shop_id"/>
        <result column="process_date" property="process_date"/>
        <result column="pv_product_num" property="pv_product_num"/>
        <result column="uv_store_home" property="uv_store_home"/>
        <result column="pv_store_home" property="pv_store_home"/>
        <result column="uv" property="uv"/>
        <result column="uv_change_daily" property="uv_change_daily"/>
        <result column="uv_regular" property="uv_regular"/>
        <result column="uv_regular_rate" property="uv_regular_rate"/>
        <result column="pv" property="pv"/>
        <result column="pv_change_daily" property="pv_change_daily"/>
        <result column="pv_product_num_pc" property="pv_product_num_pc"/>
        <result column="uv_store_home_pc" property="uv_store_home_pc"/>
        <result column="pv_store_home_pc" property="pv_store_home_pc"/>
        <result column="visit_time_avg_store_home_pc" property="visit_time_avg_store_home_pc"/>
        <result column="uv_pc" property="uv_pc"/>
        <result column="uv_regular_pc" property="uv_regular_pc"/>
        <result column="pv_pc" property="pv_pc"/>
        <result column="pv_avg_pc" property="pv_avg_pc"/>
        <result column="visit_time_avg_pc" property="visit_time_avg_pc"/>
        <result column="uv_detail_pc" property="uv_detail_pc"/>
        <result column="pv_detail_pc" property="pv_detail_pc"/>
        <result column="bounce_rate_pc" property="bounce_rate_pc"/>
        <result column="pv_avg" property="pv_avg"/>
        <result column="visit_time_avg" property="visit_time_avg"/>
        <result column="uv_detail" property="uv_detail"/>
        <result column="pv_detail" property="pv_detail"/>
        <result column="bounce_rate" property="bounce_rate"/>
        <result column="uv_new" property="uv_new"/>
        <result column="uv_tb_app" property="uv_tb_app"/>
        <result column="pv_tb_app" property="pv_tb_app"/>
        <result column="uv_tm_app" property="uv_tm_app"/>
        <result column="pv_tm_app" property="pv_tm_app"/>
        <result column="uv_wap" property="uv_wap"/>
        <result column="pv_wap" property="pv_wap"/>
        <result column="pv_product_num_wireless" property="pv_product_num_wireless"/>
        <result column="uv_store_home_wireless" property="uv_store_home_wireless"/>
        <result column="pv_store_home_wireless" property="pv_store_home_wireless"/>
        <result column="uv_wireless" property="uv_wireless"/>
        <result column="uv_wireless_rate" property="uv_wireless_rate"/>
        <result column="uv_regular_wireless" property="uv_regular_wireless"/>
        <result column="pv_wireless" property="pv_wireless"/>
        <result column="pv_avg_wireless" property="pv_avg_wireless"/>
        <result column="visit_time_avg_wireless" property="visit_time_avg_wireless"/>
        <result column="uv_detail_wireless" property="uv_detail_wireless"/>
        <result column="pv_detail_wireless" property="pv_detail_wireless"/>
        <result column="bounce_rate_wireless" property="bounce_rate_wireless"/>
        <result column="price_customer_unit" property="price_customer_unit"/>
        <result column="num_regular" property="num_regular"/>
        <result column="rate_num_regular" property="rate_num_regular"/>
        <result column="price_customer_unit_pc" property="price_customer_unit_pc"/>
        <result column="amt_order_pc" property="amt_order_pc"/>
        <result column="num_order_customer_pc" property="num_order_customer_pc"/>
        <result column="cvr_order_pc" property="cvr_order_pc"/>
        <result column="num_f_order_paid_pc" property="num_f_order_paid_pc"/>
        <result column="amt_paid_pc" property="amt_paid_pc"/>
        <result column="num_regular_paid_pc" property="num_regular_paid_pc"/>
        <result column="num_customer_paid_pc" property="num_customer_paid_pc"/>
        <result column="qty_case_paid_pc" property="qty_case_paid_pc"/>
        <result column="qty_product_paid_pc" property="qty_product_paid_pc"/>
        <result column="cvr_paid_pc" property="cvr_paid_pc"/>
        <result column="num_c_order_paid_pc" property="num_c_order_paid_pc"/>
        <result column="cvr_paid_detail_pc" property="cvr_paid_detail_pc"/>
        <result column="num_f_order" property="num_f_order"/>
        <result column="amt_order" property="amt_order"/>
        <result column="num_customer" property="num_customer"/>
        <result column="num_f_order_paid" property="num_f_order_paid"/>
        <result column="amt_order_paid" property="amt_order_paid"/>
        <result column="num_customer_order_paid" property="num_customer_order_paid"/>
        <result column="num_case_order_paid" property="num_case_order_paid"/>
        <result column="num_case_order" property="num_case_order"/>
        <result column="cvr_order" property="cvr_order"/>
        <result column="num_c_order" property="num_c_order"/>
        <result column="num_new_customer" property="num_new_customer"/>
        <result column="avg_case_paid" property="avg_case_paid"/>
        <result column="avg_num_c_order_paid" property="avg_num_c_order_paid"/>
        <result column="num_f_paid" property="num_f_paid"/>
        <result column="amt_paid" property="amt_paid"/>
        <result column="amt_paid_change_daily" property="amt_paid_change_daily"/>
        <result column="num_customer_paid" property="num_customer_paid"/>
        <result column="num_case_paid" property="num_case_paid"/>
        <result column="num_product_paid" property="num_product_paid"/>
        <result column="avg_paid" property="avg_paid"/>
        <result column="num_c_order_paid" property="num_c_order_paid"/>
        <result column="amt_paid_tb_app" property="amt_paid_tb_app"/>
        <result column="num_customer_paid_tb_app" property="num_customer_paid_tb_app"/>
        <result column="num_case_paid_tb_app" property="num_case_paid_tb_app"/>
        <result column="cvr_paid_tb_app" property="cvr_paid_tb_app"/>
        <result column="amt_paid_tm_app" property="amt_paid_tm_app"/>
        <result column="num_customer_paid_tm_app" property="num_customer_paid_tm_app"/>
        <result column="num_case_paid_tm_app" property="num_case_paid_tm_app"/>
        <result column="cvr_paid_tm_app" property="cvr_paid_tm_app"/>
        <result column="amt_paid_wap" property="amt_paid_wap"/>
        <result column="num_customer_paid_wap" property="num_customer_paid_wap"/>
        <result column="num_case_paid_wap" property="num_case_paid_wap"/>
        <result column="cvr_paid_wap" property="cvr_paid_wap"/>
        <result column="price_customer_unit_wireless" property="price_customer_unit_wireless"/>
        <result column="amt_order_wireless" property="amt_order_wireless"/>
        <result column="num_customer_order_wireless" property="num_customer_order_wireless"/>
        <result column="cvr_order_wireless" property="cvr_order_wireless"/>
        <result column="num_f_order_paid_wireless" property="num_f_order_paid_wireless"/>
        <result column="amt_paid_wireless" property="amt_paid_wireless"/>
        <result column="amt_rate_paid_wireless" property="amt_rate_paid_wireless"/>
        <result column="num_regular_paid_wireless" property="num_regular_paid_wireless"/>
        <result column="num_customer_paid_wireless" property="num_customer_paid_wireless"/>
        <result column="num_rate_customer_paid_wireless" property="num_rate_customer_paid_wireless"/>
        <result column="num_case_paid_wireless" property="num_case_paid_wireless"/>
        <result column="num_product_paid_wireless" property="num_product_paid_wireless"/>
        <result column="cvr_paid_wireless" property="cvr_paid_wireless"/>
        <result column="num_c_order_paid_wireless" property="num_c_order_paid_wireless"/>
        <result column="num_customer_low_dsr_com" property="num_customer_low_dsr_com"/>
        <result column="dsr_service" property="dsr_service"/>
        <result column="dsr_describe" property="dsr_describe"/>
        <result column="amt_return" property="amt_return"/>
        <result column="num_customer_return" property="num_customer_return"/>
        <result column="dsr_express" property="dsr_express"/>
        <result column="num_f_order_shipped" property="num_f_order_shipped"/>
        <result column="times_collect_store" property="times_collect_store"/>
        <result column="times_collect_product" property="times_collect_product"/>
        <result column="num_collect_customer_product" property="num_collect_customer_product"/>
        <result column="num_collect_customer_store" property="num_collect_customer_store"/>
    </resultMap>

    <!-- 设定vt_sales_shop检索条件 -->
    <sql id="vt_sales_shop_condition">
        <where>
            <if test="shop_id != null and shop_id != '' ">
                and shop_id = #{shop_id}
            </if>
            <if test="process_date != null and process_date != '' ">
                and process_date = #{process_date}
            </if>
        </where>
    </sql>

    <!-- 获得vt_sales_shop数量 -->
    <select id="select_count_vt_sales_shop" parameterType="Map" resultType="int">
        select
        count(1)
        from bi_source.${table_title_name}_shop
        <include refid="vt_sales_shop_condition"/>
    </select>

    <select id="select_record_vt_sales_shop" parameterType="Map"
            resultMap="salesShopMap">
        SELECT
        shop_id,
        process_date,
        pv_product_num,
        uv_store_home,
        pv_store_home,
        uv,
        uv_change_daily,
        uv_regular,
        uv_regular_rate,
        pv,
        pv_change_daily,
        pv_product_num_pc,
        uv_store_home_pc,
        pv_store_home_pc,
        visit_time_avg_store_home_pc,
        uv_pc,
        uv_regular_pc,
        pv_pc,
        pv_avg_pc,
        visit_time_avg_pc,
        uv_detail_pc,
        pv_detail_pc,
        bounce_rate_pc,
        pv_avg,
        visit_time_avg,
        uv_detail,
        pv_detail,
        bounce_rate,
        uv_new,
        uv_tb_app,
        pv_tb_app,
        uv_tm_app,
        pv_tm_app,
        uv_wap,
        pv_wap,
        pv_product_num_wireless,
        uv_store_home_wireless,
        pv_store_home_wireless,
        uv_wireless,
        uv_wireless_rate,
        uv_regular_wireless,
        pv_wireless,
        pv_avg_wireless,
        visit_time_avg_wireless,
        uv_detail_wireless,
        pv_detail_wireless,
        bounce_rate_wireless,
        price_customer_unit,
        num_regular,
        rate_num_regular,
        price_customer_unit_pc,
        amt_order_pc,
        num_order_customer_pc,
        cvr_order_pc,
        num_f_order_paid_pc,
        amt_paid_pc,
        num_regular_paid_pc,
        num_customer_paid_pc,
        qty_case_paid_pc,
        qty_product_paid_pc,
        cvr_paid_pc,
        num_c_order_paid_pc,
        cvr_paid_detail_pc,
        num_f_order,
        amt_order,
        num_customer,
        num_f_order_paid,
        amt_order_paid,
        num_customer_order_paid,
        num_case_order_paid,
        num_case_order,
        cvr_order,
        num_c_order,
        num_new_customer,
        avg_case_paid,
        avg_num_c_order_paid,
        num_f_paid,
        amt_paid,
        amt_paid_change_daily,
        num_customer_paid,
        num_case_paid,
        num_product_paid,
        avg_paid,
        num_c_order_paid,
        amt_paid_tb_app,
        num_customer_paid_tb_app,
        num_case_paid_tb_app,
        cvr_paid_tb_app,
        amt_paid_tm_app,
        num_customer_paid_tm_app,
        num_case_paid_tm_app,
        cvr_paid_tm_app,
        amt_paid_wap,
        num_customer_paid_wap,
        num_case_paid_wap,
        cvr_paid_wap,
        price_customer_unit_wireless,
        amt_order_wireless,
        num_customer_order_wireless,
        cvr_order_wireless,
        num_f_order_paid_wireless,
        amt_paid_wireless,
        amt_rate_paid_wireless,
        num_regular_paid_wireless,
        num_customer_paid_wireless,
        num_rate_customer_paid_wireless,
        num_case_paid_wireless,
        num_product_paid_wireless,
        cvr_paid_wireless,
        num_c_order_paid_wireless,
        num_customer_low_dsr_com,
        dsr_service,
        dsr_describe,
        amt_return,
        num_customer_return,
        dsr_express,
        num_f_order_shipped,
        times_collect_store,
        times_collect_product,
        num_collect_customer_product,
        num_collect_customer_store
        FROM bi_source.${table_title_name}_shop
        <include refid="vt_sales_shop_condition"/>
    </select>

    <!-- 检索vt_sales_shop信息 -->
    <select id="select_list_vt_sales_shop" parameterType="Map" resultMap="salesShopMap">
        SELECT
        shop_id,
        process_date,
        pv_product_num,
        uv_store_home,
        pv_store_home,
        uv,
        uv_change_daily,
        uv_regular,
        uv_regular_rate,
        pv,
        pv_change_daily,
        pv_product_num_pc,
        uv_store_home_pc,
        pv_store_home_pc,
        visit_time_avg_store_home_pc,
        uv_pc,
        uv_regular_pc,
        pv_pc,
        pv_avg_pc,
        visit_time_avg_pc,
        uv_detail_pc,
        pv_detail_pc,
        bounce_rate_pc,
        pv_avg,
        visit_time_avg,
        uv_detail,
        pv_detail,
        bounce_rate,
        uv_new,
        uv_tb_app,
        pv_tb_app,
        uv_tm_app,
        pv_tm_app,
        uv_wap,
        pv_wap,
        pv_product_num_wireless,
        uv_store_home_wireless,
        pv_store_home_wireless,
        uv_wireless,
        uv_wireless_rate,
        uv_regular_wireless,
        pv_wireless,
        pv_avg_wireless,
        visit_time_avg_wireless,
        uv_detail_wireless,
        pv_detail_wireless,
        bounce_rate_wireless,
        price_customer_unit,
        num_regular,
        rate_num_regular,
        price_customer_unit_pc,
        amt_order_pc,
        num_order_customer_pc,
        cvr_order_pc,
        num_f_order_paid_pc,
        amt_paid_pc,
        num_regular_paid_pc,
        num_customer_paid_pc,
        qty_case_paid_pc,
        qty_product_paid_pc,
        cvr_paid_pc,
        num_c_order_paid_pc,
        cvr_paid_detail_pc,
        num_f_order,
        amt_order,
        num_customer,
        num_f_order_paid,
        amt_order_paid,
        num_customer_order_paid,
        num_case_order_paid,
        num_case_order,
        cvr_order,
        num_c_order,
        num_new_customer,
        avg_case_paid,
        avg_num_c_order_paid,
        num_f_paid,
        amt_paid,
        amt_paid_change_daily,
        num_customer_paid,
        num_case_paid,
        num_product_paid,
        avg_paid,
        num_c_order_paid,
        amt_paid_tb_app,
        num_customer_paid_tb_app,
        num_case_paid_tb_app,
        cvr_paid_tb_app,
        amt_paid_tm_app,
        num_customer_paid_tm_app,
        num_case_paid_tm_app,
        cvr_paid_tm_app,
        amt_paid_wap,
        num_customer_paid_wap,
        num_case_paid_wap,
        cvr_paid_wap,
        price_customer_unit_wireless,
        amt_order_wireless,
        num_customer_order_wireless,
        cvr_order_wireless,
        num_f_order_paid_wireless,
        amt_paid_wireless,
        amt_rate_paid_wireless,
        num_regular_paid_wireless,
        num_customer_paid_wireless,
        num_rate_customer_paid_wireless,
        num_case_paid_wireless,
        num_product_paid_wireless,
        cvr_paid_wireless,
        num_c_order_paid_wireless,
        num_customer_low_dsr_com,
        dsr_service,
        dsr_describe,
        amt_return,
        num_customer_return,
        dsr_express,
        num_f_order_shipped,
        times_collect_store,
        times_collect_product,
        num_collect_customer_product,
        num_collect_customer_store
        FROM bi_source.${table_title_name}_shop
        <include refid="vt_sales_shop_condition"/>
    </select>

    <insert id="duplicate_vt_sales_shop" parameterType="Map" useGeneratedKeys="true">
        INSERT INTO bi_source.${table_title_name}_shop
        <foreach collection="column" index="index" item="columnname" open="(" separator="," close=")">
            ${columnname}
        </foreach>
        VALUES
        <foreach collection="value" index="index" item="SalesShopValuesList" separator=",">
            ${SalesShopValuesList}
        </foreach>
        ON DUPLICATE KEY UPDATE
        pv_product_num = VALUES(pv_product_num),
        uv_store_home = VALUES(uv_store_home),
        pv_store_home = VALUES(pv_store_home),
        uv = VALUES(uv),
        uv_change_daily = VALUES(uv_change_daily),
        uv_regular = VALUES(uv_regular),
        uv_regular_rate = VALUES(uv_regular_rate),
        pv = VALUES(pv),
        pv_change_daily = VALUES(pv_change_daily),
        pv_product_num_pc = VALUES(pv_product_num_pc),
        uv_store_home_pc = VALUES(uv_store_home_pc),
        pv_store_home_pc = VALUES(pv_store_home_pc),
        visit_time_avg_store_home_pc = VALUES(visit_time_avg_store_home_pc),
        uv_pc = VALUES(uv_pc),
        uv_regular_pc = VALUES(uv_regular_pc),
        pv_pc = VALUES(pv_pc),
        pv_avg_pc = VALUES(pv_avg_pc),
        visit_time_avg_pc = VALUES(visit_time_avg_pc),
        uv_detail_pc = VALUES(uv_detail_pc),
        pv_detail_pc = VALUES(pv_detail_pc),
        bounce_rate_pc = VALUES(bounce_rate_pc),
        pv_avg = VALUES(pv_avg),
        visit_time_avg = VALUES(visit_time_avg),
        uv_detail = VALUES(uv_detail),
        pv_detail = VALUES(pv_detail),
        bounce_rate = VALUES(bounce_rate),
        uv_new = VALUES(uv_new),
        uv_tb_app = VALUES(uv_tb_app),
        pv_tb_app = VALUES(pv_tb_app),
        uv_tm_app = VALUES(uv_tm_app),
        pv_tm_app = VALUES(pv_tm_app),
        uv_wap = VALUES(uv_wap),
        pv_wap = VALUES(pv_wap),
        pv_product_num_wireless = VALUES(pv_product_num_wireless),
        uv_store_home_wireless = VALUES(uv_store_home_wireless),
        pv_store_home_wireless = VALUES(pv_store_home_wireless),
        uv_wireless = VALUES(uv_wireless),
        uv_wireless_rate = VALUES(uv_wireless_rate),
        uv_regular_wireless = VALUES(uv_regular_wireless),
        pv_wireless = VALUES(pv_wireless),
        pv_avg_wireless = VALUES(pv_avg_wireless),
        visit_time_avg_wireless = VALUES(visit_time_avg_wireless),
        uv_detail_wireless = VALUES(uv_detail_wireless),
        pv_detail_wireless = VALUES(pv_detail_wireless),
        bounce_rate_wireless = VALUES(bounce_rate_wireless),
        price_customer_unit = VALUES(price_customer_unit),
        num_regular = VALUES(num_regular),
        rate_num_regular = VALUES(rate_num_regular),
        price_customer_unit_pc = VALUES(price_customer_unit_pc),
        amt_order_pc = VALUES(amt_order_pc),
        num_order_customer_pc = VALUES(num_order_customer_pc),
        cvr_order_pc = VALUES(cvr_order_pc),
        num_f_order_paid_pc = VALUES(num_f_order_paid_pc),
        amt_paid_pc = VALUES(amt_paid_pc),
        num_regular_paid_pc = VALUES(num_regular_paid_pc),
        num_customer_paid_pc = VALUES(num_customer_paid_pc),
        qty_case_paid_pc = VALUES(qty_case_paid_pc),
        qty_product_paid_pc = VALUES(qty_product_paid_pc),
        cvr_paid_pc = VALUES(cvr_paid_pc),
        num_c_order_paid_pc = VALUES(num_c_order_paid_pc),
        cvr_paid_detail_pc = VALUES(cvr_paid_detail_pc),
        num_f_order = VALUES(num_f_order),
        amt_order = VALUES(amt_order),
        num_customer = VALUES(num_customer),
        num_f_order_paid = VALUES(num_f_order_paid),
        amt_order_paid = VALUES(amt_order_paid),
        num_customer_order_paid = VALUES(num_customer_order_paid),
        num_case_order_paid = VALUES(num_case_order_paid),
        num_case_order = VALUES(num_case_order),
        cvr_order = VALUES(cvr_order),
        num_c_order = VALUES(num_c_order),
        num_new_customer = VALUES(num_new_customer),
        avg_case_paid = VALUES(avg_case_paid),
        avg_num_c_order_paid = VALUES(avg_num_c_order_paid),
        num_f_paid = VALUES(num_f_paid),
        amt_paid = VALUES(amt_paid),
        amt_paid_change_daily = VALUES(amt_paid_change_daily),
        num_customer_paid = VALUES(num_customer_paid),
        num_case_paid = VALUES(num_case_paid),
        num_product_paid = VALUES(num_product_paid),
        avg_paid = VALUES(avg_paid),
        num_c_order_paid = VALUES(num_c_order_paid),
        amt_paid_tb_app = VALUES(amt_paid_tb_app),
        num_customer_paid_tb_app = VALUES(num_customer_paid_tb_app),
        num_case_paid_tb_app = VALUES(num_case_paid_tb_app),
        cvr_paid_tb_app = VALUES(cvr_paid_tb_app),
        amt_paid_tm_app = VALUES(amt_paid_tm_app),
        num_customer_paid_tm_app = VALUES(num_customer_paid_tm_app),
        num_case_paid_tm_app = VALUES(num_case_paid_tm_app),
        cvr_paid_tm_app = VALUES(cvr_paid_tm_app),
        amt_paid_wap = VALUES(amt_paid_wap),
        num_customer_paid_wap = VALUES(num_customer_paid_wap),
        num_case_paid_wap = VALUES(num_case_paid_wap),
        cvr_paid_wap = VALUES(cvr_paid_wap),
        price_customer_unit_wireless = VALUES(price_customer_unit_wireless),
        amt_order_wireless = VALUES(amt_order_wireless),
        num_customer_order_wireless = VALUES(num_customer_order_wireless),
        cvr_order_wireless = VALUES(cvr_order_wireless),
        num_f_order_paid_wireless = VALUES(num_f_order_paid_wireless),
        amt_paid_wireless = VALUES(amt_paid_wireless),
        amt_rate_paid_wireless = VALUES(amt_rate_paid_wireless),
        num_regular_paid_wireless = VALUES(num_regular_paid_wireless),
        num_customer_paid_wireless = VALUES(num_customer_paid_wireless),
        num_rate_customer_paid_wireless = VALUES(num_rate_customer_paid_wireless),
        num_case_paid_wireless = VALUES(num_case_paid_wireless),
        num_product_paid_wireless = VALUES(num_product_paid_wireless),
        cvr_paid_wireless = VALUES(cvr_paid_wireless),
        num_c_order_paid_wireless = VALUES(num_c_order_paid_wireless),
        num_customer_low_dsr_com = VALUES(num_customer_low_dsr_com),
        dsr_service = VALUES(dsr_service),
        dsr_describe = VALUES(dsr_describe),
        amt_return = VALUES(amt_return),
        num_customer_return = VALUES(num_customer_return),
        dsr_express = VALUES(dsr_express),
        num_f_order_shipped = VALUES(num_f_order_shipped),
        times_collect_store = VALUES(times_collect_store),
        times_collect_product = VALUES(times_collect_product),
        num_collect_customer_product = VALUES(num_collect_customer_product),
        num_collect_customer_store = VALUES(num_collect_customer_store)
    </insert>

    <insert id="replace_vt_sales_shop" parameterType="Map" useGeneratedKeys="true">
        REPLACE INTO bi_source.${table_title_name}_shop
        <foreach collection="column" index="index" item="columnname" open="(" separator="," close=")">
            ${columnname}
        </foreach>
        VALUES
        <foreach collection="value" index="index" item="SalesShopValuesList" separator=",">
            ${SalesShopValuesList}
        </foreach>

    </insert>

    <update id="update_vt_sales_shop" parameterType="Map">
        UPDATE bi_source.${table_title_name}_shop
        SET
        pv_product_num = #{pv_product_num},
        uv_store_home = #{uv_store_home},
        pv_store_home = #{pv_store_home},
        uv = #{uv},
        uv_change_daily = #{uv_change_daily},
        uv_regular = #{uv_regular},
        uv_regular_rate = #{uv_regular_rate},
        pv = #{pv},
        pv_change_daily = #{pv_change_daily},
        pv_product_num_pc = #{pv_product_num_pc},
        uv_store_home_pc = #{uv_store_home_pc},
        pv_store_home_pc = #{pv_store_home_pc},
        visit_time_avg_store_home_pc = #{visit_time_avg_store_home_pc},
        uv_pc = #{uv_pc},
        uv_regular_pc = #{uv_regular_pc},
        pv_pc = #{pv_pc},
        pv_avg_pc = #{pv_avg_pc},
        visit_time_avg_pc = #{visit_time_avg_pc},
        uv_detail_pc = #{uv_detail_pc},
        pv_detail_pc = #{pv_detail_pc},
        bounce_rate_pc = #{bounce_rate_pc},
        pv_avg = #{pv_avg},
        visit_time_avg = #{visit_time_avg},
        uv_detail = #{uv_detail},
        pv_detail = #{pv_detail},
        bounce_rate = #{bounce_rate},
        uv_new = #{uv_new},
        uv_tb_app = #{uv_tb_app},
        pv_tb_app = #{pv_tb_app},
        uv_tm_app = #{uv_tm_app},
        pv_tm_app = #{pv_tm_app},
        uv_wap = #{uv_wap},
        pv_wap = #{pv_wap},
        pv_product_num_wireless = #{pv_product_num_wireless},
        uv_store_home_wireless = #{uv_store_home_wireless},
        pv_store_home_wireless = #{pv_store_home_wireless},
        uv_wireless = #{uv_wireless},
        uv_wireless_rate = #{uv_wireless_rate},
        uv_regular_wireless = #{uv_regular_wireless},
        pv_wireless = #{pv_wireless},
        pv_avg_wireless = #{pv_avg_wireless},
        visit_time_avg_wireless = #{visit_time_avg_wireless},
        uv_detail_wireless = #{uv_detail_wireless},
        pv_detail_wireless = #{pv_detail_wireless},
        bounce_rate_wireless = #{bounce_rate_wireless},
        price_customer_unit = #{price_customer_unit},
        num_regular = #{num_regular},
        rate_num_regular = #{rate_num_regular},
        price_customer_unit_pc = #{price_customer_unit_pc},
        amt_order_pc = #{amt_order_pc},
        num_order_customer_pc = #{num_order_customer_pc},
        cvr_order_pc = #{cvr_order_pc},
        num_f_order_paid_pc = #{num_f_order_paid_pc},
        amt_paid_pc = #{amt_paid_pc},
        num_regular_paid_pc = #{num_regular_paid_pc},
        num_customer_paid_pc = #{num_customer_paid_pc},
        qty_case_paid_pc = #{qty_case_paid_pc},
        qty_product_paid_pc = #{qty_product_paid_pc},
        cvr_paid_pc = #{cvr_paid_pc},
        num_c_order_paid_pc = #{num_c_order_paid_pc},
        cvr_paid_detail_pc = #{cvr_paid_detail_pc},
        num_f_order = #{num_f_order},
        amt_order = #{amt_order},
        num_customer = #{num_customer},
        num_f_order_paid = #{num_f_order_paid},
        amt_order_paid = #{amt_order_paid},
        num_customer_order_paid = #{num_customer_order_paid},
        num_case_order_paid = #{num_case_order_paid},
        num_case_order = #{num_case_order},
        cvr_order = #{cvr_order},
        num_c_order = #{num_c_order},
        num_new_customer = #{num_new_customer},
        avg_case_paid = #{avg_case_paid},
        avg_num_c_order_paid = #{avg_num_c_order_paid},
        num_f_paid = #{num_f_paid},
        amt_paid = #{amt_paid},
        amt_paid_change_daily = #{amt_paid_change_daily},
        num_customer_paid = #{num_customer_paid},
        num_case_paid = #{num_case_paid},
        num_product_paid = #{num_product_paid},
        avg_paid = #{avg_paid},
        num_c_order_paid = #{num_c_order_paid},
        amt_paid_tb_app = #{amt_paid_tb_app},
        num_customer_paid_tb_app = #{num_customer_paid_tb_app},
        num_case_paid_tb_app = #{num_case_paid_tb_app},
        cvr_paid_tb_app = #{cvr_paid_tb_app},
        amt_paid_tm_app = #{amt_paid_tm_app},
        num_customer_paid_tm_app = #{num_customer_paid_tm_app},
        num_case_paid_tm_app = #{num_case_paid_tm_app},
        cvr_paid_tm_app = #{cvr_paid_tm_app},
        amt_paid_wap = #{amt_paid_wap},
        num_customer_paid_wap = #{num_customer_paid_wap},
        num_case_paid_wap = #{num_case_paid_wap},
        cvr_paid_wap = #{cvr_paid_wap},
        price_customer_unit_wireless = #{price_customer_unit_wireless},
        amt_order_wireless = #{amt_order_wireless},
        num_customer_order_wireless = #{num_customer_order_wireless},
        cvr_order_wireless = #{cvr_order_wireless},
        num_f_order_paid_wireless = #{num_f_order_paid_wireless},
        amt_paid_wireless = #{amt_paid_wireless},
        amt_rate_paid_wireless = #{amt_rate_paid_wireless},
        num_regular_paid_wireless = #{num_regular_paid_wireless},
        num_customer_paid_wireless = #{num_customer_paid_wireless},
        num_rate_customer_paid_wireless = #{num_rate_customer_paid_wireless},
        num_case_paid_wireless = #{num_case_paid_wireless},
        num_product_paid_wireless = #{num_product_paid_wireless},
        cvr_paid_wireless = #{cvr_paid_wireless},
        num_c_order_paid_wireless = #{num_c_order_paid_wireless},
        num_customer_low_dsr_com = #{num_customer_low_dsr_com},
        dsr_service = #{dsr_service},
        dsr_describe = #{dsr_describe},
        amt_return = #{amt_return},
        num_customer_return = #{num_customer_return},
        dsr_express = #{dsr_express},
        num_f_order_shipped = #{num_f_order_shipped},
        times_collect_store = #{times_collect_store},
        times_collect_product = #{times_collect_product},
        num_collect_customer_product = #{num_collect_customer_product},
        num_collect_customer_store = #{num_collect_customer_store}
        <include refid="vt_sales_shop_condition"/>
    </update>

    <insert id="insert_vt_sales_shop" parameterType="Map">
        INSERT INTO bi_source.${table_title_name}_shop (
        shop_id,
        process_date,
        pv_product_num,
        uv_store_home,
        pv_store_home,
        uv,
        uv_change_daily,
        uv_regular,
        uv_regular_rate,
        pv,
        pv_change_daily,
        pv_product_num_pc,
        uv_store_home_pc,
        pv_store_home_pc,
        visit_time_avg_store_home_pc,
        uv_pc,
        uv_regular_pc,
        pv_pc,
        pv_avg_pc,
        visit_time_avg_pc,
        uv_detail_pc,
        pv_detail_pc,
        bounce_rate_pc,
        pv_avg,
        visit_time_avg,
        uv_detail,
        pv_detail,
        bounce_rate,
        uv_new,
        uv_tb_app,
        pv_tb_app,
        uv_tm_app,
        pv_tm_app,
        uv_wap,
        pv_wap,
        pv_product_num_wireless,
        uv_store_home_wireless,
        pv_store_home_wireless,
        uv_wireless,
        uv_wireless_rate,
        uv_regular_wireless,
        pv_wireless,
        pv_avg_wireless,
        visit_time_avg_wireless,
        uv_detail_wireless,
        pv_detail_wireless,
        bounce_rate_wireless,
        price_customer_unit,
        num_regular,
        rate_num_regular,
        price_customer_unit_pc,
        amt_order_pc,
        num_order_customer_pc,
        cvr_order_pc,
        num_f_order_paid_pc,
        amt_paid_pc,
        num_regular_paid_pc,
        num_customer_paid_pc,
        qty_case_paid_pc,
        qty_product_paid_pc,
        cvr_paid_pc,
        num_c_order_paid_pc,
        cvr_paid_detail_pc,
        num_f_order,
        amt_order,
        num_customer,
        num_f_order_paid,
        amt_order_paid,
        num_customer_order_paid,
        num_case_order_paid,
        num_case_order,
        cvr_order,
        num_c_order,
        num_new_customer,
        avg_case_paid,
        avg_num_c_order_paid,
        num_f_paid,
        amt_paid,
        amt_paid_change_daily,
        num_customer_paid,
        num_case_paid,
        num_product_paid,
        avg_paid,
        num_c_order_paid,
        amt_paid_tb_app,
        num_customer_paid_tb_app,
        num_case_paid_tb_app,
        cvr_paid_tb_app,
        amt_paid_tm_app,
        num_customer_paid_tm_app,
        num_case_paid_tm_app,
        cvr_paid_tm_app,
        amt_paid_wap,
        num_customer_paid_wap,
        num_case_paid_wap,
        cvr_paid_wap,
        price_customer_unit_wireless,
        amt_order_wireless,
        num_customer_order_wireless,
        cvr_order_wireless,
        num_f_order_paid_wireless,
        amt_paid_wireless,
        amt_rate_paid_wireless,
        num_regular_paid_wireless,
        num_customer_paid_wireless,
        num_rate_customer_paid_wireless,
        num_case_paid_wireless,
        num_product_paid_wireless,
        cvr_paid_wireless,
        num_c_order_paid_wireless,
        num_customer_low_dsr_com,
        dsr_service,
        dsr_describe,
        amt_return,
        num_customer_return,
        dsr_express,
        num_f_order_shipped,
        times_collect_store,
        times_collect_product,
        num_collect_customer_product,
        num_collect_customer_store
        )
        VALUES
        <foreach collection="value" item="SalesShopBean" separator=",">
            (
            #{SalesShopBean.shop_id},
            #{SalesShopBean.process_date},
            #{SalesShopBean.pv_product_num},
            #{SalesShopBean.uv_store_home},
            #{SalesShopBean.pv_store_home},
            #{SalesShopBean.uv},
            #{SalesShopBean.uv_change_daily},
            #{SalesShopBean.uv_regular},
            #{SalesShopBean.uv_regular_rate},
            #{SalesShopBean.pv},
            #{SalesShopBean.pv_change_daily},
            #{SalesShopBean.pv_product_num_pc},
            #{SalesShopBean.uv_store_home_pc},
            #{SalesShopBean.pv_store_home_pc},
            #{SalesShopBean.visit_time_avg_store_home_pc},
            #{SalesShopBean.uv_pc},
            #{SalesShopBean.uv_regular_pc},
            #{SalesShopBean.pv_pc},
            #{SalesShopBean.pv_avg_pc},
            #{SalesShopBean.visit_time_avg_pc},
            #{SalesShopBean.uv_detail_pc},
            #{SalesShopBean.pv_detail_pc},
            #{SalesShopBean.bounce_rate_pc},
            #{SalesShopBean.pv_avg},
            #{SalesShopBean.visit_time_avg},
            #{SalesShopBean.uv_detail},
            #{SalesShopBean.pv_detail},
            #{SalesShopBean.bounce_rate},
            #{SalesShopBean.uv_new},
            #{SalesShopBean.uv_tb_app},
            #{SalesShopBean.pv_tb_app},
            #{SalesShopBean.uv_tm_app},
            #{SalesShopBean.pv_tm_app},
            #{SalesShopBean.uv_wap},
            #{SalesShopBean.pv_wap},
            #{SalesShopBean.pv_product_num_wireless},
            #{SalesShopBean.uv_store_home_wireless},
            #{SalesShopBean.pv_store_home_wireless},
            #{SalesShopBean.uv_wireless},
            #{SalesShopBean.uv_wireless_rate},
            #{SalesShopBean.uv_regular_wireless},
            #{SalesShopBean.pv_wireless},
            #{SalesShopBean.pv_avg_wireless},
            #{SalesShopBean.visit_time_avg_wireless},
            #{SalesShopBean.uv_detail_wireless},
            #{SalesShopBean.pv_detail_wireless},
            #{SalesShopBean.bounce_rate_wireless},
            #{SalesShopBean.price_customer_unit},
            #{SalesShopBean.num_regular},
            #{SalesShopBean.rate_num_regular},
            #{SalesShopBean.price_customer_unit_pc},
            #{SalesShopBean.amt_order_pc},
            #{SalesShopBean.num_order_customer_pc},
            #{SalesShopBean.cvr_order_pc},
            #{SalesShopBean.num_f_order_paid_pc},
            #{SalesShopBean.amt_paid_pc},
            #{SalesShopBean.num_regular_paid_pc},
            #{SalesShopBean.num_customer_paid_pc},
            #{SalesShopBean.qty_case_paid_pc},
            #{SalesShopBean.qty_product_paid_pc},
            #{SalesShopBean.cvr_paid_pc},
            #{SalesShopBean.num_c_order_paid_pc},
            #{SalesShopBean.cvr_paid_detail_pc},
            #{SalesShopBean.num_f_order},
            #{SalesShopBean.amt_order},
            #{SalesShopBean.num_customer},
            #{SalesShopBean.num_f_order_paid},
            #{SalesShopBean.amt_order_paid},
            #{SalesShopBean.num_customer_order_paid},
            #{SalesShopBean.num_case_order_paid},
            #{SalesShopBean.num_case_order},
            #{SalesShopBean.cvr_order},
            #{SalesShopBean.num_c_order},
            #{SalesShopBean.num_new_customer},
            #{SalesShopBean.avg_case_paid},
            #{SalesShopBean.avg_num_c_order_paid},
            #{SalesShopBean.num_f_paid},
            #{SalesShopBean.amt_paid},
            #{SalesShopBean.amt_paid_change_daily},
            #{SalesShopBean.num_customer_paid},
            #{SalesShopBean.num_case_paid},
            #{SalesShopBean.num_product_paid},
            #{SalesShopBean.avg_paid},
            #{SalesShopBean.num_c_order_paid},
            #{SalesShopBean.amt_paid_tb_app},
            #{SalesShopBean.num_customer_paid_tb_app},
            #{SalesShopBean.num_case_paid_tb_app},
            #{SalesShopBean.cvr_paid_tb_app},
            #{SalesShopBean.amt_paid_tm_app},
            #{SalesShopBean.num_customer_paid_tm_app},
            #{SalesShopBean.num_case_paid_tm_app},
            #{SalesShopBean.cvr_paid_tm_app},
            #{SalesShopBean.amt_paid_wap},
            #{SalesShopBean.num_customer_paid_wap},
            #{SalesShopBean.num_case_paid_wap},
            #{SalesShopBean.cvr_paid_wap},
            #{SalesShopBean.price_customer_unit_wireless},
            #{SalesShopBean.amt_order_wireless},
            #{SalesShopBean.num_customer_order_wireless},
            #{SalesShopBean.cvr_order_wireless},
            #{SalesShopBean.num_f_order_paid_wireless},
            #{SalesShopBean.amt_paid_wireless},
            #{SalesShopBean.amt_rate_paid_wireless},
            #{SalesShopBean.num_regular_paid_wireless},
            #{SalesShopBean.num_customer_paid_wireless},
            #{SalesShopBean.num_rate_customer_paid_wireless},
            #{SalesShopBean.num_case_paid_wireless},
            #{SalesShopBean.num_product_paid_wireless},
            #{SalesShopBean.cvr_paid_wireless},
            #{SalesShopBean.num_c_order_paid_wireless},
            #{SalesShopBean.num_customer_low_dsr_com},
            #{SalesShopBean.dsr_service},
            #{SalesShopBean.dsr_describe},
            #{SalesShopBean.amt_return},
            #{SalesShopBean.num_customer_return},
            #{SalesShopBean.dsr_express},
            #{SalesShopBean.num_f_order_shipped},
            #{SalesShopBean.times_collect_store},
            #{SalesShopBean.times_collect_product},
            #{SalesShopBean.num_collect_customer_product},
            #{SalesShopBean.num_collect_customer_store}
            )
        </foreach>
    </insert>

</mapper>
