<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.batch.bi.mapper.ShopChannelEcommMapper">

    <!-- 获得vm_shop信息结构 -->
    <resultMap id="driverConfigMap" type="batch.bi.ShopChannelEcommBean">
        <result column="shop_id" property="shop_id"/>
        <result column="shop_code" property="shop_code"/>
        <result column="order_channel_id" property="order_channel_id"/>
        <result column="order_channel_code" property="order_channel_code"/>
        <result column="ecomm_id" property="ecomm_id"/>
        <result column="ecomm_code" property="ecomm_code"/>
        <result column="user_name" property="user_name"/>
        <result column="user_ps" property="user_ps"/>
        <result column="login_url" property="login_url"/>
        <result column="reflash_url" property="reflash_url"/>
    </resultMap>

    <!-- 设定vm_shop检索条件 -->
    <sql id="vm_driver_condition">
        <where>
            <if test="channel_id != null and channel_id != '' ">
                and vm_shop.channel_id = #{channel_id}
            </if>
            <if test="ecomm_id != null and ecomm_id != '' ">
                and vm_shop.ecomm_id = #{ecomm_id}
            </if>
            <if test="user_name != null and user_name != '' ">
                and vm_shop.id = #{shop_id}
            </if>
            <if test="enable != null and enable != '' ">
                and vm_shop.enable = #{enable}
            </if>
        </where>
    </sql>

    <!-- 检索vm_shop信息 -->
    <select id="select_list_vm_shop_driver"  parameterType="int" resultMap="driverConfigMap">
		select
			vm_shop.id AS shop_id,
			vm_shop.code AS shop_code,
			vm_shop.channel_id AS order_channel_id,
			vm_channel.code AS order_channel_code,
			vm_shop.ecomm_id AS ecomm_id,
			vm_ecomm.code AS ecomm_code,
			vm_shop.shop_user AS user_name,
			vm_shop.shop_ps AS user_ps,
			vm_ecomm.login_url AS login_url,
			vm_ecomm.reflash_url AS reflash_url
		from bi_master.vm_shop AS vm_shop
		INNER JOIN bi_master.vm_channel AS vm_channel ON vm_shop.channel_id = vm_channel.id
		INNER JOIN bi_master.vm_ecomm AS vm_ecomm ON vm_shop.ecomm_id = vm_ecomm.id
		WHERE vm_shop.enable = #{enable}
	</select>

</mapper>
