<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.service.dao.sql">

    <!-- Tag信息追加 -->
    <insert id="insert_cms_bt_tag" parameterType="com.voyageone.service.model.cms.CmsBtTagModel" useGeneratedKeys="true"
            keyProperty="id">
        insert into voyageone_cms2.cms_bt_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tagName != null">
                tag_name,
            </if>
            <if test="tagPath != null">
                tag_path,
            </if>
            <if test="channelId != null">
                channel_id,
            </if>
            <if test="tagPathName != null">
                tag_path_name,
            </if>
            <if test="tagType != null">
                tag_type,
            </if>
            <if test="tagStatus != null">
                tag_status,
            </if>
            <if test="sortOrder != null">
                sort_order,
            </if>
            <if test="parentTagId != null">
                parent_tag_id,
            </if>
            created,
            <if test="creater != null">
                creater,
            </if>
            modified,
            <if test="creater != null">
                modifier,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tagName != null">
                #{tagName,jdbcType=VARCHAR},
            </if>
            <if test="tagPath != null">
                #{tagPath,jdbcType=VARCHAR},
            </if>
            <if test="channelId != null">
                #{channelId,jdbcType=VARCHAR},
            </if>
            <if test="tagPathName != null">
                #{tagPathName,jdbcType=VARCHAR},
            </if>
            <if test="tagType != null">
                #{tagType,jdbcType=INTEGER},
            </if>
            <if test="tagStatus != null">
                #{tagStatus,jdbcType=INTEGER},
            </if>
            <if test="sortOrder != null">
                #{sortOrder,jdbcType=INTEGER},
            </if>
            <if test="parentTagId != null">
                #{parentTagId,jdbcType=INTEGER},
            </if>
            now(),
            <if test="creater != null">
                #{creater,jdbcType=VARCHAR},
            </if>
            now(),
            <if test="creater != null">
                #{creater,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!-- Tag信息更新 -->
    <update id="update_cms_bt_tag" parameterType="com.voyageone.service.model.cms.CmsBtTagModel">
        update voyageone_cms2.cms_bt_tag
        <set>
            <if test="tagName != null">
                tag_name = #{tagName,jdbcType=VARCHAR},
            </if>
            <if test="tagPath != null">
                tag_path = #{tagPath,jdbcType=VARCHAR},
            </if>
            <if test="tagPathName != null">
                tag_path_name = #{tagPathName,jdbcType=VARCHAR},
            </if>
            <if test="tagType != null">
                tag_type = #{tagType,jdbcType=INTEGER},
            </if>
            <if test="tagStatus != null">
                tag_status = #{tagStatus,jdbcType=INTEGER},
            </if>
            <if test="sortOrder != null">
                sort_order = #{sortOrder,jdbcType=INTEGER},
            </if>
            <if test="parentTagId != null">
                parent_tag_id = #{parentTagId,jdbcType=INTEGER},
            </if>
            modified = now(),
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
        </set>
        where tag_id = #{id,jdbcType=INTEGER}
    </update>

    <!-- Tag信息删除（TagId 对应Tag删除） -->
    <delete id="delete_cms_bt_tag_by_tag_id">
        delete from voyageone_cms2.cms_bt_tag
        where tag_id = #{tagId,jdbcType=INTEGER}
    </delete>

    <!-- Tag信息删除（根据parent_tag_id 删除子 tag） -->
    <delete id="delete_cms_bt_tag_by_parent_tag_id">
        delete from voyageone_cms2.cms_bt_tag
        where parent_tag_id = #{parentTagId,jdbcType=INTEGER}
    </delete>

    <!-- Tag信息检索 （根据 tag_id，取得对应Tag）-->
    <resultMap id="TagMap" type="com.voyageone.service.model.cms.CmsBtTagModel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="tag_name" property="tagName" jdbcType="VARCHAR"/>
        <result column="channel_id" property="channelId" jdbcType="VARCHAR"/>
        <result column="tag_path" property="tagPath" jdbcType="VARCHAR"/>
        <result column="tag_path_name" property="tagPathName" jdbcType="VARCHAR"/>
        <result column="tag_type" property="tagType" jdbcType="INTEGER"/>
        <result column="tag_status" property="tagStatus" jdbcType="INTEGER"/>
        <result column="sort_order" property="sortOrder" jdbcType="INTEGER"/>
        <result column="parent_tag_id" property="parentTagId" jdbcType="INTEGER"/>
        <result column="created" property="created" jdbcType="TIMESTAMP"/>
        <result column="creater" property="creater" jdbcType="VARCHAR"/>
        <result column="modified" property="modified" jdbcType="TIMESTAMP"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="select_one_by_tag_id" resultMap="TagMap">
        select
            tag.id,
            tag.tag_name,
            tag.channel_id,
            tag.tag_path,
            tag.tag_path_name,
            tag.tag_type,
            tag.tag_status,
            tag.sort_order,
            tag.parent_tag_id,
            tag.created,
            tag.creater,
            tag.modified,
            tag.modifier
        from voyageone_cms2.cms_bt_tag tag
        where id = #{tagId}
    </select>

    <!-- Tag信息检索 （根据 父tag_id，取得对应Tag）-->
    <select id="select_one_by_parent_tag_id" resultMap="TagMap">
        select
            tag.id,
            tag.tag_name,
            tag.channel_id,
            tag.tag_path,
            tag.tag_path_name,
            tag.tag_type,
            tag.tag_status,
            tag.sort_order,
            tag.parent_tag_id,
            tag.created,
            tag.creater,
            tag.modified,
            tag.modifier
        from voyageone_cms2.cms_bt_tag tag
        where id = #{tagId}
          and parent_tag_id = 0
    </select>

    <!-- Tag信息检索 （根据channel_id，parent_tag_id, tag_name 取得对应子TagList）-->
    <select id="select_one_by_tag_name" resultMap="TagMap">
        select
            tag.id,
            tag.tag_name,
            tag.channel_id,
            tag.tag_path,
            tag.tag_path_name,
            tag.tag_type,
            tag.tag_status,
            tag.sort_order,
            tag.parent_tag_id,
            tag.created,
            tag.creater,
            tag.modified,
            tag.modifier
        from voyageone_cms2.cms_bt_tag tag
        where
              parent_tag_id = #{parentTagId}
          and tag_name = #{tagName}
          and channel_id = #{channelId}
    </select>

    <!-- Tag信息检索 （根据父tag_id，取得对应子TagList）-->
    <select id="select_list_by_parent_tag_id" resultMap="TagMap" parameterType="int">
        select
            tag.id,
            tag.tag_name,
            tag.channel_id,
            tag.tag_path,
            tag.tag_path_name,
            tag.tag_type,
            tag.tag_status,
            tag.sort_order,
            tag.parent_tag_id,
            tag.created,
            tag.creater,
            tag.modified,
            tag.modifier
        from voyageone_cms2.cms_bt_tag tag
        where
            parent_tag_id = #{parentTagId,jdbcType=INTEGER}
        order by tag.id
    </select>

    <!-- Tag信息检索 （根据ChannelId，取得对应子TagList）-->
    <select id="select_list_by_channel_id" resultMap="TagMap" parameterType="String">
        select
            tag.id,
            tag.tag_name,
            tag.channel_id,
            tag.tag_path,
            tag.tag_path_name,
            tag.tag_type,
            tag.tag_status,
            tag.sort_order,
            tag.parent_tag_id,
            tag.created,
            tag.creater,
            tag.modified,
            tag.modifier
        from voyageone_cms2.cms_bt_tag tag
        where
            channel_id = #{channelId,jdbcType=VARCHAR}
        order by tag.id
    </select>
</mapper>