<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.service.dao.sql">

    <!-- Tag信息删除（id 对应Tag删除） -->
    <delete id="delete_cms_bt_tag_by_tag_id">
        delete from voyageone_cms2.cms_bt_tag
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <!-- Tag信息删除（根据parent_tag_id 删除子 tag） -->
    <delete id="delete_cms_bt_tag_by_parent_tag_id">
        delete from voyageone_cms2.cms_bt_tag
        where parent_tag_id = #{parentTagId,jdbcType=INTEGER}
    </delete>

    <!-- Tag信息检索 （根据 tag_id，取得对应Tag）-->
    <resultMap id="TagMap" type="com.voyageone.service.model.cms.CmsBtTagModel" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="tag_name" property="tagName" jdbcType="VARCHAR" />
        <result column="channel_id" property="channelId" jdbcType="VARCHAR" />
        <result column="tag_path" property="tagPath" jdbcType="VARCHAR" />
        <result column="tag_path_name" property="tagPathName" jdbcType="VARCHAR" />
        <result column="tag_type" property="tagType" jdbcType="INTEGER" />
        <result column="tag_status" property="tagStatus" jdbcType="INTEGER" />
        <result column="sort_order" property="sortOrder" jdbcType="INTEGER" />
        <result column="parent_tag_id" property="parentTagId" jdbcType="INTEGER" />
        <result column="active" property="active" jdbcType="INTEGER" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
        <result column="creater" property="creater" jdbcType="VARCHAR" />
        <result column="modified" property="modified" jdbcType="TIMESTAMP" />
        <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    </resultMap>
    <select id="select_one_by_tag_id" resultMap="TagMap">
        select
            tag.id,
            tag.tag_name,
            tag.channel_id,
            tag.tag_path,
            tag.tag_path_name,
            tag.tag_type,
            tag.tag_status,
            tag.sort_order,
            tag.parent_tag_id,
            tag.created,
            tag.creater,
            tag.modified,
            tag.modifier
        from voyageone_cms2.cms_bt_tag tag
        where id = #{tagId}
    </select>

    <!-- Tag信息检索 （根据 父tag_id，取得对应Tag）-->
    <select id="select_one_by_parent_tag_id" resultMap="TagMap">
        select
            tag.id,
            tag.tag_name,
            tag.channel_id,
            tag.tag_path,
            tag.tag_path_name,
            tag.tag_type,
            tag.tag_status,
            tag.sort_order,
            tag.parent_tag_id,
            tag.created,
            tag.creater,
            tag.modified,
            tag.modifier
        from voyageone_cms2.cms_bt_tag tag
        where id = #{tagId}
          and parent_tag_id = 0
    </select>

    <!-- Tag信息检索 （根据channel_id，parent_tag_id, tag_name 取得对应子TagList）-->
    <select id="select_one_by_tag_name" resultMap="TagMap">
        select
            tag.id,
            tag.tag_name,
            tag.channel_id,
            tag.tag_path,
            tag.tag_path_name,
            tag.tag_type,
            tag.tag_status,
            tag.sort_order,
            tag.parent_tag_id,
            tag.created,
            tag.creater,
            tag.modified,
            tag.modifier
        from voyageone_cms2.cms_bt_tag tag
        where
            parent_tag_id = #{parentTagId}
            <if test="tagName != null">
                and tag_name = #{tagName}
            </if>
            and channel_id = #{channelId}
            and tag.active = 1
    </select>

    <!-- Tag信息检索 （根据父tag_id，取得对应子TagList）-->
    <select id="select_list_by_parent_tag_id" resultMap="TagMap" parameterType="int">
        select
            tag.id,
            tag.tag_name,
            tag.channel_id,
            tag.tag_path,
            tag.tag_path_name,
            tag.tag_type,
            tag.tag_status,
            tag.sort_order,
            tag.parent_tag_id,
            tag.created,
            tag.creater,
            tag.modified,
            tag.modifier,
            active
        from voyageone_cms2.cms_bt_tag tag
        where
            tag.parent_tag_id = #{parentTagId,jdbcType=INTEGER}
            and tag.active = 1
            and tag.tag_status = 0
        order by tag.id
    </select>

    <!-- Tag信息检索 （根据ChannelId和tagType，取得对应子TagList）-->
    <select id="select_list_by_channel_id_and_tag_type" resultType="com.voyageone.service.bean.cms.CmsBtTagBean" parameterType="Map">
        select
        tag.id,
        tag.tag_name as tagname,
        tag.channel_id as channelId,
        tag.tag_path as tagPath,
        tag.tag_path_name as tagPathName,
        tag.tag_path_name as tagChildrenName,
        tag.tag_type as tagType,
        tag.tag_status as tagStatus,
        tag.sort_order as sortOrder,
        tag.parent_tag_id as parentTagid,
        tag.active,
        tag.created,
        tag.creater,
        tag.modified,
        tag.modifier
        from voyageone_cms2.cms_bt_tag tag
        where
        (tag.channel_id = #{channelId}
        <if test="orgChannelId != null and orgChannelId != ''">
            or tag.channel_id = #{orgChannelId}
        </if>
        )
        and tag_type = #{tagTypeSelectValue}
        and tag.tag_path_name != ''
        and tag.active = 1
        and tag.tag_status = 0
        order by tag.id
    </select>

    <!-- Tag信息检索 （高级检索画面-查询条件用 查询90天内的标签）-->
    <select id="select_list_by_channel_id_4AdvSearch" resultType="com.voyageone.service.bean.cms.CmsBtTagBean" parameterType="Map">
        select
        tag.id,
        tag.tag_name as tagname,
        tag.channel_id as channelId,
        tag.tag_path as tagPath,
        tag.tag_path_name as tagPathName,
        tag.tag_path_name as tagChildrenName,
        tag.tag_type as tagType,
        tag.tag_status as tagStatus,
        tag.sort_order as sortOrder,
        tag.parent_tag_id as parentTagid,
        tag.active,
        tag.created,
        tag.creater,
        tag.modified,
        tag.modifier
        from voyageone_cms2.cms_bt_promotion promo
        <if test="cartId == 27">
            inner join voyageone_cms2.cms_bt_jm_promotion jmpromo on jmpromo.id = promo.promotion_id
        </if>
        inner join voyageone_cms2.cms_bt_tag tag on tag.id = promo.ref_tag_id
        where
        (promo.channel_id = #{channelId}
        <if test="orgChannelId != null and orgChannelId != ''">
            or promo.channel_id = #{orgChannelId}
        </if>
        )
        <if test="cartId != null">
            and promo.cart_id = #{cartId}
        </if>
        and promo.activity_end >= concat(date_format(date_add(CURDATE(), interval -90 day),  '%Y-%m-%d'),' 00:00:00')
        and tag.tag_path_name != ''
        and (tag.channel_id = #{channelId}
        <if test="orgChannelId != null and orgChannelId != ''">
            or tag.channel_id = #{orgChannelId}
        </if>
        )
        and tag_type = '2'
        order by tag.id
    </select>

    <!-- Tag信息检索 必须关联cms_bt_promotion（根据ChannelId和tagType，取得对应子TagList）-->
    <select id="select_list_by_channel_id_and_tag_type2" resultType="com.voyageone.service.bean.cms.CmsBtTagBean" parameterType="Map">
        select
        tag.id,
        tag.tag_name as tagname,
        tag.channel_id as channelId,
        tag.tag_path as tagPath,
        tag.tag_path_name as tagPathName,
        tag.tag_path_name as tagChildrenName,
        tag.tag_type as tagType,
        tag.tag_status as tagStatus,
        tag.sort_order as sortOrder,
        tag.parent_tag_id as parentTagid,
        tag.active,
        tag.created,
        tag.creater,
        tag.modified,
        tag.modifier
        from voyageone_cms2.cms_bt_promotion promo
        left join voyageone_cms2.cms_bt_tag tag on tag.id = promo.ref_tag_id
        where
        (promo.channel_id = #{channelId}
        <if test="orgChannelId != null and orgChannelId != ''">
            or promo.channel_id = #{orgChannelId}
        </if>
        )
        <if test="cartId != null">
            and promo.cart_id = #{cartId}
        </if>
        and promo.active=1
        and promo.promotion_status = 1
        and tag.active = 1
        and tag.tag_status = 0
        and tag.tag_path_name != ''
        and (tag.channel_id = #{channelId}
        <if test="orgChannelId != null and orgChannelId != ''">
            or tag.channel_id = #{orgChannelId}
        </if>
        )
        and tag_type = '2'
        order by tag.id
    </select>

    <!-- promotion Tag信息检索 查询子节点 -->
    <select id="select_list_by_channel_id_and_parent_tag" resultType="com.voyageone.service.bean.cms.CmsBtTagBean" parameterType="Map">
        select DISTINCT
        tag.id,
        tag.tag_name as tagname,
        tag.channel_id as channelId,
        tag.tag_path as tagPath,
        tag.tag_path_name as tagPathName,
        tag.tag_path_name as tagChildrenName,
        tag.tag_type as tagType,
        tag.tag_status as tagStatus,
        tag.sort_order as sortOrder,
        tag.parent_tag_id as parentTagid,
        tag.active,
        tag.created,
        tag.creater,
        tag.modified,
        tag.modifier
        from voyageone_cms2.cms_bt_tag tag
        where
        tag.parent_tag_id in (
        <foreach collection="tagList" item="itemIds" index="index" separator=",">
            #{itemIds}
        </foreach>
        )
        and tag.tag_path_name != ''
        and (tag.channel_id = #{channelId}
        <if test="orgChannelId != null and orgChannelId != ''">
            or tag.channel_id = #{orgChannelId}
        </if>
        )
        and tag.active = 1
        and tag.tag_status = 0
        and tag_type = '2'
        order by tag.id
    </select>

    <!-- Tag信息检索 （根据 父tag_id，取得对应Tag）-->
    <select id="select_one_by_tag_info" resultMap="TagMap" parameterType="String">
        select
        tag.id,
        tag.tag_name,
        tag.channel_id,
        tag.tag_path,
        tag.tag_path_name,
        tag.tag_type,
        tag.tag_status,
        tag.sort_order,
        tag.parent_tag_id,
        tag.created,
        tag.creater,
        tag.modified,
        tag.modifier
        from voyageone_cms2.cms_bt_tag tag
        where tag.parent_tag_id = #{parentTagId}
        and tag.tag_type = #{tagType}
        and tag.active=1
    </select>

    <!-- 检索同级别的其它Tag信息 -->
    <select id="select_list_by_same_lvl" resultMap="TagMap">
        select
        tag.id,
        tag.tag_name,
        tag.channel_id,
        tag.tag_path,
        tag.tag_path_name,
        tag.tag_type,
        tag.tag_status,
        tag.sort_order,
        tag.parent_tag_id,
        tag.created,
        tag.creater,
        tag.modified,
        tag.modifier
        from voyageone_cms2.cms_bt_tag tag
        where
        parent_tag_id = #{parentTagId}
        and channel_id = #{channelId}
        and id != #{tagId}
        and tag.active = 1
    </select>

    <!-- 根据条件查询 -->
    <select id="select_tagpathname_list_by_tagpath" resultType="com.voyageone.service.bean.cms.CmsBtTagBean" parameterType="Map" >
        SELECT
        tag.id,
        tag.tag_name as tagname,
        tag.channel_id as channelId,
        tag.tag_path as tagPath,
        tag.tag_path_name as tagPathName,
        tag.tag_path_name as tagChildrenName,
        tag.tag_type as tagType,
        tag.tag_status as tagStatus,
        tag.sort_order as sortOrder,
        tag.parent_tag_id as parentTagid
        from voyageone_cms2.cms_bt_tag tag
        WHERE
        tag.channel_id = #{channelId}
        and tag.active = 1
        <if test="tagPathList != null and tagPathList.size() > 0">
            and (tag.tag_path in
            <foreach collection="tagPathList" item="tagPathItem" open="(" separator="," close=")">
                #{tagPathItem}
            </foreach>
            )
        </if>
        order by tag.id
    </select>

    <select id="select_list_by_type" resultType="com.voyageone.service.bean.cms.CmsBtTagBean" parameterType="Map">
        SELECT
        tag.id,
        tag.tag_name as tagname,
        tag.channel_id as channelId,
        tag.tag_path as tagPath,
        tag.tag_path_name as tagPathName,
        tag.tag_path_name as tagChildrenName,
        tag.tag_type as tagType,
        tag.tag_status as tagStatus,
        tag.sort_order as sortOrder,
        tag.parent_tag_id as parentTagid
        FROM voyageone_cms2.cms_bt_tag tag
        WHERE
        tag.channel_id = #{channelId} AND tag_type=#{type}
        and tag.active = 1
    </select>

</mapper>