<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.service.dao.sql">
    <resultMap id="imagesMap" type="com.voyageone.service.model.cms.CmsBtImagesModel" >
        <id column="channel_id" property="channelId" jdbcType="VARCHAR" />
        <id column="code" property="code" jdbcType="VARCHAR" />
        <id column="img_name" property="imgName" jdbcType="VARCHAR" />
        <result column="original_url" property="originalUrl" jdbcType="VARCHAR" />
        <result column="upd_flg" property="updFlg" jdbcType="INTEGER" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
        <result column="creater" property="creater" jdbcType="VARCHAR" />
        <result column="modified" property="modified" jdbcType="TIMESTAMP" />
        <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    </resultMap>

    <select id="select_cms_bt_images" resultMap="imagesMap" parameterType="com.voyageone.service.model.cms.CmsBtImagesModel" >
        select
          channel_id,
          code,
          img_name,
          original_url,
          upd_flg
        from voyageone_cms2.cms_bt_images
        <where>
            <if test="channelId != null">
                channel_id = #{channelId}
            </if>
            <if test="code != null">
                and code = #{code}
            </if>
            <if test="updFlg != null">
                and upd_flg = #{updFlg}
            </if>
            <if test="originalUrl != null">
                and original_url = #{originalUrl}
            </if>
            <if test="imgName != null">
                and img_name = #{imgName}
            </if>
        </where>
    </select>
    <insert id="insert_cms_bt_images" parameterType="com.voyageone.service.model.cms.CmsBtImagesModel" >
        insert into voyageone_cms2.cms_bt_images(
                channel_id,
                code,
                img_name,
                original_url,
                upd_flg,
                created,
                creater,
                modified,
                modifier
        ) value (
                #{channelId},
                #{code},
                #{imgName},
                #{originalUrl},
                #{updFlg},
                now(),
                #{creater},
                now(),
                #{creater}
        )
    </insert>

    <update id="update_cms_bt_images" parameterType="com.voyageone.service.model.cms.CmsBtImagesModel" >
        update voyageone_cms2.cms_bt_images
        <set>
            <if test="channelId != null">
                channel_id = #{channelId,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                code = #{code}
            </if>
            <if test="updFlg != null">
                upd_flg = #{updFlg}
            </if>
            <if test="originalUrl != null">
                original_url = #{originalUrl}
            </if>
            <if test="imgName != null">
                img_name = #{imgName}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
