<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.service.dao.sql">

    <!--<resultMap id="CmsBtBusinessLogModel" type="com.voyageone.service.model.cms.CmsBtBusinessLogModel"/>
-->
    <sql id="fields">
	   id,
       channel_id channelId,
       cat_id catId,
       voyageone_cms2.cms_bt_business_log.cart_id cartId,
       group_id groupId,
       group_name groupName,
       product_id productId,
       product_name productName,
       promotion_id promotionId,
       promotion_name promotionName,
       model,
       code,
       sku,
       error_type_id errorTypeId,
       error_code errorCode,
       error_msg errorMsg,
       status,
       voyageone_cms2.cms_bt_business_log.created,
       voyageone_cms2.cms_bt_business_log.creater,
       voyageone_cms2.cms_bt_business_log.modified,
       voyageone_cms2.cms_bt_business_log.modifier
	</sql>

    <!-- 根据条件查询 -->
    <select id="select_business_log_By_Condition" resultType="com.voyageone.service.bean.cms.CmsBtBusinessLogBean"
            parameterType="Map">
        select
        <include refid="fields"/>
        ,cart.short_name as cartName
        from voyageone_cms2.cms_bt_business_log
        LEFT JOIN synship.ct_cart cart on voyageone_cms2.cms_bt_business_log.cart_id = cart.cart_id
        where status = 0
        <if test="channelId != null and channelId != ''">
            and channel_id = #{channelId}
        </if>
        <if test="errType != null and errType != ''">
            and error_type_id = #{errType}
        </if>
        <if test="productName != null and productName != ''">
            and product_name like CONCAT('%',#{productName},'%' )
        </if>
        <if test="catId != null and catId != ''">
            and cat_id = #{catId}
        </if>
        <if test="cartId > 0">
            and voyageone_cms2.cms_bt_business_log.cart_id = #{cartId}
        </if>
        <if test="codes != null and codes != '' and codes.size() > 0">
            and (code in
            <foreach collection="codes" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
            or model in
            <foreach collection="codes" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
            )
        </if>
        ORDER BY created DESC
        LIMIT #{offset}, #{rows}
    </select>

    <select id="select_business_log_By_Condition_cnt" resultType="int" parameterType="Map">
        SELECT COUNT(1) from voyageone_cms2.cms_bt_business_log
        where status = 0
        <if test="channelId != null and channelId != ''">
            and channel_id = #{channelId}
        </if>
        <if test="errType != null and errType != ''">
            and error_type_id = #{errType}
        </if>
        <if test="productName != null and productName != ''">
            and product_name like CONCAT('%',#{productName},'%' )
        </if>
        <if test="catId != null and catId != ''">
            and cat_id = #{catId}
        </if>
        <if test="cartId > 0">
            and cart_id = #{cartId}
        </if>
        <if test="codes != null and codes != '' and codes.size() > 0">
            and (code in
            <foreach collection="codes" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
            or model in
            <foreach collection="codes" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
            )
        </if>
    </select>

    <!-- 根据seq修改状态  status = 1-->
    <update id="update_business_log_status_finish" parameterType="Map">
        update voyageone_cms2.cms_bt_business_log set status = 1 where id=#{id}
    </update>

    <!-- 根据channelId(必须),cart_id,group_id,model或code修改log状态  status = 1 -->
    <update id="update_business_log_status_finish_by_condition" parameterType="Map">
        update voyageone_cms2.cms_bt_business_log
          set  status = 1
              ,modified = now()
        <if test="modifier != null and modifier != ''">
              ,modifier = #{modifier}
        </if>
        where status = 0
        <if test="channelId != null and channelId != ''">
            and channel_id = #{channelId}
        </if>
            and (
        <if test="cartId != null and cartId != ''">
            cart_id is not null or
        </if>
        <if test="groupId != null and groupId != ''">
            group_id != '' or
        </if>
        <if test="model != null and model != ''">
            model != '' or
        </if>((1 != 1)
        <if test="code != null and code != ''">
            or code != ''
        </if>
            ))
        <if test="cartId != null and cartId != ''">
            and (IFNULL(cart_id,'') = '' or cart_id = #{cartId})
        </if>
        <if test="groupId != null and groupId != ''">
            and (IFNULL(group_id,'') = '' or group_id = #{groupId})
        </if>
        <if test="model != null and model != ''">
            and (IFNULL(model,'') = '' or model = #{model})
        </if>
        <if test="code != null and code != ''">
            and (IFNULL(code,'') = '' or code = #{code})
        </if>
    </update>

    <update id="update_business_log_status_finish_by_condition2" parameterType="Map">
        update voyageone_cms2.cms_bt_business_log
        set  status = 1
        ,modified = now()
        <if test="modifier != null and modifier != ''">
            ,modifier = #{modifier}
        </if>
        where status = 0
        <if test="channelId != null and channelId != ''">
            and channel_id = #{channelId}
        </if>
        <if test="cartId != null">
            and cart_id = #{cartId}
        </if>
        <if test="groupId != null">
            and group_id = #{groupId}
        </if>
    </update>
</mapper>
