<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.service.dao.sql">

    <!--<resultMap id="CmsBtBusinessLogModel" type="com.voyageone.service.model.cms.CmsBtBusinessLogModel"/>
-->
    <sql id="fields">
	   id,
       channel_id channelId,
       cat_id catId,
       cart_id cartId,
       group_id groupId,
       group_name groupName,
       product_id productId,
       product_name productName,
       promotion_id promotionId,
       promotion_name promotionName,
       model,
       code,
       sku,
       error_type_id errorTypeId,
       error_code errorCode,
       error_msg errMsg,
       status,
       created,
       creater,
       modified,
       modifier
	</sql>

    <!-- 根据条件查询 -->
    <select id="select_business_log_By_Condition" resultType="com.voyageone.service.model.cms.CmsBtBusinessLogModel"
            parameterType="Map">
        select
        <include refid="fields"/>
        from voyageone_cms2.cms_bt_business_log
        where status = 0
        <if test="channelId != null and channelId != ''">
            and channel_id = #{channelId}
        </if>
        <if test="errType != null and errType != ''">
            and error_type_id = #{errType}
        </if>
        <if test="productName != null and productName != ''">
            and product_name like CONCAT('%',#{productName},'%' )
        </if>
        <if test="catId != null and catId != ''">
            and cat_id = #{catId}
        </if>
        <if test="cartId > 0">
            and cart_id = #{cartId}
        </if>
        <if test="codes != null and codes.size() > 0">
            and (code in
            <foreach collection="codes" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
            or model in
            <foreach collection="codes" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
            )
        </if>
        ORDER BY created DESC
        LIMIT #{offset}, #{rows}
    </select>

    <select id="select_business_log_By_Condition_cnt" resultType="int" parameterType="Map">
        SELECT COUNT(1) from voyageone_cms2.cms_bt_business_log
        where status = 0
        <if test="channelId != null and channelId != ''">
            and channel_id = #{channelId}
        </if>
        <if test="errType != null and errType != ''">
            and error_type_id = #{errType}
        </if>
        <if test="productName != null and productName != ''">
            and product_name like CONCAT('%',#{productName},'%' )
        </if>
        <if test="catId != null and catId != ''">
            and cat_id = #{catId}
        </if>
        <if test="cartId > 0">
            and cart_id = #{cartId}
        </if>
        <if test="codes != null and codes.size() > 0">
            and (code in
            <foreach collection="codes" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
            or model in
            <foreach collection="codes" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
            )
        </if>
    </select>

    <!-- 根据seq修改状态  status = 1-->
    <update id="update_business_log_status_finish" parameterType="Map">
        update voyageone_cms2.cms_bt_business_log set status = 1 where id=#{seq}
    </update>

</mapper>
