<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.service.dao.sql">
    <resultMap id="StockIncrementExcelMap" type="com.voyageone.service.bean.cms.task.stock.StockIncrementExcelBean">
        <result column="product_model" property="productModel"/>
        <result column="product_code" property="productCode"/>
        <result column="sku" property="sku"/>
        <result column="property1" property="property1"/>
        <result column="property2" property="property2"/>
        <result column="property3" property="property3"/>
        <result column="property4" property="property4"/>
        <result column="qty" property="qty"/>
        <result column="increment_qty" property="incrementQty"/>
        <result column="status" property="status"/>
        <result column="fix_flg" property="fixFlg"/>
    </resultMap>

    <select id="cms_bt_stock_separate_increment_item_selectStockSeparateIncrement" resultType="HashMap"
            parameterType="HashMap">
        select
        t1.id,
        t1.sub_task_id,
        t1.channel_id,
        t1.sku,
        t1.qty,
        t1.increment_qty,
        t1.fix_flg,
        t1.status,
        t2.cart_id,
        t2.task_id,
        t2.type
        from voyageone_cms2.cms_bt_stock_separate_increment_item${tableNameSuffix} t1
        inner join voyageone_cms2.cms_bt_task_kucungeli t2 on t1.sub_task_id = t2.sub_task_id
        where 1=1
        <if test="subTaskId != null">
            and t1.sub_task_id = #{subTaskId}
        </if>
        <if test="subTaskIdList != null and subTaskIdList.size() > 0">
            and (t1.sub_task_id in
            <foreach collection="subTaskIdList" item="subTaskIdListItem" open="(" separator="," close=")">
                #{subTaskIdListItem}
            </foreach>
            )
        </if>
        <if test="sku != null">
            and t1.sku = #{sku}
        </if>
        <if test="skuList != null and skuList.size() > 0">
            and (t1.sku in
            <foreach collection="skuList" item="skuItem" open="(" separator="," close=")">
                #{skuItem}
            </foreach>
            )
        </if>
        <if test="channelId !=null">
            and t1.channel_id = #{channelId}
        </if>
        <if test="status !=null">
            and t1.status = #{status}
        </if>
        <if test="statusList != null and statusList.size() > 0">
            and (t1.status in
            <foreach collection="statusList" item="statusItem" open="(" separator="," close=")">
                #{statusItem}
            </foreach>
            )
        </if>
    </select>

    <select id="cms_bt_stock_separate_increment_item_selectStockSeparateIncrementSuccessQty" resultType="int"
            parameterType="HashMap">
        select sum(increment_qty) as increment_qty_sum
        from voyageone_cms2.cms_bt_stock_separate_increment_item
        where
        sku = #{sku}
        and channel_id = #{channelId}
        and status = #{status}
    </select>

    <select id="cms_bt_stock_separate_increment_item_selectStockSeparateIncrementItemByStatus" resultType="Integer"
            parameterType="HashMap">
        select id
        from voyageone_cms2.cms_bt_stock_separate_increment_item
        where sub_task_id = #{subTaskId}
        <if test="statusList != null and statusList.size() > 0">
            and (status in
            <foreach collection="statusList" item="statusItem" open="(" separator="," close=")">
                #{statusItem}
            </foreach>
            )
        </if>
        limit 0,1
    </select>

    <select id="cms_bt_stock_separate_increment_item_selectStockSeparateIncrementItemHistoryCnt" resultType="int"
            parameterType="HashMap">
        select count(*)
        from   voyageone_cms2.cms_bt_stock_separate_increment_item_history
        where sub_task_id = #{subTaskId}
    </select>

    <select id="cms_bt_stock_separate_increment_item_selectStockSeparateIncrementItemBySql" resultType="HashMap"
            parameterType="HashMap">
        ${sql}
    </select>

    <update id="cms_bt_stock_separate_increment_item_updateStockSeparateIncrementItem" parameterType="HashMap">
        update voyageone_cms2.cms_bt_stock_separate_increment_item
        <set>
            <if test="qty != null">
                qty = #{qty},
            </if>
            <if test="incrementQty != null">
                increment_qty = #{incrementQty},
            </if>
            <if test="errorMsg != null">
                error_msg = #{errorMsg},
            </if>
            <if test="errorTime != null">
                error_time = #{errorTime},
            </if>
            <if test="separateTime != null">
                separate_time = #{separateTime},
            </if>
            <if test="restoreTime != null">
                restore_time = #{restoreTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="fixFlg != null">
                fix_flg = #{fixFlg},
            </if>
            modified = now(),
            <if test="modifier != null">
                modifier = #{modifier},
            </if>
        </set>
        <where>
            1 = 1
            <if test="seq != null">
                and id = #{seq}
            </if>
            <if test="subTaskId != null">
                and sub_task_id = #{subTaskId}
            </if>
            <if test="subTaskIdList != null and subTaskIdList.size() > 0">
                and (sub_task_id in
                <foreach collection="subTaskIdList" item="subTaskIdItem" open="(" separator="," close=")">
                    #{subTaskIdItem}
                </foreach>
                )
            </if>
            <if test="sku != null">
                and sku = #{sku}
            </if>
            <if test="statusWhere != null">
                and status = #{statusWhere}
            </if>
            <if test="statusList != null and statusList.size() > 0">
                and (status in
                <foreach collection="statusList" item="statusItem" open="(" separator="," close=")">
                    #{statusItem}
                </foreach>
                )
            </if>
        </where>
    </update>

    <delete id="cms_bt_stock_separate_increment_item_deleteStockSeparateIncrementItem" parameterType="HashMap">
        delete
        from voyageone_cms2.cms_bt_stock_separate_increment_item
        where
        sub_task_id = #{subTaskId}
        <if test="sku != null">
            and sku = #{sku}
        </if>
    </delete>

    <select id="cms_bt_stock_separate_increment_item_selectExcelStockIncrementInfo" resultMap="StockIncrementExcelMap"
            parameterType="HashMap">
        select
        `product_model`,
        `product_code`,
        `sku`,
        `property1`,
        `property2`,
        `property3`,
        `property4`,
        `qty`,
        `increment_qty`,
        `status`,
        `fix_flg`
        from ${tableName}
        ${whereSql}
        order by
        `product_model`,`product_code`,`sku`
    </select>

    <insert id="cms_bt_stock_separate_increment_item_insertStockSeparateIncrementItemByList" parameterType="List">
        insert into voyageone_cms2.cms_bt_stock_separate_increment_item (
        sub_task_id,
        channel_id,
        product_model,
        product_code,
        sku,
        qty,
        increment_qty,
        property1,
        property2,
        property3,
        property4,
        status,
        fix_flg,
        created,
        creater,
        modified,
        modifier
        ) value
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.subTaskId},
            #{item.channelId},
            #{item.productModel},
            #{item.productCode},
            #{item.sku},
            #{item.qty},
            #{item.incrementQty},
            <if test="item.property1 != null">
                #{item.property1},
            </if>
            <if test="item.property1 == null">
                '',
            </if>
            <if test="item.property2 != null">
                #{item.property2},
            </if>
            <if test="item.property2 == null">
                '',
            </if>
            <if test="item.property3 != null">
                #{item.property3},
            </if>
            <if test="item.property3 == null">
                '',
            </if>
            <if test="item.property4 != null">
                #{item.property4},
            </if>
            <if test="item.property4 == null">
                '',
            </if>
            <if test="item.status != null">
                #{item.status},
            </if>
            <if test="item.status == null">
                '',
            </if>
            #{item.fixFlg},
            now(),
            #{item.creater},
            now(),
            #{item.creater})
        </foreach>
    </insert>
</mapper>