<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.service.dao.sql">
    <resultMap id="PriceLogMap" type="com.voyageone.service.model.cms.CmsBtPriceLogModel_Mysql">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="channel_id" property="channelId" jdbcType="VARCHAR"/>
        <result column="product_id" property="productId" jdbcType="INTEGER"/>
        <result column="cart_id" property="cartId" jdbcType="INTEGER"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="sku" property="sku" jdbcType="VARCHAR"/>
        <result column="msrp_price" property="msrpPrice" jdbcType="VARCHAR"/>
        <result column="retail_price" property="retailPrice" jdbcType="VARCHAR"/>
        <result column="sale_price" property="salePrice" jdbcType="VARCHAR"/>
        <result column="client_msrp_price" property="clientMsrpPrice" jdbcType="VARCHAR"/>
        <result column="client_retail_price" property="clientRetailPrice" jdbcType="VARCHAR"/>
        <result column="client_net_price" property="clientNetPrice" jdbcType="VARCHAR"/>
        <result column="comment" property="comment" jdbcType="VARCHAR"/>
        <result column="created" property="created" jdbcType="TIMESTAMP"/>
        <result column="creater" property="creater" jdbcType="VARCHAR"/>
        <result column="modified" property="modified" jdbcType="TIMESTAMP"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        `id`,`channel_id`,`product_id`,`cart_id`,`code`,`sku`,`msrp_price`,`retail_price`,`sale_price`,`client_msrp_price`,`client_retail_price`,`client_net_price`,`comment`,`created`,`creater`,`modified`,`modifier`
    </sql>

    <select id="select_cms_bt_price_log_by_code" resultMap="PriceLogMap" parameterType="HashMap">
        (
            SELECT
            <include refid="Base_Column_List"/> FROM voyageone_cms2.cms_bt_price_log
            where code = #{code}
            <if test="sku != null and sku !=''">
                and sku = #{sku}
            </if>
            and channel_id = #{channelId}
        )
        UNION ALL
        (
            SELECT <include refid="Base_Column_List"/> FROM voyageone_cms2.cms_bt_price_log_history
            where code = #{code}
            <if test="sku != null and sku !=''">
                and sku = #{sku}
            </if>
            and channel_id = #{channelId}
        )
        order by modified desc
        limit #{offset}, #{rows}
    </select>

    <select id="select_cms_bt_price_log_by_code_cnt" resultType="int" parameterType="HashMap">
        select SUM(tempCount) FROM (
            (
                SELECT count(1) AS tempCount FROM voyageone_cms2.cms_bt_price_log log
                WHERE log.code = #{code} AND log.sku = #{sku} AND log.channel_id = #{channelId}
            )
            UNION ALL
            (
                SELECT count(1) AS tempCount FROM voyageone_cms2.cms_bt_price_log_history log_history
                WHERE log_history.code = #{code} AND log_history.sku = #{sku} AND log_history.channel_id = #{channelId}
            )
        )temp
    </select>

    <insert id="insert_cms_bt_price_log_list" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into voyageone_cms2.cms_bt_price_log (
        channel_id,
        product_id,
        cart_id,
        code,
        sku,
        msrp_price,
        retail_price,
        sale_price,
        client_msrp_price,
        client_retail_price,
        client_net_price,
        comment,
        created,
        creater,
        modified,
        modifier
        ) value
        <foreach collection="list" item="item" separator=",">
            (
            #{item.channelId},
            #{item.productId},
            #{item.cartId},
            #{item.code},
            #{item.sku},
            #{item.msrpPrice},
            #{item.retailPrice},
            #{item.salePrice},
            #{item.clientMsrpPrice},
            #{item.clientRetailPrice},
            #{item.clientNetPrice},
            #{item.comment},
            now(),
            #{item.creater},
            now(),
            #{item.creater}
            )
        </foreach>
    </insert>

    <select id="selectLastOneBySkuOnCart" resultMap="PriceLogMap">
        SELECT <include refid="Base_Column_List"/> FROM voyageone_cms2.cms_bt_price_log
        WHERE channel_id = #{channel_id} AND cart_id = #{cart_id} AND sku = #{sku}
        ORDER BY created DESC
        LIMIT 1
    </select>

    <select id="selectLastOneBySkuOnCardFromHistory" resultMap="PriceLogMap">
        SELECT <include refid="Base_Column_List"/> FROM voyageone_cms2.cms_bt_price_log_history
        WHERE channel_id = #{channel_id} AND cart_id = #{cart_id} AND sku = #{sku}
        ORDER BY created DESC
        LIMIT 1
    </select>

    <select id="selectPageBySkuOnCart" resultMap="PriceLogMap">
        (
            SELECT <include refid="Base_Column_List"/> FROM voyageone_cms2.cms_bt_price_log
            WHERE channel_id = #{channel_id} and code = #{code}
            <if test="cart_id != null">
                and cart_id = #{cart_id}
            </if>
            <if test="sku != null">
                and sku = #{sku}
            </if>
        )
        UNION ALL
        (
            SELECT <include refid="Base_Column_List"/> FROM voyageone_cms2.cms_bt_price_log_history
            WHERE channel_id = #{channel_id} and code = #{code}
            <if test="cart_id != null">
                and cart_id = #{cart_id}
            </if>
            <if test="sku != null">
                and sku = #{sku}
            </if>
        )
        ORDER BY created DESC
        <if test="offset != null and limit != null">
            LIMIT #{offset}, #{limit}
        </if>
    </select>

    <select id="selectCountBySkuOnCart" resultType="int">
        SELECT SUM(tempCount) from (
            (

                SELECT COUNT(1) as tempCount FROM voyageone_cms2.cms_bt_price_log
                WHERE channel_id = #{channel_id} AND code = #{code}
                <if test="cart_id != null">
                    and cart_id = #{cart_id}
                </if>
                <if test="sku != null">
                    and sku = #{sku}
                </if>
            )
            UNION ALL
            (

                SELECT COUNT(1) as tempCount FROM voyageone_cms2.cms_bt_price_log_history
                WHERE channel_id = #{channel_id} AND code = #{code}
                <if test="cart_id != null">
                    and cart_id = #{cart_id}
                </if>
                <if test="sku != null">
                    and sku = #{sku}
                </if>
            )
        )temp
    </select>

    <update id="updateCodeForMove" parameterType="HashMap">
        update voyageone_cms2.cms_bt_price_log
        set code=#{itemCodeNew},
        modified = now(),
        modifier =#{modifier}
        where code=#{itemCodeOld}
        and channel_id=#{channelId}
        and (sku in
        <foreach collection="skuList" item="skuItem" open="(" separator="," close=")">
            #{skuItem}
        </foreach>
        )
    </update>
</mapper>