<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.service.dao.sql">

    <select id="select_cms_mt_platform_special_field"
            resultType="com.voyageone.service.model.cms.CmsMtPlatformSpecialFieldModel"
            parameterType="com.voyageone.service.model.cms.CmsMtPlatformSpecialFieldModel">
        select
        cart_id as cartId,
        cat_id as catId,
        field_id as fieldId,
        type,
        created,
        creater,
        modified,
        modifier
        from voyageone_cms2.cms_mt_platform_special_field
        <where>
            <if test="cartId != null">
                cart_id = #{cartId,jdbcType=INTEGER}
            </if>
            <if test="catId != null and catId !=''">
                AND cat_id = #{catId,jdbcType=VARCHAR}
            </if>
            <if test="fieldId != null and fieldId !=''">
                AND field_id = #{fieldId,jdbcType=VARCHAR}
            </if>
            <if test="type != null and type !=''">
                AND type = #{type,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <insert id="insert_cms_mt_platform_special_field"
            parameterType="com.voyageone.service.model.cms.CmsMtPlatformSpecialFieldModel">
        insert into voyageone_cms2.cms_mt_platform_special_field
        <trim prefix="(" suffix=")" suffixOverrides=",">
            cart_id,
            cat_id,
            field_id,
            type,
            created,
            <if test="creater != null">
                creater,
            </if>
            modified,
            <if test="modifier != null">
                modifier,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{cartId,jdbcType=INTEGER},
            #{catId,jdbcType=VARCHAR},
            #{fieldId,jdbcType=VARCHAR},
            #{type,jdbcType=VARCHAR},
            now(),
            <if test="creater != null">
                #{creater,jdbcType=VARCHAR},
            </if>
            now(),
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <delete id="delete_cms_mt_platform_special_field"
            parameterType="com.voyageone.service.model.cms.CmsMtPlatformSpecialFieldModel">
        delete from voyageone_cms2.cms_mt_platform_special_field
        where
        cart_id = #{cartId,jdbcType=INTEGER}
        and cat_id = #{catId,jdbcType=VARCHAR}
        and field_id = #{fieldId,jdbcType=VARCHAR}
        and type = #{type,jdbcType=VARCHAR}
    </delete>
    <select id="select_cms_mt_platform_special_field_type"
            parameterType="com.voyageone.service.model.cms.CmsMtPlatformSpecialFieldModel" resultType="string">
        SELECT type
        FROM voyageone_cms2.cms_mt_platform_special_field
        WHERE cart_id = #{cartId,jdbcType=INTEGER}
        AND cat_id = #{catId,jdbcType=VARCHAR}
        AND field_id = #{fieldId,jdbcType=VARCHAR}
    </select>

</mapper>
