<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.service.dao.sql">

    <!-- 查找制定configKey的数据 -->
    <select id="cms_mt_channel_config_selectByConfigKey"
            resultType="com.voyageone.service.model.cms.CmsMtChannelConfigModel"
            parameterType="com.voyageone.service.model.cms.CmsMtChannelConfigModel">
        SELECT
        a.id,
        a.channel_id as channelId,
        a.config_key as configKey,
        a.config_code as configCode,
        a.config_value1 as configValue1,
        a.config_value2 as configValue2,
        a.config_value3 as configValue3,
        a.comment,
        a.created,
        a.creater,
        a.modified,
        a.modifier,
        a.status,
        a.config_type as configType
        FROM voyageone_cms2.cms_mt_channel_config a
        WHERE a.channel_id = #{channelId}
        AND a.config_key = #{configKey}
    </select>

</mapper>
