<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.service.dao.sql">

    <select id="select_cms_mt_channel_category_config"
            resultType="com.voyageone.service.model.cms.CmsMtChannelCategoryConfigModel"
            parameterType="com.voyageone.service.model.cms.CmsMtChannelCategoryConfigModel">
        select
        channel_id channelId,
        category_id categoryId,
        created,
        creater,
        modified,
        modifier
        from voyageone_cms2.cms_mt_channel_category_config
        <where>
            <if test="channelId != null and channelId !=''">
                channel_id = #{channelId,jdbcType=VARCHAR}
            </if>
            <if test="categoryId != null and categoryId !=''">
                category_id = #{categoryId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <insert id="insert_cms_mt_channel_category_config"
            parameterType="com.voyageone.service.model.cms.CmsMtChannelCategoryConfigModel">
        insert IGNORE into voyageone_cms2.cms_mt_channel_category_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="channelId != null">
                channel_id,
            </if>
            <if test="categoryId != null">
                category_id,
            </if>
            created,
            <if test="creater != null">
                creater,
            </if>
            modified,
            <if test="modifier != null">
                modifier,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="channelId != null">
                #{channelId,jdbcType=VARCHAR},
            </if>
            <if test="categoryId != null">
                #{categoryId,jdbcType=VARCHAR},
            </if>
            now(),
            <if test="creater != null">
                #{creater,jdbcType=VARCHAR},
            </if>
            now(),
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

</mapper>
