<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="defaultStatementTimeout" value="20000" />
	</settings>
	
	<typeAliases>

		<!-- analyze data bean -->
		<typeAlias alias="batch.bi.EcommBean" type="com.voyageone.batch.bi.bean.modelbean.EcommBean" />
		<typeAlias alias="batch.bi.ChannelBean" type="com.voyageone.batch.bi.bean.modelbean.ChannelBean" />
		<typeAlias alias="batch.bi.ColumnBean" type="com.voyageone.batch.bi.bean.modelbean.ColumnBean" />
		<typeAlias alias="batch.bi.ProductIIDBean" type="com.voyageone.batch.bi.bean.modelbean.ProductIIDBean" />
		<typeAlias alias="batch.bi.ShopBean" type="com.voyageone.batch.bi.bean.modelbean.ShopBean" />
		<typeAlias alias="batch.bi.ViewProductBean" type="com.voyageone.batch.bi.bean.modelbean.ViewProductBean" />
		<typeAlias alias="batch.bi.SalesProductBean" type="com.voyageone.batch.bi.bean.modelbean.SalesProductBean" />
		<typeAlias alias="batch.bi.SalesShopBean" type="com.voyageone.batch.bi.bean.modelbean.SalesShopBean" />
		<typeAlias alias="taobao.Item" type="com.taobao.api.domain.Item" />
		<typeAlias alias="jingdong.Ware" type="com.jd.open.api.sdk.domain.ware.Ware" />

		<!-- analyze form bean -->
		<typeAlias alias="batch.bi.FormUser" type="com.voyageone.batch.bi.bean.formbean.FormUser" />

		<!-- analyze config bean -->
		<typeAlias alias="batch.bi.ShopChannelEcommBean" type="com.voyageone.batch.bi.bean.modelbean.ShopChannelEcommBean" />

		<!-- upload jumei bean -->
		<typeAlias alias="batch.bi.JumeiProductBean" type="com.voyageone.batch.bi.bean.modelbean.jumei.JumeiProductBean" />
		<typeAlias alias="batch.bi.JumeiSkuBean" type="com.voyageone.batch.bi.bean.modelbean.jumei.JumeiSkuBean" />
		<typeAlias alias="batch.bi.JumeiDealBean" type="com.voyageone.batch.bi.bean.modelbean.jumei.JumeiDealBean" />
		<typeAlias alias="batch.bi.JumeiProductAddedBean" type="com.voyageone.batch.bi.bean.modelbean.jumei.JumeiDealBean" />
		<typeAlias alias="batch.bi.JumeiRecordBean" type="com.voyageone.batch.bi.bean.modelbean.jumei.JumeiRecordBean" />

	</typeAliases>
</configuration>
