<div class="col-sm-12 platform_mapping_bg">
    <div class="col-sm-3 text-left">
        <i class="fa {{::property.headClass}}"></i>
        <span>{{::property.name||property.id}}</span>
        <span ng-if="::property.required">{{'TXT_REQUIRED' | translate}}</span>
    </div>
    <div class="col-sm-3 pull-center" ng-if="!isChildOfMulti()">
        <button class="btn btn-default btn-xs"
                ng-click="popup({property: property})">{{'TXT_MAPPING_VALUE' | translate}}
        </button>
    </div>
    <div class="col-sm-1 pull-right text-right">
            <span ng-if="!isChildOfMulti()"
                  ng-class="{'badge':property.matched, 'badge badge-failure': !property.matched}">
                <span ng-if="property.matched">{{'TXT_COMPLETE' | translate}}</span>
                <span ng-if="!property.matched">{{'TXT_INCOMPLETE' | translate}}</span>
            </span>
    </div>
    <div class="pull-right">
        <span class="{{::property.iconClass}}">{{::property.type}}</span>
    </div>
</div>
<div class="m-l-xl"
     ng-repeat="child in property.fieldList track by child.id"
     ng-if="!child.hide"
     platform-prop="child"
     platform-prop-parent="property"
     platform-prop-popup="popup({property: property})"></div>