<div class="wrapper-md" ng-init="initialize()">
	<div class="vo_accordion vo_attr">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><i class="fa fa-reorder"></i>&nbsp;配置管理</h4>
				</div>
				<div class="container-fluid m-t-xs m-b-xs">
					<div class="col-sm-12">
						<div class="col-sm-4">
							<div class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-3 control-label">配置项</label>
									<div class="col-sm-9">
										<input type="text" class="form-control">
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-3 control-label">配置Key</label>
									<div class="col-sm-9">
										<input type="text" class="form-control">
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 text-center" ng-controller="popupCtrl">
							<div class="form-horizontal form-inline">
								<button class="btn btn-default" ng-click="clear()"><i class="fa fa-remove"></i>&nbsp;{{'BTN_CLEAR' | translate}}</button>
								<button class="btn btn-vo" ng-click="search()"><i class="fa fa-search"></i>&nbsp;{{'BTN_SEARCH' | translate}}</button>
								<button class="btn btn-success" ng-click="openAuthority('md')"><i class="fa fa-plus"></i>&nbsp;增加配置</button>
							</div><!-- .form-inline -->
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	<div class="box">
		<div class="box-body">
			<div class="table-responsive">
				<table class="table table-hover vo_table" style="margin-bottom:0px">
					<tbody>
					<tr class="font-bold" style="background:#e67e22;color:#fff">
						<td class="mfb-xt text-center">序号</td>
						<td class="mfb-xxt text-left">配置项</td>
						<td class="mfb-xxt text-left">配置Key</td>
						<td class="mfb-xxt text-center">配置值</td>
						<td class="mfb-xxt text-center">Action</td>
					</tr>
					</tbody>
				</table>
				<div class="col-sm-12 dropdown_table_main">
					<table class="table table-hover vo_table tableWordBreak" style="margin-bottom:0px" ng-controller="popupCtrl">
						<tbody>
						<tr>
							<td class="mfb-xt text-center">1</td>
							<td class="mfb-xxt text-left">abcd</td>
							<td class="mfb-xxt text-left">123456</td>
							<td class="mfb-xxt text-center">1</td>
							<td class="mfb-xxt text-center">
								<button title="修改初始密码" class="btn btn-success btn-xs" ng-click="openAuthority('md')"><i class="fa fa-pencil"></i></button>
								<button title="删除" class="btn btn-danger btn-xs"><i class="fa  fa-trash-o"></i></button>
							</td>
						</tr>
						<tr>
							<td class="mfb-xt text-center">2</td>
							<td class="mfb-xxt text-left">abcd</td>
							<td class="mfb-xxt text-left">123456</td>
							<td class="mfb-xxt text-center">2</td>
							<td class="mfb-xxt text-center">
								<button title="修改初始密码" class="btn btn-success btn-xs" ng-click="openAuthority('md')"><i class="fa fa-pencil"></i></button>
								<button title="删除" class="btn btn-danger btn-xs"><i class="fa  fa-trash-o"></i></button>
							</td>
						</tr>
						<tr>
							<td class="mfb-xt text-center">3</td>
							<td class="mfb-xxt text-left">abcd</td>
							<td class="mfb-xxt text-left">123456</td>
							<td class="mfb-xxt text-center">3</td>
							<td class="mfb-xxt text-center">
								<button title="修改初始密码" class="btn btn-success btn-xs" ng-click="openAuthority('md')"><i class="fa fa-pencil"></i></button>
								<button title="删除" class="btn btn-danger btn-xs"><i class="fa  fa-trash-o"></i></button>
							</td>
						</tr>
						<tr>
							<td class="mfb-xt text-center">4</td>
							<td class="mfb-xxt text-left"><input type="text" class="form-control col-sm-2"/></td>
							<td class="mfb-xxt text-left"><input type="text" class="form-control"/></td>
							<td class="mfb-xxt text-center"><input type="text" class="form-control"/></td>
							<td class="mfb-xxt text-center">
								<button title="修改初始密码" class="btn btn-success btn-xs"><i class="fa fa-plus"></i></button>
								<button title="删除" class="btn btn-danger btn-xs"><i class="fa  fa-trash-o"></i></button>
							</td>
						</tr>

						</tbody>
					</table>
				</div><!-- .table-responsive -->
			</div>
		</div><!-- /.box-body -->
		<div class="m-t-xs">
			<vpagination config="vm.errorPageOption"></vpagination>
		</div>
	</div>
</div><!-- end .wrapper-md -->