<div class="wrapper-md" ng-init="initialize()">
	<div class="box">
		<div class="form-inline pull-right m-t-xs m-r-xs">
			<a href="#/store/custom_translate/" target="_blank"><button class="btn btn-default"> 翻译自定义属性</button></a>
		    <button class="btn btn-default"> 类目自定义属性</button>
		    <button class="btn btn-default">店铺共通自定义属性</button>
		</div>
		<div class="category_ts" style="background:#fff">
			<p>您当前选择的是：<span>珠宝 / 钻石 / 翡翠 / 黄金 > 彩色宝石 / 贵重宝石</span></p>
		</div>
		<div class="category_drags">
			<div class="category_drag col-sm-2">
				<div class="category_drag_main">
					<p class="text-center text-vo font-bold">一级类目</p>
					<div class="form-inline text-center">
						<input type="text" placeholder="快速检索" class="form-control" style="width:80%">
						<button type="submit" class="btn btn-vo btn-xxs"><i class="fa fa-search"></i></button>
					</div>
					<div class="category_drag_list">
						<ul>
							<li><a href="#">服装鞋包 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">手机数码 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">服装鞋包 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">手机数码 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="category_drag col-sm-2">
				<div class="category_drag_main">
					<p class="text-center text-vo font-bold">二级类目</p>
					<div class="form-inline text-center">
						<input type="text" placeholder="快速检索" class="form-control" style="width:80%">
						<button type="submit" class="btn btn-vo btn-xxs"><i class="fa fa-search"></i></button>
					</div>
					<div class="category_drag_list">
						<ul>
							<li><a href="#">服装鞋包 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">手机数码 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">服装鞋包 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">手机数码 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="category_drag col-sm-2">
				<div class="category_drag_main">
					<p class="text-center text-vo font-bold">三级类目</p>
					<div class="form-inline text-center">
						<input type="text" placeholder="快速检索" class="form-control" style="width:80%">
						<button type="submit" class="btn btn-vo btn-xxs"><i class="fa fa-search"></i></button>
					</div>
					<div class="category_drag_list">
						<ul>
							<li><a href="#">服装鞋包 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">手机数码 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">服装鞋包 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">手机数码 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="category_drag col-sm-2">
				<div class="category_drag_main">
					<p class="text-center text-vo font-bold">四级类目</p>
					<div class="form-inline text-center">
						<input type="text" placeholder="快速检索" class="form-control" style="width:80%">
						<button type="submit" class="btn btn-vo btn-xxs"><i class="fa fa-search"></i></button>
					</div>
					<div class="category_drag_list">
						<ul>
							<li><a href="#">服装鞋包 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">手机数码 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">服装鞋包 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">手机数码 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="category_drag col-sm-2">
				<div class="category_drag_main">
					<p class="text-center text-vo font-bold">五级类目</p>
					<div class="form-inline text-center">
						<input type="text" placeholder="快速检索" class="form-control" style="width:80%">
						<button type="submit" class="btn btn-vo btn-xxs"><i class="fa fa-search"></i></button>
					</div>
					<div class="category_drag_list">
						<ul>
							<li><a href="#">服装鞋包 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">手机数码 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">服装鞋包 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">手机数码 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="category_drag col-sm-2">
				<div class="category_drag_main">
					<p class="text-center text-vo font-bold">六级类目</p>
					<div class="form-inline text-center">
						<input type="text" placeholder="快速检索" class="form-control" style="width:80%">
						<button type="submit" class="btn btn-vo btn-xxs"><i class="fa fa-search"></i></button>
					</div>
					<div class="category_drag_list">
						<ul>
							<li><a href="#">服装鞋包 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">手机数码 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">服装鞋包 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">手机数码 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
</div><!-- .col-lg-12 -->