<script>
	$(function(){
		$.post("/cms/system/cache/init",{},function(result){
			result.data.forEach(function(e){
				$("#cacheManager").append("<tr><td>"+e+"</td><td><a style='text-decoration:underline;color:#3399FF;' href='/cms/system/cache/init?cacheKey="+e+"'>清空缓存</a></td></tr>");
			});
			$("#cacheManager").append("<tr><td colspan='2'><a style='text-decoration:underline;color:#3399FF;' href='/cms/system/cache/init?delAll=dsa'>清空所有配置缓存</a></td></tr>");
		});
	});


</script>
<table id="cacheManager" style="width:600px;margin:10px auto;border:1px solid #444444;font-size: 16px;" border="1">
	<tr><th>缓存表Key名</th><th>操作</th></tr>
</table>