<div class="wrapper-md">
	<div class="col-sm-12">
		<div class="panel panelPromotion m-t-xs">
			<div class="container-fluid m-t-sm m-b-sm">
				<div class="col-sm-12">
					<div class="form-horizontal">
						<div class="form-group">
							<div class="m-l-lg">
								<label class="checkbox-inline c-checkbox"><input type="checkbox" value="option1"><span class="fa fa-check"></span> Feed导入失败 ： 311 </label>
								<label class="checkbox-inline c-checkbox"><input type="checkbox" value="option2"><span class="fa fa-check"></span> 主数据导入失败 ： 1233 </label>
								<label class="checkbox-inline c-checkbox"><input type="checkbox" value="option3"><span class="fa fa-check"></span> 刷价格失败 ： 123</label>
								<label class="checkbox-inline c-checkbox"><input type="checkbox" value="option4"><span class="fa fa-check"></span> 价格披露失败： 232 </label>
								<label class="checkbox-inline c-checkbox"><input type="checkbox" value="option5"><span class="fa fa-check"></span> 库存隔离失败： 232 </label>
							</div>
						</div><!-- .form-group -->
					</div>
				</div>
				<!--<div class="col-sm-12 text-center" ng-controller="popupCtrl">
					<script type="text/ng-template" id="popup_new_promotion.html">
						<div ng-include="'tpl/popup_new_promotion.html'"></div>
					</script>
					<div class="form-inline">
						<button class="btn btn-vo" ng-click="ok()"><i class="fa fa-search"></i>  Search</button>
						<button class="btn btn-success" ng-click="openpromotion('md')"><i class="fa fa-plus"></i> 新增Promotion</button>
					</div>&lt;!&ndash; .form-inline &ndash;&gt;
				</div>-->
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="box">
			<div class="box-body">
				<table class="table table-hover-new text-center">
					<thead>
					<tr>
						<th class="text-center">Seq.</th>
						<th class="text-left">Product Status</th>
						<th class="text-center">Platform Status</th>
						<th class="text-center">Promotion Name</th>
						<th class="text-center">Group IID</th>
						<th class="text-center">Product Code</th>
						<th class="text-center">Error Code</th>
						<th class="text-center">Error Messege</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>1</td>
						<td class="text-left"><span class="label label-success-new m-r-lg m-l"> New </span></td>
						<td>Onsale</td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">2015*双十一</a></td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">123456</a></td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">555-222</a></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>2</td>
						<td class="text-left"><span class="label label-yellow-new m-r-lg m-l"> Pedding </span></td>
						<td>Onsale</td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">2015*双十一</a></td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">123456</a></td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">555-222</a></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>3</td>
						<td class="text-left"><span class="label label-info m-r-lg m-l"> Ready </span></td>
						<td>Onsale</td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">2015*双十一</a></td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">123456</a></td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">555-222</a></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>4</td>
						<td class="text-left"><span class="label label-primary m-r-lg m-l"> approved </span></td>
						<td>Onsale</td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">2015*双十一</a></td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">123456</a></td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">555-222</a></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>5</td>
						<td class="text-left"><span class="label label-danger-new m-r-lg m-l"> deleted </span></td>
						<td>Onsale</td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">2015*双十一</a></td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">123456</a></td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">555-222</a></td>
						<td></td>
						<td></td>
					</tr>
					</tbody>
				</table>
			</div><!-- /.box-body -->
		</div>
	</div><!-- .col-lg-12 -->
</div><!-- end .wrapper-md -->








