<div class="wrapper-md">
	<div class="col-sm-12">
		<div class="panel panelPromotion">
			<div class="container-fluid m-t-xs m-b-xs">
				<div class="col-sm-12">
					<div class="m-l-xs">
						<label class="checkbox-inline c-checkbox"><input type="checkbox" value="option1"><span class="fa fa-check"></span> <b>Feed导入失败</b> ：311</label>
						<label class="checkbox-inline c-checkbox"><input type="checkbox" value="option2"><span class="fa fa-check"></span> <b>主数据导入失败</b> ：1233</label>
						<label class="checkbox-inline c-checkbox"><input type="checkbox" value="option3"><span class="fa fa-check"></span> <b>刷价格失败</b> ：123</label>
						<label class="checkbox-inline c-checkbox"><input type="checkbox" value="option4"><span class="fa fa-check"></span> <b>价格披露失败</b>：232 </label>
						<label class="checkbox-inline c-checkbox"><input type="checkbox" value="option5"><span class="fa fa-check"></span> <b>库存隔离失败</b>：232 </label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="box">
			<div class="box-body">
				<table class="table table-hover-new text-center">
					<thead>
					<tr>
						<th class="text-center">Seq.</th>
						<th class="text-left">Product Status</th>
						<th class="text-center">Platform Status</th>
						<th class="text-center">Promotion Name</th>
						<th class="text-center">Group IID</th>
						<th class="text-center">Product Code</th>
						<th class="text-center">Error Code</th>
						<th class="text-left mfb-xxs">Error Messege</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>1</td>
						<td class="text-left"><span class="label label-success-new m-r-lg m-l"> New </span></td>
						<td>Onsale</td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">2015*双十一</a></td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">123456</a></td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">555-222</a></td>
						<td></td>
						<td class="text-left">976c5cb468a89ddb4e5d074f06f7a109</td>
					</tr>
					<tr>
						<td>2</td>
						<td class="text-left"><span class="label label-yellow-new m-r-lg m-l"> Pedding </span></td>
						<td>Onsale</td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">2015*双十一</a></td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">123456</a></td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">555-222</a></td>
						<td></td>
						<td class="text-left">976c5cb468a89ddb4e5d074f06f7a109</td>
					</tr>
					<tr>
						<td>3</td>
						<td class="text-left"><span class="label label-info m-r-lg m-l"> Ready </span></td>
						<td>Onsale</td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">2015*双十一</a></td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">123456</a></td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">555-222</a></td>
						<td></td>
						<td class="text-left">976c5cb468a89ddb4e5d074f06f7a109</td>
					</tr>
					<tr>
						<td>4</td>
						<td class="text-left"><span class="label label-primary m-r-lg m-l"> approved </span></td>
						<td>Onsale</td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">2015*双十一</a></td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">123456</a></td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">555-222</a></td>
						<td></td>
						<td class="text-left">976c5cb468a89ddb4e5d074f06f7a109</td>
					</tr>
					<tr>
						<td>5</td>
						<td class="text-left"><span class="label label-danger-new m-r-lg m-l"> deleted </span></td>
						<td>Onsale</td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">2015*双十一</a></td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">123456</a></td>
						<td class="text-u-l"><a href="#/promotion/detail" target="_blank">555-222</a></td>
						<td></td>
						<td class="text-left">976c5cb468a89ddb4e5d074f06f7a109</td>
					</tr>
					</tbody>
				</table>
			</div><!-- /.box-body -->
		</div>
	</div><!-- .col-lg-12 -->
</div><!-- end .wrapper-md -->








