<div class="breadcrumbs">
    <div class="container">
        <h4 class="pull-left" translate="TXT_PRODUCT_FEED_UPLOAD"></h4>
        <ul class="pull-right breadcrumb">
            <li><a href="#/home" translate="TXT_HOME"></a></li>
            <li class="active disabled" translate="TXT_FEED"></li>
            <li class="active selected" translate="TXT_PRODUCT_FEED_UPLOAD"></li>
        </ul>
    </div>
</div>
<div class="container content blank-content">
    <div class="col-md-7 col-md-offset-3">
        <div class="form-group">
            <h2 translate="TXT_CHOOSE_FILE"></h2>
        </div>
        <div class="form-group">
            <div class="col-sm-12 input-group" ng-if="!ctrl.uploader.isUploading">
                <input type="file" id="file" file-style data-icon="false" data-button-text="BROWSER"
                       data-buttonName="btn btn-success" nv-file-select="" uploader="ctrl.uploader" accept=".csv">
                <span class="input-group-btn">
                    <button class="btn btn-success" ng-click="ctrl.upload()" translate="BTN_UPLOAD"></button>
                </span>
            </div>
            <div class="progress" style="height: 34px;" ng-if="ctrl.uploader.isUploading">
                <div class="progress-bar progress-bar-success" role="progressbar"
                     ng-attr-style="{{'width: ' + ctrl.uploader.progress + '%; min-width: 1em;'}}"></div>
            </div>
        </div>
        <div class="col-md-12 col-md-offset-1 info-blocks">
            <i class="fa fa-bell-o icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Notice</h3>
                <p>Please make sure your file follows <a href="javascript:void(0)" ng-click="ctrl.download()"><strong>VoyageOneFeedTemplate</strong></a> .</p>
                <p>Please make sure to use .csv format.</p>
                <p>Please make sure your file size is under 50MB.</p>
                <p>If your file size exceed 50MB, please upload via FTP.</p>
                <p>&nbsp;</p>
            </div>
            <div class="col-md-12">
                <p><b>To check the status of your uploaded product feed, please click <a href="#/feed/product_feed_import_status"><strong>here</strong></a> .</b></p>
            </div>
        </div>
    </div>
</div>