<div class="vo_modal" ng-init="ctrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()"><span
                aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <h5 class="modal-title"><i class="fa fa-edit"></i>&nbsp;查看权限</h5>
    </div>
    <div class="modal-body wrapper vbox">
        <form role="form" class="form-horizontal" name="addForm" novalidate>
            <div class="col-sm-3">
                <div class="form-horizontal">
                    <div class="row form-group"><!-- 用户名 -->
                        <label class="col-sm-3 control-label">{{'TXT_USER_NAME' | translate}}</label>
                        <div class="col-sm-8">
                            <input type="text" maxlength="50" class="form-control" ng-model="ctrl.sourceData.userName"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-horizontal">
                    <div class="row form-group"><!-- 账号 -->
                        <label class="col-sm-3 control-label">{{'TXT_ACCOUNT' | translate}}</label>
                        <div class="col-sm-8">
                            <input type="text" maxlength="50" class="form-control" ng-model="ctrl.sourceData.userAccount"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-horizontal">
                    <div class="row form-group"><!-- 组织 -->
                        <label class="col-sm-3 control-label">{{'TXT_ORGANIZE' | translate}}</label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="ctrl.sourceData.orgId" ng-disabled="true" ng-options="org.id as org.orgName for org in ctrl.orgList">
                                <option value="">&nbsp;{{'TXT_SELECT_NO_VALUE' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-horizontal">
                    <div class="row form-group"><!-- 角色 -->
                        <label class="col-sm-3 control-label">{{'TXT_ORGANIZE' | translate}}</label>
                        <div class="col-sm-8">
                            <input type="text" maxlength="50" class="form-control" ng-model="ctrl.sourceData.roleName"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row form-group">
                    <label class="col-sm-1 control-label">权限：</label>
                    <label class="col-sm-1 control-label">系统</label>
                    <div class="col-sm-3">
                        <select class="form-control" ng-model="ctrl.sourceData.orgId" ng-options="org.id as org.orgName for org in ctrl.orgList">
                            <option value="">&nbsp;{{'TXT_SELECT_NO_VALUE' | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group"><!-- 说明 -->

                    <div class="wrapper" ng-controller="treeTable">
                        <table class="table-nested table-hover-new table-hover table_main" style="table-layout: fixed;border-collapse: collapse;border-spacing: 0;width: 100%;">
                            <thead>
                            <tr>
                                <th class="cell-input">
                                    <input ng-checked="(list | selected).length == list.length" ng-click="toggleAllCheckboxes($event)" type="checkbox" />
                                </th>
                                <th>
                                    Name
                                </th>
                                <th class="cell-members">
                                    Members
                                </th>
                                <th>
                                    Title
                                </th>
                            </tr>
                            </thead>
                            <tbody ng-class="{opened: item.opened}" ng-include="'table_tree.html'" ng-repeat="item in list"></tbody>
                        </table>
                        <script id="table_tree.html" type="text/ng-template">
                            <tr ng-class="{parent: item.children}" ng-init="parentScope = $parent.$parent; initCheckbox(item, parentScope.item)">
                                <td class="cell-input">
                                    <input ng-change="toggleCheckbox(item, parentScope)" ng-model="item.selected" type="checkbox" />
                                </td>
                                <td class="cell-name" ng-click="item.opened = !item.opened">
                                    <div class="indent" style="padding-left: {{15*level}}px"></div>
                                    {{item.name}}
                                </td>
                                <td class="cell-members">
                                    {{item.children.length}}
                                </td>
                                <td>
                                    {{item.title}}
                                </td>
                            </tr>
                            <tr class="children" ng-if="item.children&&item.children.length>0">
                                <td colspan="4">
                                    <table style="table-layout: fixed;border-collapse: collapse;border-spacing: 0;width: 100%;">
                                        <tbody ng-class="{opened: item.opened}" ng-include="&#39;table_tree.html&#39;" ng-init="level = level + 1" ng-repeat="item in item.children"></tbody>
                                    </table>
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="ctrl.cancel()"><i class="fa fa-remove"></i> {{'BTN_CANCEL' | translate}}</button>
        <button class="btn btn-vo" ng-click="ctrl.save()"><i class="glyphicon glyphicon-floppy-disk"></i> {{'BTN_SAVE' | translate}}</button>
    </div>
</div>