<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.ims.sql">
    <select id="ims_beatPic_getBeatPicInfo" resultType="com.voyageone.batch.ims.bean.BeatPicBean">
        SELECT
            beat.channel_id,
            beat.cart_id,
            beat.targets,
            item.`code`,
            item.num_iid,
            item.price,
            beat.repeat,
            beat.extended,
            beat.template_url temp_url,
            item.beat_flg     dbBeat_flg,
            item.modified,
            item.modifier,
            beat.`end`,
            item.beat_item_id
        FROM voyageone_ims.ims_bt_beat beat,
            voyageone_ims.ims_bt_beat_item item
        WHERE beat.beat_id = item.beat_id
              AND (
                  item.beat_flg = 1
                  OR (item.beat_flg = 2 AND now() > beat.`end`)
                  OR item.beat_flg = 10
              )
        LIMIT #{limit};
    </select>

    <update id="ims_bt_beat_item_updateItem" parameterType="com.voyageone.batch.ims.bean.BeatPicBean">
        UPDATE voyageone_ims.ims_bt_beat_item item
        SET item.beat_flg  = #{beat_flg.value},
            item.`comment` = #{comment},
            item.modified  = now(),
            item.modifier  = #{modifier}
        WHERE item.beat_item_id = #{beat_item_id} AND modified = #{modified}
    </update>

    <select id="cms_bt_product_selectImageInfo" parameterType="com.voyageone.batch.ims.bean.BeatPicBean"
            resultType="com.voyageone.batch.ims.service.beat.ImsBeatImageInfo">
        SELECT
        p.channel_id, code, url_key, image_name, image_id
        FROM voyageone_cms.cms_bt_product p LEFT JOIN voyageone_cms.cms_bt_product_image pi ON p.product_id = pi.product_id
        WHERE p.channel_id = #{beat.channel_id}
        AND image_id IN (
        <if test="!beat.extended">${beat.targets}</if>
        <if test="beat.extended">${targets}</if>
        )
        AND image_type_id = #{image_type_id}
        AND p.code = #{beat.code}
        ORDER BY pi.image_id
    </select>
</mapper>