<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.ims.sql">

    <!-- 插入主数据（类目）-->
    <insert id="ims_insertCategories" useGeneratedKeys="true" keyProperty="cat.categoryId" parameterType="java.util.HashMap">
        insert into voyageone_ims.ims_mt_categories
            (
                category_id
              , parent_cid
              , is_parent
              , category_name
              , category_path
              , sort_order
              , created
              , creater
              , modified
              , modifier
            )
        values
            (
                getNextVal('MdCategoryId')
              , #{cat.parentCid}
              , #{cat.isParent}
              , #{cat.categoryName}
              , #{cat.categoryPath}
              , ifnull(#{cat.sortOrder},0)
              , now()
              , #{task_name}
              , now()
              , #{task_name}
            );
    </insert>

</mapper>
