<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.ims.sql">
	
	<select id="ims_bt_condition_prop_value" parameterType="Map" resultType="com.voyageone.batch.ims.modelbean.ConditionPropValue">
		SELECT
		*
		FROM
		voyageone_ims.ims_bt_condition_prop_value
		WHERE
		platform_prop_id=#{platform_prop_id}
		AND
		channel_id=#{channel_id}
	</select>

</mapper>
