<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.ims.sql">
    <select id="ims_selectDarwinStyleCode" parameterType="Map" resultType="String">
        SELECT
        style_code
        FROM voyageone_ims.ims_mt_darwin_style_mapping
        WHERE
            cart_id=#{cart_id}
        AND
            code=#{code}
    </select>
</mapper>
