<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.ims.sql">

	<select id="ims_mt_darwini_prop_value_get_value" parameterType="Map" resultType="com.voyageone.batch.ims.modelbean.DarwinPropValue">
		SELECT
			*
		FROM
			voyageone_ims.ims_mt_darwin_prop_value
		WHERE
			cart_id=#{cart_id}
		AND
			platform_prop_id=#{platform_prop_id}
		AND
			style_code = #{style_code}
	</select>
</mapper>
