<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.ims.sql">

    <!-- 批量插入达尔文品牌信息-->
    <insert id="ims_insertDarwinBrands">
        insert into voyageone_ims.ims_mt_darwin_brand_mapping (order_channel_id,cart_id,brand_code,brand_name,cid,cat_name,certified_data,created,creater,modified,modifier)
        values
        <foreach collection="brands" item="brand" separator="," >
          (#{order_channel_id},#{cart_id},#{brand.brandId},#{brand.brandName},#{brand.catId},#{brand.catName},#{brand.certifiedData},now(),#{task_name},now(),#{task_name})
        </foreach>

    </insert>

    <!-- 删除指定店铺的达尔文品牌信息-->
    <delete id="ims_delDarwinBrandsByShop">
        DELETE FROM voyageone_ims.ims_mt_darwin_brand_mapping
        WHERE order_channel_id = #{order_channel_id}
          AND cart_id = #{cart_id}
    </delete>

</mapper>
