<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.ims.sql">
    <select id="ims_bt_pic_selectByTitle" resultType="com.voyageone.batch.ims.modelbean.ImsPic">
        SELECT *
        FROM voyageone_ims.ims_bt_pic
        WHERE title = #{title} AND category_tid = #{category_tid}
    </select>

    <insert id="ims_bt_pic_insert" parameterType="com.voyageone.batch.ims.modelbean.ImsPic">
        INSERT INTO voyageone_ims.ims_bt_pic (pic_id, pic_tid, title, category_tid, pic_url, created, creater, modified, modifier)
        VALUES (NULL, #{pic_tid}, #{title}, #{category_tid}, #{pic_url}, NOW(), #{creater}, NOW(), #{modifier})
    </insert>
</mapper>
