<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.ims.sql">

    <select id="ims_selectNoPublishBeansByTime" resultType="com.voyageone.batch.ims.modelbean.ProductPublishBean" parameterType="Map">
        SELECT * FROM voyageone_ims.ims_bt_product
        WHERE publish_status = 0
        AND cart_id = 23
        AND channel_id != 010
        ORDER BY created desc limit 0,#{count}
    </select>

    <select id="ims_selectProductPublishByCondition" resultType="com.voyageone.batch.ims.modelbean.ProductPublishBean" parameterType="Map">
        SELECT * FROM voyageone_ims.ims_bt_product
        WHERE model_id = #{model_id}
        AND channel_id = #{channel_id}
        AND cart_id = #{cart_id}
        AND cn_group_id = #{cn_group_id}
        <if test="is_published != null">
        AND is_published = #{is_published}
        </if>
    </select>

    <update id="ims_updateProductPublish" parameterType="Map">
        UPDATE voyageone_ims.ims_bt_product
        SET publish_status=#{publish_status},
            num_iid=#{num_iid},
            is_published=#{is_published},
            publish_datetime=#{publish_datetime},
            publish_faild_comment=#{publish_failed_comment},
            publish_product_id=#{publish_product_id},
            main_product_flg=#{main_product_flg},
            publish_product_status=#{publish_product_status},
            quantity_update_type=#{quantity_update_type},
            modifier=#{modifier},
            modified=#{modified}
        WHERE
            product_id=#{product_id}
        AND
            channel_id=#{channel_id}
        AND
            cart_id=#{cart_id}
    </update>
</mapper>
