<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.ims.sql">

    <select id="jumei_selectSendProduct" parameterType="Map" resultType="com.voyageone.batch.ims.modelbean.SendProductBean" >
        SELECT
          channel_id,
          product_code
        FROM
          jumei.jm_bt_product
        WHERE
          channel_id=#{channel_id}
        AND
          send_flg='0'
          LIMIT #{rowCount}
    </select>

    <update id="jumei_updateSendProductOK"  parameterType="Map">
        UPDATE
          jumei.jm_bt_product
        SET
          send_flg='1',
          modified=#{modified},
          modifier=#{modifier}
        WHERE
          channel_id=#{channel_id}
        AND
          product_code=#{product_code}
    </update>
</mapper>