<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.ims.sql">
	
	<select id="ims_bt_prop_value_sku_get_value" parameterType="Map" resultType="String">
		select
		prop_value
		from
		voyageone_ims.ims_bt_prop_value_sku
		where
		prop_name=#{prop_name}
		AND
		order_channel_id=#{order_channel_id}
		AND
		sku = #{sku}
	</select>
</mapper>
