<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.wms.sql">

     <!-- 获取未匹配的ClientShipment -->
    <select id="client_shipment_selectNotMatchShipment" resultType="com.voyageone.wms.modelbean.ClientShipmentBean">
        SELECT
          *
        FROM
          wms_bt_client_shipment shipment
        WHERE
          shipment.transfer_id = 0
        AND
          shipment.syn_flg = '0'
        <if test="orderChannelIdList != null and orderChannelIdList.size() != 0 ">
            and shipment.order_channel_id in
            <foreach item="order_channel_id" index="index" collection="orderChannelIdList" open="(" separator="," close=")">
                #{order_channel_id}
            </foreach>
        </if>
        AND
          Not exists (select 1
                        from wms_bt_transfer transfer
                        where transfer.order_channel_id = shipment.order_channel_id
                        and transfer.client_shipment_id = shipment.shipment_id)

        <if test="transfer_id != null and transfer_id != 0 ">
        UNION

            SELECT
                shipment.*
            FROM
                wms_bt_client_shipment shipment,
                wms_bt_transfer transfer
            WHERE
                transfer.transfer_id = #{transfer_id}
            and transfer.order_channel_id = shipment.order_channel_id
            and transfer.client_shipment_id = shipment.shipment_id
        </if>
    </select>

    <!-- 获取ClientShipment和Trasfer的比较结果 -->
    <select id="client_shipment_selectCompareResult" resultType="com.voyageone.wms.formbean.ClientShipmentCompareBean">
        select
            *
        from
            (select
                *
            from
                (select
                    shipment.shipment_id,
                    shipment.file_name,
                    item.article_number,
                    (select sku from wms_bt_item_details details where details.order_channel_id = shipment.order_channel_id and details.barcode = item.upc order by details.active desc LIMIT 1) sku,
                    item.upc,sum(calc_qty) qty
                from
                    wms_bt_client_shipment shipment,
                    wms_bt_client_package_item item
                where shipment.shipment_id = #{shipment_id}
                and shipment.shipment_id = item.shipment_id
                GROUP BY item.article_number,item.upc) client
                left join
                (select
                    transfer.transfer_id,
                    transfer.transfer_name,
                    transfer.po_number,
                    item.transfer_sku,
                    (select client_sku from wms_bt_item_details details where details.order_channel_id = transfer.order_channel_id and details.barcode = item.transfer_barcode order by details.active desc LIMIT 1) client_sku,
                    item.transfer_barcode,
                    sum(item.transfer_qty) transfer_qty
                from
                    wms_bt_transfer transfer,
                    wms_bt_transfer_item item
                where transfer.transfer_id =  #{transfer_id}
                and transfer.transfer_id = item.transfer_id
                group by item.transfer_sku,item.transfer_barcode) transfer
                on  client.upc = transfer.transfer_barcode

            union

            select
                *
            from
                (select
                    shipment.shipment_id,
                    shipment.file_name,
                    item.article_number,
                    (select sku from wms_bt_item_details details where details.order_channel_id = shipment.order_channel_id and details.barcode = item.upc order by details.active desc LIMIT 1) sku,
                    item.upc,sum(calc_qty) qty
                from
                    wms_bt_client_shipment shipment,
                    wms_bt_client_package_item item
                where shipment.shipment_id = #{shipment_id}
                and shipment.shipment_id = item.shipment_id
                GROUP BY item.article_number,item.upc) client
                right join
                (select
                    transfer.transfer_id,
                    transfer.transfer_name,
                    transfer.po_number,
                    item.transfer_sku,
                    (select client_sku from wms_bt_item_details details where details.order_channel_id = transfer.order_channel_id and details.barcode = item.transfer_barcode order by details.active desc LIMIT 1) client_sku,
                    item.transfer_barcode,
                    sum(item.transfer_qty) transfer_qty
                from
                    wms_bt_transfer transfer,
                    wms_bt_transfer_item item
                where transfer.transfer_id = #{transfer_id}
                and transfer.transfer_id = item.transfer_id
                group by item.transfer_sku,item.transfer_barcode) transfer
                on  client.upc = transfer.transfer_barcode
            ) compare
        where ifnull(compare.qty,0) != ifnull(compare.transfer_qty,0)
    </select>
</mapper>
