<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.wms.sql">
    <resultMap id="itemDetailMap" type="com.voyageone.wms.modelbean.ItemDetailBean">
        <result column="item_details_id" property="item_details_id"/>
        <result column="order_channel_id" property="order_channel_id"/>
        <result column="sku" property="sku"/>
        <result column="itemcode" property="itemcode"/>
        <result column="size" property="size"/>
        <result column="barcode" property="barcode"/>
    </resultMap>

    <sql id="item_detail_all_select_cols">
        item_details_id, order_channel_id, sku, itemcode, size, barcode
    </sql>

    <select id="wms_bt_item_details_get_sku" resultType="string">
        select sku from wms_bt_item_details where order_channel_id = #{channel_id} and barcode = #{barcode}  order by active desc limit 1
    </select>

    <select id="wms_bt_item_details_search_item_code" resultType="string">
        SELECT
            itemcode
        FROM
            wms_bt_item_details
        WHERE
            order_channel_id = #{order_channel_id}
        AND barcode = #{code}
        AND active = '1'

        UNION

        SELECT
            itemcode
        FROM
            wms_bt_item_details
        WHERE
            order_channel_id = #{order_channel_id}
        AND itemcode = #{code}
    </select>

    <select id="wms_bt_item_details_count_by_code" resultType="int">
        SELECT
            count(1)
        FROM
            wms_bt_item_details
        WHERE
            order_channel_id = #{order_channel_id}
        AND itemcode = #{code}
    </select>

    <select id="wms_bt_item_details_selectItemDetails" resultMap="itemDetailMap">
        SELECT
            <include refid="item_detail_all_select_cols"></include>,
            <include refid="common_select_cols"></include>
        FROM
            wms_bt_item_details
        WHERE
            order_channel_id = #{order_channel_id}
        AND itemcode = #{code}
    </select>

    <select id="wms_bt_item_details_getItemDetail" resultMap="itemDetailMap">
        SELECT
            <include refid="item_detail_all_select_cols"></include>,
            <include refid="common_select_cols"></include>
        FROM
            wms_bt_item_details
        WHERE
            order_channel_id = #{order_channel_id}
        AND itemcode = #{item_code}
        AND size = #{size}
    </select>

    <insert id="wms_bt_item_details_insertItemDetail">
        INSERT INTO wms_bt_item_details (
            item_details_id,
            order_channel_id,
            sku,
            itemcode,
            size,
            barcode,
            active,
            created,
            creater,
            modified,
            modifier
        )
        VALUES
            (
                NULL,
                #{order_channel_id},
                #{sku},
                #{itemcode},
                #{size},
                #{barcode},
                #{active},
                now(),
                #{creater},
                now(),
                #{modifier}
            )
    </insert>

    <update id="wms_bt_item_details_updateItemDetailBarcode">
        UPDATE wms_bt_item_details
        SET barcode = #{barcode},
         modified = now(),
         modifier = #{modifier}
        WHERE
            item_details_id = #{item_details_id}
        AND modified = #{modified}
    </update>
</mapper>