<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.wms.sql">

    <resultMap id="stocktakeMap" type="com.voyageone.wms.formbean.FormStocktake">
		<result column="take_stock_id" property="stocktake_id"/>
		<result column="take_stock_name" property="stocktake_name"/>
		<result column="take_stock_status" property="stocktake_status"/>
		<result column="take_stock_status_name" property="stocktake_statusName"/>
		<result column="store_id" property="store_id"/>
        <result column="store_name" property="store_name"/>
        <result column="creater" property="creater"/>
		<result column="modified" property="modified"/>
		<result column="location_id" property="location_id"/>
		<result column="location_name" property="location_name"/>
		<result column="created" property="created"/>
		<result column="sessionStatus" property="sessionStatus"/>
		<result column="sessionStatusName" property="sessionStatusName"/>
		<result column="sectionStatus" property="sectionStatus"/>
		<result column="sectionStatusName" property="sectionStatusName"/>
		<result column="take_stock_detail_id" property="stocktake_detail_id"/>
		<result column="code" property="code"/>
		<result column="sku" property="sku"/>
		<result column="upc" property="upc"/>
		<result column="size" property="size"/>
		<result column="take_stock_qty" property="stocktake_qty"/>
		<result column="qty_offsets" property="stocktake_qty_offset"/>
		<result column="is_fixed" property="isFixed"/>
		<result column="seq" property="seq"/>
		<result column="product_name" property="productName"/>
		<result column="take_stock_type" property="stocktakeType"/>
	</resultMap>

    <select id="wms_stocktake_getSessionList" parameterType="com.voyageone.wms.formbean.FormStocktake" resultMap="stocktakeMap">
		select take_stock_id,
			   ts.take_stock_name,
		  	   ts.take_stock_status,
		       cmv_status.`name` take_stock_status_name,
			   cmv_stocktakeType.name take_stock_type,
		       ts.store_id,
		       store.store_name,
		       ts.creater,
			   date_format(ts.modified, '%Y-%m-%d %H:%i:%S') modified
		  from wms_bt_take_stock ts,
		       wms_mt_store store,
		       (select t.`value`, t.`name` from com_mt_value t where t.type_id = #{typeIdMap.sessionStatus}) cmv_status,
			   (select t.`value`, t.`name` from com_mt_value t where t.type_id = #{typeIdMap.stocktakeType}) cmv_stocktakeType
		where ts.store_id = store.store_id
		  and ts.take_stock_status = cmv_status.`value`
		  and ts.take_stock_type = cmv_stocktakeType.`value`
		  <if test="orderChannelId != null and orderChannelId.size() != 0 ">
				and ts.order_channel_id in
				<foreach item="item" index="index" collection="orderChannelId" open="(" separator="," close=")">
					#{item}
				</foreach>
		  </if>
		  <if test="stocktake_status != null and stocktake_status != '' ">
			  and ts.take_stock_status = #{stocktake_status}
		  </if>
		  <if test="store_id != null and store_id != '' ">
			  and ts.store_id = #{store_id}
		  </if>
		  <if test="modifiedTime_s != null and modifiedTime_s != '' ">
			  and ts.modified &gt;= #{modifiedTime_s}
		  </if>
		  <if test="modifiedTime_e != null and modifiedTime_e != '' ">
			  and ts.modified &lt;= #{modifiedTime_e}
		  </if>
  	          order by ts.modified desc
		  <if test="rows != 0">
		      limit #{offset}, #{rows}
		  </if>
    </select>

	<select id="wms_stocktake_getSessionListSize" parameterType="com.voyageone.wms.formbean.FormStocktake" resultType="int">
		select count(1)
		from wms_bt_take_stock ts
		where 1 = 1
		<if test="orderChannelId != null and orderChannelId.size() != 0 ">
			and ts.order_channel_id in
			<foreach item="item" index="index" collection="orderChannelId" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="stocktake_status != null and stocktake_status != '' ">
			and ts.take_stock_status = #{stocktake_status}
		</if>
		<if test="store_id != null and store_id != '' ">
			and ts.store_id = #{store_id}
		</if>
		<if test="modifiedTime_s != null and modifiedTime_s != '' ">
			and ts.modified &gt;= #{modifiedTime_s}
		</if>
		<if test="modifiedTime_e != null and modifiedTime_e != '' ">
			and ts.modified &lt;= #{modifiedTime_e}
		</if>
	</select>

    <insert id="wms_stocktake_createSession" parameterType="com.voyageone.wms.formbean.FormStocktake" useGeneratedKeys="true" keyProperty="stocktake_id" >
		insert into wms_bt_take_stock
		(
		order_channel_id,
		take_stock_name,
		store_id,
		take_stock_type,
		take_stock_status,
		syn_flg,
		active,
		created,
		creater,
		modified,
		modifier
		)
		values
		(
		#{order_channel_id},
		now(),
		#{store_id},
		#{stocktakeType},
		#{stocktake_status},
		#{syn_flg},
		#{active},
		now(),
		#{user},
		now(),
		#{user}
		)
    </insert>

	<select id="wms_stocktake_getChannelIdByStoreId" parameterType="int" resultType="String">
		select t.order_channel_id
  		  from wms_mt_store t
         where t.store_id = #{store_id}
	</select>

	<select id="wms_stocktake_getSessionInfoBySessionId" parameterType="int" resultMap="stocktakeMap">
		select  t.take_stock_name,
			    t.take_stock_id,
				t.take_stock_status
		  from wms_bt_take_stock t
		 where t.take_stock_id = #{stocktake_id}
	</select>

	<select id="wms_stocktake_getSectionListSize" parameterType="com.voyageone.wms.formbean.FormStocktake" resultType="int">
		select count(1)
		  from wms_bt_take_stock_detail t
		 where t.take_stock_id = #{stocktake_id}
	</select>

	<select id="wms_stocktake_getSectionList" parameterType="com.voyageone.wms.formbean.FormStocktake" resultMap="stocktakeMap">
		select take_stock_detail_id,
			   stocktakeDel.location_id,
			   location.location_name,
			   stocktakeDel.creater,
		       date_format(stocktakeDel.modified, '%Y-%m-%d %H:%i:%S') modified,
		       date_format(stocktakeDel.created, '%Y-%m-%d %H:%i:%S') created,
			   stocktakeDel.take_stock_status sectionStatus,
			   cmv_sectionStatus.`name` sectionStatusName
		  from wms_bt_take_stock_detail stocktakeDel,
			   wms_mt_location location,
			   (select t.`value`, t.`name` from com_mt_value t where t.type_id = #{typeIdMap.sectionStatus}) cmv_sectionStatus
	    where stocktakeDel.location_id = location.location_id
		  and stocktakeDel.take_stock_status = cmv_sectionStatus.`value`
	      and stocktakeDel.take_stock_id = #{stocktake_id}
	    order by stocktakeDel.modified desc, stocktakeDel.created desc
		<if test="rows != 0">
			limit #{offset}, #{rows}
		</if>
	</select>

	<delete id="wms_stocktake_deleteStocktakeSession" parameterType="int">
		delete from wms_bt_take_stock
		 where take_stock_id = #{take_stock_id}
    </delete>

	<delete id="wms_stocktake_deleteSectionBySessionId" parameterType="int">
		delete from wms_bt_take_stock_detail
		where take_stock_id = #{take_stock_id}
	</delete>

	<delete id="wms_stocktake_deleteStocktakeItemBySessionId" parameterType="int">
		delete from wms_bt_take_stock_item
		where take_stock_id = #{take_stock_id}
	</delete>

	<select id="wms_stocktake_getStocktakeItemSizeBySessionId" parameterType="int" resultType="int">
		select count(1)
		  from wms_bt_take_stock_item t
		 where t.take_stock_id = #{stocktake_id}
	</select>

	<select id="wms_stocktake_getProcessingSectionCount" parameterType="int" resultType="int">
		select count(1)
          from wms_bt_take_stock_detail t
         where t.take_stock_id = #{take_stock_id}
           and t.take_stock_status = '0'
	</select>

	<update id="wms_stocktake_changeSessionStatusBySessionId" parameterType="com.voyageone.wms.formbean.FormStocktake">
		update wms_bt_take_stock t
   	       set t.take_stock_status = #{stocktake_status},
               t.modifier = #{user},
			   t.modified = now()
         where t.take_stock_id = #{stocktake_id}
	</update>

	<select id="wms_stocktake_sessionContainSectionCheck" resultType="int">
		select stdel.take_stock_detail_id
		  from wms_bt_take_stock_detail stdel,
			   wms_mt_location lct
		 where stdel.location_id = lct.location_id
	       and lct.location_name = #{sectionName}
	       and stdel.take_stock_id = #{stocktake_id}
    </select>

	<select id="wms_stocktake_checkLocationByName" parameterType="com.voyageone.wms.formbean.FormStocktake" resultType="int">
		select lct.location_id
		  from wms_mt_location lct
		 where 1 = 1
		<if test="orderChannelId != null and orderChannelId.size() != 0 ">
			and lct.order_channel_id in
			<foreach item="item" index="index" collection="orderChannelId" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="sectionName != null and sectionName != '' ">
			and lct.location_name = #{sectionName}
		</if>
	</select>

	<insert id="wms_stocktake_createSection" parameterType="com.voyageone.wms.formbean.FormStocktake" useGeneratedKeys="true" keyProperty="stocktake_detail_id" >
        insert into wms_bt_take_stock_detail
        (
        	take_stock_id,
        	location_id,
        	take_stock_status,
        	active,
        	created,
        	creater,
        	modified,
        	modifier
        )
        values
        (
        	#{stocktake_id},
        	#{location_id},
        	#{sectionStatus},
        	#{active},
        	now(),
        	#{user},
			now(),
		    #{user}
	    )
	</insert>
	
	<delete id="wms_stocktake_deleteSectionById" parameterType="int">
		delete from wms_bt_take_stock_detail
 		 where take_stock_detail_id = #{stocktake_detail_id}
	</delete>

	<select id="wms_stocktake_getSessionSectionItem" parameterType="com.voyageone.wms.formbean.FormStocktake" resultMap="stocktakeMap">
		select st.created,
			   tsi.`code` code,
			   tsi.sku,
			   tsi.upc,
			   tsi.take_stock_qty,
			   stdel.take_stock_status sectionStatus
		  from wms_bt_take_stock_item tsi,
			   wms_bt_take_stock_detail stdel,
			   wms_bt_take_stock st
		 where tsi.take_stock_id = #{stocktake_id}
		   and tsi.take_stock_detail_id = #{stocktake_detail_id}
		   and tsi.take_stock_id = st.take_stock_id
		   and tsi.take_stock_detail_id = stdel.take_stock_detail_id
		 order by tsi.modified desc
		<if test="rows != 0">
			limit #{offset}, #{rows}
		</if>
	</select>

	<select id="wms_stocktake_getProductByUpcOrSku" parameterType="com.voyageone.wms.formbean.FormStocktake" resultMap="stocktakeMap">
		select itemDel.barcode upc,
			   itemDel.size,
			   itemDel.sku,
			   itemDel.itemcode code,
			   location.location_id
  		  from wms_bt_item_details itemDel,
  		  	   wms_mt_location location
  		 where itemDel.order_channel_id = location.order_channel_id
		<if test="upc != null and upc != '' ">
			and itemDel.barcode = #{upc}   AND itemDel.active = '1'
		</if>
		<if test="sku != null and sku != '' ">
			and itemDel.sku = #{sku}
		</if>
		   and location.location_name = #{location_name}
	</select>
    
	<update id="wms_stocktake_updateSessionSectionItem" parameterType="com.voyageone.wms.formbean.FormStocktake">
		update wms_bt_take_stock_item tsItem
   		   set tsItem.take_stock_qty = tsItem.take_stock_qty + #{stocktake_qty},
       		   tsItem.modified = now(),
		       tsItem.modifier = #{user}
 		 where tsItem.take_stock_id = #{stocktake_id}
   	   	   and tsItem.take_stock_detail_id = #{stocktake_detail_id}
   		   and tsItem.upc = #{upc}
	</update>

	<insert id="wms_stocktake_insertSessionSectionItem" parameterType="com.voyageone.wms.formbean.FormStocktake">
		insert into wms_bt_take_stock_item
        (
        	take_stock_id,
        	take_stock_detail_id,
        	upc,
        	sku,
        	code,
        	size,
        	take_stock_qty,
        	active,
        	created,
        	creater,
        	modified,
        	modifier
        )
        values
        (
        	#{stocktake_id},
        	#{stocktake_detail_id},
            #{upc},
        	#{sku},
        	#{code},
        	#{size},
        	#{stocktake_qty},
        	1,
        	now(),
        	#{user},
			now(),
			#{user}
		)
	</insert>

	<delete id="wms_stocktake_deleteItemByStocktakeDetailId" parameterType="int">
		delete from wms_bt_take_stock_item
 		 where take_stock_detail_id = #{stocktake_detail_id}
	</delete>

	<update id="wms_stocktake_closeSection" parameterType="com.voyageone.wms.formbean.FormStocktake">
		update wms_bt_take_stock_detail t
           set t.take_stock_status = #{sectionStatus},
               t.modified = now(),
			   t.modifier = #{user}
         where t.take_stock_detail_id = #{stocktake_detail_id}
	</update>

	<select id="wms_stocktake_getCompareListSize" parameterType="int" resultType="int">
		select count(1)
  		  from wms_bt_take_stock_compare_result t
         where t.take_stock_id = #{stocktake_id}
	</select>

	<select id="wms_stocktake_getCompareList" parameterType="com.voyageone.wms.formbean.FormStocktake" resultMap="stocktakeMap">
		select t.seq,
		       t.is_fixed,
			   t.sku,
			   t.inventory,
			   t.take_stock_qty,
			   t.qty_offsets,
			   t.modified
          from wms_bt_take_stock_compare_result t
         where 1=1
		<if test="stocktake_id != null and stocktake_id != '' ">
			and t.take_stock_id = #{stocktake_id}
		</if>
		order by abs(t.qty_offsets) desc
		<if test="rows != 0">
			limit #{offset}, #{rows}
		</if>
	</select>

	<update id="wms_stocktake_changeCompareStatus" parameterType="com.voyageone.wms.formbean.FormStocktake">
		update wms_bt_take_stock_compare_result t
  		   set t.is_fixed = #{isFixed},
               t.modified = now(),
			   t.modifier = #{user}
 	     where t.seq = #{seq}
	</update>

	<select id="wms_stocktake_getSessionInfo" parameterType="com.voyageone.wms.formbean.FormStocktake" resultMap="stocktakeMap">
		select t.store_id,
			   t.take_stock_status,
			   t.take_stock_name,
			   t.take_stock_type
          from wms_bt_take_stock t
         where 1 = 1
		<if test="stocktake_id != null and stocktake_id != '' ">
			and t.take_stock_id = #{stocktake_id}
		</if>
	</select>

	<select id="wms_stocktake_getSessionSectionItemSizeBySectionId" parameterType="com.voyageone.wms.formbean.FormStocktake" resultType="int">
		select count(1)
          from wms_bt_take_stock_item t
         where t.take_stock_detail_id = #{stocktake_detail_id}
	</select>

	<update id="wms_stocktake_updateSection" parameterType="com.voyageone.wms.formbean.FormStocktake">
		update wms_bt_take_stock_detail t
		   set t.modified = now(),
		       t.modifier = #{user}
			  <if test="sectionStatus != null and sectionStatus != '' ">
				  , t.take_stock_status = #{sectionStatus}
		      </if>
		 where t.take_stock_detail_id = #{stocktake_detail_id}
	</update>

	<select id="wms_stocktake_getMaxStocktakeId" resultType="int">
		select max(t.take_stock_id)
		  from wms_bt_take_stock t
		 where t.order_channel_id = (
									 select order_channel_id
									   from	wms_bt_take_stock
									  where	take_stock_id = #{takeStockId}
									)
	</select>

	<resultMap id="report_stocktakeMap" type="com.voyageone.wms.formbean.FormStocktake">
		<result column="sku" property="sku"/>
		<result column="barcode" property="upc"/>
		<result column="inventory" property="inventory"/>
		<result column="take_stock_qty" property="stocktake_qty"/>
		<result column="qty_offsets" property="stocktake_qty_offset"/>
	</resultMap>
	<select id="wms_report_getCompareList" parameterType="com.voyageone.wms.formbean.FormStocktake" resultMap="report_stocktakeMap">
		select res.sku,
		del.barcode,
		res.inventory,
		res.take_stock_qty,
		res.qty_offsets
		from wms_bt_take_stock_compare_result res,
		wms_bt_item_details del
		where res.sku = del.sku
		and res.take_stock_id = #{stocktake_id}
		order by sku
	</select>
</mapper>
