<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
     http://www.springframework.org/schema/mvc
     http://www.springframework.org/schema/mvc/spring-mvc.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 静态资源 -->
    <mvc:default-servlet-handler/>

    <!-- 打开对文件上传的支持 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <!-- 默认的注解映射的支持 -->
    <mvc:annotation-driven/>

    <!-- 自动扫描包 -->
    <context:component-scan base-package="com.voyageone.*.controller"/>

    <!-- 配置mvc的拦截器 可以配置多个  -->
    <mvc:interceptors>
        <!-- 共通检查及处理拦截器 -->
        <mvc:interceptor>
            <mvc:mapping path="/*/*/*/*"/>
            <!-- 例外 -->
            <mvc:exclude-mapping path="/**/*.js"/>
            <mvc:exclude-mapping path="/**/*.css"/>
            <mvc:exclude-mapping path="/**/*.html"/>
            <mvc:exclude-mapping path="/**/*.gif"/>
            <mvc:exclude-mapping path="/**/*.jpg"/>
            <mvc:exclude-mapping path="/**/*.png"/>
            <mvc:exclude-mapping path="/**/*.map"/>
            <mvc:exclude-mapping path="/**/*.less"/>
            <mvc:exclude-mapping path="/core/account/login/doLogin"/>
            <mvc:exclude-mapping path="/wms/pickup/list/download"/>
            <mvc:exclude-mapping path="/wms/pickup/report/download"/>
            <mvc:exclude-mapping path="/wms/receive/report/download"/>
            <mvc:exclude-mapping path="/wms/report/list/download"/>
            <mvc:exclude-mapping path="/wms/stockTake/compare/compResdownload"/>
            <mvc:exclude-mapping path="/wms/transfer/list/download"/>
            <mvc:exclude-mapping path="/wms/transfer/edit/downloadClientShipment"/>
            <mvc:exclude-mapping path="/wms/transfer/edit/downloadTransferCompare"/>
            <mvc:exclude-mapping path="/wms/return/list/doReturnListDownload"/>

            <mvc:exclude-mapping path="/ims/beatIcon/index/saveItems"/>
            <mvc:exclude-mapping path="/ims/beatIcon/index/addItems"/>
            <mvc:exclude-mapping path="/ims/beatIcon/index/downloadErr"/>
            <mvc:exclude-mapping path="/ims/beatIcon/index/downloadItems"/>

            <mvc:exclude-mapping path="/oms/orders/accounting/doSaveAccountingFile"/>
            <bean class="com.voyageone.core.interceptor.CommonHandleInterceptor"/>
        </mvc:interceptor>

        <!-- 业务处理controller开始结束日志拦截器 -->
        <mvc:interceptor>
            <mvc:mapping path="/*/*/*/*"/>
            <!-- 例外 -->
            <mvc:exclude-mapping path="/**/*.js"/>
            <mvc:exclude-mapping path="/**/*.css"/>
            <mvc:exclude-mapping path="/**/*.html"/>
            <mvc:exclude-mapping path="/**/*.gif"/>
            <mvc:exclude-mapping path="/**/*.jpg"/>
            <mvc:exclude-mapping path="/**/*.png"/>
            <mvc:exclude-mapping path="/**/*.map"/>
            <mvc:exclude-mapping path="/**/*.less"/>
            <bean class="com.voyageone.core.interceptor.LogInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>