<div class="breadcrumbs">
    <div class="container">
        <h4 class="pull-left">{{'TXT_FEED_INFO_SEARCH' | translate}}</h4>
        <ul class="pull-right breadcrumb">
            <li><a href="#/home">{{'TXT_HOME' | translate}}</a></li>
            <li><a href="javascript:void(0)">{{'TXT_FEED' | translate}}</a></li>
            <li class="active selecte">{{'TXT_FEED_INFO_SEARCH' | translate}}</li>
        </ul>
    </div>
</div>
<div class="container content" ng-init="ctrl.init()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">{{'TXT_SEARCH' | translate}}</h5>
        </div>
        <div class="panel-body">
            <div class="form-inline">
                <div class="form-group">
                    <label class="control-label">{{'TXT_PARENT_SKU' | translate}}</label>
                    <input id="Parent SKU" type="text" class="form-control input-sm" ng-model="ctrl.parentSku">
                </div>
                <div class="form-group">
                    <label class="control-label">{{'TXT_NAME' | translate}}</label>
                    <input id="Brand" type="text" class="form-control input-sm" ng-model="ctrl.name">
                </div>
                <div class="form-group">
                    <label class="control-label">{{'TXT_CATEGORY' | translate}}</label>
                    <input id="Category" type="text" class="form-control input-sm" ng-model="ctrl.category">
                </div>
                <div class="form-group">
                    <label class="control-label">{{'TXT_PRICE' | translate}}</label>
                    <input id="startPrice" type="text" class="form-control input-sm" ng-model="ctrl.priceStart">
                    <span>~</span>
                    <input id="endPrice" type="text" class="form-control input-sm" ng-model="ctrl.priceEnd">
                </div>
                <div class="form-group pull-right">
                    <button class="btn btn-primary btn-sm" ng-click="ctrl.search()">{{'BTN_SEARCH' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-vo">
        <div class="panel-body">
            <div class="table-responsive" if-no-rows="ctrl.feedInfoList.length">
                <table class="table table-fixed table-vo table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="v-middle td-1 text-center">{{'TXT_IMAGE' | translate}}</th>
                        <th class="v-middle td-1 text-left">{{'TXT_PARENT_SKU' | translate}}</th>
                        <th class="v-middle td-3 text-left">{{'TXT_NAME' | translate}}</th>
                        <th class="v-middle td-3 text-left">{{'TXT_CATEGORY' | translate}}</th>
                        <th class="v-middle td-1 text-center">{{'TXT_PRICE' | translate}}</th>
                        <th class="v-middle td-1 text-center">{{'TXT_SKU_NUMBER' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="feedInfo in ctrl.feedInfoList">
                        <td class="v-middle text-center"><img class="thumb-md" ng-src="{{feedInfo.image[0]}}" ></td>
                        <td class="v-middle text-left">{{feedInfo.code}}</td>
                        <td class="v-middle text-left">{{feedInfo.name}}</td>
                        <td class="v-middle text-left">{{feedInfo.category}}</td>
                        <td class="v-middle text-center">{{feedInfo.skus[0].priceClientRetail | currency:'$':2}}</td>
                        <td class="v-middle text-center">{{feedInfo.skus.length}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 m-t-lg no-padding">
                <vpagination config="ctrl.pageOption" total="ctrl.pageOption.total"></vpagination>
            </div>
        </div>
    </div>
</div>