<div class="wrapper-md" ng-init="ctrl.initialize()">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading panel-detail-head">&nbsp;<i class="fa fa-sitemap"></i>&emsp;产品详情</div>
            <!--<div class="panel-body">-->
                <div class="container-fluid m-t-sm m-l-xs m-r-xs">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="col-sm-2"><strong>Lock:</strong></label>
                            <div class="col-sm-10 text-left">
                                <!----------on_off_switch---------->
                                <div class="onoffswitch">
                                    <input type="checkbox" name="switchIsTranslated" class="onoffswitch-checkbox"
                                           id="switchIsTranslated"
                                           ng-model="ctrl.product.lockStatus" ng-click="ctrl.lockProduct()">
                                    <label class="onoffswitch-label" for="switchIsTranslated" >
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <span class="text-warnings" style="padding-left:0px">
                                <i class="icon fa fa-bell-o"></i>&nbsp;一旦锁定商品，CMS将不会同步最新状态至各个平台。仅仅同步库存。
                            </span>
                        </div>
                    </div>
                </div>
            <!--</div>-->
        </div>
    </div>

    <div>
        <uib-tabset class="tab-container vo_nav-tabs">
            <!---------------------------------------------------master 产品详情页面---------------------------------------------->
            <uib-tab  active="ctrl.master">
                <tab-heading>Master产品详情</tab-heading>
                <master-schema product-info="ctrl.product" cart-info="ctrl.cartData['_0']"></master-schema>
            </uib-tab>

            <!---------------------------------------------------feed 产品详情页面----------------------------------------------->
            <uib-tab  active="ctrl.feed">
                <tab-heading>Feed详情</tab-heading>
                <feed-schema product-info="ctrl.product"></feed-schema>
            </uib-tab>

            <!---------------------------------------------------聚美&京东&天猫国际 产品详情页面------------------------------------------->
            <uib-tab ng-repeat="platformType in ctrl.platformTypes | filter: ctrl.cartIdFilter" ng-init="$active = (platformType.value == ctrl.defaultCartId)" active="$active">
                <tab-heading>{{platformType.name}}详情</tab-heading>
                <jd-schema product-info="ctrl.product" cart-info="platformType"></jd-schema>
            </uib-tab>
        </uib-tabset>
    </div>

</div>