<div class="wrapper-md" ng-init="ctrl.initialize()">
    <div class="vo_accordion vo_attr" ng-if="ctrl.showInfoFlag">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">&nbsp;{{'TXT_PRODUCT_DETAIL' | translate}}</h4>
                </div>
                <div class="container-fluid m-t-sm m-l-xs m-r-xs">
                    <div class="col-sm-12">
                        <div class="col-sm-12  m-b-sm font-bold text-vo">
                            <span class="label label-danger m-r-sm pull-left" ng-if="ctrl._isMain == 1">&nbsp;M&nbsp;</span>
                            <span class="label label-yellow-new pull-left" ng-if="ctrl._isminimall == 1">&nbsp;{{ctrl._orgChaName}}&nbsp;</span>
                            <span>{{'TXT_MASTER_CATEGORY_WITH_COLON' | translate}}</b>
                                {{ctrl.productDetails.categoryFullPath}}</span>

                            <div class="form-inline pull-right" ng-controller="popupCtrl">
                                <!-- TODO 暂时未实现 -->
                                <!--<button class="btn btn-default" ng-click="ctrl.openCategoryMapping(ctrl.productDetails, popupNewCategory)"><i class="fa fa-arrow-circle-right"></i>&nbsp;{{'TXT_SELECT_STORE_CATEGORY' | translate}}</button>-->
                                <button type="button" class="btn btn-default"
                                        ng-click="openHistoryPromotion('lg', ctrl.productDetails.productCode)"><i
                                        class="fa fa-rotate-left"></i>&nbsp;{{'BTN_PROMOTION_HISTORY' | translate}}
                                </button>
                                <button type="button" class="btn btn-default"
                                        ng-click="openHistoryPrice('lg', ctrl.productDetails.productCode, 'code')"><i
                                        class="fa fa-jpy"></i>&nbsp;{{'BTN_PRICE_HISTORY' | translate}}
                                </button>
                                <button class="btn btn-default"
                                        ng-click="ctrl.openCategoryMapping(ctrl.productDetails, popupNewCategory)"><i
                                        class="fa fa-arrow-circle-right"></i>&nbsp;{{'BTN_CHANGE_MASTER_CATEGORY' |
                                    translate}}
                                </button>

                            </div>
                        </div>
                        <div class="col-sm-8 form-inline pull-left m-b-xs m-r-sm">

                            <label class="m-t-xs col-sm-2" translate="TXT_IS_FIX_TRANSLATED"></label>

                            <div class="col-sm-2 text-left">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="switchIsTranslated" class="onoffswitch-checkbox"
                                           id="switchIsTranslated"
                                           ng-model="ctrl.productDetails.productStatus.translateStatus">
                                    <label class="onoffswitch-label" for="switchIsTranslated">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                                <!-- onoff switch -->
                            </div>
                            <label class="m-t-xs col-sm-2" translate="TXT_IS_WAITING_APPROVE"
                                   ng-if="!ctrl.productDetailsCopy.productStatus.statusInfo.isWaitingApprove"></label>

                            <div class="col-sm-2 text-left"
                                 ng-if="!ctrl.productDetailsCopy.productStatus.statusInfo.isWaitingApprove">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="switchIsWaitingApprove" class="onoffswitch-checkbox"
                                           id="switchIsWaitingApprove"
                                           ng-model="ctrl.productDetails.productStatus.statusInfo.isWaitingApprove">
                                    <label class="onoffswitch-label" for="switchIsWaitingApprove">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                                <!-- onoff switch -->
                            </div>
                            <label class="m-t-xs col-sm-2" translate="TXT_IS_APPROVED"
                                   ng-if="ctrl.productDetailsCopy.productStatus.statusInfo.isWaitingApprove"></label>

                            <div class="col-sm-2 text-left"
                                 ng-if="ctrl.productDetailsCopy.productStatus.statusInfo.isWaitingApprove">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="switchIsApprove" class="onoffswitch-checkbox"
                                           id="switchIsApprove"
                                           ng-model="ctrl.productDetails.productStatus.statusInfo.isApproved"
                                           ng-disabled="ctrl.productDetails.productStatus.statusInfo.isDisable">
                                    <label class="onoffswitch-label" for="switchIsApprove">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                                <!-- onoff switch -->
                            </div>
                        </div>
                        <div class="pull-right m-r-xs">
                            <div class="form-inline text-center">
                                <button type="submit" class="btn btn-default ng-binding" ng-click="ctrl.cancelProductDetail()"><i class="fa fa-remove"></i> 取消
                                </button>
                                <button type="submit" class="btn btn-vo ng-binding" ng-click="ctrl.updateProductDetail()"><i class="glyphicon glyphicon-floppy-disk"></i> 保存
                                </button>
                            </div>
                            <!-- .form-inline -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="ctrl.showInfoFlag">
        <uib-tabset class="tab-container vo_nav-tabs">
            <uib-tab>
                <tab-heading>&nbsp;{{'TXT_PRODUCT_DETAIL' | translate}}</tab-heading>
                <!-- Products table and controls -->
                <form class="form-horizontal" name="productFieldForm" novalidate>
                    <div class="panel vo_panel tab_panel">
                        <div class="row wrapper">
                            <div class="container-fluid">
                                <div class="col-sm-7">
                                    <schema-header ng-repeat="field in ctrl.productDetails.masterFields" data="field"
                                                   ng-if="field.isDisplay != 0">
                                        <schema-item data="field"></schema-item>
                                    </schema-header>
                                </div>
                                <div class="col-sm-5" style="width: 380px;margin-left: -38px;">
                                    <!-- product detail panel starts here -->
                                    <div class="col no-padder bg-light vo_prodDetailPanel">
                                        <div id="vo_fixProdPanel">
                                            <!-- product photos -->
                                            <div class="vo_prodGallery">
                                                <div class="imageContainer">
                                                    <div class="imageWrapper">
                                                        <img  class="imageWrapper" ng-src="{{!ctrl.currentImage ? 'http://image.sneakerhead.com/is/image/sneakerhead/'+ ctrl.productDetails.productImages.image1[0].image1 : ctrl.currentImage}}">
                                                    </div>
                                                </div>
                                            </div>
                                            <uib-tabset class="tab-container vo_nav-tabs">
                                                <uib-tab>
                                                    <tab-heading ng-click="vm.tabIndex = 0"><i class="text-default"></i>
                                                        商品
                                                    </tab-heading>
                                                    <div class="tab-content" style="border-top: 1px solid #d4cfcf;">
                                                        <div class="tab-pane ng-scope active">
                                                            <div class="vo_prodGallery">
                                                                <div class="thumbnailWrapper">
                                                                    <div  ng-repeat="image in ctrl.productDetails.productImages.image1 | limitTo: 10"
                                                                          class="thumbnail" ng-class="{'active':ctrl.currentImage == image.image1}"
                                                                          ng-click="ctrl.currentImage = 'http://image.sneakerhead.com/is/image/sneakerhead/'+ image.image1"
                                                                          ng-style="{'background-image' : 'url(http://image.sneakerhead.com/is/image/sneakerhead/' + image.image1 + ')'}">

                                                                    </div>
                                                                    <div  ng-repeat="image in ctrl.tempImage.image1 | limitTo: 10"
                                                                          class="thumbnail">
                                                                        <img ng-click="ctrl.currentImage = 'data:image/jpg;base64,'+ image" ng-src="{{'data:image/jpg;base64,'+ image}}">
                                                                    </div>
                                                                    <button ng-controller="popupCtrl" ng-click="ctrl.openImageSetting(ctrl.productDetails,'image1',openImageSetting)" class="btn btn-success pull-right input-lg col-lg-2"><i class="glyphicon glyphicon-plus"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </uib-tab>
                                                <uib-tab>
                                                    <tab-heading ng-click="vm.tabIndex = 0"><i class="text-default"></i>
                                                        包装
                                                    </tab-heading>
                                                    <div class="tab-content" style="border-top: 1px solid #d4cfcf;">
                                                        <div class="tab-pane ng-scope active">
                                                            <div class="vo_prodGallery">
                                                                <div class="thumbnailWrapper">
                                                                    <div  ng-repeat="image in ctrl.productDetails.productImages.image2 | limitTo: 10"
                                                                          class="thumbnail" ng-class="{'active':ctrl.currentImage == image.image2}"
                                                                          ng-click="ctrl.currentImage = 'http://image.sneakerhead.com/is/image/sneakerhead/'+ image.image2"
                                                                          ng-style="{'background-image' : 'url(http://image.sneakerhead.com/is/image/sneakerhead/' + image.image2 + ')'}">

                                                                    </div>
                                                                    <div  ng-repeat="image in ctrl.tempImage.image2 | limitTo: 10"
                                                                          class="thumbnail">
                                                                        <img ng-click="ctrl.currentImage = 'data:image/jpg;base64,'+ image" ng-src="{{'data:image/jpg;base64,'+ image}}">
                                                                    </div>
                                                                    <button ng-controller="popupCtrl"  ng-click="ctrl.openImageSetting(ctrl.productDetails,'image2',openImageSetting)" class="btn btn-success pull-right input-lg col-lg-2"><i class="glyphicon glyphicon-plus"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </uib-tab>
                                                <uib-tab>
                                                    <tab-heading ng-click="vm.tabIndex = 0"><i class="text-default"></i>
                                                        带角度
                                                    </tab-heading>
                                                    <div class="tab-content"  style="border-top: 1px solid #d4cfcf;">
                                                        <div class="tab-pane ng-scope active">
                                                            <div class="vo_prodGallery">
                                                                <div class="thumbnailWrapper">
                                                                    <div  ng-repeat="image in ctrl.productDetails.productImages.image3 | limitTo: 10"
                                                                          class="thumbnail" ng-class="{'active':ctrl.currentImage == image.image3}"
                                                                          ng-click="ctrl.currentImage = 'http://image.sneakerhead.com/is/image/sneakerhead/'+ image.image3"
                                                                          ng-style="{'background-image' : 'url(http://image.sneakerhead.com/is/image/sneakerhead/' + image.image3 + ')'}">
                                                                    </div>
                                                                    <div  ng-repeat="image in ctrl.tempImage.image3 | limitTo: 10"
                                                                          class="thumbnail">
                                                                        <img ng-click="ctrl.currentImage = 'data:image/jpg;base64,'+ image" ng-src="{{'data:image/jpg;base64,'+ image}}">
                                                                    </div>
                                                                    <button ng-controller="popupCtrl"  ng-click="ctrl.openImageSetting(ctrl.productDetails,'image3',openImageSetting)" class="btn btn-success pull-right input-lg col-lg-2"><i class="glyphicon glyphicon-plus"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </uib-tab>
                                                <uib-tab>
                                                    <tab-heading ng-click="vm.tabIndex = 0"><i class="text-default"></i>
                                                        PC端自定义
                                                    </tab-heading>
                                                    <div class="tab-content"  style="border-top: 1px solid #d4cfcf;">
                                                        <div class="tab-pane ng-scope active">
                                                            <div class="vo_prodGallery">
                                                                <div class="thumbnailWrapper">
                                                                    <div  ng-repeat="image in ctrl.productDetails.productImages.image4 | limitTo: 10"
                                                                          class="thumbnail" ng-class="{'active':ctrl.currentImage == image.image4}"
                                                                          ng-click="ctrl.currentImage = 'http://image.sneakerhead.com/is/image/sneakerhead/'+ image.image4"
                                                                          ng-style="{'background-image' : 'url(http://image.sneakerhead.com/is/image/sneakerhead/' + image.image4 + ')'}">
                                                                    </div>
                                                                    <div  ng-repeat="image in ctrl.tempImage.image4 | limitTo: 10"
                                                                          class="thumbnail">
                                                                        <img ng-click="ctrl.currentImage = 'data:image/jpg;base64,'+ image" ng-src="{{'data:image/jpg;base64,'+ image}}">
                                                                    </div>
                                                                    <button ng-controller="popupCtrl" ng-click="ctrl.openImageSetting(ctrl.productDetails,'image4',openImageSetting)" class="btn btn-success pull-right input-lg col-lg-2"><i class="glyphicon glyphicon-plus"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </uib-tab>
                                                <uib-tab>
                                                    <tab-heading ng-click="vm.tabIndex = 0"><i class="text-default"></i>
                                                        APP端自定义
                                                    </tab-heading>
                                                    <div class="tab-content"  style="border-top: 1px solid #d4cfcf;">
                                                        <div class="tab-pane ng-scope active">
                                                            <div class="vo_prodGallery">
                                                                <div class="thumbnailWrapper">
                                                                    <div  ng-repeat="image in ctrl.productDetails.productImages.image4 | limitTo: 10"
                                                                          class="thumbnail" ng-class="{'active':ctrl.currentImage == image.image4}"
                                                                          ng-click="ctrl.currentImage = 'http://image.sneakerhead.com/is/image/sneakerhead/'+ image.image4"
                                                                          ng-style="{'background-image' : 'url(http://image.sneakerhead.com/is/image/sneakerhead/' + image.image4 + ')'}">
                                                                    </div>
                                                                    <div  ng-repeat="image in ctrl.tempImage.image4 | limitTo: 10"
                                                                          class="thumbnail">
                                                                        <img ng-click="ctrl.currentImage = 'data:image/jpg;base64,'+ image" ng-src="{{'data:image/jpg;base64,'+ image}}">
                                                                    </div>
                                                                    <button ng-controller="popupCtrl" ng-click="ctrl.openImageSetting(ctrl.productDetails,'image4',openImageSetting)" class="btn btn-success pull-right input-lg col-lg-2"><i class="glyphicon glyphicon-plus"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </uib-tab>
                                            </uib-tabset>
                                            <!-- .vo_prodGallery -->
                                            <!-- .wrapper -->
                                            <div class="wrapper-sm m-t-xs" style="margin-top: -10px;">
                                                <h5 class="text-vo font-bold">SKU库存明细</h5>
                                                <hr style="margin-top:0px;margin-bottom:10px"/>
                                                <div>
                                                    <div class="form-group" ng-repeat="invObj in ctrl.inventoryList">
                                                        <label class="col-sm-8 control-label text-left m-l-md">{{invObj.skucode}}</label>
                                                        <div class="col-sm-2 text-left">
                                                            <input type="text" class="form-control" ng-model="invObj.skyqty" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- #prodFixed -->
                                    </div>
                                    <!-- no-padder -->
                                </div>
                                <!--<div>-->
                                <!--<input type="text" name="test" ng-model="ctrl.testvalue" ng-pattern="/^[0-9]*$/">-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                    <!--<div class="row text-center">-->
                    <!--<div class="col-sm-12">-->
                    <!--<div class="form-inline">-->

                    <!--<button type="submit" class="btn btn-vo" ng-click="ctrl.updateProductInfo()"><i class="glyphicon glyphicon-floppy-disk"></i> {{'BTN_SAVE' | translate}}</button>-->
                    <!--<button type="submit" class="btn btn-default" ng-click="ctrl.cancelProductInfo()"><i class="fa fa-remove"></i> {{'BTN_CANCEL' | translate}}</button>-->
                    <!--</div>&lt;!&ndash; .form-inline &ndash;&gt;-->
                    <!--</div>-->
                    <!--</div>-->
                </form>
                <!-- .form -->
            </uib-tab>

            <!--<uib-tab>-->
            <!--<tab-heading>&nbsp;{{'TXT_PRODUCT_CUSTOM' | translate}}</tab-heading>-->
            <!--</uib-tab>-->

            <uib-tab>
                <tab-heading>&nbsp;{{'TXT_PRODUCT_SKU_DETAIL' | translate}}</tab-heading>
                <div class="panel vo_panel tab_panel">
                    <div class="container-fluid">
                        <schema-item class="modal-open" data="ctrl.productDetails.skuFields"
                                     ng-if="ctrl.productDetails.skuFields != null" not-show-edit="true"></schema-item>
                        <!-- SKU 不可以添加和删除 -->
                        <!--<div class="col-sm-1">-->
                        <!--<button class="btn btn-success" ng-click="ctrl.addField(ctrl.productDetails.skuFields)"><i class="fa fa-plus"></i>{{'BTN_COM_ADD' | translate}}</button>-->
                        <!--</div>-->
                    </div>
                </div>
                <!-- .panel -->
                <!--<div class="row text-center">-->
                <!--<div class="col-sm-12">-->
                <!--<div class="form-inline">-->
                <!--<button type="submit" class="btn btn-vo" ng-click="ctrl.updateSkuInfo()"><i class="glyphicon glyphicon-floppy-disk"></i> {{'BTN_SAVE' | translate}}</button>-->
                <!--<button type="submit" class="btn btn-default" ng-click="ctrl.cancelSkuInfo()"><i class="fa fa-remove"></i> {{'BTN_CANCEL' | translate}}</button>-->
                <!--</div>&lt;!&ndash; .form-inline &ndash;&gt;-->
                <!--</div>-->
                <!--</div>-->
            </uib-tab>

            <uib-tab>
                <tab-heading>&nbsp;{{'TXT_PRODUCT_THIRD_PROPERTY' | translate}}</tab-heading>

                <!-- Products table and controls -->
                <form class="form-horizontal" name="productCustomForm">
                    <div class="panel vo_panel tab_panel">
                        <div class="row wrapper">
                            <div class="container-fluid" ng-repeat="feedAttr in ctrl.productDetails.feedInfoModel">
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" ng-bind="feedAttr.key"></label>

                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" ng-model="feedAttr.value" readonly
                                                   ng-if="feedAttr.value.length < 50">
                                            <textarea rows="3" class="form-control no-resize" ng-model="feedAttr.value"
                                                      readonly ng-if="feedAttr.value.length >= 50"></textarea>
                                        </div>
                                        <div class="col-sm-1">
                                            <label class="i-checks-sm m-b-none"><input type="checkbox"
                                                                                       ng-model="feedAttr.selected"
                                                                                       disabled></label>
                                        </div>
                                    </div>
                                </div>
                                <!--.col -->
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" ng-bind="feedAttr.cnKey"></label>

                                        <div class="col-sm-7" ng-show="feedAttr.selected">
                                            <input type="text" class="form-control" ng-model="feedAttr.cnValue"
                                                   ng-if="feedAttr.value.length < 50">
                                            <textarea rows="3" class="form-control no-resize"
                                                      ng-model="feedAttr.cnValue"
                                                      ng-if="feedAttr.value.length >= 50"></textarea>
                                        </div>
                                        <!--<div class="col-sm-1">-->
                                        <!--<label class="i-checks-sm m-b-none"><input type="checkbox" ng-model="feedAttr.selected"></label>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                                <!-- .col -->
                            </div>

                        </div>
                    </div>
                </form>
                <!-- .form -->

                <!--<form class="form-horizontal" name="thirdFeedForm">-->
                <!--&lt;!&ndash; Products table and controls &ndash;&gt;-->
                <!--<div class="panel vo_panel tab_panel">-->
                <!--<div class="row wrapper">-->
                <!--<div class="container-fluid">-->
                <!--<div class="col-sm-12">-->
                <!--<div class="form-group" ng-repeat="feedAttr in ctrl.productDetails.feedInfoModel">-->
                <!--<label class="col-sm-2 control-label" ng-bind="feedAttr.key"></label>-->
                <!--<div class="col-sm-4">{{feedAttr.value.length}}-->
                <!--&lt;!&ndash;<input type="text" class="form-control" ng-model="feedAttr.value" ng-if="" readonly>&ndash;&gt;-->
                <!--</div>-->
                <!--<div class="col-sm-1">-->
                <!--<label class="i-checks-sm m-b-none"><input type="checkbox" ng-model="feedAttr.selected"></label>-->
                <!--</div>-->
                <!--</div>&lt;!&ndash; .form-group &ndash;&gt;-->
                <!--</div>&lt;!&ndash;.col &ndash;&gt;-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="row text-center">-->
                <!--<div class="col-sm-12">-->
                <!--<div class="form-inline">-->
                <!--<button type="submit" class="btn btn-vo" ng-click="ctrl.addFeedAttrToCustom()"><i class="glyphicon glyphicon-floppy-disk"></i> {{'BTN_SAVE' | translate}}</button>-->
                <!--<button type="submit" class="btn btn-default" ng-click="ctrl.cancelAddFeedAttrToCustom()"><i class="fa fa-remove"></i> {{'BTN_CANCEL' | translate}}</button>-->
                <!--</div>&lt;!&ndash; .form-inline &ndash;&gt;-->
                <!--</div>-->
                <!--</div>-->
                <!--</form>&lt;!&ndash; .form &ndash;&gt;-->
            </uib-tab>

        </uib-tabset>
    </div>
    <!-- tabs ng-controller -->

    <div style="width:80%" ng-show="!ctrl.showInfoFlag">
        <!-- TODO 需要enka设计一个画面,只显示切换类目中的商品的基础信息(code, iamges, ) -->

        <div class="text-center text-hs ng-binding ng-scope" id="noData">
            <h4 class="text-vo ng-binding"><i class="icon fa fa-warning"></i>&nbsp;{{'TXT_REMINDER_WITH_COLON' |
                translate}}</h4>
            {{!ctrl.productDetails.productDataIsReady ? ('TXT_MSG_PRODUCT_CAN_NOT_EDIT' | translate) : ctrl.errorMsg}}
        </div>
    </div>
</div><!-- end .wrapper-md -->