<div class="wrapper-md" ng-init="ctrl.initialize()">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading panel-detail-head">&nbsp;<i class="fa fa-sitemap"></i>&emsp;产品详情</div>
        </div>
    </div>

    <div>
        <uib-tabset class="tab-container vo_nav-tabs">
            <!---------------------------------------------------master 产品详情页面---------------------------------------------->
            <uib-tab active="ctrl.master">
                <tab-heading>Master产品详情</tab-heading>
                <master-schema product-info="ctrl.product"></master-schema>
            </uib-tab>
            <!---------------------------------------------------sku 价格一览页面---------------------------------------------->
            <uib-tab active="ctrl.price">
                <tab-heading>价格一览详情</tab-heading>
                <price-schema product-info="ctrl.product"></price-schema>
            </uib-tab>
            <!---------------------------------------------------SKU 属性 页面------------------------------------------------>
            <uib-tab active="ctrl.sku">
                <tab-heading>{{'TXT_PRODUCT_SKU_DETAIL'|translate}}</tab-heading>
                <sku-schema product-info="ctrl.product"></sku-schema>
            </uib-tab>
            <!---------------------------------------------------SKU 库存 页面------------------------------------------------>
            <uib-tab active="ctrl.inventory">
                <tab-heading>SKU 库存</tab-heading>
                <inventory-schema product-info="ctrl.product"></inventory-schema>
            </uib-tab>
            <!---------------------------------------------------feed 产品详情页面------------------------------------------------>
            <uib-tab active="ctrl.feed">
                <tab-heading>Feed详情</tab-heading>
                <feed-schema product-info="ctrl.product"></feed-schema>
            </uib-tab>

            <!---------------------------------------------------平台产品详情页面(不包含独立官网)---------------------------------->
            <uib-tab ng-repeat="platformType in ctrl.platformTypes | filter : {value:'!25'}"
                     ng-init="$active = (platformType.value == ctrl.defaultCartId)" active="$active">

                    <tab-heading>{{platformType.name}}详情</tab-heading>

                    <!--聚美 & 京东 & 天猫国际-->
                    <div ng-if="(platformType.value >= 20 && platformType.value < 30)  || platformType.value == 32 ">
                        <jd-schema product-info="ctrl.product" cart-info="platformType"></jd-schema>
                    </div>

                    <!--官网同购-->
                    <div ng-if="platformType.value >= 30 && platformType.value <= 31">
                        <gw-schema product-info="ctrl.product" cart-info="platformType"></gw-schema>
                    </div>

                    <!--usjoi & 匠心界   相关子店价格check要去掉  -->
<!--                    <div ng-if="platformType.value > 900">
                        <jgj-schema product-info="ctrl.product" cart-info="platformType"></jgj-schema>
                    </div>-->

            </uib-tab>

            <!---------------------------------------------------独立官网详情页面-------------------------------------------------->
            <uib-tab ng-repeat="platformType in ctrl.platformTypes | filter : {value:'25'}"
                     ng-init="$active = (platformType.value == ctrl.defaultCartId)" active="$active">

                <tab-heading>{{platformType.name}}详情</tab-heading>

                <dl-schema product-info="ctrl.product" cart-info="platformType"></dl-schema>

            </uib-tab>

        </uib-tabset>
    </div>

</div>