<div class="product-shema-detail" ng-init="initial();">
    <div class="form-horizontal" name="productFieldForm" novalidate ng-controller="popupCtrl">
        <div class="container-fluid" id="skuproperty">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <div class="text-warnings" ng-if="noStock">
                            <i class="icon fa fa-bell-o"></i>&nbsp;
                            从WMS未查询到SKU物理库存数据
                        </div>
                        <table class="table table-hover-new table-hover table_main table_compare" ng-if="!noStock">
                            <thead>
                            <tr>
                                <th class="text-center" ng-attr-colspan="{{thConfig.baseColumns}}">基础信息</th>
                                <th class="text-center table_compare_before" ng-attr-colspan="{{thConfig.inOwnColumns}}">(国内)自营</th>
                                <th class="text-center table_compare_before" ng-attr-colspan="{{thConfig.inNOwnColumns}}">(国内)非自营</th>
                                <th class="text-center table_compare_after" ng-attr-colspan="{{thConfig.gbOwnColumns}}">(国际)自营</th>
                                <th class="text-center table_compare_after" ng-attr-colspan="{{thConfig.gbNOwnColumns}}">(国际)非自营</th>
                            </tr>
                            <tr>
                            	<!-- 基础信息 -->
                                <th class="text-center" style="border: 1px solid #ccc;width: 117px;">
                                    <label class="pull-left" style="margin-bottom: 0">
                                        <i ng-class="{'fa fa-plus-circle':!showDetail,'fa fa-minus-circle':showDetail}" ng-click="showDetail=!showDetail;count(showDetail)"></i>
                                    </label>
                                    SKU</th>
                                <th class="text-center" style="border: 1px solid #ccc;width: 65px;">原始尺码</th>
                                <th ng-if="showDetail" style="border: 1px solid #ccc;width: 88px;" class="text-center">销售尺码</th>
                                <th class="text-center" style="border: 1px solid #ccc;width: 50px;">库存（可用，占用）</th>
                                <!-- (国内)自营 -->
                                <th ng-repeat="attr in tblData.header.inOwn" ng-if="showDetail || attr.name == 'total'"
                                    class="text-center table_compare_before" ng-style="{'width': '88px'}">{{attr.title ? attr.title : attr.name}}（可用，占用）</th>
                                <!-- (国内)非自营 -->
                                <th ng-repeat="attr in tblData.header.inNOwn" ng-if="showDetail || attr.name == 'total'"
                                    class="text-center table_compare_before" ng-style="{'width': '88px'}">{{attr.title ? attr.title : attr.name}}（可用，占用）</th>
                                <!-- (国际)自营 -->
                                <th ng-repeat="attr in tblData.header.gbOwn" ng-if="showDetail || attr.name == 'total'"
                                    class="text-center table_compare_after" ng-style="{'width': '88px'}">{{attr.title ? attr.title : attr.name}}（可用，占用）</th>
                                <!-- (国际)非自营 -->
                                <th ng-repeat="attr in tblData.header.gbNOwn" ng-if="showDetail || attr.name == 'total'"
                                    class="text-center table_compare_after" ng-style="{'width': '88px'}">{{attr.title ? attr.title : attr.name}}（可用，占用）</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="skuDetail in tblData.stocks">
                            	<!-- 基础信息 -->
                            	<td ng-if="!$last" class="text-left v-middle">{{skuDetail.base.sku}}</td>
                            	<td ng-if="$last" class="text-center v-middle">Total</td>
                                <td class="text-center v-middle">{{skuDetail.base.origSize}}</td>
                                <td ng-if="showDetail" class="text-center v-middle">{{skuDetail.base.saleSize}}</td>
                                <td class="text-right v-middle">{{skuDetail.base.total}}</td>
                                <!-- (国内)自营 -->
                                <td ng-repeat="attr in tblData.header.inOwn" ng-if="showDetail || attr.name == 'total'" class="text-right v-middle">{{skuDetail.inOwn[attr.name]}}</td>
                                <!-- (国内)非自营 -->
                                <td ng-repeat="attr in tblData.header.inNOwn" ng-if="showDetail || attr.name == 'total'" class="text-right v-middle">{{skuDetail.inNOwn[attr.name]}}</td>
                                <!-- (国际)自营 -->
                                <td ng-repeat="attr in tblData.header.gbOwn" ng-if="showDetail || attr.name == 'total'" class="text-right v-middle">{{skuDetail.gbOwn[attr.name]}}</td>
                                <!-- (国际)非自营 -->
                                <td ng-repeat="attr in tblData.header.gbNOwn" ng-if="showDetail || attr.name == 'total'" class="text-right v-middle">{{skuDetail.gbNOwn[attr.name]}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="text-warnings" ng-if="noStockSkus.length > 0">
                            <i class="icon fa fa-bell-o"></i>&nbsp;
                            CMS中部分SKU&nbsp;<strong>{{noStockSkus}}</strong>&nbsp;在WMS未查询到库存，该SKU库存信息不显示
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>