<div class="product-shema-detail">
    <div class="form-horizontal" name="productFieldForm" novalidate>
        <div class="panel vo_panel tab_panel">
                <div class="container-fluid"  id="master">
                    <div class="row wrapper">
                        <!----------------------------------------历史按钮---------------------------------------------->

                        <div class="btn-group" uib-dropdown ng-controller="popupCtrl">
                            <button type="button" class="btn btn-info btn-pop" uib-dropdown-toggle>
                                &nbsp;历史记录&nbsp;<span class="caret"></span>
                            </button>
                            <ul uib-dropdown-menu>
                                <li>
                                    <a href="javascript:void(0)" ng-click="openHistoryPrice(vm.productComm.fields.code,vm.productComm.skus)">
                                        <i class="fa fa-arrow-circle-right"></i>&nbsp;价格历史
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" ng-click="openHistoryPriceConfirm(vm.productComm.fields.code,vm.productComm.skus)">
                                        <i class="fa fa-arrow-circle-right"></i>&nbsp;价格确认历史
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" ng-click="openHistoryPromotion('lg', vm.productComm.fields.code)">
                                        <i class="fa fa-arrow-circle-right"></i>&nbsp;活动历史
                                    </a>
                                </li>
                                <li ng-if="false">
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-arrow-circle-right"></i>&nbsp;SKU追加历史
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" ng-click="openProductStatusHistory(vm.productComm.fields.code)">
                                        <i class="fa fa-arrow-circle-right"></i>&nbsp;商品修改历史
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" ng-click="openHistoryPutOnOff(vm.productComm.fields.code,0,vm.mastData.platformList)">
                                        <i class="fa fa-arrow-circle-right"></i>&nbsp;上下架历史
                                    </a>
                                </li>
                            </ul>
                        </div>&nbsp;&nbsp;
                        <div class="btn-group" uib-dropdown ng-controller="popupCtrl" ng-if="vm.mastData.isMain != true">
                            <button type="button" class="btn btn-info btn-pop" uib-dropdown-toggle>
                                &nbsp;Master操作&nbsp;<span class="caret"></span>
                            </button>
                            <ul uib-dropdown-menu>
                                <li>
                                    <a href="javascript:void(0)" ng-click="copyCommonProperty()">
                                        <i class="fa fa-arrow-circle-right"></i>&nbsp;复制主商品
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="row form-group">
                                <label class="col-md-2 control-label"><strong>平台状态</strong></label>
                                <div class="col-md-8">
                                    <span ng-repeat='entity in vm.mastData.platformList'>
                                           <platform-status data="{cartId:entity.cartId,
                                           cartName:entity.cartName,
                                           status:entity.status,
                                           pStatus:entity.pStatus,
                                           pReallyStatus:entity.pReallyStatus,
                                           pPublishError:entity.pPublishError,
                                           numberId:entity.pNumIId}"></platform-status>
                                    </span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-2">
                                    <div class="row text-right">
                                        <label class="control-label" style="min-height:107px;"><strong>Group Info</strong></label>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-xs-6 col-md-2"  ng-repeat="image in vm.mastData.images">
                                            <a href="javascript:void(0)" class="thumbnail current clear-margin-bottom" ng-if="image.productCode == productInfo.masterField.code" style="height: 115px;">
                                                <strong class="main" ng-if="image.isMain == true"><span class="label label-danger">&nbsp;M&nbsp;</span></strong>
                                                <img class="thumb-group" src="http://s7d5.scene7.com/is/image/sneakerhead/{{image.imageName}}" title="{{image.productCode}}">
                                            </a>
                                            <!--不是当前商品的话可以跳转到图片对应产品详情页-->
                                            <a ng-href="#/product/detail/{{image.prodId}}" class="thumbnail clear-margin-bottom" ng-if="image.productCode != productInfo.masterField.code" target="_blank" style="height: 115px;">
                                                <strong class="main" ng-if="image.isMain == true"><span class="label label-danger">&nbsp;M&nbsp;</span></strong>
                                                <img class="thumb-group" src="http://s7d5.scene7.com/is/image/sneakerhead/{{image.imageName}}" title="{{image.productCode}}">
                                            </a>
                                            <div class="thumbInfo">
                                                <div class="row">
                                                    <div class="col-md-5"><strong>库存:</strong></div>
                                                    <div class="col-md-7 text-right">{{image.qty}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                    <button class="col-md-2 btn btn-default" ng-controller="popupCtrl" ng-click="masterCategoryMapping(popupCategoryNew)"><span>{{cartInfo.name}}&nbsp;{{'TXT_CATEGORY'|translate}}</span>
                                </button>
                                <div class="col-md-8">
                                    <input class="form-control"  ng-model="vm.productComm.catPath" disabled>
                                    <div class="text-warnings" style="padding-left:0px">
                                        <i class="icon fa fa-bell-o"></i>&nbsp;切换平台类目将影响整个Group中的所有商品，请慎重！
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-md-2 control-label"><strong>商品相关备注</strong></label>
                                <div class="col-md-8">
                                    <textarea type="text" rows="4" class="form-control no-resize" ng-model="vm.productComm.comment"></textarea>
                                </div>
                            </div>
                        </div>
                        <!----------------------------------------右侧悬浮框-------------------------------------------->
                        <div class="col-sm-2">
                            <div  style="float: right;">
                                <nav class="bs-docs-sidebar master-sidebar" drag>
                                    <h3 drag-handle>导航栏</h3>
                                    <ul class="nav bs-docs-sidenav">
                                        <li class="">
                                            <a href="javascript:void(0)" ng-click="pageAnchor('master',1000)">共通属性</a>
                                        </li>
                                        <li class="">
                                            <a href="javascript:void(0)" ng-click="pageAnchor('product',1000)">产品属性</a>
                                        </li>
                                        <li>
                                            <button ng-controller="showPopoverCtrl" popover-html="showInfo({value:'sas',isUseComplexTemplate:true,type:'1Columns'})"
                                                    uib-popover-template="dynamicPopover.templateUrl" type="button" popover-placement="left" class="btn btn-default btn-xs col-sm-12">
                                                状态开关</button>
                                        </li>
                                    </ul>
                                    <button type="button" class="btn btn-nav btn-nav-pop" ng-click="saveProduct(openHsCodeChange)" ng-controller="popupCtrl">
                                        <i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;&nbsp;保存
                                    </button>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                <span class="product-title"><i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;产品详情</span>
                <!------------------------------------------------以下为产品schema------------------------------------------------------->
                <div class="container-fluid" id="product">

                    <ng-form name="schemaForm" novalidate>

                        <div id="schemaContainer" class="col-sm-7">
                            <schema data="vm.productComm.schemaFields"></schema>
                        </div>

                    </ng-form>

                    <!-------------------------------显示图片-------------------------------->
                    <div class="col-sm-3" style="width: 380px;" id="img-fix">
                        <div class="col no-padder bg-light vo_prodDetailPanel">
                            <div id="vo_fixProdPanel">
                                <!-- product photos -->
                                <div class="vo_prodGallery">
                                    <div class="imageContainer">
                                        <div class="imageWrapper">
                                            <img  class="imageWrapper" style="cursor: pointer;" ng-src="{{vm.currentImage}}" title="【click me】" ng-click="goDetail()">
                                        </div>
                                    </div>
                                </div>
                                <uib-tabset class="tab-container vo_nav-tabs">
                                    <uib-tab>
                                        <tab-heading ng-click="vm.tabIndex = 0"><i class="text-default"></i>
                                            品牌方商品图
                                        </tab-heading>
                                        <div class="tab-content" style="border-top: 1px solid #d4cfcf;">
                                            <div class="tab-pane active">
                                                <div class="vo_prodGallery">
                                                    <div class="thumbnailWrapper">
                                                        <div  ng-repeat="image in vm.productComm.fields.images1 | limitTo: 10"
                                                              class="thumbnail" ng-class="{'active':vm.currentImage == image.image1}"
                                                              ng-click="vm.currentImage = $root.imageUrl.replace('%s', image.image1)"
                                                              ng-style="{'background-image' : 'url(' + $root.imageUrl.replace('%s', image.image1) + ')'}">
                                                        </div>
                                                        <div  ng-repeat="image in vm.tempImage.images1 | limitTo: 10" class="thumbnail">
                                                            <img ng-click="vm.currentImage = image" ng-src="{{image}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </uib-tab>
                                    <uib-tab>
                                        <tab-heading ng-click="vm.tabIndex = 0"><i class="text-default"></i>
                                            PC端自拍商品图
                                        </tab-heading>
                                        <div class="tab-content" style="border-top: 1px solid #d4cfcf;">
                                            <div class="tab-pane active">
                                                <div class="vo_prodGallery">
                                                    <div class="thumbnailWrapper">
                                                        <div  ng-repeat="image in vm.productComm.fields.images6 | limitTo: 10"
                                                              class="thumbnail" ng-class="{'active':vm.currentImage == image.image6}"
                                                              ng-click="vm.currentImage = $root.imageUrl.replace('%s', image.image6)"
                                                              ng-style="{'background-image' : 'url(' + $root.imageUrl.replace('%s', image.image6)+ ')'}">

                                                        </div>
                                                        <div  ng-repeat="image in vm.tempImage.images6 | limitTo: 10" class="thumbnail">
                                                            <img ng-click="vm.currentImage = image" ng-src="{{image}}">
                                                        </div>
                                                        <button ng-controller="popupCtrl"  ng-click="openProImageSetting('image6',openImageSetting)" class="btn btn-success pull-right input-lg col-lg-2"><i class="glyphicon glyphicon-plus"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </uib-tab>
                                    <uib-tab>
                                        <tab-heading ng-click="vm.tabIndex = 0"><i class="text-default"></i>
                                            APP端自拍商品图
                                        </tab-heading>
                                        <div class="tab-content" style="border-top: 1px solid #d4cfcf;">
                                            <div class="tab-pane active">
                                                <div class="vo_prodGallery">
                                                    <div class="thumbnailWrapper">
                                                        <div  ng-repeat="image in vm.productComm.fields.images7 | limitTo: 10"
                                                              class="thumbnail" ng-class="{'active':vm.currentImage == image.image7}"
                                                              ng-click="vm.currentImage = $root.imageUrl.replace('%s', image.image7)"
                                                              ng-style="{'background-image' : 'url(' + $root.imageUrl.replace('%s', image.image7)+ ')'}">

                                                        </div>
                                                        <div  ng-repeat="image in vm.tempImage.images7 | limitTo: 10" class="thumbnail">
                                                            <img ng-click="vm.currentImage = image" ng-src="{{image}}">
                                                        </div>
                                                        <button ng-controller="popupCtrl"  ng-click="openProImageSetting('image7',openImageSetting)" class="btn btn-success pull-right input-lg col-lg-2"><i class="glyphicon glyphicon-plus"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </uib-tab>
                                    <uib-tab>
                                        <tab-heading ng-click="vm.tabIndex = 0"><i class="text-default"></i>
                                            包装图
                                        </tab-heading>
                                        <div class="tab-content"  style="border-top: 1px solid #d4cfcf;">
                                            <div class="tab-pane active">
                                                <div class="vo_prodGallery">
                                                    <div class="thumbnailWrapper">
                                                        <div  ng-repeat="image in vm.productComm.fields.images2 | limitTo: 10"
                                                              class="thumbnail" ng-class="{'active':vm.currentImage == image.image2}"
                                                              ng-click="vm.currentImage = $root.imageUrl.replace('%s', image.image2)"
                                                              ng-style="{'background-image' : 'url(' + $root.imageUrl.replace('%s', image.image2)+ ')'}">
                                                        </div>
                                                        <div  ng-repeat="image in vm.tempImage.images2 | limitTo: 10" class="thumbnail">
                                                            <img ng-click="vm.currentImage = image" ng-src="{{image}}">
                                                        </div>
                                                        <button ng-controller="popupCtrl"  ng-click="openProImageSetting('image2',openImageSetting)" class="btn btn-success pull-right input-lg col-lg-2"><i class="glyphicon glyphicon-plus"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </uib-tab>
                                    <uib-tab>
                                        <tab-heading ng-click="vm.tabIndex = 0"><i class="text-default"></i>
                                            角度图
                                        </tab-heading>
                                        <div class="tab-content"  style="border-top: 1px solid #d4cfcf;">
                                            <div class="tab-pane active">
                                                <div class="vo_prodGallery">
                                                    <div class="thumbnailWrapper">
                                                        <div  ng-repeat="image in vm.productComm.fields.images3 | limitTo: 10"
                                                              class="thumbnail" ng-class="{'active':vm.currentImage == image.image3}"
                                                              ng-click="vm.currentImage = $root.imageUrl.replace('%s', image.image3)"
                                                              ng-style="{'background-image' : 'url(' + $root.imageUrl.replace('%s', image.image3)+ ')'}">
                                                        </div>
                                                        <div  ng-repeat="image in vm.tempImage.images3 | limitTo: 10" class="thumbnail">
                                                            <img ng-click="vm.currentImage = image" ng-src="{{image}}">
                                                        </div>
                                                        <button ng-controller="popupCtrl" ng-click="openProImageSetting('image3',openImageSetting)" class="btn btn-success pull-right input-lg col-lg-2"><i class="glyphicon glyphicon-plus"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </uib-tab>
                                    <uib-tab>
                                        <tab-heading ng-click="vm.tabIndex = 0"><i class="text-default"></i>
                                            PC端自定义图
                                        </tab-heading>
                                        <div class="tab-content"  style="border-top: 1px solid #d4cfcf;">
                                            <div class="tab-pane active">
                                                <div class="vo_prodGallery">
                                                    <div class="thumbnailWrapper">
                                                        <div  ng-repeat="image in vm.productComm.fields.images4 | limitTo: 10"
                                                              class="thumbnail" ng-class="{'active':vm.currentImage == image.image4}"
                                                              ng-click="vm.currentImage = $root.imageUrl.replace('%s', image.image4)"
                                                              ng-style="{'background-image' : 'url(' + $root.imageUrl.replace('%s', image.image4)+ ')'}">
                                                        </div>
                                                        <div  ng-repeat="image in vm.tempImage.images4 | limitTo: 10" class="thumbnail">
                                                            <img ng-click="vm.currentImage = image" ng-src="{{image}}">
                                                        </div>
                                                        <button ng-controller="popupCtrl" ng-click="openProImageSetting('image4',openImageSetting)" class="btn btn-success pull-right input-lg col-lg-2"><i class="glyphicon glyphicon-plus"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </uib-tab>
                                    <uib-tab>
                                        <tab-heading ng-click="vm.tabIndex = 0"><i class="text-default"></i>
                                            APP端自定义图
                                        </tab-heading>
                                        <div class="tab-content"  style="border-top: 1px solid #d4cfcf;">
                                            <div class="tab-pane active">
                                                <div class="vo_prodGallery">
                                                    <div class="thumbnailWrapper">
                                                        <div  ng-repeat="image in vm.productComm.fields.images5 | limitTo: 10"
                                                              class="thumbnail" ng-class="{'active':vm.currentImage == image.image5}"
                                                              ng-click="vm.currentImage = $root.imageUrl.replace('%s', image.image5)"
                                                              ng-style="{'background-image' : 'url(' + $root.imageUrl.replace('%s', image.image5)+ ')'}">
                                                        </div>
                                                        <div  ng-repeat="image in vm.tempImage.images5 | limitTo: 10" class="thumbnail">
                                                            <img ng-click="vm.currentImage = image" ng-src="{{image}}">
                                                        </div>
                                                        <button ng-controller="popupCtrl" ng-click="openProImageSetting('image5',openImageSetting)" class="btn btn-success pull-right input-lg col-lg-2"><i class="glyphicon glyphicon-plus"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </uib-tab>
                                    <uib-tab>
                                        <tab-heading ng-click="vm.tabIndex = 0"><i class="text-default"></i>
                                            吊牌图
                                        </tab-heading>
                                        <div class="tab-content"  style="border-top: 1px solid #d4cfcf;">
                                            <div class="tab-pane active">
                                                <div class="vo_prodGallery">
                                                    <div class="thumbnailWrapper">
                                                        <div  ng-repeat="image in vm.productComm.fields.images8 | limitTo: 10"
                                                              class="thumbnail" ng-class="{'active':vm.currentImage == image.image8}"
                                                              ng-click="vm.currentImage = $root.imageUrl.replace('%s', image.image8)"
                                                              ng-style="{'background-image' : 'url(' + $root.imageUrl.replace('%s', image.image8)+ ')'}">
                                                        </div>
                                                        <div  ng-repeat="image in vm.tempImage.images8 | limitTo: 10" class="thumbnail">
                                                            <img ng-click="vm.currentImage = image" ng-src="{{image}}">
                                                        </div>
                                                        <button ng-controller="popupCtrl" ng-click="openProImageSetting('image8',openImageSetting)" class="btn btn-success pull-right input-lg col-lg-2"><i class="glyphicon glyphicon-plus"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </uib-tab>
                                    <uib-tab>
                                        <tab-heading ng-click="vm.tabIndex = 0"><i class="text-default"></i>
                                            耐久性标签图
                                        </tab-heading>
                                        <div class="tab-content"  style="border-top: 1px solid #d4cfcf;">
                                            <div class="tab-pane active">
                                                <div class="vo_prodGallery">
                                                    <div class="thumbnailWrapper">
                                                        <div  ng-repeat="image in vm.productComm.fields.images9 | limitTo: 10"
                                                              class="thumbnail" ng-class="{'active':vm.currentImage == image.image9}"
                                                              ng-click="vm.currentImage = $root.imageUrl.replace('%s', image.image9)"
                                                              ng-style="{'background-image' : 'url(' + $root.imageUrl.replace('%s', image.image9)+ ')'}">
                                                        </div>
                                                        <div  ng-repeat="image in vm.tempImage.images9 | limitTo: 10"  class="thumbnail">
                                                            <img ng-click="vm.currentImage = image" ng-src="{{image}}">
                                                        </div>
                                                        <button ng-controller="popupCtrl" ng-click="openProImageSetting('image9',openImageSetting)" class="btn btn-success pull-right input-lg col-lg-2"><i class="glyphicon glyphicon-plus"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </uib-tab>
                                </uib-tabset>

                                <div class="wrapper-sm m-t-xs" style="margin-top: -10px;">
                                    <h5 class="text-vo font-bold">SKU库存明细</h5>
                                    <hr style="margin-top:0px;margin-bottom:10px"/>
                                    <div>
                                        <div class="form-group" ng-repeat="invObj in vm.mastData.inventoryList">
                                            <label class="col-sm-8 control-label text-left m-l-md">{{invObj.skucode}}</label>
                                            <div class="col-sm-2 text-left">
                                                <input type="text" class="form-control" ng-model="invObj.skyqty" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <br>
        </div>
    </div>
</div>

<script type="text/ng-template" id="dynamicPopoverTemplate.html">
    <div class="row" style="min-width: 241px;">
        <div class="row">
            <div class="col-sm-8" style="color: #000">
                <label class="control-label"> APP端启用开关 <i class="fa fa-bell pull-right text-warnings"></i></label>
            </div>
            <div class="col-sm-4">
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch1">
                    <label class="onoffswitch-label" for="myonoffswitch1">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
            <div class="col-sm-8" style="color: #000">
                <label class="control-label"> 翻译完成开关 <i class="fa fa-bell pull-right text-warnings"></i></label>
            </div>
            <div class="col-sm-4">
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch2">
                    <label class="onoffswitch-label" for="myonoffswitch2">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
            <div class="col-sm-8" style="color: #000">
                <label class="control-label"> 个人税号完成开关 <i class="fa fa-bell pull-right text-warnings"></i></label>
            </div>
            <div class="col-sm-4">
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch3">
                    <label class="onoffswitch-label" for="myonoffswitch3">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
            <div class="col-sm-8" style="color: #000">
                <label class="control-label"> Lock开关 <i class="fa fa-bell pull-right text-warnings"></i></label>
            </div>
            <div class="col-sm-4">
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch4">
                    <label class="onoffswitch-label" for="myonoffswitch4">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</script>
