<div class="product-shema-detail">
    <form class="form-horizontal" name="productFieldForm" novalidate>
        <div class="panel vo_panel tab_panel">
                <div class="container-fluid"  id="{{cartInfo.name}}1">
                    <div class="row wrapper">
                        <!----------------------------------------历史按钮---------------------------------------------->
                        <div class="col-md-10 form-group">
                            <div class="col-lg-2">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-history fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div>价格历史</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="javascript:void(0)">
                                        <div class="panel-footer">
                                            <span class="pull-left">查看详细</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="panel panel-green">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-history fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                              <div>活动历史</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="javascript:void(0)">
                                        <div class="panel-footer">
                                            <span class="pull-left">查看详细</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="panel panel-yellow">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-history fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div>SKU追加历史</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="javascript:void(0)">
                                        <div class="panel-footer">
                                            <span class="pull-left">查看详细</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="panel panel-red">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-history fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div>关键共通属性-Feed关联变更历史</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="javascript:void(0)">
                                        <div class="panel-footer">
                                            <span class="pull-left">查看详细</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-2">
<!--                            <div class="pull-right m-t-xs m-r-xs ng-scope" ng-if="vm.status == 'Pending'">
                                <button class="btn btn-vo ng-binding" ng-click="saveProduct()"><i class="glyphicon glyphicon-floppy-disk"></i>{{'BTN_SAVE'|translate}}</button>
                            </div>
                            <div class="pull-right m-t-xs m-r-xs ng-scope" ng-if="vm.status == 'Ready' || vm.status == 'Approved'">
                                <button class="btn btn-vo ng-binding" ng-click="saveProduct()" ng-disabled="vm.checkFlag.translate != 1 || vm.checkFlag.tax != 1 ||
                                                                                        vm.checkFlag.category != 1 || vm.checkFlag.attribute == false"><i class="glyphicon glyphicon-floppy-disk"></i>Approved</button>
                            </div>
                            <div class="pull-right text-warnings" style="padding-left:0px">
                                <i class="icon fa fa-bell-o"></i>&nbsp;【Save】按钮，用于数据临时保存；【Ready】/【Approve】按钮，用于数据正式保存并确认，设计产品状态变更，将启动必填属性检查机制，一旦检查发现异常，保存即失败。
                            </div>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="row form-group">
                                <label class="col-md-2 control-label">平台状态</label>
                                <div class="col-md-8">
                                   <span class="label m-l-sm">
                                       <platform-status data="vm.mastData.platformList"></platform-status>
                                        <span class="label m-t-xs m-r-sm" style="padding-left:10px;color: #000;" ng-style="{{cartsObj.cssVal}}">
                                            <span><a ng-href="{{cartsObj._purl}}" title="" target="_blank">TM</a></span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-md-2 control-label">Group Info</label>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-xs-6 col-md-2"  ng-repeat="image in vm.mastData.images">
                                            <a href="javascript:void(0)" class="thumbnail" ng-class="{'main': image.isMain == true,'current': image.productCode == vm.mastData.productCode}">
                                                <img src="http://s7d5.scene7.com/is/image/sneakerhead/{{image.imageName}}" title="{{image.productCode}}">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                    <button class="col-md-2 btn btn-default ng-binding" ng-controller="popupCtrl" ng-click="jdCategoryMapping(popupNewCategory)"><span>{{cartInfo.name}}&nbsp;{{'TXT_CATEGORY'|translate}}</span>
                                </button>
                                <div class="col-md-8">
                                    <input class="form-control ng-pristine ng-valid ng-not-empty ng-valid-required ng-touched" required="" style="" ng-model="vm.platform.pCatPath" disabled>
                                    <div class="text-warnings" style="padding-left:0px">
                                        <i class="icon fa fa-bell-o"></i>&nbsp;切换平台类目将影响整个Group中的所有商品，请慎重！
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!----------------------------------------右侧悬浮框-------------------------------------------->
                        <div class="col-sm-2" style="float: right;">
                            <nav class="bs-docs-sidebar">
                                <h3>导航栏</h3>
                                <ul class="nav bs-docs-sidenav">
                                    <li class="">
                                        <a href="javascript:void(0)" ng-click="pageAnchor(1,1000)">共通属性</a>
                                    </li>
                                    <li class="">
                                        <a href="javascript:void(0)" ng-click="pageAnchor(2,1000)">平台属性</a>
                                    </li>
                                    <li>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-nav" ng-click="saveProduct()"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;&nbsp;保存</button>
                            </nav>
                        </div>
                    </div>
                </div>

                <hr>
                <span>产品详情</span>
                <!------------------------------------------------以下为产品schema------------------------------------------------------->
                <div class="container-fluid" id="{{cartInfo.name}}2">

                    <div class="col-sm-7">
                        <ng-form name="schemaForm" novalidate>
                            <schema data="vm.productComm.schemaFields"></schema>
                        </ng-form>
                    </div>
                </div>
            <hr>
        </div>
    </form>
</div>