<div class="wrapper-md" ng-init="ctrl.init()">
    <div class="vo_accordion vo_attr">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="glyphicon glyphicon-move"></i>&nbsp;{{'TXT_SKU_MOVE' | translate}}</h4>
                </div>
                <div class="container-fluid m-t-xs m-b-xs">
                    <div class="col-sm-12">
                        <div class="col-sm-4"><!-- 操作类型 -->
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" translate="TXT_TYPE_OF_OPERATION"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="{{'TXT_MOVE_SKU_TO_NEW_CODE'|translate}}" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4"><!-- 移动的Sku -->
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" translate="TXT_MOVED_SKU"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="ctrl.skuListView" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4"><!-- 移动源Code -->
                            <div class="form-horizontal">
                                <div class="form-group form-inline">
                                    <label class="col-sm-3 control-label" translate="TXT_MOVED_SOURCE_CODE"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="ctrl.sourceCode" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box"><!-- Group 检索 -->
        <div class="box-body container-fluid  product-shema-detail">
            <div class="col-sm-12"><!-- 请选择移动方式 -->
                <div class="form-group m-t-sm">
                    <div class="col-sm-2 m-b-xs">
                        <div class="form-group">
                            <hr>
                            <span class="product-title"><i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;{{'TXT_CHOOSE_THE_MOVE_TYPE'|translate}}</span>
                        </div>
                        <div class="form-group" ng-if="!ctrl.show">
                            <button class="btn btn-success col-sm-12" ng-click="ctrl.preview()"><i class="fa fa-arrow-circle-down"></i>&nbsp;&nbsp;{{'TXT_BUILD_PREVIEW'|translate}}</button>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="form-group"></div>
                        <div class="m-t-lg">
                            <label class="radio-inline c-radio">
                                <input type="radio" name="type" value="new" ng-model="ctrl.destGroupType" ng-change="ctrl.destGroupChange()"><span class="fa fa-check"></span> {{'TXT_NEW_CODE_UNDER_NEW_GROUP'|translate}}
                            </label><br>
                            <label class="radio-inline c-radio">
                                <input type="radio" name="type" value="old" ng-model="ctrl.destGroupType" ng-change="ctrl.destGroupChange()"><span class="fa fa-check"></span> {{'TXT_NEW_CODE_UNDER_OLD_GROUP'|translate}}<label ng-if="ctrl.includeJMCN">{{'TXT_NEW_CODE_JUMEI_ALERT'|translate}}</label>
                            </label><br>
                            <label class="radio-inline c-radio" style="margin-left: 2px;">
                                <input type="radio" name="type" value="select" ng-model="ctrl.destGroupType" ng-change="ctrl.destGroupChange()"><span class="fa fa-check"></span> {{'TXT_NEW_CODE_CHOOSED_GROUP'|translate}}<label ng-if="ctrl.includeJMCN">{{'TXT_NEW_CODE_JUMEI_ALERT'|translate}}</label>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" ng-if="ctrl.show"><!-- Group 检索 -->
                <div class="form-group m-t-sm">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <hr>
                            <span class="product-title"><i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;{{'TXT_CODE_SEARCH'|translate}}</span>
                        </div>
                        <div class="form-group m-t-md">
                            <button class="btn btn-success col-sm-12" ng-click="ctrl.preview()"><i class="fa fa-arrow-circle-down"></i>&nbsp;&nbsp;{{'TXT_BUILD_PREVIEW'|translate}}</button>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">{{'TXT_CODE' | translate}}</label>
                            <div class="col-sm-4">
                                <input class="form-control" ng-model="ctrl.searchCode">
                            </div>
                            <button class="btn btn-vo" ng-click="ctrl.search()" title="Search"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="form-group">
                            <table class="table table-hover-new table-hover table_main m-t-sm">
                                <thead>
                                <tr>
                                    <th class="text-left mfb-xt" translate="BTN_SELECT"></th>
                                    <th class="text-center mfb-xx" translate="TXT_IMAGE"></th>
                                    <th class="text-left mfb-xx" translate="TXT_PRODUCT_CODE"></th>
                                    <th class="text-left mfb-xxxs" translate="TXT_PRODUCT_NAME"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="productInfo in ctrl.codeList">
                                    <td class="control-label v-middle">
                                        <label class="radio-inline c-radio v-middle">
                                            <input type="radio" name="selCode" value="{{productInfo.common.fields.code}}" ng-model="ctrl.refCode" ng-click="ctrl.selRefCode(productInfo.common.fields.code)" style="margin-left: 0;">
                                            <span class="fa fa-check v-middle"></span>
                                        </label>
                                    </td>
                                    <td class="text-center v-middle">
                                        <a href="javascript:void(0)" ng-click="ctrl.openImageDetail(productInfo)">
                                            <img-by-name class="thumb-md" name="productInfo.common.fields.images1[0].image1">
                                            </img-by-name>
                                        </a>
                                    </td>
                                    <td class="text-left v-middle">
                                        <a ng-href="#/product/detail/{{productInfo.prodId}}" target="_blank">
                                            {{productInfo.common.fields.code}}</a>
                                    </td>
                                    <td class="text-left v-middle" ng-if="productInfo.common.fields.originalTitleCn != ''">
                                        {{productInfo.common.fields.originalTitleCn}}
                                    </td>
                                    <td class="text-left v-middle" ng-if="productInfo.common.fields.originalTitleCn == ''">
                                        {{productInfo.common.fields.productNameEn}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box" ng-if="ctrl.showView"><!-- 移动后预览 -->
        <div class="box-body container-fluid  product-shema-detail">
            <div class="col-sm-12"><!-- 移动后预览 -->
                <div class="form-group m-t-sm">
                    <div class="col-sm-2">
                        <hr>
                        <span class="product-title"><i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;{{'TXT_PREVIEW_AFTER_MOVE'|translate}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <table class="table table-hover-new table-hover table_main table_compare">
                        <thead>
                        <tr>
                            <th class="text-center table_compare_before" colspan="4" translate="TXT_MOVED_BEFORE"></th>
                            <th class="text-center table_compare_after" colspan="4" translate="TXT_MOVED_AFTER"></th>
                        </tr>
                        <tr>
                            <th class="text-center table_compare_before" colspan="2" translate="TXT_SOURCE_INFO"></th>
                            <th class="text-center table_compare_before" colspan="2" translate="TXT_TARGET_INFO"></th>
                            <th class="text-center table_compare_after" colspan="2" translate="TXT_SOURCE_INFO"></th>
                            <th class="text-center table_compare_after" colspan="2" translate="TXT_TARGET_INFO"></th>
                        </tr>
                        <tr>
                            <th class="text-left mfb-xxt table_compare_before" translate="TXT_SOURCE_CODE_INFO"></th>
                            <th class="text-left mfb-xxt table_compare_before" translate="TXT_SOURCE_SKU_INFO"></th>
                            <th class="text-left mfb-xxt table_compare_before" translate="TXT_TARGET_CODE_INFO"></th>
                            <th class="text-left mfb-xxt table_compare_before" translate="TXT_TARGET_SKU_INFO"></th>
                            <th class="text-left mfb-xxt table_compare_after" translate="TXT_SOURCE_CODE_INFO"></th>
                            <th class="text-left mfb-xxt table_compare_after" translate="TXT_SOURCE_SKU_INFO"></th>
                            <th class="text-left mfb-xxt table_compare_after" translate="TXT_TARGET_CODE_INFO"></th>
                            <th class="text-left mfb-xxt table_compare_after" translate="TXT_TARGET_SKU_INFO"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-left v-middle">{{ctrl.sourceCodeInfoBefore}}</td>
                            <td class="text-left v-middle">
                                <div ng-repeat="skuInfo in ctrl.sourceSkuInfoBefore">
                                    <span ng-if="skuInfo.current == true">{{skuInfo.sku}}</span>
                                    <div ng-if="skuInfo.current != true">{{skuInfo.sku}}</div>
                                </div>
                            </td>
                            <td class="text-left v-middle">
                                <div ng-if="ctrl.destCodeInfoBefore != ''">{{ctrl.destCodeInfoBefore}}</div>
                                <div ng-if="ctrl.destCodeInfoBefore == ''">(无)</div>
                            </td>
                            <td class="text-left v-middle">
                                <div ng-if="ctrl.destSkuInfoBefore.length == 0">(无)</div>
                                <div ng-repeat="skuInfo in ctrl.destSkuInfoBefore">{{skuInfo.sku}}</div>
                            </td>

                            <td class="text-left v-middle">{{ctrl.sourceCodeInfoAfter}}</td>
                            <td class="text-left v-middle">
                                <div ng-repeat="skuInfo in ctrl.sourceSkuInfoAfter">{{skuInfo.sku}}</div>
                            </td>
                            <td class="text-left v-middle"><span>{{ctrl.destCodeInfoAfter}}</span></td>
                            <td class="text-left v-middle">
                                <div ng-repeat="skuInfo in ctrl.destSkuInfoAfter">
                                    <span ng-if="skuInfo.current == true">{{skuInfo.sku}}</span>
                                    <div ng-if="skuInfo.current != true">{{skuInfo.sku}}</div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-vo" ng-disabled="!ctrl.moveButton" ng-click="ctrl.move('Sku')" >&nbsp;{{'TXT_MOVE_CONFIRM'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>