<div class="wrapper-md" ng-init="initialize()">
	<div class="vo_accordion vo_attr">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><i class="glyphicon glyphicon-th-list"></i>&nbsp;{{'TXT_GROUP_DETAIL' | translate}}</h4>
				</div>
				<div class="container-fluid m-t-sm m-b-md">
					<div class="col-sm-12">
						<div class="col-sm-4">
							<form class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-3 control-label" translate="TXT_NUM_IID"></label>
									<label class="col-sm-5 control-label text-left text-vo">
										<a ng-href="{{vm.productUrl}}{{vm.groupInfo.numIId}}"
										   target="_blank" class="text-u-l" ng-bind="vm.groupInfo.numIId"></a>
									</label>
									<label class="col-sm-3 col-sm-1-off text-left label" ng-bind="vm.groupInfo.platformStatus"
										   ng-class="{'label-success-new': vm.groupInfo.platformStatus == 'OnSale','label-yellow-new': vm.groupInfo.platformStatus == 'InStock', 'label-danger-new': vm.groupInfo.platformStatus == 'WaitingPublish'}">
									</label>
								</div><!-- .form-group -->
								<div class="form-group">
									<label class="col-sm-3 control-label" translate="TXT_MODEL"></label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.productList[0].common.fields.model" readonly>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label" translate="TXT_INVENTORY"></label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.groupInfo.qty" readonly>
									</div>
								</div><!-- .form-group -->
							</form><!-- .form -->
						</div><!--.col -->
						<div class="col-sm-4">
							<form class="form-horizontal">
								<div class="form-group">
									<!--<label class="col-sm-3 control-label" translate="TXT_PLATFORM_CATEGORY"></label>-->
									<!-- TODO 暂时不知道如何取得 -->
									<!--<label class="col-sm-9 control-label text-left text-vo" ng-bind=""></label>-->
								</div><!-- .form-group -->
								<div class="form-group">
									<label class="col-sm-3 control-label" translate="TXT_MASTER_CATEGORY"></label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.productList[0].common.catPath" readonly>
									</div>
								</div><!-- .form-group -->
								<div class="form-group">
									<!-- TODO 暂时不知道如何取得 -->
									<!--<label class="col-sm-3 control-label" translate="TXT_STORE_CATEGORY"></label>-->
									<!--<div class="col-sm-8">-->
									<!--<textarea class="form-control no-resize" rows="2" ng-model="" readonly></textarea>-->
									<!--</div>-->
								</div><!-- .form-group -->
							</form><!-- .form -->
						</div><!-- .col -->
						<div class="col-sm-4">
							<form class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-3 control-label" translate="TXT_PUBLISH_TIME"></label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.groupInfo.publishTime" readonly>
									</div>
								</div><!-- .form-group -->
								<div class="form-group">
									<label class="col-sm-3 control-label" translate="TXT_ON_SALE_TIME"></label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.groupInfo.onSaleTime" readonly>
									</div>
								</div><!-- .form-group -->
								<div class="form-group">
									<label class="col-sm-3 control-label" translate="TXT_IN_STOCK_TIME"></label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.groupInfo.inStockTime" readonly>
									</div>
								</div><!-- .form-group -->
							</form><!-- .form -->
						</div><!--.col -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="box">
		<tabset class="tab-container vo_nav-tabs">
			<!--right-btn-->
			<tab>
				<tab-heading><i class="glyphicons glyphicons-sort text-default"></i>&nbsp;{{'TXT_PRODUCT_LIST' | translate}}</tab-heading>
				<div class="table-responsive box-body">
					<table class="table table-hover-new vo_table vo_models dropdown_table_bk font-bold" style="background:#e67e22;color:#fff">
						<thead>
						<tr>
							<td class="mfb-xxt" translate="TXT_PRIMARY_PRODUCT"></td>
							<td class="mfb-xxt text-left" translate="TXT_BRAND"></td>
							<td class="mfb-xxt text-center" translate="TXT_INVENTORY"></td>
							<td class="mfb-xxt text-right" translate="TXT_SALE_PRICE"></td>
							<td class="mfb-xxt text-left" translate="TXT_PRODUCT_TYPE"></td>
							<td class="mfb-xxt text-left" translate="TXT_SIZE_TYPE"></td>
							<td class="mfb-xxt text-left" translate="TXT_BASE_PROPERTY"></td>
							<td class="mfb-xxt text-center" translate="TXT_SKU_COUNT"></td>
							<!--<td class="mfb-xxs">Product</td>-->
							<td class="mfb-xxt text-left" translate="TXT_TIME"></td>
						</tr>
						</thead>
					</table>
					<div class="col-sm-12 dropdown_table_main" if-no-rows="vm.productList.length">
						<table class="table table-hover vo_table vo_models" ng-if="vm.productList.length">
							<tbody ng-repeat="productInfo in vm.productList">
							<tr ng-class="{'table_bg_green_mint': productInfo.platform.pPublishTime}" class="table_bg_gray">
								<td colspan="9" class="control-label text-left form-inline">
									<label class="checkbox-inline c-radio">
										<input type="radio" name="radioMainProduct" ng-checked="productInfo.common.fields.code == vm.groupInfo.mainProductCode" ng-click="setMainProduct(productInfo.common.fields.code)">
										<span class="fa fa-check"></span>
									</label>
									<span class="label m-r-lg m-l" ng-class="{'label-yellow-new': productInfo.common.fields.status == 'Pending','label-info': productInfo.common.fields.status == 'Ready', 'label-primary': productInfo.common.fields.status == 'Approved'}">
										&nbsp;{{productInfo.common.fields.status}}&nbsp;
									</span>
									<span class="m-r-lg">{{'TXT_PRODUCT_CODE_WITH_COLON' | translate}}&nbsp;
										<a ng-href="#/product/detail/{{productInfo.prodId}}" target="_blank" class="text-u-l" ng-bind="productInfo.common.fields.code"></a>
									</span>&nbsp;
									<span>{{'TXT_PRODUCT_NAME_WITH_COLON' | translate}}&nbsp;
										<a ng-if="productInfo.common.fields.originalTitleCn" href="#/product/detail/{{productInfo.prodId}}" target="_blank" class="text-u-l"
										   title="{{productInfo.common.fields.originalTitleCn}}">{{productInfo.common.fields.longTitle | limitTo: 30}}{{productInfo.common.fields.originalTitleCn.length > 30 ? '...' : ''}}</a>
										<a ng-if="!productInfo.common.fields.originalTitleCn" href="#/product/detail/{{productInfo.prodId}}" target="_blank" class="text-u-l"
										   title="{{productInfo.common.fields.productNameEn}}">{{productInfo.common.fields.productNameEn | limitTo: 30}}{{productInfo.common.fields.productNameEn.length > 30 ? '...' : ''}}</a>
									</span>
									<span class="pull-right">{{'TXT_CATEGORY_WITH_COLON' | translate}}&nbsp;{{productInfo.common.catPath}}</span>
								</td>
							</tr>
							<tr ng-class="{'table_bg_green_mint': productInfo.platform.publishTime}">
								<td class="mfb-xxt">
									<img-by-name name="productInfo.common.fields.images1[0].image1"
												 alt="{{productInfo.common.fields.code}}"
												 class="thumb-sm-search pull-left m-r"></img-by-name>
								</td>
								<td class="mfb-xxt text-left">{{productInfo.common.fields.brand}}</td>
								<td class="mfb-xxt text-center">
									<!--<button ng-controller="showPopoverCtrl" popover-html="showInfo({{productInfo.inventoryDetail}})"
											popover-title="{{'TXT_SKU_INVENTORY' | translate}}" type="button" popover-placement="left"
											class="btn btn-default btn-xs">{{productInfo.common.fields.qty || 0}}</button>-->
									{{productInfo.common.fields.quantity || 0}}
								</td>
								<td class="mfb-xxt text-right">
									<button ng-controller="showPopoverCtrl" popover-html="showInfo({{productInfo.priceDetail}})" popover-title="{{'TXT_PRICE' | translate}}"
											type="button" popover-placement="left"  class="btn btn-default btn-xs">
										{{productInfo.priceSale}}
									</button>
								</td>
								<td class="mfb-xxt text-center">{{productInfo.common.fields.productType}}</td>
								<td class="mfb-xxt text-left">{{productInfo.common.fields.sizeType}}</td>
								<td class="mfb-xxt text-left">
									<div class="table_main">
										<ul>
											<!--<li ng-repeat="baseProperty in productInfo.basePropertyList">{{baseProperty.name}}&nbsp;{{baseProperty.value}}</li>-->
										</ul>
									</div>
								</td>
								<td class="mfb-xxt text-center">
									{{productInfo.common.skus.length}}
								</td>
								<td class="mfb-xxt text-left">
									<small >
										<ul ng-if="productInfo.platform.pPublishTime">
											<li>{{'TXT_PUBLISH_TIME' | translate}}</li>
											<!--<li><span>{{groupInfo.publishDate}}</span></li>-->
											<li><span>{{productInfo.platform.pPublishTime}}</span></li>
										</ul>
										<ul ng-if="!productInfo.platform.pPublishTime">
											<li>{{'TXT_CREATE_TIME' | translate}}</li>
											<!--<li><span>{{productInfo.publishDate}}</span></li>-->
											<li><span>{{productInfo.created}}</span></li>
										</ul>
										<div class="table_main">
										</div>
									</small>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div><!-- .table-responsive -->
			</tab>
		</tabset><!-- tabset -->
	</div><!-- .col-lg-12 -->
</div><!-- end .wrapper-md -->