<div class="wrapper-md" ng-init="ctrl.init()">
    <div class="vo_accordion vo_attr">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="glyphicon glyphicon-cog"></i>&nbsp;{{'TXT_FEED_CONNECTION_SETTING'
                        | translate}}</h4>
                </div>
                <div class="container-fluid m-l-md m-t-sm m-b-xs">
                    <div class="col-sm-12">
                        <div class="form-inline m-b-xs pull-left">
                            <label>
                                <span translate="TXT_TOP_FEED_CATEGORY"></span>&nbsp;
                                <select class="form-control m-r-xxs"
                                        ng-change="ctrl.refreshTable()"
                                        ng-model="ctrl.selectedTop"
                                        ng-options="cate.catId as cate.catPath for cate in ctrl.topCategories"></select>
                            </label>
                            <select class="form-control m-r-xxs" title="{{::'TXT_FILTER_CATEGORY' | translate}}"
                                    ng-change="ctrl.refreshTable()"
                                    ng-options="v as k for (k,v) in ::ctrl.options.category"
                                    ng-model="ctrl.matched.category"></select>
                            <select class="form-control m-r-xxs" title="{{::'TXT_FILTER_ATTRIBUTE' | translate}}"
                                    ng-change="ctrl.refreshTable()"
                                    ng-options="v as k for (k,v) in ::ctrl.options.property"
                                    ng-model="ctrl.matched.property"></select>
                            <input type="text" placeholder="{{'TXT_MSG_SEARCH' | translate}}"
                                   ng-model="ctrl.matched.keyWord" enter-click="ctrl.refreshTable()"
                                   class="form-control"/>
                            <button class="btn btn-default" ng-click="ctrl.clear()"><i class="fa fa-remove"></i>&nbsp;{{'BTN_CLEAR'
                                | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-b-lg">
        <div class="box">
            <div class="box-body">
                <table class="table table-hover table-hover-new text-center">
                    <thead>
                    <tr>
                        <th class="mfb-xt text-center" translate="TXT_SEQ"></th>
                        <th class="text-left" translate="TXT_LEVEL"></th>
                        <th class="text-left" translate="TXT_FEED_CATEGORY"></th>
                        <th class="text-left" translate="TXT_MASTER_CATEGORY"></th>
                        <th class="text-center" translate="TXT_MAPPING_CATEGORY_OR_FORWARD"></th>
                        <th class="text-center" translate="BTN_MAPPING_ATTRIBUTE_COMMON_MAIN"></th>
                        <th class="text-center" translate="TXT_MAPPING_ATTRIBUTE"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="feedCategory in ctrl.tableSource track by feedCategory.path">
                        <td class="mfb-xt text-center">{{::feedCategory.seq}}</td>
                        <td class="text-left">
                            <span class="badge {{::feedCategory.classes.background}}">
                                <span>{{::feedCategory.level}}</span>&nbsp;<span>{{::'TXT_SUB_LEVEL'|translate}}</span>
                                <i class="fa {{::feedCategory.classes.icon}}"></i>
                            </span>
                        </td>
                        <td class="text-left">{{::feedCategory.path}}</td>

                        <td class="text-left" ng-if="feedCategory.isMatched()">
                            <select ng-model="feedCategory.selectedMapping"
                                    ng-options="mapping as mapping.mainPath for mapping in feedCategory.mappings"></select>
                        </td>
                        <td class="text-left" ng-if="!feedCategory.isMatched()">
                            {{ctrl.getDefaultMapping(feedCategory)}}
                        </td>

                        <td>
                            <div class="btn-group" ng-controller="popupCtrl">
                                <button ng-click="ctrl.openCategoryMapping(feedCategory, popupNewCategory)"
                                        class="btn btn-default btn-xs">
                                    <i class="glyphicon glyphicon-link"></i>&nbsp;<span>{{::'BTN_MAPPING_CATEGORY'|translate}}</span>
                                </button>
                                <button class="btn btn-default btn-xs" ng-click="ctrl.extendsMapping(feedCategory)">
                                    <i class="fa fa-arrow-circle-up"></i>&nbsp;<span>{{::'BTN_FORWARD'|translate}}</span>
                                </button>
                            </div>
                        </td>
                        <td>
                            <a ng-href="#/mapping/feed/0/{{feedCategory.selectedMapping.mainMapping._id}}" target="feed-field-mapping"
                               ng-if="feedCategory.isChild && feedCategory.selectedMapping.mainMapping"><i
                                    class="glyphicon glyphicon-link"></i>&nbsp;<span>{{::'BTN_MAPPING_ATTRIBUTE_COMMON_MAIN'|translate}}</span></a>&nbsp;
                            <span class="h4" ng-show="feedCategory.isChild && feedCategory.selectedMapping.mainMapping.matchOver">
                                <i class="fa fa-check-circle text-vo"></i>
                            </span>
                        </td>
                        <td class=" text-center">
                            <a ng-href="#/mapping/feed/1/{{feedCategory.selectedMapping._id}}/{{::feedCategory.path}}" target="feed-field-mapping"
                               ng-if="!!feedCategory.isChild && !!feedCategory.selectedMapping">
                                <i class="glyphicon glyphicon-link"></i>&nbsp;<span>{{::'BTN_MAPPING_ATTRIBUTE'|translate}}</span>
                            </a>&nbsp;
                            <span class="h4" ng-show="feedCategory.isChild && feedCategory.selectedMapping.matchOver">
                                <i class="fa fa-check-circle text-vo"></i>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>