<div class="wrapper-md" ng-init="ctrl.init()">
    <div class="vo_accordion vo_attr">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="glyphicon glyphicon-cog"></i>&nbsp;{{'TXT_MASTER_DATA_ATTRIBUTE_MAPPING'
                        | translate}}</h4>
                </div>
                <div class="container-fluid m-t-sm m-b-xs m-l-xs m-r-xs">
                    <div class="col-sm-12">
                        <div class="col-sm-12 m-t-xs m-b-xs" style="border-bottom:1px solid #efefef;padding-bottom:4px">
                            <span>&nbsp;<span>{{::ctrl.mapping.feedCategoryPath}}</span><sup>{{'TXT_FEED_CATEGORY'
                                | translate}}</sup>&nbsp;<i class="fa fa-exchange"></i>&nbsp;</span>
                            <select ng-model="ctrl.mapping" ng-change="ctrl.changeMapping()" ng-options="m as m.mainCategoryPath for m in ctrl.mappings" title="当前进行属性匹配的主类目"></select>
                            <sup class="font-bold text-vo">{{'TXT_MASTER_CATEGORY' | translate}}</sup><sup
                                class="font-bold text-vo" ng-if="ctrl.isCommon"><strong><span>(</span><span>{{'TXT_MASTER_CATEGORY_COMMON_FLG'
                            | translate}}</span><span>)</span></strong></sup>
                        </div>
                        <div class="form-inline pull-left m-r-lg">
                            <label class="m-t-xs col-sm-9" translate="TXT_MAPPING_ATTRIBUTE_IS_FINISHED"></label>
                            <div class="col-sm-3 text-left">
                                <div class="onoffswitch">
                                    <input type="checkbox" class="onoffswitch-checkbox" id="feed-m-ckb-1"
                                           ng-change="ctrl.switchMatchOver()" ng-model="ctrl.matchOver">
                                    <label class="onoffswitch-label" for="feed-m-ckb-1">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-inline">
                            <select class="form-control m-r-xxs"
                                    ng-model="ctrl.show.hasRequired"
                                    ng-options="v as k for (k,v) in ctrl.options.hasRequired"></select>
                            <select class="form-control m-r-xxs"
                                    ng-model="ctrl.show.matched"
                                    ng-options="v as k for (k,v) in ctrl.options.matched"></select>
                            <input type="text" ng-model="ctrl.show.keyWord"
                                   placeholder="{{'TXT_MSG_SEARCH' | translate}}" class="form-control">
                            <button class="btn btn-default" ng-click="ctrl.clear()"><i class="fa fa-remove"></i>&nbsp;{{'BTN_CLEAR'
                                | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" ng-controller="popupCtrl">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><b>{{'TXT_NORMAL_ATTRIBUTE' | translate}}</b></h4>
                    </div>
                    <form class="form-horizontal clearfix">
                        <div class="col-sm-12 platform_mapping_bg_list"
                             ng-repeat="bean in ctrl.dataSources.fields track by bean.seq"
                             ng-if="ctrl.shown(bean)" field-bean>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><b>{{'TXT_COMMON_ATTRIBUTE' | translate}}</b></h4>
                    </div>
                    <form class="form-horizontal clearfix">
                        <div class="col-sm-12 platform_mapping_bg_list"
                             ng-repeat="bean in ctrl.dataSources.common track by bean.seq"
                             ng-if="ctrl.shown(bean)" field-bean></div>
                    </form>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><b>{{'TXT_SKU_ATTRIBUTE' | translate}}</b></h4>
                    </div>
                    <form class="form-horizontal clearfix">
                        <div class="col-sm-12 platform_mapping_bg_list"
                             ng-repeat="bean in ctrl.dataSources.sku track by bean.seq"
                             ng-include="'feedMapping.fieldBean.html'"
                             ng-if="ctrl.shown(bean)" field-bean></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="feedMapping.fieldBean.html">
        <div class="col-sm-5 text-left" style="margin-left:{{::bean.level*30}}px">
            <i class="fa {{::bean.headClass}}"></i>&nbsp;<span>{{::(bean.field.name || bean.field.id) }}</span>&nbsp;<span
                ng-if="bean.required">(&nbsp;<i>{{::'TXT_REQUIRED'|translate}}</i>&nbsp;)</span>
        </div>
        <div class="col-sm-1 pull-center" ng-if="bean.isSimple">
            <button class="btn btn-default btn-xs"
                    ng-click="popupFeed(ctrl.popupContext(bean)).then(ctrl.saveMapping)"><i class="fa fa-pencil"></i>&nbsp;<span>{{::'TXT_MAPPING_VALUE'|translate}}</span>
            </button>
        </div>
        <div class="col-sm-1 pull-right m-r-sm">
            <span ng-if="bean.isSimple"
                  ng-class="{'badge':bean.matched, 'badge badge-failure': !bean.matched}">&nbsp;<span
                    ng-if="bean.matched">{{::'TXT_COMPLETE'|translate}}</span>&nbsp;<span ng-if="!bean.matched">{{::'TXT_INCOMPLETE'|translate}}</span></span>
        </div>
        <div class="pull-right">
            <span class="{{::bean.iconClass}}">{{::bean.field.type}}</span>
        </div>
    </script>
</div>