<div class="vo_modal" ng-init="$ctrl.init()">
    <div class="modal-header">
        <h5 class="modal-title"><i class="glyphicons glyphicons-edit"></i>&nbsp;<span translate="TXT_ADD_MOD_GOOD"></span></h5>
    </div>
    <div class="modal-body wrapper">
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label" translate="TXT_NUMIID_FULL"></label>
                <div class="col-sm-7" id="numiid-chosen-box">
                    <select ng-change="$ctrl.loadCode()" chosen ng-model="$ctrl.selected.num_iid" ng-options="iid as (iid.numIid + ' -> ' + iid.productModel) for iid in $ctrl.numiids" class="form-control" title="商品的数字 ID (Num_iid)"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" translate="TXT_CODE_FULL"></label>
                <div class="col-sm-7">
                    <select ng-model="$ctrl.selected.code" ng-options="code as code.productCode for code in $ctrl.codes" title="商品的Code" class="form-control"></select>
                </div>
            </div><!-- .form-group -->
            <div class="form-group">
                <label class="col-sm-4 control-label" translate="TXT_PROMOTION_PRICE"></label>
                <label class="col-sm-7 control-label text-left">{{$ctrl.selected.code.promotionPrice}}</label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$ctrl.cancel()"><i class="fa fa-remove"></i>&nbsp;<span translate="BTN_CANCEL"></span></button>
        <button class="btn btn-vo" ng-click="$ctrl.ok()"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;<span translate="BTN_SAVE"></span></button>
    </div>
</div><!-- .vo_modal -->