<div class="vo_modal" ng-init="initialize()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$close()"><span
                aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <h5 class="modal-title"><i class="fa fa-codepen"></i>&nbsp;新建增量隔离任务</h5>
    </div>
    <div class="modal-body wrapper">
        <form role="form" class="form-horizontal">
           <div class="form-group">
               <label class="col-sm-2 control-label">平台</label>
               <div class="col-sm-9">
                   <select class="form-control" ng-model="vm.promotionList">
                       <option ng-repeat="platform in vm.promotionList" value={{platform.cartName}}>{{platform.cartName}}</option>
                   </select>
                </div>
           </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">增量类型</label>
                <div class="col-sm-6">
                    <select class="form-control" ng-model="vm.promotionList">
                        <option>百分比增量</option>
                        <option>数值增量</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="100%">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">任务名</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="双十一增量任务">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$close()"><i class="fa fa-remove"></i> 取消</button>
        <button class="btn btn-vo" ng-click="ok()"><i class="glyphicon glyphicon-floppy-disk"></i> 保存</button>
    </div>
</div><!-- .vo_modal -->