<div class="vo_modal" ng-init="initialize()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()"><span
                aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <h5 class="modal-title"><i class="glyphicons glyphicons-edit"></i>
        <span translate="TXT_PROMOTION_DETAIL"></span>
        </h5>
    </div>
    <div class="m-t-md m-b-md">
        <form role="form" novalidate class="form-horizontal" name="promotionForm">
            <div class="form-group">
                <label for="promotionName" class="col-sm-3 control-label vo_reqfield" translate="TXT_PROMOTION_NAME"></label>
                <div class="col-sm-7">
                    <input id="promotionName" name="promotionName" class="form-control"
                           ng-model="editModel.promotionModel.promotionName" required title="Promotion Name" maxlength="50">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-7 col-sm-offset-3">
                    <vo-message target="promotionForm.promotionName"></vo-message>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label vo_reqfield" translate="TXT_PLATFORM_TYPE"></label>
                <div class="col-sm-7 m-t-xs">
                    <label ng-repeat="cart in cartList" class="c-radio" ng-if="cart.value != 27 && cart.value != 928">
                        <input type="radio" name="promotionCartId" class="form-control" ng-model="editModel.promotionModel.cartId" value="{{::cart.value}}" required>
                        <span class="fa fa-check"></span><b>&nbsp;{{::cart.name}}</b>
                    </label>
                </div>
            </div>
            <div class="form-group" ng-if="editModel.promotionModel.cartId == 20 || editModel.promotionModel.cartId == 23 || editModel.promotionModel.cartId == 30 || editModel.promotionModel.cartId == 31">
                <label class="col-sm-3 control-label vo_reqfield" >类型</label>
                <div class="col-sm-7 m-t-xs">
                    <label class="c-radio"  >
                        <input type="radio" name="promotionType" class="form-control" ng-model="editModel.promotionModel.promotionType" value=0 required>
                        <span class="fa fa-check"></span><b>&nbsp;普通</b>
                    </label>
                    <label class="c-radio" >
                        <input type="radio" name="promotionType" class="form-control" ng-model="editModel.promotionModel.promotionType" value=1 required>
                        <span class="fa fa-check"></span><b>&nbsp;直降</b>
                    </label>
                    <label class="c-radio" >
                        <input type="radio" name="promotionType" class="form-control" ng-model="editModel.promotionModel.promotionType" value=2 required>
                        <span class="fa fa-check"></span><b>&nbsp;特价宝</b>
                    </label>
                    <label  ng-if="editModel.promotionModel.promotionType == 2">
                        <input  class="form-control" ng-model="editModel.promotionModel.tejiabaoId" placeholder="{{'TXT_TE_JIA_BAO_ID' | translate}}">
                    </label>
                </div>
            </div>
            <div class="form-group" ng-if="(editModel.promotionModel.cartId == 20 || editModel.promotionModel.cartId == 23 || editModel.promotionModel.cartId == 30 || editModel.promotionModel.cartId == 31) && editModel.promotionModel.promotionType != 0">
                <label class="col-sm-3 control-label vo_reqfield" >触发机制</label>
                <div class="col-sm-7 m-t-xs">
                    <label class="c-radio"  >
                        <input type="radio" name="triggerType" class="form-control" ng-model="editModel.promotionModel.triggerType" value=0 required>
                        <span class="fa fa-check"></span><b>&nbsp;手动</b>
                    </label>
                    <label class="c-radio" >
                        <input type="radio" name="triggerType" class="form-control" ng-model="editModel.promotionModel.triggerType" value=1 required>
                        <span class="fa fa-check"></span><b>&nbsp;实时</b>
                    </label>
                    <label class="c-radio" >
                        <input type="radio" name="triggerType" class="form-control" ng-model="editModel.promotionModel.triggerType" value=2 required>
                        <span class="fa fa-check"></span><b>&nbsp;定时</b>
                    </label>
                    <div class="col-sm-5 input-group" ng-if="editModel.promotionModel.triggerType == 2">
                        <input type="datetime-local" class="form-control" uib-datepicker-popup
                               ng-model="editModel.promotionModel.triggerTime" name="signupDeadline" required
                               date-model-format="yyyy-MM-dd HH:mm:ss" step="1"
                               is-open="datePicker4" close-text="Close"                         />
                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="datePicker4 = !datePicker4" ><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-7 col-sm-offset-3">
                    <vo-message target="promotionForm.promotionCartId"></vo-message>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" translate="TXT_PREHEATING_TIME"></label>
                <div class="col-sm-7 form-inline">
                    <div class="col-sm-5 input-group">
                        <input type="date" class="form-control"
                               ng-model="editModel.promotionModel.prePeriodStart"
                               uib-datepicker-popup
                               is-open="datePicker1"
                               max-date="editModel.promotionModel.prePeriodEnd"
                               ng-disabled = "canTimeOut(editModel.promotionModel.prePeriodStart)"
                               date-model-format="yyyy-MM-dd">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-disabled = "canTimeOut(editModel.promotionModel.prePeriodStart)"
                                    ng-click="datePicker1 = !datePicker1">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                    &nbsp;~&nbsp;
                    <div class="col-sm-5 input-group">
                        <input type="date" class="form-control"
                               ng-model="editModel.promotionModel.prePeriodEnd"
                               uib-datepicker-popup
                               is-open="datePicker2"
                               min-date="editModel.promotionModel.prePeriodStart"
                               ng-disabled = "canTimeOut(editModel.promotionModel.prePeriodEnd)"
                               date-model-format="yyyy-MM-dd">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-disabled = "canTimeOut(editModel.promotionModel.prePeriodEnd)"
                                    ng-click="datePicker2 = !datePicker2">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" translate="TXT_PRE_SALE_TIME"></label>
                <div class="col-sm-7 form-inline">
                    <div class="col-sm-5 input-group">
                        <input type="date"
                               ng-model="editModel.promotionModel.preSaleStart"
                               class="form-control"
                               uib-datepicker-popup
                               is-open="datePicker3"
                               max-date="editModel.promotionModel.preSaleEnd"
                               ng-disabled = "canTimeOut(editModel.promotionModel.preSaleStart)"
                               date-model-format="yyyy-MM-dd">
						<span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-disabled = "canTimeOut(editModel.promotionModel.preSaleStart)"
                                    ng-click="datePicker3 = !datePicker3">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                    &nbsp;~&nbsp;
                    <div class="col-sm-5 input-group">
                        <input type="date"
                               ng-model="editModel.promotionModel.preSaleEnd"
                               class="form-control"
                               uib-datepicker-popup
                               is-open="datePicker4"
                               min-date="editModel.promotionModel.preSaleStart"
                               ng-disabled = "canTimeOut(editModel.promotionModel.preSaleEnd)"
                               date-model-format="yyyy-MM-dd">
						<span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-disabled = "canTimeOut(editModel.promotionModel.preSaleEnd)"
                                    ng-click="datePicker4 = !datePicker4">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label vo_reqfield" translate="TXT_PROMOTION_TIME"></label>
                <div class="col-sm-7 form-inline">
                    <div class="col-sm-5 input-group">
                        <input type="date" class="form-control" name="promotionTimeStart"
                               ng-model="editModel.promotionModel.activityStart"
                               uib-datepicker-popup
                               is-open="datePicker5"
                               max-date="editModel.promotionModel.activityEnd"
                               date-model-format="yyyy-MM-dd"
                               ng-disabled = "canTimeOut(editModel.promotionModel.activityStart)"
                               required>
						<span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-disabled = "canTimeOut(editModel.promotionModel.activityStart)"
                                    ng-click="datePicker5 = !datePicker5">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                    &nbsp;~&nbsp;
                    <div class="col-sm-5 input-group">
                        <input type="date" class="form-control" name="promotionTimeEnd"
                               ng-model="editModel.promotionModel.activityEnd"
                               uib-datepicker-popup
                               is-open="datePicker6"
                               min-date="editModel.promotionModel.activityStart"
                               date-model-format="yyyy-MM-dd"
                               ng-disabled = "canTimeOut(editModel.promotionModel.activityEnd)"
                               required>
						<span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-disabled = "canTimeOut(editModel.promotionModel.activityEnd)"
                                    ng-click="datePicker6 = !datePicker6">
                                <i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-7 col-sm-offset-3">
                    <vo-message target="promotionForm.promotionTimeStart && promotionForm.promotionTimeEnd" class="vo-message-success"></vo-message>
                </div>
            </div>
        </form>
    </div>
    <div class="table-responsive m-l-md m-r-md m-b-md">
        <form role="form" novalidate name="tagListForm">
            <table class="table table-hover-new table-hover">
                <thead>
                <tr class="control-label">
                    <th>{{'TXT_PROMOTION_TAG' | translate}}</th>
                    <th class="mfb-xxt text-center">{{'BTN_DELETE' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="tag in editModel.tagList">
                    <td>
                        <input class="form-control" ng-model="tag.tagName" name="tagName{{$index}}" ng-required="true" maxlength="20" required>
                        <vo-message target="tagListForm['tagName' + $index]"></vo-message>
                    </td>
                    <td class="mfb-xs text-center"><button title="{{'BTN_DELETE' | translate}}" class="btn btn-danger btn-xs" ng-disabled="tag.id != ''" ng-click="delTag(editModel.tagList,tag)"><i class="fa fa-trash-o"></i></button></td>
                </tr>
                </tbody>
            </table>
        </form>
        <div class="form-group">
            <button ng-disabled="isEdit" class="btn btn-sm btn-success btn-addon pull-right" ng-click="addTag()"><i class="fa fa-plus"></i>追加</button>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$dismiss()"><i class="fa fa-remove"></i>&nbsp;{{'BTN_CANCEL' | translate}}</button>
        <button class="btn btn-vo" ng-click="ok()" ng-disabled="isEdit"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;{{'BTN_SAVE' | translate}}</button>
    </div>
</div><!-- .vo_modal -->