<div class="vo_modal" ng-init="initialize()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()"><span
                aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <h5 class="modal-title"><i class="glyphicons glyphicons-edit"></i>
        <span translate="TXT_PROMOTION_DETAIL"></span>
        </h5>
    </div>
    <div class="m-t-md m-b-md">
        <form role="form" novalidate class="form-horizontal" name="promotionForm">
            <div class="form-group">
                <label for="promotionName" class="col-sm-3 control-label vo_reqfield" translate="TXT_PROMOTION_NAME"></label>
                <div class="col-sm-7">
                    <input id="promotionName" name="promotionName" class="form-control"
                           ng-model="promotion.promotionName" required title="Promotion Name">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-7 col-sm-offset-3">
                    <vo-message target="promotionForm.promotionName"></vo-message>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label vo_reqfield" translate="TXT_PLATFORM_TYPE"></label>
                <div class="col-sm-7 m-t-xs">
                    <label ng-repeat="cart in cartList" class="c-radio">
                        <input type="radio" name="promotionCartId" class="form-control" ng-model="promotion.cartId" value="{{::cart.value}}" required>
                        <span class="fa fa-check"></span><b>&nbsp;{{::cart.name}}</b>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-7 col-sm-offset-3">
                    <vo-message target="promotionForm.promotionCartId"></vo-message>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" translate="TXT_PREHEATING_TIME"></label>
                <div class="col-sm-7 form-inline">
                    <div class="col-sm-5 input-group">
                        <input type="date" class="form-control"
                               ng-model="promotion.prePeriodStart"
                               uib-datepicker-popup
                               is-open="datePicker1"
                               max-date="promotion.prePeriodEnd"
                               date-model-format="yyyy-MM-dd">
                        <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="datePicker1 = !datePicker1"><i
                                    class="glyphicon glyphicon-calendar"></i></button></span>
                    </div>
                    &nbsp;~&nbsp;
                    <div class="col-sm-5 input-group">
                        <input type="date" class="form-control"
                               ng-model="promotion.prePeriodEnd"
                               uib-datepicker-popup
                               is-open="datePicker2"
                               min-date="promotion.prePeriodStart"
                               date-model-format="yyyy-MM-dd">
                        <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="datePicker2 = !datePicker2"><i
                                class="glyphicon glyphicon-calendar"></i></button></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" translate="TXT_PRE_SALE_TIME"></label>
                <div class="col-sm-7 form-inline">
                    <div class="col-sm-5 input-group">
                        <input type="date"
                               ng-model="promotion.preSaleStart"
                               class="form-control"
                               uib-datepicker-popup
                               is-open="datePicker3"
                               max-date="promotion.preSaleEnd"
                               date-model-format="yyyy-MM-dd">
						<span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="datePicker3 = !datePicker3"><i
                                class="glyphicon glyphicon-calendar"></i></button></span>
                    </div>
                    &nbsp;~&nbsp;
                    <div class="col-sm-5 input-group">
                        <input type="date"
                               ng-model="promotion.preSaleEnd"
                               class="form-control"
                               uib-datepicker-popup
                               is-open="datePicker4"
                               min-date="promotion.preSaleStart"
                               date-model-format="yyyy-MM-dd">
						<span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="datePicker4 = !datePicker4"><i
                                class="glyphicon glyphicon-calendar"></i></button></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label vo_reqfield" translate="TXT_PROMOTION_TIME"></label>
                <div class="col-sm-7 form-inline">
                    <div class="col-sm-5 input-group">
                        <input type="date" class="form-control" name="promotionTimeStart"
                               ng-model="promotion.activityStart"
                               uib-datepicker-popup
                               is-open="datePicker5"
                               max-date="promotion.activityEnd"
                               date-model-format="yyyy-MM-dd"
                               required>
						<span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="datePicker5 = !datePicker5"><i
                                class="glyphicon glyphicon-calendar"></i></button></span>
                    </div>
                    &nbsp;~&nbsp;
                    <div class="col-sm-5 input-group">
                        <input type="date" class="form-control" name="promotionTimeEnd"
                               ng-model="promotion.activityEnd"
                               uib-datepicker-popup
                               is-open="datePicker6"
                               min-date="promotion.activityStart"
                               date-model-format="yyyy-MM-dd"
                               required>
						<span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="datePicker6 = !datePicker6"><i
                                class="glyphicon glyphicon-calendar"></i></button></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-7 col-sm-offset-3">
                    <vo-message target="promotionForm.promotionTimeStart && promotionForm.promotionTimeEnd"></vo-message>
                </div>
            </div>
            <div class="form-group" ng-show="promotion.cartId == 20 || promotion.cartId == 23">
                <div class="col-sm-3 control-label"><label class="" translate="TXT_IS_START_TE_JIA_BAO"></label></div>
                <div class="col-sm-2">
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" ng-model="tejiabao" class="onoffswitch-checkbox" id="myonoffswitch4" checked>
                        <label class="onoffswitch-label" for="myonoffswitch4">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <input class="form-control" ng-if="tejiabao == true" ng-model="promotion.tejiabaoId" placeholder="{{'TXT_TE_JIA_BAO_ID' | translate}}">
                </div><!-- onoff switch -->
            </div>
        </form>
    </div>
    <div class="table-responsive m-l-md m-r-md m-b-md">
        <form role="form" novalidate name="tagListForm">
            <table class="table table-hover-new table-hover">
                <thead>
                <tr class="control-label">
                    <th>TAG</th>
                    <th class="mfb-xxt text-center">{{'BTN_DELETE' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="tag in promotion.tagList">
                    <td>
                        <input class="form-control" ng-model="tag.tagName" name="tagName{{$index}}" ng-required="true" maxlength="20" required>
                        <vo-message target="tagListForm['tagName' + $index]" class="m-t-sm"></vo-message>
                    </td>
                    <td class="mfb-xs text-center"><button title="{{'BTN_DELETE' | translate}}" class="btn btn-danger btn-xs" ng-disabled="tag.id != ''" ng-click="delTag(promotion.tagList,tag)"><i class="fa fa-trash-o"></i></button></td>
                </tr>
                </tbody>
            </table>
        </form>
        <div class="form-group">
            <button ng-disabled="isEdit" class="btn btn-sm btn-success btn-addon pull-right" ng-click="addTag()"><i class="fa fa-plus"></i>追加</button>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$dismiss()"><i class="fa fa-remove"></i>&nbsp;{{'BTN_CANCEL' | translate}}</button>
        <button class="btn btn-vo" ng-click="ok()" ng-disabled="isEdit"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;{{'BTN_SAVE' | translate}}</button>
    </div>
</div><!-- .vo_modal -->