<div class="vo_modal">
    <div class="modal-header">
        <h5 class="modal-title">
            <i class="glyphicons glyphicons-edit"></i>&nbsp;新建&nbsp;&lt;&nbsp;<span>{{$ctrl.promotion.promotionName}}</span>&nbsp;&gt;&nbsp;价格披露
        </h5>
    </div>
    <div class="modal-body wrapper">
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label">名称 (不能重复)</label>
                <div class="col-sm-7">
                    <input ng-model="$ctrl.taskBean.task_name" class="form-control" title="名称 / Title">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">模板</label>
                <div class="col-sm-7">
                    <input ng-model="$ctrl.taskBean.config.beat_template" class="form-control" title="模板 / Image Template">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">还原模板</label>
                <div class="col-sm-7">
                    <input ng-model="$ctrl.taskBean.config.revert_template" class="form-control" title="还原模板 / Image Revert Template">
                </div>
            </div>
            <div class="form-group" ng-if="$ctrl.taskBean.config.need_vimage">
                <label class="col-sm-4 control-label">竖图模板</label>
                <div class="col-sm-7">
                    <input ng-model="$ctrl.taskBean.config.beat_vtemplate" class="form-control" title="竖图模板 / Vertical Image Template">
                </div>
            </div>
            <div class="form-group" ng-if="$ctrl.taskBean.config.need_vimage">
                <label class="col-sm-4 control-label">竖图还原模板</label>
                <div class="col-sm-7">
                    <input ng-model="$ctrl.taskBean.config.revert_vtemplate" class="form-control" title="竖图还原模板 / Vertical Image Revert Template">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label"></label>
                <div class="col-sm-7" style="padding-left:0">
                    <label class="checkbox-inline c-checkbox"><input type="checkbox" ng-model="$ctrl.taskBean.config.need_vimage"><span class="fa fa-check"></span>&nbsp;是否更新竖图</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$ctrl.cancel()">
            <i class="fa fa-remove"></i>&nbsp;
            <span translate="BTN_CANCEL"></span>
        </button>
        <button class="btn btn-vo" ng-click="$ctrl.ok()">
            <i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;
            <span translate="BTN_SAVE"></span>
        </button>
    </div>
</div>