<div class="vo_modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$close()"><span
                aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <h5 class="modal-title"><i class="fa fa-codepen"></i>&nbsp;{{'TXT_ADD_NEW_STOCK_SEPARATE_DETAIL' | translate}}</h5>
    </div>
    <div class="modal-body wrapper">
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Model</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" ng-model="ctrl.model">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Code</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" ng-model="ctrl.code">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Sku</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" ng-model="ctrl.sku">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{'TXT_USABLE_STOCK' | translate}}</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" ng-model="ctrl.usableStock">
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-primary btn-xs" ng-click="ctrl.getUsableStock()"><i class="glyphicon glyphicon-share-alt"></i>&nbsp;{{'TXT_GET_USABLE_STOCK' | translate}}</button>
                </div>
            </div>
            <div class="form-group" ng-repeat="property in ctrl.propertyStockList">
                <label class="col-sm-3 control-label">{{property.name}}</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" ng-model="property.value">
                </div>
            </div>
            <div ng-repeat="platform in ctrl.platformStockList" class="form-group">
                <label class="col-sm-3 control-label">{{platform.cartName}} {{'TXT_SEPARATE_QUANTITY' | translate}}</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" ng-model="platform.qty">
                </div>
                <div class="col-sm-3 m-t-xs">
                    <label class="checkbox-inline c-checkbox">
                        <input type="checkbox" ng-model="platform.dynamic">
                        <span class="fa fa-check"></span>&nbsp;{{'TXT_DYNAMIC' | translate}}
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="ctrl.cancel()"><i class="fa fa-remove"></i> {{'BTN_CANCEL' | translate}}</button>
        <button class="btn btn-vo" ng-click="ctrl.saveNewRecord()"><i class="glyphicon glyphicon-floppy-disk"></i> {{'BTN_SAVE' | translate}}</button>
    </div>
</div><!-- .vo_modal -->