<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.bi.mapper.BillMapper">

    <!-- 获得vf_bill信息结构 -->
    <resultMap id="billMap" type="bi.BillBean">
        <result column="seq" property="seq"/>
        <result column="file_type" property="file_type"/>
        <result column="file_name" property="file_name"/>
        <result column="document_path" property="document_path"/>
        <result column="file_upload_date" property="file_upload_date"/>
        <result column="invoice_num" property="invoice_num"/>
    </resultMap>

    <!-- 获得vf_bill信息结构 -->
    <resultMap id="billErrorMap" type="bi.BillErrorBean">
        <result column="invoice_num" property="invoice_num"/>
        <result column="main_no" property="main_no"/>
        <result column="bill_related_no" property="bill_related_no"/>
        <result column="db_related_no" property="db_related_no"/>
        <result column="error_type_id" property="error_type_id"/>
        <result column="error_description" property="error_description"/>
    </resultMap>

    <!-- 设定vf_bill检索条件 -->
    <sql id="vf_bill_condition">
        <where>
            <if test="seq != null and seq != '' ">
                AND seq = #{seq}
            </if>
            <if test="file_type != null and file_type != '' ">
                AND file_type = #{file_type}
            </if>
            <if test="file_name != null and file_name != '' ">
                AND file_name = #{file_name}
            </if>
            <if test="file_upload_date_from != null and file_upload_date_from != '' ">
                AND file_upload_date <![CDATA[>=]]> convert(#{file_upload_date_from}, datetime)
            </if>
            <if test="file_upload_date_to != null and file_upload_date_to != '' ">
                AND file_upload_date <![CDATA[<=]]> convert(#{file_upload_date_to}, datetime)
            </if>
            <if test="invoice_num != null and invoice_num != '' ">
                AND invoice_num = #{invoice_num}
            </if>
        </where>
    </sql>

    <sql id="vf_bill_condition_fuzzy">
        <where>
            <if test="seq != null and seq != '' ">
                AND seq = #{seq}
            </if>
            <if test="file_type != null and file_type != '' ">
                AND file_type = #{file_type}
            </if>
            <if test="file_name != null and file_name != '' ">
                AND file_name LIKE CONCAT('%',#{file_name},'%' )
            </if>
            <if test="file_upload_date_from != null and file_upload_date_from != '' ">
                AND file_upload_date <![CDATA[>=]]> convert(#{file_upload_date_from}, datetime)
            </if>
            <if test="file_upload_date_to != null and file_upload_date_to != '' ">
                AND file_upload_date <![CDATA[<=]]> convert(#{file_upload_date_to}, datetime)
            </if>
            <if test="invoice_num != null and invoice_num != '' ">
                AND invoice_num LIKE CONCAT('%',#{invoice_num},'%' )
            </if>
        </where>
    </sql>

    <sql id="vf_bill_error_condition_fuzzy">
        <where>
            <if test="invoice_num != null and invoice_num != '' ">
                AND error.invoice_num LIKE CONCAT('%',#{invoice_num},'%' )
            </if>
            <if test="tracking_no != null and tracking_no != '' ">
                AND (error.main_no LIKE CONCAT('%',#{tracking_no},'%' ) OR error.bill_related_no LIKE CONCAT('%',#{tracking_no},'%' ) OR error.db_related_no LIKE CONCAT('%',#{tracking_no},'%' ))
            </if>
            <if test="main_waybill_num != null and main_waybill_num != '' ">
                AND (error.main_no LIKE CONCAT('%',#{main_waybill_num},'%' ) OR error.bill_related_no LIKE CONCAT('%',#{main_waybill_num},'%' ) OR error.db_related_no LIKE CONCAT('%',#{main_waybill_num},'%' ))
            </if>
            <if test="pay_in_warrant_num != null and pay_in_warrant_num != '' ">
                AND (error.main_no LIKE CONCAT('%',#{pay_in_warrant_num},'%' ) OR error.bill_related_no LIKE CONCAT('%',#{pay_in_warrant_num},'%' ) OR error.db_related_no LIKE CONCAT('%',#{pay_in_warrant_num},'%' ))
            </if>
            <if test="error_type_id != null and error_type_id != '' ">
                AND error.error_type_id  = #{error_type_id}
            </if>
            AND bill_error_explanation.error_status IS NULL OR bill_error_explanation.error_status <![CDATA[<>]]> '1'

        </where>
    </sql>

    <!-- 获得vf_bill数量 -->
    <select id="select_count_viw_fms_error" parameterType="Map" resultType="int">
        select
        count(1)
        FROM
        bi_master.viw_fms_error AS error
        LEFT JOIN bi_master.vf_bill_error_explanation AS bill_error_explanation ON error.invoice_num = bill_error_explanation.invoice_num
        AND error.error_type_id = bill_error_explanation.error_type_id
        AND IFNULL(error.main_no,'') = IFNULL(bill_error_explanation.main_no,'')
        AND IFNULL(error.bill_related_no,'') = IFNULL(bill_error_explanation.bill_related_no,'')
        AND IFNULL(error.db_related_no,'') = IFNULL(bill_error_explanation.db_related_no,'')
        <include refid="vf_bill_error_condition_fuzzy"/>
    </select>

    <!-- 检索vf_bill信息 -->
    <select id="select_list_viw_fms_error" parameterType="Map" resultMap="billErrorMap">
        SELECT
        error.invoice_num AS invoice_num,
        error.main_no AS main_no,
        error.bill_related_no AS bill_related_no,
        error.db_related_no AS db_related_no,
        error.error_type_id AS error_type_id,
        error.error_description AS error_description
        FROM
        bi_master.viw_fms_error AS error
        LEFT JOIN bi_master.vf_bill_error_explanation AS bill_error_explanation ON error.invoice_num = bill_error_explanation.invoice_num
        AND error.error_type_id = bill_error_explanation.error_type_id
        AND IFNULL(error.main_no,'') = IFNULL(bill_error_explanation.main_no,'')
        AND IFNULL(error.bill_related_no,'') = IFNULL(bill_error_explanation.bill_related_no,'')
        AND IFNULL(error.db_related_no,'') = IFNULL(bill_error_explanation.db_related_no,'')
        <include refid="vf_bill_error_condition_fuzzy"/>
        <if test="init_index != null and init_index != '' ">
            LIMIT #{init_index} , #{get_size}
        </if>
    </select>

    <!-- 获得vf_bill数量 -->
    <select id="select_count_vf_bill" parameterType="Map" resultType="int">
        select
        count(1)
        from bi_master.vf_bill
        <include refid="vf_bill_condition_fuzzy"/>
    </select>

    <!-- 检索vf_bill信息 -->
    <select id="select_record_vf_bill" parameterType="Map" resultMap="billMap">
        select
        seq,
        file_type,
        file_name,
        document_path,
        file_upload_date,
        invoice_num
        from bi_master.vf_bill
        <include refid="vf_bill_condition"/>
        LIMIT 1
    </select>

    <!-- 检索vf_bill信息 -->
    <select id="select_list_vf_bill" parameterType="Map" resultMap="billMap">
        select
        seq,
        file_type,
        file_name,
        document_path,
        DATE_FORMAT(file_upload_date,'%Y-%m-%d') AS file_upload_date,
        invoice_num,
        transpotation_fee,
        ground_handling_fee,
        storage_charges,
        mail_fee,
        identification_fee,
        tax
        from bi_master.vf_bill
        <include refid="vf_bill_condition_fuzzy"/>
        ORDER BY
        file_upload_date,
        file_type
        <if test="init_index != null and init_index != '' ">
            LIMIT #{init_index} , #{get_size}
        </if>
    </select>

    <insert id="insert_vf_bill" parameterType="Map" useGeneratedKeys="true">
		INSERT INTO bi_master.vf_bill(
		seq,
		file_type,
		file_name,
		document_path,
		file_upload_date,
		invoice_num
		)
		VALUES
			(
			NULL,
			&apos;${file_type}&apos;,
			&apos;${file_name}&apos;,
			&apos;${document_path}&apos;,
			now(),
			&apos;${invoice_num}&apos;
			)
	</insert>

    <!-- 检索vf_bill信息 -->
    <delete id="delete_record_vf_bill" parameterType="Map">
        DELETE FROM bi_master.vf_bill
        <include refid="vf_bill_condition"/>
    </delete>
</mapper>
