<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.bi.mapper.MonthlyReportMapper">

    <!-- 获得monthly_report信息结构 -->
    <resultMap id="monthlyReportMap" type="bi.MonthlyReportDisBean">
        <result column="year_calc" property="year_calc"/>
        <result column="month_calc" property="month_calc"/>
        <result column="order_channel_name" property="order_channel_name"/>
        <result column="actual_shipped_weightLB" property="actual_shipped_weightLB"/>
        <result column="shipped_weightLB" property="shipped_weightLB"/>
        <result column="goods_weight_lb" property="goods_weight_lb"/>
        <result column="express_weight_lb" property="express_weight_lb"/>
        <result column="tax_actual" property="tax_actual"/>
        <result column="transpotation_amount" property="transpotation_amount"/>
        <result column="mail_fee" property="mail_fee"/>
        <result column="ground_handling_fee" property="ground_handling_fee"/>
        <result column="storage_charges" property="storage_charges"/>
        <result column="identification_fee" property="identification_fee"/>
    </resultMap>
    <!-- 设定monthly_report检索条件 -->
    <sql id="monthly_report_condition">
        <where>
            <if test="tracking_no != null and tracking_no != '' ">
                vf_bc_track_detail.tracking_no LIKE CONCAT(#{tracking_no},'%' )
            </if>
            <if test="date_calc_from != null and date_calc_from != '' ">
                AND vf_bc_track_detail.date_calc <![CDATA[>=]]> convert(#{date_calc_from}, datetime)
            </if>
            <if test="date_calc_to != null and date_calc_to != '' ">
                AND vf_bc_track_detail.date_calc <![CDATA[<=]]> convert(#{date_calc_to}, datetime)
            </if>
            <if test="channel_code != null and channel_code != '' ">
                and vf_bc_track_detail.channel_code IN ( ${channel_code} )
            </if>
        </where>
    </sql>

    <sql id="monthly_report_condition_fuzzy">
        <where>
            <if test="tracking_no != null and tracking_no != '' ">
                vf_bc_track_detail.tracking_no LIKE CONCAT(#{tracking_no},'%' )
            </if>
            <if test="date_calc_from != null and date_calc_from != '' ">
                AND vf_bc_track_detail.date_calc <![CDATA[>=]]> convert(#{date_calc_from}, datetime)
            </if>
            <if test="date_calc_to != null and date_calc_to != '' ">
                AND vf_bc_track_detail.date_calc <![CDATA[<=]]> convert(#{date_calc_to}, datetime)
            </if>
            <if test="channel_code != null and channel_code != '' ">
                and vf_bc_track_detail.channel_code IN ( ${channel_code} )
            </if>
        </where>
    </sql>

    <!-- 获得monthly_report数量 -->
    <select id="select_count_monthly_report" parameterType="Map" resultType="int">
        select
        COUNT(DISTINCT vf_bc_track_detail.year_calc,
        vf_bc_track_detail.month_calc,
        vf_bc_track_detail.order_channel_name)
        FROM
        bi_master.vf_bc_track_detail AS vf_bc_track_detail
        LEFT JOIN
        bi_master.vf_track_orders AS vf_track_orders
        ON
        vf_bc_track_detail.tracking_no = vf_track_orders.tracking_no
        LEFT JOIN
        bi_master.vf_tax_detail AS vf_tax_detail
        ON
        vf_bc_track_detail.tracking_no = vf_tax_detail.tracking_no
        LEFT JOIN
        bi_master.vf_transpotation_detail AS vf_transpotation_detail
        ON
        vf_bc_track_detail.tracking_no = vf_transpotation_detail.tracking_no
        LEFT JOIN
        bi_master.vf_bs_incidentals_detail AS vf_bs_incidentals_detail
        ON
        vf_bc_track_detail.main_waybill_num = vf_bs_incidentals_detail.main_waybill_num
        LEFT JOIN
        bi_master.vf_idcard AS idcard
        ON vf_bc_track_detail.source_order_id = idcard.source_order_id
        <include refid="monthly_report_condition_fuzzy"/>
        ORDER BY
        vf_bc_track_detail.year_calc,
        vf_bc_track_detail.month_calc,
        vf_bc_track_detail.order_channel_name
    </select>

    <!-- 检索monthly_report信息 -->
    <select id="select_list_monthly_report" parameterType="Map" resultMap="monthlyReportMap">
        SELECT
        vf_bc_track_detail.year_calc AS 'year_calc',
        vf_bc_track_detail.month_calc AS 'month_calc',
        vf_bc_track_detail.order_channel_name AS 'order_channel_name',
        SUM(vf_track_orders.actual_shipped_weightLB) AS 'actual_shipped_weightLB',
        SUM(IF(ROUND(vf_track_orders.actual_shipped_weightLB) >
        vf_track_orders.actual_shipped_weightLB,ROUND(vf_track_orders.actual_shipped_weightLB),ROUND(vf_track_orders.actual_shipped_weightLB)
        + 1)) AS 'shipped_weightLB',
        SUM(vf_transpotation_detail.goods_weight_lb) AS 'goods_weight_lb',
        SUM(IF(ROUND(vf_transpotation_detail.goods_weight_lb) >
        vf_transpotation_detail.goods_weight_lb,ROUND(vf_transpotation_detail.goods_weight_lb),ROUND(vf_transpotation_detail.goods_weight_lb)
        + 1)) AS 'express_weight_lb',
        SUM(vf_tax_detail.tax_actual) AS 'tax_actual',
        SUM(vf_transpotation_detail.transpotation_amount) AS 'transpotation_amount',
        SUM(vf_transpotation_detail.mail_fee) AS 'mail_fee',
        SUM((vf_bs_incidentals_detail.ground_handling_fee + 0.24)/vf_bs_incidentals_detail.tracking_qty) AS
        'ground_handling_fee',
        SUM(vf_bs_incidentals_detail.storage_charges/vf_bs_incidentals_detail.tracking_qty) AS 'storage_charges',
        SUM(IFNULL(idcard.price, 0)) AS 'identification_fee'
        FROM
        bi_master.vf_bc_track_detail AS vf_bc_track_detail
        LEFT JOIN
        bi_master.vf_track_orders AS vf_track_orders
        ON
        vf_bc_track_detail.tracking_no = vf_track_orders.tracking_no
        LEFT JOIN
        bi_master.vf_tax_detail AS vf_tax_detail
        ON
        vf_bc_track_detail.tracking_no = vf_tax_detail.tracking_no
        LEFT JOIN
        bi_master.vf_transpotation_detail AS vf_transpotation_detail
        ON
        vf_bc_track_detail.tracking_no = vf_transpotation_detail.tracking_no
        LEFT JOIN
        bi_master.vf_bs_incidentals_detail AS vf_bs_incidentals_detail
        ON
        vf_bc_track_detail.main_waybill_num = vf_bs_incidentals_detail.main_waybill_num
        LEFT JOIN
        bi_master.vf_idcard AS idcard
        ON vf_bc_track_detail.source_order_id = idcard.source_order_id
        <include refid="monthly_report_condition_fuzzy"/>
        GROUP BY
        vf_bc_track_detail.year_calc,
        vf_bc_track_detail.month_calc,
        vf_bc_track_detail.order_channel_name
        ORDER BY
        vf_bc_track_detail.year_calc,
        vf_bc_track_detail.month_calc,
        vf_bc_track_detail.order_channel_name
        <if test="init_index != null and init_index != '' ">
            LIMIT #{init_index}, #{get_size}
        </if>
    </select>

</mapper>
