<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.bi.mapper.TaxDetailReportMapper">

    <!-- 获得tax_detail_report信息结构 -->
    <resultMap id="taxDetailReportMap" type="bi.TaxDetailReportDisBean">
        <result column="year_calc" property="year_calc"/>
        <result column="month_calc" property="month_calc"/>
        <result column="order_channel_name" property="order_channel_name"/>
        <result column="tracking_no" property="tracking_no"/>
        <result column="source_order_id" property="source_order_id"/>
        <result column="client_order_number" property="client_order_number"/>
        <result column="pay_in_warrant_num" property="pay_in_warrant_num"/>
        <result column="actual_shipped_weightLB" property="actual_shipped_weightLB"/>
        <result column="shipped_weightLB" property="shipped_weightLB"/>
        <result column="goods_weight_lb" property="goods_weight_lb"/>
        <result column="express_weight_lb" property="express_weight_lb"/>
        <result column="ship_date" property="ship_date"/>
        <result column="order_number" property="order_number"/>
        <result column="tax_actual" property="tax_actual"/>
        <result column="tax_actual_usd" property="tax_actual_usd"/>
        <result column="exchange_rate" property="exchange_rate"/>
    </resultMap>

    <!-- 设定tax_detail_report检索条件 -->
    <sql id="tax_detail_report_condition">
        <where>
            <if test="tracking_no_fuzzy != null and tracking_no_fuzzy != '' ">
                vf_bc_track_detail.tracking_no LIKE CONCAT(#{tracking_no_fuzzy},'%' )
            </if>
            <if test="year_from != null and year_from != '' ">
                and vf_bc_track_detail.year_calc <![CDATA[>=]]> #{year_from}
            </if>
            <if test="year_to != null and year_to != '' ">
                and vf_bc_track_detail.year_calc <![CDATA[<=]]> #{year_to}
            </if>
            <if test="month_from != null and month_from != '' ">
                and vf_bc_track_detail.month_calc <![CDATA[>=]]> #{month_from}
            </if>
            <if test="month_to != null and month_to != '' ">
                and vf_bc_track_detail.month_calc <![CDATA[<=]]> #{month_to}
            </if>
            <if test="channel_code != null and channel_code != '' ">
                and vf_bc_track_detail.channel_code IN ( ${channel_code} )
            </if>
            <if test="tracking_no != null and tracking_no != '' ">
                and vf_bc_track_detail.tracking_no = #{tracking_no}
            </if>
            <if test="main_waybill_num != null and main_waybill_num != '' ">
                and vf_bc_track_detail.main_waybill_num = #{main_waybill_num}
            </if>
            <if test="source_order_id != null and source_order_id != '' ">
                and vf_bc_track_detail.source_order_id = #{source_order_id}
            </if>
            <if test="pay_in_warrant_num != null and pay_in_warrant_num != '' ">
                and vf_bc_track_detail.pay_in_warrant_num = #{pay_in_warrant_num}
            </if>
            <if test="order_number != null and order_number != '' ">
                and vf_bc_track_detail.order_number = #{order_number}
            </if>
            <if test="ship_date_from != null and ship_date_from != '' ">
                AND vf_bc_track_detail.ship_date <![CDATA[>=]]> convert(#{ship_date_from}, datetime)
            </if>
            <if test="ship_date_to != null and ship_date_to != '' ">
                AND vf_bc_track_detail.ship_date <![CDATA[<=]]> convert(#{ship_date_to}, datetime)
            </if>
            <if test="data_null_check != null and data_null_check != '' ">
                AND (vf_tax_detail.tax_actual IS NOT NULL OR vf_tax_detail.tax_actual > 0)
            </if>
        </where>
    </sql>

    <sql id="tax_detail_report_condition_fuzzy">
        <where>
            <if test="tracking_no_fuzzy != null and tracking_no_fuzzy != '' ">
                vf_bc_track_detail.tracking_no LIKE CONCAT(#{tracking_no_fuzzy},'%' )
            </if>
            <if test="year_from != null and year_from != '' ">
                and vf_bc_track_detail.year_calc <![CDATA[>=]]> #{year_from}
            </if>
            <if test="year_to != null and year_to != '' ">
                and vf_bc_track_detail.year_calc <![CDATA[<=]]> #{year_to}
            </if>
            <if test="month_from != null and month_from != '' ">
                and vf_bc_track_detail.month_calc <![CDATA[>=]]> #{month_from}
            </if>
            <if test="month_to != null and month_to != '' ">
                and vf_bc_track_detail.month_calc <![CDATA[<=]]> #{month_to}
            </if>
            <if test="channel_code != null and channel_code != '' ">
                and vf_bc_track_detail.channel_code IN ( ${channel_code} )
            </if>
            <if test="tracking_no != null and tracking_no != '' ">
                and vf_bc_track_detail.tracking_no LIKE CONCAT('%',#{tracking_no},'%' )
            </if>
            <if test="main_waybill_num != null and main_waybill_num != '' ">
                and vf_bc_track_detail.main_waybill_num LIKE CONCAT('%',#{main_waybill_num},'%' )
            </if>
            <if test="source_order_id != null and source_order_id != '' ">
                and vf_bc_track_detail.source_order_id LIKE CONCAT('%',#{source_order_id},'%' )
            </if>
            <if test="pay_in_warrant_num != null and pay_in_warrant_num != '' ">
                and vf_bc_track_detail.pay_in_warrant_num LIKE CONCAT('%',#{pay_in_warrant_num},'%' )
            </if>
            <if test="order_number != null and order_number != '' ">
                and vf_bc_track_detail.order_number LIKE CONCAT('%',#{order_number},'%' )
            </if>
            <if test="ship_date_from != null and ship_date_from != '' ">
                AND vf_bc_track_detail.ship_date <![CDATA[>=]]> convert(#{ship_date_from}, datetime)
            </if>
            <if test="ship_date_to != null and ship_date_to != '' ">
                AND vf_bc_track_detail.ship_date <![CDATA[<=]]> convert(#{ship_date_to}, datetime)
            </if>
            <if test="data_null_check != null and data_null_check != '' ">
                and vf_tax_detail.tax_actual > 0
            </if>
        </where>
    </sql>

    <!-- 获得tax_detail_report数量 -->
    <select id="select_count_tax_detail_report" parameterType="Map" resultType="int">
        select
        count(1)
        FROM
        bi_master.vf_bc_track_detail AS vf_bc_track_detail
        LEFT JOIN
        bi_master.vf_track_orders AS vf_track_orders
        ON
        vf_bc_track_detail.tracking_no = vf_track_orders.tracking_no
        LEFT JOIN
        bi_master.vf_tax_detail AS vf_tax_detail
        ON
        vf_bc_track_detail.tracking_no = vf_tax_detail.tracking_no
        LEFT JOIN
        bi_master.vf_transpotation_detail AS vf_transpotation_detail
        ON
        vf_bc_track_detail.tracking_no = vf_transpotation_detail.tracking_no
        <include refid="tax_detail_report_condition_fuzzy"/>
        ORDER BY
        vf_bc_track_detail.year_calc,
        vf_bc_track_detail.month_calc,
        vf_bc_track_detail.order_channel_name
    </select>

    <!-- 检索tax_detail_report信息 -->
    <select id="select_list_tax_detail_report" parameterType="Map" resultMap="taxDetailReportMap">
        SELECT
        vf_bc_track_detail.year_calc AS 'year_calc',
        vf_bc_track_detail.month_calc AS 'month_calc',
        vf_bc_track_detail.order_channel_name AS 'order_channel_name',
        vf_bc_track_detail.tracking_no AS 'tracking_no',
        vf_bc_track_detail.syn_ship_no AS 'syn_ship_no',
        vf_bc_track_detail.main_waybill_num AS 'main_waybill_num',
        vf_bc_track_detail.source_order_id AS 'source_order_id',
        vf_bc_track_detail.client_order_number AS 'client_order_number',
        vf_bc_track_detail.pay_in_warrant_num AS 'pay_in_warrant_num',
        vf_track_orders.actual_shipped_weightLB AS 'actual_shipped_weightLB',
        IF(ROUND(vf_track_orders.actual_shipped_weightLB) >
        vf_track_orders.actual_shipped_weightLB,ROUND(vf_track_orders.actual_shipped_weightLB),ROUND(vf_track_orders.actual_shipped_weightLB)
        + 1) AS 'shipped_weightLB',
        vf_transpotation_detail.goods_weight_lb AS 'goods_weight_lb',
        IF(ROUND(vf_transpotation_detail.goods_weight_lb) >
        vf_transpotation_detail.goods_weight_lb,ROUND(vf_transpotation_detail.goods_weight_lb),ROUND(vf_transpotation_detail.goods_weight_lb)
        + 1) AS 'express_weight_lb',
        DATE_FORMAT(vf_bc_track_detail.ship_date,'%Y-%m-%d') AS 'ship_date',
        vf_bc_track_detail.order_number AS 'order_number',
        vf_tax_detail.tax_actual AS 'tax_actual',
        vf_tax_detail.tax_actual_usd AS 'tax_actual_usd',
        vf_tax_detail.exchange_rate AS 'exchange_rate'
        FROM
        bi_master.vf_bc_track_detail AS vf_bc_track_detail
        LEFT JOIN
        bi_master.vf_track_orders AS vf_track_orders
        ON
        vf_bc_track_detail.tracking_no = vf_track_orders.tracking_no
        LEFT JOIN
        bi_master.vf_tax_detail AS vf_tax_detail
        ON
        vf_bc_track_detail.tracking_no = vf_tax_detail.tracking_no
        LEFT JOIN
        bi_master.vf_transpotation_detail AS vf_transpotation_detail
        ON
        vf_bc_track_detail.tracking_no = vf_transpotation_detail.tracking_no
        <include refid="tax_detail_report_condition_fuzzy"/>
        ORDER BY
        vf_bc_track_detail.year_calc,
        vf_bc_track_detail.month_calc,
        vf_bc_track_detail.order_channel_name
        <if test="init_index != null and init_index != '' ">
            LIMIT #{init_index}, #{get_size}
        </if>
    </select>

</mapper>
