<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.bi.mapper.TaxMapper">

    <!-- 获得fms_cost_tax信息结构 -->
    <resultMap id="taxMap" type="bi.TaxBean">
        <result column="seq" property="seq"/>
        <result column="invoice_num" property="invoice_num"/>
        <result column="pay_in_warrant_num" property="pay_in_warrant_num"/>
        <result column="main_waybill_num" property="main_waybill_num"/>
        <result column="tax_list_qty" property="tax_list_qty"/>
        <result column="tax_actual_amt" property="tax_actual_amt"/>
        <result column="notes" property="notes"/>
    </resultMap>

    <!-- 设定fms_cost_tax检索条件 -->
    <sql id="fms_cost_tax_condition">
        <where>
            <if test="invoice_num != null and invoice_num != '' ">
                and invoice_num = #{invoice_num}
            </if>
            <if test="pay_in_warrant_num != null and pay_in_warrant_num != '' ">
                and pay_in_warrant_num = #{pay_in_warrant_num}
            </if>
            <if test="main_waybill_num != null and main_waybill_num != '' ">
                and main_waybill_num = #{main_waybill_num}
            </if>
        </where>
    </sql>

    <sql id="fms_cost_tax_condition_fuzzy">
        <where>
            <if test="invoice_num != null and invoice_num != '' ">
                and invoice_num LIKE CONCAT('%',#{invoice_num},'%' )
            </if>
            <if test="pay_in_warrant_num != null and pay_in_warrant_num != '' ">
                and pay_in_warrant_num LIKE CONCAT('%',#{pay_in_warrant_num},'%' )
            </if>
            <if test="main_waybill_num != null and main_waybill_num != '' ">
                and main_waybill_num LIKE CONCAT('%',#{main_waybill_num},'%' )
            </if>
        </where>
    </sql>

    <!-- 获得fms_cost_tax数量 -->
    <select id="select_count_fms_cost_tax" parameterType="Map" resultType="int">
        select
        count(1)
        from bi_source.fms_cost_tax
        <include refid="fms_cost_tax_condition"/>
    </select>

    <select id="select_record_fms_cost_tax" parameterType="Map"
            resultMap="taxMap">
        SELECT
        seq,
        invoice_num,
        pay_in_warrant_num,
        main_waybill_num,
        tax_list_qty,
        tax_actual_amt,
        notes
        FROM bi_source.fms_cost_tax
        <include refid="fms_cost_tax_condition"/>
        LIMIT 1
    </select>

    <!-- 检索fms_cost_tax信息 -->
    <select id="select_list_fms_cost_tax" parameterType="Map" resultMap="taxMap">
        SELECT
        seq,
        invoice_num,
        pay_in_warrant_num,
        main_waybill_num,
        tax_list_qty,
        tax_actual_amt,
        notes
        FROM bi_source.fms_cost_tax
        <include refid="fms_cost_tax_condition_fuzzy"/>
        ORDER BY
        invoice_num,
        seq
        <if test="init_index != null and init_index != '' and get_size != null and get_size != ''">
            LIMIT #{init_index}, #{get_size}
        </if>
    </select>

    <insert id="insert_fms_cost_tax" parameterType="Map">
        INSERT INTO bi_source.fms_cost_tax (
        seq,
        invoice_num,
        pay_in_warrant_num,
        main_waybill_num,
        tax_list_qty,
        tax_actual_amt,
        notes
        )
        VALUES
        (
        NULL,
        &apos;${TaxBean.invoice_num}&apos;,
        &apos;${TaxBean.pay_in_warrant_num}&apos;,
        &apos;${TaxBean.main_waybill_num}&apos;,
        &apos;${TaxBean.tax_list_qty}&apos;,
        &apos;${TaxBean.tax_actual_amt}&apos;,
        &apos;${TaxBean.notes}&apos;
        )
    </insert>

    <insert id="insert_list_fms_cost_tax" parameterType="Map" useGeneratedKeys="true">
        INSERT INTO bi_source.fms_cost_tax
        <foreach collection="column" index="index" item="columnname" open="(" separator="," close=")">
            ${columnname}
        </foreach>
        VALUES
        <foreach collection="value" index="index" item="TaxBean" separator=",">
            (
            NULL,
            &apos;${TaxBean.invoice_num}&apos;,
            &apos;${TaxBean.pay_in_warrant_num}&apos;,
            &apos;${TaxBean.main_waybill_num}&apos;,
            &apos;${TaxBean.tax_list_qty}&apos;,
            &apos;${TaxBean.tax_actual_amt}&apos;,
            &apos;${TaxBean.notes}&apos;
            )
        </foreach>
    </insert>

    <!-- 检索fms_cost_tax信息 -->
    <delete id="delete_fms_cost_tax" parameterType="Map">
        DELETE FROM bi_master.fms_cost_tax
        <include refid="fms_cost_tax_condition"/>
    </delete>

    <update id="update_fms_cost_tax" parameterType="Map">
        UPDATE bi_source.fms_cost_tax
        SET
        invoice_num = &apos;${TaxBean.invoice_num}&apos;,
        pay_in_warrant_num = &apos;${TaxBean.pay_in_warrant_num}&apos;,
        main_waybill_num = &apos;${TaxBean.main_waybill_num}&apos;,
        tax_list_qty = &apos;${TaxBean.tax_list_qty}&apos;,
        tax_actual_amt = &apos;${TaxBean.tax_actual_amt}&apos;,
        notes = &apos;${TaxBean.notes}&apos;
        <include refid="fms_cost_tax_condition"/>
    </update>

</mapper>
