html, body {
    height: 100%;
    font-family: "Microsoft Yahei", sans-serif;
}

.login-box {
    width: 350px;
    padding: 30px;
    margin: auto;
    border: 1px solid #eee;
    box-shadow: 0 0 3px #eee;
    position: relative;
    top: 17%;
}

.login-btn-box {
    text-align: right;
}

.logo-box {
    text-align: center;
}

.logo-box img {
    width: 215px;
}

.login-box .input-group {
    margin-bottom: 20px;
    width: 100%;
}

.login-box .input-group-addon {
    width: 40px;
}

.first-hidden {
    display: none !important;
}