<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.oms.sql">
	<!-- 获取为推送的order信息 -->
	<select id="get_orders_to_oneShop" parameterType="String" resultType="HashMap">
		SELECT
			a.order_number AS OrderNumber,
			DATE_FORMAT(a.order_date_time, '%Y-%m-%d') AS OrderDate,
			DATE_FORMAT(a.order_date_time, '%Y-%m-%d %H:%i:%s') AS OrderDateTime,
			case ifnull(a.sub_source_order_id,'')
			when '' then ifnull(a.source_order_id, '')
			else a.sub_source_order_id
			END AS SourceOrderID,
			a.grand_total AS GrandTotal,
			a.product_total AS ProductTotal,
			a.shipping_total AS ShippingTotal,
			a.cart_id AS CartId,
			a.ship_name,
			a.ship_city,
			a.ship_address,
			a.ship_address2,
			a.ship_phone,
			a.ship_zip,
			a.ship_state,
   			a.revised_discount
		FROM
			oms_bt_orders a
			LEFT JOIN oms_bt_order_details b on a.order_number =b.order_number
			LEFT JOIN tt_reservation r on r.id = b.res_id and a.order_channel_id = r.order_channel_id
			LEFT JOIN wms_mt_store d on d.store_id = r.store_id and a.order_channel_id = d.order_channel_id
		WHERE
			a.Approved = 1
		AND (
			a.client_order_id IS NULL
			OR a.client_order_id = ''
		)
		AND a.Cancelled = 0
		AND a.order_channel_id = #{channel_id}
		and b.res_id != 0
		GROUP BY a.order_number
		HAVING MAX(IFNULL(d.inventory_manager, '0')) = '0'
		limit 50
	</select>
	<select id="get_orders_to_channeladvisor" parameterType="String" resultType="HashMap">
		SELECT
			a.order_number AS OrderNumber,
			DATE_FORMAT(a.order_date_time, '%Y-%m-%d') AS OrderDate,
			DATE_FORMAT(a.order_date_time, '%Y-%m-%d %H:%i:%s') AS OrderDateTime,
			case ifnull(a.sub_source_order_id,'')
			when '' then ifnull(a.source_order_id, '')
			else a.sub_source_order_id
			END AS SourceOrderID,
			a.origin_source_order_id as originSourceOrderId,
			a.grand_total AS GrandTotal,
			a.product_total AS ProductTotal,
			a.shipping_total AS ShippingTotal,
			a.cart_id AS CartId,
			IFNULL(a.email,'')as email,
			a.ship_name,
			a.ship_city,
			a.ship_address,
			a.ship_address2,
			a.ship_phone,
			a.ship_zip,
			a.ship_state,
   			a.revised_discount
		FROM
			oms_bt_orders a
		WHERE
			(a.client_order_id IS NULL
			OR a.client_order_id = '')
		AND a.Cancelled = 0
		AND a.order_channel_id = #{channel_id}
	</select>
	
	<select id="get_approve_orders_to_channeladvisor" parameterType="String" resultType="HashMap">
		SELECT
			a.order_number AS OrderNumber,		
			a.client_order_id AS clientOrderId,
			ifnull(a.pay_no,"") as payNo,
			a.origin_source_order_id as originSourceOrderId,
			a.cart_id as cartId
		FROM
			oms_bt_orders a, oms_bt_ext_orders b
			
		WHERE
			a.Approved = 1
		and a.order_number = b.order_number
		and	(a.client_order_id IS not NULL
			and a.client_order_id != '')
		AND a.Cancelled = 0
		And b.send_flg = 0
		AND a.order_channel_id = #{channel_id}
	</select>
	
	<update id="update_order_sendflg" parameterType="String">
		update oms_bt_ext_orders 
			set send_flg = 1,
				modified = now(),
				modifier = 'UpdateOrderStatusJob'
		where order_number = #{orderNumber}
	</update>
	<!-- 获取order_details信息 -->
	<select id="get_order_details_by_ordernumber" parameterType="String" resultType="HashMap">
			SELECT 	a.SKU,
       				a.Product,
      				a.price_per_unit as PricePerUnit,
       				a.quantity_ordered as QuantityOrdered
		  	FROM oms_bt_order_details a
		 	WHERE    (a.`status` NOT IN ('Canceled', 'Returned') or ISNULL(a.`status`))
		       AND a.SKU != 'Product'
		       AND a.order_number = #{order_number};
	</select>
	<!-- 把JCOrderNumber更新到数据库中 -->
	<update id="update_jc_order_number" parameterType="HashMap" >
       	Update oms_bt_orders 
		set client_order_id = #{jCOrderNumber},
		modifier = #{modifier},
		modified = now()
		where order_number = #{orderNumber}
	</update>	
</mapper>
