<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.oms.sql">

	<!--  获得未关闭退款订单-->
	<select id="oms_changed_orders_import_history_getUnclosedRefund" parameterType="HashMap" resultType="String">
		select 
			rid
		from	
			oms_changed_orders_import_history
		where 
			order_channel_id = #{orderChannelId} and
			cart_id = #{cartId} and
			status like 'Refund%' and
			status != 'RefundSuccess'
	</select>

	<!--  获得已经导入订单history表最新一条更新时间 -->
	<select id="oms_changed_orders_import_history_getJdLastHistoryRefundOrderTime" parameterType="HashMap" resultType="String">
		select 
			modified
		from	
			oms_changed_orders_import_history
		where 
			order_channel_id = #{orderChannelId} and
			cart_id = #{cartId}
		order by
			modified_time desc
		limit 1
	</select>

	<!-- 插入退款订单-->
	<insert id="oms_changed_orders_import_history_insertRefundOrdersInfo" parameterType="HashMap">
		insert ignore into 
			oms_changed_orders_import_history
			(
				order_channel_id,
				cart_id,
				tid,
				status,
				modified_time,
				buyer_nick,
				target,
				fee,
				refund_phase,
				creater,
				created,
				modifier,
				modified
			)
		values 
			${values}
	</insert>
</mapper>