<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.oms.sql">

    <update id="wms_updateReservationStatus">
        UPDATE
          tt_reservation
        SET
          status = #{status},
          update_time = now(),
          update_person = #{takeName}
        WHERE
          order_number = #{orderNumber}
        AND id in
        <foreach collection="reservationList" item="id" open="(" separator="," close=")">#{id}
        </foreach>
    </update>

    <insert id="wms_bt_reservation_log_insert">
        insert into
            wms_bt_reservation_log
        (
            seq,
            order_channel_id,
            reservation_id,
            store_id,
            order_number,
            sku,
            product,
            res_status,
            ship_channel,
            res_note,
            syn_flg,
            active,
            created,
            creater,
            modified,
            modifier
        )
        (SELECT
            null,
            order_channel_id,
            id,
            store_id,
            order_number,
            sku,
            product,
            status,
            ship_channel,
            #{resNote},
            '0',
            '1',
            now(),
            #{takeName},
            now(),
            #{takeName}
        FROM
            tt_reservation
        WHERE
            id in
        <foreach collection="reservationList" item="id" open="(" separator="," close=")">#{id}
        </foreach>)
    </insert>

</mapper>
