<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.oms.sql">
	<!-- 获取为推送的order信息 -->
	<insert id="insert_oms_tb_traderate" parameterType="com.voyageone.batch.oms.modelbean.TradeRateBean" >
		INSERT INTO oms_tb_traderate (
			source_order_id,
			nick,
			result,
			rated_nick,
			item_title,
			item_price,
			content,
			reply,
			num_iid,
			order_channel_id,
			cart_id,
			created,
			modified,
			creater,
			modifier
		)
		VALUES
			(
				#{source_order_id},
				#{nick},
				#{result},
				#{rated_nick},
				#{item_title},
				#{item_price},
				#{content},
				#{reply},
				#{num_iid},
				#{order_channel_id},
				#{cart_id},
				#{created},
				now(),
				'GetTradeRateResultJob',
				'GetTradeRateResultJob'
			)
	</insert>
</mapper>
