<div class="breadcrumbs-v3">
    <div class="container">
        <h4 class="pull-left" translate="TXT_WELCOME"></h4>
        <ul class="pull-right breadcrumb">
            <li class="active selecte" translate="TXT_HOME"></li>
        </ul>
    </div>
</div>
<div class="container content blank-content" ng-init="ctrl.init()">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="form-group">
            <div class="col-sm-6">
                <div class="panel panel-default home_data hover-effect media-body">
                    <div class="panel-heading home_data-head">
                        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i>&nbsp;&nbsp;Today's New Order<span class="text-right">Update everyday</span></h3>
                    </div>
                    <div class="panel-body">
                        <ul class="stat-boxes">
                            <li>
                                <div class="right data-priority-2" >
                                    <strong>10</strong>
                                    New Order Number
                                </div>
                            </li>
                            <li>
                                <div class="right data-priority-2" >
                                    <strong>10</strong>
                                    Sku Number
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default home_data hover-effect media-body">
                    <div class="panel-heading home_data-head">
                        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i>&nbsp;&nbsp;Receive with Error<span class="text-right">Last 10 days</span></h3>
                    </div>
                    <div class="panel-body">
                        <ul class="stat-boxes">
                            <li>
                                <div class="right data-priority-2" >
                                    <strong>10</strong>
                                    Shipment Number
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

