.tab-container_attribute {
    margin-bottom: 15px;
}

.tab-container_attribute .tab-content {
    padding: 15px 15px 0px 15px;
    background-color: #fff;
    border: 1px solid #d4cfcf;
    border-top-width: 0;
    border-radius: 0 0 2px 2px;
}

.attribute_bg {
    background: #f7f7f7;
    border-top: 1px solid #d4cfcf;
    padding: 10px 0px 10px 0px;
    margin: 0;
}
