<div class="wrapper-md" ng-init="initialize()">
    <div class="vo_accordion vo_attr">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-reorder"></i>&nbsp;Sizechartdetail</h4>
                </div>
                <div class="container-fluid m-t-xs">

                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Import Text</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-model="vm.saveInfo.sizeChartName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Confirm</label>

                                    <div class="col-sm-7">
                                        <label class="radio-inline c-radio"><input type="radio" name="finish" value="1"  ng-model="vm.saveInfo.finish"><span class="fa fa-check"></span> Yes </label>
                                        <label class="radio-inline c-radio"><input type="radio" name="finish" value="0"  ng-model="vm.saveInfo.finish"><span class="fa fa-check"></span> No </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="text-warnings col-sm-6">
                                        <i class="icon fa fa-bell-o"></i>&nbsp;尺码表存在疑问请选择No，上新依然会使用这个尺码表
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Related Brand Name</label>
                                    <div class="col-sm-7">
                                        <select multiple chosen class="form-control" width="'360px'" ng-model="vm.saveInfo.brandName"
                                                ng-options="brand for brand in vm.brandNameList">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Related Product Type</label>
                                    <div class="col-sm-7">
                                        <select multiple chosen class="form-control" width="'360px'" ng-model="vm.saveInfo.productType"
                                                ng-options="product for product in vm.productTypeList">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Related Size Type</label>
                                    <div class="col-sm-7">
                                        <select multiple chosen class="form-control" width="'360px'" ng-model="vm.saveInfo.sizeType"
                                                ng-options="size for size in vm.sizeTypeList">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center m-b-sm">
                        <div class="form-inline">
                            <button class="btn btn-default ng-binding" ng-click="reset()"><i class="fa fa-remove"></i>&nbsp;Reset</button>
                            <button title="保存" class="btn btn-vo m-r-sm" ng-click="saveFinish()"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box" ng-controller="popupCtrl">
        <div class="box-body">
            <div class="table-responsive">
                <div class="col-sm-12 dropdown_table_main">
                    <div class="col-sm-12 text-center  m-t-sm m-b-xs">

                        <div class="col-sm-4">
                            <div class="form-group">

                            </div>
                        </div>
                        <div class="form-inline pull-right">
                            <button title="导入" class="btn btn-dangers ng-binding" ng-click="openSizeChartImport({import:import})"><i class="fa fa-reply-all"></i>&nbsp;import</button>
                            <button title="添加" class="btn btn-success ng-binding" ng-click="addSize()"><i class="fa fa-plus"></i>&nbsp;add</button>
                            <button title="保存" class="btn btn-vo m-r-xs" ng-click="saveSize()"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;保存</button>
                        </div>
                    </div>
                    <table class="table table-hover-new vo_table tableWordBreak" style="margin-bottom:0px"
                           ng-controller="popupCtrl">
                        <thead>
                        <tr>
                            <th class="mfb-xt text-center">序号</th>
                            <th class="mfb-xxt text-center">Origin Size</th>
                            <th class="mfb-xxt text-center">Platform Size</th>
                            <th class="mfb-xxt text-center">是否常用尺码</th>
                            <th class="mfb-xxt text-center">编辑</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sizeInfo in vm.importList">
                                <td class="mfb-xt text-center">{{$index + 1}}</td>
                                <td class="mfb-xxt text-center-xs"><input type="text" class="form-control" style="width:100px;margin: 0px auto;" ng-model="sizeInfo.originSize"></td>
                                <td class="mfb-xxt text-center-xs"><input type="text" class="form-control" style="width:100px;margin: 0px auto;" ng-model="sizeInfo.plateFormSize"></td>
                                <td class="mfb-xxt text-center"><label class="checkbox-inline c-checkbox"><input type="checkbox" ng-model="sizeInfo.customSize"><span class="fa fa-check"></span></label></td>
                                <td class="mfb-xxt text-center">
                                    <button title="删除" class="btn btn-danger btn-xs" ng-click="delSize()"><i class="fa  fa-trash-o"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>