<div class="wrapper-md" ng-init="initialize()">
    <div class="vo_accordion vo_attr">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-reorder"></i>&nbsp;Sizechart</h4>
                </div>
                <div class="container-fluid m-t-xs m-b-xs">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Size Chart Name</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-model="vm.searchInfo.sizeChartName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Finish</label>

                                    <div class="col-sm-7">
                                        <select class="form-control" ng-model="vm.searchInfo.finishFlag">
                                            <option value="1">yes</option>
                                            <option value="0">no</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Update Time</label>

                                    <div class="col-sm-9" style="margin-left: -4px;">
                                        <div class="col-sm-10 form-inline">
                                            <!--------------------------------startTime-------------------------------->
                                            <div class="col-sm-5 input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.searchInfo.startTime"
                                                       max-date="vm.searchInfo.endTime" date-model-format="yyyy-MM-dd" is-open="vm.datePicker1" ng-required="true" close-text="Close" />
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="vm.datePicker1 = !vm.datePicker1"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
                                            </div>&nbsp;~&nbsp;
                                            <!--------------------------------endTime-------------------------------->
                                            <div class="col-sm-5 input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.searchInfo.endTime"
                                                       min-date="vm.searchInfo.startTime" date-model-format="yyyy-MM-dd" is-open="vm.datePicker2" ng-required="true" close-text="Close" />
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="vm.datePicker2 = !vm.datePicker2"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Related Brand Name</label>
                                    <div class="col-sm-7">
                                        <select multiple chosen class="form-control" width="'360px'" ng-model="vm.searchInfo.brandNameList"
                                                ng-options="brand.value as brand.name for brand in vm.brandNameList">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Related Product Type</label>
                                    <div class="col-sm-7">
                                        <select multiple chosen class="form-control" width="'360px'" ng-model="vm.searchInfo.productTypeList"
                                                ng-options="brand.value as brand.name for brand in vm.productTypeList">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Related Size Type</label>
                                    <div class="col-sm-7">
                                        <select multiple chosen class="form-control" width="'360px'" ng-model="vm.searchInfo.sizeTypeList"
                                                ng-options="brand.value as brand.name for brand in vm.sizeTypeList">
                                        </select>
                                    </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-12 text-center m-b-sm" ng-controller="popupCtrl">
                        <div class="form-inline">
                            <button class="btn btn-default" ng-click="clear()"><i class="fa fa-remove"></i>&nbsp;清空</button>
                            <button class="btn btn-vo" ng-click="search()"><i class="fa fa-search"></i>&nbsp;检索</button>
                            <button class="btn btn-success" ng-click="openSizeChartAdd(vm)"><i class="fa fa-plus"></i>&nbsp;Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---------------------------------------------------show table datas----------------------------------------------------->
    <div class="box" ng-controller="popupCtrl">
        <div class="box-body">
            <div class="table-responsive">
                <div class="col-sm-12 dropdown_table_main">
                    <table class="table table-hover-new vo_table tableWordBreak" style="margin-bottom:0px">
                        <thead>
                            <tr>
                                <th class="mfb-xt text-center">序号</th>
                                <th class="mfb-xxt text-left">Size Chart Name</th>
                                <th class="mfb-xxt text-left">Related Brand Name</th>
                                <th class="mfb-xxt text-center">Related Product Type</th>
                                <th class="mfb-xxt text-center">Related Size Type</th>
                                <th class="mfb-xxs text-center">Update Time</th>
                                <th class="mfb-xxt text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="mfb-xt text-center">1</td>
                                <td class="mfb-xxt text-left"><a href="#/channel/sizechart/detail/{{1}}" target="_blank"> Nike shoe men chart</a></td>
                                <td class="mfb-xxt text-left">Nike</td>
                                <td class="mfb-xxt text-center">shoe</td>
                                <td class="mfb-xxt text-center">Men</td>
                                <td class="mfb-xxs text-center">2016-04-12 15:32:35</td>
                                <td class="mfb-xxt text-center">
                                    <a href="#/channel/sizechart/detail/{{1}}" class="btn btn-success btn-xs" target="_blank" ><i class="fa fa-cog"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-danger btn-xs" ng-click="deleteRow()"><i class="fa  fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- .table-responsive -->
                <div class="col-sm-12">
                    <!--<vpagination config="vm.groupPageOption"></vpagination>-->
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="m-t-xs">
            <!--<vpagination config="vm.errorPageOption"></vpagination>-->
        </div>
    </div>
</div><!-- end .wrapper-md -->