<div class="wrapper-md" ng-controller="platformPropMappingController as ctrl" ng-init="ctrl.init()">
    <tabset class="tab-container vo_nav-tabs">
        <div class="form-inline pull-right">
            <select class="form-control m-r-xxs" title="必填情况"
                    ng-model="ctrl.selected.required"
                    ng-options="v as k for (k, v) in ctrl.options.required"
                    ng-change="ctrl.filteringData()">
            </select>
            <select class="form-control m-r-xxs" title="设定情况"
                    ng-model="ctrl.selected.matched"
                    ng-options="v as k for (k, v) in ctrl.options.matched"
                    ng-change="ctrl.filteringData()">
            </select>
            <input type="text" placeholder="快速检索" class="form-control">
            <button type="submit" class="btn btn-vo btn-xxs"><i class="fa fa-search"></i></button>
        </div>
        <div class="form-inline pull-right m-r-sm">
            <label class="m-t-xs col-sm-6">匹配完成?</label>
            <div class="col-sm-6 text-left">
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch5" checked>
                    <label class="onoffswitch-label" for="myonoffswitch5">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div><!-- onoff switch -->
            </div>
        </div>
        <tab>
            <tab-heading> 平台类目属性匹配</tab-heading>
            <div class="container-fluid">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <form class="form-horizontal">
                            <div class="container-fluid">
                                <div ng-repeat="(k, property) in ctrl.properties track by property.id"
                                     ng-if="!property.hide"
                                     platform-prop="property"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
    <script type="text/ng-template" id="platform.p.item.d.html">
        <div class="col-sm-12 platform_mapping_bg">
            <div class="col-sm-3 text-left">
                <i class="fa {{::property.headClass}}"></i>
                <span>{{::property.name||property.id}}</span>
                <span>{{::property.required ? '(必填)' : ''}}</span>
            </div>
            <div class="pull-right">
                <span class="{{::property.iconClass}}">{{::property.type}}</span>
            </div>
            <div class="col-sm-3 pull-center">
                <button class="badge badge-empty"
                        ng-controller="popupCtrl"
                        ng-click="openColumnMappingSetting()">值匹配</button>
            </div>
        </div>
        <div class="m-l-xl"
             ng-repeat="child in property.fieldList track by child.id"
             ng-if="!child.hide"
             platform-prop="child"
             platform-prop-parent="property"></div>
    </script>
</div>