<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
          http://www.springframework.org/schema/task
          http://www.springframework.org/schema/task/spring-task.xsd">
    <task:scheduled-tasks scheduler="cms-job-scheduler"> 
        <!--&lt;!&ndash;每天凌晨4点开始产品导入&ndash;&gt;-->
        <!--<task:scheduled ref="cmsGetsdfSuperFeedTask" method="run" cron="0 0 20 * * ?"/>-->
        <!--&lt;!&ndash;test 每5分钟运行一次　&ndash;&gt;-->
        <!--<task:scheduled ref ="cmsGetSuperFeedTask" method="run" cron="0 0/1 0-23 * * ?"/>-->
        <!--&lt;!&ndash; 每12小时运行一次　&ndash;&gt;-->
        <!--<task:scheduled ref="cmsGetSuperFeedTask" method="run" cron="0 0 0/12 * * ?"/>-->

        <!-- 每天凌晨5点开始将产品导入到主数据的值表 > 由于运营可能需要随时修改主类目，所以改为3分钟运行一次 -->
        <!--<task:scheduled ref="cmsSetMainPropTask" method="run" cron="0 0 5 * * ?"/>-->
        <task:scheduled ref="cmsSetMainPropTask" method="run" cron="0/30 * 0-23 * * ?"/>

        <!--&lt;!&ndash; 产品属性值翻译 &ndash;&gt;-->
        <!--<task:scheduled ref="attributeTranslateJob" method="run" cron="15 0/5 0-23 * * ?"/>-->

        <!--&lt;!&ndash; CMS统计日报 &ndash;&gt;-->
        <!--<task:scheduled ref="cmsStatisticsReportTask" method="run" cron="5 0 16 * * ?"/>-->

        <!--&lt;!&ndash; CMS统计日报 &ndash;&gt;-->
        <!--<task:scheduled ref="BcbgAnalySisJob" method="run" cron="0 0/1 0-23 * * ?"/>-->

        <task:scheduled ref="getPlatformCategorySchemaTask" method="run" cron="0 0/1 0-23 * * ?"/>

        <task:scheduled ref="buildMasterSchemaFromPlatformTask" method="run" cron="0 0/1 0-23 * * ?"/>

        <task:scheduled ref="getPlatformCategoryTreesTask" method="run" cron="0 0/1 0-23 * * ?"/>

        <!--&lt;!&ndash; CMS统计日报 &ndash;&gt;-->
        <task:scheduled ref="SearsAnalySisJob" method="run" cron="0 0/1 0-23 * * ?"/>

        <!--&lt;!&ndash; 主数据到平台的默认mapping数据做成&ndash;&gt;-->
        <task:scheduled ref="CmsPlatformMappingJob" method="run" cron="0 0/1 0-23 * * ?"/>

        <!-- cms2的图片推送到Scene7-->
        <task:scheduled ref="CmsImagePostScene7Job" method="run" cron="0/30 * * * * ?"/>
    </task:scheduled-tasks>

    <!-- 必须需要 -->
    <task:scheduler id="cms-job-scheduler" pool-size="3"/>
</beans>
