<div class="vo_modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()"><span
                aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <h5 class="modal-title"><i class="glyphicons glyphicons-edit"></i>&nbsp;{{'TXT_PRICE_HISTORY' | translate}}</h5>
    </div>
    <div class="modal-body">
        <div class="form-inline m-b-xs">
            <div class="form-group m-r-lg">
                <label>
                    <span>SKU&nbsp;</span>
                    <select class="form-control" ng-model="ctrl.selected.sku" ng-change="ctrl.getData(0)" ng-options="i as i.label for i in ctrl.skuList">
                    </select>
                </label>
            </div>
            <div class="form-group m-r-lg">
                <label>
                    <span>Platform&nbsp;</span>
                    <select class="form-control" ng-model="ctrl.selected.cart"
                                                 ng-change="ctrl.getData(0)"
                                                 ng-options="i as i.label for i in ctrl.cartList"
                                                 ng-disabled = "ctrl.isPlatForm"
                    ></select>
                </label>
            </div>
            <div class="form-group pull-right">
                <button class="btn btn-default" ng-click="ctrl.reset()" translate="BTN_REFRESH"></button>
                <button class="btn btn-default" ng-click="ctrl.export()" translate="BTN_EXPORT"></button>
            </div>
        </div>
        <div class="table-responsive">
            <table style="width: 1300px;" class="table table-hover-new vo_table text-center">
                <thead>
                <tr>
                    <th class="text-left" translate="TXT_SKU"></th>
                    <th class="text-left" translate="TXT_PLATFORM_TYPE"></th>
                    <th class="text-right" translate="TXT_MSRP_PRICE"></th>
                    <th class="text-right" translate="TXT_RETAIL_PRICE"></th>
                    <th class="text-right" translate="TXT_SALE_PRICE"></th>
                    <th class="text-right" translate="TXT_CLIENT_MSRP_PRICE"></th>
                    <th class="text-right" translate="TXT_CLIENT_RETAIL_PRICE"></th>
                    <th class="text-right" translate="TXT_CLIENT_NET_PRICE"></th>
                    <th class="text-left" translate="TXT_COMMENT"></th>
                    <th class="text-left" translate="TXT_UPDATE_TIME"></th>
                    <th class="text-left" translate="TXT_UPDATE_BY"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in ctrl.data">
                    <td class="text-left">{{item.sku}}</td>
                    <td class="text-left">{{::ctrl.getCartName(item.cartId)}}</td>
                    <td class="text-right">{{item.msrpPrice}}</td>
                    <td class="text-right">{{item.retailPrice}}</td>
                    <td class="text-right">{{item.salePrice}}</td>
                    <td class="text-right">{{item.clientMsrpPrice}}</td>
                    <td class="text-right">{{item.clientRetailPrice}}</td>
                    <td class="text-right">{{item.clientNetPrice}}</td>
                    <td class="text-left">{{item.comment}}</td>
                    <td class="text-left">{{item.modified.substring(0, 19) | gmtDate:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td class="text-left">{{item.modifier}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container-fluid">
            <vpagination config="ctrl.paging"></vpagination>
        </div>
    </div>
</div><!-- .vo_modal -->