<div class="vo_modal" ng-init="initialize()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()"><span
                aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <h5 class="modal-title"><i class="glyphicons glyphicons-edit"></i>&nbsp;{{'TXT_PRICE_HISTORY' | translate}}</h5>
    </div>
    <div class="modal-body">
    <div class="form-group">
        <label class="col-sm-2 control-label m-t-xs" translate="TXT_PRICE_TYPE"></label>
        <div class="col-sm-4">
            <select class="form-control" ng-model="vm.priceType"  ng-change="initialize()"
                    ng-options="priceType.value as priceType.name for priceType in vm.priceTypeList">
                <option value="">{{'TXT_SELECT_NO_VALUE' | translate}}</option>
            </select>
        </div>
    </div>
    </div>
    <div class="modal-body wrapper">
        <form role="form" class="form-horizontal">
            <div class="box">
                <div class="box-body">
                    <table class="table table-hover-new vo_table text-center">
                        <thead>
                        <tr>
                            <th class="text-left" translate="TXT_CODE_OR_SKU"></th>
                            <th class="text-center" translate="TXT_PRICE"></th>
                            <th class="text-left" translate="TXT_COMMENT"></th>
                            <th class="text-left" translate="TXT_UPDATE_TIME"></th>
                            <th class="text-left" translate="TXT_UPDATE_BY"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="list in vm.priceList">
                            <td class="text-left" ng-if="vm.type == 'code'">{{list.code}}</td>
                            <td class="text-left" ng-if="vm.type == 'sku'">{{list.sku}}</td>
                            <td class="text-center">{{list.salePrice}}</td>
                            <td class="text-left">{{list.comment}}</td>
                            <td class="text-left">{{list.modified.substring(0, 19)}}</td>
                            <td class="text-left">{{list.modifier}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="container-fluid">
                    <vpagination config="vm.pageOption"></vpagination>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$dismiss()"><i class="fa fa-remove"></i> {{'BTN_CANCEL' | translate}}</button>
    </div>
</div><!-- .vo_modal -->