<div class="wrapper-md" ng-init="initialize()">
    <div class="vo_accordion vo_attr">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-reorder"></i>&nbsp;标签管理</h4>
                </div>
                <div class="container-fluid">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <div class="form-horizontal"><div class="form-group">
                                <label class="col-sm-3 control-label">&nbsp;标签类型</label>
                                <div class="col-sm-8">
                                    <select class="form-control">
                                        <option value="请选择标签类型">请选择标签类型</option>
                                        <option value="请选择标签类型">请选择标签类型</option>
                                    </select>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box" ng-controller="popupCtrl">
        <div class="category_drag col-sm-4">
            <div class="category_drag_main">
                <p class="text-center text-vo font-bold">一级标签</p>
                <div class="form-inline m-l-xs">
                    <input type="text" placeholder="快速检索" class="form-control" style="width:90%">
                    <button type="submit" class="btn btn-vo btn-xxs"><i class="fa fa-search"></i></button>
                    <button type="submit" class="btn btn-success btn-xxs" ng-click="openNewTag('')"><i class="fa fa-plus"></i></button>
                </div>
                <div class="category_drag_list_qh">
                    <ul>
                        <li><a href="">&nbsp;服饰 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text-vo"></i></span></a></li>
                        <li><a href="">&nbsp;箱包 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text-vo"></i></span></a></li>
                        <li><a href="">&nbsp;美妆 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text-vo"></i></span></a></li>
                        <li><a href="">&nbsp;电脑 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text-vo"></i></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="category_drag col-sm-4">
            <div class="category_drag_main">
                <p class="text-center text-vo font-bold">二级标签</p>
                <div class="form-inline m-l-xs">
                    <input type="text" placeholder="快速检索" class="form-control" style="width:90%">
                    <button type="submit" class="btn btn-vo btn-xxs"><i class="fa fa-search"></i></button>
                    <button type="submit" class="btn btn-success btn-xxs"  ng-click="openNewTag('')"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="category_drag_list_qh">
                <div class="col-sm-12">
                    <div class="col-sm-2 form-group text-left m-t-xs">
                        <label class="text-left">&nbsp;上衣</label>
                    </div>
                    <div class="form-inline pull-right m-t-xs">
                        <button title="删除" class="btn btn-danger btn-xs"><i class="fa  fa-trash-o"></i></button>&nbsp;
                        <button title="添加" class="btn btn-success btn-xs" ng-click="openNewTag('')"><i class="fa  fa-plus"></i></button>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-2 form-group text-left m-t-xs">
                        <label class="text-left">&nbsp;外套</label>
                    </div>
                    <div class="form-inline pull-right m-t-xs">
                        <button title="删除" class="btn btn-danger btn-xs"><i class="fa  fa-trash-o"></i></button>&nbsp;
                        <button title="添加" class="btn btn-success btn-xs" ng-click="openNewTag('')"><i class="fa  fa-plus"></i></button>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-2 form-group text-left m-t-xs">
                        <label class="text-left">&nbsp;夏装</label>
                    </div>
                    <div class="form-inline pull-right m-t-xs">
                        <button title="删除" class="btn btn-danger btn-xs"><i class="fa  fa-trash-o"></i></button>&nbsp;
                        <button title="添加" class="btn btn-success btn-xs" ng-click="openNewTag('')"><i class="fa  fa-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="category_drag col-sm-4">
            <div class="category_drag_main">
                <p class="text-center text-vo font-bold">三级标签</p>
                <div class="form-inline m-l-xs">
                    <input type="text" placeholder="快速检索" class="form-control" style="width:90%">
                    <button type="submit" class="btn btn-vo btn-xxs"><i class="fa fa-search"></i></button>
                    <button type="submit" class="btn btn-success btn-xxs"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="category_drag_list_qh">
                <div class="col-sm-12">
                    <div class="col-sm-2 form-group text-left m-t-xs">
                        <label class="text-left"></label>
                    </div>
                    <div class="form-inline pull-right m-t-xs">
                        <button title="删除" class="btn btn-danger btn-xs"><i class="fa  fa-trash-o"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 m-t-md text-center">
            <button class="btn btn-vo btn-sm"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;保存</button>

            <!--<a href="#/channel/custom/translate" target="_blank">-->
            <!--<button class="btn btn-success btn-sm"><i class="fa fa-mortar-board (alias) icon"></i>&nbsp;翻译自定义属性</button>-->
            <!--</a>-->
        </div>
    </div>
</div><!-- .col-lg-12 -->