<div class="wrapper-md" ng-init="initialize()">
    <div class="vo_accordion vo_attr">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-reorder" translate="TXT_TAG_MANAGEMENT"></i></h4>
                </div>
                <div class="container-fluid">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" translate="TXT_TAG_TYPE"></label>

                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="vm.tagTypeSelectValue" ng-change="initialize()">
                                            <option value="1" translate="TXT_TAG_STORE_CLASSIFY"></option>
                                            <option value="2" translate="TXT_TAG_PROMOTION"></option>
                                            <option value="3" translate="TXT_TAG_GOODS"></option>
                                            <option value="4" translate="TXT_TAG_FREE"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box" ng-controller="popupCtrl">
        <div class="category_drag col-sm-4">
            <div class="category_drag_main">
                <p class="text-center text-vo font-bold" translate="TXT_TAG_ONE"></p>

                <div class="form-inline m-l-xs">
                    <input type="text" placeholder="快速检索" class="form-control" style="width:90%">
                    <button type="submit" class="btn btn-vo btn-xxs"><i class="fa fa-search"></i></button>
                    <button type="submit" class="btn btn-success btn-xxs"
                            ng-click="openNewTag({first:true,tagSelectObject:vm.tagTree[vm.indexTwo],tagInfo:vm,save:save})">
                        <i class="fa fa-plus"></i></button>
                </div>
                <div class="category_drag_list_qh">
                    <ul>
                        <li ng-repeat="tagTree in vm.tagTree">
                            <a href="javascript:void(0)" ng-click="vm.indexTwo = $index">
                                <span>{{tagTree.tagChildrenName }}</span>
                                <button translate="BTN_DELETE" class="btn btn-danger btn-xs pull-right"
                                        ng-show=tagTree.isLeaf ng-click="delTag(tagTree)">
                                    <i class="fa  fa-trash-o"></i></button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="category_drag col-sm-4">
            <div class="category_drag_main">
                <p class="text-center text-vo font-bold" translate="TXT_TAG_TWO"></p>

                <div class="form-inline m-l-xs">
                    <input type="text" placeholder="快速检索" class="form-control" style="width:90%">
                    <button type="submit" class="btn btn-vo btn-xxs"><i class="fa fa-search"></i></button>
                    <button type="submit" class="btn btn-success btn-xxs"
                            ng-click="openNewTag({first:false,tagSelectObject:vm.tagTree[vm.indexTwo],tagInfo:vm,save:save})">
                        <i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="category_drag_list_qh">
                <ul>
                    <li ng-repeat="tagTwo in vm.tagTree[vm.indexTwo].children" ng-click="vm.indexThree = $index">
                        <a href="javascript:void(0)">
                            <span>{{:: tagTwo.tagChildrenName }}</span>
                            <button translate="BTN_DELETE" class="btn btn-danger btn-xs pull-right"
                                    ng-show=tagTwo.isLeaf ng-show="tagTwo.children.length" ng-click="delTag(tagTwo)">
                                <i class="fa  fa-trash-o"></i></button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="category_drag col-sm-4">
            <div class="category_drag_main">
                <p class="text-center text-vo font-bold" translate="TXT_TAG_THREE"></p>

                <div class="form-inline m-l-xs">
                    <input type="text" placeholder="快速检索" class="form-control" style="width:90%">
                    <button type="submit" class="btn btn-vo btn-xxs"><i class="fa fa-search"></i></button>
                    <button type="submit" class="btn btn-success btn-xxs"
                            ng-click="openNewTag({first:false,tagSelectObject:vm.tagTree[vm.indexTwo].children[vm.indexThree],tagInfo:vm,save:save})">
                        <i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="category_drag_list_qh">
                <ul>
                    <li ng-repeat="tagThree in vm.tagTree[vm.indexTwo].children[vm.indexThree].children">
                        <a href="javascript:void(0)">
                            <span>{{:: tagThree.tagChildrenName }}</span>
                            <button translate="BTN_DELETE" class="btn btn-danger btn-xs pull-right"
                                    ng-show=tagThree.isLeaf ng-click="delTag(tagThree)">
                                <i class="fa  fa-trash-o"></i></button>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>