<div class="vo_modal" ng-init="ctrl.initialize()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()"><span
                aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <h5 class="modal-title"><i class="glyphicon glyphicon-share"></i>&nbsp;{{'TXT_PRODUCT_DETAIL' | translate}}</h5>
    </div>
    <div class="modal-body wrapper">
        <form role="form" class="form-horizontal">
            <div class="row m-l-xs">
                <div class="col-sm-15">
                 <tabset class="tab-container vo_nav-tabs">
                  <tab>
                    <tab-heading>Product 详情</tab-heading>
                    <div class="column_overflow" style="height:400px">
                        <div class="form-group col-sm-12">
                           <h5 class="text-vo font-bold m-l-md">产品库数据</h5>
                           <hr style="margin-top:4px;margin-bottom:4px">
                         </div>
                        <div class="form-group col-sm-12">
                            <!-- todo 目前不想做切换类目 然后更新product表的其他几个类目字段,以后将聚美的类目放到mongodb -->
                            <label class="col-sm-3 control-label vo_reqfield">聚美类目</label>
                            <div class="col-sm-6">
                                <!--<select class="form-control" disabled ng-model="ctrl.productInfo.categoryLv4Id" ng-options="category.id as category.name for category in ctrl.masterData.categoryList | filter:level:'4'">-->
                                    <!--<option value="">{{'TXT_SELECT_NO_VALUE' | translate}}</option>-->
                                <!--</select>-->
                                {{ctrl.model.modelJmProduct.voCategoryName}}
                            </div>
                            <!--<label class="col-sm-3 control-label text-u-red text-left" translate="TXT_REQUIRED"></label>-->
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label vo_reqfield">产品品牌</label>
                            <div class="col-sm-6">
                                {{ctrl.model.modelJmProduct.brandName}}
                                <!--<select class="form-control" ng-model="ctrl.productInfo.brandId" ng-options="brand.id as brand.name for brand in ctrl.masterData.brandList">-->
                                    <!--<option value="">{{'TXT_SELECT_NO_VALUE' | translate}}</option>-->
                                <!--</select>-->
                            </div>
                            <!--<label class="col-sm-3 control-label text-u-red text-left" translate="TXT_REQUIRED"></label>-->
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label vo_reqfield">产品名</label>
                            <div class="col-sm-6">
                                {{ctrl.model.modelJmProduct.productNameCn}}
                                <!--<textarea class="form-control no-resize" rows="2" ng-model="ctrl.productInfo.productNameCn"></textarea>-->
                            </div>
                            <!--<label class="col-sm-3 control-label text-u-red text-left" translate="TXT_REQUIRED"></label>-->
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label vo_reqfield">外文名</label>
                            <div class="col-sm-6">
                                {{ctrl.model.modelJmProduct.foreignLanguageName}}
                                <!--<textarea class="form-control no-resize" rows="2" ng-model="ctrl.productInfo.foreignLanguageName"></textarea>-->
                            </div>
                            <!--<label class="col-sm-3 control-label text-u-red text-left" translate="TXT_REQUIRED"></label>-->
                        </div>
                        <!--<div class="form-group text-center col-sm-12">-->
                            <!--<button class="btn btn-vo" ng-click="ctrl.saveProductInfo()"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;{{'BTN_SAVE' | translate}}</button>-->
                        <!--</div>-->

                        <!-- start deal数据 -->
                        <div class="form-group col-sm-12">
                            <h5 class="text-vo font-bold m-l-md">Deal数据</h5>
                            <hr style="margin-top:4px;margin-bottom:4px">
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label vo_reqfield">售卖时间</label>
                            <div class="col-sm-6 form-inline">
                                <div class="input-group col-sm-5">
                                    {{ctrl.model.modelJmPromotionProduct.activityStart}}
                                    <!--<input ng-readonly="ctrl.productPromotionInfo.updateState == '2'" type="text" class="form-control" placeholder="from" ng-model="ctrl.productPromotionInfo.activityStart">-->
                                </div>&nbsp;~&nbsp;
                                <div class="input-group col-sm-5">
                                    {{ctrl.model.modelJmPromotionProduct.activityEnd}}
                                    <!--<input ng-readonly="ctrl.productPromotionInfo.updateState == '2'" type="text" class="form-control" placeholder="to" ng-model="ctrl.productPromotionInfo.activityEnd">-->
                                </div>
                            </div>
                            <!--<label class="col-sm-3 control-label text-u-red text-left" translate="TXT_REQUIRED"></label>-->
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label">每人限购</label>
                            <div class="col-sm-6">
                                {{ctrl.model.modelJmPromotionProduct.limit}}
                                <!--<input class="form-control" ng-readonly="ctrl.productPromotionInfo.updateState == '2'" ng-model="ctrl.productPromotionInfo.limit"/>-->
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label vo_reqfield">长标题</label>
                            <div class="col-sm-6">
                                {{ctrl.model.modelJmProduct.productLongName}}
                                <!--<textarea class="form-control no-resize" rows="2" ng-model="ctrl.productInfo.productLongName"></textarea>-->
                            </div>
                            <!--<label class="col-sm-3 control-label text-u-red text-left" translate="TXT_REQUIRED"></label>-->
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label vo_reqfield">中标题</label>
                            <div class="col-sm-6">
                                {{ctrl.model.modelJmProduct.productMediumName}}
                                <!--<textarea class="form-control no-resize" rows="2" ng-model="ctrl.productInfo.productMediumName"></textarea>-->
                            </div>
                            <!--<label class="col-sm-3 control-label text-u-red text-left" translate="TXT_REQUIRED"></label>-->
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label vo_reqfield">短标题</label>
                            <div class="col-sm-6">
                                {{ctrl.model.modelJmProduct.productShortName}}
                                <!--<input class="form-control"  ng-model="ctrl.productInfo.productShortName"/>-->
                            </div>
                            <!--<label class="col-sm-3 control-label text-u-red text-left" translate="TXT_REQUIRED"></label>-->
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label vo_reqfield">自定义搜索词</label>
                            <div class="col-sm-6">
                                {{ctrl.model.modelJmProduct.searchMetaTextCustom}}
                                <!--<input class="form-control" ng-model="ctrl.productInfo.searchMetaTextCustom"/>-->
                            </div>
                            <!--<label class="col-sm-3 control-label text-u-red text-left" translate="TXT_REQUIRED"></label>-->
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label">保质期限</label>
                            <div class="col-sm-9">
                                {{ctrl.model.modelJmProduct.availablePeriod}}
                                <!--<textarea class="form-control no-resize" rows="2" ng-model="ctrl.productInfo.availablePeriod"></textarea>-->
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label">生产地区</label>
                            <div class="col-sm-9">
                                {{ctrl.model.modelJmProduct.addressOfProduce}}
                                <!--<textarea class="form-control no-resize" rows="2" ng-model="ctrl.productInfo.addressOfProduce"></textarea>-->
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label">适合人群</label>
                            <div class="col-sm-9">
                                {{ctrl.model.modelJmProduct.applicableCrowd}}
                                <!--<textarea class="form-control no-resize" rows="2" ng-model="ctrl.productInfo.applicableCrowd"></textarea>-->
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label">英文描述</label>
                            <div class="col-sm-9">
                                {{ctrl.model.modelJmProduct.productDesEn}}
                                <!--<textarea class="form-control no-resize" rows="2" ng-model="ctrl.productInfo.productDesEn" readonly></textarea>-->
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label">中文描述</label>
                            <div class="col-sm-9">
                                {{ctrl.model.modelJmProduct.productDesCn}}
                                <!--<textarea class="form-control no-resize" rows="2" ng-model="ctrl.productInfo.productDesCn"></textarea>-->
                            </div>
                        </div>
                        <!--<div class="form-group text-center col-sm-12">-->
                            <!--<button class="btn btn-vo" ng-click="ctrl.saveDealInfo()"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;{{'BTN_SAVE' | translate}}</button>-->
                        <!--</div>-->

                        <!-- start 报关数据 -->
                        <div class="form-group col-sm-12">
                            <h5 class="text-vo font-bold m-l-md">报关数据</h5>
                            <hr style="margin-top:4px;margin-bottom:4px">
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label">报关关税编号</label>
                            <div class="col-sm-9">
                                {{ctrl.model.modelJmProduct.hsCode}}
                                <!--<input class="form-control" ng-model="ctrl.productInfo.hsCode"/>-->
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label">报关商品类目</label>
                            <div class="col-sm-9">
                                {{ctrl.model.modelJmProduct.hsName}}
                                <!--<input class="form-control" ng-model="ctrl.productInfo.hsName"/>-->
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label">报关商品单位</label>
                            <div class="col-sm-9">
                                {{ctrl.model.modelJmProduct.hsUnit}}
                                <!--<input class="form-control" ng-model="ctrl.productInfo.hsUnit"/>-->
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label">英文材质</label>
                            <div class="col-sm-9">
                                {{ctrl.model.modelJmProduct.materialEn}}
                                <!--<textarea class="form-control no-resize" rows="2" ng-model="ctrl.productInfo.materialEn" disabled></textarea>-->
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label">中文材质</label>
                            <div class="col-sm-9">
                                {{ctrl.model.modelJmProduct.materialCn}}
                                <!--<textarea class="form-control no-resize" rows="2" ng-model="ctrl.productInfo.materialCn"></textarea>-->
                            </div>
                        </div>
                        <!--<div class="form-group text-center col-sm-12">-->
                            <!--<button class="btn btn-vo" ng-click="ctrl.saveProductInfo()"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;{{'BTN_SAVE' | translate}}</button>-->
                        <!--</div>-->
                    </div>
                </tab>
                <tab>
                    <tab-heading>SKU 详情</tab-heading>
                    <div class="column_overflow" style="height:400px">
                        <!-- start sku信息 -->
                        <div class="col-sm-12 panel vo_panel tab_panel">
                            <!-- .table-responsive -->
                            <div class="table-responsive">
                                <table  class="table table-responsive table-hover-new vo_table dropdown_table_main" style="margin-bottom:0px;table-layout: fixed;min-width: 1345px;">
                                    <thead>
                                    <tr>
                                        <th class="text-center mfb-xt">Seq.</th>
                                        <th class="text-left">聚美SKU</th>
                                        <th class="text-center ">UPC<br/>（子产品SPU）</th>
                                        <th class="text-center ">规格<br/>（子产品SPU）</th>
                                        <th class="text-center">尺码<br/>（子产品SPU）</th>
                                        <th class="text-center">SKU<br/>（SKU信息）</th>
                                        <th class="text-right ">海外官网价</th>
                                        <th class="text-right">中国官网售价</th>
                                        <th class="text-right ">中国最终售价</th>
                                        <th class="text-center ">市场价<br/>（子产品SPU）</th>
                                        <th class="text-center">团购价<br/>（SKU信息）</th>
                                        <th class="text-center mfb-xxt">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--SELECT a.`jm_sku_no`,a.`upc`,a.`format`,a.`cms_size`,a.`sku_code`,a.`msrp_usd`,a.`msrp_rmb`,a.`sale_price`,b.`market_price`,b.`deal_price`,b.`id`-->
                                    <!--FROM `cms_bt_jm_sku` AS a-->
                                    <!--JOIN `cms_bt_jm_promotion_sku` AS b ON a.`channel_id`=b.`channel_id` AND a.`sku_code`=b.`sku_code`-->
                                    <tr ng-repeat="sku in ctrl.model.skuList">
                                        <td class="text-center" ng-bind="$index + 1"></td>
                                        <td class="text-left">
                                            {{sku.jmSkuNo}}
                                        </td>
                                        <td class="text-center">
                                            {{sku.upc}}
                                        </td>
                                        <td class="text-center">
                                            {{sku.format}}
                                        </td>
                                        <td class="text-center">
                                            {{sku.cmsSize}}
                                        </td>
                                        <td class="text-center">
                                            {{sku.skuCode}}
                                        </td>
                                        <td class="text-right">
                                            {{sku.msrpUsd}}
                                        </td>
                                        <td class="text-right">
                                            {{sku.msrpRmb}}
                                        </td>
                                        <td class="text-right">
                                            {{sku.salePrice}}
                                        </td>
                                        <td class="text-center">
                                            <!--{{sku.marketPrice}}-->
                                            <input type="number" ng-change="sku.isSave=true;" value=""  style="ime-mode:disabled;" onpaste="return false;" onkeypress="if((event.keyCode<48||event.keyCode>57) && event.keyCode!=46){return false;}"  value="2" class="form-control"   ng-model="sku.marketPrice" aria-label="...">

                                        </td>
                                        <td class="text-center">
                                            <input type="number" ng-change="sku.isSave=true;" value=""  style="ime-mode:disabled;" onpaste="return false;" onkeypress="if((event.keyCode<48||event.keyCode>57) && event.keyCode!=46){return false;}"  value="2" class="form-control"   ng-model="sku.dealPrice" aria-label="...">

                                            <!--<input type="number" class="form-control text-right" ng-change="sku.isSave=true;" ng-model="sku.dealPrice">-->
                                        </td>
                                        <td class="text-center">
                                            <button title="{{'BTN_SAVE' | translate}}" ng-disabled="!sku.isSave" class="btn btn-vo btn-xs" ng-click="ctrl.updateDealPrice(sku, $index)"><i class="glyphicon glyphicon-floppy-disk"></i></button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div><!-- .table-responsive -->
                        </div> <!-- .panel -->
                    </div>
                </tab>
            </tabset>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <img class="col-sm-11 col-sm-offset-1" ng-src="{{ctrl.productImage.originUrl}}"/>
                        </div>
                    </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="ctrl.close()"><i class="fa fa-remove"></i>&nbsp;{{'BTN_CLOSE' | translate}}</button>
        <!--<button class="btn btn-vo" ng-click="ok()"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;确认</button>-->
    </div>
</div><!-- .vo_modal -->