<div class="vo_modal" ng-init="ctrl.initialize()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()"><span
                aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <h5 class="modal-title"><i class="glyphicon glyphicon-share"></i>&nbsp;{{'TXT_PRODUCT_DETAIL' | translate}}</h5>
    </div>
    <div class="modal-body wrapper">
        <form role="form" class="form-horizontal">
            <div class="row">
                <div class="col-sm-15">
                 <tabset class="tab-container vo_nav-tabs">
                      <tab>
                        <tab-heading>Product 详情</tab-heading>
                        <div class="column_overflow" style="height:400px">
                            <!-- start 产品库数据 -->
                            <uib-accordion class="vo_accordion vo_attr" close-others="oneAtATime">
                                <uib-accordion-group is-open="ctrl.product_status">
                                    <uib-accordion-heading>
                                        <i class="fa fa-database"></i>&nbsp;&nbsp;产品库数据
                                        <i class="pull-right glyphicon glyphicon-menu-down" ng-class="{'glyphicon-menu-up': ctrl.product_status, 'glyphicon-menu-down': !ctrl.product_status}"></i>
                                    </uib-accordion-heading>
                                    <div class="col-sm-6 m-t-xs">
                                        <div class="form-group">
                                            <!-- todo 目前不想做切换类目 然后更新product表的其他几个类目字段,以后将聚美的类目放到mongodb -->
                                            <label class="col-sm-3 control-label vo_reqfield">聚美类目</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" readonly ng-model="ctrl.model.modelJmProduct.voCategoryName">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label vo_reqfield">产品名</label>
                                            <div class="col-sm-9">
                                                <textarea type="text" class="form-control" readonly rows="3" ng-model="ctrl.model.modelJmProduct.productNameCn"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 m-t-xs">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label vo_reqfield">产品品牌</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" readonly ng-model="ctrl.model.modelJmProduct.brandName">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label vo_reqfield">外文名</label>
                                            <div class="col-sm-9">
                                                <textarea type="text" class="form-control" readonly rows="3" ng-model="ctrl.model.modelJmProduct.foreignLanguageName"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </uib-accordion-group>
                            </uib-accordion>
                            <!-- start deal数据 -->
                            <uib-accordion class="vo_accordion vo_attr" close-others="oneAtATime">
                                <uib-accordion-group is-open="ctrl.deal_status">
                                    <uib-accordion-heading>
                                        <i class="fa fa-database"></i>&nbsp;&nbsp;Deal数据
                                        <i class="pull-right glyphicon glyphicon-menu-down" ng-class="{'glyphicon-menu-up': ctrl.deal_status, 'glyphicon-menu-down': !ctrl.deal_status}"></i>
                                    </uib-accordion-heading>
                                    <div class="col-sm-6 m-t-xs">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">每人限购</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" ng-change="ctrl.model.modelJmPromotionProduct.isSave=true;" ng-model="ctrl.model.modelJmPromotionProduct.limit"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label vo_reqfield">长标题</label>
                                            <div class="col-sm-9">
                                                <textarea type="text" class="form-control" readonly rows="3" ng-model="ctrl.model.modelJmProduct.productLongName"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label vo_reqfield">中标题</label>
                                            <div class="col-sm-9">
                                                <textarea class="form-control" rows="2" readonly ng-model="ctrl.model.modelJmProduct.productMediumName"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label vo_reqfield">短标题</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" readonly ng-model="ctrl.model.modelJmProduct.productShortName"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">生产地区</label>
                                            <div class="col-sm-9">
                                                <textarea class="form-control" rows="2" readonly ng-model="ctrl.model.modelJmProduct.addressOfProduce"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 m-t-xs">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label vo_reqfield">保质期限</label>
                                            <div class="col-sm-9 form-inline">
                                                <div class="input-group col-sm-5">
                                                    <input readonly type="text" class="form-control" placeholder="from" ng-model="ctrl.model.modelJmPromotionProduct.activityStart">
                                                </div>~
                                                <div class="input-group col-sm-5">
                                                    <input readonly type="text" class="form-control" placeholder="to" ng-model="ctrl.model.modelJmPromotionProduct.activityEnd">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">适合人群</label>
                                            <div class="col-sm-9">
                                                <textarea class="form-control no-resize" rows="2" ng-model="ctrl.model.modelJmProduct.applicableCrowd" readonly></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">特殊说明</label>
                                            <div class="col-sm-9">
                                                <textarea class="form-control" rows="2" readonly ng-model="ctrl.model.modelJmProduct.specialnote"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label vo_reqfield">自定义搜索词</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" ng-model="ctrl.model.modelJmProduct.searchMetaTextCustom" readonly/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">英文描述</label>
                                            <div class="col-sm-9">
                                                <textarea class="form-control no-resize" rows="2" ng-model="ctrl.model.modelJmProduct.productDesEn" readonly></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">中文描述</label>
                                            <div class="col-sm-9">
                                                <textarea class="form-control no-resize" rows="2" ng-model="ctrl.model.modelJmProduct.productDesCn" readonly></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </uib-accordion-group>
                            </uib-accordion>
                            <div class="text-center">
                                <button class="btn btn-default ng-binding" ng-click=""><i class="fa fa-remove"></i>&nbsp;Clear</button>
                                <button class="btn btn-vo ng-binding"  ng-disabled="!ctrl.model.modelJmPromotionProduct.isSave"  ng-click="ctrl.updatePromotionProduct()"><i class="fa fa-save"></i>&nbsp;save</button>
                            </div>
                        </div>
                    </tab>
                    <tab>
                        <tab-heading>SKU 详情</tab-heading>
                        <div class="column_overflow" style="height:400px">
                            <!-- start sku信息 -->
                            <div class="col-sm-12 panel vo_panel tab_panel">
                                <!-- .table-responsive -->
                                <div class="table-responsive">
                                    <table  class="table table-responsive table-hover-new vo_table dropdown_table_main" style="margin-bottom:0px;table-layout: fixed;min-width: 1345px;">
                                        <thead>
                                        <tr>
                                            <th class="text-center mfb-xt">Seq.</th>
                                            <th class="text-left">聚美SKU</th>
                                            <th class="text-center ">UPC<br/>（子产品SPU）</th>
                                            <th class="text-center ">规格<br/>（子产品SPU）</th>
                                            <th class="text-center">尺码<br/>（子产品SPU）</th>
                                            <th class="text-center">SKU<br/>（SKU信息）</th>
                                            <th class="text-right ">海外官网价</th>
                                            <th class="text-right">中国官网售价</th>
                                            <th class="text-right ">中国最终售价</th>
                                            <th class="text-center ">市场价<br/>（子产品SPU）</th>
                                            <th class="text-center">团购价<br/>（SKU信息）</th>
                                            <th class="text-center mfb-xxt">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <!--SELECT a.`jm_sku_no`,a.`upc`,a.`format`,a.`cms_size`,a.`sku_code`,a.`msrp_usd`,a.`msrp_rmb`,a.`sale_price`,b.`market_price`,b.`deal_price`,b.`id`-->
                                        <!--FROM `cms_bt_jm_sku` AS a-->
                                        <!--JOIN `cms_bt_jm_promotion_sku` AS b ON a.`channel_id`=b.`channel_id` AND a.`sku_code`=b.`sku_code`-->
                                        <tr ng-repeat="sku in ctrl.model.skuList">
                                            <td class="text-center" ng-bind="$index + 1"></td>
                                            <td class="text-left">
                                                {{sku.jmSkuNo}}
                                            </td>
                                            <td class="text-center">
                                                {{sku.upc}}
                                            </td>
                                            <td class="text-center">
                                                {{sku.format}}
                                            </td>
                                            <td class="text-center">
                                                {{sku.cmsSize}}
                                            </td>
                                            <td class="text-center">
                                                {{sku.skuCode}}
                                            </td>
                                            <td class="text-right">
                                                {{sku.msrpUsd}}
                                            </td>
                                            <td class="text-right">
                                                {{sku.msrpRmb}}
                                            </td>
                                            <td class="text-right">
                                                {{sku.salePrice}}
                                            </td>
                                            <td class="text-center">
                                                <input type="number" class="form-control text-left" ng-change="sku.isSave=true;" ng-model="sku.marketPrice">
                                            </td>
                                            <td class="text-center">
                                                <input type="number" ng-change="sku.isSave=true;" value=""  style="ime-mode:disabled;" onkeypress="if((event.keyCode<48||event.keyCode>57) && event.keyCode!=46){return false;}"  value="2" class="form-control"   ng-model="sku.dealPrice" aria-label="...">
                                            </td>
                                            <td class="text-center">
                                                <button title="{{'BTN_SAVE' | translate}}" ng-disabled="!sku.isSave" class="btn btn-vo btn-xs" ng-click="ctrl.updateDealPrice(sku, $index)"><i class="glyphicon glyphicon-floppy-disk"></i></button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div><!-- .table-responsive -->
                            </div> <!-- .panel -->
                        </div>
                    </tab>
                </tabset>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <img class="col-sm-11 col-sm-offset-1" ng-src="{{ctrl.productImage.originUrl}}"/>
                </div>
            </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="ctrl.close()"><i class="fa fa-remove"></i>&nbsp;{{'BTN_CLOSE' | translate}}</button>
        <!--<button class="btn btn-vo" ng-click="ok()"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;确认</button>-->
    </div>
</div><!-- .vo_modal -->