<div class="vo_modal" ng-init="initialize()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$close()"><span
                aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <h5 class="modal-title"><i class="fa fa-plus"></i>&nbsp;新建专场</h5>
    </div>
    <div class="modal-body wrapper">
        <form role="form" class="form-horizontal">
           <div class="form-group">
               <label class="col-sm-3 control-label">Activity ID</label>
               <div class="col-sm-8">
                   <input type="text" class="form-control" placeholder="123456" disabled>
                </div>
           </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Activity Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="双十一活动" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">专场主品牌</label>
                <div class="col-sm-5">
                    <select class="form-control">
                        <option>聚美品牌ID1</option>
                        <option>聚美品牌ID2</option>
                        <option>聚美品牌ID3</option>
                    </select>
                </div>
                <label class="col-sm-3 control-label text-u-red text-left">聚美品牌ID</label>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Up Date</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="2015.11.11">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Sales Date</label>
                <div class="col-sm-8 form-inline">
                    <div class="col-sm-5 input-group">
                        <input type="text" class="form-control" datepicker-popup="{{formatDate}}" ng-model="$parent.searchInfo.createdStart" date-model-format="{{formatDate}}" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
                    </div>&nbsp;~&nbsp;
                    <div class="col-sm-5 input-group">
                        <input type="text" class="form-control" datepicker-popup="{{formatDate}}" ng-model="$parent.searchInfo.createdEnd" date-model-format="{{formatDate}}" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">PC端专场ID</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="38493">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">APP端专场ID</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="38493">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">专场涉及品类</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="双十一专场活动">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">专场涉及品牌</label>
                <div class="col-sm-8">
                    <textarea class="form-control" rows="8" placeholder="Vans、Adidas" disabled></textarea>
                    <!--<uib-tabset type="pills">
                        <uib-tab heading="A" class="m-b-xs">
                            <hr style="margin-top:4px;margin-bottom:3px">
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                <input type="checkbox">
                                <span class="fa fa-check"></span>&nbsp;Alex Alex&nbsp;</label>
                            </div>
                            <div>
                            <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                <input type="checkbox">
                                <span class="fa fa-check"></span>&nbsp;American Rag&nbsp;</label> </div>
                            <div>
                            <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                <input type="checkbox">
                                <span class="fa fa-check"></span>&nbsp;American West&nbsp;</label>
                                </div>
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;American Apparel&nbsp;</label>
                            </div>
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;Anna Sui&nbsp;</label> </div>
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;Asphalt&nbsp;</label>
                            </div>
                            <div>
                            <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                <input type="checkbox">
                                <span class="fa fa-check"></span>&nbsp;Ava & Aiden&nbsp;</label>
                        </div>
                        </uib-tab>
                        <uib-tab heading="B" class="m-b-xs">
                            <hr style="margin-top:4px;margin-bottom:3px">
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;BCBGMAXAZRIA&nbsp;</label>
                            </div>
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;Bearpaw&nbsp;</label> </div>
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;Beren LA&nbsp;</label>
                            </div>
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;Boots&nbsp;</label>
                            </div>
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;BoyLondon&nbsp;</label>
                            </div>
                        </uib-tab>
                        <uib-tab heading="C" class="m-b-xs">
                            <hr style="margin-top:4px;margin-bottom:3px">
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;进行中&nbsp;</label>
                            </div>
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;完成&nbsp;</label> </div>
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;待进行中&nbsp;</label>
                            </div>
                        </uib-tab>
                        <uib-tab heading="D" class="m-b-xs">
                            <hr style="margin-top:4px;margin-bottom:3px">
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;完成&nbsp;</label>
                            </div>
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;待进行中&nbsp;</label> </div>
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;进行中&nbsp;</label>
                            </div>
                        </uib-tab>
                        <uib-tab heading="E" class="m-b-xs">
                            <hr style="margin-top:4px;margin-bottom:3px">
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;进行中&nbsp;</label>
                            </div>
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;完成&nbsp;</label> </div>
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;待进行中&nbsp;</label>
                            </div>
                        </uib-tab>
                        <uib-tab heading="F" class="m-b-xs">
                            <hr style="margin-top:4px;margin-bottom:3px">
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;待进行中&nbsp;</label>
                            </div>
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;进行中&nbsp;</label> </div>
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;完成&nbsp;</label>
                            </div>
                        </uib-tab>
                        <uib-tab heading="G" class="m-b-xs">
                            <hr style="margin-top:4px;margin-bottom:3px">
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;进行中&nbsp;</label>
                            </div>
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;待进行中&nbsp;</label> </div>
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;完成&nbsp;</label>
                            </div>
                        </uib-tab>
                        <uib-tab heading="H" class="m-b-xs">
                            <hr style="margin-top:4px;margin-bottom:3px">
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;待进行中&nbsp;</label>
                            </div>
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;进行中&nbsp;</label> </div>
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;完成&nbsp;</label>
                            </div>
                        </uib-tab>
                        <uib-tab heading="I" class="m-b-xs">
                            <hr style="margin-top:4px;margin-bottom:3px">
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;进行中&nbsp;</label>
                            </div>
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;完成&nbsp;</label> </div>
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;待进行中&nbsp;</label>
                            </div>
                        </uib-tab>
                        <uib-tab heading="J" class="m-b-xs">
                            <hr style="margin-top:4px;margin-bottom:3px">
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;完成&nbsp;</label>
                            </div>
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;待进行中&nbsp;</label> </div>
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;进行中&nbsp;</label>
                            </div>
                        </uib-tab>
                        <uib-tab heading="K" class="m-b-xs">
                            <hr style="margin-top:4px;margin-bottom:3px">
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;进行中&nbsp;</label>
                            </div>
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;完成&nbsp;</label> </div>
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;待进行中&nbsp;</label>
                            </div>
                        </uib-tab>
                        <uib-tab heading="L" class="m-b-xs">
                            <hr style="margin-top:4px;margin-bottom:3px">
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;待进行中&nbsp;</label>
                            </div>
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;进行中&nbsp;</label> </div>
                            <div>
                                <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                    <input type="checkbox">
                                    <span class="fa fa-check"></span>&nbsp;完成&nbsp;</label>
                            </div>
                        </uib-tab>
                            <uib-tab heading="M" class="m-b-xs">
                                <hr style="margin-top:4px;margin-bottom:3px">
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;进行中&nbsp;</label>
                                </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;待进行中&nbsp;</label> </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;完成&nbsp;</label>
                                </div>
                            </uib-tab>
                            <uib-tab heading="N" class="m-b-xs">
                                <hr style="margin-top:4px;margin-bottom:3px">
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;待进行中&nbsp;</label>
                                </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;进行中&nbsp;</label> </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;完成&nbsp;</label>
                                </div>
                            </uib-tab>
                            <uib-tab heading="O" class="m-b-xs">
                                <hr style="margin-top:4px;margin-bottom:3px">
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;进行中&nbsp;</label>
                                </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;完成&nbsp;</label> </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;待进行中&nbsp;</label>
                                </div>
                            </uib-tab>
                            <uib-tab heading="P" class="m-b-xs">
                                <hr style="margin-top:4px;margin-bottom:3px">
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;完成&nbsp;</label>
                                </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;待进行中&nbsp;</label> </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;进行中&nbsp;</label>
                                </div>
                            </uib-tab>
                            <uib-tab heading="Q" class="m-b-xs">
                                <hr style="margin-top:4px;margin-bottom:3px">
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;进行中&nbsp;</label>
                                </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;完成&nbsp;</label> </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;待进行中&nbsp;</label>
                                </div>
                            </uib-tab>
                            <uib-tab heading="R" class="m-b-xs">
                                <hr style="margin-top:4px;margin-bottom:3px">
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;待进行中&nbsp;</label>
                                </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;进行中&nbsp;</label> </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;完成&nbsp;</label>
                                </div>
                            </uib-tab>
                            <uib-tab heading="S" class="m-b-xs">
                                <hr style="margin-top:4px;margin-bottom:3px">
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;进行中&nbsp;</label>
                                </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;待进行中&nbsp;</label> </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;完成&nbsp;</label>
                                </div>
                            </uib-tab>
                            <uib-tab heading="T" class="m-b-xs">
                                <hr style="margin-top:4px;margin-bottom:3px">
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;待进行中&nbsp;</label>
                                </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;进行中&nbsp;</label> </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;完成&nbsp;</label>
                                </div>
                            </uib-tab>
                            <uib-tab heading="U" class="m-b-xs">
                                <hr style="margin-top:4px;margin-bottom:3px">
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;进行中&nbsp;</label>
                                </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;完成&nbsp;</label> </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;待进行中&nbsp;</label>
                                </div>
                            </uib-tab>
                            <uib-tab heading="V" class="m-b-xs">
                                <hr style="margin-top:4px;margin-bottom:3px">
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;完成&nbsp;</label>
                                </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;待进行中&nbsp;</label> </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;进行中&nbsp;</label>
                                </div>
                            </uib-tab>
                            <uib-tab heading="W" class="m-b-xs">
                                <hr style="margin-top:4px;margin-bottom:3px">
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;进行中&nbsp;</label>
                                </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;完成&nbsp;</label> </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;待进行中&nbsp;</label>
                                </div>
                            </uib-tab>
                            <uib-tab heading="X" class="m-b-xs">
                                <hr style="margin-top:4px;margin-bottom:3px">
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;待进行中&nbsp;</label>
                                </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;进行中&nbsp;</label> </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;完成&nbsp;</label>
                                </div>
                            </uib-tab>
                            <uib-tab heading="Y" class="m-b-xs">
                                <hr style="margin-top:4px;margin-bottom:3px">
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;进行中&nbsp;</label>
                                </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;待进行中&nbsp;</label> </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;完成&nbsp;</label>
                                </div>
                            </uib-tab>
                            <uib-tab heading="Z" class="m-b-xs">
                                <hr style="margin-top:4px;margin-bottom:3px">
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;待进行中&nbsp;</label>
                                </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;进行中&nbsp;</label> </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;完成&nbsp;</label>
                                </div>
                            </uib-tab>
                            <uib-tab heading="其它" class="m-b-xs">
                                <hr style="margin-top:4px;margin-bottom:3px">
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;进行中&nbsp;</label>
                                </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;完成&nbsp;</label> </div>
                                <div>
                                    <label class="checkbox-inline c-checkbox" style="margin-left:0px">
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>&nbsp;待进行中&nbsp;</label>
                                </div>
                            </uib-tab>
                        </uib-tab>
                    </uib-tabset>-->
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$close()"><i class="fa fa-remove"></i>&nbsp;取消</button>
        <button class="btn btn-vo" ng-click="ok()"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;确认</button>
    </div>
</div><!-- .vo_modal -->