<div class="vo_modal" ng-init="initialize()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()"><span
                aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <h5 class="modal-title"><i class="fa fa-codepen" translate="TXT_TAG_ADD"></i></h5>
    </div>
    <div class="modal-body wrapper">
        <form role="form" class="form-horizontal" name="tagForm" novalidate>
            <div class="form-group">
                <label class="col-sm-3 control-label" translate="TXT_MSG_TAG_PATH"></label>

                <div class="col-sm-6">
                    <span class="control-label">{{vm.tagPath}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label vo_reqfield" translate="TXT_MSG_TAG_NAME"></label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" id="piao"  ng-model="vm.tagName" required maxlength="50" name="tagName" autofocus>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                    <vo-message target="tagForm.tagName"></vo-message>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$dismiss()"><i class="fa fa-remove" translate="BTN_CANCEL"></i></button>
        <button class="btn btn-vo" ng-click="save()"><i class="glyphicon glyphicon-floppy-disk"translate="BTN_SAVE"></i></button>
    </div>
</div><!-- .vo_modal -->