<div class="vo_modal"  ng-init="initialize()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()"><span
                aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <h5 class="modal-title"><i class="fa fa-codepen"></i>&nbsp;{{'BTN_CUSTOMIZE_COLUMNS' | translate}}</h5>
    </div>
    <div class="modal-body">
      <div class="row m-l-md m-r-md">
        <div class="col-sm-6">
            <h4 class="m-l-sm text-vo">{{'TXT_BASE_ATTRIBUTE' | translate}}</h4>
            <div class="column_overflow">
                <div ng-repeat="commonData in cus.commonProps" class="m-t-xs">
                    <label class="checkbox-inline c-checkbox">
                    <input type="checkbox" name="commonAttrSels" value="{{commonData.propId}}" ng-model="commonData.isChk">
                    <span class="fa fa-check"></span>&nbsp;{{commonData.propName}}</label></div>
            </div>
        </div>
        <div class="col-sm-6">
            <h4 class="m-l-sm text-vo">{{'TXT_CUST_ATTRIBUTE' | translate}}</h4>
            <div class="column_overflow">
                <div ng-repeat="customData in cus.customProps" class="m-t-xs">
                    <label class="checkbox-inline c-checkbox">
                    <input type="checkbox" name="custAttrSels" value="{{customData.feed_prop_original}}" ng-model="customData.isChk">
                    <span class="fa fa-check"></span>&nbsp;{{customData.feed_prop_translation}}</label></div>
            </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$dismiss()"><i class="fa fa-remove"></i> 取消</button>
        <button class="btn btn-vo" ng-click="ok()"><i class="glyphicon glyphicon-floppy-disk"></i> 确认</button>
    </div>
</div><!-- .vo_modal -->