<div class="vo_modal"  ng-init="init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()"><span
                aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <h5 class="modal-title"><i class="fa fa-codepen"></i>&nbsp;自定义下载</h5>
    </div>
    <div class="modal-body">
      <div class="row m-l-md m-r-md">
        <div class="col-sm-3">
            <h4 class="m-l-xss text-vo">
                <label class="checkbox-inline c-checkbox m-t-sm" style="margin-left: 0px;">
                    <input type="checkbox" ng-model="vm.all_commonData" ng-change="chkSelStatus(1,'all_commonData')"><span class="fa fa-check"></span>&nbsp;{{'TXT_SELECT_ALL'| translate}}&nbsp;
                </label>
                {{'TXT_BASE_ATTRIBUTE' | translate}}
            </h4>
            <h4 class="m-l-xss">
                <div class="row">
                    <div class="col-lg-10">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default"  disabled><span class="fa fa-filter"></span></button>
                            </div>
                            <input type="text" class="form-control" ng-model="commonName">
                        </div>
                        <!-- /.input-group -->
                    </div>
                </div>
            </h4>
            <div class="column_overflow column_overflow_download">
                <div ng-repeat="commonData in vm.commonProps | filter:{propName:commonName}" class="m-t-xs">
                	<div ng-if="commonData.propId != 'skuCnt'">
	                    <label class="checkbox-inline c-checkbox">
	                    <input type="checkbox" name="commonAttrSels" value="{{commonData.propId}}" ng-model="commonData.isChk" ng-change="chkItemStatus(1)">
	                    <span class="fa fa-check"></span>&nbsp;{{commonData.propName}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <h4 class="m-l-xss text-vo">
                <label class="checkbox-inline c-checkbox m-t-sm" style="margin-left: 0px;">
                    <input type="checkbox" ng-model="vm.all_customData" ng-change="chkSelStatus(2,'all_customData')"><span class="fa fa-check"></span>&nbsp;{{'TXT_SELECT_ALL'| translate}}&nbsp;
                </label>
                {{'TXT_CUST_ATTRIBUTE' | translate}}
            </h4>
            <h4 class="m-l-xss">
                <div class="row">
                    <div class="col-lg-10">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default"  disabled><span class="fa fa-filter"></span></button>
                            </div>
                            <input type="text" class="form-control" ng-model="feedTranslation">
                        </div>
                        <!-- /.input-group -->
                    </div>
                </div>
            </h4>
            <div class="column_overflow column_overflow_download">
                <div ng-repeat="customData in vm.customProps | filter:{feed_prop_translation:feedTranslation}" class="m-t-xs">
                    <label class="checkbox-inline c-checkbox">
                    <input type="checkbox" name="custAttrSels" value="{{customData.feed_prop_original}}" ng-model="customData.isChk" ng-change="chkItemStatus(2)">
                    <span class="fa fa-check"></span>&nbsp;{{customData.feed_prop_translation}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
          <h4 class="m-l-xss text-vo">
              <label class="checkbox-inline c-checkbox m-t-sm" style="margin-left: 0px;">
                  <input type="checkbox" ng-model="vm.all_salesType" ng-change="chkSelStatus(3,'all_salesType')"><span class="fa fa-check"></span>&nbsp;{{'TXT_SELECT_ALL'| translate}}&nbsp;
              </label>
              销量显示
          </h4>
          <h4 class="m-l-xss">
                <div class="row">
                    <div class="col-lg-10">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default"  disabled><span class="fa fa-filter"></span></button>
                            </div>
                            <input type="text" class="form-control" ng-model="salesTypeName">
                        </div>
                        <!-- /.input-group -->
                    </div>
                </div>
          </h4>
          <div class="column_overflow column_overflow_download">
              <div ng-repeat="salesType in vm.salesTypeList | filter:{name:salesTypeName}" class="m-t-xs">
                  <label class="checkbox-inline c-checkbox">
                  <input type="checkbox" name="salesTypeSels" value="{{salesType.value}}" ng-model="salesType.isChk" ng-change="chkItemStatus(3)">
                  <span class="fa fa-check"></span>&nbsp;{{salesType.name}}</label>
              </div>
          </div>
        </div>
        <div class="col-sm-3">
              <h4 class="m-l-xss text-vo">
                  <label class="checkbox-inline c-checkbox m-t-sm" style="margin-left: 0px;">
                      <input type="checkbox" ng-model="vm.all_biData" ng-change="chkSelStatus(4,'all_biData')"><span class="fa fa-check"></span>&nbsp;{{'TXT_SELECT_ALL'| translate}}&nbsp;
                  </label>
                  BI数据显示
              </h4>
              <h4 class="m-l-xss">
                  <div class="row">
                      <div class="col-lg-10">
                          <div class="input-group">
                              <div class="input-group-btn">
                                  <button type="button" class="btn btn-default"  disabled><span class="fa fa-filter"></span></button>
                              </div>
                              <input type="text" class="form-control" ng-model="biDataName">
                          </div>
                          <!-- /.input-group -->
                      </div>
                  </div>
              </h4>
              <div class="column_overflow column_overflow_download">
                  <div ng-repeat="biData in vm.biDataList | filter:{name:biDataName}" class="m-t-xs">
                      <label class="checkbox-inline c-checkbox">
                          <input type="checkbox" name="biDataSels" value="{{biData.value}}" ng-model="biData.isChk" ng-change="chkItemStatus(4)">
                          <span class="fa fa-check"></span>&nbsp;{{biData.name}}</label>
                  </div>
              </div>
          </div>
        <div class="col-sm-3">
              <h4 class="m-l-xss text-vo">
                  <label class="checkbox-inline c-checkbox m-t-sm" style="margin-left: 0px;">
                      <input type="checkbox" ng-model="vm.all_platformData" ng-change="chkSelStatus(5,'all_platformData')"><span class="fa fa-check"></span>&nbsp;{{'TXT_SELECT_ALL'| translate}}&nbsp;
                  </label>
                  平台基础数据
              </h4>
              <h4 class="m-l-xss">
                  <div class="row">
                      <div class="col-lg-10">
                          <div class="input-group">
                              <div class="input-group-btn">
                                  <button type="button" class="btn btn-default"  disabled><span class="fa fa-filter"></span></button>
                              </div>
                              <input type="text" class="form-control" ng-model="platformDataName">
                          </div>
                      </div>
                  </div>
              </h4>
              <div class="column_overflow column_overflow_download">
                  <div ng-repeat="platformData in vm.platformDataList | filter:{name:platformDataName}" class="m-t-xs">
                      <label class="checkbox-inline c-checkbox">
                          <input type="checkbox" name="biDataSels" value="{{platformData.value}}" ng-model="platformData.isChk" ng-change="chkItemStatus(5)">
                          <span class="fa fa-check"></span>&nbsp;{{platformData.name}}</label>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$dismiss()"><i class="fa fa-remove"></i> 取消</button>
        <button class="btn btn-vo" ng-click="confirm()"><i class="glyphicon glyphicon-floppy-disk"></i> 确认</button>
    </div>
</div>