<div class="wrapper-md" ng-init="ctrl.init()">
    <div class="vo_accordion vo_attr">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-navicon"></i>&nbsp;{{'TXT_CART_INFO_MANAGE'|translate}}</h4>
                </div>
                <div class="container-fluid m-t-xs m-b-xs">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <div class="form-horizontal">
                                <div class="row form-group">
                                    <label class="col-sm-3 control-label">{{'TXT_CART_ID' | translate}}</label>
                                    <div class="col-sm-8">
                                        <input type="number" maxlength="3" class="form-control" ng-model="ctrl.searchInfo.cartId"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-horizontal">
                                <div class="row form-group">
                                    <label class="col-sm-3 control-label">{{'TXT_CART_NAME_(SHORT)' | translate}}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" ng-model="ctrl.searchInfo.cartName"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-horizontal">
                                <div class="row form-group">
                                    <label class="col-sm-3 control-label">{{'TXT_CART_TYPE' | translate}}</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="ctrl.searchInfo.cartType">
                                            <option value="">&nbsp;{{'TXT_SELECT_NO_VALUE' | translate}}</option>
                                            <option value="1">&nbsp;中国店铺</option>
                                            <option value="2">&nbsp;国外店铺</option>
                                            <option value="3">&nbsp;MiniMall</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center m-b-xs">
                            <div class="form-horizontal form-inline">
                                <button class="btn btn-default" ng-click="ctrl.clear()"><i class="fa fa-remove"></i>&nbsp;重置</button>
                                <button class="btn btn-vo" ng-click="ctrl.search(1)"><i class="fa fa-search"></i>&nbsp;搜索</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box-body-new">
            <div class="col-sm-4 pull-right text-right" ng-controller="popupCtrl">
                <div class="form-group m-t-sm m-r-xs">
                    <button class="btn btn-default" ng-click="openCartAdd('add')"><i class="fa fa-plus"></i>&nbsp;添加</button>
                    <button class="btn btn-default" ng-click="ctrl.edit()" ng-disabled="ctrl.cartSelList.selList.length <= 0||ctrl.cartSelList.selList.length>1"><i class="fa fa-pencil"></i>&nbsp;修改</button>
                    <button class="btn btn-default" ng-click="ctrl.delete()" ng-disabled="ctrl.cartSelList.selList.length <= 0"><i class="fa fa-ban"></i>&nbsp;禁用</button>
                </div>
            </div>
            <table class="table table-hover-new table-hover table_main">
                <thead>
                <tr>
                    <th class="text-left mfb-xt" ng-controller="selectRowsCtrl">
                        <label class="checkbox-inline c-checkbox" style="height: 15px;">
                            <input type="checkbox" ng-click="selectAll(ctrl.cartSelList)"
                                   ng-checked="isAllSelected(ctrl.cartSelList)" >
                            <span class="fa fa-check"></span>&nbsp;{{'TXT_SELECT_ALL' | translate}}&nbsp;
                        </label>
                    </th>
                    <th class="text-center mfb-xt" translate="TXT_CART_ID"></th>
                    <th class="text-left mfb-xt" translate="TXT_NAME_CART"></th>
                    <th class="text-left mfb-xxt" translate="TXT_CART_SHORT_NAME"></th>
                    <th class="text-center mfb-xxt" translate="TXT_CART_DESC"></th>
                    <th class="text-center mfb-xxt" translate="TXT_CART_TYPE"></th>
                    <th class="text-center mfb-xt" translate="TXT_STATUS"></th>
                    <th class="text-left mfb-xxt" translate="TXT_CART_UPDATE_TIME"></th>
                    <th class="text-center mfb-xt" translate="TXT_UPDATER"></th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td if-no-rows="ctrl.cartList.length||ctrl.cartList" colspan="9" style="padding: 0px"></td>
                    </tr>
                    <tr ng-repeat="list in ctrl.cartList">
                        <td class="text-left v-middle">
                            <label class="checkbox-inline c-checkbox" style="padding-top:4px">
                                <input ng-model="ctrl.cartSelList.selFlag[list.cartId]" type="checkbox" ng-controller="selectRowsCtrl"
                                       ng-click="selectOne(list.cartId, ctrl.cartSelList)">
                                <span class="fa fa-check"></span>
                            </label>
                        </td>
                        <td class="text-center v-middle">{{list.cartId}}</td>
                        <td class="text-left v-middle">{{list.name}}</td>
                        <td class="text-left v-middle">{{list.shortName}}</td>
                        <td class="text-center v-middle">{{list.description}}</td>
                        <td class="text-center v-middle">{{ctrl.getCartType(list.cartType)}}</td>
                        <td class="text-center v-middle">{{list.active==true ? '启用':'禁用'}}</td>
                        <td class="text-left v-middle">{{list.modified}}</td>
                        <td class="text-center v-middle">{{list.modifier}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <vpagination config="ctrl.cartPageOption" ng-if="ctrl.cartList.length>0"></vpagination>
    </div>
</div>