<div class="wrapper-md">
	<div class="col-sm-12">
		<div class="panel panelPromotion m-t-xs">
			<div class="container-fluid m-t-sm m-b-sm">
				<div class="col-sm-3">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-3 control-label">类目名称</label>
							<div class="col-sm-7">
								<input class="form-control" placeholder="请输入类目名称">
							</div>
						</div><!-- .form-group -->
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-3 control-label">类目ID</label>
							<div class="col-sm-7">
								<input class="form-control" placeholder="请输入类目ID">
							</div>
						</div><!-- .form-group -->
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-horizontal">
						<div class="form-group">
							<button class="btn btn-vo" ng-click="ok()"><i class="fa fa-search"></i>  Search</button>
						</div><!-- .form-group -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="box">
			<div class="box-body">
				<div class="panel vo_panel">
					<div class="container-fluid" ng-controller="popupCtrl">
						<div class="col-sm-12 category_mapping_bg">
							<div class="col-sm-2 text-left"><i class="fa fa-minus"></i> 商品标题商品标题商品标题商品</div>
							<div class="pull-right">
								<span class="badge badge-initialize">input</span>
							</div>
							<div class="col-sm-1 text-left btn-group">
								<button title="增加" class="btn btn-default btn-xs"><i class="fa fa-plus-circle text-vo"></i></button>
								<button title="编辑" class="btn btn-default btn-xs" ng-click="openSystemCategory('md')"><i class="fa fa-pencil text-vo"></i></button>
								<button title="删除" class="btn btn-default btn-xs"><i class="fa fa-trash-o text-vo"></i></button>
							</div>
						</div><!-- .form-group -->
						<div class="col-sm-12 category_mapping_bg">
							<div class="col-sm-2 text-left"><i class="fa fa-minus"></i> 无线短标题</div>
							<div class="pull-right">
								<span class="badge badge-initialize">input</span>
							</div>
							<div class="col-sm-1 text-left btn-group">
								<button title="增加" class="btn btn-default btn-xs"><i class="fa fa-plus-circle text-vo"></i></button>
								<button title="编辑" class="btn btn-default btn-xs" ng-click="openSystemCategory('md')"><i class="fa fa-pencil text-vo"></i></button>
								<button title="删除" class="btn btn-default btn-xs"><i class="fa fa-trash-o text-vo"></i></button>
							</div>
						</div><!-- .form-group -->
						<div class="col-sm-12 category_mapping_bg_one">
							<div class="col-sm-2 text-left"><i class="fa fa-plus"></i> 商品卖点</div>
							<div class="pull-right">
								<span class="badge badge-refresh">complex</span>
							</div>
							<div class="col-sm-1 text-left btn-group">
								<button title="增加" class="btn btn-default btn-xs"><i class="fa fa-plus-circle text-vo"></i></button>
								<button title="编辑" class="btn btn-default btn-xs" ng-click="openSystemCategory('md')"><i class="fa fa-pencil text-vo"></i></button>
								<button title="删除" class="btn btn-default btn-xs"><i class="fa fa-trash-o text-vo"></i></button>
							</div>
						</div><!-- .form-group -->
						<div class="col-sm-12 category_mapping_bg_list">
							<div class="col-sm-2 text-left m-l-lg"><i class="fa fa-minus"></i> 商品卖点1</div>
							<div class="pull-right">
								<span class="badge badge-initialize">input</span>
							</div>
							<div class="col-sm-1 text-left btn-group">
								<button title="增加" class="btn btn-default btn-xs"><i class="fa fa-plus-circle text-vo"></i></button>
								<button title="编辑" class="btn btn-default btn-xs" ng-click="openSystemCategory('md')"><i class="fa fa-pencil text-vo"></i></button>
								<button title="删除" class="btn btn-default btn-xs"><i class="fa fa-trash-o text-vo"></i></button>
							</div>
						</div><!-- .form-group -->
						<div class="col-sm-12 category_mapping_bg_list">
							<div class="col-sm-2 text-left m-l-lg"><i class="fa fa-plus"></i> 商品卖点2</div>
							<div class="pull-right">
								<span class="badge badge-initialize">input</span>
							</div>
							<div class="col-sm-1 text-left btn-group">
								<button title="增加" class="btn btn-default btn-xs"><i class="fa fa-plus-circle text-vo"></i></button>
								<button title="编辑" class="btn btn-default btn-xs" ng-click="openSystemCategory('md')"><i class="fa fa-pencil text-vo"></i></button>
								<button title="删除" class="btn btn-default btn-xs"><i class="fa fa-trash-o text-vo"></i></button>
							</div>
						</div><!-- .form-group -->
						<div class="col-sm-12 category_mapping_bg_list">
							<div class="col-sm-2 text-left m-l-xlg"><i class="fa fa-plus"></i> 商品卖点21</div>
							<div class="pull-right">
								<span class="badge badge-initialize">input</span>
							</div>
							<div class="col-sm-1 text-left btn-group">
								<button title="增加" class="btn btn-default btn-xs"><i class="fa fa-plus-circle text-vo"></i></button>
								<button title="编辑" class="btn btn-default btn-xs" ng-click="openSystemCategory('md')"><i class="fa fa-pencil text-vo"></i></button>
								<button title="删除" class="btn btn-default btn-xs"><i class="fa fa-trash-o text-vo"></i></button>
							</div>
						</div><!-- .form-group -->
						<div class="col-sm-12 category_mapping_bg_list">
							<div class="col-sm-2 text-left m-l-xxlg"><i class="fa fa-minus"></i> 商品卖点201</div>
							<div class="pull-right">
								<span class="badge badge-initialize">input</span>
							</div>
							<div class="col-sm-1 text-left btn-group">
								<button title="增加" class="btn btn-default btn-xs"><i class="fa fa-plus-circle text-vo"></i></button>
								<button title="编辑" class="btn btn-default btn-xs" ng-click="openSystemCategory('md')"><i class="fa fa-pencil text-vo"></i></button>
								<button title="删除" class="btn btn-default btn-xs"><i class="fa fa-trash-o text-vo"></i></button>
							</div>
						</div><!-- .form-group -->
						<div class="col-sm-12 category_mapping_bg_list">
							<div class="col-sm-2 text-left m-l-xxlg"><i class="fa fa-minus"></i> 商品卖点202</div>
							<div class="pull-right">
								<span class="badge badge-initialize">input</span>
							</div>
							<div class="col-sm-1 text-left btn-group">
								<button title="增加" class="btn btn-default btn-xs"><i class="fa fa-plus-circle text-vo"></i></button>
								<button title="编辑" class="btn btn-default btn-xs" ng-click="openSystemCategory('md')"><i class="fa fa-pencil text-vo"></i></button>
								<button title="删除" class="btn btn-default btn-xs"><i class="fa fa-trash-o text-vo"></i></button>
							</div>
						</div><!-- .form-group -->
						<div class="col-sm-12 category_mapping_bg_list">
							<div class="col-sm-2 text-left m-l-xxlg"><i class="fa fa-minus"></i> 商品卖点203</div>
							<div class="pull-right">
								<span class="badge badge-initialize">input</span>
							</div>
							<div class="col-sm-1 text-left btn-group">
								<button title="增加" class="btn btn-default btn-xs"><i class="fa fa-plus-circle text-vo"></i></button>
								<button title="编辑" class="btn btn-default btn-xs" ng-click="openSystemCategory('md')"><i class="fa fa-pencil text-vo"></i></button>
								<button title="删除" class="btn btn-default btn-xs"><i class="fa fa-trash-o text-vo"></i></button>
							</div>
						</div><!-- .form-group -->
						<div class="col-sm-12 category_mapping_bg_list">
							<div class="col-sm-2 text-left m-l-xlg"><i class="fa fa-minus"></i> 商品卖点22</div>
							<div class="pull-right">
								<span class="badge badge-initialize">input</span>
							</div>
							<div class="col-sm-1 text-left btn-group">
								<button title="增加" class="btn btn-default btn-xs"><i class="fa fa-plus-circle text-vo"></i></button>
								<button title="编辑" class="btn btn-default btn-xs" ng-click="openSystemCategory('md')"><i class="fa fa-pencil text-vo"></i></button>
								<button title="删除" class="btn btn-default btn-xs"><i class="fa fa-trash-o text-vo"></i></button>
							</div>
						</div><!-- .form-group -->
						<div class="col-sm-12 category_mapping_bg_list">
							<div class="col-sm-2 text-left m-l-xlg"><i class="fa fa-minus"></i> 商品卖点23</div>
							<div class="pull-right">
								<span class="badge badge-initialize">input</span>
							</div>
							<div class="col-sm-1 text-left btn-group">
								<button title="增加" class="btn btn-default btn-xs"><i class="fa fa-plus-circle text-vo"></i></button>
								<button title="编辑" class="btn btn-default btn-xs" ng-click="openSystemCategory('md')"><i class="fa fa-pencil text-vo"></i></button>
								<button title="删除" class="btn btn-default btn-xs"><i class="fa fa-trash-o text-vo"></i></button>
							</div>
						</div><!-- .form-group -->
						<div class="col-sm-12 category_mapping_bg_list">
							<div class="col-sm-2 text-left m-l-xlg"><i class="fa fa-minus"></i> 商品卖点24</div>
							<div class="pull-right">
								<span class="badge badge-initialize">input</span>
							</div>
							<div class="col-sm-1 text-left btn-group">
								<button title="增加" class="btn btn-default btn-xs"><i class="fa fa-plus-circle text-vo"></i></button>
								<button title="编辑" class="btn btn-default btn-xs" ng-click="openSystemCategory('md')"><i class="fa fa-pencil text-vo"></i></button>
								<button title="删除" class="btn btn-default btn-xs"><i class="fa fa-trash-o text-vo"></i></button>
							</div>
						</div><!-- .form-group -->
						<div class="col-sm-12 category_mapping_bg_list">
							<div class="col-sm-2 text-left m-l-lg"><i class="fa fa-minus"></i> 商品卖点3</div>
							<div class="pull-right">
								<span class="badge badge-initialize">input</span>
							</div>
							<div class="col-sm-1 text-left btn-group">
								<button title="增加" class="btn btn-default btn-xs"><i class="fa fa-plus-circle text-vo"></i></button>
								<button title="编辑" class="btn btn-default btn-xs" ng-click="openSystemCategory('md')"><i class="fa fa-pencil text-vo"></i></button>
								<button title="删除" class="btn btn-default btn-xs"><i class="fa fa-trash-o text-vo"></i></button>
							</div>
						</div><!-- .form-group -->
						<div class="col-sm-12 category_mapping_bg_list">
							<div class="col-sm-2 text-left m-l-lg"><i class="fa fa-minus"></i> 商品卖点4</div>
							<div class="pull-right">
								<span class="badge badge-initialize">input</span>
							</div>
							<div class="col-sm-1 text-left btn-group">
								<button title="增加" class="btn btn-default btn-xs"><i class="fa fa-plus-circle text-vo"></i></button>
								<button title="编辑" class="btn btn-default btn-xs" ng-click="openSystemCategory('md')"><i class="fa fa-pencil text-vo"></i></button>
								<button title="删除" class="btn btn-default btn-xs"><i class="fa fa-trash-o text-vo"></i></button>
							</div>
						</div><!-- .form-group -->
						<div class="col-sm-12 category_mapping_bg_list">
							<div class="col-sm-2 text-left m-l-lg"><i class="fa fa-minus"></i> 商品卖点5</div>
							<div class="pull-right">
								<span class="badge badge-initialize">input</span>
							</div>
							<div class="col-sm-1 text-left btn-group">
								<button title="增加" class="btn btn-default btn-xs"><i class="fa fa-plus-circle text-vo"></i></button>
								<button title="编辑" class="btn btn-default btn-xs" ng-click="openSystemCategory('md')"><i class="fa fa-pencil text-vo"></i></button>
								<button title="删除" class="btn btn-default btn-xs"><i class="fa fa-trash-o text-vo"></i></button>
							</div>
						</div><!-- .form-group -->
						<div class="col-sm-12 category_mapping_bg">
							<div class="col-sm-2 text-left"><i class="fa fa-minus"></i> 商品状态</div>
							<div class="pull-right">
								<span class="badge badge-success">singleCheck</span>
							</div>
							<div class="col-sm-1 text-left btn-group">
								<button title="增加" class="btn btn-default btn-xs"><i class="fa fa-plus-circle text-vo"></i></button>
								<button title="编辑" class="btn btn-default btn-xs" ng-click="openSystemCategory('md')"><i class="fa fa-pencil text-vo"></i></button>
								<button title="删除" class="btn btn-default btn-xs"><i class="fa fa-trash-o text-vo"></i></button>
							</div>
						</div><!-- .form-group -->
						<div class="col-sm-12 category_mapping_bg">
							<div class="col-sm-2 text-left"><i class="fa fa-minus"></i> 开始时间</div>
							<div class="pull-right">
								<span class="badge badge-initialize">input</span>
							</div>
							<div class="col-sm-1 text-left btn-group">
								<button title="增加" class="btn btn-default btn-xs"><i class="fa fa-plus-circle text-vo"></i></button>
								<button title="编辑" class="btn btn-default btn-xs" ng-click="openSystemCategory('md')"><i class="fa fa-pencil text-vo"></i></button>
								<button title="删除" class="btn btn-default btn-xs"><i class="fa fa-trash-o text-vo"></i></button>
							</div>
						</div><!-- .form-group -->
						<div class="col-sm-12 category_mapping_bg">
							<div class="col-sm-2 text-left"><i class="fa fa-minus"></i> 发布类型</div>
							<div class="pull-right">
								<span class="badge badge-success">singleCheck</span>
							</div>
							<div class="col-sm-1 text-left btn-group">
								<button title="增加" class="btn btn-default btn-xs"><i class="fa fa-plus-circle text-vo"></i></button>
								<button title="编辑" class="btn btn-default btn-xs" ng-click="openSystemCategory('md')"><i class="fa fa-pencil text-vo"></i></button>
								<button title="删除" class="btn btn-default btn-xs"><i class="fa fa-trash-o text-vo"></i></button>
							</div>
						</div><!-- .form-group -->
						<div class="col-sm-12 category_mapping_bg">
							<div class="col-sm-2 text-left"><i class="fa fa-minus"></i> 宝贝类型</div>
							<div class="pull-right">
								<span class="badge badge-success">singleCheck</span>
							</div>
							<div class="col-sm-1 text-left btn-group">
								<button title="增加" class="btn btn-default btn-xs"><i class="fa fa-plus-circle text-vo"></i></button>
								<button title="编辑" class="btn btn-default btn-xs" ng-click="openSystemCategory('md')"><i class="fa fa-pencil text-vo"></i></button>
								<button title="删除" class="btn btn-default btn-xs"><i class="fa fa-trash-o text-vo"></i></button>
							</div>
						</div><!-- .form-group -->
						<div class="col-sm-12 category_mapping_bg">
							<div class="col-sm-2 text-left"><i class="fa fa-minus"></i> 拍下减库存</div>
							<div class="pull-right">
								<span class="badge badge-success">singleCheck</span>
							</div>
							<div class="col-sm-1 text-left btn-group">
								<button title="增加" class="btn btn-default btn-xs"><i class="fa fa-plus-circle text-vo"></i></button>
								<button title="编辑" class="btn btn-default btn-xs" ng-click="openSystemCategory('md')"><i class="fa fa-pencil text-vo"></i></button>
								<button title="删除" class="btn btn-default btn-xs"><i class="fa fa-trash-o text-vo"></i></button>
							</div>
						</div><!-- .form-group -->
						<div class="col-sm-12 category_mapping_bg">
							<div class="col-sm-2 text-left"><i class="fa fa-minus"></i> 商品秒杀</div>
							<div class="pull-right">
								<span class="badge badge-failure">multiComplex</span>
							</div>
							<div class="col-sm-1 text-left btn-group">
								<button title="增加" class="btn btn-default btn-xs"><i class="fa fa-plus-circle text-vo"></i></button>
								<button title="编辑" class="btn btn-default btn-xs" ng-click="openSystemCategory('md')"><i class="fa fa-pencil text-vo"></i></button>
								<button title="删除" class="btn btn-default btn-xs"><i class="fa fa-trash-o text-vo"></i></button>
							</div>
						</div><!-- .form-group -->
						<div class="col-sm-12 category_mapping_bg">
							<div class="col-sm-2 text-left"><i class="fa fa-minus"></i> 风格</div>
							<div class="pull-right">
								<span class="badge badge-success">singleCheck</span>
							</div>
							<div class="col-sm-1 text-left btn-group">
								<button title="增加" class="btn btn-default btn-xs"><i class="fa fa-plus-circle text-vo"></i></button>
								<button title="编辑" class="btn btn-default btn-xs" ng-click="openSystemCategory('md')"><i class="fa fa-pencil text-vo"></i></button>
								<button title="删除" class="btn btn-default btn-xs"><i class="fa fa-trash-o text-vo"></i></button>
							</div>
						</div><!-- .form-group -->
						<div class="col-sm-12 category_mapping_bg">
							<div class="col-sm-2 text-left"><i class="fa fa-minus"></i> 尺码分组</div>
							<div class="pull-right">
								<span class="badge badge-success">singleCheck</span>
							</div>
							<div class="col-sm-1 text-left btn-group">
								<button title="增加" class="btn btn-default btn-xs"><i class="fa fa-plus-circle text-vo"></i></button>
								<button title="编辑" class="btn btn-default btn-xs" ng-click="openSystemCategory('md')"><i class="fa fa-pencil text-vo"></i></button>
								<button title="删除" class="btn btn-default btn-xs"><i class="fa fa-trash-o text-vo"></i></button>
							</div>
						</div><!-- .form-group -->
						<div class="col-sm-12 category_mapping_bg">
							<div class="col-sm-2 text-left"><i class="fa fa-minus"></i> 自定义销售属性分组</div>
							<div class="pull-right">
								<span class="badge badge-success">singleCheck</span>
							</div>
							<div class="col-sm-1 text-left btn-group">
								<button title="增加" class="btn btn-default btn-xs"><i class="fa fa-plus-circle text-vo"></i></button>
								<button title="编辑" class="btn btn-default btn-xs" ng-click="openSystemCategory('md')"><i class="fa fa-pencil text-vo"></i></button>
								<button title="删除" class="btn btn-default btn-xs"><i class="fa fa-trash-o text-vo"></i></button>
							</div>
						</div><!-- .form-group -->
					</div>
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-4 hidden-xs">
							</div>
							<div class="col-sm-4 text-center">
								<small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
							</div>
							<div class="col-sm-4 text-right text-center-xs">
								<div>
									<pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm m-t-none m-b" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
								</div>
							</div>
						</div>
					</div> <!-- .panel-footer -->
				</div>

			</div><!-- /.box-body -->
		</div>
	</div><!-- .col-lg-12 -->
</div><!-- end .wrapper-md -->








