<div class="wrapper-md" >
    <div class="vo_accordion vo_attr">
        <div class="col-sm-6">
            <textarea placeholder="例：&#10 08010000,袖扣,副&#10 08010000,袖扣,套&#10 ETK &#10 06019900,拖特包,个 06019900,休闲包,个" class="form-control inherited" style="resize: none;" rows="20" ng-model="hsCodeInfo" ></textarea>
            <button ng-click="addHsCode(43,'税号')">加税号</button>
            <button ng-click="addHsCode(98,'10位税号')">加10位税号</button>
            <button ng-click="addEtkHsCode('etkCode')">加Etk税号</button>
            <button ng-click="addHsCode(57,'productType')">加productType</button>
            <button ng-click="addHsCode(58,'sizeType')">加sizeType</button>
            <button ng-click="updateKaoLaNumiid('KaoLaNumiid')">考拉numiid回写</button>
        </div>
    </div>
</div><!-- end .wrapper-md -->








