<div class="vo_modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()"><span
                aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <h5 class="modal-title"><i class="fa fa-codepen"></i>&nbsp;{{'TXT_POP_ADD' | translate}}</h5>
    </div>
    <div class="modal-body wrapper">
        <form role="form" class="form-horizontal">
            <div class="col-sm-4">
                <div class="form-horizontal">
                    <div class="row form-group">
                        <label class="col-sm-3 control-label">{{'TXT_CART_COMPANY_NAME' | translate}}</label>
                        <div class="col-sm-8">
                            <input class="form-control"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-3 control-label">{{'TXT_CART_CHANNEL_ID' | translate}}</label>
                        <div class="col-sm-8">
                            <input class="form-control"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-3 control-label">{{'TXT_CART_CHANNEL_NAME' | translate}}</label>
                        <div class="col-sm-8">
                            <input class="form-control"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-3 control-label">{{'TXT_CART_FULL_NAME' | translate}}</label>
                        <div class="col-sm-8">
                            <input class="form-control"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-3 control-label">{{'TXT_CART_CHANNEL_CART' | translate}}：</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-horizontal">
                    <div class="row form-group">
                        <label class="col-sm-3 control-label">{{'TXT_SHIPPER' | translate}}</label>
                        <div class="col-sm-8">
                            <input class="form-control"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-3 control-label">{{'TXT_SHIPPER_TEL' | translate}}</label>
                        <div class="col-sm-8">
                            <input class="form-control"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-3 control-label">{{'TXT_SHIPPER_ZIP' | translate}}</label>
                        <div class="col-sm-8">
                            <input class="form-control"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-3 control-label">{{'TXT_SHIPPER_ADDRESS' | translate}}</label>
                        <div class="col-sm-8">
                            <input class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-horizontal">
                    <div class="row form-group">
                        <label class="col-sm-3 control-label">{{'TXT_ICON_ADDRESS' | translate}}</label>
                        <div class="col-sm-8">
                            <input class="form-control"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-3 control-label">{{'TXT_SECRET_KEY' | translate}}</label>
                        <div class="col-sm-8">
                            <input class="form-control"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-3 control-label vo_a_ce" >{{'TXT_SESSION_KEY' | translate}}</label>
                        <div class="col-sm-8">
                            <input class="form-control"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-4 control-label">{{'TXT_STATUS' | translate}}</label>
                        <div class="col-sm-8">
                            <label class="checkbox-inline c-radio">
                                <input type="radio" name="status" value="1"><span class="fa fa-check"></span> 可用
                            </label>
                            <label class="checkbox-inline c-radio">
                                <input type="radio" name="status" value="2"><span class="fa fa-check"></span> 不可用
                            </label>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-4 control-label">{{'TXT_CART_IS_USJOI' | translate}}</label>
                        <div class="col-sm-8">
                            <label class="checkbox-inline c-radio">
                                <input type="radio" name="isUsjoi" value="1"><span class="fa fa-check"></span> 是
                            </label>
                            <label class="checkbox-inline c-radio">
                                <input type="radio" name="isUsjoi" value="2"><span class="fa fa-check"></span> 否
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="box-body-new">
            <div class="form-horizontal">
                <div class="row form-group">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="col-sm-5">
                            <div class="column_overflow col-sm-12" style="border:1px solid silver;overflow-x:hidden;height: 129px;">
                                <div class="col-sm-12">  </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group"><button class="btn btn-default col-sm-10 col-sm-offset-1"><i class="fa fa-angle-double-left"></i></button> </div>
                            <div class="form-group"><button class="btn btn-default col-sm-10 col-sm-offset-1"><i class="fa fa-angle-left"></i></button></div>
                            <div class="form-group"><button class="btn btn-default col-sm-10 col-sm-offset-1"><i class="fa fa-angle-right"></i></button></div>
                            <div class="form-group"><button class="btn btn-default col-sm-10 col-sm-offset-1"><i class="fa fa-angle-double-right"></i></button></div>
                        </div>
                        <div class="col-sm-5">
                            <div class="column_overflow col-sm-12" style="border:1px solid silver;overflow-x:hidden;height: 129px;">
                                <div class="col-sm-12">  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="ctrl.cancel()"><i class="fa fa-remove"></i> {{'BTN_CANCEL' | translate}}</button>
        <button class="btn btn-vo" ng-click="ctrl.save()"><i class="glyphicon glyphicon-floppy-disk"></i> {{'BTN_SAVE' | translate}}</button>
    </div>
</div><!-- .vo_modal -->