<div class="vo_modal" ng-init="initialize()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$close()"><span
                aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <h5 class="modal-title"><i class="glyphicons glyphicons-edit"></i> 产品详情</h5>
    </div>
    <div class="modal-body wrapper">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Product Code</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"  placeholder="123456789-123-111" disabled>
                </div>
            </div><!-- .form-group -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Product Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"  placeholder="123456789-123-111" disabled>
                </div>
            </div><!-- .form-group -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Overseas Official URL</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="http://s7d5.scene7.com/is/image/sneakerhead/BHFO-20150730" disabled>
                </div>
            </div><!-- .form-group -->

            <div class="form-group">
                <label for="input-id-2" class="col-sm-2 control-label">Color</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="input-id-21" placeholder="Color" disabled>
                </div>
            </div><!-- .form-group -->
            <div class="form-group">
                <label for="input-id-3" class="col-sm-2 control-label">Bullet Point 1</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="input-id-31" placeholder="Bullet Point 1" disabled>
                </div>
            </div><!-- .form-group -->
            <div class="form-group">
                <label for="input-id-4" class="col-sm-2 control-label">Metal Stamp</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="input-id-41" placeholder="Metal Stamp" disabled>
                </div>
            </div><!-- .form-group -->
            <div class="form-group">
                <label for="input-id-5" class="col-sm-2 control-label">Shape Cut</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="input-id-51" placeholder="Shape Cut" disabled>
                </div>
            </div><!-- .form-group -->
            <div class="form-group">
                <label for="input-id-6" class="col-sm-2 control-label">Bullet Point 2</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="input-id-61" placeholder="Bullet Point 2" disabled>
                </div>
            </div><!-- .form-group -->
            <div class="form-group">
                <label for="input-id-7" class="col-sm-2 control-label">Stone Setting</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="input-id-71" placeholder="Stone Setting" disabled>
                </div>
            </div><!-- .form-group -->
            <div class="form-group">
                <label for="input-id-8" class="col-sm-2 control-label">Style</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="input-id-81" placeholder="Style" disabled>
                </div>
            </div><!-- .form-group -->
            <div class="form-group">
                <label for="input-id-9" class="col-sm-2 control-label">Gem Creation Manua</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="input-id-91" placeholder="Gem Creation Manua" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="input-id-10" class="col-sm-2 control-label">Bullet Point 3</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="input-id-101" placeholder="Bullet Point 3" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="input-id-11" class="col-sm-2 control-label">Merchant Category</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="input-id-111" placeholder="Merchant Category" disabled>
                </div>
            </div>

            <div class="form-group">
                <label for="input-id-12" class="col-sm-2 control-label">Auction Title</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="input-id-121" placeholder="Auction Title" disabled>
                </div>
            </div>

            <div class="form-group">
                <label for="input-id-13" class="col-sm-2 control-label">Age Group</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="input-id-131" placeholder="Age Group" disabled>
                </div>
            </div>

            <div class="form-group">
                <label for="input-id-14" class="col-sm-2 control-label">MetalColor</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="input-id-141" placeholder="MetalColor" disabled>
                </div>
            </div>

            <div class="form-group">
                <label for="input-id-15" class="col-sm-2 control-label">MetalType</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="input-id-151" placeholder="MetalType" disabled>
                </div>
            </div>

            <div class="form-group">
                <label for="input-id-16" class="col-sm-2 control-label">Stone</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="input-id-161" placeholder="Stone" disabled>
                </div>
            </div>

            <div class="form-group">
                <label for="input-id-17" class="col-sm-2 control-label">Stone Length</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="input-id-171" placeholder="Stone Length" disabled>
                </div>
            </div>
        </form><!-- .form -->
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$close()"><i class="fa fa-remove"></i> 取消</button>
        <button class="btn btn-vo" ng-click="ok()"><i class="glyphicon glyphicon-floppy-disk"></i> 保存</button>
    </div>
</div><!-- .vo_modal -->