<div class="wrapper-md" ng-controller="feedMappingController as ctrl" ng-init="ctrl.init()">
    <div class="col-sm-12">
        <div class="form-inline m-b-xs pull-left">
            <label>
                顶层类目
                <select class="form-control m-r-xxs"
                        ng-change="ctrl.refreshTable()"
                        ng-model="ctrl.selectedTop"
                        ng-options="cate as cate for cate in ctrl.topKeys"></select>
            </label>
            <select class="form-control m-r-xxs" title="类目匹配筛选"
                    ng-change="ctrl.refreshTable()"
                    ng-options="v as k for (k,v) in ctrl.options.category"
                    ng-model="ctrl.matched.category"></select>
            <select class="form-control m-r-xxs" title="属性匹配筛选"
                    ng-change="ctrl.refreshTable()"
                    ng-options="v as k for (k,v) in ctrl.options.property"
                    ng-model="ctrl.matched.property"></select>
            <input type="text" placeholder="Feed检索" class="form-control">
            <button type="submit" class="btn btn-vo btn-xxs"><i class="fa fa-search"></i></button>
        </div>
    </div>
    <div class="col-sm-12 m-b-lg">
        <div class="box">
            <div class="box-body">
                <table class="table table-hover table-hover-new text-center">
                    <thead>
                    <tr>
                        <th class="text-center">Seq.</th>
                        <th class="text-center">层级</th>
                        <th class="text-left">Feed Category</th>
                        <th class="text-left">Main Data Category</th>
                        <th class="text-center">类目匹配</th>
                        <th class="text-center">属性匹配</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="feedCategory in ctrl.tableSource">
                        <td>{{ $index + 1 }}</td>
                        <td>
                            <span class="badge" ng-class="{'badge-success':feedCategory.level < 2, 'badge-empty': feedCategory.level > 1}">
                                <span>{{ feedCategory.level }} 级</span>
                                <i class="fa" ng-class="{'fa-level-down':feedCategory.level < 2, 'fa-level-up': feedCategory.level > 1}"></i>
                            </span>
                        </td>
                        <td class="text-left">{{ feedCategory.model.path }}</td>
                        <td class="text-left">{{ ctrl.getDefaultMapping(feedCategory) }}</td>
                        <td>
                            <div class="btn-group" ng-controller="popupCtrl">
                                <button ng-click="ctrl.openCategoryMapping(feedCategory.model, popupNewCategory)"
                                        class="btn btn-default btn-xs">
                                    <i class="glyphicon glyphicon-link"></i> 类目匹配
                                </button>
                                <button class="btn btn-default btn-xs" ng-click="ctrl.extendsMapping(feedCategory.model)">
                                    <i class="fa fa-arrow-circle-up"></i> 继承
                                </button>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" ng-if="feedCategory.model.attribute && ctrl.findDefaultMapping(feedCategory)">
                                <a ng-href="#/setting/feed_mapping/prop/{{feedCategory.model.path}}"
                                   class="btn btn-default btn-xs" target="_blank">
                                    <i class="glyphicon glyphicon-link"></i> 属性匹配
                                </a>
                                <button class="btn btn-default btn-xs" ng-click="ctrl.directMatchOver(feedCategory)">
                                    <i class="fa fa-star text-vo"></i> 直接完成
                                </button>
                            </div>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>