<div class="wrapper-md" ng-controller="feedMappingController as ctrl" ng-init="ctrl.init()">
    <div class="col-sm-12">
        <div class="form-inline m-b-sm pull-left">
            <label>
                顶层类目
                <select class="form-control m-r-xxs" ng-model="ctrl.selectedTop" ng-options="cate as cate.path for cate in ctrl.feedCategories"></select>
            </label>
            <select class="form-control m-r-xxs">
                <option>类目匹配情况(ALL)</option>
                <option>类目已匹配</option>
                <option>类目未匹配</option>
            </select>
            <select class="form-control m-r-xxs">
                <option>类目匹配属性情况(ALL)</option>
                <option>类目属性已匹配完成</option>
                <option>类目属性未匹配完成</option>
            </select>
            <input type="text" placeholder="Feed检索" class="form-control">
            <button type="submit" class="btn btn-vo btn-xxs"><i class="fa fa-search"></i></button>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="box">
            <div class="box-body">
                <table class="table table-hover table-hover-new text-center">
                    <thead>
                    <tr>
                        <th class="text-center">Seq.</th>
                        <th class="text-center">层级</th>
                        <th class="text-left">Feed Category</th>
                        <th class="text-left">Main Data Category</th>
                        <th class="text-center">类目匹配</th>
                        <th class="text-center">属性匹配</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Top</td>
                        <td><span class="badge badge-success"> 父级 <i class="fa fa-level-down"></i></span></td>
                        <td class="text-left">{{ ctrl.selectedTop.path }}</td>
                        <td class="text-left">{{ ctrl.getDefaultMapping(ctrl.selectedTop) }}</td>
                        <td>
                            <div class="btn-group" ng-controller="popupCtrl">
                                <button ng-click="popupNewCategory({ from: ctrl.selectedTop }).then(ctrl.bindCategory)"
                                        class="btn btn-default btn-xs">
                                    <i class="glyphicon glyphicon-link"></i> 类目匹配
                                </button>
                            </div>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr ng-repeat="feedCategory in ctrl.selectedTop.child | flatTree:'child'">
                        <td>{{ $index + 1 }}</td>
                        <td><span class="badge badge-empty">子级 <i class="fa fa-level-up"></i> </span></td>
                        <td class="text-left">{{ feedCategory.path }}</td>
                        <td class="text-left">{{ ctrl.getDefaultMapping(feedCategory) }}</td>
                        <td>
                            <div class="btn-group" ng-controller="popupCtrl">
                                <button ng-click="popupNewCategory({ from: feedCategory }).then(ctrl.bindCategory)"
                                        class="btn btn-default btn-xs">
                                    <i class="glyphicon glyphicon-link"></i> 类目匹配
                                </button>
                                <button class="btn btn-primary btn-xs" ng-click="ctrl.extendsMapping(feedCategory)">
                                    <i class="fa fa-arrow-circle-up"></i> 继承
                                </button>
                            </div>
                        </td>
                        <td>
                            <a ng-if="feedCategory.attribute && ctrl.findDefaultMapping(feedCategory)"
                               ng-href="#/setting/feed_mapping/prop/{{feedCategory.path}}"
                               class="btn btn-default btn-xs" target="_blank">
                                <i class="glyphicon glyphicon-link"></i> 属性匹配
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>