<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.service.dao.sql">

    <select id="ims_bt_product_except_selectByChannelCartSku" parameterType="Map" resultType="com.voyageone.service.model.ims.ImsBtProductExceptModel">
        SELECT
        seq,
        order_channel_id as orderChannelId,
        cart_id as cartId,
        except_sku as exceptSku,
        comment,
        active
        FROM voyageone_ims.ims_bt_product_except
        WHERE order_channel_id = #{order_channel_id}
        AND except_sku in (
        <foreach collection="except_sku" item="sku" index="index" separator=",">
            #{sku}
        </foreach>
        )
        AND active = 1
    </select>

</mapper>
