<div class="breadcrumbs">
    <div class="container">
        <h4 class="pull-left">Feed File Manage</h4>
        <ul class="pull-right breadcrumb">
            <li><a href="#/home">Home</a></li>
            <li><a href="javascript:void(0)">Feed</a></li>
            <li class="active selecte">Feed Import Result</li>
        </ul>
    </div>
</div>
<div class="container content" ng-init="ctrl.init()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">Search</h5>
        </div>
        <div class="panel-body">
            <div class="form-inline">
                <div class="form-group">
                    <label class="control-label">Status</label>
                    <select name="status" id="status" ng-model="ctrl.status" class="form-control input-sm"
                            ng-options="status.value as status.name for status in ctrl.statusList">
                        <option value="" translate="TXT_SELECT_NO_VALUE" />
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">File Name</label>
                    <input id="clientFileName" type="text" ng-model="ctrl.clientFileName" class="form-control input-sm">
                </div>
                <div class="form-group">
                    <label class="control-label">Upload Date</label>
                     <span class="input-group">
                        <input type="date" class="form-control"
                               uib-datepicker-popup
                               datepicker-options="{maxDate:ctrl.uploadDateEnd}"
                               ng-model="ctrl.uploadDateStart"
                               is-open="datepicker1">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="datepicker1=!datepicker1"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </span>
                    <span>~</span>
                     <span class="input-group">
                        <input type="date" class="form-control"
                               uib-datepicker-popup
                               datepicker-options="{minDate:ctrl.uploadDateStart}"
                               ng-model="ctrl.uploadDateEnd"
                               is-open="datepicker2">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="datepicker2=!datepicker2"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </span>
                </div>
                <div class="form-group pull-right">
                    <button class="btn btn-primary btn-sm" ng-click="ctrl.search()">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-vo">
        <div class="panel-body">
            <div class="table table-responsive" if-no-rows="ctrl.feedImportResultList.length">
                <table class="table table-fixed table-vo table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="td-2">File Name</th>
                        <th class="td-2 text-center">Upload Time</th>
                        <th class="td-2 text-center">Upload User</th>
                        <th class="td-2 text-center">Status</th>
                        <th class="td-1 text-center">Export Error File</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="feedImportResult in ctrl.feedImportResultList">
                        <td>{{feedImportResult.client_file_name}}</td>
                        <td class="text-center">{{feedImportResult.created | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td class="text-center">{{feedImportResult.creater}}</td>
                        <td class="text-center">{{feedImportResult.statusName}}</td>
                        <td class="text-center"><button class="btn btn-success"><i class="fa fa-cloud-download fa-lg"></i></button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 m-t-md">
                <vpagination config="ctrl.pageOption" total="ctrl.pageOption.total"></vpagination>
            </div>
        </div>
    </div>
</div>