<div class="breadcrumbs">
    <div class="container">
        <h4 class="pull-left">{{'TXT_FEED_IMPORT_RESULT' | translate}}</h4>
        <ul class="pull-right breadcrumb">
            <li><a href="#/home">{{'TXT_HOME' | translate}}</a></li>
            <li><a href="javascript:void(0)">{{'TXT_FEED' | translate}}</a></li>
            <li class="active selecte">{{'TXT_FEED_IMPORT_RESULT' | translate}}</li>
        </ul>
    </div>
</div>
<div class="container content" ng-init="ctrl.init()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">{{'TXT_SEARCH' | translate}}</h5>
        </div>
        <div class="panel-body">
            <div class="form-inline">
                <div class="form-group">
                    <label class=" control-label">{{'TXT_STATUS' | translate}}</label>
                    <select name="status" id="status" ng-model="ctrl.status" class="form-control"
                            ng-options="status.value as status.name for status in ctrl.statusList">
                        <option value="" translate="TXT_SELECT_NO_VALUE" />
                    </select>
                </div>
                <div class="form-group">
                    <label class=" control-label">{{'TXT_FILE_NAME' | translate}}</label>
                    <input id="clientFileName" type="text" ng-model="ctrl.clientFileName" class="form-control input-sm">
                </div>
                <div class="form-group">
                    <label class="control-label">{{'TXT_UPLOAD_DATE' | translate}}</label>
                    <span class="input-group">
                        <input type="date" class="form-control"
                               uib-datepicker-popup
                               datepicker-options="{maxDate:ctrl.uploadDateEnd}"
                               ng-model="ctrl.uploadDateStart"
                               is-open="datepicker1">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="datepicker1=!datepicker1"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </span>
                    <span>~</span>
                    <span class="input-group">
                        <input type="date" class="form-control"
                               uib-datepicker-popup
                               datepicker-options="{minDate:ctrl.uploadDateStart}"
                               ng-model="ctrl.uploadDateEnd"
                               is-open="datepicker2">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="datepicker2=!datepicker2"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </span>
                </div>
                <div class="form-group pull-right">
                    <button class="btn btn-primary btn-sm" ng-click="ctrl.search()">{{'BTN_SEARCH' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-vo">
        <div class="panel-body">
            <div class="table-responsive" if-no-rows="ctrl.feedImportResultList.length">
                <table class="table table-fixed table-vo table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="v-middle td-3">{{'TXT_FILE_NAME' | translate}}</th>
                        <th class="v-middle td-2 text-center">{{'TXT_UPLOAD_DATE' | translate}}</th>
                        <th class="v-middle td-2 text-center">{{'TXT_UPLOAD_USER' | translate}}</th>
                        <th class="v-middle td-3 text-center">{{'TXT_STATUS' | translate}}</th>
                        <th class="v-middle td-2 text-center">{{'TXT_EXPORT_ERROR_FILE' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="feedImportResult in ctrl.feedImportResultList">
                        <td class="v-middle">{{feedImportResult.client_file_name}}</td>
                        <td class="v-middle text-center">{{feedImportResult.created | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td class="v-middle text-center">{{feedImportResult.creater}}</td>
                        <td class="v-middle text-center">{{feedImportResult.statusName}}</td>
                        <td class="v-middle text-center"><button class="btn btn-success btn-xs" ng-show="feedImportResult.status == '4'" ng-click="ctrl.download(feedImportResult.error_file_name)"><i class="fa fa-cloud-download fa-lg" ng-show="feedImportResult.status == '4'"></i></button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 m-t-lg no-padding">
                <vpagination config="ctrl.pageOption" total="ctrl.pageOption.total"></vpagination>
            </div>
        </div>
    </div>
</div>