<!-- list -->
<ul class="nav">
    <!-- CMS 类目管理 -->
    <!--<li ng-class="{active:$state.includes('ims.inventory''ims.new_inventory')}"> TODO 暂时做不了-->
    <li>
        <a class="auto" ui-sref="cms.category">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
            <i class="glyphicon glyphicon-th-list icon text-vo"></i>
            <span class="" translate="TXT_CATEGORY_MANAGER"></span>
        </a>

        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href>
                    <span translate="TXT_CATEGORY_MANAGER"></span>
                </a>
            </li>

            <li  ng-repeat="item in aside.menuInfo.categoryTreeList">
                <a class="auto" ng-if="item.isParent == 1">
                    <span class="pull-right text-muted">
                      <i class="fa fa-fw fa-angle-right text"></i>
                      <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="fa fa-plus icon-small text-vo"></i>
                    <span ng-bind="item.catName"></span>
                </a>
                <a ng-if="item.isParent == 0" ng-click="goSearchPage(item.catId)">
                    <i class="fa fa-minus icon text-vo"></i>
                    <span ng-bind="item.catName"></span>
                </a>
                <ul class="nav nav-sub dk" style="padding-left:10px" ng-if="item.isParent == 1" ng-include="'categoryMenu'" ng-init="categoryMenu = item.children"></ul>
            </li>

        </ul>
    </li>

    <!-- Promotion管理 -->
    <li>
        <a class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="glyphicon glyphicon-star icon text-vo"></i>
            <span class="" translate="TXT_PROMOTION_MANAGER"></span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a>
                    <span translate="TXT_PROMOTION_MANAGER"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href="#/promotion/list">
                    <i class="glyphicon glyphicon-minus icon text-vo"></i>
                    <span TRANSLATE="TXT_PROMOTION_LIST"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href="#/promotion/task/list">
                    <i class="glyphicon glyphicon-minus icon text-vo"></i>
                    <span translate="TXT_TASK_LIST"></span>
                </a>
            </li>
        </ul>
    </li>

    <!-- 高级检索 -->
    <li>
        <a class="auto">
        <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
        </span>
            <i class="glyphicon glyphicon-search icon text-vo"></i>
            <span class="" translate="TXT_SEARCH"></span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a>
                    <span translate="TXT_SEARCH"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href="#/search/index">
                    <i class="glyphicon glyphicon-minus icon text-vo"></i>
                    <span translate="TXT_SEARCH_ADVANCE"></span>
                </a>
            </li>
        </ul>
    </li>
    <!-- 设定 -->
    <li>
        <a class="auto" href="#/setting/feed_mapping/list">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
            <i class="glyphicon glyphicon-cog icon text-vo"></i>
            <span class="" translate="TXT_SETTING"></span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href>
                    <span translate="TXT_SETTING"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href="#/setting/feed_mapping/list">
                    <i class="fa fa-minus icon text-vo"></i>
                    <span translate="TXT_FEED_CONNECTION_SETTING"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href="#/setting/platform_mapping/list">
                    <i class="fa fa-minus icon text-vo"></i>
                    <span translate="TXT_PLATFORM_CONNECTION_SETTING"></span>
                </a>
            </li>
        </ul>
    </li>
    <!-- 系统管理 -->
    <li>
        <a class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
            <i class="fa fa-cogs icon text-vo"></i>
            <span class="" translate="TXT_SYSTEM_SETTING"></span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href>
                    <span translate="TXT_SYSTEM_SETTING"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="cms.start_sys">
                    <i class="fa fa-minus icon text-vo"></i>
                    <span translate="TXT_CATEGORY_SETTING"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a>
                    <i class="fa fa-minus icon text-vo"></i>
                    <span translate="TXT_DICTIONARY_SETTING"></span>
                </a>
            </li>
        </ul>
    </li>
</ul>
<!--end-->

<script id="categoryMenu" type="text/ng-template">
    <li ng-repeat="item in categoryMenu">
        <a class="auto" ng-if="item.isParent == 1">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-plus icon-small text-vo"></i>
            <span ng-bind="item.catName"></span>
        </a>
        <a ng-if="item.isParent == 0" ng-click="goSearchPage(item.catId)">
            <i class="fa fa-minus icon text-vo"></i>
            <span ng-bind="item.catName"></span>
        </a>
        <ul class="nav nav-sub dk" style="padding-left:10px" ng-if="item.isParent == 1" ng-include="'categoryMenu'" ng-init="categoryMenu = item.children"></ul>
    </li>
</script>
