<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.wms.sql">

    <resultMap id="sync_reservation_map" type=	"com.voyageone.batch.wms.modelbean.SyncReservationBean">
        <result column="order_number" property="orderNumber"/>
        <result column="id" property="reservationId"/>
        <result column="status_name" property="reservationStatus"/>
        <result column="store" property="store"/>
        <result column="pieces" property="pieces"/>
        <result column="description_inner" property="descriptionInner"/>
        <result column="description" property="description"/>
        <result column="original_price" property="price"/>
        <result column="original_price_unit" property="priceUnit"/>
        <result column="gender" property="gender"/>
        <result column="description" property="productType"/>
        <result column="brand" property="brand"/>
        <result column="origin" property="origin"/>
        <result column="hs_code" property="hsCode"/>
        <result column="hs_description" property="hsDescription"/>
        <result column="unit" property="unit"/>
        <result column="hs_code_pu" property="hsCodePU"/>
        <result column="hs_description_pu" property="hsDescriptionPU"/>
        <result column="unit_pu" property="unitPU"/>
        <result column="weight_kg" property="weightKg"/>
        <result column="weight_lb" property="weightLb"/>
        <result column="ship_channel" property="synShipMethod"/>
        <result column="sale_price" property="salePrice"/>
        <result column="sale_price_unit" property="salePriceUnit"/>
        <result column="order_channel_id" property="channelId"/>
        <result column="description_short" property="shortDescription"/>
    </resultMap>

    <!-- 同步记录取出 -->
    <select id="wms_selectSyncReservationInfo" resultMap="sync_reservation_map">
        SELECT
            DISTINCT
            reservation.order_number,
            reservation.id,
            typevalue.name as status_name,
            reservation.store,
            '1' as pieces,
            reservation.description_inner,
            reservation.description,
            reservation.original_price,
            reservation.original_price_unit,
            reservation.gender,
            reservation.description,
            reservation.brand,
            reservation.origin,
            reservation.hs_code,
            reservation.hs_description,
            reservation.unit,
            reservation.hs_code_pu,
            reservation.hs_description_pu,
            reservation.unit_pu,
            reservation.weight_kg,
            reservation.weight_lb,
            reservation.ship_channel,
            reservation.sale_price,
            reservation.sale_price_unit,
            reservation.order_channel_id,
            description_short
        FROM
            wms_bt_reservation_log sync,
            tt_reservation reservation,
            com_mt_value typevalue
        WHERE
            sync.order_channel_id = #{order_channel_id}
        AND
            sync.syn_flg = '0'
        AND
            sync.reservation_id = reservation.id
        AND
            typevalue.type_id = #{type_id}
        AND
            typevalue.value = reservation.status
        Order By
            sync.seq
        LIMIT #{limit}
  </select>

    <!-- 更新忽略Log-->
    <update id="wms_updateSyncIgnoreLog">
        update
            wms_bt_reservation_log sync,
            tt_reservation reservation
        SET
            sync.syn_flg = '2',
            modified = now(),
            modifier = #{task_id}
        WHERE
            sync.order_channel_id = #{order_channel_id}
        AND
            sync.syn_flg = '0'
        AND
            sync.reservation_id = reservation.id
        AND
            EXISTS (SELECT 1
                      FROM tm_task_control task
                      WHERE task.task_id = #{task_id}
                      AND task.cfg_name = #{cfg_name}
                      AND task.cfg_val1 = reservation.`status`)
    </update>

    <!-- 更新成功Log-->
    <update id="wms_updateSyncSuccessLog">
        update
          wms_bt_reservation_log
        SET
          syn_flg = '1',
          modified = now(),
          modifier = #{task_id}
        WHERE
          order_channel_id = #{order_channel_id}
        AND
          syn_flg = '0'
        <if test="reservationList != null and reservationList != ''">
            AND reservation_id in
            <foreach collection="reservationList" item="reservation"  open="(" separator="," close=")">
                #{reservation.reservationId}
            </foreach>
        </if>
    </update>

    <insert id="wms_bt_reservation_log_insert">
        insert into
          wms_bt_reservation_log
            (
            seq,
            order_channel_id,
            reservation_id,
            store_id,
            order_number,
            sku,
            product,
            res_status,
            ship_channel,
            res_note,
            syn_flg,
            active,
            created,
            creater,
            modified,
            modifier
            )
            (SELECT
                null,
                order_channel_id,
                id,
                store_id,
                order_number,
                sku,
                product,
                status,
                ship_channel,
                #{resNote},
                '0',
                '1',
                now(),
                #{takeName},
                now(),
                #{takeName}
            FROM
                tt_reservation
            WHERE
                id in
                <foreach collection="reservationList" item="id" open="(" separator="," close=")">#{id}
                </foreach>)
    </insert>

</mapper>
