<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.wms.sql">

    <!-- 盘点比较记录取出 -->
    <select id="wms_selectTakeStockInfo" parameterType="HashMap" resultType="com.voyageone.batch.wms.modelbean.TakeStockBean">
        SELECT
          *
        FROM
          wms_bt_take_stock
        WHERE
          order_channel_id = #{order_channel_id}
        AND
          <!-- Stock状态 -->
          take_stock_status = '1'
        AND
          <!-- 模拟标志位 -->
          syn_flg = '0'
        ORDER BY
          take_stock_id asc
        LIMIT #{limit}
  </select>

    <!-- 盘点比较-->
    <update id="wms_compareStock" statementType="CALLABLE" parameterType="com.voyageone.batch.wms.modelbean.TakeStockBean">
        call wms_compareStock(#{order_channel_id},
                              #{store_id},
                              #{take_stock_id},
                              #{take_stock_type})
    </update>

</mapper>
