<div class="vo_modal" ng-init="ctrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ctrl.cancel()">
            <span aria-hidden="true"><i class="fa fa-close"></i></span>
        </button>
        <h5 class="modal-title"><i class="fa fa-crosshairs"></i> Simple 匹配</h5>
    </div>
    <h5 class="text-vo m-l">
        <span>{{::ctrl.context.maindata.category.path}}</span>
        <sup><strong>{{'TXT_MASTER_CATEGORY' | translate}}</strong></sup>
        <span class="fa fa-exchange"></span>
    </h5>
    <h5 class="m-l">
        <span>{{::ctrl.context.platform.category.path}}</span>
        <sup><strong>{{'TXT_PLATFORM_CATEGORY' | translate}}</strong></sup>
    </h5>

    <div class="p-l-r">
        <div class="table-responsive" ng-controller="popupCtrl">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>类型</th>
                    <th>值</th>
                    <th>在末尾添加</th>
                    <th class="text-right">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ruleWord in ctrl.ruleWords" ng-init="endLine = ctrl.lineEnds[$index]">
                    <td>{{ruleWord.type}}</td>
                    <td>{{ctrl.value(ruleWord)}}</td>
                    <td class="form-inline">
                        <label><input type="radio"
                                      ng-change="ctrl.updateLineEnd($index)"
                                      ng-model="endLine.type"
                                      ng-value="1" name="{{::'radio2'+ $index}}"/> 换行</label>
                        <label><input type="radio"
                                      ng-change="ctrl.updateLineEnd($index)"
                                      ng-model="endLine.type"
                                      ng-value="2" name="{{::'radio2'+ $index}}"/> 空格</label>
                        <label><input type="radio"
                                      ng-change="ctrl.updateLineEnd($index)"
                                      ng-model="endLine.type"
                                      ng-value="3" name="{{::'radio2'+ $index}}"/> 无</label>
                    </td>
                    <td class="form-inline text-right">
                        <button title="编辑" ng-click="ctrl.edit($index, ppPlatformMapping)"
                                class="btn btn-success btn-xs">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button title="删除" ng-click="ctrl.remove($index)" class="btn btn-danger btn-xs">
                            <i class="fa fa-trash-o"></i>
                        </button>
                        <button title="上移" ng-click="ctrl.moveUp($index)" class="btn btn-default btn-xs">
                            <i class="fa fa-arrow-up"></i>
                        </button>
                        <button title="下移" ng-click="ctrl.moveDown($index)" class="btn btn-default btn-xs">
                            <i class="fa fa-arrow-down"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div>
                <button class="btn btn-sm btn-success btn-addon" ng-click="ctrl.add(ppPlatformMapping)">
                    <i class="fa fa-plus"></i> 添加
                </button>
            </div>
            <div class="col-sm-12">
                <div class="attribute_top col-sm-6">
                    <h5 class="text-vo font-bold">值设定说明：</h5>
                    <ul>
                        <li>如果对属性进行了多个值设定，则按照顺序进行显示</li>
                        <li>如果对属性进行了多个值设定，则按照顺序进行显示</li>
                        <li>如果对属性进行了多个值设定，则按照顺序进行显示</li>
                    </ul>
                </div>
                <div class="attribute_top col-sm-6">
                    <h5 class="text-vo font-bold">输入规则：</h5>
                    <ul>
                        <li>valueTypeRule：text</li>
                        <li>minLengthRule：0</li>
                        <li>maxLengthRule：6</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" ng-click="ctrl.cancel()"><i class="fa fa-remove"></i> 取消</button>
        <button class="btn btn-vo" ng-click="ctrl.ok()"><i class="glyphicon glyphicon-floppy-disk"></i> 保存</button>
    </div>
</div>