<div class="vo_modal" ng-init="initialize()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$close()"><span
                aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <h5 class="modal-title"><i class="glyphicons glyphicons-edit"></i> 产品详情</h5>
    </div>
    <div class="modal-body wrapper">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label">Product Code</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control"  placeholder="123456789-123-111" disabled>
                </div>
            </div><!-- .form-group -->
            <div class="form-group">
                <label class="col-sm-4 control-label">Product Name</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control"  placeholder="123456789-123-111" disabled>
                </div>
            </div><!-- .form-group -->
            <div class="form-group">
                <label class="col-sm-4 control-label">Overseas Official URL</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="http://s7d5.scene7.com/is/image/sneakerhead/BHFO-20150730" disabled>
                </div>
            </div><!-- .form-group -->
            <div class="form-group">
                <label class="col-sm-4 control-label">Product Code</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control"  placeholder="123456789-123-111" disabled>
                </div>
            </div><!-- .form-group -->
            <div class="form-group">
                <label class="col-sm-4 control-label">Product Name</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control"  placeholder="123456789-123-111" disabled>
                </div>
            </div><!-- .form-group -->
            <div class="form-group">
                <label class="col-sm-4 control-label">Overseas Official URL</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="http://s7d5.scene7.com/is/image/sneakerhead/BHFO-20150730" disabled>
                </div>
            </div><!-- .form-group -->
            <div class="form-group">
                <label class="col-sm-4 control-label">Product Code</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control"  placeholder="123456789-123-111" disabled>
                </div>
            </div><!-- .form-group -->
            <div class="form-group">
                <label class="col-sm-4 control-label">Product Name</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control"  placeholder="123456789-123-111" disabled>
                </div>
            </div><!-- .form-group -->
            <div class="form-group">
                <label class="col-sm-4 control-label">Overseas Official URL</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="http://s7d5.scene7.com/is/image/sneakerhead/BHFO-20150730" disabled>
                </div>
            </div><!-- .form-group -->
            <div class="form-group">
                <label class="col-sm-4 control-label">Product Code</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control"  placeholder="123456789-123-111" disabled>
                </div>
            </div><!-- .form-group -->
            <div class="form-group">
                <label class="col-sm-4 control-label">Product Name</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control"  placeholder="123456789-123-111" disabled>
                </div>
            </div><!-- .form-group -->
            <div class="form-group">
                <label class="col-sm-4 control-label">Overseas Official URL</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="http://s7d5.scene7.com/is/image/sneakerhead/BHFO-20150730" disabled>
                </div>
            </div><!-- .form-group -->
            <div class="form-group">
                <label class="col-sm-4 control-label">Product Code</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control"  placeholder="123456789-123-111" disabled>
                </div>
            </div><!-- .form-group -->
            <div class="form-group">
                <label class="col-sm-4 control-label">Product Name</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control"  placeholder="123456789-123-111" disabled>
                </div>
            </div><!-- .form-group -->
            <div class="form-group">
                <label class="col-sm-4 control-label">Overseas Official URL</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="http://s7d5.scene7.com/is/image/sneakerhead/BHFO-20150730" disabled>
                </div>
            </div><!-- .form-group -->
            <div class="form-group">
                <label class="col-sm-4 control-label">Product Code</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control"  placeholder="123456789-123-111" disabled>
                </div>
            </div><!-- .form-group -->
            <div class="form-group">
                <label class="col-sm-4 control-label">Product Name</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control"  placeholder="123456789-123-111" disabled>
                </div>
            </div><!-- .form-group -->
            <div class="form-group">
                <label class="col-sm-4 control-label">Overseas Official URL</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="http://s7d5.scene7.com/is/image/sneakerhead/BHFO-20150730" disabled>
                </div>
            </div><!-- .form-group -->
        </div><!-- .form -->
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$close()"><i class="fa fa-remove"></i> 关闭</button>
    </div>
</div><!-- .vo_modal -->