<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.service.dao.sql">

    <insert id="wms_bt_inventory_center_output_tmp_insertSKUData" parameterType="HashMap">
        insert into wms_bt_inventory_center_output_tmp
        (
        order_channel_id,
        prodId,
        groupId,
        numIid,
        model,
        code,
        skuCode,
        productName,
        priceSale,
        created
        )
        values
        ${values}
    </insert>

    <!-- SKU 数据清空-->
    <delete id="wms_bt_inventory_center_output_tmp_deleteAll">
        delete from
        wms_bt_inventory_center_output_tmp
    </delete>

    <!-- SKU 数据总数取得 -->
    <select id="wms_bt_inventory_center_output_tmp_getRecCount" resultType="int" >
        select count(1)
        from
        wms_bt_inventory_center_output_tmp
    </select>

    <!-- SKU 库存数据取得 -->
    <resultMap id="skuInventoryMap" type="com.voyageone.service.model.cms.CmsBtInventoryOutputTmpModel" >
        <result column="order_channel_id" property="orderChannelId"/>
        <result column="prodId" property="prodId"/>
        <result column="groupId" property="groupId"/>
        <result column="numIid" property="numIid"/>
        <result column="model" property="model"/>
        <result column="code" property="code"/>
        <result column="skuCode" property="skuCode"/>
        <result column="productName" property="productName"/>
        <result column="priceSale" property="priceSale"/>
        <result column="qty_orgin" property="qtyOrgin"/>
    </resultMap>

    <select id="wms_bt_inventory_center_output_tmp_getRecInfo" resultMap="skuInventoryMap" >
        select
        tmp.order_channel_id as order_channel_id,
        tmp.prodId as prodId,
        tmp.groupId as groupId,
        tmp.numIid as numIid,
        tmp.model as model,
        tmp.code as code,
        tmp.skuCode as skuCode,
        tmp.productName as productName,
        tmp.priceSale as priceSale,
        inventory.qty_orgin as qty_orgin
        from
        wms_bt_inventory_center_output_tmp tmp
        left join wms_bt_inventory_center_logic inventory
        on tmp.order_channel_id = inventory.order_channel_id
        and tmp.skuCode = inventory.sku
        limit #{offset},#{pagesize}
    </select>


</mapper>
