<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.service.dao.sql">
    <update id="wms_bt_inventory_center_updateCodeForMove" parameterType="HashMap">
        update wms_bt_inventory_center set code=#{itemCodeNew},modified = now(),modifier =#{modifier} where code=#{itemCodeOld} and order_channel_id=#{channelId}
        and (sku in
        <foreach collection="skuList" item="skuItem" open="(" separator="," close=")">
            #{skuItem}
        </foreach>
        )
    </update>

</mapper>
