<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.service.dao.sql">

    <!-- 根据条件查询 -->
    <select id="wms_bt_inventory_center_logic_selectLogicInventory" resultType="com.voyageone.service.model.wms.WmsBtInventoryCenterLogicModel" parameterType="Map" >
        SELECT
            seq,
            order_channel_id as orderChannelId,
            code,
            sku,
            qty_orgin as qtyOrgin,
            qty_china as qtyChina,
            active,
            created,
            creater,
            modified,
            modifier
        FROM
            wms_bt_inventory_center_logic
        WHERE order_channel_id = #{channelId}
        <if test="sku != null and sku != ''" >
         AND sku = #{sku}
        </if>
        <if test="code != null and code != ''" >
            AND code = #{code}
        </if>
    </select>

    <select id="wms_bt_inventory_center_logic_selectLogicInventoryCnt" resultType="Object" parameterType="HashMap">
        select
        qty_china
        from wms_bt_inventory_center_logic
        where order_channel_id = #{channelId}
        and sku = #{sku}
    </select>

</mapper>
