<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.service.dao.sql">
    <select id="select_logic_inventory_cnt" resultType="Object" parameterType="HashMap">
        select
            qty_china
        from wms_bt_inventory_center_logic
        where order_channel_id = #{channelId}
        and sku = #{sku}
    </select>

    <select id="select_logic_inventory_by_channelId" resultType="HashMap" parameterType="HashMap">
        select
        sku,
        qty_china
        from wms_bt_inventory_center_logic
        where order_channel_id = #{channelId}
    </select>
</mapper>