<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.service.dao.sql">

    <select id="select_stock_separate_item" resultType="HashMap" parameterType="HashMap">
        select
            product_model,
            product_code,
            sku,
            cart_id,
            property1,
            property2,
            property3,
            property4,
            qty,
            separate_qty,
            t2.name as status_name
        from ${tableName} t1
        left outer join (select value,name from com_mt_value where type_id= '63' and lang_id = #{lang}) t2
        on t1.status = t2.value
        where task_id = #{taskId}
        <if test="skuList != null skuList.size() > 0">
            and (sku in
            <foreach collection="skuList" item="sku" open="(" separator="," close=")">
                #{sku}
            </foreach>
            )
        </if>
        order by sku,cart_id
    </select>

    <select id="select_stock_separate_item_page_sku" resultType="String" parameterType="HashMap">
        ${sql}
    </select>

    <select id="select_stock_separate_item_cnt" resultType="int" parameterType="HashMap">
         select count(*)
            from   voyageone_cms2.cms_bt_stock_separate_item
            where task_id = #{task_id}
            <if test="status !=null and status != ''">
                and status = #{status}
            </if>
    </select>

    <select id="select_stock_separate_item_history_cnt" resultType="int" parameterType="HashMap">
         select count(*)
            from   voyageone_cms2.cms_bt_stock_separate_item_history
            where task_id = #{task_id}
          limit 0,1
    </select>
</mapper>