<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.voyageone.service.dao.sql">

    <insert id="cms_bt_tasks_insert" parameterType="com.voyageone.service.model.cms.CmsBtTasksModel">
        INSERT INTO voyageone_cms2.cms_bt_tasks (
            task_name, task_type, promotion_id, activity_start, activity_end,
            <if test="config != null">
              config,
            </if>
            created, creater, modified, modifier
        ) VALUES (
            #{task_name}, #{task_type}, #{promotion_id}, #{activity_start}, #{activity_end}, <if test="config != null">#{config},</if> now(), #{creater}, now(), #{modifier}
        )
    </insert>

    <update id="cms_bt_tasks_update">
        UPDATE voyageone_cms2.cms_bt_tasks
        SET task_name = #{task_name},
        config = #{config},
        modified = NOW(),
            modifier  = #{modifier}
        WHERE task_id = #{task_id}
              AND modified = #{modified}
    </update>


    <resultMap id="taskWithPromotion" type="com.voyageone.service.model.cms.CmsBtTasksModel" autoMapping="true">
        <id property="task_id" column="task_id"/>
        <result property="activity_start" column="t_start"/>
        <result property="activity_end" column="t_end"/>
        <result property="status" column="status"/>
        <association property="promotion" autoMapping="true" javaType="com.voyageone.service.model.cms.CmsBtPromotionModel">
            <id property="promotionId" column="promotion_id"/>
            <result property="channelId" column="channel_id"/>
            <result property="cartId" column="cart_id"/>
            <result property="promotionStatus" column="promotion_status"/>
            <result property="promotionName" column="promotion_name"/>
            <result property="preSaleEnd" column="pre_sale_end"/>
            <result property="preSaleStart" column="pre_sale_start"/>
            <result property="prePeriodStart" column="pre_period_start"/>
            <result property="prePeriodEnd" column="pre_period_end"/>
            <result property="activityStart" column="activity_start"/>
            <result property="activityEnd" column="activity_end"/>
            <result property="tejiabaoId" column="tejiabao_id"/>
            <result property="promotionType" column="promotion_type"/>
            <result property="refTagId" column="ref_tag_id"/>
            <result property="isActive" column="is_active"/>
            <result property="isAllPromotion" column="is_all_promotion"/>
            <result property="created" column="p_created"/>
            <result property="creater" column="p_creater"/>
            <result property="modified" column="p_modified"/>
            <result property="modifier" column="p_modifier"/>
        </association>
    </resultMap>

    <select id="cms_bt_tasks_select" resultMap="taskWithPromotion">
        SELECT
            task_id,
            task_name,
            task_type,
            t.promotion_id,
            t.activity_start t_start,
            t.activity_end t_end,
            config,
            t.status,
            t.created,
            t.creater,
            t.modified,
            t.modifier,
            channel_id,
            cart_id,
            promotion_status,
            promotion_name,
            pre_sale_end,
            pre_sale_start,
            pre_period_start,
            pre_period_end,
            p.activity_start,
            p.activity_end,
            tejiabao_id,
            promotion_type,
            ref_tag_id,
            is_active,
            is_all_promotion,
            p.created p_created,
            p.creater p_creater,
            p.modified p_modified,
            p.modifier p_modifier
        FROM voyageone_cms2.cms_bt_tasks t
            JOIN voyageone_cms2.cms_bt_promotion p
                ON t.promotion_id = p.promotion_id
        <where>
            <if test="task_id != null">
                task_id = #{task_id}
            </if>
            <if test="channel_id != null">
                and p.channel_id = #{channel_id}
            </if>
            <if test="promotion_id != null">
              t.promotion_id = #{promotion_id}
            </if>
            <if test="task_name != null and task_name != ''">
                AND task_name = #{task_name}
            </if>
            <if test="task_type != null and task_type != ''">
            AND task_type = #{task_type,jdbcType=INTEGER}
            </if>
            <if test="searchKey != null and searchKey != ''">
                AND task_name LIKE '%${searchKey}%'
            </if>
            <if test="activity_start != null and activity_start != ''">
                and t.activity_start >=   #{activity_start,jdbcType=VARCHAR}
            </if>
            <if test="activity_end != null and activity_end != ''">
                and  #{activity_end,jdbcType=VARCHAR} >=  t.activity_end
            </if>
        </where>
    </select>

    <delete id="cms_bt_tasks_delete" parameterType="com.voyageone.service.model.cms.CmsBtTasksModel">
        delete
        from voyageone_cms2.cms_bt_tasks
        where
        task_id = #{task_id}
    </delete>
    <select id="select_cms_bt_tasks_task_id" parameterType="String" resultType="string">
      select MAX(task_id) task_id
        from voyageone_cms2.cms_bt_tasks
       where task_name=#{task_name}
    </select>

</mapper>