<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.service.dao.sql">
    <resultMap id="bt_promotion_model_map" type="com.voyageone.service.model.cms.CmsBtPromotionGroupModel" >
        <id column="seq" property="seq" jdbcType="INTEGER" />
        <result column="promotion_id" property="promotionId" jdbcType="INTEGER" />
        <result column="model_id" property="modelId" jdbcType="INTEGER" />
        <result column="product_model" property="productModel" jdbcType="VARCHAR" />
        <result column="org_channel_id" property="orgChannelId" jdbcType="VARCHAR" />
        <result column="full_name" property="channelName" jdbcType="VARCHAR" />
        <result column="cat_path" property="catPath" jdbcType="VARCHAR" />
        <result column="num_iid" property="numIid" jdbcType="VARCHAR" />
        <result column="syn_flg" property="synFlg" jdbcType="VARCHAR" />
        <result column="org_channel_id" property="orgChannelId" jdbcType="VARCHAR" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
        <result column="creater" property="creater" jdbcType="VARCHAR" />
        <result column="modified" property="modified" jdbcType="TIMESTAMP" />
        <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    </resultMap>
    <select id="select_cms_bt_promotion_model" resultMap="bt_promotion_model_map" parameterType="HashMap" >
        SELECT
            promotion_id,
            org_channel_id,
            model_id,
            product_model,
            cat_path,
            num_iid,
            syn_flg,
            created,
            creater,
            modified,
            modifier
        FROM
            voyageone_cms2.cms_bt_promotion_model
        <where>
            <if test="promotionId != null">
                promotion_id =  #{promotionId,jdbcType=INTEGER}
            </if>
        </where>
        <if test="start != null and length != null">
            LIMIT #{start}, #{length}
        </if>
    </select>
    <resultMap id="bt_promotion_model_detail_map" extends="bt_promotion_code_map" type="HashMap" >
        <result column="promotion_price_max" property="promotionPriceMax" jdbcType="DOUBLE" />
        <result column="promotion_price_min" property="promotionPriceMin" jdbcType="DOUBLE" />
        <result column="sale_price_max" property="salePriceMax" jdbcType="DOUBLE" />
        <result column="sale_price_min" property="salePriceMin" jdbcType="DOUBLE" />
    </resultMap>
    <select id="select_promotion_detail" resultMap="bt_promotion_model_detail_map" parameterType="HashMap">
        SELECT
            t1.*, t2.*,t3.tag_name,t4.full_name
        FROM
            (
                SELECT
                    b.promotion_id,
                    b.org_channel_id,
                    b.model_id,
                    b.product_model,
                    b.cat_path,
                    b.num_iid,
                    b.syn_flg,
                    b.created
                FROM
                    voyageone_cms2.cms_bt_promotion_model b
                <where>
                    <if test="promotionId != null">
                        promotion_id =  #{promotionId,jdbcType=INTEGER}
                    </if>
                    <if test="channelId != null and channelId != '' and channelId != '997'">
                        and org_channel_id =  #{channelId,jdbcType=VARCHAR}
                    </if>
                    <if test="key !=null and key != ''">
                        and (
                        product_model like '%${key}%'
                        )
                    </if>
                </where>
                <if test="start != null and length != null">
                    LIMIT #{start}, #{length}
                </if>
            ) t1
        LEFT JOIN (
            SELECT
                a.promotion_id,
                a.model_id,
                a.product_id,
                a.product_code,
                a.product_name,
                a.product_model,
                a.tag_id,
                a.image_url_1 as image,
                MAX(a.promotion_price) AS promotion_price_max,
                MIN(a.promotion_price) AS promotion_price_min,
                MAX(a.sale_price) AS sale_price_max,
                MIN(a.sale_price) AS sale_price_min,
                a.msrp AS msrp
            FROM
                voyageone_cms2.cms_bt_promotion_code a
            GROUP BY
                a.promotion_id,
                a.product_model
        ) t2 ON t1.product_model = t2.product_model
        AND t1.promotion_id = t2.promotion_id left join voyageone_cms2.cms_bt_tag t3 on t2.tag_id = t3.tag_id
        LEFT JOIN tm_order_channel t4 on t1.org_channel_id = t4.order_channel_id
    </select>
    <select id="select_promotion_detail_cnt" resultType="int" parameterType="HashMap">

        SELECT
          count(1)
        FROM
        voyageone_cms2.cms_bt_promotion_model b
        <where>
            <if test="promotionId != null">
                promotion_id =  #{promotionId,jdbcType=INTEGER}
            </if>
            <if test="channelId != null and channelId != '' and channelId != '997'">
                and org_channel_id =  #{channelId,jdbcType=VARCHAR}
            </if>
            <if test="key !=null and key != ''">
                and (
                product_model like '%${key}%'
                )
            </if>
        </where>
    </select>
    <insert id="insert_cms_bt_promotion_model" parameterType="com.voyageone.service.model.cms.CmsBtPromotionGroupModel" >
        insert IGNORE into voyageone_cms2.cms_bt_promotion_model
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="promotionId != null" >
                promotion_id,
            </if>
            <if test="orgChannelId != null" >
                org_channel_id,
            </if>
            <if test="modelId != null" >
                model_id,
            </if>
            <if test="productModel != null" >
                product_model,
            </if>
            <if test="catPath != null" >
                cat_path,
            </if>
            <if test="numIid != null" >
                num_iid,
            </if>
            <if test="synFlg != null" >
                syn_flg,
            </if>
                created,
            <if test="creater != null" >
                creater,
            </if>
                modified,
            <if test="modifier != null" >
                modifier,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="promotionId != null" >
                #{promotionId,jdbcType=INTEGER},
            </if>
            <if test="orgChannelId != null" >
                #{orgChannelId,jdbcType=VARCHAR},
            </if>
            <if test="modelId != null" >
                #{modelId,jdbcType=INTEGER},
            </if>
            <if test="productModel != null" >
                #{productModel,jdbcType=VARCHAR},
            </if>
            <if test="catPath != null" >
                #{catPath,jdbcType=VARCHAR},
            </if>
            <if test="numIid != null" >
                #{numIid,jdbcType=VARCHAR},
            </if>
            <if test="synFlg != null" >
                #{synFlg,jdbcType=VARCHAR},
            </if>
                now(),
            <if test="creater != null" >
                #{creater,jdbcType=VARCHAR},
            </if>
                now(),
            <if test="modifier != null" >
                #{modifier,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="update_cms_bt_promotion_model" parameterType="com.voyageone.service.model.cms.CmsBtPromotionGroupModel" >
        update cms_bt_promotion_model
        <set >
            <if test="promotionId != null" >
                promotion_id = #{promotionId,jdbcType=INTEGER},
            </if>
            <if test="orgChannelId != null" >
                org_channel_id = #{orgChannelId,jdbcType=VARCHAR},
            </if>
            <if test="modelId != null" >
                model_id = #{modelId,jdbcType=INTEGER},
            </if>
            <if test="productModel != null" >
                product_model = #{productModel,jdbcType=VARCHAR},
            </if>
            <if test="catPath != null" >
                cat_path = #{catPath,jdbcType=VARCHAR},
            </if>
            <if test="numIid != null" >
                num_iid = #{numIid,jdbcType=VARCHAR},
            </if>
            <if test="synFlg != null" >
                syn_flg = #{synFlg,jdbcType=VARCHAR},
            </if>
                modified = now(),
            <if test="modifier != null" >
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
        </set>
        where promotion_id = #{promotionId,jdbcType=INTEGER}
              and  product_model = #{productModel,jdbcType=VARCHAR}
    </update>
    <delete id="delete_cms_bt_promotion_model" parameterType="com.voyageone.service.model.cms.CmsBtPromotionGroupModel">
        delete
            from voyageone_cms2.cms_bt_promotion_model
        where
            promotion_id = #{promotionId,jdbcType=INTEGER}
        <if test="modelId != null">
            and model_id = #{modelId,jdbcType=INTEGER}
        </if>
        <if test="productModel != null and productModel != ''">
            and product_model = #{productModel,jdbcType=VARCHAR}
        </if>
    </delete>
</mapper>
