<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.voyageone.service.dao.sql">

    <select id="cms_bt_feed_custom_prop_selectWithCatPath" resultType="com.voyageone.service.model.cms.CmsBtFeedCustomPropModel" parameterType="HashMap">
        SELECT
            a.id as seq,
            a.channel_id as channelId,
            a.feed_cat_path as feedCatPath,
            a.feed_prop_original as feedProp,
            a.feed_prop_translation as feedPropTranslate,
            a.display_order as displayOrder,
            a.created,
            a.creater,
            a.modified,
            a.modifier
        FROM voyageone_cms2.cms_bt_feed_custom_prop a
        WHERE a.channel_id = #{channelId}
          AND (a.feed_cat_path = #{feedCatPath}
           OR a.feed_cat_path = '0')
    </select>

    <!-- 查询指定类目属性是否存在 -->
    <select id="cms_bt_feed_custom_prop_isexist" resultType="HashMap" parameterType="HashMap">
        SELECT
        a.id
        FROM voyageone_cms2.cms_bt_feed_custom_prop a
        WHERE a.channel_id = #{channelId}
        AND a.feed_cat_path = #{cat_path}
        AND a.feed_prop_original = #{prop_original}
    </select>

    <!-- 查询指定类目所有属性 -->
    <select id="cms_bt_feed_custom_prop_selectAllAttr" resultType="HashMap" parameterType="HashMap">
        SELECT
        a.id as prop_id,
        a.channel_id,
        a.feed_cat_path,
        a.feed_prop_original,
        a.feed_prop_translation,
        a.display_order,
        a.created,
        a.creater,
        a.modified,
        a.modifier
        FROM voyageone_cms2.cms_bt_feed_custom_prop a
        WHERE a.channel_id = #{channelId}
        AND a.feed_cat_path = #{feedCatPath}
        ORDER BY a.display_order
    </select>

    <!-- 查询指定类目已翻译属性 -->
    <select id="cms_bt_feed_custom_prop_selectAttrByTrans" resultType="HashMap" parameterType="HashMap">
        SELECT
        a.feed_prop_original,
        a.feed_prop_translation
        FROM voyageone_cms2.cms_bt_feed_custom_prop a
        WHERE a.channel_id = #{channelId}
        AND a.feed_cat_path = #{feedCatPath}
        AND (a.feed_prop_translation is not null AND LENGTH(trim(a.feed_prop_translation)) > 0)
        ORDER BY a.display_order
    </select>

    <!-- 查询指定类目未翻译属性 -->
    <select id="cms_bt_feed_custom_prop_selectWithCat1" resultType="HashMap" parameterType="HashMap">
        SELECT
        a.id as prop_id,
        a.channel_id,
        a.feed_cat_path,
        a.feed_prop_original,
        a.display_order,
        a.created,
        a.creater,
        a.modified,
        a.modifier
        FROM voyageone_cms2.cms_bt_feed_custom_prop a
        WHERE a.channel_id = #{channelId}
        AND a.feed_cat_path = #{feedCatPath}
        AND (a.feed_prop_translation is null OR LENGTH(trim(a.feed_prop_translation)) = 0)
        ORDER BY a.display_order
    </select>

    <!-- 查询指定类目已翻译属性 -->
    <select id="cms_bt_feed_custom_prop_selectWithCat2" resultType="HashMap" parameterType="HashMap">
        SELECT
        a.id as prop_id,
        a.channel_id,
        a.feed_cat_path,
        a.feed_prop_original,
        a.feed_prop_translation,
        a.display_order,
        a.created,
        a.creater,
        a.modified,
        a.modifier
        FROM voyageone_cms2.cms_bt_feed_custom_prop a
        WHERE a.channel_id = #{channelId}
        AND a.feed_cat_path = #{feedCatPath}
        AND (a.feed_prop_translation is not null AND LENGTH(trim(a.feed_prop_translation)) > 0)
        ORDER BY a.display_order
    </select>

    <!-- 查询指定类目已翻译属性 -->
    <select id="cms_bt_feed_custom_prop_getSameAttr" resultType="HashMap" parameterType="HashMap">
        SELECT
          a.config_code
        FROM voyageone_cms2.cms_mt_channel_config a
        WHERE a.channel_id = #{channelId}
        AND a.config_key = 'SAME_ATTR'
    </select>

    <!-- 新增属性名 -->
    <insert id="cms_bt_feed_custom_prop_add" parameterType="java.util.List">
        insert into voyageone_cms2.cms_bt_feed_custom_prop (channel_id,feed_cat_path,feed_prop_original,feed_prop_translation,
          display_order,created,creater,modified,modifier)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{channelId},#{cat_path},#{item.prop_original},#{item.prop_translation},#{index},now(),#{userName},now(),#{userName})
        </foreach>
    </insert>

    <!-- 更新属性名 -->
    <update id="cms_bt_feed_custom_prop_update" parameterType="HashMap">
        UPDATE voyageone_cms2.cms_bt_feed_custom_prop
        <set>
            feed_prop_translation = #{prop_translation},
            modified = now(),
            modifier = #{userName}
        </set>
        <where>
            id = #{prop_id}
        </where>
    </update>

    <!-- 查询指定属性值是否存在 -->
    <select id="cms_bt_feed_custom_prop_value_isexist" resultType="HashMap" parameterType="HashMap">
        SELECT
        a.id
        FROM voyageone_cms2.cms_bt_feed_custom_prop_value a
        WHERE a.channel_id = #{channelId}
        AND a.prop_id = #{propId}
        AND a.feed_value_original = #{origValue}
    </select>

    <!-- 查询指定属性值是否存在 -->
    <select id="cms_bt_feed_custom_prop_value_isexistbyid" resultType="HashMap" parameterType="HashMap">
        SELECT
        a.id
        FROM voyageone_cms2.cms_bt_feed_custom_prop_value a
        WHERE a.id = #{valueId}
    </select>

    <!-- 添加属性值 -->
    <insert id="cms_bt_feed_custom_prop_value_add" parameterType="HashMap">
        insert into voyageone_cms2.cms_bt_feed_custom_prop_value (channel_id,prop_id,feed_value_original,feed_value_translation,
        created,creater,modified,modifier)
        values
          (#{channelId},#{propId},#{origValue},#{transValue},now(),#{userName},now(),#{userName})
    </insert>

    <!-- 更新属性值 -->
    <update id="cms_bt_feed_custom_prop_value_update" parameterType="HashMap">
        UPDATE voyageone_cms2.cms_bt_feed_custom_prop_value
        set
            feed_value_translation = #{transValue},
            modified = now(),
            modifier = #{userName}
        where
            id = #{valueId}
    </update>

    <!-- 查询指定类目属性值 -->
    <select id="cms_bt_feed_custom_prop_value_selectById" resultType="HashMap" parameterType="HashMap">
        SELECT
          v1.id as value_id, v1.prop_id, p1.feed_cat_path as cat_path,
          p1.feed_prop_original as prop_original, p1.feed_prop_translation as prop_translation,
          v1.feed_value_original as value_original, v1.feed_value_translation as value_translation,
          v2.feed_value_translation as ref_value
        FROM voyageone_cms2.cms_bt_feed_custom_prop p1
            INNER JOIN voyageone_cms2.cms_bt_feed_custom_prop_value v1
            ON p1.id = v1.prop_id and v1.prop_id != 0
            LEFT JOIN voyageone_cms2.cms_bt_feed_custom_prop_value v2
            ON v1.feed_value_original = v2.feed_value_original and v2.prop_id = 0 and v2.channel_id = #{channelId}
        WHERE p1.channel_id = #{channelId}
        <if test="feedCatPath != null">
          AND p1.feed_cat_path = #{feedCatPath}
        </if>
        <if test="tSts == 0">
            AND (v1.feed_value_translation is null OR LENGTH(trim(v1.feed_value_translation)) = 0)
        </if>
        <if test="tSts == 1">
            AND (v1.feed_value_translation is not null AND LENGTH(trim(v1.feed_value_translation)) > 0)
        </if>
        <if test="propName != null">
            AND ( p1.feed_prop_original like CONCAT('%',#{propName},'%') or p1.feed_prop_translation like CONCAT('%',#{propName},'%') )
        </if>
        <if test="propValue != null">
            AND (v1.feed_value_original like CONCAT('%',#{propValue},'%') or v1.feed_value_translation like CONCAT('%',#{propValue},'%') )
        </if>
        ORDER BY p1.feed_cat_path, p1.display_order,v1.feed_value_original
    </select>

</mapper>

