<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.service.dao.sql">

    <select id="select_stock_separate_platform" resultType="HashMap" parameterType="HashMap">
        select
            t1.task_id,
            t1.cart_id,
            t1.separate_percent,
            t2.activity_start,
            t2.activity_end,
            t2.channel_id,
            t1.revert_time,
            t1.revert_flg,
            t1.add_priority,
            t1.subtract_priority
            <if test="channelId !=null and lang != null" >
              ,t3.name
            </if>
        from voyageone_cms2.cms_bt_stock_separate_platform_info t1
        left outer join voyageone_cms2.cms_bt_promotion t2 on t1.promotion_id = t2.promotion_id
        <if test="channelId !=null and lang != null" >
          left outer join (select value,name from com_mt_value_channel where type_id= '53'and channel_id = #{channelId} and lang_id = #{lang}) t3
          on t1.cart_id = t3.value
        </if>
        where 1 = 1
        <if test="commonPlatform == null" >
        and t1.cart_id != -1
        </if>
        <if test="taskId != null" >
        and t1.task_id = #{taskId}
        </if>
        <if test="cartId != null" >
            and t1.cart_id = #{cartId}
        </if>
        <if test="revertTime != null" >
            <![CDATA[ and t1.revert_time <= #{revertTime} ]]>
        </if>
        <if test="revertFlg != null" >
            and t1.revert_flg = #{revertFlg}
        </if>
        order by t1.cart_id
    </select>

    <update id="update_stock_separate_platform" parameterType="HashMap" >
        update voyageone_cms2.cms_bt_stock_separate_platform_info
        <set >
            <if test="separatePercent != null" >
                separate_percent = #{separatePercent},
            </if>
            <if test="revertTime != null" >
                revert_time = #{revertTime},
            </if>
            <if test="revertFlg != null" >
                revert_flg = #{revertFlg},
            </if>
            <if test="addPriority != null" >
                add_priority = #{addPriority},
            </if>
            <if test="subtractPriority != null" >
                subtract_priority = #{subtractPriority},
            </if>
            modified = now(),
            <if test="modifier != null" >
                modifier = #{modifier},
            </if>
        </set>
        <where>
            1 = 1
            <if test="commonPlatform == null" >
                and cart_id != -1
            </if>
            <if test="taskId != null" >
                and task_id = #{taskId}
            </if>
            <if test="cartId != null" >
                and cart_id = #{cartId}
            </if>
            <if test="revertFlgWhere != null" >
                and revert_flg = #{revertFlgWhere}
            </if>
            <if test="revertTimeWhere != null" >
                <![CDATA[ and revert_time <= #{revertTimeWhere} ]]>
            </if>
        </where>
    </update>

    <delete id="delete_stock_separate_platform" parameterType="HashMap">
        delete
        from voyageone_cms2.cms_bt_stock_separate_platform_info
        where
        task_id = #{taskId}
    </delete>
    <select id="select_cms_bt_stock_separate_platform_info" resultType="HashMap" parameterType="String" >
        select
        cart_id,
        revert_time
        from voyageone_cms2.cms_bt_stock_separate_platform_info
        where cart_id = #{cart_id}
          and revert_time >#{separateTime}
    </select>
</mapper>