<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.service.dao.sql">
    <resultMap id="PriceLogMap" type="com.voyageone.service.model.cms.CmsBtPriceLogModel">
        <id column="seq" property="seq" jdbcType="INTEGER" />
        <result column="channel_id" property="channelId" jdbcType="VARCHAR" />
        <result column="product_id" property="productId" jdbcType="INTEGER" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="sku" property="sku" jdbcType="VARCHAR" />
        <!--<result column="msrp_price" property="msrpPrice" jdbcType="VARCHAR" />-->
        <!--<result column="retail_price" property="retailPrice" jdbcType="VARCHAR" />-->
        <result column="price" property="salePrice" jdbcType="VARCHAR" />
        <result column="comment" property="comment" jdbcType="VARCHAR" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
        <result column="creater" property="creater" jdbcType="VARCHAR" />
        <result column="modified" property="modified" jdbcType="TIMESTAMP" />
        <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    </resultMap>

    <select id="select_cms_bt_price_log_by_code" resultMap="PriceLogMap" parameterType="HashMap">
        select DISTINCT
            log.seq,
            log.channel_id,
            log.product_id,
            log.code,
            log.sku,
        <if test="priceType !=null and priceType == 'priceMsrp'">
            log.msrp_price as price,
        </if>
        <if test="priceType !=null and priceType == 'priceRetail'">
            log.retail_price as price,
        </if>
        <if test="priceType !=null and priceType == 'priceSale'">
            log.sale_price as price,
        </if>
            log.comment,
            log.created,
            log.creater,
            log.modified,
            log.modifier
        from voyageone_cms2.cms_bt_price_log log
        where log.code = #{code}
        <if test="sku != null and sku !=''">
          and log.sku = #{sku}
        </if>
          and log.channel_id = #{channelId}
        <if test="priceType !=null and priceType == 'priceMsrp'">
          and log.msrp_price != 'null-null'
        </if>
        <if test="priceType !=null and priceType == 'priceRetail'">
            and log.retail_price != 'null-null'
        </if>
        <if test="priceType !=null and priceType == 'priceSale'">
            and log.sale_price != 'null-null'
        </if>
        order by log.modified desc
        limit #{offset}, #{rows}
    </select>

    <select id="select_cms_bt_price_log_by_code_cnt" resultType="int" parameterType="HashMap">
        select count(1) from voyageone_cms2.cms_bt_price_log log
         where log.code = #{code} and log.sku = #{sku} and log.channel_id = #{channelId}
        <if test="priceType !=null and priceType == 'priceMsrp'">
            and log.msrp_price != 'null-null'
        </if>
        <if test="priceType !=null and priceType == 'priceRetail'">
            and log.retail_price != 'null-null'
        </if>
        <if test="priceType !=null and priceType == 'priceSale'">
            and log.sale_price != 'null-null'
        </if>
    </select>

    <select id="select_cms_bt_price_log_by_sku" resultMap="PriceLogMap" parameterType="HashMap">
        select DISTINCT
            log.seq,
            log.channel_id,
            log.product_id,
            log.code,
            log.sku,
        <if test="priceType !=null and priceType == 'priceMsrp'">
            log.msrp_price as price,
        </if>
        <if test="priceType !=null and priceType == 'priceRetail'">
            log.retail_price as price,
        </if>
        <if test="priceType !=null and priceType == 'priceSale'">
            log.sale_price as price,
        </if>
            log.comment,
            log.created,
            log.creater,
            log.modified,
            log.modifier
        from voyageone_cms2.cms_bt_price_log log
        where log.sku = #{sku}
          and log.channel_id = #{channelId}
        <if test="priceType !=null and priceType == 'priceMsrp'">
            and log.msrp_price != 'null-null'
        </if>
        <if test="priceType !=null and priceType == 'priceRetail'">
            and log.retail_price != 'null-null'
        </if>
        <if test="priceType !=null and priceType == 'priceSale'">
            and log.sale_price != 'null-null'
        </if>
        order by log.modified desc
        limit #{offset}, #{rows}
    </select>

    <select id="select_cms_bt_price_log_by_sku_cnt" resultType="int" parameterType="HashMap">
        select count(1) from voyageone_cms2.cms_bt_price_log log
        where log.sku = #{sku} and log.channel_id = #{channelId}
        <if test="priceType !=null and priceType == 'priceMsrp'">
            and log.msrp_price != 'null-null'
        </if>
        <if test="priceType !=null and priceType == 'priceRetail'">
            and log.retail_price != 'null-null'
        </if>
        <if test="priceType !=null and priceType == 'priceSale'">
            and log.sale_price != 'null-null'
        </if>
    </select>

    <insert id="insert_cms_bt_cms_bt_price_log" parameterType="com.voyageone.service.model.cms.CmsBtPriceLogModel" useGeneratedKeys="true" keyProperty="seq">
        insert into voyageone_cms2.cms_bt_price_log (
            channel_id,
            product_id,
            code,
            sku,
            msrp_price,
            retail_price,
            sale_price,
            comment,
            created,
            creater,
            modified,
            modifier
        ) value (
            #{item.channelId},
            #{item.productId},
            #{item.code},
            #{item.sku},
            #{item.msrpPrice},
            #{item.retailPrice},
            #{item.salePrice},
            #{item.comment},
            now(),
            #{item.creater},
            now(),
            #{item.creater}
        )
    </insert>

    <insert id="insert_cms_bt_price_log_list" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="seq">
        insert into voyageone_cms2.cms_bt_price_log (
            channel_id,
            product_id,
            code,
            sku,
            msrp_price,
            retail_price,
            sale_price,
            comment,
            created,
            creater,
            modified,
            modifier
        ) value
        <foreach collection="list" item="item" separator=",">
            (
                #{item.channelId},
                #{item.productId},
                #{item.code},
                #{item.sku},
                #{item.msrpPrice},
                #{item.retailPrice},
                #{item.salePrice},
                #{item.comment},
                now(),
                #{item.creater},
                now(),
                #{item.creater}
            )
        </foreach>
    </insert>
</mapper>