<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.service.dao.sql">

    <!-- 获取自定义查询属性 -->
    <select id="cms2_mt_channel_config_getCustAttr" resultType="HashMap">
        select
          config_code configCode,
          config_value1 configValue1
        from
          voyageone_cms2.cms_mt_channel_config
        where
          channel_id = #{channelId}
          and config_key = 'ADVQRY_KEYS'
          and (config_value2 = #{langId} or (config_value2 is null OR LENGTH(trim(config_value2)) = 0))
    </select>

    <!-- 获取翻译时标题和描述的长度设置 -->
    <select id="cms2_mt_channel_config_getTransLenSet" resultType="HashMap">
        select
        config_code lenType,
        config_value1 minLen,
        config_value2 maxLen
        from
        voyageone_cms2.cms_mt_channel_config
        where
        channel_id = #{channelId}
        and config_key = 'TRANS_LEN_SET'
    </select>

</mapper>