<div class="wrapper-md">
    <div class="panel panel-vo">
        <div class="panel-heading">
            <h4 class="panel-title"><i class="fa fa-reorder"></i>&nbsp;<span translate="TXT_DEFAULT_MAPPING_LIST"></span></h4>
        </div>
        <div class="panel-body">
            <div class="row form-inline">
                <div class="col-sm-4 text-center">
                    <div class="form-group">
                        <label translate="TXT_CART_NAME"></label>
                        <span>&nbsp;</span>
                        <select class="form-control" ng-model="ctrl.searchInfo.cartId"
                                ng-options="c.value as c.name for c in ctrl.cartList" style="width: 200px">
                            <option value="">{{'TXT_SELECT_NO_VALUE' | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-8 text-center">
                    <div class="form-group">
                        <label translate="TXT_PLATFORM_CATEGORY"></label>
                        <span>&nbsp;</span>
                        <label>
                            <input name="category" type="radio" value="3" ng-model="ctrl.searchInfo.categoryType">&nbsp;不限类目
                        </label>
                        <label>
                            <input name="category" type="radio" value="1" ng-model="ctrl.searchInfo.categoryType">&nbsp;全类目
                        </label>&emsp;
                        <label>
                            <input name="category" type="radio" value="2" ng-model="ctrl.searchInfo.categoryType">&nbsp;选择类目
                        </label>
                    </div>
                    <span>&nbsp;</span>
                    <div class="form-group">
                        <button class="btn btn-default" ng-click="ctrl.openCategorySelector()" ng-disabled="!ctrl.searchInfo.cartId || ctrl.searchInfo.categoryType != '2'">
                            <i class="fa fa-th-list"></i>&nbsp;<span translate="TXT_PLATFORM_CATEGORY"></span>
                        </button>
                        <input style="width: 250px;" class="form-control" title="{{ctrl.searchInfo.categoryPath}}" ng-model="ctrl.searchInfo.categoryPath" disabled>
                    </div>
                </div>
            </div>
            <div class="row m-t-md">
                <div class="col-sm-12 text-center">
                    <button class="btn btn-default" ng-click="ctrl.clear()"><i class="fa fa-undo"></i>&nbsp;{{'BTN_RESET'|translate}}</button>
                    <button class="btn btn-vo" ng-click="ctrl.search()"><i class="fa fa-search"></i>&nbsp;{{'TXT_SEARCH'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="m-t-sm m-b-sm">
        <button type="button" class="btn btn-info btn-pop" ng-click="ctrl.create()">
            <i class="fa fa-plus"></i>&nbsp;<span translate="TXT_DEFAULT_SETTING"></span>
        </button>
    </div>
    <div class="box">
        <div class="box-body">
            <table class="table table-hover-new vo_table tableWordBreak">
                <thead>
                <tr>
                    <th class="mfb-xt3 text-center" translate="TXT_SEQ"></th>
                    <th class="mfb-xxt text-left" translate="TXT_PLATFORM_CATEGORY"></th>
                    <th class="mfb-xt3 text-center" translate="TXT_SIZE_CHART_UPDATE_TIME"></th>
                    <th class="mfb-xt3 text-left" translate="TXT_UPDATER"></th>
                    <th class="mfb-xt3 text-center" translate="TXT_CREATE_TIME"></th>
                    <th class="mfb-xt3 text-left" translate="TXT_CREATER"></th>
                    <th class="mfb-xt3 text-center" translate="TXT_ACTION"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td if-no-rows="ctrl.dataList.length" colspan="7" style="padding: 0px"></td>
                </tr>
                <tr ng-repeat="entity in ctrl.dataList">
                    <td class="mfb-xt3 text-center">{{$index+1}}</td>
                    <td class="mfb-xt3 text-left">{{ctrl.getMappingCategoryPath(entity)}}</td>
                    <td class="mfb-xt3 text-center">{{entity.modified | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td class="mfb-xt3 text-left">{{entity.modifier}}</td>
                    <td class="mfb-xt3 text-center">{{entity.created | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td class="mfb-xt3 text-left">{{entity.creater}}</td>
                    <td class="mfb-xt3 text-center">
                        <button title="编辑" class="btn btn-success btn-xs" ng-click="ctrl.editItem(entity)" >
                            <i class="fa fa-pencil"></i>
                        </button>&emsp;
                        <button title="删除" class="btn btn-danger btn-xs" ng-click="ctrl.deleteItem(entity)">
                            <i class="fa  fa-trash-o"></i>
                        </button>
                    </td>
                </tbody>
            </table>
        </div>
    </div>
    <vpagination config="ctrl.paging"></vpagination>
</div>