<div class="vo_modal vo-dialogs">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">
            <span aria-hidden="true"><i ng-click="close()" class="fa fa-close"></i></span>
        </button>
        <h5 class="modal-title" ng-bind-html="title"></h5>
    </div>
    <div class="modal-body wrapper-lg">
        <div class="row">
            <h5 class="text-center text-hs"><span class="text-left" ng-bind-html="content"></span></h5>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default btn-sm" ng-if="!isAlert" ng-click="close()" translate="BTN_CANCEL"></button>
        <button class="btn btn-vo btn-sm" ng-click="ok()" translate="BTN_OK"></button>
    </div>
</div>