<div class="wrapper-md" ng-init="ctrl.init() " id="channelConfigSet">
    <div class="vo_accordion vo_attr">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="glyphicon glyphicon-star"></i>&nbsp;Feed配置项目管理</h4>
                </div>
            </div>
        </div>

        <div style="position: relative">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="box">
                        <div class="box-body">
                            <table class="table table-hover-new text-center">
                                <thead>
                                <tr>
                                    <th class="text-center">CMS字段</th>
                                    <th class="text-center">Feed字段 *</th>
                                    <th class="text-center">备注</th>
                                </tr>
                                <tr>
                                    <th colspan="3" style="background: #fff;color: #000;" class="text-center">
                                        CODE级别feed必要共通属性匹配情况
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="element in ctrl.dataList">

                                        <th ng-if="element.feedConfigLev=='1'" class="text-center">{{element.feedConfig}}</th>
                                        <th  ng-if="element.feedConfigLev=='1'" class="text-center"><input type="text" class="form-control" ng-model="element.cfgName"></th>
                                        <th  ng-if="element.feedConfigLev=='1'"class="text-center"><input type="text" class="form-control" ng-model="element.comment"></th>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-hover-new text-center">
                                <thead>
                                <tr>
                                    <th colspan="3" style="background: #fff;color: #000;" class="text-center">
                                        SKU级别feed必要共通属性匹配情况
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="element in ctrl.dataList">

                                    <th ng-if="element.feedConfigLev=='2'" class="text-center">{{element.feedConfig}}</th>
                                    <th  ng-if="element.feedConfigLev=='2'" class="text-center"><input type="text" class="form-control" ng-model="element.cfgName"></th>
                                    <th  ng-if="element.feedConfigLev=='2'"class="text-center"><input type="text" class="form-control" ng-model="element.comment"></th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>


            <sticky top-fix="90px" style="position: absolute; top: 100px; right: 10px;" drag>

                <nav class="sidebar">
                    <h3>导航栏</h3>
                    <button type="button" class="btn btn-nav btn-nav-pop" ng-click="ctrl.refresh()">
                        <i class="fa fa-refresh"></i>&nbsp;&nbsp;刷新
                    </button>
                    <br>
                    <button type="button" class="btn btn-nav btn-nav-pop" ng-click="ctrl.save(ctrl.dataList)">
                        <i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;&nbsp;保存
                    </button>
                </nav>

            </sticky>
        </div>
    </div>
</div>