.bg-success {
  background-color: #5cb85c;
}

.bg-warning {
  background-color: #ffd066;
}

.bg-danger {
  background-color: #d9534f;
}

.bg-info {
  background-color: #5bc0de;
}

.bg-gainsboro {
  background-color: gainsboro;
}