select{
  border: solid 1px #ccc;
  /*将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
}
select::-ms-expand { display: none; }

.btn-vo {
  border: 0;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  padding: 6px 13px;
  position: relative;
  background: #72c02c;
  display: inline-block;
  text-decoration: none;
}

.btn-vo.btn-vo-default {
  background: #95a5a6;
  &:hover {
    background: #7f8c8d;
  }
}

.btn-vo.btn-vo-blue {
  background: #3498db;
  &:hover {
    background: #2980b9;
  }
}

//缩略图尺寸
.thumb-xl {
  width: 128px;
  display: inline-block;
}

.thumb-lg {
  width: 96px;
  display: inline-block;
}

.thumb-md {
  max-width: 64px;
  max-height: 75px;
  display: inline-block;
}

.thumb {
  width: 50px;
  display: inline-block;
}

.thumb-sm {
  width: 40px;
  display: inline-block;
}

.thumb-xs {
  width: 34px;
  display: inline-block;
}

.thumb-xs-search img {
  width: 34px;
  height: 34px;
  margin-top: 24px;
  display: inline-block;
}

.thumb-wrapper {
  padding: 2px;
  border: 1px solid #d4cfcf;
}

.thumb img,
.thumb-xs img,
.thumb-sm img,
.thumb-md img,
.thumb-lg img,
.thumb-btn img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}