<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.cms.sql">
    <resultMap type="HashMap" id="PromotionMap">
        <result column="promotion_id" property="promotionId"/>
        <result column="tejiabao_id" property="tejiabaoId"/>
        <result column="num_iid" property="num_iid"/>
        <result column="channel_id" property="channel_id"/>
        <collection property="productList" javaType="ArrayList" ofType="HashMap" >
            <result column="product_code" property="product_code" />
            <collection property="skuList" javaType="ArrayList" ofType="HashMap" >
                <result column="promotion_price" property="promotionPrice" />
                <result column="product_sku" property="sku"/>
            </collection>
        </collection>
    </resultMap>
    <select id="cms_promotion_select" resultMap="PromotionMap" parameterType="HashMap">
      SELECT
        t2.channel_id,
        t1.promotion_id,
        t1.num_iid,
        t1.tejiabao_id,
        t2.product_code,
        t2.product_sku,
        IFNULL(t2.promotion_price, '') AS promotion_price
    FROM
        (
            SELECT
                a.promotion_id,
                b.tejiabao_id,
                a.num_iid
            FROM
                voyageone_cms2.cms_bt_task_tejiabao a,
                (
                    SELECT
                        id as promotion_id,
                        tejiabao_id
                    FROM
                        voyageone_cms2.cms_bt_promotion
                    WHERE
                        channel_id = #{channelId,jdbcType=VARCHAR}
                    AND active = 1
                    AND promotion_status = 0
                    AND cart_id = #{cartId,jdbcType=VARCHAR}
                    AND tejiabao_id != 0
                ) b
            WHERE
                syn_flg = 1
            AND task_type = 0
            AND a.promotion_id = b.promotion_id
            AND num_iid != ''
            GROUP BY
                promotion_id,
                num_iid
            LIMIT 0,200
        ) t1
    LEFT JOIN (
        SELECT
            prom.channel_id,
            sku.promotion_id,
            sku.product_code,
            sku.product_sku,
            `code`.num_iid,
            `code`.promotion_price
        FROM
        voyageone_cms2.cms_bt_promotion_skus sku
        LEFT JOIN voyageone_cms2.cms_bt_promotion_codes `code` ON sku.promotion_id = `code`.promotion_id
        AND sku.product_code = `code`.product_code
        LEFT JOIN voyageone_cms2.cms_bt_promotion prom ON sku.promotion_id = prom.id
    ) t2 ON t1.promotion_id = t2.promotion_id
    AND t1.num_iid = t2.num_iid
    </select>
    <update id="update_cms_bt_promotion_task" parameterType="HashMap" >
        update voyageone_cms2.cms_bt_task_tejiabao
        <set >
            <if test="synFlg != null" >
                syn_flg = #{synFlg,jdbcType=INTEGER},
            </if>
            <if test="errMsg != null" >
                err_msg = #{errMsg,jdbcType=VARCHAR},
            </if>
            modified = now(),
            <if test="modifier != null" >
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            <if test="promotionId != null">
                promotion_id = #{promotionId,jdbcType=INTEGER}
            </if>
            <if test="taskType != null ">
                and task_type = #{taskType,jdbcType=INTEGER}
            </if>
            <if test="num_iid != null">
                and num_iid = #{num_iid,jdbcType=VARCHAR}
            </if>
        </where>
    </update>
</mapper>
