<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.cms.sql">
    <select id="cms_select_custom_size_prop" parameterType="map" resultType="hashmap">
        SELECT
            custom_size_id,
            custom_prop_id,
            custom_prop_value
        FROM voyageone_cms2.cms_mt_channel_sku_config
        WHERE
            channel_id=#{channel_id}
    </select>
</mapper>