<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.cms.sql">
    <insert id="cms_insertDictWord" parameterType="com.voyageone.ims.modelbean.DictWordBean">
        INSERT INTO
            voyageone_cms2.cms_mt_platform_dict
          (order_channel_id, name, value, creater, modifier)
        VALUES (#{order_channel_id}, #{name}, #{value}, #{creater}, #{modifier})
    </insert>
    <select id="cms_selectDictWords" resultType="com.voyageone.ims.modelbean.DictWordBean" >
        SELECT order_channel_id,
            name,
            value
        FROM voyageone_cms2.cms_mt_platform_dict
    </select>

    <select id="cms_selectDictWordsByName" resultType="com.voyageone.ims.modelbean.DictWordBean" parameterType="Map">
        SELECT order_channel_id,
            name,
            value
        FROM voyageone_cms2.cms_mt_platform_dict
        WHERE
            name = #{name}
        AND
            order_channel_id = #{order_channel_id}
    </select>
</mapper>
