<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.cms.sql">
       <select id="cms_selectInventoryCode" parameterType="String" resultType="com.voyageone.task2.cms.bean.InventoryForCmsBean">
              select aa.order_channel_id channelId,
              aa.code,
              sum(aa.qty_china) qty,
              #{modified} modifier,
              #{modified} creater
              from wms_bt_inventory_center_logic aa
              where aa.order_channel_id = #{order_channel_id}
              group by aa.order_channel_id,aa.`code`;
       </select>


       <resultMap id="SkuInventoryMap" type="com.voyageone.task2.cms.bean.SkuInventoryForCmsBean">
              <result column="order_channel_id" property="channelId" javaType="String" jdbcType="VARCHAR"></result>
              <result column="code" property="code" javaType="String" jdbcType="VARCHAR"></result>
              <result column="sku" property="sku" javaType="String" jdbcType="VARCHAR"></result>
              <result column="qty_china" property="qty" javaType="Integer" jdbcType="INTEGER"></result>
       </resultMap>
       <select id="cms_batchSelectInventory" parameterType="java.util.Map" resultMap="SkuInventoryMap">
              select order_channel_id, code, sku, qty_china
              FROM wms_bt_inventory_center_logic
              <where>
                     <choose>
                            <when test="order_channel_id=='928'">
                                   1=1
                            </when>
                            <otherwise>
                                   order_channel_id = #{order_channel_id}
                            </otherwise>
                     </choose>
                     <if test="codes != null">
                            and code in
                            <foreach item="item" index="index" collection="codes" open="(" separator="," close=")">
                                   #{item}
                            </foreach>
                     </if>
              </where>
              <if test="offset != null">
                LIMIT #{offset}, #{size}
              </if>
       </select>
       <select id="cms_batchSelectInventory2" parameterType="java.util.Map" resultMap="SkuInventoryMap">

              select order_channel_id, code, sku, qty_china
              FROM
                     (
                        select logic.seq
                        FROM wms_bt_inventory_center_logic logic
                            <where>
                                   <choose>
                                          <when test="order_channel_id=='928'">
                                                 1=1
                                          </when>
                                          <otherwise>
                                                 order_channel_id = #{order_channel_id}
                                          </otherwise>
                                   </choose>
                                   <if test="codes != null">
                                          and code in
                                          <foreach item="item" index="index" collection="codes" open="(" separator="," close=")">
                                                 #{item}
                                          </foreach>
                                   </if>
                            </where>
                        LIMIT #{offset}, #{size}
                     ) tmp
              ,wms_bt_inventory_center_logic
              where tmp.seq = wms_bt_inventory_center_logic.seq
       </select>
</mapper>
