<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.cms.sql">

    <!-- 插入item details的数据 -->
    <insert id="wms_bt_item_details_insert" parameterType="HashMap">
        insert into Synship.wms_bt_item_details
        (
            `order_channel_id`,
            `sku`,
            `product_id`,
            `itemcode`,
            `size`,
            `barcode`,
            `is_sale`,
            `client_sku`,
            `active`,
            `creater`,
            `created`,
            `modifier`,
            `modified`

        )
        values
            (#{itemDetailsBean.order_channel_id},
            #{itemDetailsBean.sku},
            #{itemDetailsBean.product_id},
            #{itemDetailsBean.itemcode},
            #{itemDetailsBean.size},
            #{itemDetailsBean.barcode},
            #{itemDetailsBean.is_sale},
            #{itemDetailsBean.client_sku},
            #{itemDetailsBean.active},
            #{taskName},
            NOW(),
            '',
            null
        )
        ;
    </insert>

    <!-- 插入item details的数据 -->
    <update id="wms_bt_item_details_update" parameterType="HashMap">
        update Synship.wms_bt_item_details
        set  `product_id` = #{itemDetailsBean.product_id},
             `itemcode` = #{itemDetailsBean.itemcode},
             `size` = #{itemDetailsBean.size},
             `barcode` = #{itemDetailsBean.barcode},
             `is_sale` = #{itemDetailsBean.is_sale},
             `client_sku` = #{itemDetailsBean.client_sku},
             `active` = #{itemDetailsBean.active},
             `modifier` = #{taskName},
             `modified` = NOW()
        where `order_channel_id` = #{itemDetailsBean.order_channel_id}
          and `sku` = #{itemDetailsBean.sku}
        ;
    </update>

  <!-- 根据sku, 获取item details表的数据 -->
  <select id="wms_bt_item_details_select_by_sku"
          parameterType="HashMap"
          resultType="com.voyageone.task2.cms.bean.ItemDetailsBean">
      select
        order_channel_id,
        sku,
        product_id,
        itemcode,
        size,
        barcode,
        is_sale,
        client_sku,
        active
      from  Synship.wms_bt_item_details
      where order_channel_id = #{channelId}
        and sku = #{sku}
        ;
  </select>

</mapper>