<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.voyageone.cms.sql" >
    <resultMap id="jm_mt_masterResultMap" type="com.voyageone.task2.cms.bean.JmMasterBean" >
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="key" property="key" jdbcType="VARCHAR" />
        <result column="name1" property="name1" jdbcType="VARCHAR" />
        <result column="name2" property="name2" jdbcType="VARCHAR" />
        <result column="name3" property="name3" jdbcType="VARCHAR" />
        <result column="name4" property="name4" jdbcType="VARCHAR" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
        <result column="creater" property="creater" jdbcType="VARCHAR" />
        <result column="modified" property="modified" jdbcType="TIMESTAMP" />
        <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    </resultMap>
    <select id="select_jm_mt_master" resultMap="jm_mt_masterResultMap" >
        select
            code, key, name1, name2, name3, name4, created, creater, modified, modifier
        from jumei.jm_mt_master
    </select>
    <delete id="delete_jm_mt_master" parameterType="String">
        delete from jumei.jm_mt_master
        where code = #{code,jdbcType=VARCHAR}
    </delete>
    <insert id="insert_jm_mt_master" parameterType="com.voyageone.task2.cms.bean.JmMasterBean" >
        insert into jumei.jm_mt_master (code, `key`,
        name1, name2, name3,
        name4, created, creater,
        modified, modifier)
        values
        <foreach collection="list" item="item" index="index"
                 separator=",">
        ( #{item.code,jdbcType=VARCHAR},
          #{item.key,jdbcType=VARCHAR},
          #{item.name1,jdbcType=VARCHAR},
          #{item.name2,jdbcType=VARCHAR},
          #{item.name3,jdbcType=VARCHAR},
          #{item.name4,jdbcType=VARCHAR},
          now(),
          #{item.creater,jdbcType=VARCHAR},
          now(),
          #{item.modifier,jdbcType=VARCHAR})
        </foreach>
    </insert>
</mapper>