<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.cms.sql">

	<!-- 获取所有的ImageKey和包含的数量 -->
	<select id="cms_work_jm_bt_images_getJmPic_ImageKeyGroup" resultType="HashMap">
			SELECT
				image_key imageKey,
				count(1) count,
				max(modified) modified
			FROM
				jumei.jm_bt_images
			WHERE
				syn_flg = 0
			GROUP BY
				image_key
			ORDER BY image_type desc, modified asc
				limit 100
	</select>

	<!-- 获取imageKey的所有未上传图片 -->
	<select id="cms_work_jm_bt_images_getJmPics_ByImgKey" parameterType="String" resultType="com.voyageone.task2.cms.bean.JmPicBean">
		SELECT
			seq,
			channel_id channelId,
			image_key imageKey,
			image_type imageType,
			image_type_extend imageTypeExtend,
			image_index imageIndex,
			origin_url originUrl,
			jm_url jmUrl,
			syn_flg synFlg,
			created,
			creater,
			modified,
			modifier
		FROM
			jumei.jm_bt_images
		WHERE
			syn_flg = 0
		AND image_key =#{imageKey}
		ORDER BY imageType DESC
	</select>

	<!-- 修改聚美图片上传状态 -->
	<update id="cms_work_jm_bt_images_updateJmPic_uploaded" parameterType="HashMap">
		UPDATE jumei.jm_bt_images
		SET jm_url=#{jmUrl},syn_flg = 1,modified = now(),modifier=#{modifier}
		WHERE
		syn_flg = 0
		AND seq = #{seq}
	</update>

	<!-- 修改聚美图片上传状态 -->
	<update id="cms_work_jm_bt_images_updateJmPic_failed_uploaded" parameterType="HashMap">
		UPDATE jumei.jm_bt_images
		SET modified = now(),modifier=#{modifier}
		WHERE
		seq = #{seq}
	</update>

	<!-- 修改产品表图片导入状态 -->
	<update id="cms_work_jm_bt_product_import_updateJmProductImport_uploaded" parameterType="HashMap">
		UPDATE jumei.jm_bt_product_import
		SET syn_flg = 1,modified = now(),modifier=#{modifier}
		WHERE
		syn_flg = 0
		AND product_code =#{imageKey}
		AND channel_id =#{channelId}
	</update>

	<!-- 修改聚美图片上传状态临时表 -->
	<!--<update id="cms_work_jm_bt_images_updateJmPic_temp_uploaded" parameterType="HashMap">
		INSERT INTO jumei.jm_bt_images_upload_temp (
			id,
			channel_id,
			image_key,
			syn_flg,
			created,
			creater,
			modified,
			modifier
		)
		VALUES
			(#{id},#{channelId}, #{imageKey}, 1, now(),#{modifier},now(),#{modifier})
		ON DUPLICATE KEY
		UPDATE syn_flg = 1,modified = now(),modifier=#{modifier}
	</update>-->

</mapper>