<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.cms.sql">
	
	<select id="ims_selectProductPublishByChannelCartCode" parameterType="Map" resultType="com.voyageone.task2.cms.bean.ProductPublishBean">
		SELECT
			product_id,
			channel_id,
			cart_id,
			model_id,
			code,
			is_published,
			cn_group_id,
			publish_product_id,
			publish_product_status,
			main_product_flg,
			quantity_update_type,
			publish_status,
			num_iid,
			publish_datetime,
			publish_faild_comment,
			creater,
			created,
			modifier,
			modified
		FROM voyageone_ims.ims_bt_product
		WHERE channel_id = #{channel_id}
		  AND cart_id = #{cart_id}
		  AND code = #{code}
	</select>

	<insert id="ims_insertProductPublishMini" parameterType="HashMap" >
		INSERT INTO voyageone_ims.ims_bt_product
		(
			channel_id,
			cart_id,
			code,
			num_iid,
			quantity_update_type,
			creater
		)
		VALUES
		(
			#{p.channel_id},
			#{p.cart_id},
			#{p.code},
			#{p.num_iid},
			#{p.quantity_update_type},
			#{creater}
		)
	</insert>

	<update id="ims_updateProductPublishMini" parameterType="HashMap">
		update voyageone_ims.ims_bt_product
		set num_iid = #{p.num_iid},
			quantity_update_type = #{p.quantity_update_type}
		where channel_id = #{p.channel_id}
		  and cart_id = #{p.cart_id}
		  and code = #{p.code}
	</update>

	<!-- 统计前90天订单中的产品数量 -->
	<select id="cms_selectProductOrderCount" resultType="Map"><![CDATA[
		select
			cart_id, order_channel_id channel_id, sku, date, CAST(sum(qty) AS signed) qty
		from
			(
			select a.cart_id, a.parent_order_channel_id order_channel_id, b.sku, DATE_FORMAT(DATE_ADD(a.order_date_time, INTERVAL 8 HOUR), '%Y-%m-%d') AS date, b.quantity_ordered-b.quantity_returned qty
			from oms_bt_order_details b,oms_bt_orders a
			where a.order_number = b.order_number and b.adjustment=0
			and b.`status` not in ('Canceled')
			and (a.order_date_time <= convert_tz(concat(date_format(date_add(CURDATE(), interval -1 day),  '%Y-%m-%d'),' 23:59:59'), '+08:00', '+00:00')
			and convert_tz(concat(date_format(date_add(CURDATE(), interval -90 day),  '%Y-%m-%d'),' 00:00:00'), '+08:00', '+00:00') <= a.order_date_time)
			) sales
		group by cart_id, order_channel_id, sku, date limit #{oIdx},#{oLimit}
	]]></select>

</mapper>
