<div class="vo_modal" ng-init="initialize()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()"><span
                aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <h5 class="modal-title">&nbsp;<i class="fa fa-plus" translate="TXT_SHELVES_TEMPLATE_NEW"></i></h5>
    </div>
    <div class="modal-body wrapper">
        <form role="form" class="form-horizontal" name="shelvesTemplateForm">
            <input type="hidden" name="id" ng-model="modelBean.id" />
            <div class="row form-group">
                <label class="col-sm-3 control-label vo_reqfield" translate="TXT_SHELVES_TEMPLATE_TYPE"></label>
                <div class="col-sm-8">
                    <label class="checkbox-inline" ng-repeat="(key,value) in vm.templateTypes">
                        <input type="radio" name="templateType" required ng-click="selTemplateType()"  ng-model="modelBean.templateType" value="{{key}}"/>{{value}}
                    </label>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-3 control-label vo_reqfield" translate="TXT_VIEW_TYPE"></label>
                <div class="col-sm-8">
                    <label class="checkbox-inline" ng-repeat="(key,value) in vm.clientTypes">
                        <input type="radio" name="clientType" required  ng-model="modelBean.clientType" value="{{key}}"/>{{value}}端
                    </label>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-3 control-label vo_reqfield" translate="TXT_PLATFORM_TYPE"></label>
                <div class="col-sm-8">
                    <label class="checkbox-inline" ng-repeat="cart in vm.carts">
                        <input type="radio" name="cartId" required ng-model="modelBean.cartId" value="{{cart.value}}"/>{{cart.name}}
                    </label>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-3 control-label vo_reqfield" translate="TXT_SHELVES_TEMPLATE_NAME"></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" required  name="templateName"  ng-model="modelBean.templateName" maxlength="255">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-7 col-sm-offset-3">
                    <vo-message target="modelBean.templateName"></vo-message>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-3 control-label" translate="TXT_COMMENT"></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"  name="remark"  ng-model="modelBean.remark" maxlength="255">
                </div>
            </div>

            <div class="row form-group" ng-show="layout">
                <label class="col-sm-3 control-label vo_reqfield" translate="TXT_NUM_PERLINE"></label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" min="1" name="numPerLine"  ng-model="modelBean.numPerLine" maxlength="11">
                </div>
            </div>

            <div class="row form-group">
                <label class="col-sm-3 control-label" translate="TXT_HTML"></label>
            </div>
            <div class="row form-group" ng-show="layout">
                <label class="col-sm-3 control-label" translate="TXT_HTML_HEAD"></label>
                <div class="col-sm-8">
                    <textarea class="form-control" name="htmlHead" ng-model="modelBean.htmlHead" />
                </div>
            </div>
            <div class="row form-group" ng-show="layout">
                <label class="col-sm-3 control-label" translate="TXT_HTML_TITLE"></label>
                <div class="col-sm-8">
                    <textarea class="form-control" name="htmlModuleTitle" ng-model="modelBean.htmlModuleTitle" />
                </div>
            </div>
            <div class="row form-group" ng-show="layout">
                <label class="col-sm-3 control-label" translate="TXT_HTML_SEARCH"></label>
                <div class="col-sm-8">
                    <textarea class="form-control" name="htmlModuleSearch" ng-model="modelBean.htmlModuleSearch" />
                </div>
            </div>
            <div class="row form-group" ng-show="layout">
                <label class="col-sm-3 control-label" translate="TXT_HTML_CLEARFIX"></label>
                <div class="col-sm-8">
                    <textarea class="form-control" name="htmlClearfix1" ng-model="modelBean.htmlClearfix1" />
                </div>
            </div>
            <div class="row form-group" ng-show="layout">
                <label class="col-sm-3 control-label" translate="TXT_HTML_BIG_IMAGE"></label>
                <div class="col-sm-8">
                    <textarea class="form-control" name="htmlBigImage" ng-model="modelBean.htmlBigImage" />
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-3 control-label" translate="TXT_HTML_SMALL_IMAGE"></label>
                <div class="col-sm-8">
                    <textarea class="form-control" name="htmlSmallImage" ng-model="modelBean.htmlSmallImage" />
                </div>
            </div>
            <div class="row form-group" ng-show="layout">
                <label class="col-sm-3 control-label" translate="TXT_HTML_CLEARFIX"></label>
                <div class="col-sm-8">
                    <textarea class="form-control" name="htmlClearfix2" ng-model="modelBean.htmlClearfix2" />
                </div>
            </div>
            <div class="row form-group" ng-show="layout">
                <label class="col-sm-3 control-label" translate="TXT_HTML_FOOT"></label>
                <div class="col-sm-8">
                    <textarea class="form-control" name="htmlFoot" ng-model="modelBean.htmlFoot" />
                </div>
            </div>
            <div class="row form-group" ng-show="single">
                <label class="col-sm-3 control-label" translate="TXT_HTML_LAST_IMAGE"></label>
                <div class="col-sm-8">
                    <textarea class="form-control" name="htmlLastImage" ng-model="modelBean.htmlLastImage" />
                </div>
            </div>
            <div class="row form-group" ng-show="single">
                <label class="col-sm-3 control-label" translate="TXT_HTML_IMAGE_TEMPLATE"></label>
                <div class="col-sm-8">
                    <textarea class="form-control" name="htmlImageTemplate" ng-model="modelBean.htmlImageTemplate" />
                </div>
            </div>

            <!--<div class="row form-group">-->
            <!--<label class="col-sm-3 control-label vo_reqfield" translate="TXT_CHANNEL_CONFIG_TYPE"></label>-->
            <!--<div class="col-sm-8">-->
            <!--<input type="number" ngRequired class="form-control" required name="configType" ng-model="modelBean.configType" />-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="row form-group">-->
            <!--<div class="col-sm-7 col-sm-offset-3">-->
            <!--<vo-message target="channelConfigForm.configType"></vo-message>-->
            <!--</div>-->
            <!--</div>-->
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$dismiss()"><i class="fa fa-remove"></i>&nbsp;取消</button>
        <button class="btn btn-vo" ng-click="editSubmit()" ng-disabled="shelvesTemplateForm.$invalid"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;确认</button>
    </div>
</div>