<div class="wrapper-md" ng-init="initialize()">
	<div class="vo_accordion vo_attr">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><i class="fa fa-reorder"></i>&nbsp;自定义属性管理</h4>
				</div>
				<div class="container-fluid">
					<div class="col-sm-12">
						<div class="col-sm-4">
							<div class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-12 control-label text-left m-l-md">当前XXXXXXXXXXXXXXXXXXXXXXXX一致</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="col-sm-6">
							<div class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-4 control-label">Customize Property</label>
									<div class="col-sm-6">
										<input type="text" class="form-control"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Customize Property Value</label>
									<div class="col-sm-6">
										<input type="text" class="form-control"/>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-4 control-label">自定义属性名称</label>
									<div class="col-sm-6">
										<input type="text" class="form-control"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">自定义属性值</label>
									<div class="col-sm-6">
										<input type="text" class="form-control"/>
									</div>
								</div>
							</div><!-- .form-group -->
						</div>
						<div class="col-sm-12 text-center m-b-sm">
							<div class="form-inline">
								<button class="btn btn-default" ng-click="clear()"><i class="fa fa-remove"></i>&nbsp;清空</button>
								<button class="btn btn-vo" ng-click="search()"><i class="fa fa-search"></i>&nbsp;搜索</button>
							</div><!-- .form-inline -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="box">
		<!--<div class="form-inline pull-right m-t-xs m-r-xs">
			<a href="#/store/custom_translate/" target="_blank"><button class="btn btn-default"> 翻译自定义属性</button></a>
		    <button class="btn btn-default"> 类目自定义属性</button>
		    <button class="btn btn-default">店铺共通自定义属性</button>
		</div>-->
		<div class="custom_ts" style="background:#fff">
			<div class="pull-right m-t-xs m-r-xs" ng-controller="popupCtrl">
			<button ng-click="ctrl.openCategoryMapping(feedCategory.model, popupNewCategory)" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-link"></i> 类目匹配</button>
				<button type="submit" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-plus"></i>&nbsp;请自动添加类目</button>
		</div><!-- .form-inline -->
			<p class="m-l-sm m-t-xs">您当前选择的是：<span>珠宝 / 钻石 / 翡翠 / 黄金 > 彩色宝石 / 贵重宝石</span></p>
		</div>

		<div class="category_drag col-sm-6">
		<div class="category_drag_main">
			<!--<p class="text-center text-vo font-bold">一级类目</p>-->
			<div class="category_drag_list_qh">
				<ul>
					<li><a href="">属性值1 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
					<li><a href="">属性值2 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
					<li><a href="">属性值3 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
					<li><a href="">属性值4 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
					<li><a href="">属性值1 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
					<li><a href="">属性值2 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
					<li><a href="">属性值3 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
					<li><a href="">属性值4 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
					<li><a href="">属性值1 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
					<li><a href="">属性值2 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
					<li><a href="">属性值3 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
					<li><a href="">属性值4 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
					<li><a href="">属性值1 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
					<li><a href="">属性值2 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
					<li><a href="">属性值3 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
					<li><a href="">属性值4 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
					<li><a href="">属性值1 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
					<li><a href="">属性值2 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
					<li><a href="">属性值3 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
				</ul>
			</div>
		</div>
	</div>
		<!--<div class="col-sm-2 text-center m-b">
			<p class="m-t-lg"><a href="#"><i class="glyphicon glyphicon-arrow-left btn-lg"></i></a></p>
			<p><a href="#"><i class="glyphicon glyphicon-arrow-right btn-lg"></i></a></p>
		</div>-->
		<div class="category_drag col-sm-6">
		<div class="category_drag_main">
			<!--<p class="text-center text-vo font-bold">一级类目</p>
            <div class="form-inline text-center">
                <input type="text" placeholder="快速检索" class="form-control" style="width:80%">
                <button type="submit" class="btn btn-vo btn-xxs"><i class="fa fa-search"></i></button>
            </div>-->
			<div class="category_drag_list_qh">
				<!--<div class="form-inline text-center">
					<button type="submit" class="btn btn-success btn-xxs"><i class="glyphicon glyphicon-plus"></i>&nbsp;请自动添加类目</button>
				</div>-->
				<ul>
					<li><a href="">属性值1 <input /><span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
					<li><a href="">属性值2 <input /><span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
					<li><a href="">属性值3 <input /><span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
					<li><a href="">属性值4 <input /><span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
				</ul>
			</div>
		</div>
	</div>
		<div class="col-sm-12 m-t-md text-center">
			<p>
				<a href="#/channel/custom/translate" target="_blank">
					<button class="btn btn-vo btn-sm"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;保存</button>
				</a>
				<a href="#/channel/custom/translate" target="_blank">
					<button class="btn btn-success btn-sm"><i class="fa fa-mortar-board (alias) icon"></i>&nbsp;翻译自定义属性</button>
				</a>
			</p>
		</div>

			<!--<div class="category_drags">
			      <div class="category_drag col-sm-2">
				<div class="category_drag_main">
					<p class="text-center text-vo font-bold">二级类目</p>
					<div class="form-inline text-center">
						<input type="text" placeholder="快速检索" class="form-control" style="width:80%">
						<button type="submit" class="btn btn-vo btn-xxs"><i class="fa fa-search"></i></button>
					</div>
					<div class="category_drag_list">
						<ul>
							<li><a href="#">服装鞋包 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">手机数码 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">服装鞋包 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">手机数码 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="category_drag col-sm-2">
				<div class="category_drag_main">
					<p class="text-center text-vo font-bold">三级类目</p>
					<div class="form-inline text-center">
						<input type="text" placeholder="快速检索" class="form-control" style="width:80%">
						<button type="submit" class="btn btn-vo btn-xxs"><i class="fa fa-search"></i></button>
					</div>
					<div class="category_drag_list">
						<ul>
							<li><a href="#">服装鞋包 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">手机数码 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">服装鞋包 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">手机数码 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="category_drag col-sm-2">
				<div class="category_drag_main">
					<p class="text-center text-vo font-bold">四级类目</p>
					<div class="form-inline text-center">
						<input type="text" placeholder="快速检索" class="form-control" style="width:80%">
						<button type="submit" class="btn btn-vo btn-xxs"><i class="fa fa-search"></i></button>
					</div>
					<div class="category_drag_list">
						<ul>
							<li><a href="#">服装鞋包 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">手机数码 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">服装鞋包 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">手机数码 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="category_drag col-sm-2">
				<div class="category_drag_main">
					<p class="text-center text-vo font-bold">五级类目</p>
					<div class="form-inline text-center">
						<input type="text" placeholder="快速检索" class="form-control" style="width:80%">
						<button type="submit" class="btn btn-vo btn-xxs"><i class="fa fa-search"></i></button>
					</div>
					<div class="category_drag_list">
						<ul>
							<li><a href="#">服装鞋包 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">手机数码 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">服装鞋包 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">手机数码 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="category_drag col-sm-2">
				<div class="category_drag_main">
					<p class="text-center text-vo font-bold">六级类目</p>
					<div class="form-inline text-center">
						<input type="text" placeholder="快速检索" class="form-control" style="width:80%">
						<button type="submit" class="btn btn-vo btn-xxs"><i class="fa fa-search"></i></button>
					</div>
					<div class="category_drag_list">
						<ul>
							<li><a href="#">服装鞋包 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">手机数码 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">服装鞋包 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
							<li><a href="#">手机数码 <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span></a></li>
						</ul>
					</div>
				</div>
			</div></div>-->


	</div>
</div><!-- .col-lg-12 -->