<div class="vo_modal" ng-init="ctrl.init()">
    <form role="form" class="form-horizontal" ng-submit="save()">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()"><span
                    aria-hidden="true"><i class="fa fa-close"></i></span></button>
            <h5 class="modal-title"><i class="glyphicons glyphicons-edit"></i>&nbsp;确认</h5>
        </div>
        <div class="modal-body wrapper">
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label">聚美平台品牌 “耐克” 已与以下Master品牌完成匹配：</label>
                    </div>
                    <div class="form-group">
                        <table class="table table-hover-new vo_table tableWordBreak">
                            <thead>
                            <tr>
                                <th class="mfb-xxt text-center text-nowrap">品牌</th>
                                <th class="mfb-xxt text-center text-nowrap" translate="TXT_MASTER_BRAND"></th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="mfb-xxt text-center">耐克</td>
                                    <td class="mfb-xxt text-center">naike</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <div class="text-warnings col-sm-offset-1 col-sm-9 control-label" >
                            <i class="icon fa fa-bell-o"></i>&nbsp;确定将Master品牌 {{self.brand.masterBrand}} 与聚美平台品牌 “ 耐克 ” 匹配？
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="$dismiss()"><i class="fa fa-remove"></i> {{'BTN_CLOSE' | translate}} </button>
            <button type="submit" class="btn btn-vo" ng-click="ctrl.submitSet()"><i class="glyphicon glyphicon-floppy-disk"></i> {{'BTN_SAVE'|translate}} </button>
        </div>
    </form>
</div>