<div class="vo_modal" ng-init="initialize()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"  ng-click="$close()">
            <span aria-hidden="true"><i class="fa fa-close"></i></span>
        </button>
        <h4 class="panel-title">&nbsp;{{'TXT_PRODUCT_CODE' | translate}}</h4>
    </div>
    <div class="m-t-xs m-b-md">
        <form role="form" class="form-horizontal ng-pristine ng-valid ng-valid-required" name="schemaFrom" style="">
            <div class="form-group">
                <label class="col-sm-3 control-label ng-scope" translate="TXT_CATEGORY">Category</label>
                <div class="col-sm-8">
                    <input class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required" ng-required="true" ng-model="vm.catFullName" disabled="" required="required">
                </div>
            </div><!-- .form-group -->
            <div class="form-group">
                <label class="col-sm-3 control-label vo_reqfield ng-scope" translate="TXT_ATTRIBUTE_ID">Attribute ID</label>
                <div class="col-sm-8">
                    <input class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required" ng-required="true" ng-model="vm.schema.id" ng-disabled="addOrEditFlg == 1" required="required" disabled="disabled">
                </div>
            </div><!-- .form-group -->

            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-8 text-vo ng-binding">
                    <i class="icon fa fa-bell-o"></i>&nbsp;Input Include:English numbers _ .
                </div>
            </div><!-- .form-group -->

            <div class="form-group">
                <label class="col-sm-3 control-label vo_reqfield ng-scope" translate="TXT_ATTRIBUTE_NAME">Attribute Name</label>
                <div class="col-sm-8">
                    <input class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required" ng-required="true" ng-model="vm.schema.name" ng-disabled="addOrEditFlg == 1" required="required" disabled="disabled">
                </div>
            </div><!-- .form-group -->
            <div class="form-group">
                <label class="col-sm-3 control-label vo_reqfield ng-scope" translate="TXT_ATTRIBUTE_TYPE">Attribute Type</label>
                <div class="col-sm-8">
                    <!-- TODO 为什么写死,不同数据库中取 -->
                    <select class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required" ng-model="vm.schema.type" ng-required="true" required="required">
                        <option value="INPUT">input</option>
                        <option value="LABEL">label</option>
                        <option value="SINGLECHECK">singleCheck</option>
                        <option value="MULTICHECK">multiCheck</option>
                        <option value="MULTICOMPLEX">multiComplex</option>
                        <option value="COMPLEX">complex</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$close()"><i class="fa fa-remove"></i>&nbsp;{{'BTN_CANCEL' | translate}}</button>
    </div>
</div><!-- .vo_modal -->