<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.cms.sql">

   <select id="cms_selectBrandByCmsBrand" resultType="String" parameterType="Map">
        SELECT brand_id from voyageone_cms2.cms_mt_brands_mapping
        WHERE
            cms_brand=#{cms_brand}
        AND
            cart_id=#{cart_id}
        AND
            channel_id=#{channel_id}
    </select>
    <!-- 批量插入授权类目表-->
    <insert id="cms_insertBrands">
        insert into voyageone_cms2.cms_mt_brands (channel_id,cart_id,brand_id,brand_name,prop_name,active,created,creater,modified,modifier)
        values
        <foreach collection="brands" item="brand" separator="," >
            (#{order_channel_id},#{cart_id},#{brand.vid},#{brand.name},#{brand.propName},1,now(),#{task_name},now(),#{task_name})
        </foreach>
    </insert>

    <!-- 批量插入授权类目表-->
    <delete id="cms_delBrandsByShop">
        DELETE FROM voyageone_cms2.cms_mt_brands
        WHERE channel_id = #{order_channel_id}
        AND cart_id = #{cart_id}
    </delete>
</mapper>
