<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.cms.sql">

    <!-- 插入主数据（类目匹配）-->
    <insert id="ims_insertCategoryMapping">
        insert into voyageone_ims.ims_mt_category_mapping
            (
                category_id
              , platform_cart_id
              , platform_cid
              , created
              , creater
              , modified
              , modifier
            )
        values
            (
                #{catMapping.categoryId}
              , #{catMapping.platformCartId}
              , #{catMapping.platformCid}
              , now()
              , #{task_name}
              , now()
              , #{task_name}
            );
    </insert>

    <!-- 取出所有主数据（类目匹配）-->
    <select id="ims_selectCategoryMapping" resultType="com.voyageone.batch.ims.modelbean.CategoryMappingBean">
        select
              category_id as categoryId
            , platform_cart_id as platformCartId
            , platform_cid as platformCid
        from
            voyageone_ims.ims_mt_category_mapping
    </select>

    <select id="ims_selectPlatformCidByMasterCategoryId" parameterType="Map" resultType="String">
        SELECT platform_cid
        FROM voyageone_ims.ims_mt_category_mapping
        WHERE category_id = #{category_id}
        AND platform_cart_id= #{cart_id}
    </select>

</mapper>
