<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.cms.sql">

	<!-- 获取指定店铺的所有的自定义翻译(店铺级共通) -->
	<select id="cms_bt_feed_custom_prop_value_select_all_common" parameterType="HashMap" resultType="com.voyageone.batch.cms.bean.FeedCustomPropValueBean">
		select    channel_id
				, feed_cat_path
				, feed_prop_origin
				, feed_prop_translate
		from      voyageone_cms2.cms_bt_feed_custom_prop_value
		where     channel_id = #{channel_id}
		  and     feed_cat_path = '0'
		order by  feed_cat_path
	</select>

	<!-- 获取指定店铺的所有的自定义翻译(非共通) -->
	<select id="cms_bt_feed_custom_prop_value_select_all_not_common" parameterType="HashMap" resultType="com.voyageone.batch.cms.bean.FeedCustomPropValueBean">
		select    channel_id
				, feed_cat_path
				, feed_prop_origin
				, feed_prop_translate
		from      voyageone_cms2.cms_bt_feed_custom_prop_value
		where     channel_id = #{channel_id}
		  and     feed_cat_path != '0'
		order by  feed_cat_path
	</select>

</mapper>