<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.cms.sql">

	<!-- 获取指定店铺的所有的自定义属性(店铺级公共) -->
	<select id="cms_bt_feed_custom_prop_select_all_common" parameterType="HashMap" resultType="com.voyageone.batch.cms.bean.FeedCustomPropBean">
		select    channel_id
				, feed_cat_path
				, feed_prop
				, feed_prop_translate
				, display_order
		from      voyageone_cms2.cms_bt_feed_custom_prop
		where     channel_id = #{channel_id}
		  and     feed_cat_path = '0'
		order by  feed_cat_path, display_order
	</select>

	<!-- 获取指定店铺的所有的自定义属性(非共通) -->
	<select id="cms_bt_feed_custom_prop_select_all_not_common" parameterType="HashMap" resultType="com.voyageone.batch.cms.bean.FeedCustomPropBean">
		select    channel_id
				, feed_cat_path
				, feed_prop
				, feed_prop_translate
				, display_order
		from      voyageone_cms2.cms_bt_feed_custom_prop
		where     channel_id = #{channel_id}
		  and     feed_cat_path != '0'
		order by  feed_cat_path, display_order
	</select>

</mapper>