<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.cms.sql">

	<!-- 取出code级别的库存列表 -->
	<select id="cms_getLogicInventoryByCode" parameterType="String" resultType="com.voyageone.batch.cms.model.InventoryModel">
		select aa.order_channel_id channel_id,
		        aa.code,
		        sum(aa.qty_orgin) qty
		from wms_bt_inventory_center_logic aa
		where aa.order_channel_id = #{order_channel_id}
		group by aa.order_channel_id,aa.`code`;
	</select>

</mapper>