<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.cms.sql">

    <insert id="jm_bt_product_import_insert" parameterType="com.voyageone.batch.cms.model.JmBtProductImportModel" >
        insert into jumei.jm_bt_product_import
              (
              channel_id,
              product_code,
              product_des,
              category_lv4_id,
              brand_id,
              product_name,
              foreign_language_name,
              function_ids,
              syn_flg,
              created,
              creater,
              modified,
              modifier)
        values
            (
              #{channelId,jdbcType=VARCHAR},
              #{productCode,jdbcType=VARCHAR},
              #{productDes,jdbcType=VARCHAR},
              #{categoryLv4Id,jdbcType=INTEGER},
              #{brandId,jdbcType=INTEGER},
              #{productName,jdbcType=VARCHAR},
              #{foreignLanguageName,jdbcType=VARCHAR},
              #{functionIds,jdbcType=VARCHAR},
              #{synFlg,jdbcType=VARCHAR},
              now(),
              #{creater,jdbcType=VARCHAR},
              now(),
              #{modifier,jdbcType=VARCHAR})
    </insert>
    <update id="jm_bt_product_import_update" parameterType="com.voyageone.batch.cms.model.JmBtProductImportModel" >
        update jumei.jm_bt_product_import
        <set >
            <if test="productDes != null" >
                product_des = #{productDes,jdbcType=VARCHAR},
            </if>
            <if test="categoryLv4Id != null" >
                category_lv4_id = #{categoryLv4Id,jdbcType=INTEGER},
            </if>
            <if test="brandId != null" >
                brand_id = #{brandId,jdbcType=INTEGER},
            </if>
            <if test="productName != null" >
                product_name = #{productName,jdbcType=VARCHAR},
            </if>
            <if test="foreignLanguageName != null" >
                foreign_language_name = #{foreignLanguageName,jdbcType=VARCHAR},
            </if>
            <if test="functionIds != null" >
                function_ids = #{functionIds,jdbcType=VARCHAR},
            </if>
            <if test="attribute != null" >
                attribute = #{attribute,jdbcType=VARCHAR},
            </if>
            <if test="addressOfProduce != null" >
                address_of_produce = #{addressOfProduce,jdbcType=VARCHAR},
            </if>
            <if test="synFlg != null" >
                syn_flg = #{synFlg,jdbcType=VARCHAR},
            </if>
                modified = now(),
            <if test="modifier != null" >
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            <if test="channelId != null" >
                channel_id = #{channelId,jdbcType=VARCHAR}
            </if>
            <if test="productCode != null" >
                and product_code = #{productCode,jdbcType=VARCHAR}
            </if>
            <if test="dealId != null" >
                and deal_id = #{dealId,jdbcType=VARCHAR}
            </if>
        </where>
    </update>

</mapper>
