<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.cms.sql">

    <insert id="jm_bt_deal_import_insert" parameterType="com.voyageone.batch.cms.model.JmBtDealImportModel" >
        insert into jumei.jm_bt_deal_import
            (
              channel_id,
              product_code,
              deal_id,
              start_time,
              end_time,
              user_purchase_limit,
              shipping_system_id,
              product_long_name,
              product_medium_name,
              product_short_name,

              search_meta_text_custom,
              syn_flg,
              created,
              creater,
              modified,
              modifier)
        values
            (
              #{channelId,jdbcType=VARCHAR},
              #{productCode,jdbcType=VARCHAR},
              #{dealId,jdbcType=VARCHAR},
              #{startTime,jdbcType=VARCHAR},
              #{endTime,jdbcType=VARCHAR},
              #{userPurchaseLimit,jdbcType=INTEGER},
              #{shippingSystemId,jdbcType=INTEGER},
              #{productLongName,jdbcType=VARCHAR},
              #{productMediumName,jdbcType=VARCHAR},
              #{productShortName,jdbcType=VARCHAR},

              #{searchMetaTextCustom,jdbcType=VARCHAR},
              #{synFlg,jdbcType=INTEGER},
              now(),
              #{creater,jdbcType=VARCHAR},
              now(),
              #{modifier,jdbcType=VARCHAR})
        ON DUPLICATE KEY UPDATE
              start_time = #{startTime,jdbcType=VARCHAR},
              end_time = #{endTime,jdbcType=VARCHAR},
              user_purchase_limit = #{userPurchaseLimit,jdbcType=INTEGER},
              shipping_system_id = #{shippingSystemId,jdbcType=INTEGER},
              product_long_name = #{productLongName,jdbcType=VARCHAR},
              product_medium_name = #{productMediumName,jdbcType=VARCHAR},
              product_short_name = #{productShortName,jdbcType=VARCHAR},
              search_meta_text_custom = #{searchMetaTextCustom,jdbcType=VARCHAR},
              syn_flg = if(syn_flg = 1,0,syn_flg),
              modified = now(),
              modifier = #{modifier,jdbcType=VARCHAR}
    </insert>

  <update id="jm_bt_deal_import_update" parameterType="com.voyageone.batch.cms.model.JmBtDealImportModel" >
    update jumei.jm_bt_deal_import
    <set >
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="userPurchaseLimit != null" >
        user_purchase_limit = #{userPurchaseLimit,jdbcType=INTEGER},
      </if>
      <if test="shippingSystemId != null" >
        shipping_system_id = #{shippingSystemId,jdbcType=INTEGER},
      </if>
      <if test="productLongName != null" >
        product_long_name = #{productLongName,jdbcType=VARCHAR},
      </if>
      <if test="productMediumName != null" >
        product_medium_name = #{productMediumName,jdbcType=VARCHAR},
      </if>
      <if test="productShortName != null" >
        product_short_name = #{productShortName,jdbcType=VARCHAR},
      </if>
      <if test="searchMetaTextCustom != null" >
        search_meta_text_custom = #{searchMetaTextCustom,jdbcType=VARCHAR},
      </if>
      <if test="synFlg != null" >
        syn_flg = #{synFlg,jdbcType=INTEGER},
      </if>
      <if test="jumeiHashId != null" >
        jumei_hash_id = #{jumeiHashId,jdbcType=VARCHAR},
      </if>
        modified = now(),
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    <where>
      <if test="channelId != null" >
        channel_id = #{channelId,jdbcType=VARCHAR}
      </if>
      <if test="productCode != null" >
        and product_code = #{productCode,jdbcType=VARCHAR}
      </if>
      <if test="dealId != null and dealId != ''" >
        and deal_id = #{dealId,jdbcType=VARCHAR}
      </if>
    </where>
  </update>

  <update id="jm_bt_product_import_updateByDealImport" parameterType="com.voyageone.batch.cms.model.JmBtDealImportModel" >
        update jumei.jm_bt_product_import product,
              (SELECT deal.channel_id,
                        deal.product_code,
                        deal.deal_id
              from jumei.jm_bt_deal_import deal
              where deal.channel_id = #{channelId,jdbcType=VARCHAR}
              and deal.created != deal.modified
              and deal.deal_id = #{dealId,jdbcType=VARCHAR}) dealm
        set product.syn_flg = if(product.syn_flg = '2', '1', product.syn_flg),
            product.modified = now(),
            product.modifier = #{modifier,jdbcType=VARCHAR}
        where product.channel_id = dealm.channel_id
            and product.product_code = dealm.product_code
            and product.deal_id = dealm.deal_id
  </update>

</mapper>
