<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.cms.sql">

  <!-- 查找未处理的商品 -->
  <select id="cms_mt_product_attribute_selectTodoList" parameterType="HashMap"
          resultType="com.voyageone.batch.cms.bean.MainPropTodoListBean">
    select
      attr.channel_id channel_id,
      c.category_id category_id,
      m.model_id model_id,
      p.product_id product_id
    from
      (
        select distinct
          attr.channel_id,
          attr.category_url_key,
          attr.model_url_key,
          attr.product_url_key
        from voyageone_cms.cms_mt_product_attribute attr
        where attr.channel_id = #{channel_id}
              and attr.deal_flag = 0 limit 500
      ) attr
      left join voyageone_cms.cms_bt_category c on c.url_key = attr.category_url_key
      left join voyageone_cms.cms_bt_model m on m.url_key = attr.model_url_key
      left join voyageone_cms.cms_bt_product p on p.url_key = attr.product_url_key
	where category_id is not null and model_id is not null and product_id is not null
    ;
  </select>

    <!-- 设置完成标记 -->
    <update id="cms_mt_product_attribute_setFinished" parameterType="HashMap">
        update voyageone_cms.cms_mt_product_attribute attr
        left join voyageone_cms.cms_bt_product p on p.url_key = attr.product_url_key
        set attr.deal_flag = 1
        where attr.channel_id = #{channel_id}
              and p.product_id = #{product_id}
    </update>

    <!-- 根据product id，获取sku列表 -->
    <select id="wms_bt_item_details_selectSkuListFromProductId" parameterType="HashMap"
            resultType="String">
        select sku
        from Synship.wms_bt_item_details
        where order_channel_id = #{channel_id}
          and product_id = #{product_id};
    </select>

    <!-- 一次性获取所有的类目匹配关系（根据channel_id） -->
    <select id="cms_bt_relation_category_selectMainCategoryIdList" parameterType="HashMap"
            resultType="HashMap">
        select relation.category_id category_id,
               relation.parent_category_id parent,
               category.main_category_id main_category_id
        from   voyageone_cms.cms_bt_relation_category relation
        left join voyageone_cms.cms_bt_category_extend category on category.category_id = relation.category_id
        where relation.channel_id = #{channel_id}
        ;
    </select>

    <!-- 查看指定商品是否已经存在于值表 -->
  <select id="ims_mt_prop_value_selectMainValue" parameterType="HashMap"
          resultType="Integer">
    select
      count(1) cnt
    from voyageone_ims.ims_mt_prop_value
    where channel_id = #{channel_id}
          and level = #{level}
          and level_value = #{level_value}
    ;
  </select>

  <!-- 根据类目id，获取主数据的属性 -->
  <select id="ims_mt_prop_selectMainProp" parameterType="HashMap"
          resultType="com.voyageone.batch.cms.bean.ImsPropBean">
    select
       prop_id as propId,
       prop_type as propType,
       parent_prop_id as parentPropId,
       prop_name as propName
     from voyageone_ims.ims_mt_prop
     where category_id = #{category_id}
     order by prop_id asc;
  </select>

  <!-- 根据channel_id和product_id，获取feed的值 -->
  <select id="cms_mt_product_attribute_selectFeed" parameterType="HashMap"
          resultType="com.voyageone.batch.cms.bean.MainPropTodoItemListBean">
    select
      attr.attribute_name,
      attr.attribute_value
    from voyageone_cms.cms_mt_product_attribute attr
      left join voyageone_cms.cms_bt_product p on p.url_key = attr.product_url_key
    where attr.channel_id = #{channel_id}
      and p.product_id = #{product_id}
    ;
  </select>

    <!-- 根据channel_id，获取feed mapping default的值 -->
    <select id="ims_bt_feed_prop_mapping_default_select" parameterType="HashMap"
            resultType="com.voyageone.batch.cms.bean.FeedMappingDefaultBean">
        select
            channel_id,
            prop_name,
            prop_type,
            prop_value
        from voyageone_ims.ims_bt_feed_prop_mapping_default
        where channel_id = #{channel_id}
        ;
    </select>

    <!-- 根据channel_id和main_category_id，获取feed mapping的值 -->
    <select id="ims_bt_feed_prop_mapping_select" parameterType="HashMap"
            resultType="com.voyageone.batch.cms.bean.FeedMappingBean">
        select
            `channel_id`,
            `main_category_id`,
            `prop_id`,
            `conditions`,
            `type`,
            `value`
        from voyageone_ims.ims_bt_feed_prop_mapping
        where channel_id = #{channel_id}
          and main_category_id = #{main_category_id}
        ;
    </select>

    <!-- 根据channel_id和main_category_id，获取ims_bt_sku_prop_mapping的值 -->
    <select id="ims_bt_sku_prop_mapping_select" parameterType="HashMap"
            resultType="com.voyageone.batch.cms.bean.FeedMappingSkuBean">
        select
        `channel_id`,
        `main_category_id`,
        `prop` as `prop_name`,
        `conditions`,
        `type`,
        `value`
        from voyageone_ims.ims_bt_sku_prop_mapping
        where channel_id = #{channel_id}
        and main_category_id = #{main_category_id}
        ;
    </select>

    <!-- 获取ims_bt_prop_value_sku_template的值 -->
    <select id="ims_bt_prop_value_sku_template_select"
            resultType="com.voyageone.batch.cms.bean.PropValueSkuTemplateBean">
        select
          prop_name,
          edit,
          prefix,
          suffix,
          comment
        from voyageone_ims.ims_bt_prop_value_sku_template;
    </select>

    <!-- 获取ims_bt_prop_value_sku的值 -->
    <select id="ims_bt_prop_value_sku_select" parameterType="HashMap"
            resultType="com.voyageone.batch.cms.bean.ImsPropValueSkuBean">
        select
            sku,
            prop_name,
            prop_value,
            order_channel_id
        from voyageone_ims.ims_bt_prop_value_sku
        where order_channel_id = #{order_channel_id}
          and sku = #{sku}
          and prop_name = #{prop_name}
        ;
    </select>

    <!-- 批量插入（第三方平台）类目的Sku的属性的值 -->
    <insert id="ims_insertPropValueSku">
        insert into voyageone_ims.ims_bt_prop_value_sku
        (
            `sku`,
            `prop_name`,
            `prop_value`,
            `order_channel_id`
        ) values
        <foreach collection="imsPropValueSkuBeanList" item="valueBean" separator=",">
            (
            #{valueBean.sku}
            , #{valueBean.prop_name}
            , #{valueBean.prop_value}
            , #{valueBean.order_channel_id}
            )
        </foreach>
    </insert>

    <!-- 批量插入（第三方平台）类目的属性的值 -->
    <insert id="ims_insertPropValue">
        insert into voyageone_ims.ims_mt_prop_value
        (
            `uuid`,
            `channel_id`,
            `level`,
            `level_value`,
            `prop_id`,
            `prop_value`,
            `parent`,
            `created`,
            `creater`,
            `modified`,
            `modifier`
        ) values
        <foreach collection="imsPropValueBeanList" item="valueBean" separator=",">
            (
            #{valueBean.uuid}
            , #{valueBean.channelId}
            , #{valueBean.level}
            , #{valueBean.levelValue}
            , #{valueBean.propId}
            , #{valueBean.propValue}
            , #{valueBean.parent}
            , now()
            , #{task_name}
            , now()
            , #{task_name}
            )
        </foreach>
    </insert>

    <!-- 获取model id 和 主类目 -->
    <select id="cms_bt_model_select_main_category" parameterType="HashMap"
            resultType="HashMap">
        select
             m.model_id as model_id,
             ext.main_category_id as main_category_id,
             ext_cn.main_category_id as main_category_id_cn,
             ext_cn_tm.tm_category_id as tm_category_id,
             ext_cn_jd.jd_category_id as jd_category_id,
             ext.model_id as ext_model_id,
             ext_cn.model_id as ext_cn_model_id,
             ext_cn_tm.model_id as ext_cn_tm_model_id,
             ext_cn_jd.model_id as ext_cn_jd_model_id
         from voyageone_cms.cms_bt_model m
         left join voyageone_cms.cms_bt_model_extend ext on m.model_id = ext.model_id
         left join voyageone_cms.cms_bt_cn_model_extend ext_cn on m.model_id = ext_cn.model_id
         left join voyageone_cms.cms_bt_cn_tm_model_extend ext_cn_tm on m.model_id = ext_cn_tm.model_id
         left join voyageone_cms.cms_bt_cn_jd_model_extend ext_cn_jd on m.model_id = ext_cn_jd.model_id
         where m.channel_id = #{channel_id}
           and m.model_id = #{model_id};
    </select>

    <!-- 根据主类目id，获取各个平台的类目id -->
    <select id="ims_mt_category_mapping_select_by_categoryid" parameterType="HashMap"
            resultType="HashMap">
        select distinct m.category_id as category_id,
                       m.platform_cid as platform_cid,
                       v.platform_id as platform_id
                 from voyageone_ims.ims_mt_category_mapping m
                 left join Synship.viw_com_cart_shop_channel_mapping v on v.cart_id = m.platform_cart_id
                 where m.category_id = #{categoryId}
                ;
    </select>

    <!-- 插入model的主类目_1 -->
    <insert id="cms_bt_model_extend_insert" parameterType="HashMap">
        insert into voyageone_cms.cms_bt_model_extend
         (model_id, channel_id, main_category_id, created, creater)
         values (
               #{model_id}
             , #{channel_id}
             , #{main_category_id}
             , now()
             , #{jobName}
        );
    </insert>

    <!-- 插入model的主类目_2 -->
    <insert id="cms_bt_cn_model_extend_insert" parameterType="HashMap">
        insert into voyageone_cms.cms_bt_cn_model_extend
        (model_id, channel_id, main_category_id, created, creater)
        values (
        #{model_id}
        , #{channel_id}
        , #{main_category_id}
        , now()
        , #{jobName}
        );
    </insert>

    <!-- 更新model的主类目_1 -->
    <update id="cms_bt_model_extend_update" parameterType="HashMap">
        update voyageone_cms.cms_bt_model_extend
         set  main_category_id = #{main_category_id}
            , modified = now()
            , modifier = #{jobName}
         where model_id = #{model_id}
           and channel_id = #{channel_id}
        ;
    </update>

    <!-- 更新model的主类目_2 -->
    <update id="cms_bt_cn_model_extend_update" parameterType="HashMap">
        update voyageone_cms.cms_bt_cn_model_extend
        set  main_category_id = #{main_category_id}
        , modified = now()
        , modifier = #{jobName}
        where model_id = #{model_id}
        and channel_id = #{channel_id}
        ;
    </update>

    <!-- 插入model的平台类目_Tm -->
    <insert id="cms_bt_cn_tm_model_extend_insert" parameterType="HashMap">
        insert into voyageone_cms.cms_bt_cn_tm_model_extend
         (model_id, channel_id, tm_category_id, created, creater)
         values (
               #{model_id}
             , #{channel_id}
             <if test="platform_category_id == null or platform_category_id == ''">
              , null
             </if>
             <if test="platform_category_id != null and platform_category_id != ''">
                 , #{platform_category_id}
             </if>
             , now()
             , #{jobName}
        );
    </insert>

    <!-- 插入model的平台类目_Jd -->
    <insert id="cms_bt_cn_jd_model_extend_insert" parameterType="HashMap">
        insert into voyageone_cms.cms_bt_cn_jd_model_extend
        (model_id, channel_id, jd_category_id, created, creater)
        values (
            #{model_id}
            , #{channel_id}
            <if test="platform_category_id == null or platform_category_id == ''">
                , null
            </if>
            <if test="platform_category_id != null and platform_category_id != ''">
                , #{platform_category_id}
            </if>
            , now()
            , #{jobName}
        );
    </insert>

    <!-- 更新model的平台类目_Tm -->
    <update id="cms_bt_cn_tm_model_extend_update" parameterType="HashMap">
        update voyageone_cms.cms_bt_cn_tm_model_extend
        <if test="platform_category_id == null or platform_category_id == ''">
            set  tm_category_id = null
        </if>
        <if test="platform_category_id != null and platform_category_id != ''">
            set  tm_category_id = #{platform_category_id}
        </if>
            , modified = now()
            , modifier = #{jobName}
         where model_id = #{model_id}
           and channel_id = #{channel_id}
        ;
    </update>

    <!-- 更新model的平台类目_Jd -->
    <update id="cms_bt_cn_jd_model_extend_update" parameterType="HashMap">
        update voyageone_cms.cms_bt_cn_jd_model_extend
        <if test="platform_category_id == null or platform_category_id == ''">
            set  jd_category_id = null
        </if>
        <if test="platform_category_id != null and platform_category_id != ''">
            set  jd_category_id = #{platform_category_id}
        </if>
        , modified = now()
        , modifier = #{jobName}
        where model_id = #{model_id}
        and channel_id = #{channel_id}
        ;
    </update>


</mapper>