<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.cms.sql">
	
	<select id="cms_selectSkuInfoByPropId" parameterType="Map" resultType="com.voyageone.batch.cms.model.PlatformSkuInfoModel">
		SELECT
			cart_id,
			prop_id,
			sku_type
		FROM voyageone_cms2.cms_mt_platform_sku_info
		WHERE prop_id = #{prop_id}
		AND cart_id = #{cart_id}
	</select>

	<insert id="cms_insertSkuInfo">
		INSERT INTO voyageone_cms2.cms_mt_platform_sku_info
		(cart_id, prop_id, sku_type)
		VALUES (#{cart_id}, #{prop_id}, #{sku_type})
	</insert>
	
</mapper>
