<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.ims.sql">

    <!-- 批量删除（第三方平台）类目的属性 -->
    <delete id="ims_deletePlatformProp">
        delete from voyageone_ims.ims_mt_platform_prop
        where platform_prop_hash in (
        <foreach collection="props" item="prop" separator=",">
            #{prop.platformPropHash}
        </foreach>
        )
    </delete>

    <!-- 批量插入（第三方平台）类目的属性 -->
    <insert id="ims_insertPlatformProp">
        insert into voyageone_ims.ims_mt_platform_prop
        (
            platform_prop_hash
            , platform_cart_id
            , platform_cid
            , platform_prop_id
            , platform_prop_path
            , platform_prop_name
            , platform_prop_type
            , platform_prop_value_default
            , parent_prop_hash
            , is_top_prop
            , is_parent
            , is_product
            , content
            , created
            , creater
            , modified
            , modifier
        ) values
          <foreach collection="props" item="prop" separator=",">
            (
              #{prop.platformPropHash}
            , #{prop.platformCartId}
            , #{prop.platformCid}
            , #{prop.platformPropId}
            , #{prop.platformPropPath}
            , #{prop.platformPropName}
            , #{prop.platformPropType}
            , #{prop.platformPropValueDefault}
            , #{prop.parentPropHash}
            , #{prop.isTopProp}
            , #{prop.isParent}
            , #{prop.isProduct}
            , #{prop.content}
            , now()
            , #{task_name}
            , now()
            , #{task_name}
            )
          </foreach>
    </insert>

    <!-- 批量删除（第三方平台）类目的属性的可选项目 -->
    <delete id="ims_deletePlatformPropOption">
        delete from voyageone_ims.ims_mt_platform_prop_option
        where platform_prop_option_hash in (
        <foreach collection="options" item="option" separator=",">
            #{option.platformPropOptionHash}
        </foreach>
        )
    </delete>

    <!-- 批量插入（第三方平台）类目的属性的可选项目 -->
    <insert id="ims_insertPlatformPropOption">
        insert into voyageone_ims.ims_mt_platform_prop_option
        (
            platform_prop_option_hash
            , platform_prop_hash
            , platform_prop_option_name
            , platform_prop_option_value
            , created
            , creater
            , modified
            , modifier
        ) values
        <foreach collection="options" item="option" separator=",">
            (
              #{option.platformPropOptionHash}
            , #{option.platformPropHash}
            , #{option.platformPropOptionName}
            , #{option.platformPropOptionValue}
            , now()
            , #{task_name}
            , now()
            , #{task_name}
            )
        </foreach>
    </insert>

    <!-- 批量删除（第三方平台）类目的属性的规则 -->
    <delete id="ims_deletePlatformPropRule">
        delete from voyageone_ims.ims_mt_platform_prop_rule
        where platform_prop_rule_hash in (
        <foreach collection="rules" item="rule" separator=",">
            #{rule.platformPropRuleHash}
        </foreach>
        )
    </delete>

    <!-- 批量插入（第三方平台）类目的属性的规则 -->
    <insert id="ims_insertPlatformPropRule">
        insert into voyageone_ims.ims_mt_platform_prop_rule
        (
              platform_prop_rule_hash
            , platform_prop_hash
            , platform_prop_rule_id
            , platform_prop_rule_name
            , platform_prop_rule_value
            , platform_prop_rule_unit
            , platform_prop_rule_exProperty
            , platform_prop_rule_url
            , platform_prop_rule_relationship
            , platform_prop_rule_relationship_operator
            , created
            , creater
            , modified
            , modifier
        ) values
        <foreach collection="rules" item="rule" separator=",">
            (
              #{rule.platformPropRuleHash}
            , #{rule.platformPropHash}
            , #{rule.platformPropRuleId}
            , #{rule.platformPropRuleName}
            , #{rule.platformPropRuleValue}
            , #{rule.platformPropRuleUnit}
            , #{rule.platformPropRuleExProperty}
            , #{rule.platformPropRuleUrl}
            , #{rule.platformPropRuleRelationship}
            , #{rule.platformPropRuleRelationshipOperator}
            , now()
            , #{task_name}
            , now()
            , #{task_name}
            )
        </foreach>
    </insert>

    <!-- 查找某平台某分类下所有的产品属性 @Leo -->
    <select id="ims_selectPropsByCId" parameterType="Map" resultType="com.voyageone.batch.ims.modelbean.PlatformPropBean">
        SELECT
            platform_prop_hash as platformPropHash
            , platform_cart_id as platformCartId
            , platform_cid as platformCid
            , platform_prop_id as platformPropId
            , platform_prop_path as platformPropPath
            , platform_prop_name as platformPropName
            , platform_prop_type as platformPropType
            , platform_prop_value_default as platformPropValueDefault
            , parent_prop_hash as parentPropHash
            , is_top_prop as isTopProp
            , is_parent as isParent
            , is_product as isProduct
            , content as content
        FROM voyageone_ims.ims_mt_platform_prop
        WHERE platform_cart_id = #{cart_id}
        AND platform_cid = #{platform_cid}
        AND is_product = #{is_product}
    </select>

    <select id="ims_selectPropMappingByPropHashList" resultType="com.voyageone.batch.ims.modelbean.PropMappingBean">
        SELECT
        prop_mapping.platform_prop_hash as platformPropHash,
        <if test="!is_shop">
            prop_mapping.prop_id as propId,
        </if>
        prop_mapping.mapping_type as mappingType,
        prop_mapping.mapping_value as mappingValue
        FROM
        <choose>
            <when test="is_shop">voyageone_ims.ims_mt_prop_shop_mapping</when>
            <otherwise>voyageone_ims.ims_mt_prop_mapping</otherwise>
        </choose>
         prop_mapping,
        (
        <foreach collection="propHashList" item="propHash" separator=" union">
            (SELECT #{propHash} as prop_hash)
        </foreach>
        ) tempTb
        WHERE
        voyageone_ims.prop_mapping.platform_prop_hash = tempTb.prop_hash
    </select>

    <select id="ims_selectPlatformPropByPropHash" parameterType="Map" resultType="com.voyageone.batch.ims.modelbean.PlatformPropBean">
        SELECT
              platform_prop_hash as platformPropHash
            , platform_cart_id as platformCartId
            , platform_cid as platformCid
            , platform_prop_id as platformPropId
            , platform_prop_path as platformPropPath
            , platform_prop_name as platformPropName
            , platform_prop_type as platformPropType
            , platform_prop_value_default as platformPropValueDefault
            , parent_prop_hash as parentPropHash
            , is_top_prop as isTopProp
            , is_parent as isParent
            , is_product as isProduct
            , content as content
        FROM
            voyageone_ims.ims_mt_platform_prop
        WHERE
            platform_prop_hash = #{platform_prop_hash}
    </select>

    <select id="ims_selectPlatformOptionsByPropHash" parameterType="Map" resultType="com.voyageone.batch.ims.modelbean.PlatformPropOptionBean">
        SELECT
            platform_prop_option_hash AS platformPropOptionHash,
            platform_prop_hash AS platformPropHash,
            platform_prop_option_name AS platformPropOptionName,
            platform_prop_option_value AS platformPropOptionValue
        FROM voyageone_ims.ims_mt_platform_prop_option
        WHERE platform_prop_hash = #{platform_prop_hash}
    </select>

    <select id="ims_selectPlatformPropByPropId" parameterType="Map" resultType="com.voyageone.batch.ims.modelbean.PlatformPropBean">
        SELECT
              platform_prop_hash as platformPropHash
            , platform_cart_id as platformCartId
            , platform_cid as platformCid
            , platform_prop_id as platformPropId
            , platform_prop_path as platformPropPath
            , platform_prop_name as platformPropName
            , platform_prop_type as platformPropType
            , platform_prop_value_default as platformPropValueDefault
            , parent_prop_hash as parentPropHash
            , is_top_prop as isTopProp
            , is_parent as isParent
            , is_product as isProduct
            , content as content
        FROM voyageone_ims.ims_mt_platform_prop
        WHERE platform_prop_id = #{platform_prop_id}
        AND platform_cid = #{platform_cid}
        AND platform_cart_id = #{cart_id}
        AND parent_prop_hash = #{parent_prop_hash}
    </select>
</mapper>
