<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.cms.sql">

    <!-- 批量插入授权类目表-->
    <insert id="ims_insertProps">
        insert into voyageone_ims.ims_mt_prop_properties (cid,is_product,prop_code,prop_content,brand_id,created,creater,modified,modifier)
        values
        <foreach collection="props" item="prop" separator="," >
          (#{prop.cid},#{prop.is_product},#{prop.prop_code},#{prop.prop_content},#{prop.brand_id},now(),#{prop.creater},now(),#{prop.modifier})
        </foreach>

    </insert>

    <select id="ims_select_props_by_category_and_brand" resultType="com.voyageone.batch.ims.modelbean.PropProperties" parameterType="HashMap">
        SELECT
        cid,
        is_product,
        prop_code,
        prop_content,
        brand_id
        FROM
            voyageone_ims.ims_mt_prop_properties
        WHERE
            brand_id=#{brand_id}
        AND
            cid=#{category_id}
        AND
            is_product=#{is_product}
    </select>

</mapper>
