<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.cms.sql">
    <select id="cms_selectInventoryBySku" resultType="com.voyageone.batch.cms.model.SkuInventoryModel" parameterType="Map">
        SELECT
            sku,
            qty_china as inventory
        FROM Synship.wms_bt_inventory_center_logic
        WHERE
            sku in
            <foreach item="sku" index="index" collection="skus" open="(" separator="," close=")">
            #{sku}
            </foreach>
        AND
            order_channel_id = #{channel_id}
    </select>
</mapper>
