<div class="vo_modal" ng-init="ctrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ctrl.cancel()"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <h5 class="modal-title"><i class="fa fa-crosshairs"></i> 平台值匹配</h5>
    </div>
    <h5 class="m-l">主数据类目：{{ctrl.mainCategoryPath}}</h5>
    <h5 class="text-vo m-l">-> 平台类目：{{::ctrl.context.platformCategoryPath}}</h5>
    <div class="p-l-r">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>类型</th>
                    <th>匹配关系</th>
                    <th class="text-right">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>第一套</td>
                    <td><small popover="文本：MASTER.商品介绍 描述图片：MASTER.商品主图" popover-trigger="mouseenter" popover-placement="right">文本：MASTER.商品介绍……</small></td>
                    <td class="form-inline text-right">
                        <button title="编辑" class="btn btn-success btn-xs"><i class="fa fa-pencil"></i></button>
                        <button title="删除" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></button>
                        <button title="上移" class="btn btn-default btn-xs"><i class="fa fa-arrow-up"></i></button>
                        <button title="下移" class="btn btn-default btn-xs"><i class="fa fa-arrow-down"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>第二套</td>
                    <td><small popover="文本：MASTER.商品介绍 描述图片：MASTER.商品主图" popover-trigger="mouseenter" popover-placement="right">文本：MASTER.摘要……</small></td>
                    <td class="form-inline text-right">
                        <button title="编辑" class="btn btn-success btn-xs"><i class="fa fa-pencil"></i></button>
                        <button title="删除" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></button>
                        <button title="上移" class="btn btn-default btn-xs"><i class="fa fa-arrow-up"></i></button>
                        <button title="下移" class="btn btn-default btn-xs"><i class="fa fa-arrow-down"></i></button>
                    </td>
                </tr>

                <tr>
                    <td>第三套</td>
                    <td><small popover="文本：MASTER.商品介绍 描述图片：MASTER.商品主图" popover-trigger="mouseenter" popover-placement="right">文本：MASTER.卖点……</small></td>
                    <td class="form-inline text-right">
                        <button title="编辑" class="btn btn-success btn-xs"><i class="fa fa-pencil"></i></button>
                        <button title="删除" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></button>
                        <button title="上移" class="btn btn-default btn-xs"><i class="fa fa-arrow-up"></i></button>
                        <button title="下移" class="btn btn-default btn-xs"><i class="fa fa-arrow-down"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div ng-controller="popupCtrl">
                <button class="btn btn-sm btn-success btn-addon" ng-click="openColumnMapping()"><i class="fa fa-plus"></i> 添加</button>
            </div>
            <div class="col-sm-12">
            <div class="attribute_top col-sm-6">
                <h5 class="text-vo font-bold">值设定说明：</h5>
                <ul>
                    <li>如果对属性进行了多个值设定，则按照顺序进行显示</li>
                    <li>如果对属性进行了多个值设定，则按照顺序进行显示</li>
                    <li>如果对属性进行了多个值设定，则按照顺序进行显示</li>
                </ul>
            </div>
            <div class="attribute_top col-sm-6">
                <h5 class="text-vo font-bold">输入规则：</h5>
                <ul>
                    <li>valueTypeRule：text</li>
                    <li>minLengthRule：0 </li>
                    <li>maxLengthRule：6</li>
                </ul>
            </div>
        </div>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-default" ng-click="ctrl.cancel()">取消</button>
        <button class="btn btn-vo" ng-click="ctrl.ok()">保存</button>
    </div>
</div><!-- .vo_modal -->