<div class="vo_modal" ng-init="ctrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ctrl.cancel()">
            <span aria-hidden="true"><i class="fa fa-close"></i></span>
        </button>
        <h5 class="modal-title"><i class="fa fa-crosshairs"></i> 简单类型属性匹配</h5>
    </div>
    <h5 class="text-vo m-l">
        <span>{{::ctrl.context.maindata.category.path}}</span>
        <sup><strong>{{'TXT_MASTER_CATEGORY' | translate}}</strong></sup>
        <span class="fa fa-exchange"></span>
    </h5>
    <h5 class="m-l">
        <span>{{::ctrl.context.platform.category.path}}</span>
        <sup><strong>{{'TXT_PLATFORM_CATEGORY' | translate}}</strong></sup>
    </h5>

    <div class="p-l-r form-horizontal">
        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label">
                    <input type="radio" name="radio1" ng-value="false" ng-model="ctrl.selected.fixedValue"/>
                    <span>&nbsp;非固定值</span>
                </label>
            </div>
            <div class="col-sm-10 form-inline">
                <select class="form-control" title="值来源"
                        ng-options="i as i.desc for (k, i) in ctrl.valueFromOptions"
                        ng-model="ctrl.selected.valueFrom"
                        ng-change="ctrl.loadValue()">
                </select>
            </div>
        </div>
        <div class="form-group" ng-repeat="propGroup in ctrl.values">
            <div class="col-sm-10 col-sm-offset-2 form-inline">
                <select search-contains="true" chosen class="form-control" title="可用属性"
                        ng-options="i as (i.name + ' ( ' + i.id + ' )') for i in propGroup.props"
                        ng-model="propGroup.selected"
                        ng-change="ctrl.tryLoadNext($index, propGroup)">
                </select>
            </div>
        </div>
        <div class="form-group" ng-if="ctrl.needMappingOptions">
            <div class="col-sm-10 col-sm-offset-2">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="text-center">Main</th>
                            <th>Platform</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="o in ctrl.selected.value.options">
                            <td class="text-center" style="padding-top:10px">
                                {{::o.displayName}}
                            </td>
                            <td>
                                <select title="属性选择项对应"
                                        ng-model="o.mapping"
                                        ng-options="o.value as o.displayName for o in ctrl.field.options">
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label">
                    <input type="radio" name="radio1" ng-value="true" ng-model="ctrl.selected.fixedValue"/>
                    <span>&nbsp;固定值/文本值</span>
                </label>
            </div>
            <div class="col-sm-8">
                <s-field field="ctrl.field" show-name="false"></s-field>
                <input type="text" class="form-control m-t-xs"
                       ng-if="ctrl.field.type == 'SINGLECHECK'"
                       ng-model="ctrl.field.value.value">
            </div>
        </div>
        <div class="attribute_top">
            <h5 class="text-vo font-bold">词典说明：</h5>
            <ul>
                <li>使用辞典时，显示词典说明</li>
                <li>使用辞典时，显示词典说明</li>
                <li>使用辞典时，显示词典说明</li>
            </ul>
        </div>
        <div class="attribute_top">
            <h5 class="text-vo font-bold">值设定说明：</h5>
            <ul>
                <li>叶子属性匹配的情况下，如果匹配的对象为主属性，则只能匹配叶子属性。</li>
                <li>如果不对属性进行任何值设定，则会使用默认值。</li>
            </ul>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" ng-click="ctrl.cancel()"><i class="fa fa-remove"></i> 取消</button>
        <button class="btn btn-vo" ng-click="ctrl.ok()"><i class="glyphicon glyphicon-floppy-disk"></i> 保存</button>
    </div>
</div>
