<div class="vo_modal" ng-init="ctrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()">
            <span aria-hidden="true"><i class="fa fa-close"></i></span>
        </button>
        <h5 class="modal-title"><i class="glyphicons glyphicons-edit"></i> 切换主商品</h5>
    </div>

    <div class="modal-body wrapper">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row form-group">
                        <div class="col-md-3 text-right">
                            <label class="control-label"><strong>平台</strong></label>
                        </div>
                        <div class="col-md-8">{{ctrl.context.cartName}}</div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3 text-right">
                            <label class="control-label"><strong>平台类目</strong></label>
                        </div>
                        <div class="col-md-8">{{ctrl.context.categoryPath}}</div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3 text-right">
                            <label class="control-label"><strong>平台类目属性</strong></label>
                        </div>
                        <div class="col-md-8">{{ctrl.context.name}}</div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3 text-right">
                            <label class="control-label"><strong>全数据属性大类</strong></label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="ctrl.cat">
                                <option value="">{{'TXT_SELECT_NO_VALUE' | translate}}</option>
                                <option value="master">Master详情(Product详情画面->Master产品详情-产品属)</option>
                                <option value="feed">Feed属性(Product详情画面->Feed详情-共通属性)</option>
                                <option value="custom">自定义属性(Product详情画面->Feed详情-中文部)</option>
                                <option value="fix">固定值</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3 text-right">
                            <label class="control-label"><strong>全数据属性名称</strong></label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control"></select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3 text-right">
                            <label class="control-label"><strong>固定值</strong></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="ctrl.fixValue"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$dismiss()"><i class="fa fa-remove"></i> 取消</button>
        <button class="btn btn-vo" ng-click="ctrl.save()" ><i class="glyphicon glyphicon-floppy-disk"></i> 确定</button>
    </div>
</div>