<div class="vo_modal" ng-init="ctrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()">
            <span aria-hidden="true"><i class="fa fa-close"></i></span>
        </button>
        <h5 class="modal-title"><i class="glyphicons glyphicons-edit"></i>&nbsp;{{"TXT_DEFAULT_PLATEFORM_MAPPING"|translate}}</h5>
    </div>

    <div class="modal-body wrapper">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="row form-group">
                        <div class="col-md-2 text-right">
                            <label class="control-label"><strong>平台</strong></label>
                        </div>
                        <div class="col-md-8">{{ctrl.context.cartName}}</div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2 text-right">
                            <label class="control-label"><strong>平台类目</strong></label>
                        </div>
                        <div class="col-md-8">{{!ctrl.context.categoryPath ? "全类目" : ctrl.context.categoryPath}}</div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2 text-right">
                            <label class="control-label"><strong>平台类目属性</strong></label>
                        </div>
                        <div class="col-md-8">{{ctrl.context.name}}</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container-fluid">
            <div class="row">
                <table class="table table-hover-new table-hover vo_table">
                    <thead>
                    <tr>
                        <th class="mfb-xt text-center">类型</th>
                        <th class="mfb-xt text-center">项目</th>
                        <th class="mfb-xxt text-center">在末尾添加</th>
                        <th class="mfb-xt text-center">顺序</th>
                        <th class="mfb-xt text-center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ctrl.valueArr">
                            <td class="mfb-xt text-center">{{item.type}}</td>
                            <td class="mfb-xt text-center">{{item.value}}</td>
                            <td class="mfb-xxt text-center">
                                    <label>
                                        <input name="{{item.$id}}" type="radio" value="<br>" ng-model="item.append">&nbsp;换行
                                    </label>&nbsp;
                                    <label>
                                        <input name="{{item.$id}}" type="radio" ng-value="' '" ng-model="item.append">&nbsp;空格
                                    </label>&nbsp;
                                    <label>
                                        <input name="{{item.$id}}" type="radio" value="" ng-model="item.append">&nbsp;无
                                    </label>
                            </td>
                            <td class="mfb-xt text-center">
                                <button class="btn btn-default" ng-disabled="$index == 0" ng-click="ctrl.order('up',$index)"><i class="fa fa-arrow-up"></i></button>
                                <button class="btn btn-default" ng-disabled="$index == ctrl.valueArr.length - 1" ng-click="ctrl.order('down',$index)"><i class="fa fa-arrow-down"></i></button>
                            </td>
                            <td class="mfb-xt text-center">
                                <button class="btn btn-success btn-xs" ng-click="ctrl.update(item)"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-danger btn-xs" ng-click="ctrl.remove($index)"><i class="fa  fa-trash-o"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-success pull-left" ng-click="ctrl.openPpPropertySetting()"><i class="fa fa-plus"></i>&nbsp;添加</button>
        <button class="btn btn-default" ng-click="$dismiss()"><i class="fa fa-remove"></i> 取消</button>
        <button class="btn btn-vo" ng-click="ctrl.confirm()"><i class="glyphicon glyphicon-floppy-disk"></i> 确定</button>
    </div>
</div>