<div class="wrapper-md" ng-init="initialize()">
    <div class="vo_accordion vo_attr">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="glyphicon glyphicon-star"></i>
                    <span translate="TXT_PROMOTION_DETAIL"></span></h4>
                </div>
                <div class="container-fluid m-t-sm m-b-md">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="TXT_PROMOTION_NAME"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="vm.promotion.promotionName">
                                    </div>
                                </div>
                                <!--<div class="form-group" >-->
                                    <!--<label class="col-sm-4  control-label" >活动状态</label>-->
                                    <!--<div class="col-sm-7">-->
                                        <!--<select class="form-control" ng-model="vm.promotion.promotionStatus">-->
                                            <!--<option value=false>Open</option>-->
                                            <!--<option value=true>Close</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="TXT_PLATFORM_TYPE"></label>
                                    <div class="col-sm-8">
                                        <label ng-repeat="cart in vm.platformTypeList" class="checkbox-inline c-checkbox">
                                            <input type="radio" name="cartid" ng-model="vm.promotion.cartId"  ng-required="true" value={{cart.value}}>
                                            <span class="fa fa-check"></span> {{cart.name}}
                                        </label>
                                    </div>
                                </div>
                                <!-- .form-group -->
                                <div class="form-group" ng-show="vm.promotion.cartId == 20 || vm.promotion.cartId == 23">
                                    <div class="col-sm-4 control-label"><label class="" translate="TXT_IS_START_TE_JIA_BAO"></label></div>
                                    <div class="col-sm-2">
                                        <div class="onoffswitch">
                                            <input type="checkbox" name="onoffswitch" ng-model="vm.promotion.tejiabao" class="onoffswitch-checkbox" id="myonoffswitch4">
                                            <label class="onoffswitch-label" for="myonoffswitch4">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input class="form-control" ng-if="vm.promotion.tejiabao == true" ng-model="vm.promotion.tejiabaoId" placeholder="{{'TXT_TE_JIA_BAO_ID' | translate}}">
                                    </div><!-- onoff switch -->
                                </div>
                            </form>
                            <!-- .form -->
                        </div>
                        <!--.col -->
                        <div class="col-sm-4">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="TXT_PREHEATING_TIME"></label>
                                    <div class="col-sm-8 form-inline">
                                        <div class="col-sm-5 input-group" >
                                            <input type="text" ng-model="vm.promotion.prePeriodStart" class="form-control" uib-datepicker-popup
                                                   is-open="datePicker1" date-model-format="yyyy-MM-dd" close-text="Close"
                                                   max-date="vm.promotion.prePeriodEnd"/>
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="datePicker1 = !datePicker1"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
                                        </div>&nbsp;~&nbsp;
                                        <div class="col-sm-5 input-group" >
                                            <input type="text" ng-model="vm.promotion.prePeriodEnd" class="form-control" uib-datepicker-popup
                                                   is-open="datePicker2" date-model-format="yyyy-MM-dd" close-text="Close"
                                                   min-date="vm.promotion.prePeriodStart"/>
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="datePicker2 = !datePicker2"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="TXT_PRE_SALE_TIME"></label>
                                    <div class="col-sm-8 form-inline">
                                        <div class="col-sm-5 input-group" >
                                            <input type="text" ng-model="vm.promotion.preSaleStart" class="form-control" uib-datepicker-popup
                                                   is-open="datePicker3" date-model-format="yyyy-MM-dd" close-text="Close"
                                                   max-date="vm.promotion.preSaleEnd"/>
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="datePicker3 = !datePicker3"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
                                        </div>&nbsp;~&nbsp;
                                        <div class="col-sm-5 input-group" >
                                            <input type="text" ng-model="vm.promotion.preSaleEnd" class="form-control" uib-datepicker-popup
                                                   is-open="datePicker4" date-model-format="yyyy-MM-dd" close-text="Close"
                                                   min-date="vm.promotion.preSaleStart"/>
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="datePicker4 = !datePicker4"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="TXT_PROMOTION_TIME"></label>
                                    <div class="col-sm-8 form-inline">
                                        <div class="col-sm-5 input-group" >
                                            <input type="text" ng-model="vm.promotion.activityStart" class="form-control" uib-datepicker-popup
                                                   is-open="datePicker5" date-model-format="yyyy-MM-dd" close-text="Close"
                                                   max-date="vm.promotion.activityEnd"/>
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="datePicker5 = !datePicker5"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
                                        </div>&nbsp;~&nbsp;
                                        <div class="col-sm-5 input-group" >
                                            <input type="text" ng-model="vm.promotion.activityEnd" class="form-control" uib-datepicker-popup
                                                   is-open="datePicker6" date-model-format="yyyy-MM-dd" close-text="Close"
                                                   min-date="vm.promotion.activityStart"/>
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="datePicker6 = !datePicker6"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- .form -->
                        </div>
                        <div class="col-sm-4">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <span class="col-sm-3 control-label">是否锁定</span>

                                    <div class=" col-sm-2 ">
                                        <div class="onoffswitch">
                                            <input type="checkbox" ng-model="errorInfo.status" name="onoffswitch" ng-change="updateFinishStatus(errorInfo.seq)" class="onoffswitch-checkbox" id="myonoffswitch5">
                                            <label class="onoffswitch-label" for="myonoffswitch5">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">检索</label>
                                    <div class="form-inline col-sm-9">
                                        <input type="text" placeholder="{{'TXT_MSG_SEARCH' | translate}}"  ng-model="vm.searchKey"  class="form-control col-sm-8">
                                        <span class="input-group-btn"><button class="btn btn-vo" ng-click="search()" type="button" ><i class="fa fa-search"></i>&nbsp;{{'BTN_SEARCH' | translate}}</button></span>
                                    </div>
                                </div>
                            </form>
                            <!-- .form -->
                        </div>
                        <div class="text-center" ng-if="!vm.promotion.promotionStatus">
                            <div class="col-sm-12">
                                <div class="form-inline" >
                                    <button class="btn btn-default" ng-click="cannelPromotionInfo()"><i class="fa fa-remove"></i>&nbsp;{{'BTN_CANCEL' | translate}}</button>
                                    <button class="btn btn-vo" ng-click="savePromotionInfo()"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;{{'BTN_SAVE' | translate}}</button>
                                </div>
                                <!-- .form-inline -->
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="box">
        <uib-tabset class="tab-container vo_nav-tabs">
            <!--right-btn-->
            <div class="form-inline m-b-xs pull-right" ng-controller="popupCtrl">
                <button class="btn btn-default" ng-click="openImport('md',vm.promotionId,search)"><i
                        class="fa fa-mail-forward"></i>
                    <span translate="BTN_IMPORT_PROMOTION_FILE"></span>
                </button>&nbsp;
                <!-- TODO 暂时未实现 -->
                <!--<button class="btn btn-success">&lt;!&ndash;ng-click="openOtherProgress('lg')"&ndash;&gt;<i class="fa fa-mail-reply"></i> 批量导出</button>-->
                <!--<button class="btn btn-success"><i class="fa fa-refresh"></i> 全部刷新</button>
                <button class="btn btn-danger"><i class="fa fa-warning"></i> 全部停止</button>-->
                <button class="btn btn-default" ng-click="$parent.teJiaBaoInit()"><i class="fa fa-cny"></i>&nbsp;{{'BTN_CREATE_TE_JIA_BAO_TASK' | translate}}</button>
                <button class="btn btn-danger btn-xs" ng-click="delSelPromotion()"><i class="fa fa-trash-o"></i>&nbsp;{{'BTN_DELETE' | translate}}</button>
            </div>
            <!-- /right-btn -->
            <!--tab-->
            <uib-tab>
                <tab-heading ng-click="vm.tabIndex = 0"><i class="glyphicons glyphicons-more-items text-default"></i>
                    {{'TXT_GROUP_LIST' | translate}}
                </tab-heading>
                <div class="table-responsive">
                    <table class="table table-hover vo_models dropdown_table_bk font-bold" style="background:#e67e22;color:#fff">
                        <thead>
                        <tr>
                            <td class="mfb-xxxs text-left" ng-controller="selectRowsCtrl">
                                <label class="checkbox-inline c-checkbox">
                                    <input type="checkbox" ng-click="selectAll(vm.groupSelList)" ng-checked="isAllSelected(vm.groupSelList)" ng-disabled="!vm.groupList.length">
                                    <span class="fa fa-check"></span> {{'TXT_SELECT_ALL' | translate}} </label>
                                <span class="m-l-xxl" translate="TXT_PRIMARY_PRODUCT"></span>
                            </td>
                            <td class="mfb-xxt text-left" translate="TXT_PROMOTION_TAG"></td>
                            <td class="mfb-xxt text-right" translate="TXT_MSRP"></td>
                            <td class="mfb-xxt text-right" translate="TXT_RETAIL_PRICE"></td>
                            <td class="mfb-xxt text-right" translate="TXT_PROMOTION_PRICE"></td>
                            <td class="mfb-xxt text-left" translate="TXT_TIME"></td>
                            <td class="mfb-xxt text-center" translate="TXT_ACTION"></td>
                        </tr>
                        </thead>
                    </table>
                    <div class="col-sm-12 dropdown_table_main box-body" if-no-rows="vm.groupList.length">
                        <table class="table table-hover vo_table vo_models" ng-if="vm.groupList.length">
                            <tbody ng-repeat="group in vm.groupList">
                            <tr class="table_bg_gray">
                                <td colspan="7" class="control-label text-left form-inline">
                                    <label class="checkbox-inline c-checkbox m-r-sm">
                                        <input ng-model="vm.groupSelList.selFlag[group.modelId]" type="checkbox"  ng-controller="selectRowsCtrl"
                                               ng-click="selectOne(group.modelId, vm.groupSelList)">
                                        <span class="fa fa-check"></span>
                                    </label>
                                    <span ng-if = "currentChannelId == '997'" class="label label-yellow-new m-l-md">&nbsp;{{group.channelName}}&nbsp;</span>
									<span class="m-r-sm" ng-if="group.numIid">{{'TXT_NUMBER_IID_WITH_COLON' | translate}}&nbsp;
										<a ng-href="https://detail.tmall.com/item.htm?id={{group.numIid}}" target="_blank"  ng-bind="group.numIid"></a>
									</span>&nbsp;
									<span>{{'TXT_GROUP_NAME_WITH_COLON' | translate}}&nbsp;
										<a ng-href="#/group/detail/{{group.modelId}}" title="{{group.productModel}}"
                                           target="_blank">{{group.productModel | limitTo: 30}}{{group.productModel.length > 30 ? '...' : ''}}
                                        </a>
									</span>&nbsp;
                                    <span class="pull-right">{{'TXT_CATEGORY' | translate}}&nbsp;{{group.catPath}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="mfb-xxxs text-left">
                                    <img src="http://image.sneakerhead.com/is/image/sneakerhead/{{group.image}}"
                                         alt="{{group.productName}}" class="thumb-sm-search pull-left m-r"/>

                                    <div class="table_main pull-left" style="width:60%">
                                        <ul>

                                            <li><a ng-href="#/product/detail/{{group.productId}}" target="_blank" ng-bind="group.productCode"></a></li>
                                            <li><a ng-href="#/product/detail/{{group.productId}}" target="_blank" ng-bind="group.productName"></a></li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="mfb-xxt text-left">{{group.tag}}</td>
                                <td class="mfb-xxt text-right">{{group.msrp | number: 2}}</td>
                                <td class="mfb-xxt text-right">{{group.salePriceMin != group.salePriceMax ? (group.salePriceMin | number: 2) +' ~ '+ (group.salePriceMax | number: 2) : (group.salePriceMin  | number: 2)}}</td>
                                <td class="mfb-xxt text-right">{{group.promotionPriceMin != group.promotionPriceMax ? (group.promotionPriceMin | number: 2) +' ~ '+ (group.promotionPriceMax | number: 2) : (group.promotionPriceMax | number: 2)}}</td>
                                <td class="mfb-xxt text-left"><!-- TODO 显示产品的publish时间未实现-->
                                    <small popover-trigger="mouseenter" popover-placement="left">
                                        <div class="table_main">
                                            <ul>
                                                <li>{{'TXT_CREATE_TIME'| translate}}</li>
                                                <li><span>{{(group.created).substring(0,19)}}</span></li>
                                            </ul>
                                        </div>
                                    </small>
                                </td>
                                <td class="mfb-xxt text-center">
                                    <button class="btn btn-danger btn-xs" ng-click="delPromotionModel(group)"><i
                                            class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12 m-t-xs">
                        <vpagination config="vm.groupPageOption" total="{{vm.groupPageOption.total}}"></vpagination>
                    </div>
                </div>
                <!-- .table-responsive -->
            </uib-tab>
            <uib-tab>
                <tab-heading ng-click="vm.tabIndex = 1"><i class="glyphicons glyphicons-sort text-default"></i>
                    {{'TXT_PRODUCT_LIST' | translate}}
                </tab-heading>
                <!-- Products table and controls -->
                <div class="table-responsive">
                    <table class="table table-hover vo_table vo_models dropdown_table_bk font-bold text-vo" style="background:#e67e22;color:#fff">
                        <thead>
                        <tr ng-controller="selectRowsCtrl">
                            <td class="mfb-xxt"><label class="checkbox-inline c-checkbox">
                                <!--<input type="checkbox" ng-checked="vm.codeSelList.selAllFlag" ng-click="selectAll(vm.codeSelList,'productCode')" ng-disabled="!vm.codeSelList.length">-->
                                <input type="checkbox" ng-click="selectAll(vm.codeSelList)" ng-checked="isAllSelected(vm.codeSelList)" ng-disabled="!vm.codeList.length">
                                <span class="fa fa-check"></span> {{'TXT_SELECT_ALL' | translate}} </label></td>
                            <td class="mfb-xxt text-left" translate="TXT_PROMOTION_TAG"></td>
                            <td class="mfb-xxt text-center" translate="TXT_INVENTORY"></td>
                            <td class="mfb-xxt text-right" translate="TXT_RETAIL_PRICE"></td>
                            <td class="mfb-xxt text-right" translate="TXT_SALE_PRICE"></td>
                            <td class="mfb-xxt text-right" translate="TXT_PROMOTION_PRICE"></td>
                            <td class="mfb-xxx text-left" translate="TXT_BASE_PROPERTY"></td>
                            <td class="mfb-xxt text-center" translate="TXT_SKU_COUNT"></td>
                            <td class="mfb-xxt text-left" translate="TXT_TIME"></td>
                            <td class="mfb-xx text-center" translate="TXT_ACTION"></td>
                        </tr>
                        </thead>
                    </table>
                    <div class="col-sm-12 dropdown_table_main box-body" if-no-rows="vm.codeList.length">
                        <table class="table table-hover vo_table vo_models" ng-if="vm.codeList.length">
                            <tbody ng-repeat="code in vm.codeList">
                            <tr class="table_bg_gray">
                                <td colspan="10" class="control-label text-left form-inline">
                                    <label class="checkbox-inline c-checkbox">
                                        <!--<input type="checkbox"
                                               ng-model="vm.codeSelList.selFlag[code.productCode]"
                                               type="checkbox"
                                               ng-controller="selectRowsCtrl"
                                               ng-click="selectOne(code.productCode, vm.codeSelList, 'productCode')">-->
                                        <input ng-model="vm.codeSelList.selFlag[code.productCode]" type="checkbox" ng-controller="selectRowsCtrl"
                                               ng-click="selectOne(code.productCode, vm.codeSelList)">
                                        <span class="fa fa-check"></span>
                                    </label>
                                    <span class="label label-danger m-t-xs m-l-sm m-r-sm">&nbsp;M&nbsp;</span>
                                    <span ng-if = "currentChannelId == '997'" class="label label-yellow-new m-l-md">&nbsp;{{code.channelName}}&nbsp;</span>
									<span class="m-r-sm" ng-if="code.numIid">{{'TXT_NUMBER_IID_WITH_COLON' | translate}}&nbsp;
										<a ng-href="https://detail.tmall.com/item.htm?id={{code.numIid}}" target="_blank"  ng-bind="code.numIid"></a>
									</span>&nbsp;
										<span class="m-r-sm">{{'TXT_PRODUCT_CODE_WITH_COLON' | translate}}&nbsp;
											<a ng-href="#/product/detail/{{code.productId}}" target="_blank" ng-bind="code.productCode"></a>
										</span>&nbsp;
										<span>{{'TXT_PRODUCT_NAME_WITH_COLON' | translate}}&nbsp;
											<a href="#/product/detail/{{code.productId}}" title="{{code.productName}}"
                                               target="_blank">{{code.productName | limitTo: 30}}{{code.productName.length > 30 ? '...' : ''}}</a>
										</span>
                                    <span class="pull-right">{{'TXT_CATEGORY' | translate}}&nbsp;{{code.catPath}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="mfb-xxt text-center">
                                    <img ng-src="http://image.sneakerhead.com/is/image/sneakerhead/{{code.image}}"
                                         alt="{{code.productName}}" class="thumb-sm-search pull-left m-r"/>
                                </td>
                                <td class="mfb-xxt text-left">{{code.tag}}</td>
                                <td class="mfb-xxt text-center">{{code.inventory}}</td>
                                <td class="mfb-xxt text-right">{{code.retailPrice | number : 2}}</td>
                                <td class="mfb-xxt text-right">{{code.salePrice | number : 2}}</td>
                                <td class="mfb-xxt text-right">
                                    <span class="text-right text-l-t">{{code.msrp | number: 2}}</span>
                                    <p class="">
                                        <input type="text" class="col-sm-1 form-control m-b-xs" ng-model="code.promotionPrice" ng-pattern="/^(\d+)(\.[0-9]{0,2})?$/">
                                    </p>
                                    <p class="text-u-red">
                                        （<span class="text-u-sub"><i class="glyphicon glyphicon-triangle-bottom"></i></span>&nbsp;{{code.msrp-code.promotionPrice | number: 2}})
                                        {{(code.promotionPrice/code.msrp*100).toFixed(2)}}{{'TXT_DISCOUNT_WORD' | translate}}</p>
                                </td>
                                <td class="mfb-xxx text-left">
                                    <div class="table_main">
                                        <!-- TODO 未实现 -->
                                    </div>
                                </td>
                                <td class="mfb-xxt text-center">{{code.skuCount}}</td>
                                <td class="mfb-xxt text-left">
                                    <small popover-trigger="mouseenter" popover-placement="left">
                                        <!-- TODO 未实现pulishtime -->
                                        <div class="table_main">
                                            <ul>
                                                <li>{{'TXT_CREATE_TIME' | translate}}</li>
                                                <li><span>{{(code.created).substring(0,19)}}</span></li>
                                            </ul>
                                        </div>
                                    </small>
                                </td>
                                <td class="mfb-xx text-center">
                                    <button ng-if="code.promotionPrice != code.promotionPriceBak" title="保存"
                                            class="btn btn-vo btn-xs" ng-click="updateCode(code)"><i
                                            class="fa fa-floppy-o"></i></button>
                                    <button class="btn btn-danger btn-xs" ng-click="delPromotionCode(code)"><i
                                            class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12 m-t-xs">
                        <vpagination config="vm.codePageOption" total="{{vm.codePageOption.total}}"></vpagination>
                    </div>
                </div>
                <!-- .table-responsive -->
            </uib-tab>
            <!-- TODO 暂时不显示SKU列表,如果以后需要根据SKU列表来制定 促销价格再放开 -->
            <!--<uib-tab>
                <tab-heading ng-click="vm.tabIndex = 2"><i class="fa fa-list"></i> {{'TXT_SKU_LIST' | translate}}
                </tab-heading>
                <div class="panel vo_panel tab_panel">
                    <div class="table-responsive">
                        <table class="table table-hover vo_table vo_models dropdown_table_bk font-bold" style="background:#e67e22;color:#fff">
                            <thead>
                            <tr>
                                <td class="mfb-xxs">SKU</td>
                                <td class="mfb-xx">Code</td>
                                <td class="mfb-x text-left">Size</td>
                                <td class="mfb-x">Inventory</td>
                                <td class="mfb-x">MSRP</td>
                                <td class="mfb-x text-center">Retail sale</td>
                                <td class="mfb-x text-center">price sale</td>
                                &lt;!&ndash;<td class="mfb-x text-center">Promotion Price</td>&ndash;&gt;
                                &lt;!&ndash;<th class="mfb-xt">Edit</th>&ndash;&gt;
                            </tr>
                            </thead>
                        </table>
                        <div class="col-sm-12 dropdown_table_main">
                            <table if-no-rows="vm.skuList.length" class="table table-hover vo_table vo_models">
                                <tbody>
                                <tr ng-repeat="sku in vm.skuList">
                                    <td class="mfb-xxs">{{sku.productSku}}</td>
                                    <td></td>
                                    &lt;!&ndash;<td  class="mfb-xx">{{(sku.promotionPrice/sku.salePrice*100).toFixed(1)}}折</td>&ndash;&gt;
                                    <td class="mfb-x text-left">{{sku.size}}</td>
                                    <td class="mfb-x"><input type="text" class="col-sm-1 form-control" placeholder="{{sku.qty}}"
                                               popover-placement="left" popover="原始库存：{{sku.qty}}"></td>
                                    <td></td>
                                    <td class="mfb-x text-center">
                                        &lt;!&ndash;<input type="text" class="form-control col-sm-2" popover-placement="left" popover="price retail：1200">&ndash;&gt;
                                        &lt;!&ndash;<button type="button" popover-placement="left" class="btn btn-default btn-xs">{{sku.salePrice}}</button>&ndash;&gt;
                                        {{sku.salePrice}}
                                    </td>
                                    <td class="mfb-x text-center">
                                        &lt;!&ndash;<button type="button" popover-placement="left" class="btn btn-default btn-xs">{{sku.promotionPrice}}</button>&ndash;&gt;
                                        {{sku.promotionPrice}}
                                    </td>
                                    &lt;!&ndash;<td>&ndash;&gt;
                                    &lt;!&ndash;<button title="保存" class="btn btn-success btn-xs"><i class="fa fa-floppy-o"></i></button>&ndash;&gt;
                                    &lt;!&ndash;<button class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></button>&ndash;&gt;
                                    &lt;!&ndash;</td>&ndash;&gt;
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    &lt;!&ndash; .table-responsive &ndash;&gt;

                    <div class="col-sm-12 m-t-xs">
                        <vpagination config="vm.skuPageOption" total="{{vm.skuPageOption.total}}"></vpagination>
                    </div>
                </div>
                &lt;!&ndash; .panel &ndash;&gt;
                <div class="row text-center">
                    <div class="col-sm-12">
                        <div class="form-inline">
                        </div>
                        &lt;!&ndash; .form-inline &ndash;&gt;
                    </div>
                </div>

            </uib-tab>-->
        </uib-tabset>
        <!-- tabset -->
    </div>
    <!-- tabs ng-controller -->
</div><!-- end .wrapper-md -->








