<div class="wrapper-md" ng-init="initialize()">
    <div class="vo_accordion vo_attr">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="glyphicon glyphicon-star"></i>
                    <span translate="TXT_PROMOTION_DETAIL"></span></h4>
                </div>
                <div class="container-fluid m-t-sm m-b-md">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="TXT_PROMOTION_NAME"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="vm.promotion.promotionName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="TXT_PLATFORM_TYPE"></label>
                                    <div class="col-sm-8">
                                        <label ng-repeat="cart in vm.platformTypeList" class="checkbox-inline c-checkbox">
                                            <input type="radio" name="cartid" ng-model="vm.promotion.cartId"  ng-required="true" value={{cart.value}}>
                                            <span class="fa fa-check"></span> {{cart.name}}
                                        </label>
                                    </div>
                                </div>
                                <!-- .form-group -->
                                <div class="form-group"  ng-if="vm.promotion.cartId == 20 || vm.promotion.cartId == 23 || vm.promotion.cartId == 30 || vm.promotion.cartId == 31">
                                    <label class="col-sm-3 control-label " >类型</label>
                                    <div class="col-sm-7 m-t-xs">
                                        <label class="c-radio"  >
                                            <input type="radio"  name="promotionType" class="form-control" ng-model="vm.promotion.promotionType" value=0 required>
                                            <span class="fa fa-check"></span><b>&nbsp;普通</b>
                                        </label>
                                        <label class="c-radio" >
                                            <input type="radio"  name="promotionType" class="form-control" ng-model="vm.promotion.promotionType" value=1 required>
                                            <span class="fa fa-check"></span><b>&nbsp;直降</b>
                                        </label>
                                        <label class="c-radio" >
                                            <input type="radio"  name="promotionType" class="form-control" ng-model="vm.promotion.promotionType" value=2 required>
                                            <span class="fa fa-check"></span><b>&nbsp;特价宝</b>
                                        </label>
                                        <label  ng-if="vm.promotion.promotionType == 2">
                                            <input  disabled class="form-control" ng-model="vm.promotion.tejiabaoId" placeholder="{{'TXT_TE_JIA_BAO_ID' | translate}}">
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="(vm.promotion.cartId == 20 || vm.promotion.cartId == 23 || vm.promotion.cartId == 30 || vm.promotion.cartId == 31) && vm.promotion.promotionType != 0">
                                    <label class="col-sm-3 control-label" >触发机制</label>
                                    <div class="col-sm-7 m-t-xs">
                                        <label class="c-radio"  >
                                            <input type="radio" name="triggerType" class="form-control" ng-model="vm.promotion.triggerType" value=0 required>
                                            <span class="fa fa-check"></span><b>&nbsp;手动</b>
                                        </label>
                                        <label class="c-radio" >
                                            <input type="radio" name="triggerType" class="form-control" ng-model="vm.promotion.triggerType" value=1 required>
                                            <span class="fa fa-check"></span><b>&nbsp;实时</b>
                                        </label>
                                        <label class="c-radio" >
                                            <input type="radio" name="triggerType" class="form-control" ng-model="vm.promotion.triggerType" value=2 required>
                                            <span class="fa fa-check"></span><b>&nbsp;定时</b>
                                        </label>
                                        <div class="col-sm-5 input-group" ng-if="vm.promotion.triggerType == 2">
                                            {{vm.promotion.triggerTime | gmtDate:'yyyy-MM-dd HH:mm:ss'}}
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- .form -->
                        </div>
                        <!--.col -->
                        <div class="col-sm-4">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="TXT_PREHEATING_TIME"></label>
                                    <div class="col-sm-8 form-inline">
                                        <div class="col-sm-5 input-group" >
                                            <input type="text" ng-model="vm.promotion.prePeriodStart" class="form-control" uib-datepicker-popup
                                                   is-open="datePicker1" date-model-format="yyyy-MM-dd" close-text="Close"
                                                   max-date="vm.promotion.prePeriodEnd"/>
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="datePicker1 = !datePicker1"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
                                        </div>&nbsp;~&nbsp;
                                        <div class="col-sm-5 input-group" >
                                            <input type="text" ng-model="vm.promotion.prePeriodEnd" class="form-control" uib-datepicker-popup
                                                   is-open="datePicker2" date-model-format="yyyy-MM-dd" close-text="Close"
                                                   min-date="vm.promotion.prePeriodStart"/>
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="datePicker2 = !datePicker2"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="TXT_PRE_SALE_TIME"></label>
                                    <div class="col-sm-8 form-inline">
                                        <div class="col-sm-5 input-group" >
                                            <input type="text" ng-model="vm.promotion.preSaleStart" class="form-control" uib-datepicker-popup
                                                   is-open="datePicker3" date-model-format="yyyy-MM-dd" close-text="Close"
                                                   max-date="vm.promotion.preSaleEnd"/>
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="datePicker3 = !datePicker3"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
                                        </div>&nbsp;~&nbsp;
                                        <div class="col-sm-5 input-group" >
                                            <input type="text" ng-model="vm.promotion.preSaleEnd" class="form-control" uib-datepicker-popup
                                                   is-open="datePicker4" date-model-format="yyyy-MM-dd" close-text="Close"
                                                   min-date="vm.promotion.preSaleStart"/>
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="datePicker4 = !datePicker4"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" translate="TXT_PROMOTION_TIME"></label>
                                    <div class="col-sm-8 form-inline">
                                        <div class="col-sm-5 input-group" >
                                            <input type="text" ng-model="vm.promotion.activityStart" class="form-control" uib-datepicker-popup
                                                   is-open="datePicker5" date-model-format="yyyy-MM-dd" close-text="Close"
                                                   max-date="vm.promotion.activityEnd"/>
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="datePicker5 = !datePicker5"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
                                        </div>&nbsp;~&nbsp;
                                        <div class="col-sm-5 input-group" >
                                            <input type="text" ng-model="vm.promotion.activityEnd" class="form-control" uib-datepicker-popup
                                                   is-open="datePicker6" date-model-format="yyyy-MM-dd" close-text="Close"
                                                   min-date="vm.promotion.activityStart"/>
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="datePicker6 = !datePicker6"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- .form -->
                        </div>
                        <div class="col-sm-4">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">检索</label>
                                    <div class="form-inline col-sm-9">
                                        <input type="text" placeholder="{{'TXT_MSG_SEARCH' | translate}}"  ng-model="vm.searchKey"  class="form-control col-sm-8">
                                        <span class="input-group-btn"><button class="btn btn-vo" ng-click="search()" type="button" ><i class="fa fa-search"></i>&nbsp;{{'BTN_SEARCH' | translate}}</button></span>
                                    </div>
                                </div>
                            </form>
                            <!-- .form -->
                        </div>
                        <div class="text-center" ng-if="!vm.promotion.promotionStatus">
                            <div class="col-sm-12">
                                <div class="form-inline" >
                                    <button class="btn btn-default" ng-click="cannelPromotionInfo()"><i class="fa fa-remove"></i>&nbsp;{{'BTN_CANCEL' | translate}}</button>
                                    <button class="btn btn-vo" ng-click="savePromotionInfo()"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;{{'BTN_SAVE' | translate}}</button>
                                </div>
                                <!-- .form-inline -->
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="box">
        <uib-tabset class="tab-container vo_nav-tabs">
            <!--right-btn-->
            <div class="form-inline m-b-xs pull-right" ng-controller="popupCtrl">
                <button ng-if="vm.promotion.cartId != 27" class="btn btn-default" ng-click="addPromotionByGroup()"><i
                        class="fa fa-mail-forward"></i>
                    <span>导入Group下的其它商品</span>
                </button>&nbsp;
                <button class="btn btn-default" ng-click="openImport('md',vm.promotionId,search)"><i
                        class="fa fa-mail-forward"></i>
                    <span translate="BTN_IMPORT_PROMOTION_FILE"></span>
                </button>&nbsp;
                <!-- TODO 暂时未实现 -->
                <div class="btn-group dropdown" uib-dropdown=""  >
                    <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                        <i class="glyphicon glyphicon-share-alt"></i>&nbsp;导出&nbsp;<span class="caret"></span>
                    </button>
                    <ul uib-dropdown-menu="" class="ng-scope dropdown-menu">
                        <li><a href="" ng-click="openOtherDownload(vm.promotion)">按上传模板导出</a></li>
                        <li ng-if="vm.promotion.cartId == 23"><a href="" ng-click="openJuhuasuanDownload(vm.promotion)">按聚划算模板导出</a></li>
                        <li ng-if="vm.promotion.cartId == 23"><a href="" ng-click="openTmallDownload(vm.promotion)">按官方活动(A类)模板导出</a></li>
                        <li ><a href="" ng-click="openNewDownload(vm.promotion)">按价格披露模板导出</a></li>
                    </ul>
                </div>
                <button class="btn btn-default" ng-click="$parent.teJiaBaoInit()"><i class="fa fa-cny"></i>&nbsp;{{'BTN_CREATE_TE_JIA_BAO_TASK' | translate}}</button>
                <button class="btn btn-danger btn-xs" ng-click="delSelPromotion()"><i class="fa fa-trash-o"></i>&nbsp;{{'BTN_DELETE' | translate}}</button>
            </div>
            <!-- /right-btn -->
            <!--tab-->
            <uib-tab>
                <tab-heading ng-click="vm.tabIndex = 1"><i class="glyphicons glyphicons-sort text-default"></i>
                    {{'TXT_PRODUCT_LIST' | translate}}
                </tab-heading>
                <div class="table-responsive">
                    <table class="table table-hover vo_table vo_models dropdown_table_bk font-bold text-vo" style="background:#e67e22;color:#fff">
                        <thead>
                        <tr ng-controller="selectRowsCtrl">
                            <td class="mfb-xxt"><label class="checkbox-inline c-checkbox">
                                <input type="checkbox" ng-click="selectAll(vm.codeSelList)" ng-checked="isAllSelected(vm.codeSelList)" ng-disabled="!vm.codeList.length">
                                <span class="fa fa-check"></span> {{'TXT_SELECT_ALL' | translate}} </label></td>
                            <td class="mfb-xxt text-left" translate="TXT_PROMOTION_TAG"></td>
                            <td class="mfb-xxt text-center" translate="TXT_INVENTORY"></td>
                            <td class="mfb-xxt text-right" translate="TXT_RETAIL_PRICE"></td>
                            <td class="mfb-xxt text-right" translate="TXT_SALE_PRICE"></td>
                            <td class="mfb-xxt text-right" translate="TXT_PROMOTION_PRICE"></td>
                            <td class="mfb-xxx text-left" translate="TXT_BASE_PROPERTY"></td>
                            <td class="mfb-xxt text-center" translate="TXT_SKU_COUNT"></td>
                            <td class="mfb-xxt text-left" translate="TXT_TIME"></td>
                            <td class="mfb-xx text-center" translate="TXT_ACTION"></td>
                        </tr>
                        </thead>
                    </table>
                    <div class="col-sm-12 dropdown_table_main box-body" if-no-rows="vm.codeList.length">
                        <table class="table table-hover vo_table vo_models" ng-if="vm.codeList.length">
                            <tbody ng-repeat="code in vm.codeList">
                            <tr class="table_bg_gray">
                                <td colspan="10" class="control-label text-left form-inline">
                                    <label class="checkbox-inline c-checkbox">
                                        <input ng-model="vm.codeSelList.selFlag[code.productCode]" type="checkbox" ng-controller="selectRowsCtrl"
                                               ng-click="selectOne(code.productCode, vm.codeSelList)">
                                        <span class="fa fa-check"></span>
                                    </label>
                                    <span class="label label-danger m-t-xs m-l-sm m-r-sm">&nbsp;M&nbsp;</span>
                                    <span ng-if = "currentChannelId == '997'" class="label label-yellow-new m-l-md">&nbsp;{{code.channelName}}&nbsp;</span>
                                    <span class="m-r-sm" ng-if="code.numIid">{{'TXT_NUMBER_IID_WITH_COLON' | translate}}&nbsp;
										<a ng-href="{{vm.platformUrl}}{{code.numIid}}" target="_blank"  ng-bind="code.numIid"></a>
									</span>&nbsp;
                                    <span class="m-r-sm">{{'TXT_PRODUCT_CODE_WITH_COLON' | translate}}&nbsp;
											<a ng-href="#/product/detail/{{code.productId}}" target="_blank" ng-bind="code.productCode"></a>
										</span>&nbsp;
                                    <span>{{'TXT_PRODUCT_NAME_WITH_COLON' | translate}}&nbsp;
											<a href="#/product/detail/{{code.productId}}" title="{{code.productName}}"
                                               target="_blank">{{code.productName | limitTo: 30}}{{code.productName.length > 30 ? '...' : ''}}</a>
										</span>
                                    <span class="pull-right">{{'TXT_CATEGORY' | translate}}&nbsp;{{code.catPath}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="mfb-xxt text-center">
                                    <img image="{{code.image}}"
                                         alt="{{code.productName}}" class="thumb-sm-search pull-left m-r"/>
                                </td>
                                <td class="mfb-xxt text-left">
                                    <!--ng-model="model.tagNameList"-->
                                    <select multiple chosen class="form-control"  ng-model="code.tagNameList" width="'100%'"   ng-change="codeTagChange(code,{{code.tagNameList}})"
                                            ng-options="m.tagName as m.tagName for m in vm.tagList">
                                    </select>
                                    <!--<select  class="form-control" width="'285px'" ng-change="codeTagChange(code)" ng-model="code.tagId"  ng-options="m.id as m.tagName for m in vm.tagList" >-->
                                    </select>
                                </td>
                                <td class="mfb-xxt text-center">{{code.inventory}}</td>
                                <td class="mfb-xxt text-right">{{getMinMaxPrice(code.minRetailPrice,code.maxRetailPrice)}}</td>
                                <td class="mfb-xxt text-right">{{getMinMaxPrice(code.minSalePrice,code.maxSalePrice)}}</td>
                                <td class="mfb-xxt text-right">
                                    {{getMinMaxPrice(code.minPromotionPrice,code.maxPromotionPrice)}}
                                    <!--<span class="text-right text-l-t">{{code.msrp | number: 2}}</span>-->
                                    <!--<p class="">-->
                                    <!--<input type="text" class="col-sm-1 form-control m-b-xs" ng-model="code.promotionPrice" ng-pattern="/^(\d+)(\.[0-9]{0,2})?$/">-->
                                    <!--</p>-->
                                    <!--<p class="text-u-red">-->
                                    <!--（<span class="text-u-sub"><i class="glyphicon glyphicon-triangle-bottom"></i></span>&nbsp;{{code.msrp-code.promotionPrice | number: 2}})-->
                                    <!--{{(code.promotionPrice/code.msrp*100).toFixed(2)}}{{'TXT_DISCOUNT_WORD' | translate}}</p>-->
                                </td>
                                <td class="mfb-xxx text-left">
                                    <div class="table_main">
                                        <!-- TODO 未实现 -->
                                    </div>
                                </td>
                                <td class="mfb-xxt text-center">
                                    <button class="btn btn-default btn-pop" ng-click="openSetSkuPrice({productCode:code.productCode,productId:code.productId,promotionId:code.promotionId})" ng-controller="popupCtrl">{{code.skuCount}}</button>
                                </td>
                                <td class="mfb-xxt text-left">
                                    <small popover-trigger="mouseenter" popover-placement="left">
                                        <!-- TODO 未实现pulishtime -->
                                        <div class="table_main">
                                            <ul>
                                                <li>{{'TXT_CREATE_TIME' | translate}}</li>
                                                <li><span>{{(code.created).substring(0,19)}}</span></li>
                                            </ul>
                                        </div>
                                    </small>
                                </td>
                                <td class="mfb-xx text-center">
                                    <button ng-if="code.promotionPrice != code.promotionPriceBak||code.isUpdate" title="保存"
                                            class="btn btn-vo btn-xs" ng-click="updateCode(code)"><i
                                            class="fa fa-floppy-o"></i></button>
                                    <button class="btn btn-danger btn-xs" ng-click="delPromotionCode(code)"><i
                                            class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12 m-t-xs">
                        <vpagination config="vm.codePageOption" total="{{vm.codePageOption.total}}"></vpagination>
                    </div>
                </div>
                <!-- .table-responsive -->
            </uib-tab>
            <uib-tab>
                <tab-heading ng-click="vm.tabIndex = 0"><i class="glyphicons glyphicons-more-items text-default"></i>
                    {{'TXT_GROUP_LIST' | translate}}
                </tab-heading>
                <div class="table-responsive">
                    <table class="table table-hover vo_models dropdown_table_bk font-bold" style="background:#e67e22;color:#fff">
                        <thead>
                        <tr>
                            <td class="mfb-xxxs text-left" ng-controller="selectRowsCtrl">
                                <label class="checkbox-inline c-checkbox">
                                    <input type="checkbox" ng-click="selectAll(vm.groupSelList)" ng-checked="isAllSelected(vm.groupSelList)" ng-disabled="!vm.groupList.length">
                                    <span class="fa fa-check"></span> {{'TXT_SELECT_ALL' | translate}} </label>
                                <span class="m-l-xxl" translate="TXT_PRIMARY_PRODUCT"></span>
                            </td>
                            <td class="mfb-xxt text-left" translate="TXT_PROMOTION_TAG"></td>
                            <td class="mfb-xxt text-right" translate="TXT_MSRP"></td>
                            <td class="mfb-xxt text-right" translate="TXT_RETAIL_PRICE"></td>
                            <td class="mfb-xxt text-right" translate="TXT_PROMOTION_PRICE"></td>
                            <td class="mfb-xxt text-left" translate="TXT_TIME"></td>
                            <td class="mfb-xxt text-center" translate="TXT_ACTION"></td>
                        </tr>
                        </thead>
                    </table>
                    <div class="col-sm-12 dropdown_table_main box-body" if-no-rows="vm.groupList.length">
                        <table class="table table-hover vo_table vo_models" ng-if="vm.groupList.length">
                            <tbody ng-repeat="group in vm.groupList">
                            <tr class="table_bg_gray">
                                <td colspan="7" class="control-label text-left form-inline">
                                    <label class="checkbox-inline c-checkbox m-r-sm">
                                        <input ng-model="vm.groupSelList.selFlag[group.productModel]" type="checkbox"  ng-controller="selectRowsCtrl"
                                               ng-click="selectOne(group.productModel, vm.groupSelList)">
                                        <span class="fa fa-check"></span>
                                    </label>
                                    <span ng-if = "currentChannelId == '997'" class="label label-yellow-new m-l-md">&nbsp;{{group.channelName}}&nbsp;</span>
									<span class="m-r-sm" ng-if="group.numIid">{{'TXT_NUMBER_IID_WITH_COLON' | translate}}&nbsp;
										<a ng-href="{{vm.platformUrl}}{{group.numIid}}" target="_blank"  ng-bind="group.numIid"></a>
									</span>&nbsp;
									<span>{{'TXT_MODEL' | translate}}&nbsp;
										<a ng-href="#/group/detail/{{group.modelId}}" title="{{group.productModel}}"
                                           target="_blank">{{group.productModel | limitTo: 30}}{{group.productModel.length > 30 ? '...' : ''}}
                                        </a>
									</span>&nbsp;
                                    <span class="pull-right">{{'TXT_CATEGORY' | translate}}&nbsp;{{group.catPath}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="mfb-xxxs text-left">
                                    <img image="{{group.image}}"
                                         alt="{{group.productName}}" class="thumb-sm-search pull-left m-r"/>

                                    <div class="table_main pull-left" style="width:60%">
                                        <ul>

                                            <li><a ng-href="#/product/detail/{{group.productId}}" target="_blank" ng-bind="group.productCode"></a></li>
                                            <li><a ng-href="#/product/detail/{{group.productId}}" target="_blank" ng-bind="group.productName"></a></li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="mfb-xxt text-left">{{group.tag}}</td>
                                <td class="mfb-xxt text-right">{{getMinMaxPrice(group.minMsrpRmb,group.maxMsrpRmb)}}</td>
                                <td class="mfb-xxt text-right">{{group.salePriceMin != group.salePriceMax ? (group.salePriceMin | number: 2) +' ~ '+ (group.salePriceMax | number: 2) : (group.salePriceMin  | number: 2)}}</td>
                                <td class="mfb-xxt text-right">{{group.promotionPriceMin != group.promotionPriceMax ? (group.promotionPriceMin | number: 2) +' ~ '+ (group.promotionPriceMax | number: 2) : (group.promotionPriceMax | number: 2)}}</td>
                                <td class="mfb-xxt text-left"><!-- TODO 显示产品的publish时间未实现-->
                                    <small popover-trigger="mouseenter" popover-placement="left">
                                        <div class="table_main">
                                            <ul>
                                                <li>{{'TXT_CREATE_TIME'| translate}}</li>
                                                <li><span>{{(group.created).substring(0,19)}}</span></li>
                                            </ul>
                                        </div>
                                    </small>
                                </td>
                                <td class="mfb-xxt text-center">
                                    <button class="btn btn-danger btn-xs" ng-click="delPromotionModel(group)"><i
                                            class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12 m-t-xs">
                        <vpagination config="vm.groupPageOption" total="{{vm.groupPageOption.total}}"></vpagination>
                    </div>
                </div>
            </uib-tab>
            <!-- TODO 暂时不显示SKU列表,如果以后需要根据SKU列表来制定 促销价格再放开 -->

            <!--导出任务-->
            <uib-tab>
                <tab-heading ng-click="vm.tabIndex = 0"><i class="glyphicons glyphicons-more-items text-default"></i>
                    Export 一览
                </tab-heading>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4">
                                    &emsp;
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-pop btn-default" ng-click="exportSearch()">
                                            <i class="fa fa-refresh"></i>&nbsp;刷新
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive box box-body">
                            <table class="table table-hover-new vo_table tableWordBreak dropdown_table_main" ng-style="{'border': vm.exportList.length ? '1px solid #ddd': 'none'}">
                                <thead>
                                <tr>
                                    <th class="text-center mfb-xxt">No.</th>
                                    <th class="text-left mfb-xxt" translate="TXT_EXPORT_FILE_NAME"></th>
                                    <th class="text-left mfb-xxt" translate="TXT_TEMPLATE_TYPE"></th>
                                    <th class="text-left mfb-xxt" translate="TXT_STATUS"></th>
                                    <th class="text-left mfb-xxt" translate="TXT_EXPORT_REQUEST_TIME"></th>
                                    <th class="text-left mfb-xxt" translate="TXT_EXPORT_CREATE_TIME"></th>
                                    <th class="text-left mfb-xxt" translate="TXT_EXPORT_REQUESTER"></th>
                                    <th class="text-center mfb-xxt" translate="TXT_ACTION"></th>
                                </tr>
                                </thead>
                                <tbody ng-if="!vm.exportList.length">
                                <tr>
                                    <td colspan="6"  if-no-rows="vm.exportList.length"></td>
                                </tr>
                                </tbody>
                                <tbody>
                                <tr ng-if="vm.exportList.length > 0" ng-repeat="exportInfo in vm.exportList">
                                    <td class="text-center mfb-xxt">{{$index + 1}}</td>
                                    <td class="text-left mfb-xxt">
                                        <a href="javascript:void(0)" ng-click="downloadExportExcel(exportInfo)">{{exportInfo.fileName}}<br></a>
                                    </td>

                                    <td class="text-left mfb-xxt" ng-if="exportInfo.templateType==0">上传模板</td>
                                    <td class="text-left mfb-xxt" ng-if="exportInfo.templateType==1">聚划算模板</td>
                                    <td class="text-left mfb-xxt" ng-if="exportInfo.templateType==2">官方活动(A类)模板</td>

                                    <td class="text-left mfb-xxt" ng-if="exportInfo.status==0">等待导出</td>
                                    <td class="text-left mfb-xxt" ng-if="exportInfo.status==1">导出成功</td>
                                    <td class="text-left mfb-xxt" ng-if="exportInfo.status==2">导出失败</td>

                                    <td class="text-left mfb-xxt">{{exportInfo.created | gmtDate:'yyyy-MM-dd HH:mm:ss'}}</td><!--exportInfo.modified-->
                                    <td class="text-left mfb-xxt">{{exportInfo.fileName ? exportInfo.modified: '' | gmtDate:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td class="text-left mfb-xxt">{{exportInfo.creater}}</td>
                                    <td class="text-center mfb-xxt">
                                        <button title="下载" ng-disabled="exportInfo.status!=1" ng-click="downloadExportExcel(exportInfo)"
                                                class="btn btn-danger btn-xs"><i class="fa fa-download"></i></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12 m-t-lg m-b-lg">
                            <vpagination config="vm.exportPageOption"></vpagination>
                        </div>
                    </div>
                </div>
            </uib-tab>

        </uib-tabset>
        <!-- tabset -->
    </div>
    <!-- tabs ng-controller -->
</div><!-- end .wrapper-md -->








