<div class="wrapper-md" ng-init="initialize()">
	<uib-accordion class="vo_accordion vo_attr" close-others="oneAtATime">
		<uib-accordion-group is-open="vm.status.open">
			<uib-accordion-heading>
				<i class="glyphicon glyphicon-star"></i>&nbsp;{{'TXT_PROMOTION_LIST' | translate}}
				<i class="pull-right glyphicon glyphicon-menu-down" ng-class="{'glyphicon-menu-up': vm.status.open, 'glyphicon-menu-down': !vm.status.open}"></i>
			</uib-accordion-heading>
			<div class="container-fluid m-t-sm m-b-md">
				<div class="col-sm-12">
					<div class="col-sm-4">
						<div class="form-horizontal">
							<div class="form-group" >
								<label class="col-sm-4  control-label" translate="TXT_PLATFORM_TYPE"></label>
								<div class="col-sm-7">
									<select class="form-control" ng-model="searchInfo.cartId">
										<option value='' translate="TXT_SELECT_NO_VALUE"></option>
										<option ng-repeat="platform in vm.platformTypeList" value={{platform.value}}>{{platform.name}}</option>
									</select>
								</div>
							</div>
							<!--<div class="col-sm-3">-->
							<!--<div class="form-horizontal">-->
							<div class="form-group">
								<label class="col-sm-4 control-label" translate="TXT_CREATE_TIME"></label>
								<div class="col-sm-8 form-inline">
									<div class="col-sm-5 input-group">
										<input type="text" class="form-control" uib-datepicker-popup ng-model="searchInfo.createdStart"
											   max-date="searchInfo.createdEnd" date-model-format="yyyy-MM-dd" is-open="datePicker1" ng-required="true" close-text="Close" />
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="datePicker1 = !datePicker1"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
									</div>&nbsp;~&nbsp;
									<div class="col-sm-5 input-group">
										<input type="text" class="form-control" uib-datepicker-popup ng-model="searchInfo.createdEnd"
											   min-date="searchInfo.createdStart" date-model-format="yyyy-MM-dd" is-open="datePicker2" ng-required="true" close-text="Close" />
								              <span class="input-group-btn">
								                <button type="button" class="btn btn-default" ng-click="datePicker2 = !datePicker2"><i class="glyphicon glyphicon-calendar"></i></button>
								              </span>
									</div>
								</div>
							</div>
							<!--</div>-->
							<!--</div>-->
						</div>
					</div>

					<div class="col-sm-4">
						<div class="form-horizontal">
							<div class="form-group" >
								<label class="col-sm-4  control-label" translate="TXT_PROMOTION_STATUS"></label>
								<div class="col-sm-7">
									<select class="form-control" ng-model="searchInfo.promotionStatus">
										<option value='' translate="TXT_SELECT_NO_VALUE"></option>
										<option ng-repeat="status in vm.promotionStatus" value={{status.value}}>{{status.name}}</option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-4 control-label" translate="TXT_PROMOTION_NAME"></label>
								<div class="col-sm-7">
									<input class="form-control" ng-model="searchInfo.promotionName">
								</div>
							</div>

						</div><!-- .form-group -->
					</div>
					<div class="col-sm-12 text-center m-t-sm" ng-controller="popupCtrl">
						<div class="form-inline">
							<button class="btn btn-default" ng-click="$parent.clear()"><i class="fa fa-remove"></i>&nbsp;{{'BTN_CLEAR' | translate}}</button>
							<button class="btn btn-vo" ng-click="search()"><i class="fa fa-search"></i>&nbsp;{{'BTN_SEARCH' | translate}}</button>
							<button class="btn btn-success" ng-click="openPromotion('md',vm.platformTypeList,null,search)"><i class="fa fa-plus"></i>&nbsp;{{'BTN_NEW_PROMOTION' | translate}}</button>
							<button class="btn btn-success" ng-click="openJmPromotionDetail({search:search})"><i class="fa fa-plus"></i>&nbsp;新增聚美专场</button>
							<button class="btn btn-primary" ng-click="openMrbStock('lg',vm.groupSelList)"><i class="fa fa-plus"></i>&nbsp;{{'TXT_SEPARATE_NEW_TASK'|translate}}</button>
						</div><!-- .form-inline -->
					</div>
				</div>
			</div>
		</uib-accordion-group>
	</uib-accordion>

	<!-- .accordion -->
	<div class="box">
		<div class="box-body-new">
			<table class="table table-hover-new text-center" ng-controller="popupCtrl">
				<thead>
				<tr>
					<th class="text-left mfb-x"><label class="checkbox-inline c-checkbox" ng-controller="selectRowsCtrl">
						{{'TXT_SELECT_ALL' | translate}}&nbsp;</label>
					</th>
					<th class="text-center" translate="TXT_SEQ"></th>
					<th class="text-left" translate="TXT_PROMOTION_NAME"></th>
					<th class="text-left" translate="TXT_STATUS"></th>
					<th class="text-left" translate="TXT_PLATFORM_TYPE"></th>
					<th class="text-left" translate="TXT_PROMOTION_TIME"></th>
					<th class="text-left" translate="TXT_PREHEATING_TIME"></th>
					<th class="text-left" translate="TXT_PRE_SALE_TIME"></th>
					<th class="text-center">操作</th>
					<th class="text-center" translate="TXT_ACTION"></th>
				</tr>
				</thead>
				<tbody ng-if="vm.promotionList.length">
				<tr ng-repeat="promotion in vm.promotionList | filter: {isAllPromotion : 0}">
					<td class="text-left mfb-x">
						<label class="checkbox-inline c-checkbox">
							<input type="checkbox" ng-model="vm.groupSelList.selFlag[promotion.id]" ng-controller="selectRowsCtrl"ng-click="selectOne(promotion.id, vm.groupSelList)">
							<span class="fa fa-check"></span>
						</label>
					</td>
					<td class="text-center">{{promotion.id}}</td>
					<td class="text-left yellowLink">
						<a ng-if="promotion.cartId != '27'" href="#/promotion/detail/{{promotion.id}}" target="_blank">{{promotion.promotionName}}</a>
						<a ng-if="promotion.cartId == '27'" href="#/jm/promotion_detail_list/{{promotion.id}}" target="_blank">{{promotion.promotionName}}</a>
						&nbsp;<span ng-if="promotion.tejiabaoId != 0">({{promotion.tejiabaoId}})</span></td>
					<td class="text-left"><span ng-show="promotion.promotionStatus==false" class="label label-success-new m-r-lg"> Open </span><span ng-show="promotion.promotionStatus==true" class="label label-yellow-new m-r-lg"> Close </span></td>
					<td class="text-left">{{currentChannelId == '997' || promotion.channelId != '997'? promotion.cartName:'US Joi'}}</td>
					<td class="text-left">{{promotion.activityStart | date:'yyyy-MM-dd'}}&nbsp;~&nbsp;{{promotion.activityEnd | date:'yyyy-MM-dd'}}</td>
					<td class="text-left">{{promotion.prePeriodStart | date:'yyyy-MM-dd'}}&nbsp;~&nbsp;{{promotion.prePeriodEnd | date:'yyyy-MM-dd'}}</td>
					<td class="text-left">{{promotion.preSaleStart | date:'yyyy-MM-dd'}}&nbsp;~&nbsp;{{promotion.preSaleEnd | date:'yyyy-MM-dd'}}</td>
					<td class="text-center">
						<div ng-if = "promotion.channelId != 997" class="btn-group" uib-dropdown ng-if="!promotion.promotionStatus">
							<button type="button" class="btn btn-default" uib-dropdown-toggle>
								<i class="fa fa-arrow-circle-right"></i>&nbsp;{{'BTN_CREATE_TASK' | translate}}&nbsp;<span class="caret"></span>
							</button>
							<!--<button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="vm.masterData.promotionList.length < 0">-->
							<!--<span class="caret"></span>-->
							<!--</button>-->
							<ul uib-dropdown-menu>
								<li><a href ng-click="openNewBeatTask({promotion: promotion})" translate="BTN_CREATE_BEAT_TASK"></a></li>
								<li ng-if="promotion.tejiabaoId != 0" ><a href ng-click="teJiaBaoInit(promotion.id)" translate="BTN_CREATE_TE_JIA_BAO_TASK"></a></li>
							</ul>
						</div>
					</td>
					<td class="text-center" ng-controller="popupCtrl">
						<button ng-if="promotion.cartId != '27'" title="{{'BTN_EDIT' | translate}}" class="btn btn-success btn-xs"
								ng-click="openPromotion('md',vm.platformTypeList,promotion,search)"><i class="fa fa-pencil"></i>
						</button>
						<button ng-if = "promotion.cartId == '27'" title="{{'BTN_EDIT' | translate}}" class="btn btn-success btn-xs"
								ng-click="openJmPromotionDetail({search:search})"><i class="fa fa-pencil"></i>
						</button>
						<button ng-if = "currentChannelId == '997' || promotion.channelId != '997'" ng-disabled="promotion.promotionStatus" title="{{'BTN_DELETE' | translate}}" class="btn btn-danger btn-xs"  ng-click="del(promotion)"><i class="fa  fa-trash-o"></i></button>
						<button title="{{'BTN_DOWNLOAD' | translate}}" class="btn btn-dangerdel btn-xs" ng-click="openOtherDownload(promotion)"><i class="fa fa-cloud-download"></i></button>
					</td>
				</tr>
				</tbody>
			</table>
			<div  if-no-rows="vm.promotionList.length"></div>
		</div><!-- /.box-body -->
	</div>
</div><!-- end .wrapper-md -->