<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.batch.synship.sql">
    <insert id="tt_idcard_history_insert" parameterType="com.voyageone.batch.synship.modelbean.IdCardHistory">
        INSERT INTO Synship.tt_idcard_histroy (source_order_id, order_channel_id, ship_phone, ship_name, id_card,
                                               audit_result, reason, function, isSuccess, message, result, ip, create_time,
                                               update_time, create_person, update_person)
        VALUES (#{source_order_id}, #{order_channel_id}, #{ship_phone}, #{ship_name}, #{id_card}, #{audit_result},
                #{reason}, #{function}, #{isSuccess}, #{message}, #{result}, #{ip}, NOW(), NOW(), #{create_person},
                #{update_person})
    </insert>
</mapper>