<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.batch.synship.sql">

    <select id="synShip_selectPreShipChannel" resultType="com.voyageone.batch.synship.modelbean.ReservationBean">
        select
            res.syn_ship_no,
            res.id,
            res.status,
            wms_getShippingMethod(res.order_channel_id,res.order_number,res.id) ship_channel
        from
            tt_reservation res
        where
            res.order_channel_id = #{order_channel_id}
        and res.status = #{status}
        <if test="exceptShipChannelList != null and exceptShipChannelList.size() != 0">
            AND  res.ship_channel not in
            <foreach collection="exceptShipChannelList" item="shipChannel" open="(" separator="," close=")">#{shipChannel}
            </foreach>
        </if>
        and res.ship_channel != wms_getShippingMethod(res.order_channel_id,res.order_number,res.id)
    </select>

    <!--Reservation状态更新 -->
    <update id="synShip_UpdateReservationStatus">
        UPDATE
            tt_reservation
        SET
            status = #{status},
            close_day_flg = #{close_day_flg},
            update_time = now(),
            update_person = #{task_name}
        WHERE
            syn_ship_no = #{syn_ship_no}
        AND
            status not in ('12','13','14','15','16','17')
    </update>

    <!--Reservation状态更新 -->
    <update id="synShip_UpdateReservationByStatus">
        UPDATE
            tt_reservation
        SET
            status = #{status},
            update_time = now(),
            update_person = #{task_name}
        WHERE
            syn_ship_no = #{syn_ship_no}
        AND
            status = #{before_status}
    </update>

    <!--Reservation发货渠道更新 -->
    <update id="synShip_UpdateReservationByShipChannel">
        UPDATE
            tt_reservation
        SET
            ship_channel = #{ship_channel},
            update_time = now(),
            update_person = #{task_name}
        WHERE
            syn_ship_no = #{syn_ship_no}
        AND
            id = #{id}
        AND
            status = #{status}
    </update>


    <!--ReservationLog信息追加 -->
    <insert id="synShip_InsertReservationLog">
        insert into
            wms_bt_reservation_log
        (
            order_channel_id,
            reservation_id,
            store_id,
            order_number,
            sku,
            product,
            res_status,
            ship_channel,
            res_note,
            syn_flg,
            active,
            created,
            creater,
            modified,
            modifier
        )
        (
          SELECT
            order_channel_id,
            id,
            store_id,
            order_number,
            sku,
            product,
            status,
            ship_channel,
            #{res_note},
            '0',
            '1',
            now(),
            #{task_name},
            now(),
            #{task_name}
        FROM tt_reservation
        WHERE syn_ship_no = #{syn_ship_no}
        )
    </insert>

    <!--ReservationLog信息追加 -->
    <insert id="synShip_InsertReservationLogByStatus">
        insert into
          wms_bt_reservation_log
        (
            order_channel_id,
            reservation_id,
            store_id,
            order_number,
            sku,
            product,
            res_status,
            ship_channel,
            res_note,
            syn_flg,
            active,
            created,
            creater,
            modified,
            modifier
        )
        (
        SELECT
            order_channel_id,
            id,
            store_id,
            order_number,
            sku,
            product,
            status,
            ship_channel,
            #{res_note},
            '0',
            '1',
            now(),
            #{task_name},
            now(),
            #{task_name}
        FROM tt_reservation
        WHERE syn_ship_no = #{syn_ship_no}
        AND status = #{status}
        )
    </insert>

    <!--ReservationLog信息追加 -->
    <insert id="synShip_InsertReservationLogByID">
        insert into
          wms_bt_reservation_log
        (
            order_channel_id,
            reservation_id,
            store_id,
            order_number,
            sku,
            product,
            res_status,
            ship_channel,
            res_note,
            syn_flg,
            active,
            created,
            creater,
            modified,
            modifier
        )
        (
            SELECT
            order_channel_id,
            id,
            store_id,
            order_number,
            sku,
            product,
            status,
            ship_channel,
            #{res_note},
            '0',
            '1',
            now(),
            #{task_name},
            now(),
            #{task_name}
        FROM tt_reservation
        WHERE syn_ship_no = #{syn_ship_no}
        AND id = #{id}
        )
    </insert>

    <select id="synShip_selectReservationDatas" resultType="com.voyageone.batch.synship.modelbean.ReservationClientBean">
        SELECT
          shop.shop_name,
          orders.source_order_id,
          res.order_number,
          res.syn_ship_no,
          GROUP_CONCAT(res.sku) as sku,
          GROUP_CONCAT(res.id) as res_id,
          orders.client_order_id,
          ext_orders.seller_order_id,
          orders.ship_name,
          orders.ship_phone,
          orders.order_date_time
        FROM
            tt_reservation res
        INNER JOIN oms_bt_orders orders ON res.order_number = orders.order_number and res.order_channel_id = orders.order_channel_id
        INNER JOIN tm_channel_shop shop ON shop.order_channel_id= res.order_channel_id and shop.cart_id = res.cart_id
        LEFT JOIN `oms_bt_ext_orders` `ext_orders` ON res.`order_number` = ext_orders.`order_number`	AND res.`order_channel_id` = ext_orders.`order_channel_id`
        WHERE
            res.order_channel_id = #{order_channel_id}
        AND res. STATUS = #{status}
        GROUP BY res.order_number
     </select>

    <select id="synShip_selectReservationDatasByShop" resultType="com.voyageone.batch.synship.modelbean.ReservationClientBean">
        SELECT
            shop.shop_name,
            orders.source_order_id,
            res.order_number,
            res.syn_ship_no,
            res.order_channel_id,
            res.cart_id,
            GROUP_CONCAT(res.sku) as sku,
            GROUP_CONCAT(res.id) as res_id,
            orders.client_order_id,
            orders.ship_name,
            orders.ship_phone,
            orders.order_date_time,
            cainiao.taobao_logistics_id,
            res.status
        FROM
            tt_reservation res,
            tm_channel_shop shop,
            oms_bt_orders orders
            left join tt_cainiao_order cainiao on orders.source_order_id = cainiao.source_order_id
        WHERE
            res.order_channel_id = #{order_channel_id}
        AND res.cart_id = #{cart_id}
        AND res. STATUS = #{status}
        AND res.order_number = orders.order_number
        AND res.order_channel_id = orders.order_channel_id
        AND shop.order_channel_id= res.order_channel_id
        AND shop.cart_id = res.cart_id
        GROUP BY res.order_number
    </select>

    <select id="synShip_selectCancelReservationDatasByShop" resultType="com.voyageone.batch.synship.modelbean.ReservationClientBean">
        SELECT
            shop.shop_name,
            orders.source_order_id,
            res.order_number,
            res.syn_ship_no,
            res.order_channel_id,
            res.cart_id,
            GROUP_CONCAT(res.sku) as sku,
            GROUP_CONCAT(res.id) as res_id,
            orders.client_order_id,
            orders.ship_name,
            orders.ship_phone,
            orders.order_date_time,
            cainiao.taobao_logistics_id,
            res.status
        FROM
            tt_reservation res,
            tm_channel_shop shop,
            oms_bt_ext_orders ext_orders,
            oms_bt_orders orders
            left join tt_cainiao_order cainiao on orders.source_order_id = cainiao.source_order_id
        WHERE
            res.order_channel_id = #{order_channel_id}
        AND res.cart_id = #{cart_id}
        AND res. STATUS = #{status}
        AND res.order_number = orders.order_number
        AND res.order_channel_id = orders.order_channel_id
        AND shop.order_channel_id= res.order_channel_id
        AND shop.cart_id = res.cart_id
        AND res.order_number = ext_orders.order_number
        AND ext_flg3 = 0
        GROUP BY res.order_number
    </select>

    <!--Reservation状态更新 -->
    <update id="synShip_UpdateReservationBySynshipno">
        UPDATE
        tt_reservation
        SET
        status = #{status},
        update_time = now(),
        update_person = #{task_name}
        WHERE
        syn_ship_no = #{syn_ship_no}
        and id in
        <foreach item="item" index="index" collection="longResids"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>


    <!--ReservationLog信息追加 -->
    <insert id="synShip_InsertReservationLogByInID">
        insert into
        wms_bt_reservation_log
        (
        order_channel_id,
        reservation_id,
        store_id,
        order_number,
        sku,
        product,
        res_status,
        ship_channel,
        res_note,
        syn_flg,
        active,
        created,
        creater,
        modified,
        modifier
        )
        (
        SELECT
        order_channel_id,
        id,
        store_id,
        order_number,
        sku,
        product,
        status,
        ship_channel,
        #{res_note},
        '0',
        '1',
        now(),
        #{task_name},
        now(),
        #{task_name}
        FROM tt_reservation
        WHERE syn_ship_no = #{syn_ship_no}
        and id in
        <foreach item="item" index="index" collection="longResids"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        )
    </insert>
</mapper>