<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.batch.synship.sql">


    <select id="synShip_getSyncTracking" resultType="com.voyageone.batch.synship.modelbean.TrackingSyncBean">
        SELECT
            trackingSync.*
        FROM
            (SELECT
                orders.syn_ship_no,
                omsOrders.order_number,
                omsOrders.source_order_id,
                omsOrders.order_channel_id,
                omsOrders.cart_id,
                orders.send_tracking_flg,
                (SELECT
                    concat(mapping.tracking_type,',',mapping.tracking_no)
                FROM
                    tt_res_tracking mapping,
                    tt_tracking tracking
                WHERE
                    mapping.tracking_type = tracking.tracking_type
                    AND mapping.tracking_no = tracking.tracking_no
                    AND (tracking.use_flg = '1')
                    AND mapping.syn_ship_no = orders.syn_ship_no
                 ORDER BY tracking.create_time desc limit 1) tracking_info
            FROM
                oms_bt_orders omsOrders,
                tt_orders orders
            WHERE
                omsOrders.order_channel_id = #{order_channel_id}
            AND omsOrders.cart_id = #{cart_id}
            AND omsOrders.order_channel_id = orders.order_channel_id
            AND omsOrders.order_number = orders.order_number
            AND omsOrders.order_kind = '0'
            AND EXISTS (SELECT
                            1
                          FROM
                            tm_task_control task
                          WHERE
                            task.task_id = #{task_name}
                          AND task.cfg_name = 'order_channel_id'
                          AND task.cfg_val1 = #{order_channel_id})
            AND (orders.send_tracking_flg = '0'
                 OR (orders.send_tracking_flg ='5'
                    AND EXISTS (SELECT
                                    1
                                  FROM
                                    tt_reservation res
                                  WHERE
                                    res.status IN ('16','17')
                                  AND res.syn_ship_no = orders.syn_ship_no)))) trackingSync
        WHERE trackingSync.tracking_info  IS NOT NULL
        LIMIT #{limit};
    </select>

    <select id="synShip_getSimSyncTracking" resultType="com.voyageone.batch.synship.modelbean.TrackingSyncBean">
        SELECT
            orders.syn_ship_no,
            omsOrders.order_number,
            omsOrders.source_order_id,
            omsOrders.order_channel_id,
            omsOrders.cart_id,
            orders.send_tracking_flg,
            '' as tracking_info,
            '' as tracking_type,
            '' as tracking_no
        FROM
            oms_bt_orders omsOrders,
            tt_orders orders
        WHERE
            omsOrders.order_channel_id = #{order_channel_id}
        AND omsOrders.cart_id = #{cart_id}
        AND omsOrders.order_channel_id = orders.order_channel_id
        AND omsOrders.order_number = orders.order_number
        AND EXISTS (SELECT
                        1
                      FROM
                        tm_task_control task
                      WHERE
                        task.task_id = #{task_name}
                      AND task.cfg_name = 'order_channel_id'
                      AND task.cfg_val1 = #{order_channel_id})
        AND orders.send_tracking_flg = '0'
        AND orders.order_status not in ('96','97','98','99')
        LIMIT #{limit};
    </select>

    <update id="synShip_UpdateSyncTracking">
        UPDATE
            tt_orders
        SET
            send_tracking_flg = #{send_tracking_flg},
            update_time = #{update_time},
            update_person = #{update_person}
        WHERE
            syn_ship_no = #{syn_ship_no}
    </update>

    <select id="synShip_getTracking" resultType="com.voyageone.batch.synship.modelbean.TrackingBean">
        SELECT
          *
        FROM
            tt_tracking
        WHERE
          order_channel_id = #{order_channel_id}
        AND
          tracking_type = #{tracking_type}
        AND
          tracking_no = #{tracking_no}
        AND
          syn_ship_no = #{syn_ship_no}
    </select>

    <!-- Tracking信息追加 -->
    <insert id="synShip_InsertTracking">
        insert into
          tt_tracking
        (
            syn_ship_no,
            order_channel_id,
            tracking_no,
            tracking_type,
            sim_order_num,
            tracking_kind,
            tracking_area,
            status,
            clear_port_flg,
            use_flg,
            weight_kg,
            weight_lb,
            tracking_fee,
            tracking_cost,
            main_flg,
            sender_code,
            receiver_code,
            sent_kd100_poll_flg,
            sent_kd100_poll_time,
            sent_kd100_poll_count,
            sent_kd100_flg,
            print_type,
            create_time,
            update_time,
            create_person,
            update_person
        )
        (
          SELECT
            #{syn_ship_no},
            #{order_channel_id},
            #{tracking_no},
            #{tracking_type},
            #{sim_order_num},
            #{tracking_kind},
            #{tracking_area},
            #{status},
            #{clear_port_flg},
            #{use_flg},
            #{weight_kg},
            #{weight_lb},
            #{tracking_fee},
            #{tracking_cost},
            #{main_flg},
            #{sender_code},
            #{receiver_code},
            #{sent_kd100_poll_flg},
            #{sent_kd100_poll_time},
            #{sent_kd100_poll_count},
            #{sent_kd100_flg},
            #{print_type},
            #{create_time},
            #{update_time},
            #{create_person},
            #{update_person}
        )
    </insert>

    <!-- Tracking信息追加 -->
    <insert id="synShip_InsertResTracking">
        insert into
            tt_res_tracking
        (
            syn_ship_no,
            tracking_no,
            tracking_type,
            order_number,
            reservation_id,
            ship_how_ever,
            sent_flg,
            create_time,
            update_time,
            create_person,
            update_person
        )
        (
        SELECT
            syn_ship_no,
            #{tracking_no},
            #{tracking_type},
            order_number,
            id,
            '0',
            '0',
            now(),
            now(),
            #{task_name},
            #{task_name}
        FROM tt_reservation reservation
        WHERE syn_ship_no = #{syn_ship_no}
        AND not exists (select 1
                            from tt_res_tracking tracking
                            where tracking.syn_ship_no = #{syn_ship_no}
                            and tracking.tracking_no = #{tracking_no}
                            and tracking.tracking_type = #{tracking_type}
                            and tracking.reservation_id = reservation.id)
        )
    </insert>

    <!-- TrackingInfo信息追加 -->
    <insert id="synShip_InsertTrackingInfo">
        insert into
            tt_tracking_info
        (
            syn_ship_no,
            tracking_status,
            reservation_id,
            tracking_no,
            process_time,
            create_time,
            update_time,
            create_person,
            update_person
        )
        (
        SELECT
            syn_ship_no,
            #{tracking_status},
            id,
            #{tracking_no},
            #{process_time},
            now(),
            now(),
            #{task_name},
            #{task_name}
        FROM tt_reservation reservation
        WHERE syn_ship_no = #{syn_ship_no}
        AND not exists (select 1
                            from tt_tracking_info trackingInfo
                            where trackingInfo.syn_ship_no = #{syn_ship_no}
                            and trackingInfo.tracking_status = #{tracking_status}
                            and trackingInfo.tracking_no = #{tracking_no}
                            and trackingInfo.reservation_id = reservation.id)
        )
    </insert>

    <select id="synShip_getEtkTracking" resultType="com.voyageone.batch.synship.modelbean.EtkTrackingBean">
        SELECT
            DISTINCT
            res.syn_ship_no,
            res.order_number,
            res.order_channel_id,
            res.status,
            tracking.sent_kd100_poll_flg,
            tracking.tracking_no,
            tracking.tracking_type
        FROM
            tt_shipment shipment,
            tt_package_items items,
            tt_reservation res,
            tt_tracking tracking,
            tt_res_tracking res_tracking
        WHERE
            shipment.status = '2'
        AND
            shipment.port = '12'
        AND
            shipment.shipment_id = items.shipment_id
        AND
            items.ordernum = res.order_number
        AND
            items.del_flg = '0'
        AND
            res.status in ('14','15')
        AND
            res.syn_ship_no = res_tracking.syn_ship_no
        AND
            res_tracking.tracking_no = tracking.tracking_no
        AND
            res_tracking.tracking_type = tracking.tracking_type
        AND
            tracking.use_flg = '1'
        AND
            tracking.tracking_type = 'EMS'
    </select>

    <!--订阅快递100 -->
    <update id="synShip_UpdateKD100Poll">
        UPDATE
            tt_tracking
        SET
            sent_kd100_poll_flg = #{sent_kd100_poll_flg},
            update_time = now(),
            update_person = #{task_name}
        WHERE
            tracking_type = #{tracking_type}
        AND
            tracking_no = #{tracking_no}
    </update>

    <select id="synShip_tracking_info_getNotTracking" resultType="string">
        SELECT
            DISTINCT
            res.syn_ship_no
        FROM
            oms_bt_orders orders,
            tt_reservation res
        WHERE
            orders.order_channel_id =#{order_channel_id}
        AND
            orders.order_number = orders.order_number
        AND
            orders.order_date_time &lt;= #{processTime}
        AND
            orders.order_channel_id = res.order_channel_id
        AND
            orders.order_number = res.order_number
        AND
            res.`status` in ('11','12','96','98')
        AND
            NOT EXISTS (SELECT 1
                          FROM tt_tracking_info tracking_info
                          WHERE tracking_info.syn_ship_no = res.syn_ship_no)
    </select>

    <select id="synShip_tracking_info_selectByStatus" resultType="integer">
        select
          count(1)
        from
          tt_tracking_info
        where
          syn_ship_no = #{synShipNo}
        and
          tracking_status = #{trackingStatus}
    </select>

    <insert id="synShip_tracking_info_insertByStatus">
        insert into
          tt_tracking_info
         (
            seq,
            syn_ship_no,
            tracking_status,
            reservation_id,
            tracking_no,
            process_time,
            create_time,
            update_time,
            create_person,
            update_person
          )
        values
          (
            null,
            #{synShipNo},
            #{trackingStatus},
            #{reservationId},
            '',
            now(),
            now(),
            now(),
            #{userName},
            #{userName}
          )
    </insert>
</mapper>