<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.web2.cms.sql">
    <resultMap id="bt_promotion_code_map" extends="bt_promotion_model_map" type="com.voyageone.web2.cms.model.CmsBtPromotionCodeModel" >
        <result column="sale_price" property="salePrice" jdbcType="DOUBLE" />
        <result column="promotion_price" property="promotionPrice" jdbcType="DOUBLE" />
        <result column="product_id" property="productId" jdbcType="VARCHAR" />
        <result column="product_code" property="productCode" jdbcType="VARCHAR" />
        <result column="product_name" property="productName" jdbcType="VARCHAR" />
        <result column="image_url_sale" property="imageUrlSale" jdbcType="VARCHAR" />
        <result column="image_url_sale_out" property="imageUrlSaleOut" jdbcType="VARCHAR" />
    </resultMap>
    <select id="select_cms_bt_promotion_code" resultMap="bt_promotion_code_map" parameterType="HashMap" >
        SELECT
            seq,
            promotion_id,
            product_id,
            model_id,
            product_model,
            product_code,
            product_name,
            cat_path,
            sale_price,
            promotion_price,
            num_iid,
            image_url_sale,
            image_url_sale_out,
            syn_flg,
            created,
            creater,
            modified,
            modifier
        FROM
            voyageone_cms2.cms_bt_promotion_code
        <where>
            <if test="promotionId != null">
                promotion_id =  #{promotionId,jdbcType=INTEGER}
            </if>
        </where>
    </select>
    <insert id="insert_cms_bt_promotion_code" parameterType="com.voyageone.web2.cms.model.CmsBtPromotionCodeModel" >
        insert into voyageone_cms2.cms_bt_promotion_code
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="promotionId != null" >
                promotion_id,
            </if>
            <if test="productId != null" >
                product_id,
            </if>
            <if test="modelId != null" >
                model_id,
            </if>
            <if test="productModel != null" >
                product_model,
            </if>
            <if test="productCode != null" >
                product_code,
            </if>
            <if test="productName != null" >
                product_name,
            </if>
            <if test="catPath != null" >
                cat_path,
            </if>
            <if test="salePrice != null" >
                sale_price,
            </if>
            <if test="promotionPrice != null" >
                promotion_price,
            </if>
            <if test="numIid != null" >
                num_iid,
            </if>
            <if test="imageUrlSale != null" >
                image_url_sale,
            </if>
            <if test="imageUrlSaleOut != null" >
                image_url_sale_out,
            </if>
            <if test="synFlg != null" >
                syn_flg,
            </if>
                created,
            <if test="creater != null" >
                creater,
            </if>
                modified,
            <if test="modifier != null" >
                modifier,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="promotionId != null" >
                #{promotionId,jdbcType=INTEGER},
            </if>
            <if test="productId != null" >
                #{productId,jdbcType=INTEGER},
            </if>
            <if test="modelId != null" >
                #{modelId,jdbcType=INTEGER},
            </if>
            <if test="productModel != null" >
                #{productModel,jdbcType=VARCHAR},
            </if>
            <if test="productCode != null" >
                #{productCode,jdbcType=VARCHAR},
            </if>
            <if test="productName != null" >
                #{productName,jdbcType=VARCHAR},
            </if>
            <if test="catPath != null" >
                #{catPath,jdbcType=VARCHAR},
            </if>
            <if test="salePrice != null" >
                #{salePrice,jdbcType=DOUBLE},
            </if>
            <if test="promotionPrice != null" >
                #{promotionPrice,jdbcType=DOUBLE},
            </if>
            <if test="numIid != null" >
                #{numIid,jdbcType=VARCHAR},
            </if>
            <if test="imageUrlSale != null" >
                #{imageUrlSale,jdbcType=VARCHAR},
            </if>
            <if test="imageUrlSaleOut != null" >
                #{imageUrlSaleOut,jdbcType=VARCHAR},
            </if>
            <if test="synFlg != null" >
                #{synFlg,jdbcType=VARCHAR},
            </if>
                now(),
            <if test="creater != null" >
                #{creater,jdbcType=VARCHAR},
            </if>
                now(),
            <if test="modifier != null" >
                #{modifier,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="update_cms_bt_promotion_code" parameterType="com.voyageone.web2.cms.model.CmsBtPromotionCodeModel" >
        update voyageone_cms2.cms_bt_promotion_code
        <set >
            <if test="promotionId != null" >
                promotion_id = #{promotionId,jdbcType=INTEGER},
            </if>
            <if test="productId != null" >
                product_id = #{productId,jdbcType=INTEGER},
            </if>
            <if test="modelId != null" >
                model_id = #{modelId,jdbcType=INTEGER},
            </if>
            <if test="productModel != null" >
                product_model = #{productModel,jdbcType=VARCHAR},
            </if>
            <if test="productCode != null" >
                product_code = #{productCode,jdbcType=VARCHAR},
            </if>
            <if test="productName != null" >
                product_name = #{productName,jdbcType=VARCHAR},
            </if>
            <if test="catPath != null" >
                cat_path = #{catPath,jdbcType=VARCHAR},
            </if>
            <if test="salePrice != null" >
                sale_price = #{salePrice,jdbcType=DOUBLE},
            </if>
            <if test="promotionPrice != null" >
                promotion_price = #{promotionPrice,jdbcType=DOUBLE},
            </if>
            <if test="numIid != null" >
                num_iid = #{numIid,jdbcType=VARCHAR},
            </if>
            <if test="imageUrlSale != null" >
                image_url_sale = #{imageUrlSale,jdbcType=VARCHAR},
            </if>
            <if test="imageUrlSaleOut != null" >
                image_url_sale_out = #{imageUrlSaleOut,jdbcType=VARCHAR},
            </if>
            <if test="synFlg != null" >
                syn_flg = #{synFlg,jdbcType=VARCHAR},
            </if>
                modified = now(),
            <if test="modifier != null" >
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            <if test="promotionId != null" >
                promotion_id = #{promotionId,jdbcType=INTEGER}
            </if>
            <if test="productId != null" >
                and product_id = #{productId,jdbcType=INTEGER}
            </if>
        </where>
    </update>
</mapper>
