<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.web2.cms.sql">
    <resultMap id="TagMap" type="com.voyageone.web2.cms.model.CmsBtTagModel" >
        <id column="tag_id" property="tagId" jdbcType="INTEGER" />
        <result column="tag_name" property="tagName" jdbcType="VARCHAR" />
        <result column="tag_path" property="tagPath" jdbcType="VARCHAR" />
        <result column="tag_path_name" property="tagPathName" jdbcType="VARCHAR" />
        <result column="tag_type" property="tagType" jdbcType="INTEGER" />
        <result column="tag_status" property="tagStatus" jdbcType="INTEGER" />
        <result column="sort_order" property="sortOrder" jdbcType="INTEGER" />
        <result column="parent_tag_id" property="parentTagId" jdbcType="INTEGER" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
        <result column="creater" property="creater" jdbcType="VARCHAR" />
        <result column="modified" property="modified" jdbcType="TIMESTAMP" />
        <result column="modifier" property="modifier" jdbcType="VARCHAR" />

    </resultMap>
    <insert id="insert_cms_bt_tag" parameterType="com.voyageone.web2.cms.model.CmsBtTagModel"  useGeneratedKeys="true" keyProperty="tagId">
        insert into voyageone_cms2.cms_bt_tag
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="tagName != null" >
                tag_name,
            </if>
            <if test="tagPath != null" >
                tag_path,
            </if>
            <if test="tagPathName != null" >
                tag_path_name,
            </if>
            <if test="tagType != null" >
                tag_type,
            </if>
            <if test="tagStatus != null" >
                tag_status,
            </if>
            <if test="sortOrder != null" >
                sort_order,
            </if>
            <if test="parentTagId != null" >
                parent_tag_id,
            </if>
                created,
            <if test="creater != null" >
                creater,
            </if>
                modified,
            <if test="creater != null" >
                modifier,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="tagName != null" >
                #{tagName,jdbcType=VARCHAR},
            </if>
            <if test="tagPath != null" >
                #{tagPath,jdbcType=VARCHAR},
            </if>
            <if test="tagPathName != null" >
                #{tagPathName,jdbcType=VARCHAR},
            </if>
            <if test="tagType != null" >
                #{tagType,jdbcType=INTEGER},
            </if>
            <if test="tagStatus != null" >
                #{tagStatus,jdbcType=INTEGER},
            </if>
            <if test="sortOrder != null" >
                #{sortOrder,jdbcType=INTEGER},
            </if>
            <if test="parentTagId != null" >
                #{parentTagId,jdbcType=INTEGER},
            </if>
               now(),
            <if test="creater != null" >
                #{creater,jdbcType=VARCHAR},
            </if>
                now(),
            <if test="creater != null" >
                #{creater,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="update_cms_bt_tag" parameterType="com.voyageone.web2.cms.model.CmsBtTagModel" >
        update voyageone_cms2.cms_bt_tag
        <set >
            <if test="tagName != null" >
                tag_name = #{tagName,jdbcType=VARCHAR},
            </if>
            <if test="tagPath != null" >
                tag_path = #{tagPath,jdbcType=VARCHAR},
            </if>
            <if test="tagPathName != null" >
                tag_path_name = #{tagPathName,jdbcType=VARCHAR},
            </if>
            <if test="tagType != null" >
                tag_type = #{tagType,jdbcType=INTEGER},
            </if>
            <if test="tagStatus != null" >
                tag_status = #{tagStatus,jdbcType=INTEGER},
            </if>
            <if test="sortOrder != null" >
                sort_order = #{sortOrder,jdbcType=INTEGER},
            </if>
            <if test="parentTagId != null" >
                parent_tag_id = #{parentTagId,jdbcType=INTEGER},
            </if>
                modified = now(),
            <if test="modifier != null" >
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
        </set>
        where tag_id = #{tagId,jdbcType=INTEGER}
    </update>
    <select id="select_list_by_id" resultMap="TagMap" parameterType="int">
        select a.*
        from voyageone_cms2.cms_bt_tag a
        inner join voyageone_cms2.cms_bt_promotion b
        on a.parent_tag_id = b.promotion_id
        where b.promotion_id = #{promotionId,jdbcType=INTEGER}
    </select>
</mapper>
