<div class="vo_modal" ng-init="ctrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()">
            <span aria-hidden="true"><i class="fa fa-close"></i></span>
        </button>
        <h5 class="modal-title"><i class="fa fa-pencil"></i><span class="label">&nbsp;{{'TXT_TAG_STORE_CLASSIFY' | translate}}</span></h5>
    </div>

    <div class="modal-body">
        <div class="row m-l-md m-r-md" novalidate>
            <div class="col-sm-12">
                <div class="col-sm-12 m-b-sm" ng-hide="ctrl._context.plateSchema">
                    <div class="col-sm-3 m-t-xs">
                        <label class="">{{'TXT_CART_NAME' | translate}}</label>
                    </div>
                    <div class="col-sm-7">
                        <select class="form-control" disabled>
                            <option value="1">{{ctrl.cartName}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-12 m-b-sm">
                    <div class="col-sm-2 col-md-offset-1 ">
                        <label class="">品名</label>
                    </div>
                    <div class="col-sm-7">
                        <input class="form-control" ng-model="ctrl.searchName" ng-change="ctrl.searchByName()" placeholder=" 可支持实时模糊查询 ">
                    </div>
                </div>

                <div class="column_overflow col-sm-12" style="border:1px solid silver;overflow-x:hidden">
                    <div class="col-sm-12" ng-repeat="category in ctrl.channelCategoryList track by category.catId">
                        <div class="" ng-if="category.isParent == 1">
                            <i class="fa fa-plus icon-small text-vo"></i>&nbsp;
                            <label>{{category.catName}}</label>
                        </div>
                        <div ng-if="category.isParent == 0">
                            <label ng-if="category.catName.indexOf(ctrl.searchName) >= 0 || !ctrl.searchName">
                                <input style="margin: 0" type="checkbox" ui-indeterminate="ctrl.orgDispMap[category.catId]" ng-checked="ctrl.orgChkStsMap[category.catId]"
                                       ng-model="ctrl.orgChkStsMap[category.catId]" ng-click="ctrl.chkSave(category.catId,$event)">
                                &nbsp;<label class="label label-default"></label>{{category.catName}}
                            </label>
                        </div>
                        <div ng-if="category.isParent == 1" ng-include="'categoryContainer'"
                             ng-init="categoryContainer = category.children">
                        </div>
                    </div>
                    <div class="col-sm-12 text-center" ng-show="ctrl.cartIdValid">
                        <h5 style="color: red;line-height: 160px;"><i class="fa fa-warning"></i> {{'INVALID_OPERATION_IN_CURRENT_CART_PATH' | translate}}</h5>
                    </div>
                </div>

                <div class="col-sm-10 col-sm-offset-1 m-t-sm m-b-sm" ng-if="ctrl.cnt">
                    <h5 style="color: red">
                        <i class="fa fa-warning"></i> {{'MAX_SELLER_CAT_CNT' | translate}}{{ctrl.cnt}}
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default ng-binding" ng-click="$dismiss()"><i class="fa fa-remove"></i> {{'BTN_CANCEL' | translate}} </button>
        <button class="btn btn-vo ng-binding" ng-click="ctrl.save()"><i class="glyphicon glyphicon-floppy-disk"></i>{{'BTN_SAVE' | translate}}</button>
    </div>
</div>

<script id="categoryContainer" type="text/ng-template">
    <div class="col-sm-12 m-l-md" ng-repeat="category in categoryContainer">
        <div class="" ng-if="category.isParent == 1">
            <i class="fa fa-minus icon-small text-vo"></i>&nbsp;
            <label>{{category.catName}}</label>
        </div>
        <div ng-if="category.isParent == 0">
            <label ng-if="category.catName.indexOf(ctrl.searchName) >= 0 || !ctrl.searchName">
                <input style="margin: 0" type="checkbox" ui-indeterminate="ctrl.orgDispMap[category.catId]" ng-checked="ctrl.orgChkStsMap[category.catId] = ctrl.orgChkStsMap[category.catId] ? true : false"
                       ng-model="ctrl.orgChkStsMap[category.catId]" ng-click="ctrl.chkSave(category.catId,$event)">
                &nbsp;{{category.catName}}
            </label>
        </div>
        <div ng-if="category.isParent == 1" ng-include="'categoryContainer'"
             ng-init="categoryContainer = category.children"></div>
    </div>
</script>

