<div class="vo_modal" ng-init="initialize()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()">
            <span aria-hidden="true"><i class="fa fa-close"></i></span>
        </button>
        <h5 class="modal-title"><i class="fa fa-pencil"></i><span class="label" >&nbsp;Tag Edit&nbsp;</span></h5>
    </div>

    <div class="modal-body">
        <div class="row m-l-md m-r-md">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="col-sm-12 m-b-sm">
                    <div class="col-sm-3 m-t-xs">
                        <label class="">店铺</label>
                    </div>
                    <div class="col-sm-7">
                        <select class="form-control" >
                            <option value="1">Select...</option>
                            <option value="2">JD</option>
                            <option value="3">TG</option>
                            <option value="4">JM</option>
                        </select>
                    </div>
                </div>
                <div class="column_overflow col-sm-12" style="border:1px solid silver">
                    <div class="col-sm-12">
                        <div class="m-t-sm">
                            <label class=" ">新品上市（2016）</label>
                        </div>
                        <div class="m-t-xs m-l-md">
                            <label class="checkbox-inline c-checkbox">
                                <input type="checkbox">
                                <span class="fa fa-check"></span>&nbsp;5月New
                            </label>
                        </div>
                        <div class="m-t-xs m-l-md">
                            <label class="checkbox-inline c-checkbox">
                                <input type="checkbox">
                                <span class="fa fa-check"></span>&nbsp;4月New
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="m-t-xs">
                            <label class=" ">Nike耐克</label>
                        </div>
                        <div class="m-t-xs m-l-md">
                            <label class="checkbox-inline c-checkbox">
                                <input type="checkbox">
                                <span class="fa fa-check"></span>&nbsp;Air Force 1 空军1号
                            </label>
                        </div>
                        <div class="m-t-xs m-l-md">
                            <label class="checkbox-inline c-checkbox">
                                <input type="checkbox">
                                <span class="fa fa-check"></span>&nbsp;Nike Drunk
                            </label>
                        </div>
                        <div class="m-t-xs m-l-md">
                            <label class="checkbox-inline c-checkbox">
                                <input type="checkbox">
                                <span class="fa fa-check"></span>&nbsp;Nike Drunk
                            </label>
                        </div>
                        <div class="m-t-xs m-l-md">
                            <label class="checkbox-inline c-checkbox">
                                <input type="checkbox">
                                <span class="fa fa-check"></span>&nbsp;Nike Drunk
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default ng-binding" ng-click="$dismiss()"><i class="fa fa-remove"></i> 取消</button>
        <button class="btn btn-vo ng-binding" ng-click="save()"><i class="glyphicon glyphicon-floppy-disk"></i> 保存</button>
    </div>
</div><!-- .vo_modal -->

