<div class="vo_modal ng-scope" ng-init="initialize()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$close()"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
        <h5 class="modal-title"><i class="glyphicons glyphicons-edit"></i> 产品详情</h5>
    </div>
    <div class="modal-body wrapper ">
        <div class="form-horizontal dropdown_table_main">
            <div class="dropdown_table col-sm-11">
                <!-- ngRepeat: item in feedAttributesModel -->
            <div class="form-group ng-scope" >
                <label class="col-sm-4 control-label ng-binding">short_description</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="item.value" disabled="">
                </div>
            </div><!-- end ngRepeat: item in feedAttributesModel --><div class="form-group ng-scope" >
                <label class="col-sm-4 control-label ng-binding">dosageSize</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="item.value" disabled="">
                </div>
            </div><!-- end ngRepeat: item in feedAttributesModel --><div class="form-group ng-scope" >
                <label class="col-sm-4 control-label ng-binding">dosageUnits</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="item.value" disabled="">
                </div>
            </div><!-- end ngRepeat: item in feedAttributesModel --><div class="form-group ng-scope" >
                <label class="col-sm-4 control-label ng-binding">code</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="item.value" disabled="">
                </div>
            </div>
                <!-- end ngRepeat: item in feedAttributesModel --><div class="form-group ng-scope" >
                <label class="col-sm-4 control-label ng-binding">origin</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="item.value" disabled="">
                </div>
            </div>
                <!-- end ngRepeat: item in feedAttributesModel --><div class="form-group ng-scope" >
                <label class="col-sm-4 control-label ng-binding">updFlg</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="item.value" disabled="">
                </div>
            </div>
                <!-- end ngRepeat: item in feedAttributesModel --><div class="form-group ng-scope" >
                <label class="col-sm-4 control-label ng-binding">warnings</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="item.value" disabled="">
                </div>
            </div>
                <!-- end ngRepeat: item in feedAttributesModel --><div class="form-group ng-scope" >
                <label class="col-sm-4 control-label ng-binding">weight</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="item.value" disabled="">
                </div>
            </div>
                <!-- end ngRepeat: item in feedAttributesModel --><div class="form-group ng-scope" >
                <label class="col-sm-4 control-label ng-binding">long_description</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="item.value" disabled="">
                </div>
            </div>
                <!-- end ngRepeat: item in feedAttributesModel --><div class="form-group ng-scope" >
                <label class="col-sm-4 control-label ng-binding">manufacturer</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="item.value" disabled="">
                </div>
            </div>
                <!-- end ngRepeat: item in feedAttributesModel --><div class="form-group ng-scope" >
                <label class="col-sm-4 control-label ng-binding">name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="item.value" disabled="">
                </div>
            </div>
                <!-- end ngRepeat: item in feedAttributesModel --><div class="form-group ng-scope" >
                <label class="col-sm-4 control-label ng-binding">model</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="item.value" disabled="">
                </div>
            </div>
                <!-- end ngRepeat: item in feedAttributesModel --><div class="form-group ng-scope" >
                <label class="col-sm-4 control-label ng-binding">category</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="item.value" disabled="">
                </div>
            </div>
                <!-- end ngRepeat: item in feedAttributesModel --><div class="form-group ng-scope" >
                <label class="col-sm-4 control-label ng-binding">brand</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="item.value" disabled="">
                </div>
            </div>
                <!-- end ngRepeat: item in feedAttributesModel -->
                <div class="form-group ng-scope" >
                <label class="col-sm-4 control-label ng-binding">suggestedUse</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="item.value" disabled="">
                </div>
            </div>
                <!-- end ngRepeat: item in feedAttributesModel --><!-- .form-group -->
            </div>
            <!-- .form -->
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$close()"><i class="fa fa-remove"></i> 关闭</button>
    </div>
</div>