<script>
	$(function() {
		$.post("/cms/system/mq/init", {}, function (result) {
			result.data.forEach(function (e) {
				$("#messageQueue").append("<option id=\"" + e + "\">"+e+"</option>");
			});
		});

		$("#messageSend").click(function () {
			$.post("/cms/system/mq/send", {'messageQueue':$("#messageQueue").val(),'messageBody':$("#messageBody").val()}, function (result) {
				result.data.forEach(function (e) {
					alert("发送" + (e == 1 ? "成功" : "失败，异常信息："+e))
				})
			});
		});
	})
</script>
<table id="mqManager" style="width:90%;height:90%;margin:10px auto;border:1px solid #444444;font-size: 16px;" border="1">
	<tr>
		<td style="width: 10%;text-align: center">message Queue</td>
		<td style="padding: 5px"><select id="messageQueue" style="border: solid 1px"></select></td>
	</tr>

	<tr>
		<td style="width: 10%;text-align: center">message Body<br>(Json String)</td>
		<td style="padding: 5px"><textarea id="messageBody" style="width: 100%; height:200px;border: solid 1px;"></textarea></td>
	</tr>

	<tr>
		<td></td>
		<td style="padding: 10px 5px 10px 5px"><input type="button" id="messageSend" value="发送消息"></td>
	</tr>
</table>