<div class="aside-wrap" ng-controller="asideCtrl as aside" ng-init="initialize()">
    <div class="navi-wrap" ui-jq="slimScroll" ui-options="{height:'100%', size:'8px'}">
        <div class="vo_a_ce clearfix hidden-xs">
            <div class="hidden-xs">
                <a href class="btn no-shadow"
                   ng-click="$parent.$parent.app.settings.asideFolded = !$parent.$parent.app.settings.asideFolded">
                    <i class="h4 glyphicons {{$parent.$parent.app.settings.asideFolded ? 'glyphicons-menu-hamburger' : 'glyphicons-right-indent'}} pull-right-xs"></i>
                </a>
            </div>
        </div>
        <!--<nav ui-nav class="navi clearfix" ng-include="'views/home/menu/nav_new.tpl.html'"></nav>-->
        <!-- nav -->
        <!-- nav -->
        <nav ui-nav class="navi clearfix">
            <ul class="nav" >
                <!-- 一级目录 -->
                <li ng-if="!$root.isTranslator" ng-repeat="list in aside.menuList">
                    <a class="auto" ng-href="{{list.resUrl}}">
                        <span class="pull-right text-muted">
                            <i class="fa fa-fw fa-angle-right text"></i>
                            <i class="fa fa-fw fa-angle-down text-active"></i>
                        </span>
                        <i class="fa fa-cogs icon text-vo"></i>
                        <span class="">{{list.resName}}</span>
                    </a>
                    <ul class="nav nav-sub dk" ng-if="list.children.length>0">
                        <li class="nav-sub-header">
                            <a>
                                <span>{{childList.resName}}</span>
                            </a>
                        </li>
                        <!-- 二级目录 -->
                        <li ng-repeat="childList in list.children" class="m-l-sm" ui-sref-active="active">
                            <a ng-href="{{childList.resUrl}}">
                                <i class="fa fa-minus icon text-vo"></i>
                                <span>{{childList.resName}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>