<div class="aside-wrap">
    <div class="">
        <!-- expand/collpase button -->
        <div class="vo_a_ce clearfix hidden-xs">
            <div class="hidden-xs">
                <a href class="btn no-shadow"
                   ng-click="$parent.$parent.app.settings.asideFolded = !$parent.$parent.app.settings.asideFolded">
                    <i class="h4 glyphicons {{$parent.$parent.app.settings.asideFolded ? 'glyphicons-menu-hamburger' : 'glyphicons-right-indent'}} pull-right-xs"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- nav -->
    <nav ui-nav ng-include="'views/home/menu/nav_new.tpl.html'"></nav>
    <!-- nav -->
</div>