<ul class="nav" >
    <!-- 渠道管理 -->
    <li  ng-if="!$root.isTranslator">
        <a class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-cogs icon text-vo"></i>
            <span class="" translate="TXT_CART_MANAGEMENT"></span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a>
                    <span translate="TXT_CART_MANAGEMENT"></span>
                </a>
            </li>
            <!-- 渠道信息管理 -->
            <li class="m-l-sm" ui-sref-active="active">
                <a href="#/channel/channelInfoManage">
                    <i class="fa fa-minus icon text-vo"></i>
                    <span TRANSLATE="TXT_CART_INFO_MANAGEMENT"></span>
                </a>
            </li>
            <!-- 渠道类型属性管理 -->
            <li class="m-l-sm" ui-sref-active="active">
                <a href="#/channel/channelTypeAttrManage">
                    <i class="fa fa-minus icon text-vo"></i>
                    <span TRANSLATE="TXT_CHANNEL_TYPE_ATTR_MANAGEMENT"></span>
                </a>
            </li>
            <!-- 第三方配置信息管理 -->
            <li class="m-l-sm" ui-sref-active="active">
                <a href="#/channel/channelThirdPartyCog">
                    <i class="fa fa-minus icon text-vo"></i>
                    <span TRANSLATE="TXT_CHANNEL_THIRD_PARTY_CONFIG"></span>
                </a>
            </li>
            <!-- 短信配置管理 -->
            <li class="m-l-sm" ui-sref-active="active">
                <a href="#/channel/channelSmsConfig">
                    <i class="fa fa-minus icon text-vo"></i>
                    <span TRANSLATE="TXT_CHANNEL_SMS_CONFIG"></span>
                </a>
            </li>
        </ul>
    </li>
    <!-- cart管理 -->
    <li  ng-if="!$root.isTranslator">
        <a class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-cogs icon text-vo"></i>
            <span class="" translate="TXT_CART_MANAGE"></span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a>
                    <span translate="TXT_CART_MANAGE"></span>
                </a>
            </li>
            <!-- cart信息管理 -->
            <li class="m-l-sm" ui-sref-active="active">
                <a href="#/cart/cartManagement">
                    <i class="fa fa-minus icon text-vo"></i>
                    <span TRANSLATE="TXT_CART_INFO_MANAGE"></span>
                </a>
            </li>
        </ul>
    </li>
    <!-- 仓库管理 -->
    <li  ng-if="!$root.isTranslator">
        <a class="auto" href="#/store/storeManagement">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
            </span>
            <i class="fa fa-cogs icon text-vo"></i>
            <span class="" translate="TXT_STORE_MANAGE"></span>
        </a>
    </li>
</ul>
<!--end-->