<div class="wrapper-md" ng-init="ctrl.init()">
    <div class="vo_accordion vo_attr">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-navicon"></i>&nbsp;{{'TXT_STORE_MANAGE'|translate}}</h4>
                </div>
                <div class="container-fluid m-t-xs m-b-xs">
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <div class="form-horizontal">
                                <div class="row form-group">
                                    <label class="col-sm-3 control-label">{{'TXT_CART_CHANNEL_NAME' | translate}}</label>
                                    <div class="col-sm-8">
                                        <select search-contains="true" chosen width="'100%'" class="form-control" ng-model="ctrl.searchInfo.orderChannelId"
                                                ng-options="channel.orderChannelId as channel.name for channel in ctrl.channelList">
                                            <option value="">{{'TXT_SELECT_NO_VALUE' | translate}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-horizontal">
                                <div class="row form-group">
                                    <label class="col-sm-3 control-label">{{'TXT_STORE_NAME' | translate}}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" ng-model="ctrl.searchInfo.storeName"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-horizontal">
                                <div class="row form-group">
                                    <label class="col-sm-3 control-label">{{'TXT_SALE_STATE' | translate}}</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="ctrl.searchInfo.isSale">
                                            <option value="">&nbsp;{{'TXT_SELECT_NO_VALUE' | translate}}</option>
                                            <option value="1">&nbsp;在售</option>
                                            <option value="0">&nbsp;不在售</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-horizontal">
                                <div class="row form-group">
                                    <label class="col-sm-3 control-label">{{'TXT_STORE_TYPE' | translate}}</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="ctrl.searchInfo.storeType">
                                            <option value="">&nbsp;{{'TXT_SELECT_NO_VALUE' | translate}}</option>
                                            <option value="0">&nbsp;自营仓库</option>
                                            <option value="1">&nbsp;第三方合作仓库</option>
                                            <option value="2">&nbsp;菜鸟保税仓</option>
                                            <option value="3">&nbsp;聚美保税仓</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center m-b-xs">
                            <div class="form-horizontal form-inline">
                                <button class="btn btn-default" ng-click="ctrl.clear()"><i class="fa fa-remove"></i>&nbsp;重置</button>
                                <button class="btn btn-vo" ng-click="ctrl.search(1)"><i class="fa fa-search"></i>&nbsp;搜索</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box-body-new">
            <div class="col-sm-4 pull-right text-right" ng-controller="popupCtrl">
                <div class="form-group m-t-sm m-r-xs">
                    <button class="btn btn-default" ng-click="ctrl.config('Store')" ng-disabled="ctrl.channelSelList.selList.length > 1"><i class="fa fa-cog"></i>&nbsp;配置</button>
                    <button class="btn btn-default" ng-click="openCartAdd('add')" ng-disabled="ctrl.storeSelList.selList.length > 0"><i class="fa fa-plus"></i>&nbsp;添加</button>
                    <button class="btn btn-default" ng-click="ctrl.edit()" ng-disabled="ctrl.storeSelList.selList.length <= 0||ctrl.storeSelList.selList.length>1"><i class="fa fa-pencil"></i>&nbsp;修改</button>
                    <button class="btn btn-default" ng-click="ctrl.delete()" ng-disabled="ctrl.storeSelList.selList.length <= 0"><i class="fa fa-ban"></i>&nbsp;禁用</button>
                </div>
            </div>
            <table class="table table-hover-new table-hover table_main">
                <thead>
                <tr>
                    <th class="text-left mfb-xt" ng-controller="selectRowsCtrl">
                        <label class="checkbox-inline c-checkbox" style="height: 15px;">
                            <input type="checkbox" ng-click="selectAll(ctrl.storeSelList)"
                                   ng-checked="isAllSelected(ctrl.storeSelList)" >
                            <span class="fa fa-check"></span>&nbsp;{{'TXT_SELECT_ALL' | translate}}&nbsp;
                        </label>
                    </th>
                    <th class="text-center mfb-xt" translate="TXT_CHANNEL_NAME"></th>
                    <th class="text-left mfb-xt" translate="TXT_STORE_NAME"></th>
                    <th class="text-left mfb-xt" translate="TXT_MAIN_STORE_NAME"></th>
                    <th class="text-center mfb-xxt" translate="TXT_STORE_TYPE"></th>
                    <th class="text-center mfb-xt" translate="TXT_SALE_STATE"></th>
                    <th class="text-center mfb-xxt" translate="TXT_STORE_MANAGE_STATE"></th>
                    <th class="text-left mfb-xt" translate="TXT_STORE_REMAINED"></th>
                    <th class="text-center mfb-xxt" translate="TXT_COMMENTS"></th>
                    <th class="text-center mfb-xt" translate="TXT_STATUS"></th>
                    <th class="text-center mfb-xxt" translate="TXT_CART_UPDATE_TIME"></th>
                    <th class="text-center mfb-xt" translate="TXT_UPDATER"></th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td if-no-rows="ctrl.storeList.length||ctrl.storeList" colspan="12" style="padding: 0px"></td>
                    </tr>
                    <tr ng-repeat="list in ctrl.storeList">
                        <td class="text-left v-middle">
                            <label class="checkbox-inline c-checkbox" style="padding-top:4px">
                                <input ng-model="ctrl.storeSelList.selFlag[list.storeId]" type="checkbox" ng-controller="selectRowsCtrl"
                                       ng-click="selectOne(list.storeId, ctrl.storeSelList)">
                                <span class="fa fa-check"></span>
                            </label>
                        </td>
                        <td class="text-center v-middle">{{list.channelName}}</td>
                        <td class="text-left v-middle">{{list.storeName}}</td>
                        <td class="text-left v-middle">{{list.storeArea}}</td>
                        <td class="text-center v-middle">{{ctrl.getStoreType(list.storeType)}}</td>
                        <td class="text-center v-middle">{{list.isSale=='1'?'在售':'不在售'}}</td>
                        <td class="text-center v-middle">{{list.inventoryManager=='1' ? '管理':'不管理'}}</td>
                        <td class="text-left v-middle">{{ctrl.getInventoryHold(list.inventoryHold)}}</td>
                        <td class="text-center v-middle">{{list.storeComment}}</td>
                        <td class="text-center v-middle">{{list.active==true ? '启用':'禁用'}}</td>
                        <td class="text-center v-middle">{{list.modified}}</td>
                        <td class="text-center v-middle">{{list.modifier}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <vpagination config="ctrl.storePageOption" ng-if="ctrl.storeList.length>0"></vpagination>
    </div>
</div>