<div class="navbar-header {{app.settings.navbarHeaderColor}}">
    <a href="#/" class="navbar-brand text-lt"><span translate="TXT_VOYAGE_ONE"></span></a>
</div>

<div class="collapse pos-rlt navbar-collapse box-shadow bg-black" ng-controller="headerCtrl as header" ng-init="initialize()">

    <ul class="nav navbar-nav hidden-xs">
        <li class="dropdown vo_h_system" uib-dropdown>
            <a href ng-bind="header.userInfo.channelName" ng-click="selectChannel()">
            </a>
        </li>
    </ul>

    <ul class="nav navbar-nav navbar-right hidden-sm">

        <li class="dropdown vo_h_locale" uib-dropdown>
            <a href class="dropdown-toggle clear" uib-dropdown-toggle>
                <span class="" ng-bind="header.userInfo.language"></span><b class="caret"></b>
            </a>

            <ul class="dropdown-menu arrow_box">
                <li ng-repeat="language in header.languageList" ng-if="language.add_name1 !== header.userInfo.language">
                    <a href="" ng-click="selectLanguage(language)">
                        <span ng-bind="language.add_name1"></span>
                    </a>
                </li>
            </ul>

        </li>

        <li class="dropdown" uib-dropdown>
            <a href class="dropdown-toggle clear" uib-dropdown-toggle>
                <span class="" ng-bind="header.userInfo.userName"></span> <b class="caret"></b>
            </a>

            <ul class="dropdown-menu arrow_box">
                <li>
                    <a href="" translate="TXT_CHANGE_PASS" ng-controller="popupCtrl" ng-click="openModifyPass(header.userInfo.userName)"></a>
                </li>
                <li>
                    <a href="" translate="TXT_LOGOUT" ng-click="logout()"></a>
                </li>
            </ul>

        </li>
    </ul>

</div>

