<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="filename">/usr/task/voyageone/script/job/log/ims.log</Property>
        <Property name="filePattern">/usr/task/voyageone/script/job/log/$${date:yyyy-MM}/ims-%d{yyyy-MM-dd}-%i.log.gz</Property>
    </Properties>

    <Appenders>
        <Console name="STDOUT">
            <PatternLayout>
                <Pattern>[%d{yy-MM-dd HH:mm:ss}] %50.50c[%-5.5p]:%-4.4L | %m%n</Pattern>
            </PatternLayout>
        </Console>

        <RollingFile name="RollingFile" fileName="${filename}"
                     filePattern="${filePattern}">
            <PatternLayout>
                <Pattern>[%d{yy-MM-dd HH:mm:ss}] %50.50c[%-5.5p]:%-4.4L | %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="200MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!--有需要时,这里修改为 debug 查看更详细的信息(仅限上新模块)-->
        <Logger name="com.voyageone.batch.ims" level="info" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>