<div class="wrapper-md" ng-init="ctrl.init()">

	<!--搜索条件Begin-->
	<div class="vo_accordion vo_attr">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><i class="fa fa-codepen"></i>&nbsp;<span translate="TXT_BEAT_TASK"></span></h4>
				</div>
				<div class="container-fluid m-t-sm m-b-md">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<div class="col-sm-4">
								<div class="form-horizontal">
									<div class="row form-group">
										<label class="col-sm-4  control-label"><strong translate="TXT_PLATFORM"></strong></label>
										<div class="col-sm-6">
											<input type="text" class="form-control" value="{{ctrl.task.cartId}}" disabled>
										</div>
									</div>
									<div class="row form-group">
										<label class="col-sm-4 control-label"><strong translate="TXT_CODE_OR_NUMIID"></strong></label>
										<div class="col-sm-6">
											<textarea class="form-control no-resize" rows="3" cols="3" ng-model="ctrl.search.codes"></textarea>
										</div>
									</div>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="form-horizontal">
									<div class="row form-group" >
										<label class="col-sm-4  control-label"><strong translate="TXT_TASK_NAME"></strong></label>
										<div class="col-sm-6">
											<input type="text" class="form-control" value="{{ctrl.task.taskName}}" disabled>
										</div>
									</div>
									<div class="row form-group">
										<label class="col-sm-4 control-label"><strong translate="TXT_ERROR_MESSAGE"></strong></label>
										<div class="col-sm-6">
											<textarea class="form-control no-resize" rows="3" cols="3" ng-model="ctrl.search.errorMsg"></textarea>
										</div>
									</div>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="form-horizontal">
									<div class="row form-group" >
										<label class="col-sm-4  control-label"><strong translate="TXT_TASK_STATUS"></strong></label>
										<div class="col-sm-6">
											<input type="text" class="form-control" value="{{ctrl.task.status}}" disabled>
										</div>
									</div>
								</div>
								<div class="row form-group">
									<label class="col-sm-4 control-label"><strong translate="TXT_SINGLE_CODE_STATUS"></strong></label>
									<div class="col-sm-6">
										<label class="m-t-tx" ng-repeat="(key,value) in vm.statuses">
											<input type="checkbox" class="v-top" ng-model="vm.searchBean.statuses[key]" value="{{key}}"/>&nbsp;&nbsp;<span class="v-top">{{value}}</span>&emsp;
										</label>
										<input type="checkbox">状态1
										<input type="checkbox">状态2
										<input type="checkbox">状态3
										<input type="checkbox">状态4
										<input type="checkbox">状态5
										<input type="checkbox">状态6
										<input type="checkbox">状态7
									</div>
								</div>
							</div>

						</div>
					</div>

					<div class="row text-center m-t-sm" ng-controller="popupCtrl">
						<div class="form-inline">
							<button class="btn btn-default" ng-click="clear()"><i class="fa fa-remove"></i>&nbsp;{{'BTN_CLEAR' | translate}}</button>
							<button class="btn btn-vo" ng-click="search()"><i class="fa fa-search"></i>&nbsp;{{'BTN_SEARCH' | translate}}</button>
							<button class="btn btn-vo" ng-click="search()"><i class="fa fa-search"></i>&nbsp;{{'BTN_TASK_EDIT' | translate}}</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!--搜索条件End-->

	<div class="container-fluid m-t-xs m-b-xs">
		<uib-tabset class="tab-container vo_nav-tabs">

			<uib-tab ng-click="vm.currTab = 'product'" active="true">
				<tab-heading><i class="glyphicons glyphicons-sort text-default"></i>&nbsp;{{'TXT_PRODUCT_LIST' | translate}}</tab-heading>
				<div class="table-responsive box-body">
					<div class="btn-group pull-left">
						<button ng-click="ctrl.controlAll('BEATING')" class="btn btn-primary"><i class="glyphicon glyphicon-play"></i>&nbsp;<span translate="TXT_STARTUP_ALL"></span></button>
						<button ng-click="ctrl.controlAll('STOP')" class="btn btn-danger"><i class="glyphicon glyphicon-pause"></i>&nbsp;<span translate="TXT_STOP_ALL"></span></button>
						<button ng-click="ctrl.controlAll('REVERT')" class="btn btn-success"><i class="glyphicon glyphicon-share-alt"></i>&nbsp;<span translate="TXT_REVERT_ALL"></span></button>
					</div>

					<div class="col-sm-3">
						<div class="form-horizontal m-l-sm">
							<div class="btn-group pull-right">
								<input type="file" tabindex="-1" accept=".xls,.xlsx" file-style
									   data-button-text="Choose file" data-class-button="btn btn-default" data-classinput="form-control inline"
									   nv-file-select uploader="ctrl.uploader"/>
								<button class="btn btn-vo" ng-click="ctrl.importBeat()" ng-disabled="ctrl.uploadItem"><i class="glyphicon glyphicon-check"></i>&nbsp;<span translate="TXT_IMPORT_GOOD"></span></button>
								<button class="btn btn-default" ng-click="ctrl.downloadTemplate()"><i class="fa fa-plus"></i>&nbsp;<span translate="BTN_IMPORT_TEMPLATE_DOWNLOAD"></span></button>
								<button class="btn btn-success" ng-click="popAddBeat(ctrl)"><i class="fa fa-plus"></i>&nbsp;<span translate="TXT_ADD_MOD_GOOD"></span></button>
							</div>
						</div>
					</div>

					<table class="table table-hover-new vo_table tableWordBreak" style="margin-bottom:0px" ng-controller="popupCtrl">
						<thead>
						<tr>
							<th class="text-left" translate="TXT_PRODUCT_CODE"></th>
							<th class="text-left" translate="TXT_NUM_IID"></th>
							<th class="text-right" translate="TXT_PROMOTION_PRICE"></th>
							<th class="text-left" translate="TXT_STATUS"></th>
							<th class="text-left" translate="TXT_IMAGE_STATUS"></th>
							<th class="text-left" translate="TXT_COMMENT"></th>
							<th class="text-left" translate="TXT_UPDATE_TIME"></th>
							<th class="text-center" translate="TXT_ACTION"></th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="info in ctrl.productList">
							<td class="text-left">{{::info.productCode}}</td>
							<td class="text-left">
								<a ng-href="https://detail.tmall.hk/hk/item.htm?id={{::info.numIid}}" target="_blank">{{::info.numIid}}</a>
							</td>
							<td class="text-right">{{::info.price | number: 2 || '无'}}</td>
							<td class="text-left">{{::info.synFlagEnum | translate}}</td>
							<td class="text-left" title="{{::info.imageTaskId}}">{{::info.imageStatusEnum | translate}}</td>
							<td class="text-left">{{::info.message}}</td>
							<td class="text-left">{{::info.modified.substring(0, 19)}}</td>
							<td class="text-center">
								<div class="btn-group text-center">
									<button title="启动" ng-click="ctrl.controlOne(info, 'BEATING')" class="btn btn-default-purple btn-xs"><i class="glyphicon glyphicon-play"></i>&nbsp;<span translate="TXT_STARTUP"></span></button>
									<button title="停止" ng-click="ctrl.controlOne(info, 'STOP')" class="btn btn-default-red btn-xs"><i class="glyphicon glyphicon-pause"></i>&nbsp;<span translate="TXT_STOP"></span></button>
									<button title="还原" ng-click="ctrl.controlOne(info, 'REVERT')" class="btn btn-default-green btn-xs"><i class="glyphicon glyphicon-share-alt"></i>&nbsp;<span translate="TXT_REVERT"></span></button>
								</div>
							</td>
						</tr>
						</tbody>
					</table>

					<vpagination config="ctrl.pageOption"></vpagination>
				</div>
			</uib-tab>

			<uib-tab ng-click="vm.currTab = 'product'" active="false">
				<tab-heading><i class="glyphicons glyphicons-sort text-default"></i>&nbsp;{{'TXT_IMPORT_LIST' | translate}}</tab-heading>
				<div class="table-responsive box-body">

				</div>
			</uib-tab>
		</uib-tabset>
	</div>










	<div class="vo_accordion vo_attr">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><i class="fa fa-codepen"></i>&nbsp;<span translate="TXT_BEAT_TASK_DETAIL"></span></h4>
				</div>
				<div class="container-fluid" ng-controller="popupCtrl">
					<div class="col-sm-6">
						<div class="form-horizontal m-l-sm">
							<div class="form-group form-inline">
								<input type="file" tabindex="-1" accept=".xls,.xlsx" file-style
									   data-button-text="Choose file" data-class-button="btn btn-default" data-classinput="form-control inline"
									   nv-file-select uploader="ctrl.uploader"/>
								<button class="btn btn-vo" ng-click="ctrl.importBeat()" ng-disabled="ctrl.uploadItem"><i class="glyphicon glyphicon-check"></i>&nbsp;<span translate="TXT_IMPORT_GOOD"></span></button>
								<button class="btn btn-success" ng-click="popAddBeat(ctrl)"><i class="fa fa-plus"></i>&nbsp;<span translate="TXT_ADD_MOD_GOOD"></span></button>
							</div>
						</div>
					</div>
					<div class="pull-right m-r-xs">
						<div class="form-horizontal form-inline">
							<button class="btn btn-danger" ng-click="ctrl.download()"><i class="fa fa-cloud-download"></i>&nbsp;<span translate="TXT_DOWNLOAD_TASK_DETAIL"></span></button>
							<button class="btn btn-primary" ng-click="ctrl.updateTask(openNewBeatTask)"><span translate="TXT_EDIT_TASK"></span>[&nbsp;<span>{{::ctrl.task.taskName}}</span>&nbsp;]&nbsp;</button>
						</div>
					</div>
					<div class="col-sm-12 progress progress-xxs m-t-xs" style="padding-left:0; margin-bottom:0" ng-if="ctrl.uploadItem">
						<div class="progress-bar progress-bar-warning" role="progressbar" ng-style="{ 'width': ctrl.uploadItem.progress + '%' }"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12 m-b-xs" style="padding-left:0px;padding-right:0px">
		<div class="btn-group pull-left">
			<button ng-click="ctrl.controlAll('BEATING')" class="btn btn-primary"><i class="glyphicon glyphicon-play"></i>&nbsp;<span translate="TXT_STARTUP_ALL"></span></button>
			<button ng-click="ctrl.controlAll('STOP')" class="btn btn-danger"><i class="glyphicon glyphicon-pause"></i>&nbsp;<span translate="TXT_STOP_ALL"></span></button>
			<button ng-click="ctrl.controlAll('REVERT')" class="btn btn-success"><i class="glyphicon glyphicon-share-alt"></i>&nbsp;<span translate="TXT_REVERT_ALL"></span></button>
		</div>
		<div class="btn-group pull-right">
			<button class="btn btn-default-vo" ng-click="ctrl.flag = null; ctrl.getData();" translate="TXT_SHOW_ALL"></button>
			<button class="btn btn-default-vo" ng-repeat="item in ctrl.summary" ng-click="ctrl.flag = item.flag; ctrl.getData();">
				<span>{{item.flag | translate}}</span>&nbsp;:&nbsp;<span>{{item.count}}</span>
			</button>
		</div>
		<div class="pull-right col-sm-3">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="ctrl.searchKey" placeholder="Search numiid or code"
					   enter-click="#promo-beat-search-btn"><span class="input-group-btn"><button
					id="promo-beat-search-btn" class="btn btn-default" translate="TXT_SEARCH"
					ng-click="ctrl.getData()"></button></span>
			</div>
		</div>
	</div>
	<div class="box">
		<div class="box-body col-sm-12">
			<div class="table-responsive">
				<div class="dropdown_table_main">
					<table class="table table-hover-new vo_table tableWordBreak" style="margin-bottom:0px" ng-controller="popupCtrl">
						<thead>
						<tr>
							<th class="text-left" translate="TXT_PRODUCT_CODE"></th>
							<th class="text-left" translate="TXT_NUM_IID"></th>
							<th class="text-right" translate="TXT_PROMOTION_PRICE"></th>
							<th class="text-left" translate="TXT_STATUS"></th>
							<th class="text-left" translate="TXT_IMAGE_STATUS"></th>
							<th class="text-left" translate="TXT_COMMENT"></th>
							<th class="text-left" translate="TXT_UPDATE_TIME"></th>
							<th class="text-center" translate="TXT_ACTION"></th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="info in ctrl.data">
							<td class="text-left">{{::info.productCode}}</td>
							<td class="text-left">
								<a ng-href="https://detail.tmall.hk/hk/item.htm?id={{::info.numIid}}" target="_blank">{{::info.numIid}}</a>
							</td>
							<td class="text-right">{{::info.price | number: 2 || '无'}}</td>
							<td class="text-left">{{::info.synFlagEnum | translate}}</td>
							<td class="text-left" title="{{::info.imageTaskId}}">{{::info.imageStatusEnum | translate}}</td>
							<td class="text-left">{{::info.message}}</td>
							<td class="text-left">{{::info.modified.substring(0, 19)}}</td>
							<td class="text-center">
								<div class="btn-group text-center">
									<button title="启动" ng-click="ctrl.controlOne(info, 'BEATING')" class="btn btn-default-purple btn-xs"><i class="glyphicon glyphicon-play"></i>&nbsp;<span translate="TXT_STARTUP"></span></button>
									<button title="停止" ng-click="ctrl.controlOne(info, 'STOP')" class="btn btn-default-red btn-xs"><i class="glyphicon glyphicon-pause"></i>&nbsp;<span translate="TXT_STOP"></span></button>
									<button title="还原" ng-click="ctrl.controlOne(info, 'REVERT')" class="btn btn-default-green btn-xs"><i class="glyphicon glyphicon-share-alt"></i>&nbsp;<span translate="TXT_REVERT"></span></button>
								</div>
							</td>
						</tr>
						</tbody>
					</table>
				</div><!-- .table-responsive -->
			</div>
		</div><!-- /.box-body -->
		<div class="m-t-xs">
			<vpagination config="ctrl.pageOption"></vpagination>
		</div>
	</div>
</div><!-- end .wrapper-md -->