/*!
 * 项目自定义通用样式,比如angular的自定义directive
 */

/* 为 schema-item directive 的输入控件提供错误样式 */
schema-item .ng-invalid input,
schema-item .ng-invalid select,
schema-item .ng-invalid .c-checkbox span {
    border: 1px solid red;
}

/* schema 相关的 directive 默认样式定义 */
schema {
    display: block;
}

schema-field {
    display: block;
}

schema-field-name {
    display: block;
}

schema-complex-name {
    display: block;
}

schema-complex-container {
    display: block;
}

schema-disable-container {
    display: block;
}

/* 为其他页面提供 .vo-validate 样式, 来指定错误时该如何显示 */
.vo-validate.ng-invalid input,
.vo-validate.ng-invalid select,
.vo-validate.ng-invalid .c-checkbox span {
    border: 1px solid red;
}

vo-message {
    width: 100%;
    font-weight: bold;
    display: inline-block;
    padding: 2px 6px 3px 8px;
    border-left: 6px solid #E67E22;
    border-radius: 4px;
    box-shadow: 1px 2px 7px #9E9C9C;
    color: #fff;
    background: #E04825;
}
