/*!
 * views样式，权重最高
 */

/* 为页面上的 schema 输入框定制样式 */
s-field textarea.form-control {
    height: 100px;
}

s-field textarea.s-html {
    height: 200px;
}

/* category_drag_list_qh
 * 在自定义属性页面, 提供选中样式。和扩大输入框宽度 */
.category_drag_list_qh {
    margin: 0;
    padding: 10px;
    min-height: 200px;
}

.category_drag_list_qh ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.category_drag_list_qh li {
    padding: 5px;
    transition: 200ms ease-in;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: #F9E9F2;
    border-radius: 4px;
    margin-bottom: 5px;
}

.category_drag_list_qh li:hover {
    background: #73214B;
    font-weight: bold;
    color: white;
}

.category_drag_list_qh .translated-row {
    margin: 8px 0;
}

.category_drag_list_qh .translated-row input {
    width: 70%;
}

.category_drag_list {
    margin: 0;
    padding: 4px 4px 0 4px;
    height: 180px;
    overflow-y: auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    color: #3366cc;
}

.category_drag_list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.category_drag_list li a:link {
    float: left;
    width: 100%;
    display: block;
    position: relative;
    list-style-type: none;
    padding: 4px;
}

.category_drag_list li a:visited {
    float: left;
    display: block;
    position: relative;
    list-style-type: none;
    padding: 2px;
    background: #dcf3f9;
    color: #333
}

.category_drag_list li a:hover {
    float: left;
    display: block;
    position: relative;
    list-style-type: none;
    padding: 4px;
    background: #dcf3f9;
    color: #333
}

.category_drag_list li a:active {
    float: left;
    display: block;
    position: relative;
    list-style-type: none;
    padding: 4px;
    background: #dcf3f9;
    color: #333
}

/* channel_index
 * 表格鼠标经过每行tr样式 */
.table-hover > tr:hover, .table-hover > tr:visited {
    background-color: #F9F9F9;
}

.vo_prodGallery {
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.vo_prodGallery .imageWrapper {
    display: block;
    height: 250px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s;
    text-align: -webkit-center;
}

.vo_prodGallery .thumbnailWrapper {
    display: inline-block;
    width: 100%;
    min-height: 57px;
    text-align: left;
    margin-top: 0;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-right: 2%;
    padding-left: 2%;
    background-color: rgba(0, 0, 0, 0.1);
}

.vo_prodGallery .thumbnail {
    display: inline-block;
    width: 12%;
    height: 40px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #fff;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    vertical-align: top;
    border-radius: 2px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    transition: all 0.3s;
}

.vo_prodGallery .thumbnail:hover {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.vo_prodGallery .thumbnail.active {
    border: 1px solid #e67e22;
    opacity: 1;
    filter: alpha(opacity=100);
}

@media screen and (max-width: 500px) {
    .vo_prodGallery .imageWrapper {
        width: 100%;
    }

    .vo_prodGallery .thumbnailWrapper {
        width: 100%;
    }
}

.nav-stacked {
    min-width: 360px;
}

.nav-stacked .nav-tabs {

    float: left;
}

.nav-stacked ul {
    max-width: 125px;
}

.nav-stacked li {
    min-width: 129px;
}

.nav-stacked li.active, .nav-stacked .nav-tabs > li.active > a {
    border-left: 3px solid #e67e22;
    border-top: 1px solid #d4cfcf;
}

.nav-stacked div.tab-content {
    float: left;
    border: 1px solid #d4cfcf !important;
    min-width: 238px;
    max-width: 304px;
    min-height: 171px;
}

@media screen and (max-width: 1544px) {
    .nav-stacked div.tab-content {
        max-width: 238px;
    }
}

/**为店铺管理页面和标签管理页面提供样式 addedy by tony-piao*/
.category_drag_list_dp {
    margin: 0;
    padding: 4px 4px 0 4px;
    height: 520px;
    overflow-y: auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    color: #3366cc;
}

/**基于类category_drag_list_dp 显示类目选择的popup*/
.category_popup {
    height: 200px;
    overflow-y: auto
}

.category_drag_list_dp ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.category_drag_list_dp ul li {
    height: 30px;
}

.category_drag_list_dp li a:link {
    float: left;
    width: 100%;
    display: block;
    position: relative;
    list-style-type: none;
    padding: 4px;
    border-radius: 4px;
}

.category_drag_list_dp li a:hover {
    float: left;
    display: block;
    position: relative;
    list-style-type: none;
    padding: 4px;
    background: #dcf3f9;
    color: #333;
}

.category_drag_list_dp li .indexSelected,
.category_drag_list_dp .indexSelected {
    float: left;
    display: block;
    position: relative;
    list-style-type: none;
    padding: 2px;
    background: #dcf3f9;
    color: #333
}

.category_drag_list_dp li input {
    position: relative;
    width: 20% ! important;
    padding: 10px;
    border: 1px solid #ededed;
    border-radius: 4px;
    opacity: 1;
    height: 30px;
}

.category_drag_list_dp li input[type='checkbox'] {
    width: initial ! important;
    height: initial ! important;
}

.category-drag-minWidth {
    border: 2px solid #d5e4fa;
    margin: 2px 4px;
    border-radius: 7px;
}

.category-drag-minWidth input {
    width: 84% ! important;
}

@media screen and (max-width: 1580px) {
    .category-drag-minWidth input {
        width: 77% ! important;
        display: inline;
    }
}

.btn {
    font-weight: 500;
    outline: 0 !important;
}

.btn-pop {
    border-radius: 2.5px;
    box-shadow: 1px 1px 2px #888;
}

/*欢迎页面首页数据展示*/
.stat-boxes {
    display: inline-block;
    list-style: none outside none;
    margin: 4px 0 0 -44px;
    text-align: center;
}

.stat-boxes li {
    background-color: #F6F6F6;
    background-image: -webkit-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    background-image: -moz-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    background-image: -ms-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    background-image: -o-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    background-image: linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    border: 1px solid #d5d5d5;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 0 #FFFFFF inset, 0 1px 0 rgba(255, 255, 255, 0.4);
    display: inline-block;
    line-height: 18px;
    margin: 0 4px 4px;
    float: left;
}

.stat-boxes .right {
    font-size: 12px;
    padding: 6px 0;
    text-align: center;
    width: 102px;
    color: #666666;
    text-shadow: 0 1px 0 #ffffff;
    float: left;
    margin-bottom: 2px;
}

.stat-boxes .right strong {
    font-size: 20px;
    margin-bottom: 2px;
    margin-top: 2px;
    display: block;
}

.stat-boxes .right-side {
    font-size: 10px;
    margin: 2px 0;
    padding: 0 2px;
    display: block;
}

.data-priority-0,
.data-priority-1,
.data-priority-2,
.data-priority-3,
.data-priority-4 {
    border-left: 3px solid red;
    transition: border-left 218ms ease-in, opacity 218ms ease-in;
    -moz-transition: border-left 218ms ease-in, opacity 218ms ease-in; /* Firefox 4 */
    -webkit-transition: border-left 218ms ease-in, opacity 218ms ease-in; /* Safari and Chrome */
    -o-transition: border-left 218ms ease-in, opacity 218ms ease-in; /* Opera */
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    cursor: pointer;
}

.data-priority-0 {
    border-left: 3px solid #fff;
}

.data-priority-0:hover {
    border-left: 6px solid #b3b3b3;
}

.data-priority-1:hover {
    border-left: 6px solid red;
}

.data-priority-2 {
    border-left: 3px solid #ff9800;
}

.data-priority-2:hover {
    border-left: 6px solid #ff9800;
}

.data-priority-3 {
    border-left: 3px solid #5bc0de;
}

.data-priority-3:hover {
    border-left: 6px solid #5bc0de;
}

.data-priority-4 {
    border-left: 3px solid #5cb85c;
}

.data-priority-4:hover {
    border-left: 6px solid #5cb85c;
}

/**产品详情*/
.product-shema-detail .nav span {
    display: inline-block;
    width: 135px;
    height: 27px;
    background: #23ad44;
    color: white;
    text-align: center;
    line-height: 24px;
}

.product-shema-detail .border-col-gray {
    color: #fff;
    border: 1px solid #ccc;
}

.product-shema-detail a .thumb-group {
    max-height: 100px;
}

.product-shema-detail .thumbInfo {
    margin: 0px auto;
    max-width: 100px;
    border-right: 1px solid #ddd
}

.panel-default .panel-detail-head {
    background: #e67e22;
    color: white;
}

/**限制宽度，防止图片布局混乱*/
@media screen and (max-width: 1366px) {
    body {
        min-width: 1350px;
    }
}

.product-shema-detail .panel-body li {
    float: left;
    margin-top: 4px;
    margin-bottom: 4px;
    list-style: none;
}

.product-shema-detail .btn-nav {
    width: 100%;
    height: 27px;
    border-top: 1px solid #ADCAE2;
    background: white;
    color: #325471;
    border-radius: 0px;

}

.product-shema-detail .btn-nav:hover {
    background: #325471;
    color: white;
}

.btn-image {
    position: absolute;
    display: block;
    bottom: 5px;
    right: 13px;
}

.btn-copy{
    position: absolute;
    display: block;
    top: 1px;
    right: 3px;
}

.product-shema-detail .btn-nav-pop {
    box-shadow: 1px 1px 2px #ADCAE2;
}

.product-shema-detail span a {
    color: #e67e22;
    text-decoration: underline;
    font-weight: bold;
}

.product-shema-detail button span {
    font-size: 12px;
}

.product-shema-detail .product-title {
    margin-bottom: 13px;
    border-bottom: 2px solid #e67e22;
}

.product-shema-detail .product-title h3 {
    padding-left: 10px;
    color: #e67e22;
    font-size: 15px;
}

.product-shema-detail .nav span.tagFlag {
    background: #ee3939;
}

.product-shema-detail hr {
    border-bottom: 2px solid #e67e22;
}

.product-shema-detail .thumbnail {
    max-width: 100px;
    /*height: 105px;*/
    max-height: 115px;
    margin: 0px auto;
}

.product-shema-detail .thumbnail.current {
    border: 2px solid #006cca;
    box-shadow: 0 1px 8px 0 #006cca;
}

.product-shema-detail .thumbnail strong.main {
    position: absolute;
}

.product-shema-detail h4 {
    font-size: 12px;
    word-break: break-all;
}

.product-shema-detail .ng-number {
    width: 100px;
    text-align: right;
}

.product-shema-detail .p-warning {
    border: 2px solid #d6e5f1;
    padding: 7px 5px;
}

.product-shema-detail .p-arrow {
    text-align: center;
    font-size: 16px;
    color: #d6e5f1;
}

.approved-example {
    width: 100%;
    padding: 17px;
}

.approved-example-modal {
    position: fixed;
    top: 10px;
    right: 70px;
    bottom: 10px;
    padding: 10px;
    z-index: 1050;
    background: #fff;
    border: 1px solid #27c24c;
    max-height: 417px;
    max-width: 500px;
    margin: 0px auto;
    border-radius: 5px;
}

.bs-docs-sidebar {
    width: 95px ! important;
    color: white;
    border: 1px solid #ADCAE2;
    background: #fff;
    opacity: .5;
}

.master-sidebar,
.feed-sidebar {
    top: 200px;
    right: 40px;
    z-index: 9;
    opacity: initial;
    white-space: nowrap;
}

.bs-docs-sidebar:hover {
    opacity: 1;
}

.bs-docs-sidebar h3 {
    background: #ADCAE2;
    text-align: center;
    font-size: 15px;
    margin: 0;
    height: 30px;
    line-height: 30px;
    cursor: move;
}

.bs-docs-sidebar .nav {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bs-docs-sidebar .nav > li > a {
    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #767676;
}

.bs-docs-sidebar .nav > li > a:focus, .bs-docs-sidebar .nav > li > a:hover {
    padding-left: 19px;
    color: #ADCAE2;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #ADCAE2;
}

.product-shema-detail .no-master {
    font-size: 15px;
    font-weight: bold;
    color: #d60032;
}

.product-shema-detail .container-fluid ng-form[name='skuForm'] schema-complex button {
    margin-top: 23px;
    align-self: auto;
}

.product-shema-detail .container-fluid ng-form[name='skuForm'] schema-complex label {
    text-indent: 1em;
}

.tm-sku-detail schema-field {
    min-width: 125px;
}

schema .ng-invalid.focus-error {
    transition: box-shadow 2s;
    box-shadow: 0 1px 8px 0 #f05050 ! important;
}

/*uib-tab样式*/
.tab-container {
    margin-bottom: 15px;
}

.tab-container .tab-content {
    padding: 8px;
    background-color: #F8F8F8;
    border: 1px solid #d4cfcf;
    border-top-width: 0;
    border-radius: 0 0 2px 2px;
}

/*多级菜单样式*/
.dropdown-header {
    padding: 5px 15px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    background-color: #eceaea !important;
    color: #42413a;
}

.dropdown-submenu:hover > .dropdown-menu,
.dropdown-submenu:focus > .dropdown-menu {
    display: block;
}

.dropdown-submenu.pull-left {
    float: none !important;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
}

.dropdown-submenu .dropdown-menu {
    left: 100%;
    top: 0;
    margin-top: -6px;
    margin-left: -1px;
}

.dropup .dropdown-submenu > .dropdown-menu {
    top: auto;
    bottom: 0;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: -100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 2px 2px 2px;
    -moz-border-radius: 0 2px 2px 2px;
    border-radius: 0 2px 2px 2px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:before {
    content: " ";
    float: left;
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 0 solid transparent;
    margin-top: 4px;
    margin-right: 6px;
    margin-left: -7px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 2px 0 2px 2px;
    -moz-border-radius: 2px 0 2px 2px;
    border-radius: 2px 0 2px 2px;
}

.data-display-boxes {
    display: inline-block;
    list-style: none outside none;
    margin: 0 0 0 -48px;
    text-align: center;
}

.data-display-boxes li {
    background-color: #F6F6F6;
    background-image: -webkit-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    background-image: -moz-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    background-image: -ms-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    background-image: -o-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    background-image: linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    border: 1px solid #d5d5d5;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 0 #FFFFFF inset, 0 1px 0 rgba(255, 255, 255, 0.4);
    display: inline-block;
    line-height: 18px;
    margin: 0 6px 4px;
}

.data-display-boxes .data {
    font-size: 12px;
    padding: 4px 0 4px 0;
    text-align: center;
    width: 120px;
    color: #666666;
    text-shadow: 0 1px 0 #ffffff;
    float: left;
}

@media screen and (min-width: 1441px) {
    .data-display-boxes .data {
        width: 163px;
    }
}

.data-display-boxes .data strong {
    font-size: 26px;
    margin-bottom: 3px;
    margin-top: 6px;
    display: block;
}

/*表格断行*/

.tableWordBreak > li {
    word-break: break-all;
    overflow: auto;
    max-height: 17px;
}

/* 属性翻译页面的定制样式 Start */

.panel-body-flex-center {
    height: 145px;
    display: flex;
    align-items: center;
}

.panel-body-flex-center .form-horizontal {
    width: 100%;
}

/* 属性翻译页面的定制样式 End */

/**图片上传样式*/
.img-upload .drop-zone {
    border-style: dashed;
    background: #d9eff7;
}

.img-upload input[type='text'] {
    display: none;
}

.img-upload .img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.img-upload .error-msg {
    max-width: 100%;
    word-break: break-all;
    max-height: 50px;
    overflow-y: scroll;
    border: 2px solid #e26666;
}

.img-upload .fix-img {
    position: relative;
    max-width: 125px;
    max-height: 125px;
    width: auto;
    height: auto;
}

.img-upload .fix-progress {
    width: 125px;
    margin: 0px auto;
}

/**切换主商品样式*/

.switch-main span a {
    color: #e67e22;
    text-decoration: underline;
    font-weight: bold;
}

.switch-main .middle {
    margin: 20px 20px;
    padding: 10px 10px;
    border: 1px solid #e67e22;
    max-height: 365px;
    overflow-y: scroll;
}

.switch-main .gray {
    color: #bfbebe;
}

.switch-main .fix-div {
    position: relative;
    width: 135px;
    height: 135px;
    margin: 15px auto;
}

.switch-main .img-zoom {
    width: auto;
    height: auto;
    max-width: 115px;
    max-height: 115px;
}

.switch-main .current {
    border: 2px solid #006cca;
    box-shadow: 0 1px 8px 0 #006cca;
    opacity: 0.4;
}

.switch-main .status {
    position: absolute;
}

.switch-main .product-info {
    text-align: center;
    margin: 0px auto;
    width: 95%;
}

/**默认属性设置*/
.default-attr .nav-stacked {
    min-width: 180px;
}

.default-attr .nav-stacked .btn {
    width: 105px;
}

/*clear margin*/
.clear-margin-bottom {
    margin-bottom: 0;
}

/* 聚美专场v2模块画面，商品排序弹出框样式 */

.jm-sortable-product-modal {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1050;
    background: white;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.jm-sortable-product-modal .arrow-button button {
    background: #fff;
    border: none;
    padding: 0px;
}

.jm-sortable-product {
    width: 220px;
}

.jm-sortable-product-handle {
    border: 1px solid #CCCCCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    background: white;
    min-height: 118px;
}

.jm-sortable-product .close {
    font-size: 12px
}

.jm-sortable-product img {
    width: 100%;
    height: 100%;
}

.jm-sortable-product-price {
    padding: 3px 5px;
    background: #e6e6e6;
    color: red;
    border: 1px solid white;
    border-radius: 5px;
}

.jm-sortable-product .list-inline {
    margin-bottom: 0;
    padding: 0;
}

.jm-module-bar-preview {
    width: 960px;
    height: 40px;
    text-align: center;
    color: white;
    line-height: 40px;
    font-size: 24px;
    background-repeat: no-repeat;
}

#jm-promotion2-detail .nav-stacked {
    min-width: 150px;
}

#jm-promotion2-detail sticky .btn-success,
#jm-promotion2-detail sticky .btn-primary {
    width: 90px;
}

.clear-margin-bottom {
    margin-bottom: 0;
}

/* 聚美专场v2模块画面，商品排序弹出框样式 END */

/* 高级检索附加样式 */
#advanceSearch td .popover {
    max-width: 350px;
}

#advanceSearch td .mainPrd {
    color: white;
    font-weight: bold;
}

/**高级检索样式*/
#advanceSearch .dropdown-menu-ul {
    max-height: 350px;
    overflow: auto;
}

.opacityBtn {
    border: none;
    background: none;
}

/**类目排序样式*/
#newCategory .btn-group li {
    width: 120px;
    border: 1px solid #c3bdbd;
    border-radius: 3px;
    height: 27px;
    line-height: 20px;
    text-align: center;
    margin: 4px auto;

}

#newCategory .fix-img {
    max-width: 100px;
    max-height: 98px;
    height: 98px;
    padding: 10px;
    margin-bottom: 6px;
    border: 1px solid #e5bb23;
    border-radius: 4px;
}

#newCategory .top-area {
    margin-left: 37px;
}

#newCategory .top-element {
    width: 300px;
    padding: 7px;
    margin: 6px;
}

#newCategory tbody tr {
    height: 100px;
}

/**组合套装样式*/
#combined-product .btn-group li {
    margin-bottom: 3px;
}

#combined-product .a-label-btn {
    width: 127px;
    margin: 0px auto;
    border: 1px solid #18a4cf;
    color: #19a9d5;
    text-align: center;
    text-decoration: none;
}

#combined-product .col-black {
    color: #0a0a09;
}

#combined-product .combine-example {
    width: 100%;
    height: 400px;
    background: url(../img/combine-example.png) no-repeat 0px 0%;
}

#combined-product.combined-sortable-product-modal {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    z-index: 1050;
    background: white;
    max-height: 489px;
    max-width: 1077px;
    margin: 0px auto;
    border-radius: 5px;
}

/**Master配置一览*/
#channelConfigSet sticky .sidebar {
    right: 40px;
    width: 87px;
    color: white;
    border: 1px solid #ADCAE2;
    background: #fff;
}

#channelConfigSet sticky .sidebar h3 {
    background: #ADCAE2;
    text-align: center;
    font-size: 15px;
    margin: 0;
    height: 30px;
    line-height: 30px;
    cursor: move;
}

#channelConfigSet sticky .sidebar .nav > li > a {
    display: block;
    padding: 6px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #767676;
    text-align: center;
}

#channelConfigSet sticky .sidebar .nav > li > a:hover {
    padding-left: 19px;
    color: #ADCAE2;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #ADCAE2;
}

#channelConfigSet .btn-nav {
    width: 100%;
    height: 27px;
    border-top: 1px solid #ADCAE2;
    background: white;
    color: #325471;
    border-radius: 0px;

}

#channelConfigSet .btn-nav:hover {
    background: #325471;
    color: white;
}

.product-shema-detail .btn-nav-pop {
    box-shadow: 1px 1px 2px #ADCAE2;
}

.product-shema-detail .more-code{
    font-size: 2em;
    color: #e67e22;
    cursor: pointer;
    -webkit-animation: arrow-jump-up 1.75s infinite;
    animation: arrow-jump-up 1.75s infinite;
}

.product-shema-detail .more-code:hover{
    color: #000;
}

@keyframes arrow-jump-up {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    10% {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    20% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    30% {
        -webkit-transform: translateY(-25%);
        transform: translateY(-25%);
    }
    40% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
    }
    60% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    70% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    80% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}