/*!
 * 对浏览器样式的重置和 bootstrap 的部分样式定制覆盖
 */

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: "Microsoft Yahei", sans-serif;
    font-size: 12px;
    color: #42413a;
    -webkit-font-smoothing: antialiased;
    line-height: 1.53846154;
    background: #eeeded;
}

*:focus {
    outline: 0 !important;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}

a.a-link{
    color: #e67e22;
    text-decoration: underline;
}

a.a-link:hover{
    color: #000;
}

label {
    font-weight: normal;
}

input::-webkit-calendar-picker-indicator,
input::-webkit-inner-spin-button,
input::-webkit-clear-button {
    display: none;
}