/**
  *bootstap和第三方插件拓展样式覆盖
  */
.modal-xlg {
    width: 650px;
}

input[datepicker-popup][readonly] {
    background-color: white;
}

ul[uib-datepicker-popup-wrap] table {
    border: 0;
}

ul[uib-datepicker-popup-wrap] button {
    border: 0;
}