/*!
 * 项目自定义通用样式,比如angular的自定义directive
 */

/* 为 schema-item directive 的输入控件提供错误样式 */
schema-item .ng-invalid input,
schema-item .ng-invalid select,
schema-item .ng-invalid .c-checkbox span {
    border: 1px solid red;
}

/* schema directive 样式定义 { */

/* 默认样式 */

schema {
    display: block;
}

schema-field {
    display: block;
    margin-bottom: 12px;
}

schema-field-name {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
}

schema-complex-name {
    display: inline-block;
    margin-bottom: 3px;
    font-weight: bold;
}

schema-complex-container {
    display: block;
    padding-left: 20px;
    margin-top: 5px;
}

schema-complex-container schema-field-name {
    color: #7d7d7d;
}

schema-complex-container[multi] {

}

schema-complex-container[multi] schema-field {
    display: table-cell;
    padding: 3px;
}

schema-disable-container {
    display: block;
}

schema-field-tip {
    display: block;
    color: #ee903d;
}

schema-field-tip:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: '\f0a2';
    padding-right: 3px;
}

schema-field vo-message {
    margin-top: 3px;
}

.btn-schema {
    margin-left: 10px;
}

schema-complex-container .btn-schema {
    margin-left: 0;
}

/* 为 multiComplex 使用 flex 提供更完善的样式外观 */

schema-complex-container[multi] {
    display: flex;
    align-items: flex-start;
}

schema-complex-container[multi] schema-field {
    order: 1;
    flex-grow: 3;
}

schema-complex-container[multi] .btn-schema {
    order: 2;
    flex-grow: 0;
    align-self: center;
}

/* } schema directive 样式定义 */


/* 为其他页面提供 .vo-validate 样式, 来指定错误时该如何显示 */
.vo-validate.ng-invalid input,
.vo-validate.ng-invalid select,
.vo-validate.ng-invalid .c-checkbox span {
    border: 1px solid red;
}

vo-message {
    width: 100%;
    font-weight: bold;
    display: inline-block;
    padding: 2px 6px 3px 8px;
    border-left: 6px solid #E67E22;
    border-radius: 4px;
    box-shadow: 1px 2px 7px #9E9C9C;
    color: #fff;
    background: #E04825;
}
