.query-title {
    font-size: 13px;
    font-weight: bold;
    color: #42413a;
}

.skuItem-head {
    margin: 17px 2px;
    border-bottom: 2px solid #e67e22;
}

.skuItem-head h4 {
    padding: 0 17px;
    font-size: 15px;
    font-weight: bolder;
    color: #e67e22;
}

.pos-relative {
    position: relative;
}

.pos-absolute-right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.white-space-noWrap{
    white-space: nowrap;
}

.img-auto-fix{
    max-width: 100px;
    max-height: 115px;
    margin:0 auto;
}

/**advance search*/
.tab-title{
    width: 175px;
    height: 30px;
    margin-bottom: 7px;
    padding-left: 7px;
    border-bottom: 3px solid #e67e22;
}


