/*!
 * 项目自定义通用样式,比如angular的自定义directive
 */

/* schema directive 样式定义 { */

schema {
    display: block;
}

schema-field {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

schema > schema-field {
    margin-bottom: 10px;
}

schema > schema-field:last-child {
    margin-bottom: 0;
}

schema-field vo-message {
    margin-top: 5px;
    margin-left: 120px;
}

schema-field-name {
    width: 120px;
    flex-grow: 0;
    line-height: 26px;
    font-weight: bold;
}

schema-input-container {
    width: 82%;
    flex-grow: 1;
}

schema-complex {
    background-color: #f8f8f8;
    border: 1px solid #ededed;
    padding: 5px;
    display: block;
}

schema-complex schema-field {
    margin-bottom: 5px;
}

schema-complex schema-field:last-child {
    margin-bottom: 0;
}

schema-complex schema-field-name.simple {
    color: #8a8a8a;
}

schema-input-toolbar {
    display: block;
    background-color: #ededed;
    position: relative;
}

schema-input-toolbar .btn-schema {
    position: absolute;
    top: 2px;
    right: 6px;
}

schema-complex-toolbox {
    display: block;
    flex-grow: 0;
}

schema-complex[multi] {
    display: flex;
    align-items: flex-start;
}

schema-complex[multi] schema-field {
    display: block;
    flex-grow: 1;
    width: 100%;
    margin-bottom: 0;
}

schema-complex[multi] schema-field-name.simple {
    display: none;
}

schema-complex[multi]:first-of-type schema-field-name.simple {
    display: block;
}

schema-complex[multi] schema-complex-toolbox {
    align-self: flex-end;
}

.schema-field-required:after {
    content: '*';
    color: red;
    padding-left: 5px;
}

schema-tip {
    display: block;
    color: #ee903d;
    margin-left: 120px;
}

schema-tip:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    font-weight: bold;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: '\f0a2';
    padding-right: 3px;
}

/* } schema directive 样式定义 */

/* 为其他页面提供 .vo-validate 样式, 来指定错误时该如何显示 */
.vo-validate.ng-invalid input,
.vo-validate.ng-invalid select,
.vo-validate.ng-invalid .c-checkbox span {
    border: 1px solid red;
}

vo-message {
    width: 100%;
    font-weight: bold;
    display: inline-block;
    padding: 2px 6px 3px 8px;
    border-left: 2px solid #E04825;
    color: #E04825;
}
