body {
    background-color: #eeeded;
    font-family: sans-serif;
}

.login-logo {
    text-align: center;
    padding: 2em 0 0 0;
}

.login {
    margin: 2% auto 2%;
    width: 30%;
    background: #fff;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
}

.login-main {
    padding: 2% 4% 2% 4%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.login-main span {
    font-size: 12px;
    vertical-align: middle;
    color: #555555;
}

.login-main ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.login-main li {
    list-style: none;
    width: 100%;
    font-weight: 500;
    border: 1px solid #c8c2c2;
    border-radius: 4px;
    background: #fff;
    margin: 1em 0;
    outline: none;
}

.login-main input[type="text"], input[type="password"] {
    width: 83%;
    padding: 1em 0 1em 2.7em;
    color: #555555;
    font-size: 15px;
    outline: none;
    background: none;
    font-weight: 500;
    border: none;
}

.small-icon {
    height: 20px;
    width: 30px;
    display: block;
    float: left;
    margin: 12px -28px 0 10px;
}

.login-user {
    background: url(img/user.png) no-repeat 8px 2px;
}

.login-lock {
    background: url(img/lock.png) no-repeat 8px 2px;
}

.login-submit input[type="button"] {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 13px 20px;
    margin: 0;
    width: 100%;
    border: none;
    transition: 0.1s all;
    -webkit-transition: 0.1s all;
    -moz-transition: 0.1s all;
    -o-transition: 0.1s all;
    background: #ffa300;
    border-bottom-right-radius: 0.44em;
    -webkit-border-bottom-right-radius: 0.4em;
    -o-border-bottom-right-radius: 0.4em;
    -moz-border-bottom-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    -webkit-border-bottom-left-radius: 0.4em;
    -o-border-bottom-left-radius: 0.4em;
    -moz-border-bottom-left-radius: 0.4em;
}

.login-submit input[type="button"]:hover {
    background: #ed9005;
}

.loginSign {
    position: relative;
    width: 100%;
    text-align: center;
    background: #FF0000;
    color: #fff;
    padding: 1em 0;
    border-radius: 4px;
    font-size: 16px;
}

.loginSign:before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #FF0000;
}

.c-checkbox {
    font-size: 13px;
    color: #555;
    margin-left: 0;
}

.c-checkbox * {
    cursor: pointer;
}

.c-checkbox input {
    opacity: 0;
    position: absolute;
    margin-right: 0 !important;
}

.c-checkbox span {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid #c8c2c2;
    text-align: center;
}

.c-checkbox span:before {
    margin-right: 0;
}

.c-checkbox:hover span {
    border-color: #ffa300;
}

.c-checkbox span:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    text-align: center !important;
    font-size: 12px;
    line-height: 18px;
    vertical-align: middle;
}

.c-checkbox input[type=checkbox]:checked + span:before {
    color: #fff;
    opacity: 1;
    transition: color 0.3s ease-out;
}

.c-checkbox input[type=checkbox]:checked + span {
    border-color: #ffa300;
    background-color: #ffa300;
}

@media (max-width: 1366px) {
    .login-main {
        padding: 2% 4% 6% 4%;
    }
}

@media (max-width: 1280px) {
    .login {
        margin: 2% auto 6%;
        width: 35%;
    }
}

@media (max-width: 1024px) {
    .login {
        margin: 2% auto 6%;
        width: 40%;
    }
}

@media (max-width: 768px) {
    .login {
        margin: 3% auto 8%;
        width: 55%;
    }
}

@media (max-width: 640px) {
    .login {
        margin: 3% auto 8%;
        width: 66%;
    }
}

@media (max-width: 480px) {
    .login {
        margin: 4% auto 18%;
        width: 87%;
    }
}

@media (max-width: 320px) {
    .login {
        margin: 4% auto 8%;
        width: 89%;
    }

    .login-submit input[type="submit"] {
        font-size: 18px;
        padding: 18px 18px;
    }

    .login-submit input[type="text"], input[type="password"] {
        font-size: 13px;
    }

    .small-icon {
        margin: 8px -29px 0 0;
    }

    .login-main li {
        width: 99%;
    }

}