<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.core.sql">

    <select id="tm_task_control_selectRun" parameterType="HashMap" resultType="string">
        select
          cfg_val1
        from
          tm_task_control
        where
          task_id=#{task_id}
        and
          cfg_name = #{cfg_name}
    </select>

    <select id="tm_task_control_selectByName" parameterType="string" resultType="com.voyageone.task2.base.modelbean.TaskControlBean">
        select
          task.task_id,
          task.task_type,
          task.task_name,
          task.task_comment,
          control.cfg_name,
          control.cfg_val1,
          control.cfg_val2,
          control.end_time
        from
          tm_task_control control,
          com_mt_task task
        where
          task.task_name=control.task_id
        and
          task.task_name = #{task_name}
        order by
          control.cfg_name,
          control.cfg_val1
    </select>

    <select id="com_bt_task_history_insertTaskHistory" parameterType="com.voyageone.task2.base.modelbean.TaskHistoryBean" resultType="int">
        insert into
          com_bt_task_history
          (
            task_id,
            process_time,
            process_type
          )
        value
          (
            #{task_id},
            #{process_time},
            #{process_type}
          )
    </select>
    <update id="tm_task_control_update" parameterType="com.voyageone.task2.base.modelbean.TaskControlBean" >
        update tm_task_control
        <set >
            <if test="end_time != null" >
                end_time = #{end_time},
            </if>
            <if test="task_comment != null" >
                comment = #{task_comment},
            </if>
        </set>
        <where>
            <if test="task_id != null" >
                task_id = #{task_id}
            </if>
            <if test="cfg_name != null" >
                cfg_name = #{cfg_name}
            </if>
            <if test="cfg_val1 != null" >
                and cfg_val1 = #{cfg_val1}
            </if>
            <if test="cfg_val2 != null" >
                and cfg_val2 = #{cfg_val2}
            </if>
        </where>
    </update>
    <select id="com_bt_task_history_getLastRunTime" parameterType="HashMap" resultType="String">
    	SELECT
			DATE_FORMAT(t.process_time,'%Y-%m-%d %H:%i:%s')
		FROM
			com_bt_task_history t
		WHERE
			t.task_id=#{taskId}
			and t.process_type=1
		ORDER BY t.process_time desc
		LIMIT 0 ,1
    </select>
	
</mapper>
