<div class="wrapper-md" ng-init="initialize()">
    <div class="vo_accordion vo_attr">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
					<h4 class="panel-title ng-binding"><i class="glyphicon glyphicon-cog"></i>&nbsp;Channel List</h4>
				</div>
                <div class="container-fluid m-l-md m-t-xs m-b-xs">
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" translate="TXT_CHANNEL_ID"></label>
                                    <div class="col-sm-7">
                                        <input class="form-control" ng-model="channelId">
                                    </div>
                                </div><!-- .form-group -->
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" translate="TXT_NAME"></label>
                                    <div class="col-sm-7">
                                        <input class="form-control" ng-model="channelName">
                                    </div>
                                </div><!-- .form-group -->
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" translate="TXT_ALLOW_USJOI"></label>
                                    <div class="col-sm-4">
                                        <select class="form-control" ng-model="allowMinimallOption">
                                            <option ng-repeat="option in mallOptions" value="{{option.id}}">
                                                {{option.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div><!-- .form-group -->
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" ng-model="active" ng-true-value="0" ng-false-value="1"> 已删除
                                    </label>
                                </div><!-- .form-group -->
                            </div>
                        </div>
                        <div class="col-sm-12 text-center m-b-sm">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <button class="btn btn-default" ng-click="clear()"><i class="fa fa-remove"></i>&nbsp;{{'BTN_CLEAR'
                                        | translate}}
                                    </button>
                                    <button class="btn btn-vo" ng-click="search()"><i class="fa fa-search"></i>&nbsp;{{'BTN_SEARCH'
                                        | translate}}
                                    </button>
                                    <span ng-controller="popupCtrl">
                                    <button class="btn btn-success"  ng-click="$parent.openChannelEdit(-1,null,openChannelEdit)"><i class="fa fa-plus"></i>&nbsp;新增</button>
                                    </span>
                                </div><!-- .form-group -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-body">
            <table class="table table-hover-new text-center">
                <thead>
                <tr>
                    <th class="text-center" style="width:8%" translate="TXT_CHANNEL_ID"></th>
                    <th class="text-left" style="width:10%" translate="TXT_NAME"></th>
                    <th class="text-left" style="width:30%" translate="TXT_FULL_NAME"></th>
                    <th class="text-center" style="width:25%" translate="TXT_ALLOW_USJOI"></th>
                    <th class="text-center" style="width:20%" translate="TXT_ACTION"></th>
                </tr>
                </thead>
                <tbody ng-if="tableSource.length" class="table-hover">
                <tr ng-repeat="el in tableSource">
                    <td class="text-center">{{el.order_channel_id}}</td>
                    <td class="text-left">{{el.name}}</td>
                    <td class="text-left">{{el.full_name}}</td>
                    <td class="text-center">
                        <div class="col-sm-5 col-sm-offset-3">
                            <div class="table_main">
                                <ul>
                                    <div class="col-sm-6">
                                        <input type="radio" name="radio_{{el.order_channel_id}}" value="1" ng-model="el.is_usjoi"
                                               ng-click="save(el)"><span class="ng-binding">Yes</span>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="radio" name="radio_{{el.order_channel_id}}" value="0" ng-model="el.is_usjoi"
                                               disabled><span>No</span>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td class="text-center" ng-controller="popupCtrl">
                        <button class="btn btn-success btn-xs ng-scope"
                                ng-click="$parent.openChannelEdit($index,el,openChannelEdit)"
                                ng-disabled="el.status==0 || el.active==0"><i
                                class="fa fa-pencil"></i></button>

                        <button class="btn btn-info btn-xs ng-scope"
                                ng-disabled="el.status==0 || el.active==0"
                                ng-click="$parent.openChannelSetting(el,openChannelSetting)"><i
                                class="fa fa-cog"></i></button>

                        <button class="btn btn-danger btn-xs ng-scope"
                                ng-click="$parent.delete($index,el)" ng-disabled="el.status==0 || el.active==0"><i
                                class="fa fa-trash" ></i></button>
                    </td>
                </tr>
                </tr>
                </tbody>
            </table>
            <vpagination config="page"></vpagination>
        </div><!-- /.box-body -->
    </div>
</div><!-- end .wrapper-md -->








