<div class="modal-content modal-blue">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-tasks"></i>Shipment New/End<i class="fa fa-close pull-right" ng-click="dismiss()"></i></h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-8 col-sm-offset-2">
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                    <input type="text" class="form-control" placeholder="Shipment Name">
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="fa fa-circle-o-notch"></i></span>
                    <input type="text" class="form-control" placeholder="Status">
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text" class="form-control" name="date" id="date" placeholder="Shipped Date">
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="fa fa-home"></i></span>
                    <select class="form-control">
                        <option value="">Select Express Company</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="fa fa-filter"></i></span>
                    <input type="text" class="form-control" placeholder="Tracking No">
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="fa fa-comments"></i></span>
                    <textarea class="form-control" placeholder="Comments"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn-vo btn-vo-default">Submit</button>
        <button type="button" class="btn-vo">Back</button>
    </div>
</div>