
<!--<div ng-init="initialize()">
    <div class="bg-light lter b-b wrapper-md vo_page_header clearfix">
        <div class="row">
            <div class="vo_page_title col-sm-7">
                <h1 class="m-n font-thin h3 text-vo">{{ vm.item.name || ('BTN_NEW_DICT' | translate) }}</h1></div>
        </div>
    </div>
    <div class="wrapper-md">
        <div collapse="vm.showCustom" class="panel">
            <div class="panel-body">
                <div class="form-inline">
                    <label for="dict-item-name"><span translate="TXT_PROMOTION_NAME"></span>:&nbsp;</label>
                    <input id="dict-item-name" type="text" class="form-control" ng-model="vm.value.value"/>

                    <label class="checkbox-inline c-checkbox">
                        <i translate="TXT_DICT_IS_URL"></i>&nbsp;
                        <input type="checkbox" ng-model="vm.value.isUrl">
                        <span class="fa fa-check"></span>
                    </label>
                </div>
                <br/>
                <div class="panel vo_panel tab_panel">
                    <div class="wrapper-sm">
                        <button class="btn btn-sm btn-success btn-addon" ng-click="vm.addValue()">
                            <i class="fa fa-plus"></i><span translate="BTN_NEW_DICT_VALUE"></span>
                        </button>
                        <button class="btn btn-sm btn-success btn-addon" ng-click="vm.addCustom()">
                            <i class="fa fa-plus"></i><span translate="BTN_NEW_DICT_CUS_VALUE"></span>
                        </button>
                    </div>
                    <table class="table table-striped b-t b-light vo_table vo_models">
                        <thead>
                        <tr>
                            <th class="vo_a_ce col-sm-1"></th>
                            <th class="col-sm-2" translate="TXT_TH_TYPE"></th>
                            <th class="col-sm-8" translate="TXT_TH_VALUE"></th>
                            <th class="col-sm-1" translate="TXT_ACTIONS"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="word in vm.wordList">
                            <td class="vo_a_ce">{{ $index + 1 }}</td>
                            <td>{{ word.type }}</td>
                            <td>{{ word.value }}</td>
                            <td>
                                <button class="btn btn-success btn-xs" ng-click="vm.editValue(word,true)">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button class="btn btn-danger btn-xs" ng-click="vm.delValue($index)">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                                <button class="btn btn-success btn-xs" ng-show="word.type == 'CUSTOM'" ng-click="vm.editValue(word)">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </button>
                                <br>
                                <button class="btn btn-danger btn-xs" ng-show="$index != 0" ng-click="vm.up($index)">
                                    <i class="glyphicon glyphicon-arrow-up"></i>
                                </button>
                                <button class="btn btn-danger btn-xs"   ng-show="$index != vm.wordList.length-1" ng-click="vm.down($index)">
                                    <i class="glyphicon glyphicon-arrow-down"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <button type="button" class="btn btn-vo btn-sm" ng-click="vm.save()" translate="CMS_BTN_SAVE"></button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="vm.cancel()" translate="CMS_BTN_CANCEL"></button>
                </div>
            </div>
        </div>
        <div collapse="!vm.showCustom" ng-include="'modules/cms/master/dict/dict.custom.tpl.html'"></div>
    </div>
</div>-->

<!--开始-->
<div class="wrapper-md" ng-init="initialize()">
    <form>
        <div class="col-sm-12">
            <!-- search -->
            <div class="panel panelPromotion">
                <div class="container-fluid m-t-sm">
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label vo_reqfield" translate="TXT_NAME"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="vm.dictionary.name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 checkbox-inline c-checkbox">
                                        <input type="checkbox" ng-model="vm.dictionary.isUploadTmall"><span class="fa fa-check"></span>&nbsp;{{'TXT_IS_UPLOAD_TO_TMALL' | translate}}
                                    </label>
                                </div>
                            </div><!-- .form-group -->
                        </div>
                        <div class="col-sm-5">
                            <div class="form-inline pull-right" ng-controller="popupCtrl">
                                <button class="btn btn-success" ng-click="openDictValue('md')"><i class="fa fa-plus"></i>&nbsp;{{'BTN_NEW_DICTIONARY_VALUE' | translate}}</button>
                                <button class="btn btn-success" ng-click="openDictCustom('md')"><i class="fa fa-plus"></i>&nbsp;{{'BTN_NEW_DICTIONARY_DEFINE' | translate}}</button>
                            </div><!-- .form-inline -->
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .accordion --><!--/search-->

        <div class="col-sm-12">
            <div class="box">
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-hover vo_table" style="margin-bottom:0px">
                            <tbody>
                            <tr class="font-bold" style="background:#e67e22;color:#fff">
                                <td class="mfb-xt3 text-center" translate="TXT_SEQ"></td>
                                <td class="mfb-xxt text-center" translate="TXT_TYPE"></td>
                                <td class="text-center" translate="TXT_VALUE"></td>
                                <td class="mfb-xt text-left" translate="TXT_ACTION"></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="col-sm-12 dropdown_table_main" if-no-rows="vm.dictionary.valueList.length">
                            <table class="table table-hover vo_table tableWordBreak" style="margin-bottom:0px">
                                <tbody>
                                <tr ng-repeat="valueInfo in vm.dictionary.valueList">
                                    <!--<button class="btn btn-success btn-xs" ng-click="vm.editValue(word,true)">-->
                                    <!--<i class="fa fa-pencil"></i>-->
                                    <!--</button>-->
                                    <!--<button class="btn btn-danger btn-xs" ng-click="vm.delValue($index)">-->
                                    <!--<i class="fa fa-trash-o"></i>-->
                                    <!--</button>-->
                                    <!--<button class="btn btn-success btn-xs" ng-show="word.type == 'CUSTOM'" ng-click="vm.editValue(word)">-->
                                    <!--<i class="glyphicon glyphicon-edit"></i>-->
                                    <!--</button>-->
                                    <!--<br>-->
                                    <!--<button class="btn btn-danger btn-xs" ng-show="$index != 0" ng-click="vm.up($index)">-->
                                    <!--<i class="glyphicon glyphicon-arrow-up"></i>-->
                                    <!--</button>-->
                                    <!--<button class="btn btn-danger btn-xs"   ng-show="$index != vm.wordList.length-1" ng-click="vm.down($index)">-->
                                    <!--<i class="glyphicon glyphicon-arrow-down"></i>-->
                                    <!--</button>-->

                                    <td class="mfb-xt3 text-center">{{$index+1}}</td>
                                    <td class="mfb-xxt text-center" ng-bind="valueInfo.type"></td>
                                    <td class="text-center" ng-bind="valueInfo.value"></td>
                                    <td class="mfb-xt text-center">
                                        <button ng-controller="popupCtrl" class="btn btn-success btn-xs" ng-click=""><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"  ng-click="delDictItem($index)"><i class="fa fa-trash-o"></i></button>
                                        <button class="btn btn-danger btn-xs" ng-show="$index != 0" ng-click="sortUp($index)">
                                            <i class="glyphicon glyphicon-arrow-up"></i>
                                        </button>
                                        <button class="btn btn-danger btn-xs" ng-show="$index != vm.dictionary.valueList.length-1" ng-click="sortDown($index)">
                                            <i class="glyphicon glyphicon-arrow-down"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div><!-- .table-responsive -->
                    </div>
                </div><!-- /.box-body -->
            </div>
        </div><!-- .col-lg-12 -->

        <div class="col-sm-12 text-center">
            <div class="form-inline">
                <button type="submit" class="btn btn-vo ng-scope" ng-click="save()" translate="BTN_SAVE"></button>
                <button type="submit" class="btn btn-default ng-scope" translate="BTN_CANCEL" ng-click="cancel()"></button>
            </div><!-- .form-inline -->
        </div>
    </form>
</div><!-- end .wrapper-md -->